USE [CDT]

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGia' and Fieldname='Gia') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGia','Gia')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGia' and Fieldname='GiaVon') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGia','GiaVon')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGia' and Fieldname='DonGiaGoc') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGia','DonGiaGoc')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGia' and Fieldname='DonGia') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGia','DonGia')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGia' and Fieldname='Gia_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGia','Gia_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGiaNT' and Fieldname='GiaNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGiaNT','GiaNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGiaNT' and Fieldname='DonGiaNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGiaNT','DonGiaNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'DonGiaNT' and Fieldname='DonGiaGocNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('DonGiaNT','DonGiaGocNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'HeSo' and Fieldname='HeSo') 
 insert into sysFormatString(_Key, Fieldname) Values ('HeSo','HeSo')

if not exists (select top 1 1 from sysFormatString where _Key = 'HeSo' and Fieldname='PCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('HeSo','PCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'HeSo' and Fieldname='TyleCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('HeSo','TyleCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='SoLuong') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','SoLuong')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='Soluong_x') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','Soluong_x')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='slTon') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','slTon')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='IISoLuong3') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','IISoLuong3')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='SoLuong_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','SoLuong_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'SoLuong' and Fieldname='IISoLuong5') 
 insert into sysFormatString(_Key, Fieldname) Values ('SoLuong','IISoLuong5')

if not exists (select top 1 1 from sysFormatString where _Key = 'ThueSuat' and Fieldname='ThueSuat') 
 insert into sysFormatString(_Key, Fieldname) Values ('ThueSuat','ThueSuat')

if not exists (select top 1 1 from sysFormatString where _Key = 'ThueSuat' and Fieldname='ThueSuatNk') 
 insert into sysFormatString(_Key, Fieldname) Values ('ThueSuat','ThueSuatNk')

if not exists (select top 1 1 from sysFormatString where _Key = 'ThueSuat' and Fieldname='ThueSuatTTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('ThueSuat','ThueSuatTTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ChenhLech1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ChenhLech1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ChenhLech2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ChenhLech2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ChenhLech3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ChenhLech3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ChenhLech4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ChenhLech4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='CK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','CK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='CLTG') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','CLTG')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ConLai') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ConLai')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='CP') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','CP')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='CPCt') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','CPCt')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='CtThueNk') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','CtThueNk')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DaKH1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DaKH1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DaKH2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DaKH2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DaKH3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DaKH3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DaKH4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DaKH4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DaTt') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DaTt')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DC1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DC1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DC2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DC2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DC3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DC3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DC4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DC4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DuCo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DuCo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DuDau') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DuDau')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='DuNo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','DuNo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Gia_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Gia_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GiaTriVV') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GiaTriVV')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GioiHan') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GioiHan')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GTCL1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GTCL1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GTCL2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GTCL2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GTCL3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GTCL3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GTCL4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GTCL4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='GTHHDV') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','GTHHDV')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='IIps7') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','IIps7')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='IIThueTTDB6') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','IIThueTTDB6')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='IITotal7') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','IITotal7')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ips10') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ips10')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ips7') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ips7')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ips9') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ips9')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ISoLuong6') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ISoLuong6')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='IThueTTDB8') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','IThueTTDB8')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ITotal10') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ITotal10')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ITotal7') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ITotal7')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ITotal9') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ITotal9')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KeKhai1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KeKhai1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KeKhai2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KeKhai2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KeKhai3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KeKhai3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KeKhai4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KeKhai4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KHThang1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KHThang1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KHThang2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KHThang2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KHThang3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KHThang3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='KHThang4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','KHThang4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Luong') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Luong')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='NguyenGia4') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','NguyenGia4')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PhaiTT') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PhaiTT')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PhatNopCham') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PhatNopCham')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ps') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ps')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PS_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PS_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ps1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ps1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PS1_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PS1_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ps2') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ps2')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PS2_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PS2_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ps3') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ps3')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PsCL') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PsCL')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PsCo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PsCo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='PsNo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','PsNo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Thue') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Thue')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueBR') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueBR')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueGTGT') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueGTGT')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueGTGT') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueGTGT')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueMV') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueMV')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueNK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueNK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ThueSuatTTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ThueSuatTTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Tien') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Tien')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienChi') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienChi')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienCl') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienCl')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienHang') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienHang')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienNK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienNK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienThu') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienThu')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienTTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienTTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TienVon') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TienVon')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TongCLTG') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TongCLTG')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TongDC') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TongDC')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TongTienChi') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TongTienChi')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TongTienThu') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TongTienThu')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TongTt') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TongTt')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TonMax') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TonMax')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TonMin') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TonMin')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TotalCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TotalCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TotalGNK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TotalGNK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TotalPs') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TotalPs')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ToTalThue') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ToTalThue')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ToTalTienTTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ToTalTienTTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='ToTalTTien') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','ToTalTTien')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TPsCo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TPsCo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TPsCP') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TPsCP')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TPsNo') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TPsNo')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TT') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TT')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Tthue') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Tthue')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TThueBKBR') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TThueBKBR')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TThueBKMV') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TThueBKMV')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TThueKyTruoc') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TThueKyTruoc')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ttien') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ttien')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Ttien1') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Ttien1')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TTienCT') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TTienCT')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TtienH') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TtienH')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TTienHang') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TTienHang')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TTThue') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TTThue')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='TyleCK') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','TyleCK')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname='Vondautu') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien','Vondautu')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='DuNoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','DuNoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='DuCoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','DuCoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='DuDauNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','DuDauNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TtienNt') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TtienNt')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TtienHNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TtienHNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TthueNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TthueNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='CPNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','CPNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TCKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TCKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TPsNoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TPsNoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TPsCoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TPsCoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PsNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PsNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='CPCtNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','CPCtNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='CKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','CKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PsNoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PsNoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PsCoNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PsCoNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TPsNTCP') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TPsNTCP')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ThueNKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ThueNKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='CtThueNkNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','CtThueNkNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TongTtNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TongTtNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ConLaiNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ConLaiNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PhaiTTNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PhaiTTNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TTNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TTNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='DaTTNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','DaTTNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TienThuNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TienThuNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TienChiNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TienChiNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TongTienThuNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TongTienThuNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TongTienChiNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TongTienChiNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ThueNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ThueNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TienCKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TienCKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TienNKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TienNKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TotalCKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TotalCKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TotalGNKNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TotalGNKNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ToTalTTienNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ToTalTTienNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ToTalThueNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ToTalThueNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ThueMVNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ThueMVNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ThueBRNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ThueBRNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TThueKyTruocNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TThueKyTruocNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TThueBKMVNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TThueBKMVNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TThueBKBRNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TThueBKBRNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TotalPsNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TotalPsNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='GiaNT_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','GiaNT_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PSNT_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PSNT_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='TienTTDBNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','TienTTDBNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PS1NT_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PS1NT_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='Ps1NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','Ps1NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ITotal7NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ITotal7NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ITotal9NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ITotal9NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ITotal10NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ITotal10NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='IITotal7NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','IITotal7NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='Ips7NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','Ips7NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='IThueTTDB8NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','IThueTTDB8NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='Ips9NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','Ips9NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='Ips10NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','Ips10NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='IIThueTTDB6NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','IIThueTTDB6NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='IIps7NT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','IIps7NT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='PS2NT_TTDB') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','PS2NT_TTDB')

if not exists (select top 1 1 from sysFormatString where _Key = 'TienNT' and Fieldname='ToTalTienTTDBNT') 
 insert into sysFormatString(_Key, Fieldname) Values ('TienNT','ToTalTienTTDBNT')

if not exists (select top 1 1 from sysFormatString where _Key = 'TyGia' and Fieldname='TyGia') 
 insert into sysFormatString(_Key, Fieldname) Values ('TyGia','TyGia')

if not exists (select top 1 1 from sysFormatString where _Key = 'TyGia' and Fieldname='TyGia1') 
 insert into sysFormatString(_Key, Fieldname) Values ('TyGia','TyGia1')

if not exists (select top 1 1 from sysFormatString where _Key = 'TyGia' and Fieldname='TyGiaHD') 
 insert into sysFormatString(_Key, Fieldname) Values ('TyGia','TyGiaHD')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Số phải thu') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Số phải thu')
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Số tiền') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Số tiền')
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Dư nợ') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Dư nợ')
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Dư có') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Dư có')
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Tổng cộng') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Tổng cộng')

if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Số phải trả') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Số phải trả') 
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Chi phí') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Chi phí')
 
if not exists (select top 1 1 from sysFormatString where _Key = 'Tien' and Fieldname=N'Doanh thu') 
 insert into sysFormatString(_Key, Fieldname) Values ('Tien',N'Doanh thu')

-- Dictionary
if not exists (select top 1 1 from Dictionary where Content = N'Định dạng số đã được thay đổi. Bạn có muốn khởi động lại để cập nhật thông tin?')
	insert into Dictionary(Content, Content2) Values (N'Định dạng số đã được thay đổi. Bạn có muốn khởi động lại để cập nhật thông tin?',N'Number format has been changed. Do you want to restart the application to update those informations?')
