@*
####################################################################
# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
#
# History:
#     Date Time       Created           Comment
#     28/10/2017      Văn Tài            Tạo mới
####################################################################
*@
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper

@model List<ASOFT.ERP.HRM.Entities.HRMT1011Checker>

@foreach (var item in Model)
{
    <tr class="@("trCheck" + item.Index)">
        <td>
            @Html.CheckBox(item.DetailTypeID, new {id = "chk" + item.DetailTypeID + "_" + item.Index + "_" + item.TableName, @IsPartial = true}).CheckedIf(item.Checked == 1)
        </td>
        <td>
             @Html.Label(item.Description)
        </td>
    </tr>
}

<script>
    $(document).ready(function () {
        var input = $("input[ispartial='True']");
        $(input)
            .each(function () {
                $(this).attr("name", this.id);
            });
    })
</script>