USE [master]
GO
/****** Object:  Database [QuanTriNhanLuc]    Script Date: 8/28/2015 5:13:20 PM ******/
CREATE DATABASE [QuanTriNhanLuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanTriNhanLuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\QuanTriNhanLuc.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanTriNhanLuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\QuanTriNhanLuc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanTriNhanLuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanTriNhanLuc]
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 8/28/2015 5:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoiVien](
	[APK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[DivisionID] [varchar](50) NOT NULL,
	[MemberID] [varchar](50) NOT NULL,
	[MemberName] [nvarchar](250) NULL,
	[ShortName] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Identify] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Tel] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Birthday] [smalldatetime] NULL,
	[Website] [nvarchar](250) NULL,
	[Mailbox] [nvarchar](250) NULL,
	[AreaName] [nvarchar](250) NULL,
	[CityName] [nvarchar](250) NULL,
	[CountryName] [nvarchar](250) NULL,
	[WardName] [nvarchar](250) NULL,
	[CountyName] [nvarchar](250) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserID] [varchar](50) NULL,
	[LastModifyDate] [datetime] NULL,
	[LastModifyUserID] [varchar](50) NULL,
	[Disable] [tinyint] NOT NULL,
 CONSTRAINT [PK_HoiVien] PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC,
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuDaCap]    Script Date: 8/28/2015 5:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuDaCap](
	[MaMenu] [int] NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MaParent] [int] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MaMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HoiVien] ([APK], [DivisionID], [MemberID], [MemberName], [ShortName], [Address], [Identify], [Phone], [Tel], [Fax], [Email], [Birthday], [Website], [Mailbox], [AreaName], [CityName], [CountryName], [WardName], [CountyName], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID], [Disable]) VALUES (N'0641a957-a684-411f-a1a0-a5164d0ddbd2', N'a', N'a', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[HoiVien] ([APK], [DivisionID], [MemberID], [MemberName], [ShortName], [Address], [Identify], [Phone], [Tel], [Fax], [Email], [Birthday], [Website], [Mailbox], [AreaName], [CityName], [CountryName], [WardName], [CountyName], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID], [Disable]) VALUES (N'47ccce3d-7228-4d27-8763-74b27c6a356e', N'a', N'm', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[HoiVien] ([APK], [DivisionID], [MemberID], [MemberName], [ShortName], [Address], [Identify], [Phone], [Tel], [Fax], [Email], [Birthday], [Website], [Mailbox], [AreaName], [CityName], [CountryName], [WardName], [CountyName], [CreateDate], [CreateUserID], [LastModifyDate], [LastModifyUserID], [Disable]) VALUES (N'007b4f11-46db-4798-b05d-4d937a77dbf1', N'a', N'z', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[MenuDaCap] ([MaMenu], [Ten], [MaParent]) VALUES (1, N'Thông tin điều hành', NULL)
INSERT [dbo].[MenuDaCap] ([MaMenu], [Ten], [MaParent]) VALUES (2, N'POS', NULL)
INSERT [dbo].[MenuDaCap] ([MaMenu], [Ten], [MaParent]) VALUES (3, N'CRM', NULL)
ALTER TABLE [dbo].[HoiVien] ADD  CONSTRAINT [DF_HoiVien_APK]  DEFAULT (newid()) FOR [APK]
GO
USE [master]
GO
