@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

@*Dành cho màn hình xin phép 
CreateDate*@
<div class="asf-filter-main" id="FromToDate">
    <div class="block-left"> 
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterFromCreateDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new {@id = "FromCreateDate", @name = "FromCreateDate" })
                    .Enable(true).Value(ASOFTEnvironment.BeginDate)
                    )
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterToCreateDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker,htmlAttributes: new {@id = "ToCreateDate", @name = "ToCreateDate"})
                    .Enable(true).Value(ASOFTEnvironment.EndDate)
                    )
        </div>
    </div>
</div>

