@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

@*
    Dành cho màn hình xin phép
    WorkFromDate
    WorkToDate

    OOF2030
*@
<div class="asf-filter-main" id="FromToDate">
    <div class="block-left"> 
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterWorkFromDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new {@id = "WorkFromDate", @name = "WorkFromDate" })
                    .Enable(true).Value(string.Empty)
                    )
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterWorkToDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker,htmlAttributes: new {@id = "WorkToDate", @name = "WorkToDate"})
                    .Enable(true).Value(string.Empty)
                    )
        </div>
    </div>
</div>
