@(Html.Kendo().Window()
    .Name("window")
    .Title("Danh mục hội viên")
    .Content(@<text>
        @Html.Partial("CreateHoiVien")
    </text>)
    .Draggable()
    .Resizable()
    .Width(700)
)

<button id="undo">Click here to open the window.</button>

<script>
    function onClose() {
        $("#window").data("kendoWindow").close();
    }

    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").open();
            $("#window").data("kendoWindow").focus;
        });
    });
</script>
