-- Dictionary
Update DMTK set TenTK2 = N'Operating lease assets' where TK='001'
Update DMTK set TenTK2 = N'Goods held under trust or for processing' where TK='002'
Update DMTK set TenTK2 = N'Goods received on consignment for sale, deposit' where TK='003'
Update DMTK set TenTK2 = N'Bad debt written off' where TK='004'
Update DMTK set TenTK2 = N'Foreign currencies' where TK='007'
Update DMTK set TenTK2 = N'Enterprise, projec expenditure estimate' where TK='008'
Update DMTK set TenTK2 = N'Cash' where TK='111'
Update DMTK set TenTK2 = N'Cash on hand VN' where TK='1111'
Update DMTK set TenTK2 = N'Cash on hand ( USD )' where TK='1112'
Update DMTK set TenTK2 = N'Gold, silver, gemstones' where TK='1113'
Update DMTK set TenTK2 = N'Cash in bank' where TK='112'
Update DMTK set TenTK2 = N'Cash in bank (VND)' where TK='1121'
Update DMTK set TenTK2 = N'Cash in bank (USD)' where TK='1122'
Update DMTK set TenTK2 = N'Gold, silver, gemstones' where TK='1123'
Update DMTK set TenTK2 = N'Cash in transit' where TK='113'
Update DMTK set TenTK2 = N'Cash in transit VND' where TK='1131'
Update DMTK set TenTK2 = N'Cash in transit USD' where TK='1132'
Update DMTK set TenTK2 = N'Short term investments' where TK='121'
Update DMTK set TenTK2 = N'Equity securities' where TK='1211'
Update DMTK set TenTK2 = N'Debt securities' where TK='1212'
Update DMTK set TenTK2 = N'Other short - term investment' where TK='128'
Update DMTK set TenTK2 = N'Term deposits' where TK='1281'
Update DMTK set TenTK2 = N'Other short - term investment' where TK='1288'
Update DMTK set TenTK2 = N'Accounts receivable - trade' where TK='131'
Update DMTK set TenTK2 = N'VAT deducted' where TK='133'
Update DMTK set TenTK2 = N'VAT deduction of goods, services' where TK='1331'
Update DMTK set TenTK2 = N'VAT deduction of fixed assets' where TK='1332'
Update DMTK set TenTK2 = N'Intercompany receivable' where TK='136'
Update DMTK set TenTK2 = N'Investment in equity of subsidiaries' where TK='1361'
Update DMTK set TenTK2 = N'Other receivable from subsidiaries' where TK='1368'
Update DMTK set TenTK2 = N'Other receivable' where TK='138'
Update DMTK set TenTK2 = N'Shortage of assets awaiting resolution' where TK='1381'
Update DMTK set TenTK2 = N'Equitisation receivable' where TK='1385'
Update DMTK set TenTK2 = N'Other receivable' where TK='1388'
Update DMTK set TenTK2 = N'Provision for bad debts' where TK='139'
Update DMTK set TenTK2 = N'Advances' where TK='141'
Update DMTK set TenTK2 = N'Prepaid expenses' where TK='142'
Update DMTK set TenTK2 = N'Short term deposits, mortgages and collateral' where TK='144'
Update DMTK set TenTK2 = N'Goods in transit' where TK='151'
Update DMTK set TenTK2 = N'Raw materials' where TK='152'
Update DMTK set TenTK2 = N'Tools and supplies' where TK='153'
Update DMTK set TenTK2 = N'Tools and supplies' where TK='1531'
Update DMTK set TenTK2 = N'Work in progress' where TK='154'
Update DMTK set TenTK2 = N'Finished goods' where TK='155'
Update DMTK set TenTK2 = N'Merchandise inventory' where TK='156'
Update DMTK set TenTK2 = N'Cost of purchases' where TK='1561'
Update DMTK set TenTK2 = N'Purchasing expense' where TK='1562'
Update DMTK set TenTK2 = N'Real Estate' where TK='1567'
Update DMTK set TenTK2 = N'Goods on consignment' where TK='157'
Update DMTK set TenTK2 = N'Cargo warehouses ' where TK='158'
Update DMTK set TenTK2 = N'Provision for decline in inventory' where TK='159'
Update DMTK set TenTK2 = N'Expenditures from subsidies of state budget' where TK='161'
Update DMTK set TenTK2 = N'Last year' where TK='1611'
Update DMTK set TenTK2 = N'This year' where TK='1612'
Update DMTK set TenTK2 = N'Tangible fixed assets' where TK='211'
Update DMTK set TenTK2 = N'Building & architectonic model' where TK='2111'
Update DMTK set TenTK2 = N'Equipment & machines' where TK='2112'
Update DMTK set TenTK2 = N'Transportation & transmit instrument' where TK='2113'
Update DMTK set TenTK2 = N'Instruments & tools for management (Office equipment)' where TK='2114'
Update DMTK set TenTK2 = N'Long term trees, working & killed animals' where TK='2115'
Update DMTK set TenTK2 = N'Other tangible fixed assets' where TK='2118'
Update DMTK set TenTK2 = N'Fixed assets of finance leasing' where TK='212'
Update DMTK set TenTK2 = N'Intangible fixed assets' where TK='213'
Update DMTK set TenTK2 = N'Land using right' where TK='2131'
Update DMTK set TenTK2 = N'Establishment & productive right' where TK='2132'
Update DMTK set TenTK2 = N'Patents & creations' where TK='2133'
Update DMTK set TenTK2 = N'Trademark' where TK='2134'
Update DMTK set TenTK2 = N'Software' where TK='2135'
Update DMTK set TenTK2 = N'License & concession license' where TK='2136'
Update DMTK set TenTK2 = N'Other intangible fixed assets' where TK='2138'
Update DMTK set TenTK2 = N'Depreciation of fixed assets' where TK='214'
Update DMTK set TenTK2 = N'Tangible fixed assets depreciation' where TK='2141'
Update DMTK set TenTK2 = N'Financial leasing fixed assets depreciation' where TK='2142'
Update DMTK set TenTK2 = N'Intangible fixed assets depreciation' where TK='2143'
Update DMTK set TenTK2 = N'Investment real estate depreciation' where TK='2147'
Update DMTK set TenTK2 = N'Investment real estate' where TK='217'
Update DMTK set TenTK2 = N'Investment in equity of subsidiaries' where TK='221'
Update DMTK set TenTK2 = N'Joint venture capital contribution' where TK='222'
Update DMTK set TenTK2 = N'Investment in joint-venture' where TK='223'
Update DMTK set TenTK2 = N'Other long term investments' where TK='228'
Update DMTK set TenTK2 = N'Stocks' where TK='2281'
Update DMTK set TenTK2 = N'Bonds' where TK='2282'
Update DMTK set TenTK2 = N'Other long-term investment' where TK='2288'
Update DMTK set TenTK2 = N'Provision for long term investment devaluation' where TK='229'
Update DMTK set TenTK2 = N'Capital construction in process' where TK='241'
Update DMTK set TenTK2 = N'Fixed assets purchases' where TK='2411'
Update DMTK set TenTK2 = N'Capital construction' where TK='2412'
Update DMTK set TenTK2 = N'Major repair of fixed assets' where TK='2413'
Update DMTK set TenTK2 = N'Long-term prepaid expenses' where TK='242'
Update DMTK set TenTK2 = N'Deffered income tax assets' where TK='243'
Update DMTK set TenTK2 = N'Long term collateral & deposit' where TK='244'
Update DMTK set TenTK2 = N'Short-term loan' where TK='311'
Update DMTK set TenTK2 = N'Long term loans due to date' where TK='315'
Update DMTK set TenTK2 = N'Payable to seller' where TK='331'
Update DMTK set TenTK2 = N'Taxes and payable to state budget' where TK='333'
Update DMTK set TenTK2 = N'Value Added Tax (VAT)' where TK='3331'
Update DMTK set TenTK2 = N'VAT output' where TK='33311'
Update DMTK set TenTK2 = N'VAT for imported goods' where TK='33312'
Update DMTK set TenTK2 = N'Special consumption tax' where TK='3332'
Update DMTK set TenTK2 = N'Import & export duties' where TK='3333'
Update DMTK set TenTK2 = N'Profit tax' where TK='3334'
Update DMTK set TenTK2 = N'Personal income tax' where TK='3335'
Update DMTK set TenTK2 = N'Natural resource tax' where TK='3336'
Update DMTK set TenTK2 = N'Land & housing tax, land rental charges' where TK='3337'
Update DMTK set TenTK2 = N'Other taxes' where TK='3338'
Update DMTK set TenTK2 = N'Fee & charge & other payables' where TK='3339'
Update DMTK set TenTK2 = N'Payable to employees' where TK='334'
Update DMTK set TenTK2 = N'Payable to employees' where TK='3341'
Update DMTK set TenTK2 = N'Payable to other employees' where TK='3348'
Update DMTK set TenTK2 = N'Accruals' where TK='335'
Update DMTK set TenTK2 = N'Intercompany payable' where TK='336'
Update DMTK set TenTK2 = N'Construction contract progress payment due to customers' where TK='337'
Update DMTK set TenTK2 = N'Other payable' where TK='338'
Update DMTK set TenTK2 = N'Surplus assets awaiting for resolution' where TK='3381'
Update DMTK set TenTK2 = N'Trade Union fees' where TK='3382'
Update DMTK set TenTK2 = N'Social insurance' where TK='3383'
Update DMTK set TenTK2 = N'Health insurance' where TK='3384'
Update DMTK set TenTK2 = N'Privatization payable' where TK='3385'
Update DMTK set TenTK2 = N'Short-term deposits received' where TK='3386'
Update DMTK set TenTK2 = N'Unrealized turnover' where TK='3387'
Update DMTK set TenTK2 = N'Other payable' where TK='3388'
Update DMTK set TenTK2 = N'Long-term borrowing' where TK='341'
Update DMTK set TenTK2 = N'Long-term borrowing' where TK='3411'
Update DMTK set TenTK2 = N'Long-term liabilites' where TK='342'
Update DMTK set TenTK2 = N'Issued bond' where TK='343'
Update DMTK set TenTK2 = N'Bond face value' where TK='3431'
Update DMTK set TenTK2 = N'Bond discount' where TK='3432'
Update DMTK set TenTK2 = N'Additional bond' where TK='3433'
Update DMTK set TenTK2 = N'Long-term deposits received' where TK='344'
Update DMTK set TenTK2 = N'Deferred income tax' where TK='347'
Update DMTK set TenTK2 = N'Provisions fund for severance allowances' where TK='351'
Update DMTK set TenTK2 = N'Provisions for payables' where TK='352'
Update DMTK set TenTK2 = N'Working capital' where TK='411'
Update DMTK set TenTK2 = N'Paid-in capital' where TK='4111'
Update DMTK set TenTK2 = N'Share premium' where TK='4112'
Update DMTK set TenTK2 = N'Other capital' where TK='4118'
Update DMTK set TenTK2 = N'Differences upon asset revaluation' where TK='412'
Update DMTK set TenTK2 = N'Foreign exchange differences' where TK='413'
Update DMTK set TenTK2 = N'Foreign exchange differences revaluation at the end fiscal year' where TK='4131'
Update DMTK set TenTK2 = N'Foreign exchange differences in period capital construction investment' where TK='4132'
Update DMTK set TenTK2 = N'Investment & development funds' where TK='414'
Update DMTK set TenTK2 = N'Financial reserve funds' where TK='415'
Update DMTK set TenTK2 = N'Other funds' where TK='418'
Update DMTK set TenTK2 = N'Stock funds' where TK='419'
Update DMTK set TenTK2 = N'Undistributed earnings' where TK='421'
Update DMTK set TenTK2 = N'Previous year undistributed earnings' where TK='4211'
Update DMTK set TenTK2 = N'This year undistributed earnings' where TK='4212'
Update DMTK set TenTK2 = N'Bonus & welfare funds' where TK='431'
Update DMTK set TenTK2 = N'Bonus fund' where TK='4311'
Update DMTK set TenTK2 = N'Welfare fund' where TK='4312'
Update DMTK set TenTK2 = N'Welfare fund used to acquire fixed assets' where TK='4313'
Update DMTK set TenTK2 = N'Construction investment fund' where TK='441'
Update DMTK set TenTK2 = N'Budget resources' where TK='461'
Update DMTK set TenTK2 = N'Precious year budget resources' where TK='4611'
Update DMTK set TenTK2 = N'This year budget resources' where TK='4612'
Update DMTK set TenTK2 = N'Budget resources used to acquire fixed assets' where TK='466'
Update DMTK set TenTK2 = N'Sales' where TK='511'
Update DMTK set TenTK2 = N'Goods sale' where TK='5111'
Update DMTK set TenTK2 = N'Finished product sale' where TK='5112'
Update DMTK set TenTK2 = N'Services sale' where TK='5113'
Update DMTK set TenTK2 = N'Subsidization sale' where TK='5114'
Update DMTK set TenTK2 = N'Revenue and construction works ' where TK='5115'
Update DMTK set TenTK2 = N'Investment real estate sale' where TK='5117'
Update DMTK set TenTK2 = N'Internal gross sales' where TK='512'
Update DMTK set TenTK2 = N'Goods sale' where TK='5121'
Update DMTK set TenTK2 = N'Finished product sale' where TK='5122'
Update DMTK set TenTK2 = N'Services sale' where TK='5123'
Update DMTK set TenTK2 = N'Financial activities income' where TK='515'
Update DMTK set TenTK2 = N'Sale discount' where TK='521'
Update DMTK set TenTK2 = N'Sale returns' where TK='531'
Update DMTK set TenTK2 = N'Devaluation of sale price' where TK='532'
Update DMTK set TenTK2 = N'Purchase' where TK='611'
Update DMTK set TenTK2 = N'Raw material purchases' where TK='6111'
Update DMTK set TenTK2 = N'Goods purchases' where TK='6112'
Update DMTK set TenTK2 = N'Direct raw materials cost' where TK='621'
Update DMTK set TenTK2 = N'Cost of materials ' where TK='6211'
Update DMTK set TenTK2 = N'Cost semi-finished products ' where TK='6212'
Update DMTK set TenTK2 = N'Costs for construction materials  ' where TK='6213'
Update DMTK set TenTK2 = N'Direct labor cost' where TK='622'
Update DMTK set TenTK2 = N'Executing machine using cost' where TK='623'
Update DMTK set TenTK2 = N'Labor cost' where TK='6231'
Update DMTK set TenTK2 = N'Material cost' where TK='6232'
Update DMTK set TenTK2 = N'Production tool cost' where TK='6233'
Update DMTK set TenTK2 = N'Executing machine depreciation' where TK='6234'
Update DMTK set TenTK2 = N'Outside purchasing services cost' where TK='6237'
Update DMTK set TenTK2 = N'Other cost' where TK='6238'
Update DMTK set TenTK2 = N'General operation cost' where TK='627'
Update DMTK set TenTK2 = N'Employees cost' where TK='6271'
Update DMTK set TenTK2 = N'Material cost' where TK='6272'
Update DMTK set TenTK2 = N'Production tool cost' where TK='6273'
Update DMTK set TenTK2 = N'Fixed asset depreciation' where TK='6274'
Update DMTK set TenTK2 = N'Outside purchasing services cost' where TK='6277'
Update DMTK set TenTK2 = N'Other cost' where TK='6278'
Update DMTK set TenTK2 = N'Production cost' where TK='631'
Update DMTK set TenTK2 = N'Cost of goods sold' where TK='632'
Update DMTK set TenTK2 = N'Financial activities expenses' where TK='635'
Update DMTK set TenTK2 = N'Selling expenses' where TK='641'
Update DMTK set TenTK2 = N'Employees cost' where TK='6411'
Update DMTK set TenTK2 = N'Material, packing cost' where TK='6412'
Update DMTK set TenTK2 = N'Tool cost' where TK='6413'
Update DMTK set TenTK2 = N'Fixed asset depreciation' where TK='6414'
Update DMTK set TenTK2 = N'Warranty cost' where TK='6415'
Update DMTK set TenTK2 = N'Outside purchasing services cost' where TK='6417'
Update DMTK set TenTK2 = N'Other cost' where TK='6418'
Update DMTK set TenTK2 = N'General & administration expenses' where TK='642'
Update DMTK set TenTK2 = N'Employees cost' where TK='6421'
Update DMTK set TenTK2 = N'Tools cost' where TK='6422'
Update DMTK set TenTK2 = N'Stationery cost' where TK='6423'
Update DMTK set TenTK2 = N'Fixed asset depreciation' where TK='6424'
Update DMTK set TenTK2 = N'Taxes, fees, charges' where TK='6425'
Update DMTK set TenTK2 = N'Provision cost' where TK='6426'
Update DMTK set TenTK2 = N'Outside purchasing services cost' where TK='6427'
Update DMTK set TenTK2 = N'Other cost' where TK='6428'
Update DMTK set TenTK2 = N'Other income' where TK='711'
Update DMTK set TenTK2 = N'Other expenses' where TK='811'
Update DMTK set TenTK2 = N'Business Income tax charge' where TK='821'
Update DMTK set TenTK2 = N'Current business income tax charge' where TK='8211'
Update DMTK set TenTK2 = N'Deffered business income tax charge' where TK='8212'
Update DMTK set TenTK2 = N'Evaluation of business results' where TK='911'


Update sysFormReport set ChiTieu2 = N'A. CURRENT ASSETS ' where ChiTieu=N'A - TÀI SẢN NGẮN HẠN'
Update sysFormReport set ChiTieu2 = N'I. Cash and cash equivalent' where ChiTieu=N'I. Tiền và các khoản tương đương tiền'
Update sysFormReport set ChiTieu2 = N'1. Cash' where ChiTieu=N' 1. Tiền'
Update sysFormReport set ChiTieu2 = N'2. Cash equivalent' where ChiTieu=N' 2. Các khoản tương đương tiền'
Update sysFormReport set ChiTieu2 = N'II. Short-term investments' where ChiTieu=N'II. Các khoản đầu tư tài chính ngắn hạn'
Update sysFormReport set ChiTieu2 = N'1. Short-term investments' where ChiTieu=N' 1. Đầu tư ngắn hạn'
Update sysFormReport set ChiTieu2 = N'2. Provision for impairment of short-term investments (*)(2)' where ChiTieu=N' 2. Dự phòng giảm giá đầu tư ngắn hạn(*)(2)'
Update sysFormReport set ChiTieu2 = N'III. Short - term receivables' where ChiTieu=N'III. Các khoản phải thu  ngắn hạn'
Update sysFormReport set ChiTieu2 = N'1. Trade receivables' where ChiTieu=N' 1. Phải thu khách hàng'
Update sysFormReport set ChiTieu2 = N'2. Advance to suppliers' where ChiTieu=N' 2. Trả trước cho người bán'
Update sysFormReport set ChiTieu2 = N'3. Intercompany receivables' where ChiTieu=N' 3. Phải thu nội bộ ngắn hạn'
Update sysFormReport set ChiTieu2 = N'4. Construction contract progress receivables' where ChiTieu=N' 4. Phải thu theo tiến độ kế hoạch hợp đồng xây dựng'
Update sysFormReport set ChiTieu2 = N'5. Other receivables' where ChiTieu=N' 5. Các khoản phải thu khác'
Update sysFormReport set ChiTieu2 = N'6. Provision for doubtful debts (*)' where ChiTieu=N' 6. Dự phòng phải thu ngắn hạn khó đòi (*)'
Update sysFormReport set ChiTieu2 = N'IV. Inventories' where ChiTieu=N'IV. Hàng tồn kho'
Update sysFormReport set ChiTieu2 = N'1. Inventories' where ChiTieu=N' 1. Hàng tồn kho'
Update sysFormReport set ChiTieu2 = N'2. Provision for decline in inventory (*)' where ChiTieu=N' 2. Dự phòng giảm giá hàng tồn kho (*)'
Update sysFormReport set ChiTieu2 = N'V. Current assets' where ChiTieu=N'V. Tài sản  ngắn hạn khác'
Update sysFormReport set ChiTieu2 = N'1. Short-term prepaid expenses' where ChiTieu=N' 1. Chi phí trả trước ngắn hạn'
Update sysFormReport set ChiTieu2 = N'2. VAT deducted' where ChiTieu=N' 2. Thuế GTGT được khấu trừ'
Update sysFormReport set ChiTieu2 = N'3. Taxes and payable to state budget' where ChiTieu=N' 3. Thuế và các khoản phải thu nhà nước'
Update sysFormReport set ChiTieu2 = N'5. Current assets' where ChiTieu=N' 5. Tài sản ngắn hạn khác'
Update sysFormReport set ChiTieu2 = N'B. FIXED ASSETS & LONG-TERM INVESTMENTS (200 = 210 + 220 + 240 + 250 + 260)' where ChiTieu=N'B - TÀI SẢN DÀI HẠN (200=210+220+240+250+260)'
Update sysFormReport set ChiTieu2 = N'I. Long - term receivables' where ChiTieu=N'I. Các khoản phải thu dài hạn'
Update sysFormReport set ChiTieu2 = N'1. Long - term receivable - trade' where ChiTieu=N' 1. Phải thu dài hạn của khách hàng'
Update sysFormReport set ChiTieu2 = N'2. Investment in equity of subsidiaries' where ChiTieu=N' 2. Vốn kinh doanh ở đơn vị trực thuộc'
Update sysFormReport set ChiTieu2 = N'3. Long-term intercompany receivables' where ChiTieu=N' 3. Phải thu dài hạn nội bộ'
Update sysFormReport set ChiTieu2 = N'4. Other long-term receivables' where ChiTieu=N' 4. Phải thu dài hạn khác'
Update sysFormReport set ChiTieu2 = N'5. Provision for doubtful debts (*)' where ChiTieu=N' 5. Dự phòng phải thu dài hạn khó đòi (*)'
Update sysFormReport set ChiTieu2 = N'II. Fixed assets' where ChiTieu=N'II. Tài sản cố định'
Update sysFormReport set ChiTieu2 = N'1. Tangible fixed assets' where ChiTieu=N' 1. Tài sản cố định hữu hình'
Update sysFormReport set ChiTieu2 = N'- Original cost' where ChiTieu=N'   - Nguyên giá'
Update sysFormReport set ChiTieu2 = N'- Accumulated depreciation (*)' where ChiTieu=N'   - Giá trị hao mòn lũy kế (*)'
Update sysFormReport set ChiTieu2 = N'2. Financial leasing fixed assets' where ChiTieu=N' 2. Tài sản cố định thuê tài chính'
Update sysFormReport set ChiTieu2 = N'- Original cost' where ChiTieu=N'   - Nguyên giá'
Update sysFormReport set ChiTieu2 = N'- Accumulated depreciation (*)' where ChiTieu=N'   - Giá trị hao mòn lũy kế (*)'
Update sysFormReport set ChiTieu2 = N'3. Intangible fixed assets' where ChiTieu=N' 3. Tài sản cố định vô hình'
Update sysFormReport set ChiTieu2 = N'- Original cost' where ChiTieu=N'   - Nguyên  giá'
Update sysFormReport set ChiTieu2 = N'- Accumulated depreciation (*)' where ChiTieu=N'   - Giá trị hao mòn lũy kế (*)'
Update sysFormReport set ChiTieu2 = N'4. Costs of unfinished capital constructions' where ChiTieu=N' 4. Chi phí xây dựng cơ bản dỡ dang'
Update sysFormReport set ChiTieu2 = N'III. Investment real estate' where ChiTieu=N'III. Bất động sản đầu tư'
Update sysFormReport set ChiTieu2 = N'- Original cost' where ChiTieu=N'  - Nguyên giá'
Update sysFormReport set ChiTieu2 = N'- Accumulated depreciation (*)' where ChiTieu=N'  - Giá trị hao mòn lũy kế (*)'
Update sysFormReport set ChiTieu2 = N'IV. Long- term financial Investments' where ChiTieu=N'IV. Các khoản đầu tư tài chính dài hạn'
Update sysFormReport set ChiTieu2 = N'1. Investment in equity of subsidiaries' where ChiTieu=N' 1. Đầu tư vào công ty con'
Update sysFormReport set ChiTieu2 = N'2. Investment in joint-venture' where ChiTieu=N' 2. Đầu tư vào công ty liên kết, liên doanh'
Update sysFormReport set ChiTieu2 = N'3. Other long term investments' where ChiTieu=N' 3. Đầu tư dài hạn khác'
Update sysFormReport set ChiTieu2 = N'4. Provision for decline in long term investments (*)' where ChiTieu=N' 4. Dự phòng giảm giá đầu tư tài chính dài hạn (*)'
Update sysFormReport set ChiTieu2 = N'V. Other long-term assets' where ChiTieu=N'V. Tài sản dài hạn khác'
Update sysFormReport set ChiTieu2 = N'1. Long-term Prepaid expense ' where ChiTieu=N' 1. Chi phí trả trước dài hạn'
Update sysFormReport set ChiTieu2 = N'2. Deffered income tax assets' where ChiTieu=N' 2. Tài sản thuế thu nhập hoãn lại'
Update sysFormReport set ChiTieu2 = N'3. Other long-term assets' where ChiTieu=N' 3. Tài sản dài hạn khác'
Update sysFormReport set ChiTieu2 = N'TOTAL ASSETS (250 = 100 + 200)' where ChiTieu=N'TỔNG CỘNG TÀI SẢN (270 = 100+200)'
Update sysFormReport set ChiTieu2 = N'A. PAYABLE DEBTS (300= 310 + 330)' where ChiTieu=N'A- NỢ PHẢI TRẢ (300=310+330)'
Update sysFormReport set ChiTieu2 = N'I. Short-term liability' where ChiTieu=N'I. Nợ ngắn hạn'
Update sysFormReport set ChiTieu2 = N'1. Short-term debts and loans' where ChiTieu=N' 1. Vay và nợ ngắn hạn'
Update sysFormReport set ChiTieu2 = N'2. Payable to seller' where ChiTieu=N' 2. Phải trả người bán'
Update sysFormReport set ChiTieu2 = N'3. Advances from customers' where ChiTieu=N' 3. Người mua trả tiền trước'
Update sysFormReport set ChiTieu2 = N'4. Taxes and payable to state budget' where ChiTieu=N' 4. Thuế và các khoản phải nộp Nhà nước'
Update sysFormReport set ChiTieu2 = N'5. Payable to employees' where ChiTieu=N' 5. Phải trả người lao động'
Update sysFormReport set ChiTieu2 = N'6. Accruals' where ChiTieu=N' 6. Chi phí phải trả'
Update sysFormReport set ChiTieu2 = N'7. Intercompany payable' where ChiTieu=N' 7. Phải trả nội bộ'
Update sysFormReport set ChiTieu2 = N'8. Construction contract progress payment due to customers' where ChiTieu=N' 8. Phải trả theo tiến độ kế hoạch hợp đồng xây dựng'
Update sysFormReport set ChiTieu2 = N'9. Other short-term payable items' where ChiTieu=N' 9. Các khoản phải trả, phải nộp ngắn hạn khác'
Update sysFormReport set ChiTieu2 = N'10. Short-term provisions for payables' where ChiTieu=N' 10. Dự phòng phải trả ngắn hạn'
Update sysFormReport set ChiTieu2 = N'II. Long-term liability' where ChiTieu=N'II. Nợ dài hạn'
Update sysFormReport set ChiTieu2 = N'1. Trade payables' where ChiTieu=N' 1. Phải trả dài hạn người bán'
Update sysFormReport set ChiTieu2 = N'2. Intercompany long-term payables' where ChiTieu=N' 2. Phải trả dài hạn nội bộ'
Update sysFormReport set ChiTieu2 = N'3. Other long-term payables' where ChiTieu=N' 3. Phải trả dài hạn khác'
Update sysFormReport set ChiTieu2 = N'4. Long-term borrowing & liabilities' where ChiTieu=N' 4. Vay và nợ dài hạn'
Update sysFormReport set ChiTieu2 = N'5. Deferred income tax liabilitie' where ChiTieu=N' 5. Thuế thu nhập hoãn lại phải trả'
Update sysFormReport set ChiTieu2 = N'6. Provisions fund for severance allowances' where ChiTieu=N' 6. Dự phòng trợ cấp mất việc làm'
Update sysFormReport set ChiTieu2 = N'7. Provisions for payables' where ChiTieu=N' 7. Dự phòng phải trả dài hạn'
Update sysFormReport set ChiTieu2 = N'B. CAPITAL (400 = 410 + 430)' where ChiTieu=N'B - NGUỒN VỐN CHỦ SỞ HỮU (400=410+430)'
Update sysFormReport set ChiTieu2 = N'I. Capital' where ChiTieu=N'I. Vốn chủ sở hữu'
Update sysFormReport set ChiTieu2 = N'1. Contributed legal capital' where ChiTieu=N' 1. Vốn đầu tư của chủ sở hữu'
Update sysFormReport set ChiTieu2 = N'2. Share premium' where ChiTieu=N' 2. Thăng dư vốn cổ phần'
Update sysFormReport set ChiTieu2 = N'3. Other capital' where ChiTieu=N' 3. Vốn khác của chủ sở hữu'
Update sysFormReport set ChiTieu2 = N'4. Treasury stock (*)' where ChiTieu=N' 4. Cổ phiếu quỹ (*)'
Update sysFormReport set ChiTieu2 = N'5. Differences upon asset revaluation' where ChiTieu=N' 5. Chênh lệch đánh giá tài sản'
Update sysFormReport set ChiTieu2 = N'6. Foreign exchange differences' where ChiTieu=N' 6. Chênh lệch tỷ giá hối đoái'
Update sysFormReport set ChiTieu2 = N'7. Investment & development funds' where ChiTieu=N' 7. Quỹ đầu tư phát triển'
Update sysFormReport set ChiTieu2 = N'8. Financial reserve funds' where ChiTieu=N' 8. Quỹ dự phòng tài chính'
Update sysFormReport set ChiTieu2 = N'9. Other funds' where ChiTieu=N' 9. Quỹ khác thuộc vốn chủ sỡ hữu'
Update sysFormReport set ChiTieu2 = N'10. Undistributed earnings' where ChiTieu=N' 10. Lợi nhuận sau thuế chưa phân phối'
Update sysFormReport set ChiTieu2 = N'11. Construction investment fund' where ChiTieu=N' 11. Nguồn vốn đầu tư XDCB'
Update sysFormReport set ChiTieu2 = N'II. Other sources and funds' where ChiTieu=N'II. Nguồn kinh phí và quỹ khác'
Update sysFormReport set ChiTieu2 = N'1. Sources of expenditure' where ChiTieu=N' 2. Nguồn kinh phí'
Update sysFormReport set ChiTieu2 = N'2. Budget resources used to acquire fixed assets' where ChiTieu=N' 3. Nguồn kinh phí đã hình thành TSCĐ'
Update sysFormReport set ChiTieu2 = N'TOTAL LIABILITIES AND OWNERS'' EQUITY (440 = 300 + 400)' where ChiTieu=N'TỔNG CỘNG NGUỒN VỐN (440 = 300+400)'
Update sysFormReport set ChiTieu2 = N'                               CAPITAL' where ChiTieu=N'                               NGUỒN VỐN'
Update sysFormReport set ChiTieu2 = N'                                   ASSETS' where ChiTieu=N'                                   TÀI SẢN'
Update sysFormReport set ChiTieu2 = N'1. The reward fund, welfare' where ChiTieu=N' 1. Quỹ khen thưởng, phúc lợi'
Update sysFormReport set ChiTieu2 = N'1. Sales' where ChiTieu=N'1. Doanh thu bán hàng, cung cấp dịch vụ'
Update sysFormReport set ChiTieu2 = N'2. Deductions' where ChiTieu=N'2. Các khoản giảm trừ doanh thu'
Update sysFormReport set ChiTieu2 = N'3. Net sales (10 = 01 - 02)' where ChiTieu=N'3. Doanh thu thuần về bán hàng và cung cấp dịch vụ(10=01-02)'
Update sysFormReport set ChiTieu2 = N'4. Cost of goods sold' where ChiTieu=N'4. Giá vốn hàng bán'
Update sysFormReport set ChiTieu2 = N'5. Gross profit/ (loss) (20 = 10 - 11)' where ChiTieu=N'5. Lợi  nhuân gộp về bán hàng và cung cấp dịch vụ (20=10-11)'
Update sysFormReport set ChiTieu2 = N'6. Financial activities income' where ChiTieu=N'6. Doanh thu hoạt động tài chính'
Update sysFormReport set ChiTieu2 = N'7. Financial activities expenses' where ChiTieu=N'7. Chi phí tài chính'
Update sysFormReport set ChiTieu2 = N'- In which: Loan interest expenses' where ChiTieu=N'Trong đó Chi phí lãi vay'
Update sysFormReport set ChiTieu2 = N'8. Selling expenses' where ChiTieu=N'8. Chi phí bán hàng'
Update sysFormReport set ChiTieu2 = N'9. General & administration expenses' where ChiTieu=N'9. Chi phí quản lý doanh  nghiệp'
Update sysFormReport set ChiTieu2 = N'10. Net operating profit/(loss) (30 = 20 + (21 - 22) - (24 + 25))' where ChiTieu=N'10. Lợi  nhuận thuần từ hoạt động kinh doanh(30=20+(21-22)-(24+25))'
Update sysFormReport set ChiTieu2 = N'11. Other income' where ChiTieu=N'11. Thu nhập khác'
Update sysFormReport set ChiTieu2 = N'12. Other expenses' where ChiTieu=N'12. Chi phí khác'
Update sysFormReport set ChiTieu2 = N'13. Other profit/(loss) (40 = 31 - 32)' where ChiTieu=N'13. Lợi nhuận khác (40=31-32)'
Update sysFormReport set ChiTieu2 = N'14. Profit/(loss) before tax (50 = 30 + 40)' where ChiTieu=N'14. Tổng lợi nhuận trước thuế (50=30+40)'
Update sysFormReport set ChiTieu2 = N'15. Current business income tax charge' where ChiTieu=N'15. Chi phí thuế TNDN hiện hành'
Update sysFormReport set ChiTieu2 = N'16. Deffered business income tax charge' where ChiTieu=N'16. Chi phí thuế TNDN hoãn lại'
Update sysFormReport set ChiTieu2 = N'17. Profit/(loss) after tax (60 = 50 - 51 - 52)' where ChiTieu=N'17. Lợi nhuận sau thuế thu nhập doanh nghiệp (60=50-51-52)'
Update sysFormReport set ChiTieu2 = N'18. Earning per share (*)' where ChiTieu=N'18. Lãi cơ bản trên cổ phiếu (*)'
Update sysFormReport set ChiTieu2 = N'  1.1' where ChiTieu=N'  1.1'
Update sysFormReport set ChiTieu2 = N'  1.2' where ChiTieu=N'  1.2'
Update sysFormReport set ChiTieu2 = N'   5.1' where ChiTieu=N'   5.1'
Update sysFormReport set ChiTieu2 = N'   5.2' where ChiTieu=N'   5.2'
Update sysFormReport set ChiTieu2 = N'   5.3' where ChiTieu=N'   5.3'
Update sysFormReport set ChiTieu2 = N'   5.4' where ChiTieu=N'   5.4'
Update sysFormReport set ChiTieu2 = N'   1.1' where ChiTieu=N'   1.1'
Update sysFormReport set ChiTieu2 = N'   1.2' where ChiTieu=N'   1.2'
Update sysFormReport set ChiTieu2 = N'   1.3' where ChiTieu=N'   1.3'
Update sysFormReport set ChiTieu2 = N'   1.4' where ChiTieu=N'   1.4'
Update sysFormReport set ChiTieu2 = N'   1.5' where ChiTieu=N'   1.5'
Update sysFormReport set ChiTieu2 = N'   1.6' where ChiTieu=N'   1.6'
Update sysFormReport set ChiTieu2 = N'   1.7' where ChiTieu=N'   1.7'
Update sysFormReport set ChiTieu2 = N'   1.8' where ChiTieu=N'   1.8'
Update sysFormReport set ChiTieu2 = N'   5.1' where ChiTieu=N'   5.1'
Update sysFormReport set ChiTieu2 = N'   5.2' where ChiTieu=N'   5.2'
Update sysFormReport set ChiTieu2 = N'    5.3' where ChiTieu=N'    5.3'
Update sysFormReport set ChiTieu2 = N'   4.1' where ChiTieu=N'   4.1'
Update sysFormReport set ChiTieu2 = N'   4.2' where ChiTieu=N'   4.2'
Update sysFormReport set ChiTieu2 = N'   4.3' where ChiTieu=N'   4.3'
Update sysFormReport set ChiTieu2 = N'   2.1' where ChiTieu=N'   2.1'
Update sysFormReport set ChiTieu2 = N'   2.2' where ChiTieu=N'   2.2'
Update sysFormReport set ChiTieu2 = N'  1.1' where ChiTieu=N'  1.1'
Update sysFormReport set ChiTieu2 = N'   1.2' where ChiTieu=N'   1.2'
Update sysFormReport set ChiTieu2 = N'3.1' where ChiTieu=N'3.1'
Update sysFormReport set ChiTieu2 = N'3.2' where ChiTieu=N'3.2'
Update sysFormReport set ChiTieu2 = N'   9.1' where ChiTieu=N'   9.1'
Update sysFormReport set ChiTieu2 = N'   9.2' where ChiTieu=N'   9.2'
Update sysFormReport set ChiTieu2 = N'   3.1' where ChiTieu=N'   3.1'
Update sysFormReport set ChiTieu2 = N'   3.2' where ChiTieu=N'   3.2'
Update sysFormReport set ChiTieu2 = N'   4.1' where ChiTieu=N'   4.1'
Update sysFormReport set ChiTieu2 = N'   4.2' where ChiTieu=N'   4.2'
Update sysFormReport set ChiTieu2 = N'   4.3' where ChiTieu=N'   4.3'
Update sysFormReport set ChiTieu2 = N'     4.31' where ChiTieu=N'     4.31'
Update sysFormReport set ChiTieu2 = N'     4.32' where ChiTieu=N'     4.32'
Update sysFormReport set ChiTieu2 = N'     4.33' where ChiTieu=N'     4.33'
Update sysFormReport set ChiTieu2 = N'   2.1' where ChiTieu=N'   2.1'
Update sysFormReport set ChiTieu2 = N'   2.2' where ChiTieu=N'   2.2'
Update sysFormReport set ChiTieu2 = N'I. Cash flows from operating activities ' where ChiTieu=N'I. Lưu chuyển tiền từ hoạt động kinh doanh'
Update sysFormReport set ChiTieu2 = N'1. Gains from sales of goods and service provisons and other gains' where ChiTieu=N'  1. Tiền thu từ bán hàng, cung cấp dịch vụ và doanh thu khác'
Update sysFormReport set ChiTieu2 = N'2. Payments to suppliers' where ChiTieu=N'  2. Tiền chi trả cho người cung cấp hàng hóa và dịch vụ'
Update sysFormReport set ChiTieu2 = N'3. Payments to employees' where ChiTieu=N'  3. Tiền chi trả cho ngườ lao động'
Update sysFormReport set ChiTieu2 = N'4. Loan interests already paid' where ChiTieu=N'  4. Tiền chi trả lãi vay'
Update sysFormReport set ChiTieu2 = N'5. Payments for corporate income tax' where ChiTieu=N'  5. Tiền chi nộp thuế thu nhập doanh nghiệp'
Update sysFormReport set ChiTieu2 = N'6. Other gains' where ChiTieu=N'  6. Tiền thu khác từ hoạt động kinh doanh'
Update sysFormReport set ChiTieu2 = N'7. Other disbursements' where ChiTieu=N'  7. Tiền chi khác cho hoạt động kinh doanh'
Update sysFormReport set ChiTieu2 = N'Net cash flows from operating activities' where ChiTieu=N'Lưu chuyển tiền thuần từ hoạt động kinh doanh'
Update sysFormReport set ChiTieu2 = N'II. Cash flows from investing activities' where ChiTieu=N'II. Lưu chuyển tiền từ hoạt động đầu tư'
Update sysFormReport set ChiTieu2 = N'1. Purchases and construction of fixed assets and other long-term assets' where ChiTieu=N'  1. Tiền chi để mua sắm, xây dựng TSCĐ và các tài sản dài hạn khác'
Update sysFormReport set ChiTieu2 = N'2. Gains from disposal and liquidation of fixed assets and other long-term assets' where ChiTieu=N'  2. Tiền thu từ thanh lý, nhượng bán TSCĐ và các tài sản dài hạn khác'
Update sysFormReport set ChiTieu2 = N'3. Loans given and purchases of debt instruments of other entities' where ChiTieu=N'  3. Tiền chi cho vay, mua các công cụ nợ của đơn vị khác'
Update sysFormReport set ChiTieu2 = N'4. Recovery of loan given and disposals of debt instruments of other entities' where ChiTieu=N'  4. Tiền thu hồi cho vay, bán lại các công cụ nợ của đơn vị khác'
Update sysFormReport set ChiTieu2 = N'5. Investments in other entities' where ChiTieu=N'  5. Tiền chi đầu tư góp vào đơn vị khác'
Update sysFormReport set ChiTieu2 = N'6. Withdrawals of investments in other entities' where ChiTieu=N'  6. Tiền thu hồi đầu tư góp vốn vào đơn vị khác'
Update sysFormReport set ChiTieu2 = N'7. Receipts of loans given, dividends and profit shared ' where ChiTieu=N'  7. Tiền thu lãi cho vay, cổ tức và lợi nhuận được chia'
Update sysFormReport set ChiTieu2 = N'Net cash flows from investing activities' where ChiTieu=N'Lưu chuyển tiền thuần từ hoạt động đầu tư'
Update sysFormReport set ChiTieu2 = N'III. Cash flows from financing activities' where ChiTieu=N'III. Lưu chuyển tiền từ hoạt động tài chính'
Update sysFormReport set ChiTieu2 = N'1. Gains from stock issuance and capital contributions from shareholders' where ChiTieu=N'  1. Tiền thu từ phát hành cổ phiếu, nhận vốn góp của chủ sỡ hữu'
Update sysFormReport set ChiTieu2 = N'2. Repayments of capital contributions to owners and re-purchases of stocks already issued' where ChiTieu=N'  2. Tiền chi trả vốn góp cho các chủ sỡ hữu, mua lai CP của DN đã phát hành'
Update sysFormReport set ChiTieu2 = N'3. Short-term and long-term loans received' where ChiTieu=N'  3. Tiền vay ngắn hạn, dài hạn nhận được'
Update sysFormReport set ChiTieu2 = N'4. Loan principal amounts repaid' where ChiTieu=N'  4. Tiền chi trả nợ gốc vay'
Update sysFormReport set ChiTieu2 = N'5. Payments for financial leasehold assets' where ChiTieu=N'  5. Tiền chi trả nợ thuê tài chính'
Update sysFormReport set ChiTieu2 = N'6. Dividends and profit shared to the owners' where ChiTieu=N'  6. Cổ tức, lợi nhuận đã trả cho chủ sỡ hữu'
Update sysFormReport set ChiTieu2 = N'Net cash flows from financing activities' where ChiTieu=N'Lưu chuyển tiền thuần từ hoạt động tài chính'
Update sysFormReport set ChiTieu2 = N'Net cash flows during the period (50 = 20 + 30 + 40)' where ChiTieu=N'Lưu chuyển tiền thuần trong kỳ (50=20+30+40)'
Update sysFormReport set ChiTieu2 = N'Beginning cash and cash equivalents' where ChiTieu=N'Tiền và tương đương tiền đầu kỳ'
Update sysFormReport set ChiTieu2 = N'Effects of fluctuations in foreign exchange rates' where ChiTieu=N'Ảnh hưởng của thay đổi tỷ giá hối đoái quy đỗi ngọai tệ'
Update sysFormReport set ChiTieu2 = N'Ending cash and cash equivalents (70 = 50 + 60 + 61)' where ChiTieu=N'Tiền và tương tiền cuối kỳ (70=50+60+61)'


Update DmKetChuyen set DienGiai2 = N'To transfer the cost of raw materials  ' where DienGiai=N'Kết chuyển chi phí nguyên vật liệu'
Update DmKetChuyen set DienGiai2 = N'Transferred direct labor costs ' where DienGiai=N'Kết chuyển chi phí nhân công trực tiếp'
Update DmKetChuyen set DienGiai2 = N'Forward the overall production costs ' where DienGiai=N'Kết chuyển chi phí sản xuất chung'
Update DmKetChuyen set DienGiai2 = N'Transferred cost semi-finished products ' where DienGiai=N'Kết chuyển chi phí bán thành phẩm'
Update DmKetChuyen set DienGiai2 = N'Carry forward the trade discounts ' where DienGiai=N'Kết chuyển chiết khấu thương mại'
Update DmKetChuyen set DienGiai2 = N'Transferred back to sales ' where DienGiai=N'Kết chuyển hàng bán trả lại'
Update DmKetChuyen set DienGiai2 = N'Carry forward sales ' where DienGiai=N'Kết chuyển doanh thu bán hàng'
Update DmKetChuyen set DienGiai2 = N'Transferred financial revenues ' where DienGiai=N'Kết chuyển doanh thu tài chính'
Update DmKetChuyen set DienGiai2 = N'Add transfer cost ' where DienGiai=N'Kết chuyển giá vốn'
Update DmKetChuyen set DienGiai2 = N'Transferred income' where DienGiai=N'Ket Chuyen THu Nhap Khac'
Update DmKetChuyen set DienGiai2 = N'Carry forward costs' where DienGiai=N'ket Chuyen Chi Phi Khac'
Update DmKetChuyen set DienGiai2 = N'Transferred financial costs ' where DienGiai=N'Kết chuyển chi phí tài chính'
Update DmKetChuyen set DienGiai2 = N'Transferred to cost of sales ' where DienGiai=N'Kết chuyển chi phí bán hàng'
Update DmKetChuyen set DienGiai2 = N'Transferred management costs ' where DienGiai=N'Kết chuyển chi phí quản lý'
Update DmKetChuyen set DienGiai2 = N'Interest transferred ' where DienGiai=N'Kết chuyển lãi'
Update DmKetChuyen set DienGiai2 = N'Carry forward losses ' where DienGiai=N'Kết chuyển lỗ'
