@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@{
    ViewBag.Title = "Index";
}
<div id='contentMaster'>
     <div class="container_12">
        <img class="dashboard grid_12" src="~/Content/images/CRMdashboard.png"/>
    </div>
</div>

<link id="DashBoardRWD"
        href="@Url.Content("~/Content/Styles/RWD/DashBoard/DashBoardRWD.css")" 
        rel="stylesheet" type="text/css" />