
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Database

@model ASOFT.ERP.A00.Entities.Common.ReportComboboxModel
@{
    var comboBox = (Html.ASOFTCombobox(model => model.ReportID, htmlStyle: Model.Style)
        .Name(Model.Name)
        .DataValueField(MTT8888.COL_REPORTID)
        .DataTextField(MTT8888.COL_REPORTNAME)
        .Enable(Model.Enabled)
        .Template(
            "<div class=\"k-state-default\">${ReportID}</div>" +
            "<div class=\"k-state-default hidden\"><input type=\"TextBox\" value=\"${ReportName}\" /></div>" +
            "<div class=\"k-state-default hidden\"><input type=\"TextBox\" value=\"${Title}\" /></div>"
        ));

    if (!string.IsNullOrEmpty(Model.SelectedIndexChanged))
    {
        comboBox.Events(model => model.Change(Model.SelectedIndexChanged));
    }

    if (Model.List != null && Model.List.Count > 0)
    {
        if (Model.SelectedFirst)
        {
            comboBox.SelectedIndex(0);
        }

        //Hiển thị giá trị %
        if (Model.ShowAll)
        {
            Model.List.Insert(0, new MTT8888()
            {
                ReportID = "%",
                ReportName = ASOFTLanguage.FindWordA00("A00.All")
            });
        }

        comboBox.BindTo(Model.List);
    }
}

@comboBox