/**
CHART DASHBOARD STYLE
*/
    #multi-draggable-block {
        position:relative;
    }
    .drmDashboard {
        position:absolute;
        left:-1%;
        width:inherit;
        /*height:750px;*/
    }
	.drag-container
	{
		/*margin: 0 auto;
        background: url('../../../Content/Images/DRMDrashBoard.png');
        background-position:60% 30%;*/
        overflow:hidden;
        width:100%; 
        height: 100%;
	}
	.zoom-tooltip
	{
		width: 150px;
	}

		.zoom-tooltip ul
		{
			padding: 0;
		}
	.zoom-tooltip li a:hover
	{
		background: #8FD2F4;
	}
	.zoom-tooltip li a {
		text-decoration: none;
		color: #000;
		vertical-align: top;
		float: left;
		padding: 5px 32px 10px 32px;
		height: 100%;
		width: 100%;
	}

	 .asf-block-wrapper
	{
		border: 1px solid #DCDCDC;
		float: left;
		height: 332px;
		margin: 10px 5px;
        background:#fff;
	}

	 .asf-block-wrapper .asf-block-toolbar
	{
		width: 100%;
		height: 34px;
		position: relative;
		bottom: 0px;
		margin-bottom: -32px;
		z-index: 99;
		text-align:right;
		cursor: move;
	}

		.asf-block-wrapper .asf-block-toolbar:hover
		{
			background-color: #eaeaea;
		}

	 .asf-block-wrapper .asf-block-toolbar .asf-block-title
	{
		width: auto;
		float: left;
		position:relative;
		z-index:-1;
		text-align: left;
		height:22px;
		padding: 10px 0 0 10px;
		font-weight: bold;
		/** Hien thi ... neu caption bi thu gon so voi kich thuoc div */
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		width: 60.5%;
	}

	 .asf-block-wrapper .asf-block-content
	{
		height: 300px;
		content: box;
	}
	 .asf-block-wrapper .asf-block-content.scroll
	{
		overflow: auto;
		width: 100%;
		bottom:0px;
	}
	 .asf-block-wrapper .asf-block-content.empty
	{
		background-image: url("");
		background-position: center;
	}
	 .asf-block-wrapper .task-list
	{
		width: 100%;
	}
	 .asf-block-wrapper .task-list td
	{
		padding: 10px;
		height: 12px;
	}
	 .asf-block-wrapper .task-list td.right
	{
		text-align: right;
	}
	 .asf-block-wrapper .task-list td.bold
	{
		font-weight: bold;
	}

	 .asf-block-wrapper:empty
	{
		content: circle;
	}
	 .asf-block-wrapper.s-block
	{
		width: 32%;

	}

	 .asf-block-wrapper.m-block
	{
		width: 65%;
	}

	 .asf-block-wrapper.xl-block
	{
		width: 98%;
	}

#dashboard-toolbar
{
	bottom: 5px;
	right: 20px;
	float: left;
	height: 34px;
	width:auto;
	position: fixed;
	background-color:#eaeaea;
	padding-right: 0;
	border: 1px solid #CCC;
	border-left-width: 10px;
	z-index: 9999;
}

.asf-block-content svg {
    display:inline !important;
}

.asf-toolbar li {
    display:-moz-grid-group !important;
    vertical-align: top !important;
}
