@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.A00.Entities
@using ASOFT.ERP.A00.Entities.Database

@model POSF0070ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0070_GridSurvival",
        keyColumnID = "APK",
        NameEventPost = "",
        Scrollable = true,
        ActionName = "POSF0070_GetDataSurvival",
        ControllerName = "POSF0070",
        IsShowCheck = false,
        HtmlAttribute = new { style = "height:590px;margin-top:33px", @class = "asf-grid" },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "ReportName",
                TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
                VisibleColumn = true,
                ClientTemplate="<a onClick= '#=CallPopupReport#' class='asf-grid-link'>#:" + ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME + "#</a>"
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Description",
                TitleColumn = Html.DisplayNameFor(model => model.Description).ToHtmlString(),
                VisibleColumn = true,
            },
         }
    };
}
@(Html.ASOFTCreateGridNotPagging<POSF0070GridViewModel>(gridsetting))