@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.DRM.Entities;
@model DRF2010GridViewModel

@{
   
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "DRF2011Grid",
        NameEventPost = "DRF2011.drf2012GridSendData",
        Scrollable = true,
        IsShowCheck = false,
        ActionName = "GetGridAddressData",
        ControllerName = "DRF2010",
        IsAutoHeight = false,
        HtmlAttribute = new { @class = "asf-grid", isDefaultLR = true },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                ClientTemplate = "#= DRF2011.renderNumber() #",
                Width = 50,
                VisibleColumn = true,
            },           
             new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_ADDRESSID,
                TitleColumn = Html.DisplayNameFor(model => model.AddressID).ToHtmlString(),
                Width = 150,
                EditColumn = true,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_CITYNAME,
                TitleColumn = Html.DisplayNameFor(model => model.CityName).ToHtmlString(),
                Width = 100,
                EditColumn = true,
                EditorTemplateName="ComboBoxCityID",
                ClientTemplate=" #=CityName!=null?CityName:''#",
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_DISTRICTNAME,
                TitleColumn = Html.DisplayNameFor(model => model.DistrictName).ToHtmlString(),
                Width = 100,
                EditColumn = true,
                EditorTemplateName="ComboBoxDistrictID",
                ClientTemplate="#=DistrictName!=null?DistrictName:''#",
                VisibleColumn = true,
            },
           
            new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_WARD,
                TitleColumn = Html.DisplayNameFor(model => model.Ward).ToHtmlString(),
                Width = 100,
                EditColumn = true,
                VisibleColumn = true,
            },  
             new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_ADDRESS,
                TitleColumn = Html.DisplayNameFor(model => model.Address).ToHtmlString(),
                Width = 200,
                EditColumn = true,
                VisibleColumn = true,
            },          
            new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_NOTE,
                TitleColumn = Html.DisplayNameFor(model => model.Note).ToHtmlString(),
                Width = 100,
                EditColumn = true,
                VisibleColumn = true,                
            },

        }
    };
}

@{
    var handleCol = new ASOFTGridColumnSetting();
    if(ASOFTEnvironment.Action.Equals("DRF2011"))
    {
        gridsetting.ListGridColumn.Add(
            new ASOFTGridColumnSetting
            {
                IDColumn = DRP2013.COL_APK,
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                        "DRF2011.deleteAddress(this)"), //"<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            });
        handleCol = new ASOFTGridColumnSetting
        {
            IDColumn = DRP2013.COL_ISSEND,
            TitleColumn = Html.ASOFTRaw(model => model.IsSend),
            Width = 100,
            VisibleColumn = true,
            ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= IsSend== 1 ? 'checked' : '' # onchange='DRF2011.checkBox_Changed(this)' />",
                                                                        DRP2013.COL_ISSEND),
            HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
        };
        gridsetting.ListGridColumn.Insert(1, handleCol);
        @(Html.ASOFTCreateGridEdit<DRP2013>(gridsetting,true))
    }
    else
    {
        handleCol = new ASOFTGridColumnSetting
        {
            IDColumn = DRP2013.COL_ISSEND,
            TitleColumn = Html.ASOFTRaw(model => model.IsSend),
            Width = 100,
            VisibleColumn = true,
            ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= IsSend==1 ? 'checked' : '' #  onchange='return false;' onclick='return false;'/>",
                                                                               DRP2013.COL_ISSEND),
            HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
        };
        gridsetting.ListGridColumn.Insert(1, handleCol);
        gridsetting.Styles.Add("margin", "30px 0 0");
        @(Html.ASOFTCreateGridNotPagging<DRP2013>(gridsetting))
    }
}

