
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF2010ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF2010Grid",
                              NameEventPost = "DRF2010.sendDataFilter",
                              Scrollable = true,
                              ActionName = "GetDRF2010GridData",
                              ControllerName = "DRF2010",
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_BRANCHID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.BranchID),
                                                               Width = 60,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_CONTRACTNO,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractNo),
                                                               Width = 60,//180,
                                                               VisibleColumn = true,
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                                        Url.Content(string.Format("~/DRM/DRF2010/DRF2012/?APK=#:{0}#", DRP2010.COL_APK)),
                                                                        DRP2010.COL_CONTRACTNO),
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_CUSTOMERID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CustomerID),
                                                               Width = 60,
                                                               VisibleColumn = true,
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_DEBTORID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorID),
                                                               Width = 60,//130,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_DEBTORNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorName),
                                                               Width = 80,//200,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_ISNEWTEXT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.IsNew),
                                                               Width = 50,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_DISTRICT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.District),
                                                               Width = 60,//130,
                                                               VisibleColumn = true,
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_TEAMID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamID),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_CONTRACTRECEIVEDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContratReciveDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTACTIONDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTACTIONID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionID),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTPAIDAMOUNT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextPaidAmount),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },                  
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_ACTIONDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionDate),
                                                               Width = 80,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_CONTRACTGROUPID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractGroupID),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEARPAIDDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NearPaidDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                       //new ASOFTGridColumnSetting
                                       //                    {
                                       //                        IDColumn = DRP2010.COL_ADDRESSNOTES,
                                       //                        TitleColumn = Html.ASOFTRaw(model=>model.AddressNotes),
                                       //                        Width = 400,
                                       //                        VisibleColumn = true,
                                       //                    },
                                       //new ASOFTGridColumnSetting
                                       //                    {
                                       //                        IDColumn = DRP2010.COL_STREET,
                                       //                        TitleColumn = Html.ASOFTRaw(model=>model.Street),
                                       //                        Width = 500,
                                       //                        VisibleColumn = true,
                                       //                    },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTACTIONADDRESS,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionAddress),
                                                               Width = 50,//500,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTACTIONADDRESS2,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionAddress2),
                                                               Width = 50,//500,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2010.COL_NEXTACTIONADDRESS3,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionAddress3),
                                                               Width = 50,//500,
                                                               VisibleColumn = true,
                                                           }
                              }
                          };
}

@(Html.ASOFTCreateGrid<ASOFT.ERP.DRM.Entities.DRP2010>(gridsetting,true))