.box-list-industry{
    top: 0;
    height: 370px;
    width: 100%;
}

.box-list-industry ul li {
    color: #666;
    display: table-cell;
    float: left;
    font-size: 13pt;
    height: 6em;
    margin-bottom: 15px;
    margin-left: 15px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: calc(100% / 5.6 - 4px);
}

.industry_icon {
    height: 90%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.box-list-industry h6 {
    font-size: 8.5px;
    padding-top: 65px;
    position: relative;
    text-wrap: none;
}

.box-list-industry ul {
    display: block;
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.box-list-industry ul  .list-industry:hover {
   background-color:#8FD2F4;
}


@media (max-width: 480px) {
    .box-list-industry ul li {
         height: 4.5em;
        font-size: 11pt;
        width: calc(100% / 3.5 - 4px);
    }

    .box-list-industry h6 {
        line-height: 10pt;
        padding-top: 30px;
    }

    .industry_icon {
        height: 80%;
        width: 100%;
    }


}

@media (min-width: 490px) and (max-width: 600px) {
    .box-list-industry ul li {
          height: 5.5em;
        font-size: 11pt;
        width: calc(100% / 4.5 - 4px);
    }

    .box-list-industry h6 { 
        padding-top: 45px;
        line-height: 10pt;
    }

    .industry_icon {
        height: 80%;
        width: 100%;
    }
}