USE [CDT]
declare @sysTableID as int
declare @MenuThueKhacID as int
declare @sysSiteIDPRO as int
declare @sysSiteIDSTD as int

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

-- Them table DMThueTTDB
if not exists (select top 1 1 from sysTable where TableName = 'DMThueTTDB')
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DMThueTTDB', N'Danh mục nhóm hàng hóa chịu thuế tiêu thụ đặc biệt', N'List of special tax', N'MaNhomTTDB', N'MaNhomTTDBCha', NULL, 2, NULL, NULL, 0, NULL, 8, NULL, 0)

select @sysTableID = sysTableID from sysTable where TableName = 'DMThueTTDB'

if not exists (select top 1 1 from sysField where FieldName = 'MaNhomTTDB' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'MaNhomTTDB', 0, NULL, NULL, NULL, NULL, 0, N'Mã nhóm', N'Group code', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenNhomTTDB' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'TenNhomTTDB', 0, NULL, NULL, NULL, NULL, 2, N'Tên nhóm', N'Group Name', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenNhomTTDB2' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'TenNhomTTDB2', 1, NULL, NULL, NULL, NULL, 2, N'Tên nhóm 2', N'Group Name 2', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaNhomTTDBCha' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'MaNhomTTDBCha', 1, N'MaNhomTTDB', N'DMThueTTDB', NULL, NULL, 1, N'Thuộc nhóm (nhóm cha)', N'Parent group', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueSuatTTDB' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'ThueSuatTTDB', 0, NULL, NULL, NULL, NULL, 8, N'Thuế suất TTDB', N'Tax rate', 4, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DMThueTTDB_ThueSuatTTDB', N'#0.##', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'DVT' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'DVT', 1, NULL, NULL, NULL, NULL, 2, N'Đơn vị tính', N'Unit name', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'GhiChu' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'GhiChu', 1, NULL, NULL, NULL, NULL, 13, N'Ghi chú', N'Description', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

-- Them menu loai thue
-- PRO
if (isnull(@sysSiteIDPRO,'') <> '')
BEGIN

select @MenuThueKhacID = sysMenuID from sysMenu where MenuName = N'Thuế khác' and sysSiteID = @sysSiteIDPRO

if (isnull(@MenuThueKhacID,'') <> '')
BEGIN

if not exists (select top 1 1 from sysMenu where MenuName = N'Nhóm thuế TTDB' and sysSiteID = @sysSiteIDPRO and sysMenuParent = @MenuThueKhacID)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Nhóm thuế TTDB', N'List of special tax', @sysSiteIDPRO, NULL, @sysTableID, NULL, 0, NULL, @MenuThueKhacID, NULL, NULL, 1, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500002018494441546843ED9A77749DD595E8AFAEA47BAFBAAEFA55EFEDAAF76249966515ABF7DE2CABF762CB36EE36AED806E36E70C3601B638A8D8D5B4C3110C84020850061425EC21A322F2F0503198640C26FF627EBBE68BCF2072FC99A59B3D65B5A5BE77EE73B679FBDCFAE679FCFECE489D3B76D6CB42A7B5B6BD51FBFFC3795B9855AF5D5575FA9BE51A9541A8D466566A656012A3379365321FF552AB55AC6FCE96B196BA94279FFA73FAB6CCCCC547F529BA9FE5DE6FE59DE7F636EA1FA46FA30339F19A3CCB7F9E397820F79163CCA3BC1FB8DE054F07C2363FE2438D57FB651A9E59D99C5A7B2D01F659EFC7D632363B52ABE51CBBC6F84BE2F559F7EFA89CA68347EA65A36BD92A1A1212627C6191B1D65647898C18101060606191A1E616444FA46947684D159181F1D637848FA472719195FCAE0E018837DC30C0D8ED2D73FC4C0E00883327760689081E141F93D2430C8F0C0102302C3827B7850017996F5147CA363825359677092B121819141E9EF95B68FFEBE3E4686C6191F9B1410BC037D4C4C4C70E0C0813FA8FA8558D99C593097D6524027603D0B1A69957E8B59509EAD66C7D84A6B3FFBAC9D1DAFB4CA7CA53547AD526321F82D54CAB62BFDCA5C1328CF267C4A9FF25BAD8867B6556851FA9456E9173C167768ADAAAAE6C2850BB755E31363331D5A7B67CC348EA82C5D31B3F615F017D9FA48EB83B9BD2FE6B6FE98D905088460E91881DA26148D5D24D60ED158DA86A2750A46E7148AA54D0056764158DBF86365E58BADE0B2151CB6D67EA87521A8ADC230B70EC7C23A124B019D8D113B8758EC1D62644E049656DE58EA0C586A83D16A8D33A0D1046363E787838B3B762E36A84573DBDADAB87AF5EA6DD5E4E4F80CC7663A27D48E8198391BB1F44842E39186DA25152B4332363E29587B6760ED938D956FAEFCCE45E39689B35F3E4E5EB9E81CA3505B7BA07737CA2242903E1A9D7D0C1676B1C27C22E64EE9A89D32D11816A0F5CA47EB5984CE63113AB712C15F86ADA780A1182BF7022CDD5264ED6434CE0BD139970B94A1D367CAA6050BB8616E279212B3EBECE8E4C68D1BB7554BA7A6EE884C38B41062B58179688316611552816D58154EE165D80517601B5A8A83B11EEB881A2CFD4BA5AF02E7B072613A15DFD01C8CC658B43A67C2C2D3B1B50FC5DE3D157D60118E117568229A5005D6A0F65F843AA004B55F0DE6BE8DA8BD5B50195A31F36A45EDD3227DAD9807976365ACC5DCAF03EB8021EC83BAB1F12D44E71589CA418FB983A2251A3ADADBB976EDDA6DD5D4F8B4306087B9AB101090876D4C23D6D12DD8C4B46117DB8E7D94101D568136A21E9DF4594436A38D6CC456FAF5C60A2C5D92F10B4E6674A80B637818CEA28A0BB28B090D154644D52CDC12D086CBAE1B8599D862B4618598F9160BD409B4A2F26A43E5BB1875D0122C42FB501B9B308F6BC32C64089BD04961A2199D5F0A2AAD06DF703F22E313440216B48B0ACD30303EB2527CA4011BFF5C59A8126D5C3B16319D98470BB151AD584509C142BC853C6B12966016DB8965423B3671F578670A13510BB1F70E222AD29BECF4584A72D238BC7D23974F9FE2FE7B375055598AC1CF80C6D1069DC10FC790043C648EB36C8A6DB06C4E481B56C1ED68A4B5086E95B56B057F936C522F4E51C3A2B60B50E9AC884B0E64FF832B28CE49C75C6CB6D56403A383AB5069FC708A2C939D6F9E21521D27840A132AA3208FEE90DD13E4B15D58A4F4A24A9036B9139B94269156019EA9C5F82526121BE749A89F3DA519D1E484B8315C1CC79A964C0EAFAEE3E4F676B62C5DC4BCFC14DC030351D918C4E0E370F42BC229A41E879026ECC31B718890DD8EAFC632BE01BBE82E3C63BAB1D007939C19CC3B3F7A882DD3C5E4FA3B62230C340B0357AE5CB9AD1A1E5E89996D884C2EC72E5E54267D105D729F30D02ED08A26BA1CF39832D4B1226ED97D756A0FBA791DD8A695E39753866F6226D10B9A70086AC5C92F95A8442F1C6C1C70B3722736C893B2EC00BA8B4359D51ECEEE15551CDDBE984D538554E7F910EAEF2EC62ED271128FE51983D63B1E4B276F315457D9546F6CC4A1D86A1DA8CC8A61BA2D9DE9C559D497A78A6B9EE3858647C4062C3CD0F8CC171DAC911DE8429BD883599CA84A5217B619F5D256A311A6ACD3C7D1A676A04BAAC05518F04A2C202C398BE4826E31C8013CA36B492A4DC61091867B48233A6FD17F4747823CDCC84FF560495110A33501DC3B10C9C1B5D91CD958C1C907C679FAC2319EFDCED33C71E3291E3FBD8A3DDBEA6869CDC6D5D51A376BF1387971D4A5FAF2C0FA41BC43C5A55BDBD1DEDA7AC78D4E8C2E43AD76103D0BC54ABC8A45A4E89F306091D48DA5A88C79823090BC045DE2325C3397A14FA92428A712DFF80A31AA620A2B3A70700F12634EC23FB69084925CAC820A714C5A8163661776498B64730AC4CB85E0A6772637C58FE6F2305A8AFCA84FF762EB921C1E59DBC17DBD791C9EAAE2A14D8B3875B8822B172778E6FC0AF66C6E62DF9A4A6AB23D71B3D7882B3560E1E04E5B6BCB1D06A62796525054477E7937660E7168C475DA2477C98E8B1492BBD166894D240F629FB04ABC4E0BD17905F844846127412C44DC6252421E6E9E7AD92D679C0C11442F2CC422A40355D46A54894B5065B688BADD835BD21486D81234EEFED8B8BA131FE747C5FC0836F654736CAA836DB5A96CAF88A27FA10FE921762406AAA9C90F60EBF4024EEC6CE6DEC9528CC16EA272CEA25E0EE2856625B06E7A2955A5355CBCF4322D3D6B30D3C7E398D8807DDA62ACD264E773DAB1CE19C0216E0897882C9C7C74B8BBEB08F131121990457478246FBC799186DA85989B3B109A3C5F24398079D23AD419CD98CD2BC6396510AFD83E7106755809134E890BB10D9448ECE889876704819EA14478F8901D164263F60286AA9B68C89D476B6122C777F4539BEDCE924A235B56B450921B8BE49BA262B39178DDB22992A3A2397DFC341F7CF03106DF781177182E09953824D5A18ACBC72E53824BD83C021243D8B6A78F9FBE7F859307F7F3D09EFDF2FB7B7CF6F95B2CCC4D9BC97F828D89F8C6F5621F3F8C45621AAEF3E3C958D44C74740E3D533B691E5E8773648AE04B120F5681436439368112E024EAAB6CC265130CD8CA4644FBFAB271AC99EA2C5FFAEB12692BF2A732CD95351D3994A587D2D2D671270EAC9C1A272A3040B85BC1873FFC2123BD23742F1EE5D60F7EC6F77FF13B4A4757A10D0D25AE3481573E7C9CAF788F377E708125DD551C39B2459E7FCE37FC825FFFF657944982A575342732B98ED4B2692A46863979F3117EF2B30F78EE99B3FCF2BDF7F9507EEF3FF130153D03F8E7D660257E5FAFD8984479955386A887B51097C63B6F1DE6D9C7C6289DE7C6C2643DCD45916CE82DA63DC99396EC68C97247B97EFDBAE442E31304B839D35B5DC2D1CDABF9D18D4BFCFCED37F8FC93DFF2F60FDE26AF5ADC63909E4B3FDACAEBBF3A40F3680911896144A4FAD3D093CDFFFEF44DDA476A79FDE73FE4B33F7E424659B8A88607D9552BA85DB69EC2816E0ADA862813BF5D545645764929C5BDDD64760F13D1348675E66234491D582534621E512CC1CE968DEB13F8EC5F0F71E34C3B2BFBE3498971446F6B4E757E1AC3A51944B96869EFECBA63C4C39263FB39D9D39293C0D2F22C8E2EEFE6FC7DF7706EEF56FA9B4AB0B776A7BA39970FBFDA47EF7D31E882DC09CD113D8E70E5D6CF1EE3ECA57DF8278751B8A28E773EF91E4FBE2512F3D4E11C25C69BDC8836AD5E547004D7FC2EF4799D68B2245529EB4155DC83B666256ECD3B702E5B25EF25F644E6E1E16DCD435B8BF8E895AD74E5D8529AEC2E36BA10B5D656B2556BA2FD1C89F2D7D3DADA7E27900DC9A1C45AD2D3605F03E10637A203BCC84EF0625EBC81F840776C1DEC99BAAF891FFF6127F563FE782748CAEB1242414D16BFE2354ADBB2C8AC2D24A83991FA7585BCFFA727C96BCFC33AA61EDFD6DDB875ECC5ABEB61DCDB37E3DE7D08D7BEFBD00F6CC77A700F9A81FDD8F4EFC3B5E37E02AA37A08B2892E0A6E1B5D3635CDED546A9BF968D433DC4C6E74AA4CEC5392243D2700992AE8EF4F7F7DF91C0D888A4D3F656386597E3593C4070D3309E8569B8C47861AEB367FEE2850C9CABE7D5CF8FB2F57EC97F029DD1599BF3C295BD22811322118DA4D8CE84D76712561044E7CA460CE9A24639E28EBBF711B0F612C9F73D45D8F47D840C3F4AF4F22D844CACC57BF2306EAB4FA09DDE8EE7D821C22B76636113437B833B3FB8D2C550B13DC38BE2C9CFCA4425E9BDE3A2E5B8164CA20B2C9C39B3B4B5B5DC31E2A18111B17E1F024A3A481D5A877FED30611523A4D688DBF48BA4E5FE15146C29E5E80FB73074A892BCFA78E69586F1D32FAF32F18064AD6172E0F08FC75BBCD03DC77712B748B245373B9C2AFB701D7A08E396EBE4EDFF0EA99B8E1131FD38316B1EC4B8EA4182979F2660F5593C57DE4FC8D0565C243086850771F9F14E0E6E4CA02441F29D9238ACDD2535C9EFC6BE661D5EF56BC4E0AB8401473A240EDC6160705852D5185CB21AF0A86821A475157913E7092B5D8721269DE613BB881E2B21AA3B9A652F4E72F35F0E71F1FDF55CF9F783F8E5B9E292524652EF4EF4690B714A4B97BCDD1DCFF9B9C44FED206EF345161C7983AA63AF93BBF90CB9FB5E24F7C005B2775F207EFD6542979EC16F40DCEA02315E377B766E2AE3E2B172C65BF5D42C30101A69401D998147CF4E3CC60FE3DCB60E6D4A89640D731818191D925C2848D2E3129C0B5BA8DA769605D36708A89D16238CA7E2D0260AB74FE0561D4BEFC5295EFDFA719EFFB76D5CFEF30E569E5F82213B19C7798D240C6DA170741DDE3992318AEBAD1142F31F7E958263FF44F3A9B7693CF03C0DE7DFA2FEDCF7683AF343AA0EBD49F6AA2770CC2EC5D2A063DDEA45BC7AA19A23F7843059ED42776332CEA161E84B86448A9708DF7211AFBE6D386457A3B275FA8B0426960EA17537E097554B48E5103EE57D785456A1CF8E43E56C8657513C618BCB09EB2CC7B5249CC98BBD9CFF7423D7BED8CCCDAF1FE2B1F70E90D2528865E2225AEEDDC7A2A1B5142EBD8F923D4F336FDF554A4EBD4EEB89376979F00635C7AE5075E43AB5075FA470DD398C95A372A4F4E49EE5E5BC7B6B82EB0F197978CC8BEA706B32638330F38CC2B9763D11F75EC1B8E90281BD5BD167D608036E924ACCDAC0F8D241CC1C2DB0F28F44139485462269FFE151CEFEF309AA57D74A46A925BC2E9FE4BE56FCF36299BE3ECDB61F2D65F264298F7CB485E7BFDEC3CDDF9D21AAB1566CA7928A89F5C4B52DA75818C83B728DF2475FA1EFDCDB2CDE7785EE238F93B7E210EE85BD92526461E7ED496F5B113F7D6133EF5CACE1C832073655DA51E86149B2D1281B988073C356A2375D26F1DEA789E8D98C734683381D5FC9469B674F64534358396870F5F5C0273C8E0039554595F8B3E9B13E96ED1B20BD3815AFB458BC16A6533256C5D9DBE7A8D85726473E6BE6AFC9E7CCC7EB78E58BBD3CF2D3D384952511555A497CEB32AAF65F66D1B1EBD49C7989910B6FD0BAF3316A46A709CA6AC6D63F0EB5BD4AEA4C457C70F3013EBE36CEB5DD71ECEA32D01A65495DAC0F0B1614601E5A42F2AAC7C9B8EF3992379C22BC731DF6A9CDA8AC0344854C12981C93E0A1A7B42A87D1E56D6CDC39C6F88A2574F657D03D524941A5A4C296967206F666FAE965EC7AEF5E02FAE3F06AADC52C2391C63D4DBCF8F5615EFEE201A60EB5CB213E90793DEBA83B789DF9FB2F5072F212ED8F3E47C7AE135CFFCE2DCE9C7F95D0C454328B5C79EBD64A3E7D6D13AFEE9AC78DFB52992CF023C64A45415224C6E46CEC73BAA87CF865CA8EDF247BFB098CBD1BB19B2FA7427B231D26090C0DDDA90B393A9AE117A02221DE9A94B8283A1B3A25C1DBC3915327696811634DF2A3EB7C078D0F4B6964A1818835DB096A9A24BAA79D631FEFE0D2C7DD9C7D7383483082E2E18DE4AE39269EE630295BF653B3FF38B7FECFA7FCFEA38F68ADEDC33FC0C0E34F74F0C5AF77F1CE63B5BCB62D91EB5BD2E891881E2E55C4ACCC70EC7D051676517AF405EACEDE227BDBC344F4ADC566411F2AC7390CF48F8CCD1CD1DC742A7C04127CEC317A487EAFB3C6436FA06A511907F6EC64FFA17BD9F0401FC60237092CB24B1BEBC9DAD18DFB701DD36F1DE4F4472BB9F0AE04A4245FA62431FCF12F7FC1ADF7DF62E5B6E55C7DE611F8EC573C72780361FE6A362C2BE337EF3FCEAF7F7C9053AB03B9F5601857571A19F1B625D34E4D9B1C1DF512F163C736D3F6E87B8C3DF6315D9B5FA0746C37AE7945621BB62281D938302875495B4925C23CB418DD2C09D5ABF173D061B0D713179142784834D151518446F8D1B2A48CED87A7E85C55C9BCAE248C55F1B81584B2FAD51D1CFF742727FE69374E6E566C5BB18CAF3FFD04BEF982CF7FFF33DEB9F904E7B7AF22373A94B20C2FDEBAB20A7E7D86D74E357362990F3776C5F1606B10E59226D48705B0714D3FF6B131C46D3B4AFE531F9079EC2764EF7C997489D88ACB5659B9FCC58D2AC552373B3392839DC808D113E16289C14A2DB560B564809EB87B87E3E411884F4030066F0309C9210C4ED4B279F730492981B885686892E46BFA9DB5D46F2AC7C5DE9C1D527CFDE76BDFE19D1B5779E1DC09D676D531589849A4B527A3E529BC7F7598AF7E22C1F0DE381E5F16CE834B02694B742146ED49557C34DDE296BD62A2187BF21A497B9F2174CF657CD69CC4BF673B0E69EDA2F2C240FBAC04968E0FC96E9B9116EA4876B823715E3ABC6CCCB1B3D061A3759332A11C01053C3CC3898BC92023791ED9A989544B5ABB46F29ECEA654DC8C961827256226B94A6A6EC3507905AB160FD051594B697636CF9F3EC1CDA307F135F764A4228D5B0F2DE2CD03393CBB3486C34D612C9DEF496180033E2A3D7D6D05A427790B13357CF1EF5FB0F7E917086E1D25A0678A80E6616CA2A54E6466F7170626A58CED61AB2255DC625698B530A1C7D3DA0C47ADB594473C3118C271F70823C02F89C498224AF2DAA4B4D141755129E13E6E146685525B3F0FBDD484D47215909160A4287F9178995AB26B16B364E97ADE7EED4D7ACB2B713477A2BD348E07460338D117C8B1FA24B664C5D21CE08851EC2FDC51CFC4B24A3CBD55AC6BAFE2954387F9C1D35739FFE425BAD7AFC73E26460A7041C2807AA6B438938D4E890A19EC541449D96361B42DF9317A7C45A5F41A0DCEB61E047A471216184F62741EF3D31B299CBF98E6BA0992E3A4C06BAE41676946848F072D59F309D13B121CE82FB1A08AD8D1F554ED3B4FFBEED3E496B4E2ED20B51E71167E3E2A72C355F4C5EB198F30D265086281AD940D85F98D1335E45724636165C1A2E4646A937268CC2967E3AA2D1C39771EDFC8689CEC5CB0D5D8D0D5D575E73C30313E4E6C880BC519064A92F4E4845912E2A8C2CB5A838B568FBF6B3009E119E466945352D0426BE328F3D24BB0D3B960275232B83A116CABA3DCE04A51840F768ED68437B513B4E6106E130709ECDA4A90E42F0EF6F63476E4B2766D03DDE53192EBEBC9B37623CD5C76DF4AC7A1ADDDAC5F25F5527B6F82D29A3016F5E3BBA013B7BC562906E462199A4671593BDB07D7911D124FC7E2CE3B12E81D18C6DF604F6B5914433546AAD39D887151619093BFA7D646AA6B69E467D74BD5A187B6C625A4C527E3A05113E222A723F138D9814E2C0A73A439D991F99196C449BCF02B282173C705F22461CBD9FE1CE1252D04847830BC388AB5C371DCBF34879D3D953427C5E36EAEA6A536439CC2245AA93CCF6BDE42D5CE17C8DB7D9DF89DCF12B1FE142EB55364370CF3DE5B1F7074D55A2245D28DCDCD5CBE7CF9B66A70420A5B22DA14A9C5AC6C8FE7DE9E0C2A933C08B7D31068EBC0A2051D727858434D550F060F6FF4366684B89911EFACA23254C7409C9EFE1C479A1A6CD8BC3653F47523519206644F3F41E4E079AC332651E903B0B6D7315C6260FFD244A99BEAA98873A0B33886CC3467AC0497C6D38984B2F5D4EC7D99EC63B74839F63289475E2678F820FA882A2E9C11AF76F31AD3ED59041ACCA5ACD2718781DEA161B96D719C897C9EFE3E54D61470CF78135DE2DF5BE32DA9CACB2639310B576B1B02257FC90E54516154D195AE6664BE9675956E1C1D8BE5FB279B79F7D5BD9456CB2588C187D48601B96F08C7DFD793BA6A7F0E1F2EE597971A79616F365B3BBD290AB520C45ECDD86035B95552BE8F4A65C19667C93CFA2646C956531E7896E8C95D542EDBCAEA8D3BF9E08DD739B66D05A5295EB849B45ED2DDC773CF3D77E750AF720A24540EDA865C4994A460159D142DE5BF44EE6931D25C184D46940FE5C9DE4C5546B1A92982FD03711C5F96CE135B8AB972A0892B477B593F9A476CA48B041927ACA3B2F088CB2648CAEA1B874A78F1E4109FFD7837BF796994E70F96B3A5378E14831975D991E467C41391902CE7884A166E7D049FBE9D7836CA612AAF83A3175FE68BCFBF843F7CC62B674F325C5640B2AB1D1E96E6529598B581A1A11592DD05E32139865FD572C21A56CAC586F85A7B0F82C20358382F9679898194C8629D15490CD424D05D61A47EBE1F45E90671AD525D0B0D409399887F532721DDEB889180A37649C1C5CA938AB070AA3D1DA99384B13AD699F1C644368C8937939CA9402036C81B6B8D391131A984C8696BC3C1B3EC79F81C1BD66DE7373FFB884F7EF22EC7D7AEA53F3F9FD2D878B14F297C49906D121B9839520E0FAF91E4281EFBEC419CABB74AC07888F8E5A730F6ED402FFAEF909C8F3E290B6B6312BAC838B9B1910B8AF45C62AADA485B3C49F6E4BD94ED3C49E9C16758F4E015E6AD3D4772F72E34FA58F496EEA44AB93C41DC6D94D85984AD166771975616E2E19CC5FBC88D8B87BD25610617AE3EF5241FBCFB815C1DCB8E7FF9AFFCAFB75EE4CAF10738B26192E58BEB79F3A5EB7C5FD46860781C1B49735A5A4C0C8C8804ECC2D1A577E1D1B6572A04A789948378CAFD2F92BCEB8678936729DC73898A03D7A83E7095FA4357E97AF4BB749F7B8BBAE3DF257F9F2459F75F65E4FECBEC79E63D563D788984EC4AAC741A42BC24B30DD363F4B1C45BECC72876E42D3EDC566723379B72EB926A243BD38895DA8CBE96067EFBD16FF8FC5FDEE7D30F6EF1DECDB31C59DDCF88A4F91F7EF739C9AD3EE6C6734FD1B1A443D21BCFBFC48171B9305649CE631E5F8643D53DB80F1EC17FCD9344EDBC4EEAA1D7C83BF00295879FA7E9F84B741CBBC9E2879493D5B3346C3F498F04AA7517BEC7F667BECBD9279FE7FAD557593FB98C241F671AF3DC79746F312F5FEEE7C4BE52560D27D018E943B8C6021B73332C6CCD70F672A467B8516287969C9C1C5E7FEBA7FCFCF5EFF1A3C7CF70EDFEDDACAB2863223793DFDDBCC24F4E9FE4CC867B18CCCFC2D74A2EF92490CD94168787A5ACAE77C129A500BB056DD8968FE3D4BA11EF81DD048CED25784A29879C2269F563E46F394FEDAEA7C89DDA4D42FB34098D23F84A90F24C4CC727DA473C8E331E1A89B27906AE1F2CE6C3E797F0D9BBAB796ED77C0EF745B3A32E83E21047A9AED963E3604E90D49EC2C5BECCECB5C4E72D22ADA64FCA8FED14C92561757E254F1C38C68D138F72EEBE1D6CE9E9A4BF601E25122C7D756612C8169B6E29E5A6DEC242EE70E592426E1BCDC2E45C1C2F9136BD562E286AD1E6F663963B8645CE1076856318CAA7F02E1BC53D7F316E398D78E634E39C3A1F27A30316427C55463027D6567178551AC73624B2B3DF8FDD0D216CC8F261BA308A05C17A7213257FAA29923B656B2C85F8F0B40C8A7A9691DBBF8D9CDEB5C4562F215EF2ADE2A601125373098E882128249830B99DF1F77192245318907BE29954627AE6A6DE0C738D1E4B077F342EA152A38942E71A25F7556172A12DB7E59EB172B88F47E79388A54F821400E43E392809736F233A39DF5AF8048B23907B03B94EAA4A49A06F51329DE54152CBB7A76C9E034D71BE34FAFA50211E2BC1572FDE49438D543E4242C2E5EB002D869044526AC6886DDD8221BF074FD104D7B45AB9BDCC913A53125A850647F902406E6774CAFD99B996CECE8E3B0C0CF4C8114D3C84995AF93642F9BE41019BD9EF1E946F194CDF51CC6D95EF16EE7CBBF017B0C049EB889B999CE43496B88AD16AE57CAB7CD062A71C59053CACCCE49C71678E4E8AB5E66AE5FB08E51B0C656DB9C0B608903B604F39837B895DCA6DA6A4DF2A959C0025FF9F793F4397429F8ABAFA5A2E5DBA745B352A5FA8D4D6D6D2D0502F15DF169A9B1AEF40B3099AE477334D4DD22AD0DC446363C30C343536CE40634303F5F575D4D6D55223505DABFC56FA1A056F23F53246819ABA3AEAEAEAA5BF5ED6AC9969159C4D33B8EA251DA915A89B814621B05169A5BFB9A96186A6A6199AEEAC3F2C5FB91C3F7EFC0FAA871F7EF8B662CDCF3FFFFC6D253028F98512A2FF5F4011A532772E287D77E3F83663BECDBA172F5EBC7DEAD4A9DB2FBDF4D247AACCCCCCBF07F4325F81BF07C7DF3237505953F960EA6F993C77CE9B8268F97F2503797979954ACC282C2C189ECB40EF5D842844CD8585F26C1AA3B40A134AAB30A0BC539E95F1A677262695777319FC6B784D7D8977ADA9F42BF395DD36E156DA0F6761F9DD0CFC5E5E9C9B25E6F0EC6FA555FA4D84308BEC86B40A98102AAD3257796F624821682E4EE55959DC8473DBEC7BD318E5BDB2210A28B84DEB2A0C9824ADF429F395B9E7E632A00C525E9A262983EA66072B934D3BAEBC37116DDA65D3B38930D38E9B1852F0CC958832EE6E9CA6310A830A7173C7287395F1A60D51C62A6316CE6540D93565C1B93BA04C30ED84496CA6DD3249CAA43A4ABF32561967DA2DE55991888267AEDD28FDA6F9CABACA98B9F8950D983B4699ABBC9F3B5659EF3F19F15C3D545E2A139489A61D577E2B8BCE0513510AC1CA8E2873143CCA9CB922BFDB51CCC5691AAF8C511835313C778C69734D6315AFF79F24A0A88FC2B1D2A92032894F314805D1CCE0590215C214119A88551852E69AC62AE34C73947EE5F78CCB9B85B9384DEB2A6314E29575140614FCCA5C0514A295359579267C2609FD5F239E6BE5737575AED73119B149BF4D1EC3A4BBA6B10A2EA5CF8453197F3703268F3277CC5C0F647202269CCABBB9634DDAF20F89037F6F1CF9BBE6FF2302D9DF45C01CD5FA9BF0FC7F06668DFBEEE86AD25D53FFDDCF77DBCD5F8BE0DF4A22FF0809285EC814C09456F14EA668ADB426CF628A2FA6A067F230A6B1CAFBB9B1E5BF8C01C563CC8D90CAB3B2C32677A9F86C93DB35B969E5D944B8E2429531A620FAAD0837D9CE3F4202CA82A6083937E2CE0D50770744D378D31893D4E6A61CDF8A917F140377133B376ADF1D614DEF4C2A63521B45A5FE5B54686E343505ACB9515B21D894759A325665C71515535A932D28AAF4DF2281BF1671EF8EDA73BD94E9BC30778CF2FEEE84EFDBAB90A247FF93E17F34F1CAC6FF077354FF43FB8B73D80000000049454E44AE426082)

END
END

-- STD
if (isnull(@sysSiteIDSTD,'') <> '')
BEGIN
select @MenuThueKhacID = sysMenuID from sysMenu where MenuName = N'Thuế khác' and sysSiteID = @sysSiteIDSTD

if (isnull(@MenuThueKhacID,'') <> '')
BEGIN

if not exists (select top 1 1 from sysMenu where MenuName = N'Nhóm thuế TTDB' and sysSiteID = @sysSiteIDSTD and sysMenuParent = @MenuThueKhacID)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Nhóm thuế TTDB', N'List of special tax', @sysSiteIDSTD, NULL, @sysTableID, NULL, 0, NULL, @MenuThueKhacID, NULL, NULL, 1, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500002018494441546843ED9A77749DD595E8AFAEA47BAFBAAEFA55EFEDAAF76249966515ABF7DE2CABF762CB36EE36AED806E36E70C3601B638A8D8D5B4C3110C84020850061425EC21A322F2F0503198640C26FF627EBBE68BCF2072FC99A59B3D65B5A5BE77EE73B679FBDCFAE679FCFECE489D3B76D6CB42A7B5B6BD51FBFFC3795B9855AF5D5575FA9BE51A9541A8D466566A656012A3379365321FF552AB55AC6FCE96B196BA94279FFA73FAB6CCCCC547F529BA9FE5DE6FE59DE7F636EA1FA46FA30339F19A3CCB7F9E397820F79163CCA3BC1FB8DE054F07C2363FE2438D57FB651A9E59D99C5A7B2D01F659EFC7D632363B52ABE51CBBC6F84BE2F559F7EFA89CA68347EA65A36BD92A1A1212627C6191B1D65647898C18101060606191A1E616444FA46947684D159181F1D637848FA472719195FCAE0E018837DC30C0D8ED2D73FC4C0E00883327760689081E141F93D2430C8F0C0102302C3827B7850017996F5147CA363825359677092B121819141E9EF95B68FFEBE3E4686C6191F9B1410BC037D4C4C4C70E0C0813FA8FA8558D99C593097D6524027603D0B1A69957E8B59509EAD66C7D84A6B3FFBAC9D1DAFB4CA7CA53547AD526321F82D54CAB62BFDCA5C1328CF267C4A9FF25BAD8867B6556851FA9456E9173C167768ADAAAAE6C2850BB755E31363331D5A7B67CC348EA82C5D31B3F615F017D9FA48EB83B9BD2FE6B6FE98D905088460E91881DA26148D5D24D60ED158DA86A2750A46E7148AA54D0056764158DBF86365E58BADE0B2151CB6D67EA87521A8ADC230B70EC7C23A124B019D8D113B8758EC1D62644E049656DE58EA0C586A83D16A8D33A0D1046363E787838B3B762E36A84573DBDADAB87AF5EA6DD5E4E4F80CC7663A27D48E8198391BB1F44842E39186DA25152B4332363E29587B6760ED938D956FAEFCCE45E39689B35F3E4E5EB9E81CA3505B7BA07737CA2242903E1A9D7D0C1676B1C27C22E64EE9A89D32D11816A0F5CA47EB5984CE63113AB712C15F86ADA780A1182BF7022CDD5264ED6434CE0BD139970B94A1D367CAA6050BB8616E279212B3EBECE8E4C68D1BB7554BA7A6EE884C38B41062B58179688316611552816D58154EE165D80517601B5A8A83B11EEB881A2CFD4BA5AF02E7B072613A15DFD01C8CC658B43A67C2C2D3B1B50FC5DE3D157D60118E117568229A5005D6A0F65F843AA004B55F0DE6BE8DA8BD5B50195A31F36A45EDD3227DAD9807976365ACC5DCAF03EB8021EC83BAB1F12D44E71589CA418FB983A2251A3ADADBB976EDDA6DD5D4F8B4306087B9AB101090876D4C23D6D12DD8C4B46117DB8E7D94101D568136A21E9DF4594436A38D6CC456FAF5C60A2C5D92F10B4E6674A80B637818CEA28A0BB28B090D154644D52CDC12D086CBAE1B8599D862B4618598F9160BD409B4A2F26A43E5BB1875D0122C42FB501B9B308F6BC32C64089BD04961A2199D5F0A2AAD06DF703F22E313440216B48B0ACD30303EB2527CA4011BFF5C59A8126D5C3B16319D98470BB151AD584509C142BC853C6B12966016DB8965423B3671F578670A13510BB1F70E222AD29BECF4584A72D238BC7D23974F9FE2FE7B375055598AC1CF80C6D1069DC10FC790043C648EB36C8A6DB06C4E481B56C1ED68A4B5086E95B56B057F936C522F4E51C3A2B60B50E9AC884B0E64FF832B28CE49C75C6CB6D56403A383AB5069FC708A2C939D6F9E21521D27840A132AA3208FEE90DD13E4B15D58A4F4A24A9036B9139B94269156019EA9C5F82526121BE749A89F3DA519D1E484B8315C1CC79A964C0EAFAEE3E4F676B62C5DC4BCFC14DC030351D918C4E0E370F42BC229A41E879026ECC31B718890DD8EAFC632BE01BBE82E3C63BAB1D007939C19CC3B3F7A882DD3C5E4FA3B62230C340B0357AE5CB9AD1A1E5E89996D884C2EC72E5E54267D105D729F30D02ED08A26BA1CF39832D4B1226ED97D756A0FBA791DD8A695E39753866F6226D10B9A70086AC5C92F95A8442F1C6C1C70B3722736C893B2EC00BA8B4359D51ECEEE15551CDDBE984D538554E7F910EAEF2EC62ED271128FE51983D63B1E4B276F315457D9546F6CC4A1D86A1DA8CC8A61BA2D9DE9C559D497A78A6B9EE3858647C4062C3CD0F8CC171DAC911DE8429BD883599CA84A5217B619F5D256A311A6ACD3C7D1A676A04BAAC05518F04A2C202C398BE4826E31C8013CA36B492A4DC61091867B48233A6FD17F4747823CDCC84FF560495110A33501DC3B10C9C1B5D91CD958C1C907C679FAC2319EFDCED33C71E3291E3FBD8A3DDBEA6869CDC6D5D51A376BF1387971D4A5FAF2C0FA41BC43C5A55BDBD1DEDA7AC78D4E8C2E43AD76103D0BC54ABC8A45A4E89F306091D48DA5A88C79823090BC045DE2325C3397A14FA92428A712DFF80A31AA620A2B3A70700F12634EC23FB69084925CAC820A714C5A8163661776498B64730AC4CB85E0A6772637C58FE6F2305A8AFCA84FF762EB921C1E59DBC17DBD791C9EAAE2A14D8B3875B8822B172778E6FC0AF66C6E62DF9A4A6AB23D71B3D7882B3560E1E04E5B6BCB1D06A62796525054477E7937660E7168C475DA2477C98E8B1492BBD166894D240F629FB04ABC4E0BD17905F844846127412C44DC6252421E6E9E7AD92D679C0C11442F2CC422A40355D46A54894B5065B688BADD835BD21486D81234EEFED8B8BA131FE747C5FC0836F654736CAA836DB5A96CAF88A27FA10FE921762406AAA9C90F60EBF4024EEC6CE6DEC9528CC16EA272CEA25E0EE2856625B06E7A2955A5355CBCF4322D3D6B30D3C7E398D8807DDA62ACD264E773DAB1CE19C0216E0897882C9C7C74B8BBEB08F131121990457478246FBC799186DA85989B3B109A3C5F24398079D23AD419CD98CD2BC6396510AFD83E7106755809134E890BB10D9448ECE889876704819EA14478F8901D164263F60286AA9B68C89D476B6122C777F4539BEDCE924A235B56B450921B8BE49BA262B39178DDB22992A3A2397DFC341F7CF03106DF781177182E09953824D5A18ACBC72E53824BD83C021243D8B6A78F9FBE7F859307F7F3D09EFDF2FB7B7CF6F95B2CCC4D9BC97F828D89F8C6F5621F3F8C45621AAEF3E3C958D44C74740E3D533B691E5E8773648AE04B120F5681436439368112E024EAAB6CC265130CD8CA4644FBFAB271AC99EA2C5FFAEB12692BF2A732CD95351D3994A587D2D2D671270EAC9C1A272A3040B85BC1873FFC2123BD23742F1EE5D60F7EC6F77FF13B4A4757A10D0D25AE3481573E7C9CAF788F377E708125DD551C39B2459E7FCE37FC825FFFF657944982A575342732B98ED4B2692A46863979F3117EF2B30F78EE99B3FCF2BDF7F9507EEF3FF130153D03F8E7D660257E5FAFD8984479955386A887B51097C63B6F1DE6D9C7C6289DE7C6C2643DCD45916CE82DA63DC99396EC68C97247B97EFDBAE442E31304B839D35B5DC2D1CDABF9D18D4BFCFCED37F8FC93DFF2F60FDE26AF5ADC63909E4B3FDACAEBBF3A40F3680911896144A4FAD3D093CDFFFEF44DDA476A79FDE73FE4B33F7E424659B8A88607D9552BA85DB69EC2816E0ADA862813BF5D545645764929C5BDDD64760F13D1348675E66234491D582534621E512CC1CE968DEB13F8EC5F0F71E34C3B2BFBE3498971446F6B4E757E1AC3A51944B96869EFECBA63C4C39263FB39D9D39293C0D2F22C8E2EEFE6FC7DF7706EEF56FA9B4AB0B776A7BA39970FBFDA47EF7D31E882DC09CD113D8E70E5D6CF1EE3ECA57DF8278751B8A28E773EF91E4FBE2512F3D4E11C25C69BDC8836AD5E547004D7FC2EF4799D68B2245529EB4155DC83B666256ECD3B702E5B25EF25F644E6E1E16DCD435B8BF8E895AD74E5D8529AEC2E36BA10B5D656B2556BA2FD1C89F2D7D3DADA7E27900DC9A1C45AD2D3605F03E10637A203BCC84EF0625EBC81F840776C1DEC99BAAF891FFF6127F563FE782748CAEB1242414D16BFE2354ADBB2C8AC2D24A83991FA7585BCFFA727C96BCFC33AA61EDFD6DDB875ECC5ABEB61DCDB37E3DE7D08D7BEFBD00F6CC77A700F9A81FDD8F4EFC3B5E37E02AA37A08B2892E0A6E1B5D3635CDED546A9BF968D433DC4C6E74AA4CEC5392243D2700992AE8EF4F7F7DF91C0D888A4D3F656386597E3593C4070D3309E8569B8C47861AEB367FEE2850C9CABE7D5CF8FB2F57EC97F029DD1599BF3C295BD22811322118DA4D8CE84D76712561044E7CA460CE9A24639E28EBBF711B0F612C9F73D45D8F47D840C3F4AF4F22D844CACC57BF2306EAB4FA09DDE8EE7D821C22B76636113437B833B3FB8D2C550B13DC38BE2C9CFCA4425E9BDE3A2E5B8164CA20B2C9C39B3B4B5B5DC31E2A18111B17E1F024A3A481D5A877FED30611523A4D688DBF48BA4E5FE15146C29E5E80FB73074A892BCFA78E69586F1D32FAF32F18064AD6172E0F08FC75BBCD03DC77712B748B245373B9C2AFB701D7A08E396EBE4EDFF0EA99B8E1131FD38316B1EC4B8EA4182979F2660F5593C57DE4FC8D0565C243086850771F9F14E0E6E4CA02441F29D9238ACDD2535C9EFC6BE661D5EF56BC4E0AB8401473A240EDC6160705852D5185CB21AF0A86821A475157913E7092B5D8721269DE613BB881E2B21AA3B9A652F4E72F35F0E71F1FDF55CF9F783F8E5B9E292524652EF4EF4690B714A4B97BCDD1DCFF9B9C44FED206EF345161C7983AA63AF93BBF90CB9FB5E24F7C005B2775F207EFD6542979EC16F40DCEA02315E377B766E2AE3E2B172C65BF5D42C30101A69401D998147CF4E3CC60FE3DCB60E6D4A89640D731818191D925C2848D2E3129C0B5BA8DA769605D36708A89D16238CA7E2D0260AB74FE0561D4BEFC5295EFDFA719EFFB76D5CFEF30E569E5F82213B19C7798D240C6DA170741DDE3992318AEBAD1142F31F7E958263FF44F3A9B7693CF03C0DE7DFA2FEDCF7683AF343AA0EBD49F6AA2770CC2EC5D2A063DDEA45BC7AA19A23F7843059ED42776332CEA161E84B86448A9708DF7211AFBE6D386457A3B275FA8B0426960EA17537E097554B48E5103EE57D785456A1CF8E43E56C8657513C618BCB09EB2CC7B5249CC98BBD9CFF7423D7BED8CCCDAF1FE2B1F70E90D2528865E2225AEEDDC7A2A1B5142EBD8F923D4F336FDF554A4EBD4EEB89376979F00635C7AE5075E43AB5075FA470DD398C95A372A4F4E49EE5E5BC7B6B82EB0F197978CC8BEA706B32638330F38CC2B9763D11F75EC1B8E90281BD5BD167D608036E924ACCDAC0F8D241CC1C2DB0F28F44139485462269FFE151CEFEF309AA57D74A46A925BC2E9FE4BE56FCF36299BE3ECDB61F2D65F264298F7CB485E7BFDEC3CDDF9D21AAB1566CA7928A89F5C4B52DA75818C83B728DF2475FA1EFDCDB2CDE7785EE238F93B7E210EE85BD92526461E7ED496F5B113F7D6133EF5CACE1C832073655DA51E86149B2D1281B988073C356A2375D26F1DEA789E8D98C734683381D5FC9469B674F64534358396870F5F5C0273C8E0039554595F8B3E9B13E96ED1B20BD3815AFB458BC16A6533256C5D9DBE7A8D85726473E6BE6AFC9E7CCC7EB78E58BBD3CF2D3D384952511555A497CEB32AAF65F66D1B1EBD49C7989910B6FD0BAF3316A46A709CA6AC6D63F0EB5BD4AEA4C457C70F3013EBE36CEB5DD71ECEA32D01A65495DAC0F0B1614601E5A42F2AAC7C9B8EF3992379C22BC731DF6A9CDA8AC0344854C12981C93E0A1A7B42A87D1E56D6CDC39C6F88A2574F657D03D524941A5A4C296967206F666FAE965EC7AEF5E02FAE3F06AADC52C2391C63D4DBCF8F5615EFEE201A60EB5CB213E90793DEBA83B789DF9FB2F5072F212ED8F3E47C7AE135CFFCE2DCE9C7F95D0C454328B5C79EBD64A3E7D6D13AFEE9AC78DFB52992CF023C64A45415224C6E46CEC73BAA87CF865CA8EDF247BFB098CBD1BB19B2FA7427B231D26090C0DDDA90B393A9AE117A02221DE9A94B8283A1B3A25C1DBC3915327696811634DF2A3EB7C078D0F4B6964A1818835DB096A9A24BAA79D631FEFE0D2C7DD9C7D7383483082E2E18DE4AE39269EE630295BF653B3FF38B7FECFA7FCFEA38F68ADEDC33FC0C0E34F74F0C5AF77F1CE63B5BCB62D91EB5BD2E891881E2E55C4ACCC70EC7D051676517AF405EACEDE227BDBC344F4ADC566411F2AC7390CF48F8CCD1CD1DC742A7C04127CEC317A487EAFB3C6436FA06A511907F6EC64FFA17BD9F0401FC60237092CB24B1BEBC9DAD18DFB701DD36F1DE4F4472BB9F0AE04A4245FA62431FCF12F7FC1ADF7DF62E5B6E55C7DE611F8EC573C72780361FE6A362C2BE337EF3FCEAF7F7C9053AB03B9F5601857571A19F1B625D34E4D9B1C1DF512F163C736D3F6E87B8C3DF6315D9B5FA0746C37AE7945621BB62281D938302875495B4925C23CB418DD2C09D5ABF173D061B0D713179142784834D151518446F8D1B2A48CED87A7E85C55C9BCAE248C55F1B81584B2FAD51D1CFF742727FE69374E6E566C5BB18CAF3FFD04BEF982CF7FFF33DEB9F904E7B7AF22373A94B20C2FDEBAB20A7E7D86D74E357362990F3776C5F1606B10E59226D48705B0714D3FF6B131C46D3B4AFE531F9079EC2764EF7C997489D88ACB5659B9FCC58D2AC552373B3392839DC808D113E16289C14A2DB560B564809EB87B87E3E411884F4030066F0309C9210C4ED4B279F730492981B885686892E46BFA9DB5D46F2AC7C5DE9C1D527CFDE76BDFE19D1B5779E1DC09D676D531589849A4B527A3E529BC7F7598AF7E22C1F0DE381E5F16CE834B02694B742146ED49557C34DDE296BD62A2187BF21A497B9F2174CF657CD69CC4BF673B0E69EDA2F2C240FBAC04968E0FC96E9B9116EA4876B823715E3ABC6CCCB1B3D061A3759332A11C01053C3CC3898BC92023791ED9A989544B5ABB46F29ECEA654DC8C961827256226B94A6A6EC3507905AB160FD051594B697636CF9F3EC1CDA307F135F764A4228D5B0F2DE2CD03393CBB3486C34D612C9DEF496180033E2A3D7D6D05A427790B13357CF1EF5FB0F7E917086E1D25A0678A80E6616CA2A54E6466F7170626A58CED61AB2255DC625698B530A1C7D3DA0C47ADB594473C3118C271F70823C02F89C498224AF2DAA4B4D141755129E13E6E146685525B3F0FBDD484D47215909160A4287F9178995AB26B16B364E97ADE7EED4D7ACB2B713477A2BD348E07460338D117C8B1FA24B664C5D21CE08851EC2FDC51CFC4B24A3CBD55AC6BAFE2954387F9C1D35739FFE425BAD7AFC73E26460A7041C2807AA6B438938D4E890A19EC541449D96361B42DF9317A7C45A5F41A0DCEB61E047A471216184F62741EF3D31B299CBF98E6BA0992E3A4C06BAE41676946848F072D59F309D13B121CE82FB1A08AD8D1F554ED3B4FFBEED3E496B4E2ED20B51E71167E3E2A72C355F4C5EB198F30D265086281AD940D85F98D1335E45724636165C1A2E4646A937268CC2967E3AA2D1C39771EDFC8689CEC5CB0D5D8D0D5D575E73C30313E4E6C880BC519064A92F4E4845912E2A8C2CB5A838B568FBF6B3009E119E466945352D0426BE328F3D24BB0D3B960275232B83A116CABA3DCE04A51840F768ED68437B513B4E6106E130709ECDA4A90E42F0EF6F63476E4B2766D03DDE53192EBEBC9B37623CD5C76DF4AC7A1ADDDAC5F25F5527B6F82D29A3016F5E3BBA013B7BC562906E462199A4671593BDB07D7911D124FC7E2CE3B12E81D18C6DF604F6B5914433546AAD39D887151619093BFA7D646AA6B69E467D74BD5A187B6C625A4C527E3A05113E222A723F138D9814E2C0A73A439D991F99196C449BCF02B282173C705F22461CBD9FE1CE1252D04847830BC388AB5C371DCBF34879D3D953427C5E36EAEA6A536439CC2245AA93CCF6BDE42D5CE17C8DB7D9DF89DCF12B1FE142EB55364370CF3DE5B1F7074D55A2245D28DCDCD5CBE7CF9B66A70420A5B22DA14A9C5AC6C8FE7DE9E0C2A933C08B7D31068EBC0A2051D727858434D550F060F6FF4366684B89911EFACA23254C7409C9EFE1C479A1A6CD8BC3653F47523519206644F3F41E4E079AC332651E903B0B6D7315C6260FFD244A99BEAA98873A0B33886CC3467AC0497C6D38984B2F5D4EC7D99EC63B74839F63289475E2678F820FA882A2E9C11AF76F31AD3ED59041ACCA5ACD2718781DEA161B96D719C897C9EFE3E54D61470CF78135DE2DF5BE32DA9CACB2639310B576B1B02257FC90E54516154D195AE6664BE9675956E1C1D8BE5FB279B79F7D5BD9456CB2588C187D48601B96F08C7DFD793BA6A7F0E1F2EE597971A79616F365B3BBD290AB520C45ECDD86035B95552BE8F4A65C19667C93CFA2646C956531E7896E8C95D542EDBCAEA8D3BF9E08DD739B66D05A5295EB849B45ED2DDC773CF3D77E750AF720A24540EDA865C4994A460159D142DE5BF44EE6931D25C184D46940FE5C9DE4C5546B1A92982FD03711C5F96CE135B8AB972A0892B477B593F9A476CA48B041927ACA3B2F088CB2648CAEA1B874A78F1E4109FFD7837BF796994E70F96B3A5378E14831975D991E467C41391902CE7884A166E7D049FBE9D7836CA612AAF83A3175FE68BCFBF843F7CC62B674F325C5640B2AB1D1E96E6529598B581A1A11592DD05E32139865FD572C21A56CAC586F85A7B0F82C20358382F9679898194C8629D15490CD424D05D61A47EBE1F45E90671AD525D0B0D409399887F532721DDEB889180A37649C1C5CA938AB070AA3D1DA99384B13AD699F1C644368C8937939CA9402036C81B6B8D391131A984C8696BC3C1B3EC79F81C1BD66DE7373FFB884F7EF22EC7D7AEA53F3F9FD2D878B14F297C49906D121B9839520E0FAF91E4281EFBEC419CABB74AC07888F8E5A730F6ED402FFAEF909C8F3E290B6B6312BAC838B9B1910B8AF45C62AADA485B3C49F6E4BD94ED3C49E9C16758F4E015E6AD3D4772F72E34FA58F496EEA44AB93C41DC6D94D85984AD166771975616E2E19CC5FBC88D8B87BD25610617AE3EF5241FBCFB815C1DCB8E7FF9AFFCAFB75EE4CAF10738B26192E58BEB79F3A5EB7C5FD46860781C1B49735A5A4C0C8C8804ECC2D1A577E1D1B6572A04A789948378CAFD2F92BCEB8678936729DC73898A03D7A83E7095FA4357E97AF4BB749F7B8BBAE3DF257F9F2459F75F65E4FECBEC79E63D563D788984EC4AAC741A42BC24B30DD363F4B1C45BECC72876E42D3EDC566723379B72EB926A243BD38895DA8CBE96067EFBD16FF8FC5FDEE7D30F6EF1DECDB31C59DDCF88A4F91F7EF739C9AD3EE6C6734FD1B1A443D21BCFBFC48171B9305649CE631E5F8643D53DB80F1EC17FCD9344EDBC4EEAA1D7C83BF00295879FA7E9F84B741CBBC9E2879493D5B3346C3F498F04AA7517BEC7F667BECBD9279FE7FAD557593FB98C241F671AF3DC79746F312F5FEEE7C4BE52560D27D018E943B8C6021B73332C6CCD70F672A467B8516287969C9C1C5E7FEBA7FCFCF5EFF1A3C7CF70EDFEDDACAB2863223793DFDDBCC24F4E9FE4CC867B18CCCFC2D74A2EF92490CD94168787A5ACAE77C129A500BB056DD8968FE3D4BA11EF81DD048CED25784A29879C2269F563E46F394FEDAEA7C89DDA4D42FB34098D23F84A90F24C4CC727DA473C8E331E1A89B27906AE1F2CE6C3E797F0D9BBAB796ED77C0EF745B3A32E83E21047A9AED963E3604E90D49EC2C5BECCECB5C4E72D22ADA64FCA8FED14C92561757E254F1C38C68D138F72EEBE1D6CE9E9A4BF601E25122C7D756612C8169B6E29E5A6DEC242EE70E592426E1BCDC2E45C1C2F9136BD562E286AD1E6F663963B8645CE1076856318CAA7F02E1BC53D7F316E398D78E634E39C3A1F27A30316427C55463027D6567178551AC73624B2B3DF8FDD0D216CC8F261BA308A05C17A7213257FAA29923B656B2C85F8F0B40C8A7A9691DBBF8D9CDEB5C4562F215EF2ADE2A601125373098E882128249830B99DF1F77192245318907BE29954627AE6A6DE0C738D1E4B077F342EA152A38942E71A25F7556172A12DB7E59EB172B88F47E79388A54F821400E43E392809736F233A39DF5AF8048B23907B03B94EAA4A49A06F51329DE54152CBB7A76C9E034D71BE34FAFA50211E2BC1572FDE49438D543E4242C2E5EB002D869044526AC6886DDD8221BF074FD104D7B45AB9BDCC913A53125A850647F902406E6774CAFD99B996CECE8E3B0C0CF4C8114D3C84995AF93642F9BE41019BD9EF1E946F194CDF51CC6D95EF16EE7CBBF017B0C049EB889B999CE43496B88AD16AE57CAB7CD062A71C59053CACCCE49C71678E4E8AB5E66AE5FB08E51B0C656DB9C0B608903B604F39837B895DCA6DA6A4DF2A959C0025FF9F793F4397429F8ABAFA5A2E5DBA745B352A5FA8D4D6D6D2D0502F15DF169A9B1AEF40B3099AE477334D4DD22AD0DC446363C30C343536CE40634303F5F575D4D6D55223505DABFC56FA1A056F23F53246819ABA3AEAEAEAA5BF5ED6AC9969159C4D33B8EA251DA915A89B814621B05169A5BFB9A96186A6A6199AEEAC3F2C5FB91C3F7EFC0FAA871F7EF8B662CDCF3FFFFC6D253028F98512A2FF5F4011A532772E287D77E3F83663BECDBA172F5EBC7DEAD4A9DB2FBDF4D247AACCCCCCBF07F4325F81BF07C7DF3237505953F960EA6F993C77CE9B8268F97F2503797979954ACC282C2C189ECB40EF5D842844CD8585F26C1AA3B40A134AAB30A0BC539E95F1A677262695777319FC6B784D7D8977ADA9F42BF395DD36E156DA0F6761F9DD0CFC5E5E9C9B25E6F0EC6FA555FA4D84308BEC86B40A98102AAD3257796F624821682E4EE55959DC8473DBEC7BD318E5BDB2210A28B84DEB2A0C9824ADF429F395B9E7E632A00C525E9A262983EA66072B934D3BAEBC37116DDA65D3B38930D38E9B1852F0CC958832EE6E9CA6310A830A7173C7287395F1A60D51C62A6316CE6540D93565C1B93BA04C30ED84496CA6DD3249CAA43A4ABF32561967DA2DE55991888267AEDD28FDA6F9CABACA98B9F8950D983B4699ABBC9F3B5659EF3F19F15C3D545E2A139489A61D577E2B8BCE0513510AC1CA8E2873143CCA9CB922BFDB51CCC5691AAF8C511835313C778C69734D6315AFF79F24A0A88FC2B1D2A92032894F314805D1CCE0590215C214119A88551852E69AC62AE34C73947EE5F78CCB9B85B9384DEB2A6314E29575140614FCCA5C0514A295359579267C2609FD5F239E6BE5737575AED73119B149BF4D1EC3A4BBA6B10A2EA5CF8453197F3703268F3277CC5C0F647202269CCABBB9634DDAF20F89037F6F1CF9BBE6FF2302D9DF45C01CD5FA9BF0FC7F06668DFBEEE86AD25D53FFDDCF77DBCD5F8BE0DF4A22FF0809285EC814C09456F14EA668ADB426CF628A2FA6A067F230A6B1CAFBB9B1E5BF8C01C563CC8D90CAB3B2C32677A9F86C93DB35B969E5D944B8E2429531A620FAAD0837D9CE3F4202CA82A6083937E2CE0D50770744D378D31893D4E6A61CDF8A917F140377133B376ADF1D614DEF4C2A63521B45A5FE5B54686E343505ACB9515B21D894759A325665C71515535A932D28AAF4DF2281BF1671EF8EDA73BD94E9BC30778CF2FEEE84EFDBAB90A247FF93E17F34F1CAC6FF077354FF43FB8B73D80000000049454E44AE426082)

END
END

if not exists (select top 1 1 from Dictionary where Content = N'Nhóm thuế này đã được hạch toán!')
	insert into Dictionary(Content, Content2) Values (N'Nhóm thuế này đã được hạch toán!',N'This tax code has been processed!')
	