USE [CDT]
DECLARE @sysSiteIDPRO INT
DECLARE @sysSiteIDSTD INT
DECLARE @sysMenuThueKhac INT
DECLARE @sysMtTable INT
DECLARE @sysDtTable INT
DECLARE @Query NVARCHAR(MAX)
DECLARE @sysFieldID INT
DECLARE @sysReportID INT

SELECT @sysSiteIDPRO = sysSiteID FROM sysSite WHERE SiteCode = N'PRO'
SELECT @sysSiteIDSTD = sysSiteID FROM sysSite WHERE SiteCode = N'STD'

--------------------------------------------------------------------------------------------------------------
--
-- TEST
--
--------------------------------------------------------------------------------------------------------------
--SELECT @sysReportID = sysReportID FROM sysReport WHERE ReportName = N'Bảng kê chứng từ thuế TTĐB bán ra'
--DELETE [sysReportFilter] WHERE [sysReportID] = @sysReportID
--DELETE sysReport WHERE ReportName = N'Bảng kê chứng từ thuế TTĐB bán ra'

--SELECT @sysMtTable = sysTableID FROM sysTable WHERE TableName = 'MTTDBOut' AND sysPackageID = 8
--DELETE sysField WHERE sysTableID = @sysMtTable
--DELETE sysTable WHERE TableName = 'MTTDBOut' AND sysPackageID = 8

--SELECT @sysDtTable = sysTableID FROM sysTable WHERE TableName = 'DTTDBOut' AND sysPackageID = 8
--DELETE sysField WHERE sysTableID = @sysDtTable
--DELETE sysTable WHERE TableName = 'DTTDBOut' AND sysPackageID = 8

--------------------------------------------------------------------------------------------------------------
--
-- Tao menu trong quy trinh nghiep vu
--
--------------------------------------------------------------------------------------------------------------
-- PRO
IF ISNULL(@sysSiteIDPRO, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDPRO

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 12
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 12)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (12, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDPRO)

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo bảng kê TTĐB đầu ra' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo bảng kê TTĐB đầu ra' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê TTĐB đầu ra', N'Edit list of Special Consumption Tax out', @sysSiteIDPRO, NULL, NULL, NULL, 7, NULL, @sysMenuThueKhac, 5810, N'ListTTDB.ListTTDB', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001917494441546843CD59075455E7B23EA8B14573639A26CF24368C263751638F89BD9BC492D8B0476305456C875E05014544514010549A0282825868529426BDD7C3A17790268AF0BD192EDB7754BC4AEEBDEB5DD69AB5F7FECFCCFCF34DFB676FE400883AFB9393FBA69F48F4F92891E89DBE22915C07CB3FBBF26FDD887A10F1BDC0CBFADB88F84A6BEF347713F56B2D43B5775AA71B77759101BC4CA26E9B667DF6835EE1FA03CED8A5E9819D1AEED8AEEE866DAA6ED82ABE8A2D47AE60F361576C3AE48A0D075CB05EC5190AFB9DB196AE6BF6BB6015D14A6567FCB6D7092B141DB16CF7252CDDE1805F775CC44F4B0F61C5DA3D1839FD8C72677B7775ED55E345EFF4FC729A7E7EA6A48274BDFAD7D606B4B4B4A2B9B905F58D4F50FBE8312A6B1A515AD980C2B23A488B6B91535083CCBC2AA4E6542031B30CB1A9C5884A2A447472092CAC5CA0A1A90E45156D4CFDCDC4ACAB06BFE2EC571644F3A62AE979B55BDEF2AC058F1F3F416B733D9E36D7A2BEA116E5558F905FFC08B9646496B40A69B91548CE2A477C7A1962524B1145463E482842485C2102A3F3E1179907BF0739F00DCDC4ADB01C1C3DE9084D5D031C3F618CFD87D53177A39EB7A8AF63FFBF0AA49308FCFEFB71DBE076004D8F1FA3BEAE114F1A6AD0DA52864735152829AB447E215D8B0B9123298644928FF4EC02E464E7222D231709A9B98849CAC6C3F84C24C427233C3A053E21D9B81E94811BF7B2A167E6083D2313589DB78591B1110E8955B164B35ABC68B4C1977F05442700962FD13E75A71D407D633D6AC8E3CF1E97A0B6B68C8C2F47417129B2F34A515C948782825C48A5D904808CCFCA2610A9C8CA4E466A461212921391941C8BC8D878780466C1C33F0D1E0199D032BD0C13B3D3707577C3E9B3E76078EC18C4AA622CDD78A0A8DFD72AE3BB0AA213000BA628E97AE1596B1B6A6A6B5055598962F27A694909CACA0A91915B82C4F412C4A6705E17239CD2252CBE10C1318508882EC09DC87CF83E90C23B4C02CF7BB9EDC6BBF9A7C3E5762A5CEF64406CE88093676C70DBDF0F179D9CDB411C2510AA6A62FCB67E6FFDA0B17B7FEE0A884E00CC1CC39DE63115A9B4A8963C4DDE2E2C42A1349F52A410B14945884E2C40447C3EEEC7E623E4A114415152F845E4E1F603096E86E5E246700EAE05B1E19970B9930E47DF54387827E3A24F1AF669D9C0C6DE89522B1A9EDE3E04C2E93908357531566F52C2D0C98A5BDE16442700268F5CBBCFB1ADE6511375932AE4543521B3A209A9654D482E694452493DE28BEA115B588F87057588CAAF4304D103E92384496A11945D03BFF42ADC4AA9807742193C634AE0165104E7B07C38851561EF5107B85CBB81D4CC4C04868476801022610C350D55ACDBA288AFA6291E781B109D0018FBC5B29DF64F8BCB1E214D5289BCFA063C6ECB244A234A41535B22511C510C9A5AA3D0D4128EC6A761686C0E466363201AEAFC505F731B75153E7854721D3505D7502DB98AAA2C175413399E52C25DFF3B909694E16142623B082F1F1F5CA2743A73CE8AD2E91F20366CDD83BF4FDFA3F126109D00183970C1669B86DCFC4A24500FCFAE7D443A2288C288B83B05107191FB12DD005AAF014FAF028F5D80C6CBC0237BA0FA3C506105949C010A4F017927806C1320D308EEA6BF53878A476D732B8AAB6A91999B8BFB0FE370E38E3F2E5D71C759EA4E26278E43574F0BDBF7ECC7F4A56A2AFF0C44270006BC3F7DCDD9EA94AC523A788A915E534BF2F7898288FC3B8CBF49D7EB401B19FFCC0D7842C63791F1F5647CAD2D5045C6975902C5647C3E199FFB0FE391A60F37D3D5386D6E8433E6C7606CA001E503877168E73AEC5DBF044A2B6763C5A27998F8E3224C9D3E1FB3E72EC49499CBF091FCFA31AF03D10980EE7D262E3F5516935C880771F948222F3D23EFB72290C88FE836910F91175ADB3CE87CB88A5602D0FAF8325AEB1DD04A005A2BADD14A009E155AE0599E199E659BE259BA115A520D91E5AD0C53C5E938B66D124C76CDC69ACD7BE172701E7C5517224C632E74FEFC13E3976862D27C454C98BD1D1F8D5C06B9F77E9ED30500A21EDF2D39210D8DCE4570542EA24AEB10535983286AA591A595082FADC0839272BAAF401875A890A21204171623B8A01881D242DCCD96C2379D3A111D661EB119708D4C81636822EC03E260732B1A563E5130770B85A963200CED83A06E130E2D8B5B5033F5C621030FEC50BF81352AD7B072AF3356ED73C18839C610F5DF3EA52B00E4BE9A6792792734037EF7B310965F8DCA867BA86BBC89478D54988D5EA86DB88AA8927CE457DD41CD230754571195DBA1AAC41A9505675129398D8A2C7394A71D4759D23194C61E4549A42E4AC2B4501CA486623F318A7C5590E2A10953EBEB905EDE893CDB6D905829C05ACF185377F960FE266BFCB2C9121F4ED0A63176E5C8B706C08C436618A678DD4D82EFBD7404E555E32938E79D899C882E125923B63C13D54D5403A079ECE949AA0153AA8163408D0115B02E15B02650A046F97F98F29F3A62CA3E205E1188DA4925F527706F236A7D946076CE1DF05845EA57008E8B70595707262B1491BCFF0F48CC0D70C7C80CD19A9A3BBA0460D014FD0417EF5878DD4DC1DD9C2AAA014F92A7CE021BA2B34427105396828A862B74AF47454C4637EA5007A2AE57A50A941F028AF603D2BDD47D7603E9B47FE25620763335B4F540E85A207005AABDB6E3D869D2717531193F9F7CB318B55CAF3B67D13647802B16408807C950D73BAB492DAD93D1BFB3C501E3751EDA5D8D84BB6F027C322A90DD140B696330F22895F21A02896E23B8281771E511C8ADBF81DC1A6FE4567A21A7FC1AB28AAE2223CF85662347A4A43A2031DE0EF1D1D688B97F16D1411688B86D86FB374C10EA6E80EB0E2770E8F875DCB554838F852652C5BF022BDE038E4C050CE9DE8280DB91636E38005E1780B5E3C90B2F8278A50B3143BFEFB4C34F5F0A83F3F518782697E2417521222A33104EF4A0221D0F2A53708B0AD6AF201B611589082D252A49A0628E4340EE43DCCD88806FD27DDC880986474420AE04DF85D3DD5B344E78C3D6DD13E79CDC6071C10906E4FD6D476F41DFD006FBD56C11BEFAEFC02E3249770060FE0D797D1E60B5913296D2F02A45FEC0323E905EB0B95300BDBFD60A31B60EC445F72838C795A2AE8D7A3D28BF41FD1C86446A54C4E19054735DD08B5533E578035D6B28C72B28C78B29C7A534CE64D3E6690A943EAB8187BF010F9651EED3AC7677119D833351E4B41E6A469728FF7FC05D95A978B68FCC39417481C8B13770690865ED34E014C99EA63DFE9C95FC5600BA8FD4F0E791DAD6251CF69125287FC6C52A00A003890044148722AD9C80B551AE3751CED7D1B58A72BE8C72BE90422FA1686752CE2753CEC751CE47AEA4DC5F4E6721A5862FE5FCF5D9C870D80803137B641E9D880D3B0E22FDEC5C5A27E3C38822896E76A314FA84408D0354A946160EE6427C730444C3347C0F1BFBE01CA5915568114A5BA853408B88BA4BFB753F228BFD9154CA45BC9DC608F27C1D79BE6A1B0120CF176EA0EE439ECFA0EE924CDE8B5D4A85489E0F5908F8515ADCA422F59A8CF40BEB20D6B5C6DEA5E3A069644EF39007E23DC8E3B564784D07888B9C525417EBDF6FC070D1B0B7033044DD4B51D793F23418160179C8787C07F52DA6A86B3949644AF73A08290C4278C10DD43F3D82BA3A0DD455ABA28EBACFA32215D44AF6A226730FAA9377A02A762BAAC237A332783D2AFCD6A0DC6725CA3C96A3CC652182ADF760DB9F1AD057548058439B86395B1CB7B804674705D4150EA5B64B402E11804322D4FE3190E693B7EC42A2CF35DCB6AA5EC509AA03739AE7DD4B4B70A3300D5E85E9447C4D815386049753B3E05998084F29515E023C72E2E09AFA1097E32328F5C2601D720F67FCFC71D2FB364CDC7C60E0E8096D5B37A89E71C1C1E317B15E6C070F23358407DEC251C36350DAA70C754D6DB85EF5C3B973D6B0335E85B0130B1060B80E3AFA26D49ADE16C0600D4785FD4E3876C60F06D7B391DCE44D738F32D12122159A83FE447C9507C28BB836D6A1B56133CD401BD05AA180D6E2556895AE406BD652B4A6FC8CD6B885688D9C8BD6D059680DF809CF6E52B15E9B84568FF1C8D1F91C92006E1080FB15671C3A2C8681A111545555A1A36B08A503FA386A668BBD3A667C8276DA703A5FFC4CD361C56E07E89BDF81A65B06E21B686CE65C8712D12EA20D70F23F8633DE36A82DA7BC7E42455A4BB95E415DA698723D8FBA4C16E57ACA6CCAFFE994FF94D72193A98027003E63816BDF526A7C812CA39FD0505684C7E5F934D5D62329E63ECC4C8DA0A7A78FF51BFFC0F6DD7BB15F45A54EFEABD19F770DC0202DABC55B6DA175DC17871D531153EF45F2D40A416D11549C4D0B70C0540527BD6C1074FD2B5A5B42A7300D8C953308C08FD44269F6CA9A4800A87BC47D471DE56B02407CFE23A880A935DEF80295867F43A6E73934964AD054948CE6D2546AC505D410CA1017E607375767B89A6B63DCD85FD35E673CAF771E81413A96B3D75B417C8C26448718B8D1211545035B64D56544573BC127FE28F69D318575E43D189FDF84878F2E20AAD01211120B3CC8304368A20982A28DE01FA6873B01DAF0BDA90E6F8FC3F07452819BDD3E9A103622526736AA5323D090F300CD0511785A1C8D2725B1682E4E444B452E45A40C164ADB211AA894D8750003758F4F5B79062AFAD7B19FC65D1BA904D70A02E151700F5E25A1B00CB1C73E2B0B180545E1D059317CAB82712DD717EE193E7049F4C2E568775C087585B5BF232C7D1C687C3E0FD34BF409C5C6025A961638A2BC0709178DD094730F8F73EFE069BE3F5AA8AB3D290845A3E4015A4AD3116BA386FE9F2940345CF3AF0030309EB0F41494B4AF619B45347CCB6F911328A7F14B7BBA94E58D83B9D34E9CBAEB84A01B9FA3B591D2A5FA7B3A03C6D0044A23400EA54B2AA54B3CB5C2484ADF90CFA8FF0FA4FCFF0870EB05A9EE0894475D4353BA1B5A241E7896EF8516A9379AC9098DB9A1A80FB1C5AC714B20FA520DDDE48FC4FD8508186A7FBBD88C5E2EDCB1F17838DC8BF8557201117FB25982D2FC0970BCBB1B7BAC1C901D3B0CE6C7BE44592AE57A0515A894E699AC517480C953011380F02F697C180CDCA613D5BB3F2A8F899066BB0F4D694E789A7501AD7917D12675C233892B1E677AA02DED1A8CD72F85E85365C8C91F6600AFCC3FB2805E5303C69A5FCD35C596C357A060180C3B49382A9AB7106D43C5936DB03C3F090A7BE6609D9A222A9B5762CDBA210808988ECADAA528932E4259E67C9426CD4171F474E4874C85F4D6B7C8F318863C878148D61E86CAFBA7F124ED24DA72695C965AA22DCF1A2D59E7E9D5F30A1E5AFC89F7BED84CA9C3DE3F48A41AD9F5080C323D307C96097D3EBF82F5FAB7A1979C0F9B9CFBB0CE0E839D3412BBED2DB19C4E4EBDD0245C924462E6EAE5503E650AFB88109CF1BD0E337757E85FBA0CB1D505289FB482A29105B6E95A4279AF327268FE799A6C88B66C7D7AE1A7C130DF046D92E368C9B6467D801A16FFB406A2617A1DC61F6200A15D0730D85CF993490698BBE93C6629FBC034953FA94CEAA08990640D879DE7229C0DA7F69AF4293456BE8BEB6B7AD188D413D84641FD83686B07F133D31611243BBAA132703B1D72FCB626A6B7367A012AD4A5081C475D942ABDBC0D84FC181588BED2E900D01E01FE8ED369A6BCBE8D8EB4DA2E1AAE0AD18823E8F69335B6DCF7794147699E082676A320F6B147DD2D110C7E13C17B39EDA12442CCAF22E4AEA0FBED2F02682050299A2234F85221E7D2EB238FDD1534044A77A2396201CA8D7BB4831C3D49ED25006A815D07207F7E9B9CBC1AE4468AD1FD474BAC0E0D4679EB105460182AE89A92330033960DC3B7F367E0D4E14FA0BE7100DCB67C8CC43D9F416DCABB88D83E14850787237FEF50489586D05BE570A429F540B18308ADE1044C4A54DD97A2D08FC68CEEA8A2F5B81D0390A8F005FE67820E44A3B4D06D047B9F499D5FC8BB18811176EBE4E4D5D17DB41AFA4C33C538DB684C734FC534A768C86FD3C0F00D6A78FF9B6990EBF92E862F55C0C8DFB7629AB62556F9E761D00F0BB0D039128B3D3330D72511932F6560B9F1659AF9E5D0EC477650F4D0DC41B9740D12C159FD1BF49A7601EF4CB6C43BE34CD1FD1B7502C0F9CF0034788EE92A00FB3572F21AE8418A7A4F3A86DE3F9C449F3997F1CE77FBD16BA23EDE9DE380BE130EA3F7C8A5E83962117A8D9883CF94BC30F2542ABE503C85B1AE4998EC5F80294105187DB712B627D7A3F9863C9EA57C406348872D8D744D16A1C0A137862C3147B79917D1FB270BF49A644400349E039093D7A24F805D067079999CBCE673007D7F3A85FE0B2EA1CF3825F49F6D897E332CD09772F583553E18B42B0C1F2CD6C510B5608C3A198BEF5D7330D927173FD07BC4F8A032FC7EC51BE55E7FA02553096DD534F881CE08F4A3998900048AB089BEC489665E43FFB956E07D5E04C051D074FD0B005C7E9193D7FE3F00D309C0C24BE83B7E3FFACD3C497406EF4E56C7871BEEE15306B0481343C47EF8FA7402C639A761CAED7F00187BAF1A5BA9E5B64469A28D27DA16EA3ED844031BBD91A57F0C8FE3632037CF0BFD165C44BFB9D6AF01A0C32FDE5D4C21F92BF3E5E47508801ADE9960845E3F9AA3EF5C3BF499AA8FDE13C47877E639F499A283010AFE18B8330403166BE34BF15D8C3A9380B12E69987C478229540FE382ABB1DCC60609A6EF53DEDB931D7C26D14B7C9D0E8A6F4FC588D596E8BEC003FDE65D409FD9565407E6E831C110A2D1EA901BCEF97F884E635DFE10D55500DEE3E446E8A3E7B76A1830FD383E9C67898F16DB61E03217BCF7FD1EF41AB5011F2FB1C5E02D7E18A67C1F1F2F52C328ED008C3F9F8C1F3C323133408A5941524C0DA9C5AE6B3608D11321FEB20835B9F4625F475FAC3315B1574F07FD3784E17F565FC3A7CB5DF0C9CFF6F870AE25DEFFC914FDC7EBA2D7E82390A3429693373CD87500C36B7A888699A5F619A389152A6E50D0B889B5DA77B04E3F186B750268CD05EB8CA2B0C9EC21B65A2761ADE92DEC744DC5BEDB7938F8A008AA09E5EDA492F414D65176C8A3EE93E22E42247D3271D61A4C1F71D5B140C3173F1F71C7626517FCB2FF2A561CF1C21A5A5B2DBE8EB5075C317486017DE33C0491FC693E41BB1681F6136EA8CB18D108E39C195B2E41D134003B4D82B0F3782876994560B7792C76993F84A2553CF639A4E0A0870487BD25500FCC874E74290C522ADB492BB5054EF475AEAD5684E03B9F60CBEEF9F8F617257CBD780FBE9FBF01E3E62860ECCC3518374B0113E76FC69C5507E9BFFED6D8AAEE810FBED7A2695493FE73F27AE33B3D890FA8EC1709241A18F5AE6888D9EAEE93CCC43D679C15F79E6327EE3DEF1291B3B8CF6237F17BABBCC51F6EBD2BFEF44088F84BFD48F148CB78F198AB19E2897E9276DA66681E41BAA0A0D023FBA3EF273D140D9EFEB0E790EF237B0E1E13D163D07711DD3EFE2642EE83D111727F1B1925EA3F2C46D4EBD30451DF9137454395D54543B536F598876EB2F67406A63D345BB76EFD8FD08E1D3B4277EFDA95F36FD6EF49FA660A60FEA30068A3CD44BCE1BFCB41DAA4AB86885B5ABBED5D05F03EA327E2EBDB18C5BC43DEC02BE87C131FEFC70E619D9B5F06C0C82043C2C6BC76B2C300DE48D2C1C35E9005212B2FF0B341B2F241F41CD7A18BD7798FB11D1E15F6E667C131CCCF7AED3BF4B0F1CF6D7C1900FF2818C782AC4810E06756CA8AD870369015F1EFC266BCC6F2CCCB3C82B7984F9067E3F95900C600047E9667395E137432BF603C5F9775C8B34C506729C46885CD5889A78C003FB381CCC3F7AC5CB8E76796E3673644D0F1B23C1BCF2418250061C35887ACF1FCCCBCBC2703E368B37EDEB73D3BDE04800558011BC44A0485C22682C1B2E1160CE4C8BC4E9E8D617DCCCBBAF8CAD16EF76AC73E824E411FDBC06B0C4058D3EE0C002B1098857009DE12361300B022C1730238E6650FB19ED7C90B46309F72877765D704E385FD84880951161C37F675005819330B860B88058FF2A64CBCCE2920EB2DDE941DC09BBC2C2F18C4322C2B0B92D7785FD90808FC9E1D200500827DCF470BD9365A43CC1C7E6616EE850D39CC129910B28182F1FC1B1BC55EE5ABE059D625C8333FCBB30C5FF959F88DF712D6049DAC83D70467F11ECC2738F495362A20644626F686E061BE975DE7CD3922B2009847F07C67F21C192696612F0A8E5AF6929CA0937F677E41173F0B7BB4DBF3360719A317361514FFD75CDF06001B2F78EADF61387B9E23F73C8F65A2D865FD6F03A0CB4ADF6010D708879FF39853E75FD2FFFF0140A8334ECD7F39B29D8D12B245C2E9F342D1C83C7B76A4825060CCF772ADC8CA339FE06D6E0002AF20CFBFBD9CAEB2452BABFBB9FC9B863921D442DB9AD9117AE19915096B9C1ABC3E44C650597949C73AE7BF20CF460BF24264646B83EF6B8858966598E705F9D78D126C8CE02D56223C0B9BB1128E002B177E97FD4D90E54D39CF395DF89EBDCD5E950520AB5FE017E4D901EC7959902FC8BF69166245BC012B7AD95B8252592F31286173612306CF86B3712CC33C4CFCCC8E90D52FF0C802B0271E268E02AFBF20DF19006660014189EC337B525024DCF3EFBCC6C41111E4D8736C1083E728F0FD908E2B1B2D0B88F71340328FA083F5311F13EFC7EB7CFF5CFE4DB3100BB0012CF07234E23A800ABFCB86F9E5683118062800118C6219415EF84D305E3096C1313F47F415F9CE00F046025A5622FBCCCAD82BBC267890EFD90806C4D4590A095E6379E665C3590F1BC5CF7CCFC4F782BC102D8E0CFF26EBB0E7F29D01100C1314C93EF306FCCC0A65432AACB162414EBB83977F63C3795D568E75310F7B5500C0C60AF2B2113DD9C9BEEDF22F0078D3C7A3FFE6DF5FFBC9EEBFD96859DBFE17DADC8EC0E061CDCE0000000049454E44AE426082)
END

END

-- STD
IF ISNULL(@sysSiteIDSTD, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDSTD

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 12
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 12)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (12, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDSTD)

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo bảng kê TTĐB đầu ra' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo bảng kê TTĐB đầu ra' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê TTĐB đầu ra', N'Edit list of Special Consumption Tax out', @sysSiteIDSTD, NULL, NULL, NULL, 7, NULL, @sysMenuThueKhac, 5810, N'ListTTDB.ListTTDB', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001917494441546843CD59075455E7B23EA8B14573639A26CF24368C263751638F89BD9BC492D8B0476305456C875E05014544514010549A0282825868529426BDD7C3A17790268AF0BD192EDB7754BC4AEEBDEB5DD69AB5F7FECFCCFCF34DFB676FE400883AFB9393FBA69F48F4F92891E89DBE22915C07CB3FBBF26FDD887A10F1BDC0CBFADB88F84A6BEF347713F56B2D43B5775AA71B77759101BC4CA26E9B667DF6835EE1FA03CED8A5E9819D1AEED8AEEE866DAA6ED82ABE8A2D47AE60F361576C3AE48A0D075CB05EC5190AFB9DB196AE6BF6BB6015D14A6567FCB6D7092B141DB16CF7252CDDE1805F775CC44F4B0F61C5DA3D1839FD8C72677B7775ED55E345EFF4FC729A7E7EA6A48274BDFAD7D606B4B4B4A2B9B905F58D4F50FBE8312A6B1A515AD980C2B23A488B6B91535083CCBC2AA4E6542031B30CB1A9C5884A2A447472092CAC5CA0A1A90E45156D4CFDCDC4ACAB06BFE2EC571644F3A62AE979B55BDEF2AC058F1F3F416B733D9E36D7A2BEA116E5558F905FFC08B9646496B40A69B91548CE2A477C7A1962524B1145463E482842485C2102A3F3E1179907BF0739F00DCDC4ADB01C1C3DE9084D5D031C3F618CFD87D53177A39EB7A8AF63FFBF0AA49308FCFEFB71DBE076004D8F1FA3BEAE114F1A6AD0DA52864735152829AB447E215D8B0B9123298644928FF4EC02E464E7222D231709A9B98849CAC6C3F84C24C427233C3A053E21D9B81E94811BF7B2A167E6083D2313589DB78591B1110E8955B164B35ABC68B4C1977F05442700962FD13E75A71D407D633D6AC8E3CF1E97A0B6B68C8C2F47417129B2F34A515C948782825C48A5D904808CCFCA2610A9C8CA4E466A461212921391941C8BC8D878780466C1C33F0D1E0199D032BD0C13B3D3707577C3E9B3E76078EC18C4AA622CDD78A0A8DFD72AE3BB0AA213000BA628E97AE1596B1B6A6A6B5055598962F27A694909CACA0A91915B82C4F412C4A6705E17239CD2252CBE10C1318508882EC09DC87CF83E90C23B4C02CF7BB9EDC6BBF9A7C3E5762A5CEF64406CE88093676C70DBDF0F179D9CDB411C2510AA6A62FCB67E6FFDA0B17B7FEE0A884E00CC1CC39DE63115A9B4A8963C4DDE2E2C42A1349F52A410B14945884E2C40447C3EEEC7E623E4A114415152F845E4E1F603096E86E5E246700EAE05B1E19970B9930E47DF54387827E3A24F1AF669D9C0C6DE89522B1A9EDE3E04C2E93908357531566F52C2D0C98A5BDE16442700268F5CBBCFB1ADE6511375932AE4543521B3A209A9654D482E694452493DE28BEA115B588F87057588CAAF4304D103E92384496A11945D03BFF42ADC4AA9807742193C634AE0165104E7B07C38851561EF5107B85CBB81D4CC4C04868476801022610C350D55ACDBA288AFA6291E781B109D0018FBC5B29DF64F8BCB1E214D5289BCFA063C6ECB244A234A41535B22511C510C9A5AA3D0D4128EC6A761686C0E466363201AEAFC505F731B75153E7854721D3505D7502DB98AAA2C175413399E52C25DFF3B909694E16142623B082F1F1F5CA2743A73CE8AD2E91F20366CDD83BF4FDFA3F126109D00183970C1669B86DCFC4A24500FCFAE7D443A2288C288B83B05107191FB12DD005AAF014FAF028F5D80C6CBC0237BA0FA3C506105949C010A4F017927806C1320D308EEA6BF53878A476D732B8AAB6A91999B8BFB0FE370E38E3F2E5D71C759EA4E26278E43574F0BDBF7ECC7F4A56A2AFF0C44270006BC3F7DCDD9EA94AC523A788A915E534BF2F7898288FC3B8CBF49D7EB401B19FFCC0D7842C63791F1F5647CAD2D5045C6975902C5647C3E199FFB0FE391A60F37D3D5386D6E8433E6C7606CA001E503877168E73AEC5DBF044A2B6763C5A27998F8E3224C9D3E1FB3E72EC49499CBF091FCFA31AF03D10980EE7D262E3F5516935C880771F948222F3D23EFB72290C88FE836910F91175ADB3CE87CB88A5602D0FAF8325AEB1DD04A005A2BADD14A009E155AE0599E199E659BE259BA115A520D91E5AD0C53C5E938B66D124C76CDC69ACD7BE172701E7C5517224C632E74FEFC13E3976862D27C454C98BD1D1F8D5C06B9F77E9ED30500A21EDF2D39210D8DCE4570542EA24AEB10535983286AA591A595082FADC0839272BAAF401875A890A21204171623B8A01881D242DCCD96C2379D3A111D661EB119708D4C81636822EC03E260732B1A563E5130770B85A963200CED83A06E130E2D8B5B5033F5C621030FEC50BF81352AD7B072AF3356ED73C18839C610F5DF3EA52B00E4BE9A6792792734037EF7B310965F8DCA867BA86BBC89478D54988D5EA86DB88AA8927CE457DD41CD230754571195DBA1AAC41A9505675129398D8A2C7394A71D4759D23194C61E4549A42E4AC2B4501CA486623F318A7C5590E2A10953EBEB905EDE893CDB6D905829C05ACF185377F960FE266BFCB2C9121F4ED0A63176E5C8B706C08C436618A678DD4D82EFBD7404E555E32938E79D899C882E125923B63C13D54D5403A079ECE949AA0153AA8163408D0115B02E15B02650A046F97F98F29F3A62CA3E205E1188DA4925F527706F236A7D946076CE1DF05845EA57008E8B70595707262B1491BCFF0F48CC0D70C7C80CD19A9A3BBA0460D014FD0417EF5878DD4DC1DD9C2AAA014F92A7CE021BA2B34427105396828A862B74AF47454C4637EA5007A2AE57A50A941F028AF603D2BDD47D7603E9B47FE25620763335B4F540E85A207005AABDB6E3D869D2717531193F9F7CB318B55CAF3B67D13647802B16408807C950D73BAB492DAD93D1BFB3C501E3751EDA5D8D84BB6F027C322A90DD140B696330F22895F21A02896E23B8281771E511C8ADBF81DC1A6FE4567A21A7FC1AB28AAE2223CF85662347A4A43A2031DE0EF1D1D688B97F16D1411688B86D86FB374C10EA6E80EB0E2770E8F875DCB554838F852652C5BF022BDE038E4C050CE9DE8280DB91636E38005E1780B5E3C90B2F8278A50B3143BFEFB4C34F5F0A83F3F518782697E2417521222A33104EF4A0221D0F2A53708B0AD6AF201B611589082D252A49A0628E4340EE43DCCD88806FD27DDC880986474420AE04DF85D3DD5B344E78C3D6DD13E79CDC6071C10906E4FD6D476F41DFD006FBD56C11BEFAEFC02E3249770060FE0D797D1E60B5913296D2F02A45FEC0323E905EB0B95300BDBFD60A31B60EC445F72838C795A2AE8D7A3D28BF41FD1C86446A54C4E19054735DD08B5533E578035D6B28C72B28C78B29C7A534CE64D3E6690A943EAB8187BF010F9651EED3AC7677119D833351E4B41E6A469728FF7FC05D95A978B68FCC39417481C8B13770690865ED34E014C99EA63DFE9C95FC5600BA8FD4F0E791DAD6251CF69125287FC6C52A00A003890044148722AD9C80B551AE3751CED7D1B58A72BE8C72BE90422FA1686752CE2753CEC751CE47AEA4DC5F4E6721A5862FE5FCF5D9C870D80803137B641E9D880D3B0E22FDEC5C5A27E3C38822896E76A314FA84408D0354A946160EE6427C730444C3347C0F1BFBE01CA5915568114A5BA853408B88BA4BFB753F228BFD9154CA45BC9DC608F27C1D79BE6A1B0120CF176EA0EE439ECFA0EE924CDE8B5D4A85489E0F5908F8515ADCA422F59A8CF40BEB20D6B5C6DEA5E3A069644EF39007E23DC8E3B564784D07888B9C525417EBDF6FC070D1B0B7033044DD4B51D793F23418160179C8787C07F52DA6A86B3949644AF73A08290C4278C10DD43F3D82BA3A0DD455ABA28EBACFA32215D44AF6A226730FAA9377A02A762BAAC237A332783D2AFCD6A0DC6725CA3C96A3CC652182ADF760DB9F1AD057548058439B86395B1CB7B804674705D4150EA5B64B402E11804322D4FE3190E693B7EC42A2CF35DCB6AA5EC509AA03739AE7DD4B4B70A3300D5E85E9447C4D815386049753B3E05998084F29515E023C72E2E09AFA1097E32328F5C2601D720F67FCFC71D2FB364CDC7C60E0E8096D5B37A89E71C1C1E317B15E6C070F23358407DEC251C36350DAA70C754D6DB85EF5C3B973D6B0335E85B0130B1060B80E3AFA26D49ADE16C0600D4785FD4E3876C60F06D7B391DCE44D738F32D12122159A83FE447C9507C28BB836D6A1B56133CD401BD05AA180D6E2556895AE406BD652B4A6FC8CD6B885688D9C8BD6D059680DF809CF6E52B15E9B84568FF1C8D1F91C92006E1080FB15671C3A2C8681A111545555A1A36B08A503FA386A668BBD3A667C8276DA703A5FFC4CD361C56E07E89BDF81A65B06E21B686CE65C8712D12EA20D70F23F8633DE36A82DA7BC7E42455A4BB95E415DA698723D8FBA4C16E57ACA6CCAFFE994FF94D72193A98027003E63816BDF526A7C812CA39FD0505684C7E5F934D5D62329E63ECC4C8DA0A7A78FF51BFFC0F6DD7BB15F45A54EFEABD19F770DC0202DABC55B6DA175DC17871D531153EF45F2D40A416D11549C4D0B70C0540527BD6C1074FD2B5A5B42A7300D8C953308C08FD44269F6CA9A4800A87BC47D471DE56B02407CFE23A880A935DEF80295867F43A6E73934964AD054948CE6D2546AC505D410CA1017E607375767B89A6B63DCD85FD35E673CAF771E81413A96B3D75B417C8C26448718B8D1211545035B64D56544573BC127FE28F69D318575E43D189FDF84878F2E20AAD01211120B3CC8304368A20982A28DE01FA6873B01DAF0BDA90E6F8FC3F07452819BDD3E9A103622526736AA5323D090F300CD0511785A1C8D2725B1682E4E444B452E45A40C164ADB211AA894D8750003758F4F5B79062AFAD7B19FC65D1BA904D70A02E151700F5E25A1B00CB1C73E2B0B180545E1D059317CAB82712DD717EE193E7049F4C2E568775C087585B5BF232C7D1C687C3E0FD34BF409C5C6025A961638A2BC0709178DD094730F8F73EFE069BE3F5AA8AB3D290845A3E4015A4AD3116BA386FE9F2940345CF3AF0030309EB0F41494B4AF619B45347CCB6F911328A7F14B7BBA94E58D83B9D34E9CBAEB84A01B9FA3B591D2A5FA7B3A03C6D0044A23400EA54B2AA54B3CB5C2484ADF90CFA8FF0FA4FCFF0870EB05A9EE0894475D4353BA1B5A241E7896EF8516A9379AC9098DB9A1A80FB1C5AC714B20FA520DDDE48FC4FD8508186A7FBBD88C5E2EDCB1F17838DC8BF8557201117FB25982D2FC0970BCBB1B7BAC1C901D3B0CE6C7BE44592AE57A0515A894E699AC517480C953011380F02F697C180CDCA613D5BB3F2A8F899066BB0F4D694E789A7501AD7917D12675C233892B1E677AA02DED1A8CD72F85E85365C8C91F6600AFCC3FB2805E5303C69A5FCD35C596C357A060180C3B49382A9AB7106D43C5936DB03C3F090A7BE6609D9A222A9B5762CDBA210808988ECADAA528932E4259E67C9426CD4171F474E4874C85F4D6B7C8F318863C878148D61E86CAFBA7F124ED24DA72695C965AA22DCF1A2D59E7E9D5F30A1E5AFC89F7BED84CA9C3DE3F48A41AD9F5080C323D307C96097D3EBF82F5FAB7A1979C0F9B9CFBB0CE0E839D3412BBED2DB19C4E4EBDD0245C924462E6EAE5503E650AFB88109CF1BD0E337757E85FBA0CB1D505289FB482A29105B6E95A4279AF327268FE799A6C88B66C7D7AE1A7C130DF046D92E368C9B6467D801A16FFB406A2617A1DC61F6200A15D0730D85CF993490698BBE93C6629FBC034953FA94CEAA08990640D879DE7229C0DA7F69AF4293456BE8BEB6B7AD188D413D84641FD83686B07F133D31611243BBAA132703B1D72FCB626A6B7367A012AD4A5081C475D942ABDBC0D84FC181588BED2E900D01E01FE8ED369A6BCBE8D8EB4DA2E1AAE0AD18823E8F69335B6DCF7794147699E082676A320F6B147DD2D110C7E13C17B39EDA12442CCAF22E4AEA0FBED2F02682050299A2234F85221E7D2EB238FDD1534044A77A2396201CA8D7BB4831C3D49ED25006A815D07207F7E9B9CBC1AE4468AD1FD474BAC0E0D4679EB105460182AE89A92330033960DC3B7F367E0D4E14FA0BE7100DCB67C8CC43D9F416DCABB88D83E14850787237FEF50489586D05BE570A429F540B18308ADE1044C4A54DD97A2D08FC68CEEA8A2F5B81D0390A8F005FE67820E44A3B4D06D047B9F499D5FC8BB18811176EBE4E4D5D17DB41AFA4C33C538DB684C734FC534A768C86FD3C0F00D6A78FF9B6990EBF92E862F55C0C8DFB7629AB62556F9E761D00F0BB0D039128B3D3330D72511932F6560B9F1659AF9E5D0EC477650F4D0DC41B9740D12C159FD1BF49A7601EF4CB6C43BE34CD1FD1B7502C0F9CF0034788EE92A00FB3572F21AE8418A7A4F3A86DE3F9C449F3997F1CE77FBD16BA23EDE9DE380BE130EA3F7C8A5E83962117A8D9883CF94BC30F2542ABE503C85B1AE4998EC5F80294105187DB712B627D7A3F9863C9EA57C406348872D8D744D16A1C0A137862C3147B79917D1FB270BF49A644400349E039093D7A24F805D067079999CBCE673007D7F3A85FE0B2EA1CF3825F49F6D897E332CD09772F583553E18B42B0C1F2CD6C510B5608C3A198BEF5D7330D927173FD07BC4F8A032FC7EC51BE55E7FA02553096DD534F881CE08F4A3998900048AB089BEC489665E43FFB956E07D5E04C051D074FD0B005C7E9193D7FE3F00D309C0C24BE83B7E3FFACD3C497406EF4E56C7871BEEE15306B0481343C47EF8FA7402C639A761CAED7F00187BAF1A5BA9E5B64469A28D27DA16EA3ED844031BBD91A57F0C8FE3632037CF0BFD165C44BFB9D6AF01A0C32FDE5D4C21F92BF3E5E47508801ADE9960845E3F9AA3EF5C3BF499AA8FDE13C47877E639F499A283010AFE18B8330403166BE34BF15D8C3A9380B12E69987C478229540FE382ABB1DCC60609A6EF53DEDB931D7C26D14B7C9D0E8A6F4FC588D596E8BEC003FDE65D409FD9565407E6E831C110A2D1EA901BCEF97F884E635DFE10D55500DEE3E446E8A3E7B76A1830FD383E9C67898F16DB61E03217BCF7FD1EF41AB5011F2FB1C5E02D7E18A67C1F1F2F52C328ED008C3F9F8C1F3C323133408A5941524C0DA9C5AE6B3608D11321FEB20835B9F4625F475FAC3315B1574F07FD3784E17F565FC3A7CB5DF0C9CFF6F870AE25DEFFC914FDC7EBA2D7E82390A3429693373CD87500C36B7A888699A5F619A389152A6E50D0B889B5DA77B04E3F186B750268CD05EB8CA2B0C9EC21B65A2761ADE92DEC744DC5BEDB7938F8A008AA09E5EDA492F414D65176C8A3EE93E22E42247D3271D61A4C1F71D5B140C3173F1F71C7626517FCB2FF2A561CF1C21A5A5B2DBE8EB5075C317486017DE33C0491FC693E41BB1681F6136EA8CB18D108E39C195B2E41D134003B4D82B0F3782876994560B7792C76993F84A2553CF639A4E0A0870487BD25500FCC874E74290C522ADB492BB5054EF475AEAD5684E03B9F60CBEEF9F8F617257CBD780FBE9FBF01E3E62860ECCC3518374B0113E76FC69C5507E9BFFED6D8AAEE810FBED7A2695493FE73F27AE33B3D890FA8EC1709241A18F5AE6888D9EAEE93CCC43D679C15F79E6327EE3DEF1291B3B8CF6237F17BABBCC51F6EBD2BFEF44088F84BFD48F148CB78F198AB19E2897E9276DA66681E41BAA0A0D023FBA3EF273D140D9EFEB0E790EF237B0E1E13D163D07711DD3EFE2642EE83D111727F1B1925EA3F2C46D4EBD30451DF9137454395D54543B536F598876EB2F67406A63D345BB76EFD8FD08E1D3B4277EFDA95F36FD6EF49FA660A60FEA30068A3CD44BCE1BFCB41DAA4AB86885B5ABBED5D05F03EA327E2EBDB18C5BC43DEC02BE87C131FEFC70E619D9B5F06C0C82043C2C6BC76B2C300DE48D2C1C35E9005212B2FF0B341B2F241F41CD7A18BD7798FB11D1E15F6E667C131CCCF7AED3BF4B0F1CF6D7C1900FF2818C782AC4810E06756CA8AD870369015F1EFC266BCC6F2CCCB3C82B7984F9067E3F95900C600047E9667395E137432BF603C5F9775C8B34C506729C46885CD5889A78C003FB381CCC3F7AC5CB8E76796E3673644D0F1B23C1BCF2418250061C35887ACF1FCCCBCBC2703E368B37EDEB73D3BDE04800558011BC44A0485C22682C1B2E1160CE4C8BC4E9E8D617DCCCBBAF8CAD16EF76AC73E824E411FDBC06B0C4058D3EE0C002B1098857009DE12361300B022C1730238E6650FB19ED7C90B46309F72877765D704E385FD84880951161C37F675005819330B860B88058FF2A64CBCCE2920EB2DDE941DC09BBC2C2F18C4322C2B0B92D7785FD90808FC9E1D200500827DCF470BD9365A43CC1C7E6616EE850D39CC129910B28182F1FC1B1BC55EE5ABE059D625C8333FCBB30C5FF959F88DF712D6049DAC83D70467F11ECC2738F495362A20644626F686E061BE975DE7CD3922B2009847F07C67F21C192696612F0A8E5AF6929CA0937F677E41173F0B7BB4DBF3360719A317361514FFD75CDF06001B2F78EADF61387B9E23F73C8F65A2D865FD6F03A0CB4ADF6010D708879FF39853E75FD2FFFF0140A8334ECD7F39B29D8D12B245C2E9F342D1C83C7B76A4825060CCF772ADC8CA339FE06D6E0002AF20CFBFBD9CAEB2452BABFBB9FC9B863921D442DB9AD9117AE19915096B9C1ABC3E44C650597949C73AE7BF20CF460BF24264646B83EF6B8858966598E705F9D78D126C8CE02D56223C0B9BB1128E002B177E97FD4D90E54D39CF395DF89EBDCD5E950520AB5FE017E4D901EC7959902FC8BF69166245BC012B7AD95B8252592F31286173612306CF86B3712CC33C4CFCCC8E90D52FF0C802B0271E268E02AFBF20DF19006660014189EC337B525024DCF3EFBCC6C41111E4D8736C1083E728F0FD908E2B1B2D0B88F71340328FA083F5311F13EFC7EB7CFF5CFE4DB3100BB0012CF07234E23A800ABFCB86F9E5683118062800118C6219415EF84D305E3096C1313F47F415F9CE00F046025A5622FBCCCAD82BBC267890EFD90806C4D4590A095E6379E665C3590F1BC5CF7CCFC4F782BC102D8E0CFF26EBB0E7F29D01100C1314C93EF306FCCC0A65432AACB162414EBB83977F63C3795D568E75310F7B5500C0C60AF2B2113DD9C9BEEDF22F0078D3C7A3FFE6DF5FFBC9EEBFD96859DBFE17DADC8EC0E061CDCE0000000049454E44AE426082)
END

END

--------------------------------------------------------------------------------------------------------------
--
-- Tao bảng MTTDBOut
--
--------------------------------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT TOP 1 1 FROM sysTable WHERE TableName = 'MTTDBOut' AND sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'MTTDBOut', N'Bảng kê thuế Tiêu thụ đặc biệt bán ra', NULL, N'MTTDBOutID', NULL, NULL, 0, NULL, NULL, 0, NULL, 8, NULL, 0)

SELECT @sysMtTable = sysTableID FROM sysTable WHERE TableName = 'MTTDBOut' AND sysPackageID = 8

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MTTDBOutID' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'MTTDBOutID', 0, NULL, NULL, NULL, NULL, 3, N'Khóa chính', N'Primary key', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'KyBKBRTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'KyBKBRTTDB', 0, NULL, NULL, NULL, NULL, 5, N'Kỳ lập bảng kê', N'Period', 2, NULL, NULL, 12, 1, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NgayBKBRTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'NgayBKBRTTDB', 0, NULL, NULL, NULL, NULL, 9, N'Ngày lập bảng kê', N'Date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NamBKBRTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'NamBKBRTTDB', 0, NULL, NULL, NULL, NULL, 5, N'Năm Lập bảng kê', N'Year', 4, NULL, NULL, 9999, 1900, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

--------------------------------------------------------------------------------------------------------------
--
-- Tao bảng DTTDBOut
--
--------------------------------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT TOP 1 1 FROM sysTable WHERE TableName = 'DTTDBOut' AND sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DTTDBOut', N'Chi tiết bảng kê thuế Tiêu thụ đặc biệt bán ra', NULL, N'DTTDBOutID', N'MTTDBOutID', N'MTTDBOut', 3, NULL, NULL, 0, NULL, 8, NULL, 0)

SELECT @sysDtTable = sysTableID FROM sysTable WHERE TableName = 'DTTDBOut' AND sysPackageID = 8

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'DTTDBOutID' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'DTTDBOutID', 0, NULL, NULL, NULL, NULL, 3, N'Khóa chính', N'Primary key', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MTTDBOutID' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'MTTDBOutID', 0, N'MTTDBOutID', N'MTTDBOut', NULL, NULL, 2, N'Khóa ngoại', N'Foriegn key', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, N'FK_DTTDBOut_MTTDBOut', NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NgayHD' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'NgayHD', 0, NULL, NULL, NULL, NULL, 9, N'Ngày hóa đơn', N'Invoice Date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NgayCt' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'NgayCt', 0, NULL, NULL, NULL, NULL, 9, N'Ngày chứng từ', N'Voucher Date', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'SoHoaDon' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'SoHoaDon', 1, NULL, NULL, NULL, NULL, 2, N'Số hóa đơn', N'Voucher No', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'SoSeries' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'SoSeries', 1, NULL, NULL, NULL, NULL, 2, N'Ký hiệu HD', N'Serial', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'TenKH' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'TenKH', 1, NULL, NULL, NULL, NULL, 2, N'Tên khách hàng', N'Customer name', 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'TenVT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'TenVT', 1, NULL, NULL, NULL, NULL, 2, N'Tên mặt hàng', N'Product name', 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'SoLuong' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'SoLuong', 1, NULL, NULL, NULL, NULL, 8, N'Số lượng', N'Quantity', 9, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_SoLuong', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'GiaNT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'GiaNT', 1, NULL, NULL, NULL, NULL, 8, N'Đơn giá nguyên tệ', N'Original price', 10, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_GiaNT', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Gia' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'Gia', 1, NULL, NULL, NULL, NULL, 8, N'Đơn giá', N'Price', 11, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_Gia', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'PsNT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'PsNT', 1, NULL, NULL, NULL, NULL, 8, N'Thành tiền nguyên tệ', N'Original amount', 12, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_PsNT', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'Ps', 1, NULL, NULL, NULL, NULL, 8, N'Thành tiền', N'Amount', 13, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_Ps', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MaNhomTTDB' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'MaNhomTTDB', 1, N'MaNhomTTDB', N'DMThueTTDB', NULL, NULL, 2, N'Mã HH chịu thuế TTĐB', N'Product type', 14, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DTTDBOut_DMThueTTDB', NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'ThueSuatTTDB' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'ThueSuatTTDB', 1, NULL, NULL, NULL, NULL, 8, N'Thuế suất TTĐB', N'Tax rate', 15, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_ThueSuatTTDB', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'TienTTDBNT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'TienTTDBNT', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế TTĐB nguyên tệ', N'Original Special Consumption Tax', 16, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_TienTTDBNT', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'TienTTDB' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'TienTTDB', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế TTĐB', N'Special Consumption Tax', 17, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_TienTTDB', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps1NT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'Ps1NT', 1, NULL, NULL, NULL, NULL, 8, N'Giá tính thuế TTĐB nguyên tệ', N'Original price before tax', 18, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_Ps1NT', NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps1' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'Ps1', 1, NULL, NULL, NULL, NULL, 8, N'Giá tính thuế TTĐB', N'Price before tax', 19, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DTTDBOut_Ps1', NULL, 0, NULL)

--------------------------------------------------------------------------------------------------------------
--
-- Báo cáo: Bảng kê chứng từ thuế TTĐB bán ra
--
--------------------------------------------------------------------------------------------------------------
set @Query = '
declare @KyKT int
declare @NamKT int

set @KyKT = @@KyBKBRTTDB
set @NamKT = @@NAM

select 
M.KyBKBRTTDB, 
M.NamBKBRTTDB, 
D.NgayHD, 
D.SoHoaDon, 
M.NgayBKBRTTDB, 
D.SoSeries, 
D.NgayCt, 
D.TenKH, 
D.TenVT, 
D.SoLuong, 
D.Gia, 
D.Ps, 
D.MaNhomTTDB, 
D.ThueSuatTTDB, 
D.Ps1, 
D.TienTTDB, 
NT.TenNhomTTDB

from MTTDBout as M 
inner join DTTDBout as D on M. MTTDBoutID = D. MTTDBoutID 
left join DMThueTTDB as NT on NT.MaNhomTTDB = D.MaNhomTTDB

where M.KyBKBRTTDB = @KyKT
and M.NamBKBRTTDB = @NamKT
'

IF not exists(SELECT top 1 1 FROM sysReport WHERE ReportName = N'Bảng kê chứng từ thuế TTĐB bán ra')
insert sysReport([ReportName], [RpType], [mtTableID], [dtTableID], [Query], [ReportFile], [ReportName2], [ReportFile2], [sysReportParentID], [LinkField], [ColField], [ChartField1], [ChartField2], [ChartField3], [sysPackageID], [mtAlias], [dtAlias], [TreeData])
values(N'Bảng kê chứng từ thuế TTĐB bán ra', 0, @sysMtTable, NULL, @Query, N'01-1-TTDB', N'Sheet of Special Consumption tax out', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8, NULL, NULL, NULL)

-- Điều kiện lọc
SELECT @sysReportID = sysReportID FROM sysReport WHERE ReportName = N'Bảng kê chứng từ thuế TTĐB bán ra'
SELECT @sysFieldID = [sysFieldID] FROM [sysField] WHERE [sysTableId] = @sysMtTable AND [FieldName] = N'KyBKBRTTDB'
IF NOT EXISTS (SELECT TOP 1 1 FROM [sysReportFilter] WHERE [sysReportID] = @sysReportID AND [sysFieldID] = @sysFieldID)
INSERT [dbo].[sysReportFilter] ([sysFieldID], [AllowNull], [DefaultValue], [sysReportID], [IsBetween], [TabIndex], [Visible], [IsMaster], [SpecialCond], [FilterCond])
VALUES (@sysFieldID, 0, NULL, @sysReportID, 0, 0, 1, 1, 1, NULL)	

--------------------------------------------------------------------------------------------------------------
--
-- Tao menu trong quy trinh nghiep vu
--
--------------------------------------------------------------------------------------------------------------
-- PRO
IF ISNULL(@sysSiteIDPRO, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDPRO

--DELETE FROM [sysMenu] WHERE MenuName = N'Bảng kê chứng từ thuế TTĐB bán ra' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Bảng kê chứng từ thuế TTĐB bán ra' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Bảng kê chứng từ thuế TTĐB bán ra', N'List of Special Consumption Tax out', @sysSiteIDPRO, NULL, NULL, @sysReportID, 8, NULL, @sysMenuThueKhac, NULL, NULL, 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001DC8494441546843D59A07785655B6F75FF5CE8C33A38EBD8D05B12B082845519122220848E84A951E3AA187F400211D420209E9A4F7DE7B427A25BDF74EE8BDFEEEDEAF1C26E3A7E878EF7CF7DE3CCFE29CB3EBFFBFD6DA65AD970700D5FFE93F49E07E52515E3B282B336F6B7858B4B7AB8B47BAB9B975E6AEDD3A196B34D7F9CF99B778EF6BC357EC79F02D1D5DD5ABDABAAAC756E9AAFEB6FA1FF2F81A5DD593EB74554F6FD0553DBB5157F5DCA61F9FCF88EFA745F9936B75554F087961B6EE80210B96FC1A969FABFF45F039B925832B2AEA220401324FE412179B446868249E9E3ED8DAD9A3A363C0C2454B18FDD978DE1832092D0337BC232B38E299858D7B06075DD3B17249C7C2391D33A7344C1CD3D8E7908AF1D1640C6D93D03B94808E551C7BACE259B0C69865ABB5183DCDD243A5E2C17F85C8CF1288894BFF26E344C1E5CACA7A3ADABBB970FE02776EDF11E3FEE3EFCE9D3B7475750B52E12C58F01D0306BC8CDD117B6E8B267D672FD375EA026DDDE769EE38477DEB196A9AFAA8A8EFE5644D0F85955DE495B59355DC4A56493B16873DD033D063B78E3E9317EF4D53BD7DFCB9DF4AE2FF21E0E51B392F3A368D9ADA266EDEBCC9B56BD7A9AEAE262A2A1A2767778EDA3B73CCD195B0B008AA2A2BEF31F2F4F266E0EB6F616A7184D69EAB94D6F65252D54D7E45175927BBC828EE20B5B08DA4DC1612B29B88CDAC2732AD86A8B47A0CCDDD30DC6B82D5412BB4757498B552A7F18931FB86FC1612FF44C0D2C6FDA3C090B85BEDED5DDCBA798B8CF40CB6EFD467C417DFF1F8EBD3F98F973478E895D93CF4D24C1E7E793A0387CEE28755DB888D8D5313696A6A66E1C295040787D3DED54373530D8D0DD5D4D45551515549597939D5158514149510965A47487235A1C975E899BA6162618D93ABAB5080053ABA7B98BF6AFB85573EDB3EF9D748DC23A0523DFE90AB47485973731BE7CE9DC3CECE81E163E6F3E0DFE7F0E2A7DA4CDFE08E96F0595DFB34F6D8A5B0D2308491732CF9C36B4B794A90D3353820FA9DA5B3A31B53134B728BAA3859DD4269652D2595D5E49755915D544956611929B9650426D5E29F504540620DBBF7BB606D6B4F604808478F39AA49E8EAE9B070C566DEFB7CFDB2FB91B847C0D4CA795E615119674E9FC1DCE220AF0E99CBA31F6C61DBC104128BBAC9AB394F4ED579B22ACE912D24B75A7C579FC533AE8A31DFDBA07A5E83759B74E83BD54B6545359EFE49A41577119FDB4A4C560B91279A094B6F2428A501FFC43AFCE2ABF08AAEC02BA65A6C00C738EAE44E424A0A5E7E7E6A120724097D5D96AEDAC8B0F1EB747F89C43D0269E93991BD3DA7707571E79D510B79E6533D7C921B28A8BD4052C129E2727B04989E7B4FF91E9FD74B46E9190A1A2EB14C3F14D5DFE762B4D792337D7D64E594109DD5444C4E1B11824068463381A94DF82535E0155F877B4C0D2E9155426A58AB6D8F876F1079454544C4C4FE8384F98F2456ACD9C8A8AFD6DAFEE2369A9696F5747353CB8574E1F35366ADE3CF43B6E12E26C9A93CA706AC969C9F91DC5EE20BCE112B00E696B73375A3174FBE339F88F048DA5ADA296EEBA4E4D469F23B7AC869ED22B3512CE4DA56122B9A893DD94064411D11F9F5EC34B12322369E9A8606D232B3EE92F0FFD11292849E2EABD76E64F4644D6FA1F17F5AB7EA8FE2A252CDEAEA5A2C2C0EF3E8FB2B596A1C4B52D1690252BA85D67A0948EA14666FFF270948EEC63FB91767DF547C7C7CF1F2F2149AADE6D1E1BB85EFEEA1B2BC8E8ED62CEE5C0BE0CE057FEE9CF5E6769F07B7BB5DB9DDEEC8ED66B1E5D6DB09394C80D522D24FA4D3263CE064651519393944C727E01B188483B30BE656D6629BD54773FD46C64CD50C5071FD1F6B57123859521E9A9599CD77CB76F3C46786D804D7E114DD83A57B01C6E6CED80536621BD0C461BF06B5D8057562E9518681D05C584820972F5F22373B130B6B5BBE5AEFC3CB23569110974C6D5531772E1E87F3AE70DA097AEDA1D30E5A0F41A315D49943C53E3CF6CFA358AC9BAEB31769143B6051692931492978070461EFE286E5A143ECDDBF5FBD3BADDBB8916FE66D76D6F8A1417DE0A94243A21E2D2C28A9888A8C62C4142D862C74C32AB80B2DB3040ED93AE078D49A0DDA4731766FC5C8A50EE3E3AD6C34F463D76E3D8A0A72D4DBE7EDDBF2F80227075B3E9EB59B47876DC5E19827C5C527B9DE27C05F10EE7BDA067AACA143806E39000D7BA1D6102A7589B49E8DDEE605EC5EA3C1E6A553D1983597CD3387B3EDDB21E86A0C66C6D8CF7877C414868CFC9211A327F2FEF0893CFEDA9C0FD404C4156150D689DC4E3FDF00DE9EB083719B6358BADB173D7D43AE5C3A2F0EB2ABAC5CF1032B0CC2D9685381C6E21DECDB6BC0A9DE6E356879D05DBB768D5BB76ED2DBDBC798B5413CFC913646FB8F9093954F6B7B34A7CE84D2D31D4C777B009D4D3E74D47AD256E946EB49679A8B1C2988B1C0D6783576FACBB031DAC4863D3604996E24D26C1329A66BD1DB6AC28445767C397F1FE366E9F3CCE0E5A81E9EA93EE854313189239312D37ABC3CFD78EB2B5DC66C8CC7C6299C6B57CEDF3B6573847B7CF4C938264E9D8F9F8F7009B5D6EF70F5EA352157850B5D815B57C5C97D83D55605FCC747E25A607098B4E434D26BCAC968AD25A5AE8284AA32624E161351504070562EFE699978C7A7E319938A4744122E81B1D87AC5A3E79889F5D1204CADFC3036F160FD9E20666F12B2DE93391BBD796D9C29AA3FAF7C4F4D202222F6ADE8A8F8363FDF40064D3364E8B270BACEFC78EFB971E38638916FAADF3D8FBB515C94FF63F9F51B5CB972F54791E0B94E59431F537664F3F2DC289E1C638CC17E7BE26292B9D1EB085785DBF41A0BF7D113EEB347B8CF4EA8DE06659BA16803E46AC2895590BA84DE082D0E1F0B80E039E03D1B3C26E361B48FB12BFCF966851353573AF3D2A7C6A8FEB46CA09A407070E4C3A1A1512723422398B0F0007F9BE2C1749D3C2E5DB901776E71FDFA7501F8FA3D6B28C02F09E037AF5F859BD7F04A69E18375690C5898C47BCB6378F60B036C8F7A111E1E825BC8504A0BE771A747F87BA73E34EF86FA1D50A505A59BA0701D64AF81B41590B488B6102D2CEDFCC07F96003F135C2761AFB38F4F97F8F0D5120721C778E113C3DB82C0AB6A02F29F00FF109FA8882856EFB0E599E98EBCB43C85F54E155C12DAEFBD7495EE0B57E83C7F592D1D672FA9E5DCA52BD4F79C678B6F35EF6ECFE4836D990CD5CAE2F51F42787F8A01C101E2EAED730C63FB4FD9673F194FDFCF8515B60B0202709D005C250097FE20082C1204BE1704E60A02D3E90CD2C4CCC65B109808C785B87E82DD2E43462CF062ECF747F842C833230DAEA9FEF8C38BF708787B052C08F00BC6D92D8097BFB16090560AAF6F3C81555CB3207183F6F357683D77999633976817E0CF5CBC4C6CF529345CCAF9C8A480CF848CD2CF65F89E6C9EFED69EA59B0F1111128D7F88BDB86DEEC52D589315BBFF4C74BE2FB1A5D984E726119C1E875F62145E5161B88704E3E4EB87BDBB27A6477C597B201A33D3A3EC35B0C560B725F356B9307ABE23A3E71EE693398779F223BD4B82C0B3F708B8B9F9FCD5CDD5FB54B4B0C2926D0EBCF0BD07230D72192624ACB4878BC285DA0581DE0BC20AE2AE7FB4B093C95E557CE554C6A4A327196B51C4A7FB0B797F4B2C6F4C35C1D32348AC193FC2928C89CED0C5CC6D14DF6D57E112B68692DA40F20B9DC8CD72202BD58E8CB843A446589214684ABC97116EF68758BF3F8450AB9D04EDDB869FFE0656AE3AC4D099C718A171900FBFB5E6F1613AE7048127EF11902FCE8EC757BBB978221635A397D8F2F6B6683E3D54C297F6A524349CA641683E4D04265B4FB4F24D782D1A21B54CF311249CCB9820DA7C629ACDF3DF1E629FB527BE1EC1F8851C24B9488FB82C23F41D9F6283D58338BA3F2F5C68B1709F797052F878C10CC899C9E594A5B4456DE284E716026C76A0AD6741ADCD18AE1C1E01B6EF60A4A9CDEB531D1932D592C1532C786C88CE29D5838B1F65BA88E62578458ED839857B7BFA12121ACF184D27869B243123A88E15318D581575B230A19179C94D2C4969E2FBD806E647D4F37D6423139D0B797DB1237AE65E04FA86E2EC624F7CFE4ED2CA74C43D6A1766C707B0DBE121F4ED1FA5AF58431058CCF5E2B5749505919B53484C74023EDE0122587264BF89195A5A3BF87EC162264F9E8CC98291AC5FB48D57271DE5BDAFCD7863C201FEF4EECE6ED5A3ABFEC2949F10D8BBD7ECAF4646A6B5BE5EFE22024B62919E0F5FEC8D64757435BA855D98549CC2ACEA473950DECB0E7145FEFA700AA3D73A63792490908050CCCDAD884CDE4976ED76E28AD7E39EF43187825EC2C8FB4F181C7F84ECA491B417EDA3A8A882BABA26EA6A1B696BEBE0F4E9B39C3B7B4E3CCFD02EBEB3B272B0396CC7B7336631E0B53778E2C30D8C1AAFC52383B551BDBEADFDC1B777FC812F7F4240ED53AABFE82D5BB6FAB2ABB307715171D8BA46B1DC2498C5876258EF79822DFEB96CF4C966895D02730C03D032F1C1CF371C5F4F7F366FDACE74710548C85C4B499336A18553B189FC0B0E91CF6111FA18D6418FE11FA18388B705E8AE7B579033674E535F574B79591915226A6B6E6A1407A43C5FC409234E7A67711F1AF8DE5046BE3D98A91F4FE3C137B7373FF8D6F687F8FC2704EC9355C3267CAF4A7CE225D58DF15F7E8AAECE5EDC0591F0E0083CBD23B07509E3A0B310A7501C5C42C4A91C86CF715FF6199B336B9606EFBEFF3C5BB5C7512CB45F52BB95E09C77399EFA8C880106101CF914018E8B49CA28E3D2C54BEAEB47464606C6FBCC993157930F467FC7C061B3D532E8E3F94C9DADC95E132B0A0B0BD4445A5A5A99BD7823BBBE1D2EAEFCDFB561F98C8A8FFA11D866ABF2D0B67F9043DE5F70D04E9B458BBF67E2575F3273E65C56ADD8C0AEEDFA625B3363BFA1851073F6EC344453444BB367CD64FCB8614CFF7630076DE78A8CC30ECA1B7791523C9D908CBF139AFE0651996F1115379AE8E47CA1D11BD4D73788EBF13E068D9CCD032F68F0C87B9ABC33C9988FE75BF3C977871832CD84A7866D44F59C0603066B60606CC66911245D157DB50D6CC4BD69FC796CFEF404AFDC25B042F7990F1C02669373D293BE73B59CBB5245754B2C31629BB33ABA9E6D3AB3D1DC329DB55AD359A7358DD59BA688F78922141CCFDE235F1398FE0325CD3BA8EDDE4E41D31A0AEA7F20F5E4501142BE854FEC5B7844BD815F58A088992F505458CC92651B7964C02C9E1BB9832DE63104A735925E26A2B8CAB364569CE6849098BC760EB8663064CA5E1E786E06F3176FA2A1BE8EEE5357F17635E1BAE903CBF9F35D029B8DDF9A69E7374E5CA2FE828E930A23CF07310F7D9823C97FC339E729DC0A9FC6ADF8193C2B9FC5BBF6797C6A9E27A0F145C23A5F26B2F715A24EBF4278F74BF8543F8B6BD19338663EC6E1F8873109FC03FB7C1EC2D8F13D6AC562ADA9A965CDBAEDFCE1D5F98C5D2A762A719EE48B9035A5B88F847C11DD89103531B78388F86C920A4FAB63F0ECEAD3ACDF2BC2D517E68BF87887481A74505AD54883DE3B81F7086C3519B82521F310C59591E49D0C24BBC457249D3C45D2C95DE4745CC92E7322A7E218B955F62290B725BBEA1099955664949B094D9B905C6C24B64D3DA2B3B589C8D84170B2167E711BF18AD4C4357825C91941B4B5B6636A66CD93EF2EE0F3A5C7D40981F493A7D571B62231D9228F24403788344C70D409120ACE0A22A7C48670910D0722D531B7B9A51D1DA7CED314605273EF20B3709A74E4C2C55EE16317B878F914E72E7672E6420B7DE7EBE93D5B4DCFD972BACF94895B6A311DA7F368EBCBA4A52F9DA6DE241ABAE3A9ED8CA0B23598F2E6408AEADC452C7D948C933624E75B8883CC94FA867A1213921833650D4F896441685687D0FE392232FB0857E4C429E14AA7482D3EAB5EB4278B0BF0084C130981334466F5905E7E9AA1B3AC7973D452B244DCDC50DFD415979AF907F5216664FBC981E68E227A4ED78A946005EDBD45B4F78860A43B8B96AE749ABB9269EC8CA7A1239AFA8E70EADA83A969F5A7B2D94B883BA50D4E9CAC3F4A41D561B2CB2D3821AC9256684842DE1E52B26DA91479212BEB233CF2FE2A96EE8B17B1743BD66EE958BBA609F931876AE59286A9430A1EA185F76EBE31D191581C8BC335A607BFE44E741C73500D5C8EA9F951E192F5E4E6168E5413303E32C2B8AE259DAEBE323A7A4FD2D29D49734F1A0DED8922AF194B7D5BA4C86D8652D9184065830F6575C729AD71A1B8CA41EC3A7622CF7988C22A4B4E1409E0054624E7EA8A6BC46E124BB6531866468E4868AD5C6FC0A3A374D173ABC03EB81A3F3F5FB10D7B8B33E41FE2E5795C249163EE11B82DA23C27C763ECB488E6A088C3AD026BD431FB8C45DA9488144C7E5ED14E3581034EC3742A1AA204F8429119C8135A4EA0B13B56683D8A9AE6506A5A02A96AF411043C047057F1EE2CEA8E098B1C117507A96A31A7A2C94404354694D4E90A4BEC22BB663B89E2BE5F9CED4862620E53BEDBCD2BD36CD1B22B13B9A0D67B207FEDE5EA958BE8EB1BB0423F86693AC53CF5D561464ED94A465A3A39D9F97E6A02D61E1F6E3F59174063578A001F4BAD7093FAEE109ABB8368ECF013E225C0BAD3D0E642A388B06A44805ED96B4D559F290DBD165437EDA7AAC950ECFFBA9CACDB4991009F57AF8567D608329323C4B5248EB173747867BE3B8BF71561E95DF76BB8FFA9FE4C5F1743868FE5F1F1AEBC34CB8B4113B7131B1D4B5A5A668C9A80ADEF90CDC5B5EE027814F5EDA1824820F55DBE02B4B720E121D6802BCD9D4EB49D3F46418B05E939A1949465893C671879AD86349E3216A9F3DDE204D61204B6899D641D51B923F0C87C8A94785791E88A61E20223DE9EEF8186761E466ED5FF1201D9B8BAAA8AD767FAF3A2861743A768132992672221715C4DC02178C8EA829AA3D47406D2D0E92716A997C8E3BB8A84EC31E1428E62211FA3FD940355E7CCF10B3EC2318763989B59A0BFC70443938D949ED1A2AA7997D0FC664AEA978BA4D830C2325F26F4C44092E20DC5153D8E796BCD797EAA136F2D4C649565C9BF4CC029B68BD717A5F0FC74573E9F63407464349111B13FAE01E7F021CBF3AAAD296B3E2E08788853D885ECE22324A48BB25A5B5A4532AAFD820D994D3A04451E1267831F49791E44243B6265BF9AE4A625B49CD5155659845FF8200263DE212469B0380BDE1529FA15E27A9EC04E237B9EFEFA302F2F4E6091C5FD095CBD25321E774532F5CFEA62C0B2640669A6F1F4E4232C5867416C540C21C11163D5048EC77CB030AB7C3F454D47A8ED7210EBC081F27A5B911E3F489DC8A27574DBD27CD18CEC8EF5F8246D22AAC48C8C764B020B74F0489D4F62EB54CA4F4D173E391A0B9BB7098AFE108F90C122A07F8FECBC4978FB44E37E3C9081D32C78736D025FE8E7B33BA08EDDC10DE88437A11FD38C61420B7AF12D1CCDE9A2EFDA2D7AAF8A848200175D718641BBB244CC9DC590AD693CF3A529E6D66E040547DD763C1EF4849A8057DCD039D95586E4375A8A75604753B79DF07D5BE13A3674F61EA2ABDB86C68B466475688A53D881EC36472A6F9851D0E9224EE4C378563C477ECF28EAAB67905B30419CE85F9253FA85F845663439E59F11106E247C368E055B8EF2F705DE7CA89DC37B02D430A33C465914F2B96D09E39DCAF9DCB99C95E10D9CB97E5B0D3EAFFD225F581631DC30978F0DF2786D79206316988B9FB5A2F171B489D9F2C1230FA809F8260E9B915EB6435CC44CA96AB5A6B4691FD56D26D4B4ED13DBA4114D2D26345FD021BDD28C86964AEA3A73281319B7E2C668724B93704E994079DF38F24F689099FD35D9855F91593481948231E2A7A571C4657C21F6F3108244A03FF8BBC30CDA91C867078A186B5DCC248752A67954322B4884A961B56C4D6BE5B2709FEAD357D170AFE053AB22BEB028E623DD345E16F1F011477FDC7C2268D8FFC9DAF239772F7301A9C327A5966E25A7D190D296BD94B71A8BB5602A76A303620732A1A2673B35A7B61390B91E87E8F5F8962D21A67B21DE65F3D9E73F1D9BD80FC9AAFF54FCEA328284F86F48489D24AECEE3894A1D2FEE335F10903F10DF8875F87A45E0E419C55B4B9C186599C324D70ABE3E5EC1F4806A6645D4312BBE812DD96DA4775D6469543DE3DCCB987CBC92CF0F17F0EA02470C2CBDF1F60FC7E2805D3D47863D99F0ED5D028169C32744E6CE27AA60B1F825469BE2566DEABAF4C5A1664CEBE99D64754E25B5FE33622B47B3C3E37D02DB84AB3085D0EE6FD9EEF61EF115C24DB25E27B2FA4D71D15A2416FD22E1820B445A713421396F1252F801D1C51FE1EE6F4E78480CEE7EF17CB2D9532403725899D8CC6A91185B95DACCAA8C1676E4B7B333A79DA549CDAC4969E56BE77C3ED03C8E896D102121911CD87F88552BCDDCB17A5BA533F42E81D08CCF3F778C1D887DC4C364946D25AF6921056D53C539B098D6AE65145E184BD6A511945D9F8867C910C26A1692D6B501FFD2D9E2EAFC3E85973E23E5EC10F19C40CFA90D7474ADA2A5772501D94F905E3C476C0E5B882C7A13E7E0AFD866624F78681491D1A9689A87315DFCEEB636AC94BDF9AD589476612EC430AF957591654CB188659E9E1FEEDED18489DFA8576F3060F8B0B93CF0A6D977F93355AA6F5E79E0C7AC4458E6B851C7A207621EA41207D064A24A47125CF63AC90DC339D1399CF2CBDBA9B8B58DEADB22A5CE246A6EEA5277F5B078EA53C31A0A6FCF47EC1F94DE5C4DEE99E162B17F4A52E348DC4EFC9184C2892457CCC627F339428A57A2E516C2AE03D6B8B97891149B886F70127B9DE2D8E194C836D714B60BD9E2108FF691288E7944132DD23C6E2E1E6CD8A0CDC00F97A07A75D74DD59B6E2F867EF3806AE4B3772D60EBF7F6A8B0ACE9F8674E26BC681251E58244D55724B47C4D46DF544AAF2E13405750C75A21AB68643D4D6CA219ADBBB28956F15E2FC8945C9B43DED9599CE8FA96D4E6199C689A4572AD86C852CCC6356B13EBF3FB581D99C502237336EE34E0F0A1A304FA0410111C4968D08F1216144E80B73F870F1E4173DD0EBED6D064C2BCFD3CFCDE9E6BAA01C6ABD334552AFD8902BC3080DA02D397AB9EB0F79956149EBCF54E788A16F199BBEFA4E5E9DFC92CDA7B273DCFF076469EE1ADEC82FDB7F28A4C6FE51598DF3A91B9F76666D63E21FB6F66659BDC4C4935B81997A87D233671F78D9884DD3722E376DCF00D5977DDC37FE57567EF25D78F1E5F70F3A8BB46EF02DD093B1FF06E1CFE6468EDF0C702AA873F3473ABC60B1F7F63F8F1971A21D335BEAF9A3B77E1D9B973169E9D367D7EE5C88F27873CFBF22706AABF4E98A1FAD3BAE12AD5E2E1AA170D5FFDF31F05E807FBFDF794AD5A5B5452C4DF734234847C27645E3F992BDE7F5666CD9CE9B571C3FA6E512F37B4FB891C6F9432D76F794AC5FE1651835764F9F2E5AA7F4544BF9D9A9A9A6EA28FFEBFD2EF3E6D378B3A29F7C5D19FD83FB1FCB58EBF503F569487FCCEBEFD810E10639CBD2BFF5F09C8891FFF6F2020C790634985FCDB08200697527C771239A9FC76BDFB9D229E4D7741C87209C4FA6E1BA9DD19FDC0C9B6B24EB697E3C96F65FCFB92F8BD2E240755C02AE096DE2D93934BB00A00094C8252EA95EFFE041445C867FFB1E57ABAAF45FFAB04A4BF2B1690EF52B33F25A06854962BD691A0FA0353C82AF58A7224E97F8B0BC9DD41829526974FC57D1417197AD702B25E0123DB4940F229CBA48F4B704A5B5926ADD2FF5B21F48B247EAF05A469A546E5847262C53D144D2A6E20DBC9B2FE4F094A9629A094B6D252B24EF9BEAFE695FEBF97809C486A52719990BB8414A0D212B24E21282D26DB48E012A8AC53002A5651ACDA7F2DC9F1FE2D2E24014A0B4850D2E48A35E464F25DD64B91AE25BF651B290A5149AC3F01D956BA94D2573EA54832FF1602BFC9BCBF36F97F47FDEF75A1FF2A01E91AD20A52CBD24ABF7BBCFF2902127CD35DF95537B91FC1FB11903E2B77849F13C5A7659DF45DA941A949A56D7FADFE52B9042E89C8FE52E4984A5BC522FDFB2AF3C8BA7BF3DE8F80DC2DE4AEF173224DDFBF5E0E28C1286DE5625540F42F97BB8F424E5A40D98D944D418E23C7F8A5BEB25C12916DD473DC8F801C4C8274EDA759D97173BF41E4BB04220148BF56DA4B820A08A55CB695FD2521A96D85AC6C27DBCB76D22A0A2959AEF4954F8598328E7A8E5F5B03CAC00A1839882426BF9577457B721239B914F9AEF451342DDBC97759A7BCCB31A445947964DD4FC9CB3E2177FBCA31A59264997CFE2A0145638ADF29132AA656265748C8C9E5C00A08696E3999FC565C493E65996B3F2528F328E328E4653F592745CEA9B88FD2F737115034DEDF3F9577C515A4E9152D4A6DF5D7A252DEDF8514500A308580242FADD09F802C93F5720E650CA5FF7D0928E0246B39A0EC2C35A7BC2B83A84D29E46C3F6DC9C91410FDCBA586A5C83E52090A60396E7F4DF7EF2BC7926348C5C8F652FB8A02C7DE6F0D48E0FDB5213B29C0E4BBAC93A41EBF0B567E4BE90F5E02F969B9AC9F71B78F7C97634965C976F25D01AFF49538643B651CD9F65EDD2F12F82D5980FF6D6D7E53EAE27F1BE8FE78FE13615705466F83394C0000000049454E44AE426082)
END

END

-- STD
IF ISNULL(@sysSiteIDSTD, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDSTD

--DELETE FROM [sysMenu] WHERE MenuName = N'Bảng kê chứng từ thuế TTĐB bán ra' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Bảng kê chứng từ thuế TTĐB bán ra' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Bảng kê chứng từ thuế TTĐB bán ra', N'List of Special Consumption Tax out', @sysSiteIDSTD, NULL, NULL, @sysReportID, 8, NULL, @sysMenuThueKhac, NULL, NULL, 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001DC8494441546843D59A07785655B6F75FF5CE8C33A38EBD8D05B12B082845519122220848E84A951E3AA187F400211D420209E9A4F7DE7B427A25BDF74EE8BDFEEEDEAF1C26E3A7E878EF7CF7DE3CCFE29CB3EBFFBFD6DA65AD970700D5FFE93F49E07E52515E3B282B336F6B7858B4B7AB8B47BAB9B975E6AEDD3A196B34D7F9CF99B778EF6BC357EC79F02D1D5DD5ABDABAAAC756E9AAFEB6FA1FF2F81A5DD593EB74554F6FD0553DBB5157F5DCA61F9FCF88EFA745F9936B75554F087961B6EE80210B96FC1A969FABFF45F039B925832B2AEA220401324FE412179B446868249E9E3ED8DAD9A3A363C0C2454B18FDD978DE1832092D0337BC232B38E299858D7B06075DD3B17249C7C2391D33A7344C1CD3D8E7908AF1D1640C6D93D03B94808E551C7BACE259B0C69865ABB5183DCDD243A5E2C17F85C8CF1288894BFF26E344C1E5CACA7A3ADABBB970FE02776EDF11E3FEE3EFCE9D3B7475750B52E12C58F01D0306BC8CDD117B6E8B267D672FD375EA026DDDE769EE38477DEB196A9AFAA8A8EFE5644D0F85955DE495B59355DC4A56493B16873DD033D063B78E3E9317EF4D53BD7DFCB9DF4AE2FF21E0E51B392F3A368D9ADA266EDEBCC9B56BD7A9AEAE262A2A1A2767778EDA3B73CCD195B0B008AA2A2BEF31F2F4F266E0EB6F616A7184D69EAB94D6F65252D54D7E45175927BBC828EE20B5B08DA4DC1612B29B88CDAC2732AD86A8B47A0CCDDD30DC6B82D5412BB4757498B552A7F18931FB86FC1612FF44C0D2C6FDA3C090B85BEDED5DDCBA798B8CF40CB6EFD467C417DFF1F8EBD3F98F973478E895D93CF4D24C1E7E793A0387CEE28755DB888D8D5313696A6A66E1C295040787D3DED54373530D8D0DD5D4D45551515549597939D5158514149510965A47487235A1C975E899BA6162618D93ABAB5080053ABA7B98BF6AFB85573EDB3EF9D748DC23A0523DFE90AB47485973731BE7CE9DC3CECE81E163E6F3E0DFE7F0E2A7DA4CDFE08E96F0595DFB34F6D8A5B0D2308491732CF9C36B4B794A90D3353820FA9DA5B3A31B53134B728BAA3859DD4269652D2595D5E49755915D544956611929B9650426D5E29F504540620DBBF7BB606D6B4F604808478F39AA49E8EAE9B070C566DEFB7CFDB2FB91B847C0D4CA795E615119674E9FC1DCE220AF0E99CBA31F6C61DBC104128BBAC9AB394F4ED579B22ACE912D24B75A7C579FC533AE8A31DFDBA07A5E83759B74E83BD54B6545359EFE49A41577119FDB4A4C560B91279A094B6F2428A501FFC43AFCE2ABF08AAEC02BA65A6C00C738EAE44E424A0A5E7E7E6A120724097D5D96AEDAC8B0F1EB747F89C43D0269E93991BD3DA7707571E79D510B79E6533D7C921B28A8BD4052C129E2727B04989E7B4FF91E9FD74B46E9190A1A2EB14C3F14D5DFE762B4D792337D7D64E594109DD5444C4E1B11824068463381A94DF82535E0155F877B4C0D2E9155426A58AB6D8F876F1079454544C4C4FE8384F98F2456ACD9C8A8AFD6DAFEE2369A9696F5747353CB8574E1F35366ADE3CF43B6E12E26C9A93CA706AC969C9F91DC5EE20BCE112B00E696B73375A3174FBE339F88F048DA5ADA296EEBA4E4D469F23B7AC869ED22B3512CE4DA56122B9A893DD94064411D11F9F5EC34B12322369E9A8606D232B3EE92F0FFD11292849E2EABD76E64F4644D6FA1F17F5AB7EA8FE2A252CDEAEA5A2C2C0EF3E8FB2B596A1C4B52D1690252BA85D67A0948EA14666FFF270948EEC63FB91767DF547C7C7CF1F2F2149AADE6D1E1BB85EFEEA1B2BC8E8ED62CEE5C0BE0CE057FEE9CF5E6769F07B7BB5DB9DDEEC8ED66B1E5D6DB09394C80D522D24FA4D3263CE064651519393944C727E01B188483B30BE656D6629BD54773FD46C64CD50C5071FD1F6B57123859521E9A9599CD77CB76F3C46786D804D7E114DD83A57B01C6E6CED80536621BD0C461BF06B5D8057562E9518681D05C584820972F5F22373B130B6B5BBE5AEFC3CB23569110974C6D5531772E1E87F3AE70DA097AEDA1D30E5A0F41A315D49943C53E3CF6CFA358AC9BAEB31769143B6051692931492978070461EFE286E5A143ECDDBF5FBD3BADDBB8916FE66D76D6F8A1417DE0A94243A21E2D2C28A9888A8C62C4142D862C74C32AB80B2DB3040ED93AE078D49A0DDA4731766FC5C8A50EE3E3AD6C34F463D76E3D8A0A72D4DBE7EDDBF2F80227075B3E9EB59B47876DC5E19827C5C527B9DE27C05F10EE7BDA067AACA143806E39000D7BA1D6102A7589B49E8DDEE605EC5EA3C1E6A553D1983597CD3387B3EDDB21E86A0C66C6D8CF7877C414868CFC9211A327F2FEF0893CFEDA9C0FD404C4156150D689DC4E3FDF00DE9EB083719B6358BADB173D7D43AE5C3A2F0EB2ABAC5CF1032B0CC2D9685381C6E21DECDB6BC0A9DE6E356879D05DBB768D5BB76ED2DBDBC798B5413CFC913646FB8F9093954F6B7B34A7CE84D2D31D4C777B009D4D3E74D47AD256E946EB49679A8B1C2988B1C0D6783576FACBB031DAC4863D3604996E24D26C1329A66BD1DB6AC28445767C397F1FE366E9F3CCE0E5A81E9EA93EE854313189239312D37ABC3CFD78EB2B5DC66C8CC7C6299C6B57CEDF3B6573847B7CF4C938264E9D8F9F8F7009B5D6EF70F5EA352157850B5D815B57C5C97D83D55605FCC747E25A607098B4E434D26BCAC968AD25A5AE8284AA32624E161351504070562EFE699978C7A7E319938A4744122E81B1D87AC5A3E79889F5D1204CADFC3036F160FD9E20666F12B2DE93391BBD796D9C29AA3FAF7C4F4D202222F6ADE8A8F8363FDF40064D3364E8B270BACEFC78EFB971E38638916FAADF3D8FBB515C94FF63F9F51B5CB972F54791E0B94E59431F537664F3F2DC289E1C638CC17E7BE26292B9D1EB085785DBF41A0BF7D113EEB347B8CF4EA8DE06659BA16803E46AC2895590BA84DE082D0E1F0B80E039E03D1B3C26E361B48FB12BFCF966851353573AF3D2A7C6A8FEB46CA09A407070E4C3A1A1512723422398B0F0007F9BE2C1749D3C2E5DB901776E71FDFA7501F8FA3D6B28C02F09E037AF5F859BD7F04A69E18375690C5898C47BCB6378F60B036C8F7A111E1E825BC8504A0BE771A747F87BA73E34EF86FA1D50A505A59BA0701D64AF81B41590B488B6102D2CEDFCC07F96003F135C2761AFB38F4F97F8F0D5120721C778E113C3DB82C0AB6A02F29F00FF109FA8882856EFB0E599E98EBCB43C85F54E155C12DAEFBD7495EE0B57E83C7F592D1D672FA9E5DCA52BD4F79C678B6F35EF6ECFE4836D990CD5CAE2F51F42787F8A01C101E2EAED730C63FB4FD9673F194FDFCF8515B60B0202709D005C250097FE20082C1204BE1704E60A02D3E90CD2C4CCC65B109808C785B87E82DD2E43462CF062ECF747F842C833230DAEA9FEF8C38BF708787B052C08F00BC6D92D8097BFB16090560AAF6F3C81555CB3207183F6F357683D77999633976817E0CF5CBC4C6CF529345CCAF9C8A480CF848CD2CF65F89E6C9EFED69EA59B0F1111128D7F88BDB86DEEC52D589315BBFF4C74BE2FB1A5D984E726119C1E875F62145E5161B88704E3E4EB87BDBB27A6477C597B201A33D3A3EC35B0C560B725F356B9307ABE23A3E71EE693398779F223BD4B82C0B3F708B8B9F9FCD5CDD5FB54B4B0C2926D0EBCF0BD07230D72192624ACB4878BC285DA0581DE0BC20AE2AE7FB4B093C95E557CE554C6A4A327196B51C4A7FB0B797F4B2C6F4C35C1D32348AC193FC2928C89CED0C5CC6D14DF6D57E112B68692DA40F20B9DC8CD72202BD58E8CB843A446589214684ABC97116EF68758BF3F8450AB9D04EDDB869FFE0656AE3AC4D099C718A171900FBFB5E6F1613AE7048127EF11902FCE8EC757BBB978221635A397D8F2F6B6683E3D54C297F6A524349CA641683E4D04265B4FB4F24D782D1A21B54CF311249CCB9820DA7C629ACDF3DF1E629FB527BE1EC1F8851C24B9488FB82C23F41D9F6283D58338BA3F2F5C68B1709F797052F878C10CC899C9E594A5B4456DE284E716026C76A0AD6741ADCD18AE1C1E01B6EF60A4A9CDEB531D1932D592C1532C786C88CE29D5838B1F65BA88E62578458ED839857B7BFA12121ACF184D27869B243123A88E15318D581575B230A19179C94D2C4969E2FBD806E647D4F37D6423139D0B797DB1237AE65E04FA86E2EC624F7CFE4ED2CA74C43D6A1766C707B0DBE121F4ED1FA5AF58431058CCF5E2B5749505919B53484C74023EDE0122587264BF89195A5A3BF87EC162264F9E8CC98291AC5FB48D57271DE5BDAFCD7863C201FEF4EECE6ED5A3ABFEC2949F10D8BBD7ECAF4646A6B5BE5EFE22024B62919E0F5FEC8D64757435BA855D98549CC2ACEA473950DECB0E7145FEFA700AA3D73A63792490908050CCCDAD884CDE4976ED76E28AD7E39EF43187825EC2C8FB4F181C7F84ECA491B417EDA3A8A882BABA26EA6A1B696BEBE0F4E9B39C3B7B4E3CCFD02EBEB3B272B0396CC7B7336631E0B53778E2C30D8C1AAFC52383B551BDBEADFDC1B777FC812F7F4240ED53AABFE82D5BB6FAB2ABB307715171D8BA46B1DC2498C5876258EF79822DFEB96CF4C966895D02730C03D032F1C1CF371C5F4F7F366FDACE74710548C85C4B499336A18553B189FC0B0E91CF6111FA18D6418FE11FA18388B705E8AE7B579033674E535F574B79591915226A6B6E6A1407A43C5FC409234E7A67711F1AF8DE5046BE3D98A91F4FE3C137B7373FF8D6F687F8FC2704EC9355C3267CAF4A7CE225D58DF15F7E8AAECE5EDC0591F0E0083CBD23B07509E3A0B310A7501C5C42C4A91C86CF715FF6199B336B9606EFBEFF3C5BB5C7512CB45F52BB95E09C77399EFA8C880106101CF914018E8B49CA28E3D2C54BEAEB47464606C6FBCC993157930F467FC7C061B3D532E8E3F94C9DADC95E132B0A0B0BD4445A5A5A99BD7823BBBE1D2EAEFCDFB561F98C8A8FFA11D866ABF2D0B67F9043DE5F70D04E9B458BBF67E2575F3273E65C56ADD8C0AEEDFA625B3363BFA1851073F6EC344453444BB367CD64FCB8614CFF7630076DE78A8CC30ECA1B7791523C9D908CBF139AFE0651996F1115379AE8E47CA1D11BD4D73788EBF13E068D9CCD032F68F0C87B9ABC33C9988FE75BF3C977871832CD84A7866D44F59C0603066B60606CC66911245D157DB50D6CC4BD69FC796CFEF404AFDC25B042F7990F1C02669373D293BE73B59CBB5245754B2C31629BB33ABA9E6D3AB3D1DC329DB55AD359A7358DD59BA688F78922141CCFDE235F1398FE0325CD3BA8EDDE4E41D31A0AEA7F20F5E4501142BE854FEC5B7844BD815F58A088992F505458CC92651B7964C02C9E1BB9832DE63104A735925E26A2B8CAB364569CE6849098BC760EB8663064CA5E1E786E06F3176FA2A1BE8EEE5357F17635E1BAE903CBF9F35D029B8DDF9A69E7374E5CA2FE828E930A23CF07310F7D9823C97FC339E729DC0A9FC6ADF8193C2B9FC5BBF6797C6A9E27A0F145C23A5F26B2F715A24EBF4278F74BF8543F8B6BD19338663EC6E1F8873109FC03FB7C1EC2D8F13D6AC562ADA9A965CDBAEDFCE1D5F98C5D2A762A719EE48B9035A5B88F847C11DD89103531B78388F86C920A4FAB63F0ECEAD3ACDF2BC2D517E68BF87887481A74505AD54883DE3B81F7086C3519B82521F310C59591E49D0C24BBC457249D3C45D2C95DE4745CC92E7322A7E218B955F62290B725BBEA1099955664949B094D9B905C6C24B64D3DA2B3B589C8D84170B2167E711BF18AD4C4357825C91941B4B5B6636A66CD93EF2EE0F3A5C7D40981F493A7D571B62231D9228F24403788344C70D409120ACE0A22A7C48670910D0722D531B7B9A51D1DA7CED314605273EF20B3709A74E4C2C55EE16317B878F914E72E7672E6420B7DE7EBE93D5B4DCFD972BACF94895B6A311DA7F368EBCBA4A52F9DA6DE241ABAE3A9ED8CA0B23598F2E6408AEADC452C7D948C933624E75B8883CC94FA867A1213921833650D4F896441685687D0FE392232FB0857E4C429E14AA7482D3EAB5EB4278B0BF0084C130981334466F5905E7E9AA1B3AC7973D452B244DCDC50DFD415979AF907F5216664FBC981E68E227A4ED78A946005EDBD45B4F78860A43B8B96AE749ABB9269EC8CA7A1239AFA8E70EADA83A969F5A7B2D94B883BA50D4E9CAC3F4A41D561B2CB2D3821AC9256684842DE1E52B26DA91479212BEB233CF2FE2A96EE8B17B1743BD66EE958BBA609F931876AE59286A9430A1EA185F76EBE31D191581C8BC335A607BFE44E741C73500D5C8EA9F951E192F5E4E6168E5413303E32C2B8AE259DAEBE323A7A4FD2D29D49734F1A0DED8922AF194B7D5BA4C86D8652D9184065830F6575C729AD71A1B8CA41EC3A7622CF7988C22A4B4E1409E0054624E7EA8A6BC46E124BB6531866468E4868AD5C6FC0A3A374D173ABC03EB81A3F3F5FB10D7B8B33E41FE2E5795C249163EE11B82DA23C27C763ECB488E6A088C3AD026BD431FB8C45DA9488144C7E5ED14E3581034EC3742A1AA204F8429119C8135A4EA0B13B56683D8A9AE6506A5A02A96AF411043C047057F1EE2CEA8E098B1C117507A96A31A7A2C94404354694D4E90A4BEC22BB663B89E2BE5F9CED4862620E53BEDBCD2BD36CD1B22B13B9A0D67B207FEDE5EA958BE8EB1BB0423F86693AC53CF5D561464ED94A465A3A39D9F97E6A02D61E1F6E3F59174063578A001F4BAD7093FAEE109ABB8368ECF013E225C0BAD3D0E642A388B06A44805ED96B4D559F290DBD165437EDA7AAC950ECFFBA9CACDB4991009F57AF8567D608329323C4B5248EB173747867BE3B8BF71561E95DF76BB8FFA9FE4C5F1743868FE5F1F1AEBC34CB8B4113B7131B1D4B5A5A668C9A80ADEF90CDC5B5EE027814F5EDA1824820F55DBE02B4B720E121D6802BCD9D4EB49D3F46418B05E939A1949465893C671879AD86349E3216A9F3DDE204D61204B6899D641D51B923F0C87C8A94785791E88A61E20223DE9EEF8186761E466ED5FF1201D9B8BAAA8AD767FAF3A2861743A768132992672221715C4DC02178C8EA829AA3D47406D2D0E92716A997C8E3BB8A84EC31E1428E62211FA3FD940355E7CCF10B3EC2318763989B59A0BFC70443938D949ED1A2AA7997D0FC664AEA978BA4D830C2325F26F4C44092E20DC5153D8E796BCD797EAA136F2D4C649565C9BF4CC029B68BD717A5F0FC74573E9F63407464349111B13FAE01E7F021CBF3AAAD296B3E2E08788853D885ECE22324A48BB25A5B5A4532AAFD820D994D3A04451E1267831F49791E44243B6265BF9AE4A625B49CD5155659845FF8200263DE212469B0380BDE1529FA15E27A9EC04E237B9EFEFA302F2F4E6091C5FD095CBD25321E774532F5CFEA62C0B2640669A6F1F4E4232C5867416C540C21C11163D5048EC77CB030AB7C3F454D47A8ED7210EBC081F27A5B911E3F489DC8A27574DBD27CD18CEC8EF5F8246D22AAC48C8C764B020B74F0489D4F62EB54CA4F4D173E391A0B9BB7098AFE108F90C122A07F8FECBC4978FB44E37E3C9081D32C78736D025FE8E7B33BA08EDDC10DE88437A11FD38C61420B7AF12D1CCDE9A2EFDA2D7AAF8A848200175D718641BBB244CC9DC590AD693CF3A529E6D66E040547DD763C1EF4849A8057DCD039D95586E4375A8A75604753B79DF07D5BE13A3674F61EA2ABDB86C68B466475688A53D881EC36472A6F9851D0E9224EE4C378563C477ECF28EAAB67905B30419CE85F9253FA85F845663439E59F11106E247C368E055B8EF2F705DE7CA89DC37B02D430A33C465914F2B96D09E39DCAF9DCB99C95E10D9CB97E5B0D3EAFFD225F581631DC30978F0DF2786D79206316988B9FB5A2F171B489D9F2C1230FA809F8260E9B915EB6435CC44CA96AB5A6B4691FD56D26D4B4ED13DBA4114D2D26345FD021BDD28C86964AEA3A73281319B7E2C668724B93704E994079DF38F24F689099FD35D9855F91593481948231E2A7A571C4657C21F6F3108244A03FF8BBC30CDA91C867078A186B5DCC248752A67954322B4884A961B56C4D6BE5B2709FEAD357D170AFE053AB22BEB028E623DD345E16F1F011477FDC7C2268D8FFC9DAF239772F7301A9C327A5966E25A7D190D296BD94B71A8BB5602A76A303620732A1A2673B35A7B61390B91E87E8F5F8962D21A67B21DE65F3D9E73F1D9BD80FC9AAFF54FCEA328284F86F48489D24AECEE3894A1D2FEE335F10903F10DF8875F87A45E0E419C55B4B9C186599C324D70ABE3E5EC1F4806A6645D4312BBE812DD96DA4775D6469543DE3DCCB987CBC92CF0F17F0EA02470C2CBDF1F60FC7E2805D3D47863D99F0ED5D028169C32744E6CE27AA60B1F825469BE2566DEABAF4C5A1664CEBE99D64754E25B5FE33622B47B3C3E37D02DB84AB3085D0EE6FD9EEF61EF115C24DB25E27B2FA4D71D15A2416FD22E1820B445A713421396F1252F801D1C51FE1EE6F4E78480CEE7EF17CB2D9532403725899D8CC6A91185B95DACCAA8C1676E4B7B333A79DA549CDAC4969E56BE77C3ED03C8E896D102121911CD87F88552BCDDCB17A5BA533F42E81D08CCF3F778C1D887DC4C364946D25AF6921056D53C539B098D6AE65145E184BD6A511945D9F8867C910C26A1692D6B501FFD2D9E2EAFC3E85973E23E5EC10F19C40CFA90D7474ADA2A5772501D94F905E3C476C0E5B882C7A13E7E0AFD866624F78681491D1A9689A87315DFCEEB636AC94BDF9AD589476612EC430AF957591654CB188659E9E1FEEDED18489DFA8576F3060F8B0B93CF0A6D977F93355AA6F5E79E0C7AC4458E6B851C7A207621EA41207D064A24A47125CF63AC90DC339D1399CF2CBDBA9B8B58DEADB22A5CE246A6EEA5277F5B078EA53C31A0A6FCF47EC1F94DE5C4DEE99E162B17F4A52E348DC4EFC9184C2892457CCC627F339428A57A2E516C2AE03D6B8B97891149B886F70127B9DE2D8E194C836D714B60BD9E2108FF691288E7944132DD23C6E2E1E6CD8A0CDC00F97A07A75D74DD59B6E2F867EF3806AE4B3772D60EBF7F6A8B0ACE9F8674E26BC681251E58244D55724B47C4D46DF544AAF2E13405750C75A21AB68643D4D6CA219ADBBB28956F15E2FC8945C9B43DED9599CE8FA96D4E6199C689A4572AD86C852CCC6356B13EBF3FB581D99C502237336EE34E0F0A1A304FA0410111C4968D08F1216144E80B73F870F1E4173DD0EBED6D064C2BCFD3CFCDE9E6BAA01C6ABD334552AFD8902BC3080DA02D397AB9EB0F79956149EBCF54E788A16F199BBEFA4E5E9DFC92CDA7B273DCFF076469EE1ADEC82FDB7F28A4C6FE51598DF3A91B9F76666D63E21FB6F66659BDC4C4935B81997A87D233671F78D9884DD3722E376DCF00D5977DDC37FE57567EF25D78F1E5F70F3A8BB46EF02DD093B1FF06E1CFE6468EDF0C702AA873F3473ABC60B1F7F63F8F1971A21D335BEAF9A3B77E1D9B973169E9D367D7EE5C88F27873CFBF22706AABF4E98A1FAD3BAE12AD5E2E1AA170D5FFDF31F05E807FBFDF794AD5A5B5452C4DF734234847C27645E3F992BDE7F5666CD9CE9B571C3FA6E512F37B4FB891C6F9432D76F794AC5FE1651835764F9F2E5AA7F4544BF9D9A9A9A6EA28FFEBFD2EF3E6D378B3A29F7C5D19FD83FB1FCB58EBF503F569487FCCEBEFD810E10639CBD2BFF5F09C8891FFF6F2020C790634985FCDB08200697527C771239A9FC76BDFB9D229E4D7741C87209C4FA6E1BA9DD19FDC0C9B6B24EB697E3C96F65FCFB92F8BD2E240755C02AE096DE2D93934BB00A00094C8252EA95EFFE041445C867FFB1E57ABAAF45FFAB04A4BF2B1690EF52B33F25A06854962BD691A0FA0353C82AF58A7224E97F8B0BC9DD41829526974FC57D1417197AD702B25E0123DB4940F229CBA48F4B704A5B5926ADD2FF5B21F48B247EAF05A469A546E5847262C53D144D2A6E20DBC9B2FE4F094A9629A094B6D252B24EF9BEAFE695FEBF97809C486A52719990BB8414A0D212B24E21282D26DB48E012A8AC53002A5651ACDA7F2DC9F1FE2D2E24014A0B4850D2E48A35E464F25DD64B91AE25BF651B290A5149AC3F01D956BA94D2573EA54832FF1602BFC9BCBF36F97F47FDEF75A1FF2A01E91AD20A52CBD24ABF7BBCFF2902127CD35DF95537B91FC1FB11903E2B77849F13C5A7659DF45DA941A949A56D7FADFE52B9042E89C8FE52E4984A5BC522FDFB2AF3C8BA7BF3DE8F80DC2DE4AEF173224DDFBF5E0E28C1286DE5625540F42F97BB8F424E5A40D98D944D418E23C7F8A5BEB25C12916DD473DC8F801C4C8274EDA759D97173BF41E4BB04220148BF56DA4B820A08A55CB695FD2521A96D85AC6C27DBCB76D22A0A2959AEF4954F8598328E7A8E5F5B03CAC00A1839882426BF9577457B721239B914F9AEF451342DDBC97759A7BCCB31A445947964DD4FC9CB3E2177FBCA31A59264997CFE2A0145638ADF29132AA656265748C8C9E5C00A08696E3999FC565C493E65996B3F2528F328E328E4653F592745CEA9B88FD2F737115034DEDF3F9577C515A4E9152D4A6DF5D7A252DEDF8514500A308580242FADD09F802C93F5720E650CA5FF7D0928E0246B39A0EC2C35A7BC2B83A84D29E46C3F6DC9C91410FDCBA586A5C83E52090A60396E7F4DF7EF2BC7926348C5C8F652FB8A02C7DE6F0D48E0FDB5213B29C0E4BBAC93A41EBF0B567E4BE90F5E02F969B9AC9F71B78F7C97634965C976F25D01AFF49538643B651CD9F65EDD2F12F82D5980FF6D6D7E53EAE27F1BE8FE78FE13615705466F83394C0000000049454E44AE426082)
END

END