USE [CDT]
DECLARE @sysSiteIDPRO INT
DECLARE @sysSiteIDSTD INT
DECLARE @sysMenuThueKhac INT
DECLARE @sysMtTable INT
DECLARE @sysDtTable INT
DECLARE @Query NVARCHAR(MAX)
DECLARE @sysFieldID INT
DECLARE @sysReportID INT

SELECT @sysSiteIDPRO = sysSiteID FROM sysSite WHERE SiteCode = N'PRO'
SELECT @sysSiteIDSTD = sysSiteID FROM sysSite WHERE SiteCode = N'STD'

--------------------------------------------------------------------------------------------------------------
--
-- TEST
--
--------------------------------------------------------------------------------------------------------------
--SELECT @sysMtTable = sysTableID FROM sysTable WHERE TableName = 'MToKhaiTTDB' AND sysPackageID = 8
--DELETE sysField WHERE sysTableID = @sysMtTable
--DELETE sysTable WHERE sysTableID = @sysMtTable

--SELECT @sysDtTable = sysTableID FROM sysTable WHERE TableName = 'DToKhaiTTDB' AND sysPackageID = 8
--DELETE sysField WHERE sysTableID = @sysDtTable
--DELETE sysTable WHERE sysTableID = @sysDtTable

--------------------------------------------------------------------------------------------------------------
--
-- Tao bảng MToKhaiTTDB
--
--------------------------------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT TOP 1 1 FROM sysTable WHERE TableName = 'MToKhaiTTDB' AND sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'MToKhaiTTDB', N'Danh sách tờ khai thuế TTĐB', NULL, N'MToKhaiTTDBID', NULL, NULL, 0, N'Stt', NULL, 0, NULL, 8, NULL, 0)

SELECT @sysMtTable = sysTableID FROM sysTable WHERE TableName = 'MToKhaiTTDB' AND sysPackageID = 8

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MToKhaiTTDBID' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'MToKhaiTTDBID', 0, NULL, NULL, NULL, NULL, 6, N'Khóa chính', N'Primary key', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'KyToKhaiTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'KyToKhaiTTDB', 0, NULL, NULL, NULL, NULL, 5, N'Kỳ lập tờ khai', N'Period', 2, NULL, NULL, 12, 1, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, N'##', 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NgayToKhaiTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'NgayToKhaiTTDB', 0, NULL, NULL, NULL, NULL, 9, N'Ngày lập tờ khai', N'Date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'NamToKhaiTTDB' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'NamToKhaiTTDB', 0, NULL, NULL, NULL, NULL, 5, N'Năm Lập tờ khai', N'Year', 4, NULL, NULL, 9999, 1900, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, N'####', 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'DienGiai' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'DienGiai', 1, NULL, NULL, NULL, NULL, 2, N'Diễn giải', N'Description', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'InLanDau' and sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'InLanDau', 0, NULL, NULL, NULL, NULL, 10, N'In lần đầu', NULL, 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'SoLanIn' and sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'SoLanIn', 1, NULL, NULL, NULL, NULL, 5, N'Bổ sung lần thứ', NULL, 7, NULL, NULL, NULL, 1, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

--------------------------------------------------------------------------------------------------------------
--
-- Tao bảng DToKhaiTTDB
--
--------------------------------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT TOP 1 1 FROM sysTable WHERE TableName = 'DToKhaiTTDB' AND sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DToKhaiTTDB', N'Chi tiết tờ khai thuế TTĐB', NULL, N'DToKhaiTTDBID', N'MToKhaiTTDBID', N'MToKhaiTTDB', 7, N'Stt', NULL, 0, NULL, 8, NULL, 0)

SELECT @sysDtTable = sysTableID FROM sysTable WHERE TableName = 'DToKhaiTTDB' AND sysPackageID = 8

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'DToKhaiTTDBID' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'DToKhaiTTDBID', 0, NULL, NULL, NULL, NULL, 6, N'Khóa chính', N'Primary key', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MToKhaiTTDBID' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'MToKhaiTTDBID', 0, N'MToKhaiTTDBID', N'MToKhaiTTDB', NULL, NULL, 7, N'Khóa ngoại', N'Foriegn key', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MaNhomTTDB' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'MaNhomTTDB', 1, N'MaVT', N'DMVT', N'MaVT', NULL, 2, N'Nhóm thuế TTĐB', N'Special Consumtion Tax type', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'TenNhomTTDB' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'TenNhomTTDB', 1, NULL, NULL, NULL, NULL, 2, N'Tên hàng hóa, dịch vụ', N'Product, service name', 4, NULL, N'MaNhomTTDB.TenNhomTTDB', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'MaDVT' AND sysTableID = @sysDtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysDtTable, N'MaDVT', 1, NULL, NULL, NULL, NULL, 2, N'ĐVT', N'Unit', 5, NULL, N'MaNhomTTDB.MaDVT', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'SoLuong' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'SoLuong', 0, NULL, NULL, NULL, NULL, 8, N'Số lượng tiêu thụ', N'Quantity', 6, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'Ps', 0, NULL, NULL, NULL, NULL, 8, N'Doanh số bán (chưa có VAT)', NULL, 7, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps1' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'Ps1', 0, NULL, NULL, NULL, NULL, 8, N'Giá tính thuế TTDB', NULL, 8, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'ThueSuat' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'ThueSuat', 0, NULL, NULL, NULL, NULL, 8, N'Thuế suất', NULL, 9, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps2' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'Ps2', 0, NULL, NULL, NULL, NULL, 8, N'Thuế TTDB được khấu trừ', NULL, 10, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

IF NOT EXISTS (SELECT TOP 1 1 FROM sysField WHERE FieldName = 'Ps3' AND sysTableID = @sysMtTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysMtTable, N'Ps3', 0, NULL, NULL, NULL, NULL, 8, N'Thuế TTDB phải nộp', NULL, 11, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

--------------------------------------------------------------------------------------------------------------
--
-- Tao menu trong quy trinh nghiep vu
--
--------------------------------------------------------------------------------------------------------------
-- PRO
IF ISNULL(@sysSiteIDPRO, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDPRO

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 17
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 17)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (17, 0x89504E470D0A1A0A0000000D494844520000000F0000003E0806000000F4F04142000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000018749444154484B63BCB8761A030830B1B01EFBFFEF2F23988317304A00D5298295803483F0E58DB38F01E9FFC460A0360DB0A5489A8F10A3F1E8EA593F819AD7A368BEB461D6256234EF583CED0B507313259ACBC8D27C74D54C90B351350303EC0E31CE06A9016A6E46B7F916319A2FAC9D0ED23C9B12CD3347356F98454A688F0618304B8E06188EC2109A254713C96822C15D5B8E261268B36234918C2612E486CE68C618E21963FDCCE3C4345CCFAE9DF9978989095E4B12D5AF403678C9B49E6BE0A6F3E54D731E126323BA9AD36B67BE65B8B269CECEA95D4D5DA41850555E7257475BFB04B877B36FC9E4B6536B669C25C68039133A5F8035323004C1BB46A7574FDF7664C5B4FDF80C98D1DBFE1CAA3111A8590AAE19E4825D0B27569F5C3DE322360356CF9EF84E5343E33850530248234A4B1FD639CBCC48D3888F8B0D4136202F2FF7968888C87EA0A65C209684A945B11926B878629B254CF382293D6F848585B703350500310F4C0DD8665CC0C5D949CCC9D1B1988B8B7335504D1E10F3A2AB05005DE17253C32DEB270000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDPRO)

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 22
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 22)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (22, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDPRO)

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TTĐB' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TTĐB' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo tờ khai thuế TTĐB', N'List of Special Consumption Tax', @sysSiteIDPRO, NULL, NULL, NULL, 11, NULL, @sysMenuThueKhac, 5811, N'ListTTDB.ListTTDB', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001ACA494441546843ED9907749555F6F62FF859C60114C65E0615102B8844511918142922A2A080A288F48EF4964608100221B4144821407A4F4881F4DE7BEFBD900A08A814E1F7ED835CBC30A3FFF05FAE35DFACF5DDB59EF59EF7BCA73CCF397BEF536E3740F35FFD5302BA0A8D66FA28CD7D73D66A7A2E30D4F410A8A7422F2D161A6A1ED2C1C38B0C357D961A6A1E596EA8796C85A1E6F1EF7F7D3E2AEF8F487E9F25869ADE8227A71A3E37F8EB595DE5A15BAEEBE4FB2C369EB4E008761EA9B89DC8C6252093E37EE91CF14EC7C1338DC3EEA9D8BA2663ED9CC4C1E309EC738AC7F2483C168EF1EC7288C3CC3E8EED876331B58DC6C42A0AA3FD11185886A16F19CED78B4CF96EC12ADE9D68E1ACD1D0FD6E8474498046F3C69323BFB4FE451ABEE3775DDE7FE1F2956BFCF4F315CE5FBCC4D91F7EA2BDF322A7DB2FD0D0F203B54DE7A8AC3F43594D0745956DE495B592557C9AF482469273EA49CE6DC4E2A0330646866CD86CC8B899A6719A81AE8F77554417054C99B2C336EA06F9CB572EF3D38F3F73FDF239AE5DEDE4FCF933B4B69FA5AEF12CD5F59D94562BA2EDE497B7925BD24246D16992F34E9390D3446C660351697544A454732AA992E0B83242E22A31D97D1463D31D5858EE61E3E6CD7C36CFB0BAD7C85D83BB22A28B02BE9E63E3927C43C0C51F7FE4877317B974B193CB3FB772A6B38DA6967611D04A474B2D0DF5F5343554515E554B5D4D39D555A59455945054524C616101A545596466E712185B817F742901D115189B1F65C72E4BEC1C1D31DBB50B7DFD4D4C9BBFFEFC33FFD4FFE87F12D1450153279B5A45DC1070FEE20F74769CE3F24FCD7474B4D2DCD2425DD3694A2B5BA8AEA9A3B2BA56D235E495D4925354437E7139B9C5A5641494909A534C72560131A905F84495E31551827764199B76386179C0162F5F5FAC0F1DBE21C2C0603333E6ADA2DF7BDFCFF923115D14F0C9A8B566415CBD7A9DF68EB374B6B5D1D0D44E4B5313CD8DF514969F26A7B8594836919AD744624E23F1D90DC488C984A7D5139A5C4770622D01F1D5F8C654E1155981677809AEA145B89E2C65CD167B6CEC9D088B8AC2D9DDFDA688DD18186E66E6BCE5BC327299E1EF89E8A28071C3161BF9DE70D49A0665EF4A4033D5754D32D22D6416358B533689AD2BF262EB598D442BF2E90D9C4CAD2748040424D4E2135B83675415AEE1151C3B59C691E01241194B361FE2B8BB37A99999048684DE21429FD90B9633E483A556FF4E441705BC3F78D63A0FCE9CFD910A8928D53F5C12FC48A5F842E5B9F3949FFD81B233E7281114779EA5B0E30C051D9DE4B57792D3DA4E46532BA9F5A749AA1671E5F54416D5722AAF8AE0CC0A82322AD96066CD8993E1945454109390745384C7AD99D037D467DEA265BC3566899B10BE8D7317058C18386DB9F3F566098B45D59DD45EF881EBE408320569822441BC204610C1F56BA7B87E3598EB9702B9FEA32FD7CF7B71FDAC1BD73A9CB9D6E2C4B5467BAED51EE25AA5B5E020DE9633894F8CA7BEA58DDCC222E29353083E158E9B9737871C1CD9B5C712A32D462C5CBA9C77C72FF1D615D145017A7D27CE77BC525DD74176692B953F9C95D954512941102B8814840942E07AA02C0D7E126FBDE06777095BCE70CE093A1DA0ED10345B43FD7EA8B6848ADD50B41DE71DD3C92E2CA1F9EC0559339A48CBCA22383C4ACCCA9303B6877E756A6363D66F5CC7C2254BF970F26AC7A163726F2C785D1430F0F1D1330F5F2CAE682135BF99B27367A46E8C205C7052102C0810F8083C45802B5C3926021C45809D08B0110107A0752F3409E9BA9D50B50DCA4DA0D890E0BD5FA0BFE24BD6CFFF9465DF7CC4C44993F97EF29BACF974109B3F7989CFDE1FC140BD49BCFEF638F4DE1BC72B43C7D1E399CF07DD8580871E7A6FAAD5D9ECC24612B2EAC9EF3CC7B9ABB99CBD922948E3CC95144122E7AE4471E672349D3F45D279318CCEF327E9381B4C7B7B20AD2D7EB4347AD35CE34E53B90B0DC547A9CF73A436DB9ECC9316586F5B88B5F15C0E6E5DC90A032BFC777D4FE8EE95C4982F65CB3A73C6CEB663FCCCDD8CF9723B8F0F5E80E681293716BA2ECEC03D0F0EFD745F6B626635316955A49E3E4FDE9956F23A9BC9E96822BBA391AC8E7A129ACF91DAD2487A6B35692DD552AE8AE4A60AE26B4B89A92822A2A4809379390449B4F14B4EC32B2E09B7F0785C4EC6E21C14C5119F5358B98663649FC45E5B5FCC2D3D3135736699BE2F9F7FEFC3E7CB9C99BADC95E7DF3747F397F9AFDC8580FBEF7BED238BFA88C432C2122A486CE8E4EA2F41BF9A0B62E7889DE348566B0D177E96BC6B62E357C56CAED88A1989E95CDC23F66F2AE66324E6A32FE6B3014AD742C14AC85E0E698B217181B8D32CDA825673D0CE1BFCA682DB17D2F447386FDDCEA8795E7C3CCF01F1459E196E8AE6FE392FDC8500CD3DFD3F30AF3E115948902CFFB1E2CC57AE9F90FA6E0217C151C161D265D42F5E56C26C38736EB32C62EFE0E0F71CB9195F71BD55ECBDD9186A3741E57A28590DF9DF43D65248590471F3206A260DFEABD9632D83E0F5B9909F024EE33864B09DE1B3DC193BEBB0C08E27DF35B92602FADE8D806ECFFC637BA967482E7E618544C8CEF23A126584344864411C1527B2DB64BFD36E4C506E7F8C8E695865D983ADB623D87E68022E1E236416D68900215C21844B8470FE6C11305304CC1001D344C0249A7D17B3EB800C8CD718382E707A17EB8D26BCF5B52BA366D8F04FC1A36F6FB9A4B96FF6535D16A00A3E36CCB4C8C9371DCFE05C82CBDBC838574776672DB967EA29B81043EEF9857814FC9D6DBEDDD97A6400769EDFE11FBE8D9058738EFA2D66DEA6BF109AE1C1A9FC144EA445E1171F86676408AE21811CF3F7C3C1C39343C75C30B7F160C9CE507699DBB26D8B155B36ED61BA9C43DEFBD29EF7A61DE4DDA907E933D4E8A20878ECAE04F47ED324D7DA2509679F1C7C0A2E51F6631105973C38796139C72BFECE81C8DED89DF890C0682362336C884AB72424C198907823761F7B8719EB3538052E22B7DC878C2C07D2920F931C6B4D42D87E6283F610E5634EB8EB568E1EDACFB21DFE04586EC077FB5A3C8D97337FC17EDE9862C75B93F7F1E6A77B797888C13911D0E7AE04DCD37F5BA6D941398505A412D2E848DAE5A1F8D53E8073EA00FCE317C81EC89EEC3237528AAC89CD312322DD88A80C13C2924DD9E2F03756ECED8EFDB127C484BE15F3990E7962E3999FC97A38519C5776CD61622E21C3A93A3E0B6333593F8EBE09B643C1EA25B62EDE4CBF89F60C9EB887D72758D06BB041BBA6FBB73DEF4AC0EB53D7263BA52EE244537FDC8B1FC223651C31D9BB29A80CA4B4E104F935AE64955B935C604E8C108FC8DC485C812111199BD9EDF23C9BEDEE61CBE19E74E44C160162F7D962F3A92222FE5388101121E3652D1C498EE33CF44DC5A7ECF460FFDBB0E755D6CE31A0EF385B5E19BF8BFEA37772FFCB1B5AE42CFE60970444FDF4C4D880B61E3E9E350FFDEC59D09F90CC45E4947A51733A91EAD6484A9A7C28AC3B22A37F90F82C73A252B71297A54F62F17AC27397E11CF32E07FD9FC5D4E301B6BAF424357A98845011913D4E047C280246C94E441C3CE43D081C449EDD371898C8C6D37E80087849043CCBEA591B7972B435033E34A3C7EB9BD1F45BDBD87DE0FA7B7F5740585B9FBF1DCFBF77996D8A26D726AE37AEF16388CFDD2BFB94449A3AB2A96D8FA1AAE5848CBC1B7915F6B2BD382047470BD20BB793536E2C62369159B18180EC8F3918F257EC439F604FE04358063F845BF0CB64A79A9212B38DA45346C407EA13EBB59EA8E36B08775882CDEEADCCDFE448A0E94CFC367D8BF7EA697CFCF94E9E7EDF925E6FE82BF2741FB0AEB6FB8BEBEEF91701FB42344376F869ACB67A683A2CBC9F9528315F0E2A4172402FA5F56C21F5ED09D4B69EA2BCC1574CC799CC42B1FB126B0AABF6525C632E3BD5ADE455EA935BB19EDCB2D504A4BF8A4BFC63F8C43CCF91A8A7C5D17BE218FE3C47C3F772FC940747FCE596C3DD0EEBA3D6EC13E7DDB36F172B4D0E3165B52B46EB0CD8B874336BE7AEE1DD4F2CE939D844C8AF51E415CA15F9DB04ACB5D2386FB4E9CE3EF77F109168250796727EB8D04EDB99321ADAD265AB1B2F33708AA20A7F8187E0181575F65435D8505E6B298779334A6B4C28A93620BF720371B99F4AA87C9AE0E40172A8798580A497D97DE241AC4F3D4569EAEBE2C0624A49E2A8D1B2273BF5AA98CF40F07D9AE4039FB36683B9AC85BDC14222E5CE9E7C3E6E299AE70DE9D6FFC6E82B14DC26609EE1A3830E7B7F21C741971B84CF5C10D21D89D4B48653D3164C55AB2FA58D6E94341EA3B4C98EE2062BCA5BF6C961C682D2B3DB28FB610B951D8692BF9AF48A056454CC262E7F085159AFE01DF1121E612F12533018B7BCA7B0897E4456683DAEA588CDC78A8870893441836523FB1A78F425D4E22B96AE1101FB85FC8E2761E3BD8C1D3E1F4D7FB1FDFE37C82BE4DC2660A5E98B53AC3DDF974DD483183A68C4D9BAB1D3E75EF6863E804D5C0F1CD31FC6B9F0117C6A9FC0AFF129FC1A9EC2BFE969FC9A9EC2B7F149FC9A254FF2DD4A1FE548566FEC937A7130E201CCFDEF639BDB3D183A6A30B2D36017F60836F1BDF04A1F4247CA5BB2FABE2802FA8900D915F83C23027A71D27C0A4B576D877DB2DD37142B59A761F488C5425EECFF9680F559B7095863F6C2AA88A4FD62EFC1A4E7F9909AEB21974E2E826372F17444CEBA0E121E65E129B021A9F02089857B4928D8437CFE2E62F376109D634A788611A1A99B094A5C8F5FCC6A3CC356E012BC1827BFF9D87BCDE190FB6CB6598FC0FCC4FD7867F72528E12B4C65E5353EECC0E6FD36ACDD7980EFB7EC66EA2A5B86CE7464F2B4557C32710513C62CA3F71BDBE83660A38CFC2D1352A7A9DF7CC0C2619CCDF90B6DFC7CE93C172EB673EE423367CED7D171AE92B6B3BF3A70CB997C9ACFE4D0D4992EE695445D7BBC985714D52DE194370751D2E04761AD0FD91547492DB62521EF00D11916B290ED900B2C138263B6B3FDE0580C1CEFC121F12102D3C7112AFB9E93CE7309B6FF8EC083DFE0B76B224B97AD62D497DB38B268140EDF8EC46EFA3F78414F5FECDF4047C08694DB046CB57A77676D5336AD9DE534B717D1D89A4D436B0675A793A93D1D2F88A6BA299CAAA6502A9B4E50D1283E51EF4971AD2B45B5C7C8AFB297E8634B66C901520B2D48CC33232E5B16B37403C1961BABF1018FD17CBD568383FF3B44940EC72B7328E713C47C4E3C2C1BB71EB2699301B5D57074ED07CCFE4E76A9A6F2BE51B04AC3D07756490432D615107F9B00536B3DD38ABA78215F40535B9E104FA2B6254E224CA4DC429CA2B22158224C8044186F8AABDC29283F2E779C47C829394C76B1B55CA9EC27AB648F6C278478E656A2D30D6595DE4454EE3A524BF6E21EF61DEBAC352CD9AE21246915054D625AC9CF9392242BAD97907416D80B0E6938B466024BE62CB94DC0A061EBC4FE8D74046C5487F0DF4C68A7FD1083A2AA101ADB3265E4D365942364A13A4975B310AF0DA04C4CA3A4DA9DE26A67F2CB9C24ED20DFEC64466C28ABDB4769DD6E8A6ACC28907520B7D290ACD28DA496AF23AAF07B4E65CDE7B0FF700CEDFF0F9BACEEC523FA6DC28AC711593691909C6FB1DBF33E1E0727E2663E1E976DE398BD782D63BFDE8AE392F7B1FF6E24B6D346F2C49B26747B516B42CA0F36AB8BDADF04581E1FB22EAFDC9BAAE618217F8AB2463193D37EB25DF0A5AAD15388BACAF398CCC411AADBEC2993037A71DB5E4A3ACCA96AB3909BE71D94C81A50546D282BF306598DD79151B51A5789340783FF8655E0536C75FD0BA60E7F25BC640245E70CF1099BCBC60543D834673E5B96ADC470FE1236CF5EC8D8AFCC18F6F91E564EF9966593BE61D1F819F419224E3C50D70736A95B84DF041C701FBC32A7FC18E58D215434F88B101F2A9B3D84B0ABD8BFB3C089DA66071ACE1D26B3CE82F8D400720B92E59E3390F47A13AA3B4CE5467AB3ACC06BC417D69259BA9493196F8B8047708B7A16AB138FB03BB807D6818F73F8D8C72CFBBC1FAB5FD6503041382C14CC172CF8356D31730A4B6688092D917785C51AFABD252174A0F8C0AD854C5FEE6E7404D8FA0C5A98516A2B8B94106FF294AD828B5C8F3B898DDB8BEDDB894FD8D1D07E8892B3BBF1F4B3C1EEB01DBB775960AC6F8689D90AF2CFACA1A476A3EC81568A80B944670F2128E5EF9C48EE27578AFD7089EDCBBE8887381CDA17C7D11ACA470AB1D937C9CFBB5DC0D69933583A43CEC842FC860011F58C9E9108101FB82140C140DDE1FC3603F60183E6A689B315D41E1701C7858C2309995684C7EFA5B0E220757219D570FE00C93532F541B20664BB11917694C0C843ECB15D4074CD2CEACE18925FF82D7EA183E5D8F98ADCFB0FC637F255223306E31CD597BD613D70897A9110B34F08DBF40527D67F86EFAA4978AF9888E7D209B82F1A8FEBFCB17CF18D0163A7890FCC1885FDB47F62F9E987F41AB2836E2F8B09DD9A01037518FF4D8053C86BDF24156C27ABC69AD2E6C312260F93577E4022CC5ECAC5491B5B0E52737E1729CDCB708F5A4E90449BF8865D78CB5EDF39F64B22EB27CA7DE8A7C4C5BC87F99E8178040CC1D96F10C7FC5E25264B0FBFC217D81FFA201EB1AF335A8EA4AF7AB7F0B25325FD0E14F3EC8E5C1EDF944E9FE509F4981D45EF697EF49AE886668C279A91CE68DE76E0DE37CDB9E715FD5B02BA0D30BA5DC0B1D04153938AB788E3ED912DB295F88015D5A70F88EDEF97C8B44FFE03D84FD50513929B17935A2ADBE7067B8AAFEC22537C23B9F8202E458F93D9368C8AE2CF484C1C4D76C118527246C9C166B8AC0B23F1CF7D11BB849EF8A6BECB073105BC15D9CC50FF0A5E3B52C48B96D93C6794C2D32BA3796C4E28BDA7FAD173822B3DC739D163F4211E1CB98FFBDF32BB53C0F1DB66C0357CF06771F9EBC9A8DE290B932579D5DB28AEDF2162B6498814279574CD057DE28B25EAD41553D19C4A41632839D5A1A4E547E118335A66E07D32122793923C81D48CF1A464CB1922731449B9A3714FE88F7D9C0848FF90F7A38A7927B291B7032B1874B48897F666F1827132CFAC8AE6F1B9A1F499E64BAF8FDDE8A51530E25F05741F606C7F9B008FA837C7C5E4AE26A5720B7935DBC417B652D164269148889FDE4161EB3ACA3AD6E29DB4541C7199DC3ECCE264CB37B8157CC976AF491C38F526C995C3E55F173DC2C33E21326A02A1511F7232F643A2B33EC03DBD2FC7521EC6277D1223E5CF8D77A21A191652C5E0E345BCBC3F9B174C44C06A11304F044C1713FAD8F50F05741B6022B7663A3EE0193D64F489946984647C2B2BE726B225A294361BCA6ABC859A8E75623A1388A91ACEA9E27759EFFC0A3EF59FCAA5FA47F89F9EC4BA632F135E341CEFE417082E1D4073DB2C9A9A67CB76641649E52308487D9113396F703CEE6F78654D6758440D6F47D6F3566815AF3B8B098980E7B624F39498D0A3734278F80B5FFE3ADE85073F3CC203A36CB8EF3D4BEE7973BB44A14DB70E34DD066C935B321D01BEB1C3471C0E791E9BC00788C95D2133F12569B51F49389D212BEEB7649EFB80E48BC328BC3C1697BCC104957F4762EB6ABC0BA6E390FC3A591747127B568FEC8B63696F5B49CBE92534762CC637A5B798D057E4D7AD973BD19770CFFC868FE29AF838A1890931758CF62B67846301C3F66432C43889D75647F1D28210FA7FE34BBFE9EEBCF0C5319E9B64C7B3E3F6F3CC3F77D273D066BAF55B2F3BD35D5FDD2E206EE430DBA0E73097BF0E0293C7702277283E79CF13513184F8263DF22FAEA5E0EA0A4AAF1990CD58CAAFCA01E6921565570D296521D9D7BEA21E7BF2AFCE23FDCCDB12AD461053F30EC712EF95ADF678E24BBFC42BF54902F316B2BBF43C166567D95DD28159660BA6710D189FACC640C46C742D62DD911CD6D8A6B3C62A8555FB13586919CDF7E661ACDC11CCB3FFD88AE6B98D5735038EDEB895BB75A4DCEFDE7F987FA2C4E384F104668D2528FF23828BC7125E2B9DB74D24F7A799145FFF8E32E653CE5CAA5844354BA861B96085601975F2AC94EF7997A7C9ADDD17249E96B05A3799E4BA2F88AD9C4246E5748EA6AE625E6A3BCBB25B5992719A795175CC926834437C619A4D365376A732C9249E09B2579BB02E948F569F60DC726FC62E7461D44C3B1E7845FF92E679D3855AF23704CC9D3B573371B6A6B7B5EBC4EC80A855D7059C4AD8703D26CDF07A42A6C9F5D854E36BF1695B7E49CED8FE4B5A96D92F6999E6BF24246DBB9A98BCFD6A52B2D9D5E4949D5763E3B65E8D8834B8122E088BD4BF121ABEF18A57C0F2CB6BD6CDBBB6CF66CE553B979957ED9C3F6FFBC678CC86EE6ED57A7D02CAF51EF22ED5BBCF3A474F6394A4A7591CAEA79916A0A7F9D05D4FF396839E66E0013DCD73BBF4344F6FD5D33CB2514FF3C0523D8DE65B3DCD53267D155F2D6E095019F27B5C3059F09560BA0EA649FA7FC25429F32F98366D5AFA840913BC6EB6354CB7F33F237D9B802E36F8B0941B2550CF5B23F107E995F26DEFCDEF6F74B14E57DABD51462B4011E20EA83CD5B9CA5769554111387B334F3D7545DC59DF58BE3BE9B4A9DE63740468FB544F95AFDA5365543BAA2F95A72DAFFA55F9EABBFA76AB2FAD005540DB886A48A5555ECECDC24A88B651F5DDFF66FE773A84549D9A9BF92AAD25AFCAAA3A5A6847572B405B4EB5F57B02F6DE6C57B5A5EA6BEB38DD69424A992AAC0A3DA7A35435AC7D576935F2BA23A225A5882BD1DA4E146955564B403B93EABB96AC2AA3ADA31D04AD382D17DD81D1AD2B87E99B51E866A7BAA4B4E6A32AAB8674A75C3B8D8A8496FC9DD3AEC828E876A85B562B40F5F9D9CD72AABC7AD74295D19A8FE2A115AAAD7BCB0754C3DA825AB35085D5E8A88AAA615D01DAB4B6632D3155DE49878C5680EECC68CBFAEB10D5F6A9EAABB2AA0D2542E5ABC15369C5473D557D5557F1BA4D802E415DF35195740528D2DACE5539DD515565D5E868674375AA1D18AD306D79D5A68222ADDAD39D555D2E8AA86A578BDB665AD784945A554875B85227AD3A569DDC29EA4E42DAEFAAAEEA443B8ADA8EEF14AB8829E20ABAEDABFA5A2EDAA76E9EB6BCAAF3D99D02D488A8CEF7EA8C8A6A449BAF4D2B720FDF31FA4AB82AA79EAA0DF55D75A6F2D4ACE9CE947614557BDA36B54F55FFCE3C255EDBBE76E66EF4F5470B99AAF47B9DDF49E63FF6FE4702EE1CD1FF18C97F337BB7B8FC6FB612FF4F09F9FF026E4EAFAE63FDBBB40A0ADA7CDD00709B43FE91A9FCDEB73F6B0674E3F4BF4B2BA2BAF9DA10ACF25438554F15B1EEDA3CFF2C01AA63454091D192D07D57715C9154812147A062B84AAB3C1532D5532BEAAE44FC9902B4E6A025A0FB6E7C93A4FAA64D8FBA99A79D01F57E57E455F93F538022A26B06BAEF6A74D5A8EBCE9476E4D58CA81950B3F41F15A048A8D1D592D07DD7CEC6C337852841BAB37267DD2E0BF9B3664011D32571E7BBD6EE75CD65AF8EF36A7DA1CBC4B503F56709D0DAB3D68EEF7C570415941929D35144D5AC68F3FF570E7CCB0774EF58FE1BD3373CF9BF19FF1762CAB8B9F5FFE2EE0000000049454E44AE426082)
END

END

-- STD
IF ISNULL(@sysSiteIDSTD, '') <> ''
BEGIN
SELECT @sysMenuThueKhac = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDSTD

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 17
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 17)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (17, 0x89504E470D0A1A0A0000000D494844520000000F0000003E0806000000F4F04142000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000018749444154484B63BCB8761A030830B1B01EFBFFEF2F23988317304A00D5298295803483F0E58DB38F01E9FFC460A0360DB0A5489A8F10A3F1E8EA593F819AD7A368BEB461D6256234EF583CED0B507313259ACBC8D27C74D54C90B351350303EC0E31CE06A9016A6E46B7F916319A2FAC9D0ED23C9B12CD3347356F98454A688F0618304B8E06188EC2109A254713C96822C15D5B8E261268B36234918C2612E486CE68C618E21963FDCCE3C4345CCFAE9DF9978989095E4B12D5AF403678C9B49E6BE0A6F3E54D731E126323BA9AD36B67BE65B8B269CECEA95D4D5DA41850555E7257475BFB04B877B36FC9E4B6536B669C25C68039133A5F8035323004C1BB46A7574FDF7664C5B4FDF80C98D1DBFE1CAA3111A8590AAE19E4825D0B27569F5C3DE322360356CF9EF84E5343E33850530248234A4B1FD639CBCC48D3888F8B0D4136202F2FF7968888C87EA0A65C209684A945B11926B878629B254CF382293D6F848585B703350500310F4C0DD8665CC0C5D949CCC9D1B1988B8B7335504D1E10F3A2AB05005DE17253C32DEB270000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDSTD)

DELETE [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 22
IF not exists (SELECT top 1 1 FROM [sysImageProcess] WHERE [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac AND [ImageIndex] = 22)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (22, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuThueKhac, @sysSiteIDSTD)

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TTĐB' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac

IF ISNULL(@sysMenuThueKhac,'') <> ''
BEGIN
IF not exists (SELECT top 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TTĐB' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuThueKhac)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo tờ khai thuế TTĐB', N'List of Special Consumption Tax', @sysSiteIDSTD, NULL, NULL, NULL, 11, NULL, @sysMenuThueKhac, 5811, N'ListTTDB.ListTTDB', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001ACA494441546843ED9907749555F6F62FF859C60114C65E0615102B8844511918142922A2A080A288F48EF4964608100221B4144821407A4F4881F4DE7BEFBD900A08A814E1F7ED835CBC30A3FFF05FAE35DFACF5DDB59EF59EF7BCA73CCF397BEF536E3740F35FFD5302BA0A8D66FA28CD7D73D66A7A2E30D4F410A8A7422F2D161A6A1ED2C1C38B0C357D961A6A1E596EA8796C85A1E6F1EF7F7D3E2AEF8F487E9F25869ADE8227A71A3E37F8EB595DE5A15BAEEBE4FB2C369EB4E008761EA9B89DC8C6252093E37EE91CF14EC7C1338DC3EEA9D8BA2663ED9CC4C1E309EC738AC7F2483C168EF1EC7288C3CC3E8EED876331B58DC6C42A0AA3FD11185886A16F19CED78B4CF96EC12ADE9D68E1ACD1D0FD6E8474498046F3C69323BFB4FE451ABEE3775DDE7FE1F2956BFCF4F315CE5FBCC4D91F7EA2BDF322A7DB2FD0D0F203B54DE7A8AC3F43594D0745956DE495B592557C9AF482469273EA49CE6DC4E2A0330646866CD86CC8B899A6719A81AE8F77554417054C99B2C336EA06F9CB572EF3D38F3F73FDF239AE5DEDE4FCF933B4B69FA5AEF12CD5F59D94562BA2EDE497B7925BD24246D16992F34E9390D3446C660351697544A454732AA992E0B83242E22A31D97D1463D31D5858EE61E3E6CD7C36CFB0BAD7C85D83BB22A28B02BE9E63E3927C43C0C51F7FE4877317B974B193CB3FB772A6B38DA6967611D04A474B2D0DF5F5343554515E554B5D4D39D555A59455945054524C616101A545596466E712185B817F742901D115189B1F65C72E4BEC1C1D31DBB50B7DFD4D4C9BBFFEFC33FFD4FFE87F12D1450153279B5A45DC1070FEE20F74769CE3F24FCD7474B4D2DCD2425DD3694A2B5BA8AEA9A3B2BA56D235E495D4925354437E7139B9C5A5641494909A534C72560131A905F84495E31551827764199B76386179C0162F5F5FAC0F1DBE21C2C0603333E6ADA2DF7BDFCFF923115D14F0C9A8B566415CBD7A9DF68EB374B6B5D1D0D44E4B5313CD8DF514969F26A7B8594836919AD744624E23F1D90DC488C984A7D5139A5C4770622D01F1D5F8C654E1155981677809AEA145B89E2C65CD167B6CEC9D088B8AC2D9DDFDA688DD18186E66E6BCE5BC327299E1EF89E8A28071C3161BF9DE70D49A0665EF4A4033D5754D32D22D6416358B533689AD2BF262EB598D442BF2E90D9C4CAD2748040424D4E2135B83675415AEE1151C3B59C691E01241194B361FE2B8BB37A99999048684DE21429FD90B9633E483A556FF4E441705BC3F78D63A0FCE9CFD910A8928D53F5C12FC48A5F842E5B9F3949FFD81B233E7281114779EA5B0E30C051D9DE4B57792D3DA4E46532BA9F5A749AA1671E5F54416D5722AAF8AE0CC0A82322AD96066CD8993E1945454109390745384C7AD99D037D467DEA265BC3566899B10BE8D7317058C18386DB9F3F566098B45D59DD45EF881EBE408320569822441BC204610C1F56BA7B87E3598EB9702B9FEA32FD7CF7B71FDAC1BD73A9CB9D6E2C4B5467BAED51EE25AA5B5E020DE9633894F8CA7BEA58DDCC222E29353083E158E9B9737871C1CD9B5C712A32D462C5CBA9C77C72FF1D615D145017A7D27CE77BC525DD74176692B953F9C95D954512941102B8814840942E07AA02C0D7E126FBDE06777095BCE70CE093A1DA0ED10345B43FD7EA8B6848ADD50B41DE71DD3C92E2CA1F9EC0559339A48CBCA22383C4ACCCA9303B6877E756A6363D66F5CC7C2254BF970F26AC7A163726F2C785D1430F0F1D1330F5F2CAE682135BF99B27367A46E8C205C7052102C0810F8083C45802B5C3926021C45809D08B0110107A0752F3409E9BA9D50B50DCA4DA0D890E0BD5FA0BFE24BD6CFFF9465DF7CC4C44993F97EF29BACF974109B3F7989CFDE1FC140BD49BCFEF638F4DE1BC72B43C7D1E399CF07DD8580871E7A6FAAD5D9ECC24612B2EAC9EF3CC7B9ABB99CBD922948E3CC95144122E7AE4471E672349D3F45D279318CCEF327E9381B4C7B7B20AD2D7EB4347AD35CE34E53B90B0DC547A9CF73A436DB9ECC9316586F5B88B5F15C0E6E5DC90A032BFC777D4FE8EE95C4982F65CB3A73C6CEB663FCCCDD8CF9723B8F0F5E80E681293716BA2ECEC03D0F0EFD745F6B626635316955A49E3E4FDE9956F23A9BC9E96822BBA391AC8E7A129ACF91DAD2487A6B35692DD552AE8AE4A60AE26B4B89A92822A2A4809379390449B4F14B4EC32B2E09B7F0785C4EC6E21C14C5119F5358B98663649FC45E5B5FCC2D3D3135736699BE2F9F7FEFC3E7CB9C99BADC95E7DF3747F397F9AFDC8580FBEF7BED238BFA88C432C2122A486CE8E4EA2F41BF9A0B62E7889DE348566B0D177E96BC6B62E357C56CAED88A1989E95CDC23F66F2AE66324E6A32FE6B3014AD742C14AC85E0E698B217181B8D32CDA825673D0CE1BFCA682DB17D2F447386FDDCEA8795E7C3CCF01F1459E196E8AE6FE392FDC8500CD3DFD3F30AF3E115948902CFFB1E2CC57AE9F90FA6E0217C151C161D265D42F5E56C26C38736EB32C62EFE0E0F71CB9195F71BD55ECBDD9186A3741E57A28590DF9DF43D65248590471F3206A260DFEABD9632D83E0F5B9909F024EE33864B09DE1B3DC193BEBB0C08E27DF35B92602FADE8D806ECFFC637BA967482E7E618544C8CEF23A126584344864411C1527B2DB64BFD36E4C506E7F8C8E695865D983ADB623D87E68022E1E236416D68900215C21844B8470FE6C11305304CC1001D344C0249A7D17B3EB800C8CD718382E707A17EB8D26BCF5B52BA366D8F04FC1A36F6FB9A4B96FF6535D16A00A3E36CCB4C8C9371DCFE05C82CBDBC838574776672DB967EA29B81043EEF9857814FC9D6DBEDDD97A6400769EDFE11FBE8D9058738EFA2D66DEA6BF109AE1C1A9FC144EA445E1171F86676408AE21811CF3F7C3C1C39343C75C30B7F160C9CE507699DBB26D8B155B36ED61BA9C43DEFBD29EF7A61DE4DDA907E933D4E8A20878ECAE04F47ED324D7DA2509679F1C7C0A2E51F6631105973C38796139C72BFECE81C8DED89DF890C0682362336C884AB72424C198907823761F7B8719EB3538052E22B7DC878C2C07D2920F931C6B4D42D87E6283F610E5634EB8EB568E1EDACFB21DFE04586EC077FB5A3C8D97337FC17EDE9862C75B93F7F1E6A77B797888C13911D0E7AE04DCD37F5BA6D941398505A412D2E848DAE5A1F8D53E8073EA00FCE317C81EC89EEC3237528AAC89CD312322DD88A80C13C2924DD9E2F03756ECED8EFDB127C484BE15F3990E7962E3999FC97A38519C5776CD61622E21C3A93A3E0B6333593F8EBE09B643C1EA25B62EDE4CBF89F60C9EB887D72758D06BB041BBA6FBB73DEF4AC0EB53D7263BA52EE244537FDC8B1FC223651C31D9BB29A80CA4B4E104F935AE64955B935C604E8C108FC8DC485C812111199BD9EDF23C9BEDEE61CBE19E74E44C160162F7D962F3A92222FE5388101121E3652D1C498EE33CF44DC5A7ECF460FFDBB0E755D6CE31A0EF385B5E19BF8BFEA37772FFCB1B5AE42CFE60970444FDF4C4D880B61E3E9E350FFDEC59D09F90CC45E4947A51733A91EAD6484A9A7C28AC3B22A37F90F82C73A252B71297A54F62F17AC27397E11CF32E07FD9FC5D4E301B6BAF424357A98845011913D4E047C280246C94E441C3CE43D081C449EDD371898C8C6D37E80087849043CCBEA591B7972B435033E34A3C7EB9BD1F45BDBD87DE0FA7B7F5740585B9FBF1DCFBF77996D8A26D726AE37AEF16388CFDD2BFB94449A3AB2A96D8FA1AAE5848CBC1B7915F6B2BD382047470BD20BB793536E2C62369159B18180EC8F3918F257EC439F604FE04358063F845BF0CB64A79A9212B38DA45346C407EA13EBB59EA8E36B08775882CDEEADCCDFE448A0E94CFC367D8BF7EA697CFCF94E9E7EDF925E6FE82BF2741FB0AEB6FB8BEBEEF91701FB42344376F869ACB67A683A2CBC9F9528315F0E2A4172402FA5F56C21F5ED09D4B69EA2BCC1574CC799CC42B1FB126B0AABF6525C632E3BD5ADE455EA935BB19EDCB2D504A4BF8A4BFC63F8C43CCF91A8A7C5D17BE218FE3C47C3F772FC940747FCE596C3DD0EEBA3D6EC13E7DDB36F172B4D0E3165B52B46EB0CD8B874336BE7AEE1DD4F2CE939D844C8AF51E415CA15F9DB04ACB5D2386FB4E9CE3EF77F109168250796727EB8D04EDB99321ADAD265AB1B2F33708AA20A7F8187E0181575F65435D8505E6B298779334A6B4C28A93620BF720371B99F4AA87C9AE0E40172A8798580A497D97DE241AC4F3D4569EAEBE2C0624A49E2A8D1B2273BF5AA98CF40F07D9AE4039FB36683B9AC85BDC14222E5CE9E7C3E6E299AE70DE9D6FFC6E82B14DC26609EE1A3830E7B7F21C741971B84CF5C10D21D89D4B48653D3164C55AB2FA58D6E94341EA3B4C98EE2062BCA5BF6C961C682D2B3DB28FB610B951D8692BF9AF48A056454CC262E7F085159AFE01DF1121E612F12533018B7BCA7B0897E4456683DAEA588CDC78A8870893441836523FB1A78F425D4E22B96AE1101FB85FC8E2761E3BD8C1D3E1F4D7FB1FDFE37C82BE4DC2660A5E98B53AC3DDF974DD483183A68C4D9BAB1D3E75EF6863E804D5C0F1CD31FC6B9F0117C6A9FC0AFF129FC1A9EC2BFE969FC9A9EC2B7F149FC9A254FF2DD4A1FE548566FEC937A7130E201CCFDEF639BDB3D183A6A30B2D36017F60836F1BDF04A1F4247CA5BB2FABE2802FA8900D915F83C23027A71D27C0A4B576D877DB2DD37142B59A761F488C5425EECFF9680F559B7095863F6C2AA88A4FD62EFC1A4E7F9909AEB21974E2E826372F17444CEBA0E121E65E129B021A9F02089857B4928D8437CFE2E62F376109D634A788611A1A99B094A5C8F5FCC6A3CC356E012BC1827BFF9D87BCDE190FB6CB6598FC0FCC4FD7867F72528E12B4C65E5353EECC0E6FD36ACDD7980EFB7EC66EA2A5B86CE7464F2B4557C32710513C62CA3F71BDBE83660A38CFC2D1352A7A9DF7CC0C2619CCDF90B6DFC7CE93C172EB673EE423367CED7D171AE92B6B3BF3A70CB997C9ACFE4D0D4992EE695445D7BBC985714D52DE194370751D2E04761AD0FD91547492DB62521EF00D11916B290ED900B2C138263B6B3FDE0580C1CEFC121F12102D3C7112AFB9E93CE7309B6FF8EC083DFE0B76B224B97AD62D497DB38B268140EDF8EC46EFA3F78414F5FECDF4047C08694DB046CB57A77676D5336AD9DE534B717D1D89A4D436B0675A793A93D1D2F88A6BA299CAAA6502A9B4E50D1283E51EF4971AD2B45B5C7C8AFB297E8634B66C901520B2D48CC33232E5B16B37403C1961BABF1018FD17CBD568383FF3B44940EC72B7328E713C47C4E3C2C1BB71EB2699301B5D57074ED07CCFE4E76A9A6F2BE51B04AC3D07756490432D615107F9B00536B3DD38ABA78215F40535B9E104FA2B6254E224CA4DC429CA2B22158224C8044186F8AABDC29283F2E779C47C829394C76B1B55CA9EC27AB648F6C278478E656A2D30D6595DE4454EE3A524BF6E21EF61DEBAC352CD9AE21246915054D625AC9CF9392242BAD97907416D80B0E6938B466024BE62CB94DC0A061EBC4FE8D74046C5487F0DF4C68A7FD1083A2AA101ADB3265E4D365942364A13A4975B310AF0DA04C4CA3A4DA9DE26A67F2CB9C24ED20DFEC64466C28ABDB4769DD6E8A6ACC28907520B7D290ACD28DA496AF23AAF07B4E65CDE7B0FF700CEDFF0F9BACEEC523FA6DC28AC711593691909C6FB1DBF33E1E0727E2663E1E976DE398BD782D63BFDE8AE392F7B1FF6E24B6D346F2C49B26747B516B42CA0F36AB8BDADF04581E1FB22EAFDC9BAAE618217F8AB2463193D37EB25DF0A5AAD15388BACAF398CCC411AADBEC2993037A71DB5E4A3ACCA96AB3909BE71D94C81A50546D282BF306598DD79151B51A5789340783FF8655E0536C75FD0BA60E7F25BC640245E70CF1099BCBC60543D834673E5B96ADC470FE1236CF5EC8D8AFCC18F6F91E564EF9966593BE61D1F819F419224E3C50D70736A95B84DF041C701FBC32A7FC18E58D215434F88B101F2A9B3D84B0ABD8BFB3C089DA66071ACE1D26B3CE82F8D400720B92E59E3390F47A13AA3B4CE5467AB3ACC06BC417D69259BA9493196F8B8047708B7A16AB138FB03BB807D6818F73F8D8C72CFBBC1FAB5FD6503041382C14CC172CF8356D31730A4B6688092D917785C51AFABD252174A0F8C0AD854C5FEE6E7404D8FA0C5A98516A2B8B94106FF294AD828B5C8F3B898DDB8BEDDB894FD8D1D07E8892B3BBF1F4B3C1EEB01DBB775960AC6F8689D90AF2CFACA1A476A3EC81568A80B944670F2128E5EF9C48EE27578AFD7089EDCBBE8887381CDA17C7D11ACA470AB1D937C9CFBB5DC0D69933583A43CEC842FC860011F58C9E9108101FB82140C140DDE1FC3603F60183E6A689B315D41E1701C7858C2309995684C7EFA5B0E220757219D570FE00C93532F541B20664BB11917694C0C843ECB15D4074CD2CEACE18925FF82D7EA183E5D8F98ADCFB0FC637F255223306E31CD597BD613D70897A9110B34F08DBF40527D67F86EFAA4978AF9888E7D209B82F1A8FEBFCB17CF18D0163A7890FCC1885FDB47F62F9E987F41AB2836E2F8B09DD9A01037518FF4D8053C86BDF24156C27ABC69AD2E6C312260F93577E4022CC5ECAC5491B5B0E52737E1729CDCB708F5A4E90449BF8865D78CB5EDF39F64B22EB27CA7DE8A7C4C5BC87F99E8178040CC1D96F10C7FC5E25264B0FBFC217D81FFA201EB1AF335A8EA4AF7AB7F0B25325FD0E14F3EC8E5C1EDF944E9FE509F4981D45EF697EF49AE886668C279A91CE68DE76E0DE37CDB9E715FD5B02BA0D30BA5DC0B1D04153938AB788E3ED912DB295F88015D5A70F88EDEF97C8B44FFE03D84FD50513929B17935A2ADBE7067B8AAFEC22537C23B9F8202E458F93D9368C8AE2CF484C1C4D76C118527246C9C166B8AC0B23F1CF7D11BB849EF8A6BECB073105BC15D9CC50FF0A5E3B52C48B96D93C6794C2D32BA3796C4E28BDA7FAD173822B3DC739D163F4211E1CB98FFBDF32BB53C0F1DB66C0357CF06771F9EBC9A8DE290B932579D5DB28AEDF2162B6498814279574CD057DE28B25EAD41553D19C4A41632839D5A1A4E547E118335A66E07D32122793923C81D48CF1A464CB1922731449B9A3714FE88F7D9C0848FF90F7A38A7927B291B7032B1874B48897F666F1827132CFAC8AE6F1B9A1F499E64BAF8FDDE8A51530E25F05741F606C7F9B008FA837C7C5E4AE26A5720B7935DBC417B652D164269148889FDE4161EB3ACA3AD6E29DB4541C7199DC3ECCE264CB37B8157CC976AF491C38F526C995C3E55F173DC2C33E21326A02A1511F7232F643A2B33EC03DBD2FC7521EC6277D1223E5CF8D77A21A191652C5E0E345BCBC3F9B174C44C06A11304F044C1713FAD8F50F05741B6022B7663A3EE0193D64F489946984647C2B2BE726B225A294361BCA6ABC859A8E75623A1388A91ACEA9E27759EFFC0A3EF59FCAA5FA47F89F9EC4BA632F135E341CEFE417082E1D4073DB2C9A9A67CB76641649E52308487D9113396F703CEE6F78654D6758440D6F47D6F3566815AF3B8B098980E7B624F39498D0A3734278F80B5FFE3ADE85073F3CC203A36CB8EF3D4BEE7973BB44A14DB70E34DD066C935B321D01BEB1C3471C0E791E9BC00788C95D2133F12569B51F49389D212BEEB7649EFB80E48BC328BC3C1697BCC104957F4762EB6ABC0BA6E390FC3A591747127B568FEC8B63696F5B49CBE92534762CC637A5B798D057E4D7AD973BD19770CFFC868FE29AF838A1890931758CF62B67846301C3F66432C43889D75647F1D28210FA7FE34BBFE9EEBCF0C5319E9B64C7B3E3F6F3CC3F77D273D066BAF55B2F3BD35D5FDD2E206EE430DBA0E73097BF0E0293C7702277283E79CF13513184F8263DF22FAEA5E0EA0A4AAF1990CD58CAAFCA01E6921565570D296521D9D7BEA21E7BF2AFCE23FDCCDB12AD461053F30EC712EF95ADF678E24BBFC42BF54902F316B2BBF43C166567D95DD28159660BA6710D189FACC640C46C742D62DD911CD6D8A6B3C62A8555FB13586919CDF7E661ACDC11CCB3FFD88AE6B98D5735038EDEB895BB75A4DCEFDE7F987FA2C4E384F104668D2528FF23828BC7125E2B9DB74D24F7A799145FFF8E32E653CE5CAA5844354BA861B96085601975F2AC94EF7997A7C9ADDD17249E96B05A3799E4BA2F88AD9C4246E5748EA6AE625E6A3BCBB25B5992719A795175CC926834437C619A4D365376A732C9249E09B2579BB02E948F569F60DC726FC62E7461D44C3B1E7845FF92E679D3855AF23704CC9D3B573371B6A6B7B5EBC4EC80A855D7059C4AD8703D26CDF07A42A6C9F5D854E36BF1695B7E49CED8FE4B5A96D92F6999E6BF24246DBB9A98BCFD6A52B2D9D5E4949D5763E3B65E8D8834B8122E088BD4BF121ABEF18A57C0F2CB6BD6CDBBB6CF66CE553B979957ED9C3F6FFBC678CC86EE6ED57A7D02CAF51EF22ED5BBCF3A474F6394A4A7591CAEA79916A0A7F9D05D4FF396839E66E0013DCD73BBF4344F6FD5D33CB2514FF3C0523D8DE65B3DCD53267D155F2D6E095019F27B5C3059F09560BA0EA649FA7FC25429F32F98366D5AFA840913BC6EB6354CB7F33F237D9B802E36F8B0941B2550CF5B23F107E995F26DEFCDEF6F74B14E57DABD51462B4011E20EA83CD5B9CA5769554111387B334F3D7545DC59DF58BE3BE9B4A9DE63740468FB544F95AFDA5365543BAA2F95A72DAFFA55F9EABBFA76AB2FAD005540DB886A48A5555ECECDC24A88B651F5DDFF66FE773A84549D9A9BF92AAD25AFCAAA3A5A6847572B405B4EB5F57B02F6DE6C57B5A5EA6BEB38DD69424A992AAC0A3DA7A35435AC7D576935F2BA23A225A5882BD1DA4E146955564B403B93EABB96AC2AA3ADA31D04AD382D17DD81D1AD2B87E99B51E866A7BAA4B4E6A32AAB8674A75C3B8D8A8496FC9DD3AEC828E876A85B562B40F5F9D9CD72AABC7AD74295D19A8FE2A115AAAD7BCB0754C3DA825AB35085D5E8A88AAA615D01DAB4B6632D3155DE49878C5680EECC68CBFAEB10D5F6A9EAABB2AA0D2542E5ABC15369C5473D557D5557F1BA4D802E415DF35195740528D2DACE5539DD515565D5E868674375AA1D18AD306D79D5A68222ADDAD39D555D2E8AA86A578BDB665AD784945A554875B85227AD3A569DDC29EA4E42DAEFAAAEEA443B8ADA8EEF14AB8829E20ABAEDABFA5A2EDAA76E9EB6BCAAF3D99D02D488A8CEF7EA8C8A6A449BAF4D2B720FDF31FA4AB82AA79EAA0DF55D75A6F2D4ACE9CE947614557BDA36B54F55FFCE3C255EDBBE76E66EF4F5470B99AAF47B9DDF49E63FF6FE4702EE1CD1FF18C97F337BB7B8FC6FB612FF4F09F9FF026E4EAFAE63FDBBB40A0ADA7CDD00709B43FE91A9FCDEB73F6B0674E3F4BF4B2BA2BAF9DA10ACF25438554F15B1EEDA3CFF2C01AA63454091D192D07D57715C9154812147A062B84AAB3C1532D5532BEAAE44FC9902B4E6A025A0FB6E7C93A4FAA64D8FBA99A79D01F57E57E455F93F538022A26B06BAEF6A74D5A8EBCE9476E4D58CA81950B3F41F15A048A8D1D592D07DD7CEC6C337852841BAB37267DD2E0BF9B3664011D32571E7BBD6EE75CD65AF8EF36A7DA1CBC4B503F56709D0DAB3D68EEF7C570415941929D35144D5AC68F3FF570E7CCB0774EF58FE1BD3373CF9BF19FF1762CAB8B9F5FFE2EE0000000049454E44AE426082)
END

END

--------------------------------------------------------------------------------------------------------------
--
-- Tạo từ điển
--
--------------------------------------------------------------------------------------------------------------
declare @content nvarchar(400)
declare @content2 nvarchar(400)

set @content = N'Xóa tờ khai'
set @content2 = N'Remove declaration'
update Dictionary set Content2 = @content2 where  Content = @content

set @content = N'Bạn có thật sự muốn xóa tờ khai không?'
set @content2 = N'Do you want to remove declaration?'
update Dictionary set Content2 = @content2 where  Content = @content

set @content = N'Vui lòng tạo bảng kê đầu vào và bảng kê đầu ra trước'
set @content2 = N'Please create declaration in and declaration out first'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Thêm mới tờ khai thuế TTĐB'
set @content2 = N'Create Special Consumtion Tax declaration'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Nhóm thuế TTĐB'
set @content2 = N'Tax type'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Tên hàng hóa, dịch vụ'
set @content2 = N'Name of product or service'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'SL tiêu thụ'
set @content2 = N'Quantity'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'DS bán (chưa có VAT)'
set @content2 = N'Turnover          (excludes VAT)'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Giá tính thuế TTĐB'
set @content2 = N'SCT calculation prices'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Thuế suất (%)'
set @content2 = N'Tax rate (%)'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Thuế TTĐB được khấu trừ'
set @content2 = N'SCT deductible'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Thuế TTĐB phải nộp'
set @content2 = N'SCT must pay'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Phải nhập số lớn hơn 0.'
set @content2 = N'Must input positive number.'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Trùng mã nhóm thuế. Vui lòng chọn nhóm thuế khác.'
set @content2 = N'Tax type is duplicated. Please choose another type.'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Tổng thuế TTĐB được khấu trừ (8) phải bằng {0:### ### ### ###} (Tổng thuế TTĐB được khấu trừ trong bảng kê 01-2/TTĐB).'
set @content2 = N'Total SCT deductible (8) must equal {0:### ### ### ###} (Total SCT deductible in declaration form 01-2/TTĐB).'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Tổng thuế TTĐB được khấu trừ phải bằng {0:### ### ### ###} (Tổng thuế TTĐB được khấu trừ (8) trong tờ khai 01/TTĐB).'
set @content2 = N'Total SCT deductible must equal {0:### ### ### ###} (Total SCT deductible in declaration form 01/TTĐB).'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Tạo tờ khai thuế TTĐB thành công.'
set @content2 = N'Special Consumtion Tax declaration was created successfully.'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)

set @content = N'Cập nhật tờ khai thuế TTĐB thành công.'
set @content2 = N'Special Consumtion Tax declaration was updated successfully.'
if not exists (select top 1 1 from Dictionary where Content = @content) insert into Dictionary(Content, Content2) Values (@content, @content2)