use [CDT]
declare @mtTableID int,
		@dtTableID int,
		@sysFieldID int,
		@sysReportID int,
		@sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysMenuParent int

select @mtTableID = sysTableID from sysTable
where TableName = 'MToKhaiTTDB' and sysPackageID = 8

select @dtTableID = sysTableID from sysTable
where TableName = 'DToKhaiTTDB' and sysPackageID = 8

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

-- Step 1: Thêm báo cáo
if not exists (select top 1 1 from sysReport where ReportName = N'Tờ khai thuế TTDB' and sysPackageID = 8)
INSERT [dbo].[sysReport] ([ReportName], [RpType], [mtTableID], [dtTableID], [Query], [ReportFile], [ReportName2], [ReportFile2], [sysReportParentID], [LinkField], [ColField], [ChartField1], [ChartField2], [ChartField3], [sysPackageID], [mtAlias], [dtAlias], [TreeData]) 
VALUES (N'Tờ khai thuế TTDB', 0, @mtTableID, @dtTableID, N'select mst.KyToKhaiTTDB, mst.NamToKhaiTTDB, mst.InLanDau, mst.SoLanIn, dt.Stt, dt.TenNhomTTDB, dt.MaDVT, dt.SoLuong, dt.Ps, dt.Ps1, dt.ThueSuat, dt.Ps2, dt.Ps3
from DToKhaiTTDB dt inner join MToKhaiTTDB mst on mst.MToKhaiTTDBID = dt.MToKhaiTTDBID
where @@ps and mst.NamToKhaiTTDB = @@NAM 
Order by dt.Code', N'TKTHUETTDB', N'Consumption special tax declaration', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8, N'mst', N'dt', NULL)

select @sysReportID = sysReportID from sysReport where ReportName = N'Tờ khai thuế TTDB' and sysPackageID = 8

-- Step 2: Tao menu trong tab 'Thuế Khác'

-- Site PRO
if isnull(@sysSiteIDPRO,'') <> ''
BEGIN

select @sysMenuParent = sysMenuID from sysMenu where  MenuName = N'Thuế khác' and sysSiteID = @sysSiteIDPRO

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Tờ khai thuế TTDB' and sysSiteID = @sysSiteIDPRO)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tờ khai thuế TTDB', N'Consumption special tax declaration', @sysSiteIDPRO, NULL, NULL, @sysReportID, 12, NULL, @sysMenuParent, NULL, NULL, 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B0F00000B0F0192F903A500001D76494441546843D59A07749555D6FEAF3ACE388E6019BB30A228768A04501811A48A885204447AEF25104A7A0810522121BD87F4DE4312B809693709E9A4F75E0848139122FCFEE7446EE68641A7ACBFDFFA3ED6DADEF73DF579F67EF639E73DF12140F17FFA9F24F05B565E56F3BE2AEBCCCE98E88400FB639E257A7A168DEB37ED6B9A3B7F63D9D8092B4E3FFFD69A530FFD4D47A97869A752D17FAD52F1E4BA7FD853EB958A67362915CF6E512A9EDFEAAD78619B81F835503CB7C540F1EC2603C5331B0D144F0B7BE91B8341C3BE5BF6AFB03CA8FE57C1E7E4167F505E5E1B2B089095994B52A292A8A838FCFC02B17770465FDF98C54B9631F6EF9FF1C6B069681B7B1310578EA39F0A3B9F0C8E7AA563E3998E95473A16EE6998B9A571D0E534A64E2998D82B31B43D89BE4D127A36C97CB7DE94E56B77F0F14C2B5F858287FF13220F24702229FD8B8CCCFC1F2B2AEA686FEBE2EA95ABDCBD73578CFB8F7F77EFDEA5B3B34B908AE1BBEFBE65D0A08138383A734734B970E9473ACF5FA5B5EB0A4DED97A96BB94875E305CAEBBA29A93E47414527674ADB5015B5A02A6EC3EA982FFA8606ECD13560DA12D334C55BFE2FFCBB24FE89807F50DC8284C434AA6B1AB97DFB36376EDCA4AAAA8AF8F804DC3D7C7072F6C0D5CD8BE8E8582A2B2A7A19F9F907F0FAE021985B39D272EE27CED674535CD9455E7927AA924E328ADA399DDF8A32B79993D90D2466D51197564D7C5A1D2696DE18991EC2CAC69ABDBABA7CBDDAA0A1FF788B61FF0E893E04ACED7C46864526FDDCD6D6C9CFB77F26233D039D3D468CFAF45B9E1A3C8B3F0C98CD237F9BC72303E6F0D8C059BC3E7C2E2BD6EE223131A987486363138B17AF21222286B6CE73343556D3505F45756D25E5951594959552555E407E6131D1A76B894CA9222AA51623736F0E59D8E0EAE1819985057A7AFB98BF66F7D5019FEA7DFEAF48F41250289E7AC4CB37B2B4A9A995CB972FE3E0E082D6F8853CFCCA37BC3C4E97595B7CD0169A35704E43CF21953526918CFEC69A475F5BCE5F053903E3C3A2DF253ADABB3037B326B7B09292AA66CE56D4505C51455E6925394515A80A4A49CD29254C5943C8C94A424F55B3EF901736764E848487E3E0ECD243425F5F9745AB773078ECB695BF45A29780B98DC78282C2522E7E7F114BABA3BC3A6C3EFD86EE60D7D1939C2AECE24CF515722AAFA02ABF4CB6B0DC2AF15E7509BFA44AC62FB243F1E26C366DD3E7C2F96E2ACAABF00B519256D449726E0B2754CDC465361195DE40786A3D21A76A094EAEC43FA11CFF1355EC3476C351C83249A9C43730F01E094BF40D7459B27A0BEF8EDF6CF06B247A09A4A5E7C4759F3B8F97A70F6F8F59CC73E30C094CA927BFE62ACAFCF324E59E1360CEF5FECAE7E433DD649CBD487EFD35561A45A178653EFB0F5873F1C2055439C524A81A3991D34AAC201095D144D8E9468295F5F827D7E273A21ACFB84A61D56CD475E678602839F9F9448B5CEB4B424FC8740B233EDB64FFABCB685A9AEAD9A6C6E6ABE942F333E66EE2CFC376E12326C9A9B8DC03B8C7721E60B9DD24E75F265100CC2D6B63E6567F9E797B21B13171B436B751D4DA41F1F9EFC96B3F474E4B27590D22916B5A3855DE4462493D71F9B5C4E6D5B1C7CC819813C954D6D6929A91758F44506F24F40CF458BD7E33A3A66C0C101EEF93B73D2F458567375455D56065758C7EEFAD61B96922CAC2EF094DED125EEB2654D921C2DED6C74253BA0849E9C623E834818141F8FBFB09CF56D14F6B1F8B57EB5151564B7B8B8ABB3742B97B3584BB9702B873C1973B5D5EDC6973E34E935872EB1C841D23D46609E999E9B4748995ABAC9C7455367189C9048484E2ECEE8185B50D86C686ACDBB4858FA76F0CD524D143A0A4B82C4A9595CDB72BF7F1F4DF4DB08BA8C53DE11CD63EF9985A7AE010D6807D6823C782EB7BCC21BC036BDF528C85E7A223C3F8F1C76BE466676175C49EA99B0319386A2D279352A8A92CE2EE0FC7E18A177CEF0EDDCED0E1002DB6D06003B596507E10DF430B282CABA4E3D20F62CF6827B7A080B864A5905530764ECEBF24B59111BBF7EAB06EE32626CFD6F61839A5B867C3534445C6F72BC82F2E8F8F8B67D40C6D862DF6C626A2136D8B93D8DABBE0E674842DBA4E98FAB4B0DFB316D3E32D6C350966EF3E430AF3737A96CF3B77E4F605EE2EF67C34771FFD46ECC4C5D58FA2A2126E5E10E0AF08D0DFDBC1B923D02E40371F86FA035063021506C41D9987DED685EC5EF3159B177FCECC59B3D936FB43767E3514DD2FDFE6EB899FF096D62C3E183D0DADB1D37877E4349E183077680F017144785F9599DB111C14CA5B93763371FB0996EF0BC2D0C884EBD7AE888DEC27D6AC5EC16AE318B6DA95337BE96E0E1E30E67C77570F68B9D1DDB871839F7FBE4D77F705C66F0CE7B191BAEC3FE4488E2A8F96B604CE7F1FC5B9AE08BADA42E9680CA4BDC68FD60A6F5A4A3C682A7423FF84150E07D6E160B48A63FBB7B355DF9E488B6D24586E27D57C13C63AE64C5DE1CAF425964C5978901786AD45F1D89C9E8D4E71E2C4A9D1CA5369E7FCFD821932D580F15B93B1738FE1C6F52BBDBB6C8E90C7C88F273265E642820385247ABC7E979F7EBA21EC2721A1EBF0F34F62E7BEC53A9B7CFE30D2907DC6C7484B4923BDBA8CF4E66A526BCB395959CA89922262C56A13A1CA25242D8B80E474FC4E9CC6375689675822F6FEC918BA6571C4291C739B604CCD7CD9AC17CEDC6D61CCDDECCB375BFC796DA2398A3FAF79B787406C6CE29084F8E4D6E0A030DEFFD284E12B63E8BCF8CBB9E7D6AD5B6247BEDDF3EC77DC9BA2C2BC5FCA6FDEE2FAF59F7E31099E9B94D65F60C6EE6C06CE8FE799F1A6181F7226E9440AB7BADDE0472BA17F53211F43211F3D219F3D50B50B4AB743E116C8DD00996BE1F432BA63B539E61A0A11DF40C03CF0FD1CDFFD0799B03A842F56BB33738D0703C699A2F8D3CAD77B084444C43D1615155F121B15CBA4C5877972862FB3F4CF70EDFA2DB8FB33376FDE14806FF646430DFC9A007EFBE64F70FB06FEA9CD0CDD94C6A0C54ADE5D7582E73F35C6DEC99F989848BC23875392BF90BBE784DE3B8CA0691FD4ED864A6D38BB0D0A3641F67A485B0DCA25B4466A63ED100C217305F839E0350D67FD838C5B16C8D4652EC25C79E963933B82C0AB3D04E47F42432203E363E359B7DB9EE766B93160552A9BDDCBB926BCDF7DED27BAAE5EA7E3CA8F3DD67EE95A8F5DBE769DBA7357D81154C53B3A590CDD95C5706D15835744F2DE0C632242C5D13BD01553E7711C749E815FD027220A3A8280005C2B00570AC0675708024B04814582C07C4160161DE11BB0B00B1004A6C071615E1FE3B0D78451DFF9336191239F0A7B6EB4F10DC51F57BCDC4B20C03FF4BBD0E0083CBC4319F88515EF6BA732786B2636494D82C42DDAAE5CA7E5F28F345FBC469B007FF1871F49AC3ACF6CCF32469AE5F37761638C72D1D2CBE6D9AF9C59BEDD96D8C80442229DC569F300DE111B58BDEFCF24E4059178369B985C2511E949049F8AC73F3E1A9FC808DC838271F6F1C3DC31888D8713B03077E280B13DC6FBAC59B0D693B10BDD183BFF181F7F738C67461A5E13049EEF25E0ED1DF8176FAF80F309220ACB76B9F0D2225F461BE7324258F4D973FC2024D42608745F155110677DA7820E3EF7AF64AA7B29D39C4A986055C8B84305BCB7239137669AE1E71B2E72269868A52909190658FA7CC4A2DD0ABCA2D7535C13465E813BB92A1754A71DC848B2E574AC35CA307392FDF7E3ED6CCBE6439144D9EC21FCE02E828DB6B066AD2DC3E7B8326AF6513EFCEA084F8DD0BF2C083CD34B403E78B81D5FE7EDE987486AC62EB3E7AD5D098CB32D66B2F3594ED67F4FBDF07C9AF830D999D9C2173135CC8EACE1CB4041C2A39449A2CDC7E6D9BCF8952D078FF811E41B4170E451520A0D4952EDC7D8FDAF6C3DF2306E3E2F0A092D15F259002542E3F95F836AA6485E716A4E1272891F47FDF16518997980F787E03412ECDF66FF065D06CF7463D84C6B3E986145FF61FAE7150F2FEDD787807C7174708F09F00B22322A99F11BDCD13253F275782DAB4F346053D8C1E2930D2C486964596A238B12EB59185BC7A2B806A678143078A91B8696FE840545E1E1E94C72DE1ED24AF5C5396A2F967EAFA1EBFA08C62EFDB850345B1010BA2F149ACF1124D2BF82938244FC74881A4F91C76AF44C5DC1550B6C4783F57BEC5AA9CFABD39C7877BA056F4C3ACC9FDED9D3A5E8B7F6F17F2270E080C55FF6EF37AF09F20F115F604A961806F2E98138D625546150D08959F9792C2A7FB1C365DDEC1647E4E9C75219BBD1036BC7302243A3B0B4B4212E650FD9353A24156DC647F911C72207621AF418FBFDFA919332462CA18244E1344160B22030014E89048F1F0BD14329715D8CBE893878BABD2908BC2D080C447BD95E5E9AE4C09B93CD78E2035D148377B53DFCD6EE47FF89404F81E271C395ABD65DF7F2F025293E097BAF78569945B0D4F6049BFD32D91192CBD6C06C96399CE41B9350B4CD02090E8A21C82F84EDDB749835478B93591B296ED425AA602676718FE396F022D6D14F6213F7A4F8F07F87C21C53B2530F909568487AB41EA74376A33CBE9364F78D385AEE67CD3E0FA24D9710B16F29A1DAF3F962EE615E996843FFE17A123C0FBFA9D3F4F0109D47FE89807DB2E2DBAFD62B5AFFFAAA82CF268FC340FF003E82484C442C7E01B1D87B4673D443987B142E9E9162578E26F07810074D2D993B7736EFBCF7223B75275224BC5F5CB393889C77F04D7B8EB0D4D7F054BE82DDA97E7824BF8677F2118E2706E119E989AB586A1DBC1D382A92D7FAA805DB4D9C99A3ED8FA18E3E7B37E9B26BD54E3EFED2867EC34C04F89D12BCB41A09BE0F815DF68A065DE787B10DF894A30EE24B68E922A64C9DCC9C39F3592BBE8AF6EA188965CD82432656C22CD1DB63C286B55B9937770E9F4D1CC1ACAF3EE0A8FD7C71E3B09BB286BDA416CD2232E3156232DF101F35EF1295F50E96318FE390F83255391F88041652CA12899A22CE6489EF09F9BC05E1AFA0B29BCBCE3DE6E0F834588995F2703FE64EDB84E235031E7AA3C7FBD24AFB10586DF0DC3C97D079E494F871E1720D97AF5752D59CC809B1CCD9386D6697FE3C36EC98C546ED596CD2FE9275DB6688E729E22EE8330E384E272C7D05C54DBBA9E9D221BF713DF9752B385D329C988C21E2D3F12D829286905A3A8C809297714C79567CD96971275B68FEB420912C569AD86110F63E04BD4A82D5B76CDA2908D80AF0875E82BD8F3275DC1A146F08EDBFD1035E5A511F02DB4D87AC77089E280E518F63E0AE10C9F610E6117FC42EE92FB8643E8957FE33F8943C4760CD0B0437BC4448FD4B8437BF4C54C700A2BB0610D33D403CBF4260D5F378163C8D5B567F8E9D7C0CF3C83F7220E0110C3C1418BA2A704D7A16C7F4FE849C19C185EC5162F71D22080C1604C4A9206C8020D09F13E673D8B4E3201C15C77D03A1121D05933ED920C00BFDF712D85DD087C04EB3D7779CCCB2A5A8228E332561E41407894B273F613EE2E2C953DCEBB8A32A151B4FA9235965C7C82C3B4246A935E9672D84A70F9152642A964D4312727489CDDC4D44AA36C1495BF18BDB8057C41ADC4256E21CB882030E9F601EF327420B5F2536E35BF18DE187918B3BBAB68EEC3A6CC736634BBED9E1C4C8251ECC9EBF832F676E65C694CD3C3DFC000FBDB95778BE5742AA3E04ACDCA7395EFDA19B9F6E5CE5876BE7B9FC430717AF360B39D5D17DA98A7397CAE8BA78968E8B45B47F7F86D60B59349F4FA7B15B49435732351DE292AB3582B2A6300A6BBDC5B7B413192576A4E459898DEC90B8C032212EF520078F4D45DFE311DC4554A3CF4C23419C7B4EF8AE22CE6D39D1C716136131934D9B773061E1013CD74FC07DE9785C17FC9DD7B5F484FEF53508ECC9EE4360BFFDC7879BDA0B39F77D0D1DE7CB693B5748EBB93C9A3B553475A60B4BA1A13D99FAF604EADA63A86D0BA7AA25988A267FCA9B7C385BEF46499D13F99576E49459915962465AA10927CFE80B3316244CB10B9AC477BB14B8477EC4C9AA7184E48FE46A86904FCC53E2E0F68438B409B93829F0DEF5192B968B53AAA978DF2B6C8782911FED102B90912681F43E044C1DB44C6B9BD305F852DABB4B04F02C9ABAD2A86F3D456D4B2275AD7154354651D9104A457D20A535C7C51DA72745952E145638887B4E5B0A2AADC92C12C0F3F79372C680D4C27D288B75C45DD211029396A3E3A060E34105F1593B286D17D252BD467696D8694304485F616EC29C1538EF140BC4CA8D7D080C1DA323F46FA84160EFA93E040EBB8DD02FAF8FA7AD3B5F78FE8CF0F249EABB4ED0D021803745512DA451D9104845832F67ABBDC4B3BBA873151171A4BAF9A858B12C296F34A3B4613FC575061454ED2547EC05CAB26D2416ACC12552EC296E7F609FFDA304A58C26A9621AA7AA67125FB41457EB89041D9B4980F974FC0E4C63C5865D4CFD6E3F1E1B27E2B67C3C4EF3C7F3E287263C34442D219907BACA3E046C8E8FD029A909A5BE2355804FA4BA4DC8A43382C6CE70EADB8205507FF1EB2322E14983F8C2AA161FE815DD47A8BC604E7DB795B8793E4465A309E50D0694D4EEE9D9C8F2EAB5F1172BCDB1B8BF621FFD32FBFDFF8CA9FB5F48AE9C41F96503C29256B177ED08F6AD5C83F1E6ED18ACD988EE8A754CFDD68C3173ADD93E67299B672D66FDF4453C334224F15B9A39B02FAE0F01BBC061DB8B6A7CA8698BA7B635521009A3AE234800F617FAF715E64553873BAD975DC86FB6223D278AE25295B8E78CE64C8B090D174CC5D5B92EC5B53B452EEC22BF6A1327F2460B02CF12A01C887DCCB358C63D8143F40BB8F87CC1E6B983D17E4741E90C219B75C2D6085BFBCBB3D592396C5C2424B451BC4BDBA060F028B184BE2572A07723D38BEE43C0296CE8BABC2A27AADA05F0F6606A5AFDC4F5B897D0B89BD0BEABC809575ACF3B5379C992E008475C5D5CB1B4B0C248CF0C13B3AD9CBDB893CAA6BD14566F1704568963F40862B3FF468C6AB0B8521C8CDFE957397AF2495C125EC56392829AF102D88A7BE057F725B07FC922362D12DFC802780F01416A8096A1202072A0878034FDA83E04DCA286AECA15C956DA745C10382EC07890916F4F72FA11CA6A8FD12C2EA35AAFDAA16A14A18F157B4061002773BD893EE58CB5D35A521A9789AF3503CE962D252261181149EF8A2FB161849F7A8F5379C3F055BECA91A427F0530E21DEEC4B92F6CD2366F7D7848BDD3D74EB4C8237CD2070FD74FCD74C65DE627DA6CE1739B068026EF33FC5E6ABC9F41F718887DE1112EA8D80BEF8E6D4380B79C5BFBF38ABF420058D0E5475B88865D285921A3BB1C21CA14624695BD7311AAF5A90DDB19940E51662C56A93DE6A41689E2EBEA71772AA65266517BE222D752CE6D6E2E8103502DF88A1F844BC476A81161165AF639BF03841A73F60525C31EF8576F18E571D83ED2A1878A89817F69DE1992D193CB142C9D3F323E83F3300C5946014E37D518C76E7D10FCD79E45DBD5E020FBD69D897804FC2D06FB22A8C45E25953D56A2F72C09E864E3BA17D5BB1321DA5A3CB96FA1F4C50756C1057EA6EE4B4BA5171CB827C911BAA8A63F895BF407EF7186A2BBE2633731285A553C82E9A406ADE38B12F8C27B27808AE19FD08CFF998CF524B1975AA839191B5BCEF59CE109B42061966F3CAF6149E5F99C0D3DF44D06F863FFDA679F1C424671E1F7F943F8D32BB9F80BC9CFAC769D43F79D8D769677793D770586C4C3694341CA0A2E5902073402C912249C573E30F7AA4578855A7B982DA8E1C4AC58D5B514302B9679578A44E121198485EE66CB25533C8C99B4E76E114D2F32790553C89C08C37704B1304CE4C66A2B2828FC445F1E8E85A867A97F3F691025E37523160470A2FAC4AE099F9E1F4FF2280FE6A029FFC338187DF3412974D1A0482941F4E4B2DD626BBCE9892C6032217F653DB6E26562201BCF31065E774A8BEB08BD0AC4D2211371354BA8C135D8B09285DC8C19059D8257E88AA6E9CF8AB8B16C9495F724A398304E564719A9D4C4AC167049E79159FECA7083B338BF1E28F1B1F29DB18135FCFB0E3E5BC635BC8EB268280B620B05A10582024F485FF6F1278E84D13C73E048253464C8AC99E4F7CDE52B173EEA350AC28551D06623736A6F1828E90CE0C52EBC79158F131BB7DDF25ACE52B72F99CC8CE59E8F8BC4372F9384255AF1357F5261DDDCB68EF58218E23CBC8AAF984A89C21C4140DE778DA5F092958C098938D8C3ED5C2A8847A3EF0151212040619AB785948E8B995F13C352F9CBF4CF7E3F1C99E3C36C1913F8EB5E1910F0F8A55685FEF07CD436F1E10B7641A11083F3DEE1397F8D7708C7E8CD4E2AD22120BC96DFA5C2CA78BC48EBB94FCCB9FA1BA3686B29B53F12B19466CCD7232CF69135ABA0077D507145C1BCFE94B5A145E9B2A2E7DB7D3D5B991B60B1B08CF7E5A48E85BCE36EF1677A26F1398BF98CFD3DAF922A39D19E2366F52440D9F885B8D31D6F98C30CA12F7514ADE5E1BCF1B8BC319BC2090D7E7F93068962B03A7D932E0D3C3E24F5EBA3C3478B738995A7CDB9740DAF8314EB18330177F3A88564D21A678246125AF71B27604E9ED5A9CBDB68BD2DB5BA9BAA34F2153A9B96D4CDD0D7BAA6F1B50C53A0AEF7C4B0B6E9CBDBD9A3317478BD5EA13521B3FC227F35171D49E4E7AD54242725E22BA641D965557B1AABE8465E505CCF2BB304D6BC548DC7AE80B327BFDCBD1F12C62A7D31976DA67B3C33683ED36296C334F62FBA13806FE7D3F8A417B6F2BDEF4EEB995EBFDA4B40D7C634C64A6588F33A6135D3095D8B39F13573195E4263179F74C8AAF2FA1E2EE72AA59430DABA8673D0D6CA4912DC2B60ADB4CB3F8AD13F52537E79377791E999D62596D9E8DAA791EA7EBE69057B700EF9C1DACCE39CFE6C2736CCCEB64B5B2996562355A247261BE6321732C73986592CE0C71569BA193C0E7DA314CDB12CAD4757E4C58E2CA63EFEADD50BC66BA4E0DBE97C0CC158AA71DFC6716462977DC154662C69EBBA9B9067733F24DEE9ECE31BA939E6BFCB32AEFE0CFB905663FE7E69BFF9C9175E076A6EAE0ED2C95D96D55F6E1DBA7D3F6DF3E794AFF56B2B0A4537AB71292F7DE0A89DA72D33F6CFD4DAFA015375DFD96DC76F59DDBBDD868CA9E87031AB49E89AAD17A32B44AEB8F0E455A0AC32C2DC586642DC5FC282DC5E4402DC528772DC55B765A8A41165A8A57F66B299EDDABA5786C939642B1544BF1B289F8747BC0DFC856AD5A25FF87951784CD16F6ADB0051A365F3CF7DA871F7E683C63C68C10CD32F1FCCDBF3039DE1839CFFF6FEBD1D17F38E8D7A23DC206FD87FDFED379FEADF6FF0D013970A4B0E1FF9B092C17E052EFB323F74017DD8B40A3F89D20CC4B98910619755F4950D6CB712461F92BC7900ED06C23DFB7DFAB97E56ACF6BCEFFABCEFAB5084840720029954B1A93CB676912B4AC9324A4694E2CC1CA3A39A96C2B9F65BDFC95FDD411D494A11C43BEAB1D21E5A92E930EFB55B9FE2B09C9412511B597E4BBF4967C57135483D2F49CBA9F1ABC8C842640755FD9475D27EB2579F538928C2C93F5BF9A0FBF45403DF0915FF19A2608CD09E4A46A53035283D1AC939E95FDA403D4DE563B4BD3414FFDB704BEFE0DAFC909E4A497EE1B5C4EA609520D483A41964BB0EA6759A76E2F89DE3F9E2428FBFCAAF765DD6F45E0FE10AA3D2E2755474702D29C40336A6AAF4AFD6A464B534E528E9A843501CB67CD883C90C86F1190E0E420C3EF815413527B4A7AFFFEE45A7EAF8F04A66EAF96883A5A9A6DE45812A424A5F6B81C534644CE2DFB4825FC573920437DBF072428592641A989690E2EC1C97A59A7F6BC0423CBE478B2ADBA8D0426CBD50035FBCA72B53D689EDE39FFD52AF49BFAFB2DCFFC4FD5FD5E04A484A467651464D47E3747FC1E04D48929F52DA5A696CEEF42E2F720A0D6B53A177E17E0EAA8AA09A813483379D4497C7FF2C9A4D24C70CDE45397ABC791756A02F7D769CEF5A079D5659AAB90663B19DDA7D404D4AB0BF7962ED950AE1EF25D369420D4EF52D7978449893CA85CD63D6872D9BFE8DE98B2AFBACD83CAE4BCB25C8E259F2708938E93CFB26F6FF9FD12920DE4C01298EC24DF2539F92ECBE5BB7CD66CF76BE50F92CEFD633E681E399F1AB48CA01A83665FB533876B12503738720FA47A203980DAA457EE6FA7F696BA5CDD56ED084D22EA313565717F99DA214FDDE7C4FBF1482C7D8E1272504D8F4B22F2DD4B98FA590EAED94E4EA28E86BA5CB6919369EA5F330FD4DEFDB532094C1D697504B66B6090782EA9DB6846403374F74B46337C9A1ED324737FFF074948ED5DCDBAFBCBD40E916DD46406DD27E15E929A042433D959268BECDC788FA97CD6F4841AB4BA5EF69113A8FBCBC1D551B89F84E698EA3ACD32398E1C4F7A5896CB67197D351EF9AE062FE7E82321D9B0A7F09EC96775674940BEABC9496FCBF74861323AB28FBABF2C97F62009698EF9A079E4F8EAFEF78FA1592E9D25E5FB0B81FFCBF6FF0089D638EB54EC3B110000000049454E44AE426082)
END

END

-- Site STD
if isnull(@sysSiteIDSTD,'') <> ''
BEGIN

select @sysMenuParent = sysMenuID from sysMenu where  MenuName = N'Thuế khác' and sysSiteID = @sysSiteIDSTD

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Tờ khai thuế TTDB' and sysSiteID = @sysSiteIDSTD)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tờ khai thuế TTDB', N'Consumption special tax declaration', @sysSiteIDSTD, NULL, NULL, @sysReportID, 12, NULL, @sysMenuParent, NULL, NULL, 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B0F00000B0F0192F903A500001D76494441546843D59A07749555D6FEAF3ACE388E6019BB30A228768A04501811A48A885204447AEF25104A7A0810522121BD87F4DE4312B809693709E9A4F75E0848139122FCFEE7446EE68641A7ACBFDFFA3ED6DADEF73DF579F67EF639E73DF12140F17FFA9F24F05B565E56F3BE2AEBCCCE98E88400FB639E257A7A168DEB37ED6B9A3B7F63D9D8092B4E3FFFD69A530FFD4D47A97869A752D17FAD52F1E4BA7FD853EB958A67362915CF6E512A9EDFEAAD78619B81F835503CB7C540F1EC2603C5331B0D144F0B7BE91B8341C3BE5BF6AFB03CA8FE57C1E7E4167F505E5E1B2B089095994B52A292A8A838FCFC02B17770465FDF98C54B9631F6EF9FF1C6B069681B7B1310578EA39F0A3B9F0C8E7AA563E3998E95473A16EE6998B9A571D0E534A64E2998D82B31B43D89BE4D127A36C97CB7DE94E56B77F0F14C2B5F858287FF13220F24702229FD8B8CCCFC1F2B2AEA686FEBE2EA95ABDCBD73578CFB8F7F77EFDEA5B3B34B908AE1BBEFBE65D0A08138383A734734B970E9473ACF5FA5B5EB0A4DED97A96BB94875E305CAEBBA29A93E47414527674ADB5015B5A02A6EC3EA982FFA8606ECD13560DA12D334C55BFE2FFCBB24FE89807F50DC8284C434AA6B1AB97DFB36376EDCA4AAAA8AF8F804DC3D7C7072F6C0D5CD8BE8E8582A2B2A7A19F9F907F0FAE021985B39D272EE27CED674535CD9455E7927AA924E328ADA399DDF8A32B79993D90D2466D51197564D7C5A1D2696DE18991EC2CAC69ABDBABA7CBDDAA0A1FF788B61FF0E893E04ACED7C46864526FDDCD6D6C9CFB77F26233D039D3D468CFAF45B9E1A3C8B3F0C98CD237F9BC72303E6F0D8C059BC3E7C2E2BD6EE223131A987486363138B17AF21222286B6CE73343556D3505F45756D25E5951594959552555E407E6131D1A76B894CA9222AA51623736F0E59D8E0EAE1819985057A7AFB98BF66F7D5019FEA7DFEAF48F41250289E7AC4CB37B2B4A9A995CB972FE3E0E082D6F8853CFCCA37BC3C4E97595B7CD0169A35704E43CF21953526918CFEC69A475F5BCE5F053903E3C3A2DF253ADABB3037B326B7B09292AA66CE56D4505C51455E6925394515A80A4A49CD29254C5943C8C94A424F55B3EF901736764E848487E3E0ECD243425F5F9745AB773078ECB695BF45A29780B98DC78282C2522E7E7F114BABA3BC3A6C3EFD86EE60D7D1939C2AECE24CF515722AAFA02ABF4CB6B0DC2AF15E7509BFA44AC62FB243F1E26C366DD3E7C2F96E2ACAABF00B519256D449726E0B2754CDC465361195DE40786A3D21A76A094EAEC43FA11CFF1355EC3476C351C83249A9C43730F01E094BF40D7459B27A0BEF8EDF6CF06B247A09A4A5E7C4759F3B8F97A70F6F8F59CC73E30C094CA927BFE62ACAFCF324E59E1360CEF5FECAE7E433DD649CBD487EFD35561A45A178653EFB0F5873F1C2055439C524A81A3991D34AAC201095D144D8E9468295F5F827D7E273A21ACFB84A61D56CD475E678602839F9F9448B5CEB4B424FC8740B233EDB64FFABCB685A9AEAD9A6C6E6ABE942F333E66EE2CFC376E12326C9A9B8DC03B8C7721E60B9DD24E75F265100CC2D6B63E6567F9E797B21B13171B436B751D4DA41F1F9EFC96B3F474E4B27590D22916B5A3855DE4462493D71F9B5C4E6D5B1C7CC819813C954D6D6929A91758F44506F24F40CF458BD7E33A3A66C0C101EEF93B73D2F458567375455D56065758C7EEFAD61B96922CAC2EF094DED125EEB2654D921C2DED6C74253BA0849E9C623E834818141F8FBFB09CF56D14F6B1F8B57EB5151564B7B8B8ABB3742B97B3584BB9702B873C1973B5D5EDC6973E34E935872EB1C841D23D46609E999E9B4748995ABAC9C7455367189C9048484E2ECEE8185B50D86C686ACDBB4858FA76F0CD524D143A0A4B82C4A9595CDB72BF7F1F4DF4DB08BA8C53DE11CD63EF9985A7AE010D6807D6823C782EB7BCC21BC036BDF528C85E7A223C3F8F1C76BE466676175C49EA99B0319386A2D279352A8A92CE2EE0FC7E18A177CEF0EDDCED0E1002DB6D06003B596507E10DF430B282CABA4E3D20F62CF6827B7A080B864A5905530764ECEBF24B59111BBF7EAB06EE32626CFD6F61839A5B867C3534445C6F72BC82F2E8F8F8B67D40C6D862DF6C626A2136D8B93D8DABBE0E674842DBA4E98FAB4B0DFB316D3E32D6C350966EF3E430AF3737A96CF3B77E4F605EE2EF67C34771FFD46ECC4C5D58FA2A2126E5E10E0AF08D0DFDBC1B923D02E40371F86FA035063021506C41D9987DED685EC5EF3159B177FCECC59B3D936FB43767E3514DD2FDFE6EB899FF096D62C3E183D0DADB1D37877E4349E183077680F017144785F9599DB111C14CA5B93763371FB0996EF0BC2D0C884EBD7AE888DEC27D6AC5EC16AE318B6DA95337BE96E0E1E30E67C77570F68B9D1DDB871839F7FBE4D77F705C66F0CE7B191BAEC3FE4488E2A8F96B604CE7F1FC5B9AE08BADA42E9680CA4BDC68FD60A6F5A4A3C682A7423FF84150E07D6E160B48A63FBB7B355DF9E488B6D24586E27D57C13C63AE64C5DE1CAF425964C5978901786AD45F1D89C9E8D4E71E2C4A9D1CA5369E7FCFD821932D580F15B93B1738FE1C6F52BBDBB6C8E90C7C88F273265E642820385247ABC7E979F7EBA21EC2721A1EBF0F34F62E7BEC53A9B7CFE30D2907DC6C7484B4923BDBA8CF4E66A526BCB395959CA89922262C56A13A1CA25242D8B80E474FC4E9CC6375689675822F6FEC918BA6571C4291C739B604CCD7CD9AC17CEDC6D61CCDDECCB375BFC796DA2398A3FAF79B787406C6CE29084F8E4D6E0A030DEFFD284E12B63E8BCF8CBB9E7D6AD5B6247BEDDF3EC77DC9BA2C2BC5FCA6FDEE2FAF59F7E31099E9B94D65F60C6EE6C06CE8FE799F1A6181F7226E9440AB7BADDE0472BA17F53211F43211F3D219F3D50B50B4AB743E116C8DD00996BE1F432BA63B539E61A0A11DF40C03CF0FD1CDFFD0799B03A842F56BB33738D0703C699A2F8D3CAD77B084444C43D1615155F121B15CBA4C5877972862FB3F4CF70EDFA2DB8FB33376FDE14806FF646430DFC9A007EFBE64F70FB06FEA9CD0CDD94C6A0C54ADE5D7582E73F35C6DEC99F989848BC23875392BF90BBE784DE3B8CA0691FD4ED864A6D38BB0D0A3641F67A485B0DCA25B4466A63ED100C217305F839E0350D67FD838C5B16C8D4652EC25C79E963933B82C0AB3D04E47F42432203E363E359B7DB9EE766B93160552A9BDDCBB926BCDF7DED27BAAE5EA7E3CA8F3DD67EE95A8F5DBE769DBA7357D81154C53B3A590CDD95C5706D15835744F2DE0C632242C5D13BD01553E7711C749E815FD027220A3A8280005C2B00570AC0675708024B04814582C07C4160161DE11BB0B00B1004A6C071615E1FE3B0D78451DFF9336191239F0A7B6EB4F10DC51F57BCDC4B20C03FF4BBD0E0083CBC4319F88515EF6BA732786B2636494D82C42DDAAE5CA7E5F28F345FBC469B007FF1871F49AC3ACF6CCF32469AE5F37761638C72D1D2CBE6D9AF9C59BEDD96D8C80442229DC569F300DE111B58BDEFCF24E4059178369B985C2511E949049F8AC73F3E1A9FC808DC838271F6F1C3DC31888D8713B03077E280B13DC6FBAC59B0D693B10BDD183BFF181F7F738C67461A5E13049EEF25E0ED1DF8176FAF80F309220ACB76B9F0D2225F461BE7324258F4D973FC2024D42608745F155110677DA7820E3EF7AF64AA7B29D39C4A986055C8B84305BCB7239137669AE1E71B2E72269868A52909190658FA7CC4A2DD0ABCA2D7535C13465E813BB92A1754A71DC848B2E574AC35CA307392FDF7E3ED6CCBE6439144D9EC21FCE02E828DB6B066AD2DC3E7B8326AF6513EFCEA084F8DD0BF2C083CD34B403E78B81D5FE7EDE987486AC62EB3E7AD5D098CB32D66B2F3594ED67F4FBDF07C9AF830D999D9C2173135CC8EACE1CB4041C2A39449A2CDC7E6D9BCF8952D078FF811E41B4170E451520A0D4952EDC7D8FDAF6C3DF2306E3E2F0A092D15F259002542E3F95F836AA6485E716A4E1272891F47FDF16518997980F787E03412ECDF66FF065D06CF7463D84C6B3E986145FF61FAE7150F2FEDD787807C7174708F09F00B22322A99F11BDCD13253F275782DAB4F346053D8C1E2930D2C486964596A238B12EB59185BC7A2B806A678143078A91B8696FE840545E1E1E94C72DE1ED24AF5C5396A2F967EAFA1EBFA08C62EFDB850345B1010BA2F149ACF1124D2BF82938244FC74881A4F91C76AF44C5DC1550B6C4783F57BEC5AA9CFABD39C7877BA056F4C3ACC9FDED9D3A5E8B7F6F17F2270E080C55FF6EF37AF09F20F115F604A961806F2E98138D625546150D08959F9792C2A7FB1C365DDEC1647E4E9C75219BBD1036BC7302243A3B0B4B4212E650FD9353A24156DC647F911C72207621AF418FBFDFA919332462CA18244E1344160B22030014E89048F1F0BD14329715D8CBE893878BABD2908BC2D080C447BD95E5E9AE4C09B93CD78E2035D148377B53DFCD6EE47FF89404F81E271C395ABD65DF7F2F025293E097BAF78569945B0D4F6049BFD32D91192CBD6C06C96399CE41B9350B4CD02090E8A21C82F84EDDB749835478B93591B296ED425AA602676718FE396F022D6D14F6213F7A4F8F07F87C21C53B2530F909568487AB41EA74376A33CBE9364F78D385AEE67CD3E0FA24D9710B16F29A1DAF3F962EE615E996843FFE17A123C0FBFA9D3F4F0109D47FE89807DB2E2DBAFD62B5AFFFAAA82CF268FC340FF003E82484C442C7E01B1D87B4673D443987B142E9E9162578E26F07810074D2D993B7736EFBCF7223B75275224BC5F5CB393889C77F04D7B8EB0D4D7F054BE82DDA97E7824BF8677F2118E2706E119E989AB586A1DBC1D382A92D7FAA805DB4D9C99A3ED8FA18E3E7B37E9B26BD54E3EFED2867EC34C04F89D12BCB41A09BE0F815DF68A065DE787B10DF894A30EE24B68E922A64C9DCC9C39F3592BBE8AF6EA188965CD82432656C22CD1DB63C286B55B9937770E9F4D1CC1ACAF3EE0A8FD7C71E3B09BB286BDA416CD2232E3156232DF101F35EF1295F50E96318FE390F83255391F88041652CA12899A22CE6489EF09F9BC05E1AFA0B29BCBCE3DE6E0F834588995F2703FE64EDB84E235031E7AA3C7FBD24AFB10586DF0DC3C97D079E494F871E1720D97AF5752D59CC809B1CCD9386D6697FE3C36EC98C546ED596CD2FE9275DB6688E729E22EE8330E384E272C7D05C54DBBA9E9D221BF713DF9752B385D329C988C21E2D3F12D829286905A3A8C809297714C79567CD96971275B68FEB420912C569AD86110F63E04BD4A82D5B76CDA2908D80AF0875E82BD8F3275DC1A146F08EDBFD1035E5A511F02DB4D87AC77089E280E518F63E0AE10C9F610E6117FC42EE92FB8643E8957FE33F8943C4760CD0B0437BC4448FD4B8437BF4C54C700A2BB0610D33D403CBF4260D5F378163C8D5B567F8E9D7C0CF3C83F7220E0110C3C1418BA2A704D7A16C7F4FE849C19C185EC5162F71D22080C1604C4A9206C8020D09F13E673D8B4E3201C15C77D03A1121D05933ED920C00BFDF712D85DD087C04EB3D7779CCCB2A5A8228E332561E41407894B273F613EE2E2C953DCEBB8A32A151B4FA9235965C7C82C3B4246A935E9672D84A70F9152642A964D4312727489CDDC4D44AA36C1495BF18BDB8057C41ADC4256E21CB882030E9F601EF327420B5F2536E35BF18DE187918B3BBAB68EEC3A6CC736634BBED9E1C4C8251ECC9EBF832F676E65C694CD3C3DFC000FBDB95778BE5742AA3E04ACDCA7395EFDA19B9F6E5CE5876BE7B9FC430717AF360B39D5D17DA98A7397CAE8BA78968E8B45B47F7F86D60B59349F4FA7B15B49435732351DE292AB3582B2A6300A6BBDC5B7B413192576A4E459898DEC90B8C032212EF520078F4D45DFE311DC4554A3CF4C23419C7B4EF8AE22CE6D39D1C716136131934D9B773061E1013CD74FC07DE9785C17FC9DD7B5F484FEF53508ECC9EE4360BFFDC7879BDA0B39F77D0D1DE7CB693B5748EBB93C9A3B553475A60B4BA1A13D99FAF604EADA63A86D0BA7AA25988A267FCA9B7C385BEF46499D13F99576E49459915962465AA10927CFE80B3316244CB10B9AC477BB14B8477EC4C9AA7184E48FE46A86904FCC53E2E0F68438B409B93829F0DEF5192B968B53AAA978DF2B6C8782911FED102B90912681F43E044C1DB44C6B9BD305F852DABB4B04F02C9ABAD2A86F3D456D4B2275AD7154354651D9104A457D20A535C7C51DA72745952E145638887B4E5B0A2AADC92C12C0F3F79372C680D4C27D288B75C45DD211029396A3E3A060E34105F1593B286D17D252BD467696D8694304485F616EC29C1538EF140BC4CA8D7D080C1DA323F46FA84160EFA93E040EBB8DD02FAF8FA7AD3B5F78FE8CF0F249EABB4ED0D021803745512DA451D9104845832F67ABBDC4B3BBA873151171A4BAF9A858B12C296F34A3B4613FC575061454ED2547EC05CAB26D2416ACC12552EC296E7F609FFDA304A58C26A9621AA7AA67125FB41457EB89041D9B4980F974FC0E4C63C5865D4CFD6E3F1E1B27E2B67C3C4EF3C7F3E287263C34442D219907BACA3E046C8E8FD029A909A5BE2355804FA4BA4DC8A43382C6CE70EADB8205507FF1EB2322E14983F8C2AA161FE815DD47A8BC604E7DB795B8793E4465A309E50D0694D4EEE9D9C8F2EAB5F1172BCDB1B8BF621FFD32FBFDFF8CA9FB5F48AE9C41F96503C29256B177ED08F6AD5C83F1E6ED18ACD988EE8A754CFDD68C3173ADD93E67299B672D66FDF4453C334224F15B9A39B02FAE0F01BBC061DB8B6A7CA8698BA7B635521009A3AE234800F617FAF715E64553873BAD975DC86FB6223D278AE25295B8E78CE64C8B090D174CC5D5B92EC5B53B452EEC22BF6A1327F2460B02CF12A01C887DCCB358C63D8143F40BB8F87CC1E6B983D17E4741E90C219B75C2D6085BFBCBB3D592396C5C2424B451BC4BDBA060F028B184BE2572A07723D38BEE43C0296CE8BABC2A27AADA05F0F6606A5AFDC4F5B897D0B89BD0BEABC809575ACF3B5379C992E008475C5D5CB1B4B0C248CF0C13B3AD9CBDB893CAA6BD14566F1704568963F40862B3FF468C6AB0B8521C8CDFE957397AF2495C125EC56392829AF102D88A7BE057F725B07FC922362D12DFC802780F01416A8096A1202072A0878034FDA83E04DCA286AECA15C956DA745C10382EC07890916F4F72FA11CA6A8FD12C2EA35AAFDAA16A14A18F157B4061002773BD893EE58CB5D35A521A9789AF3503CE962D252261181149EF8A2FB161849F7A8F5379C3F055BECA91A427F0530E21DEEC4B92F6CD2366F7D7848BDD3D74EB4C8237CD2070FD74FCD74C65DE627DA6CE1739B068026EF33FC5E6ABC9F41F718887DE1112EA8D80BEF8E6D4380B79C5BFBF38ABF420058D0E5475B88865D285921A3BB1C21CA14624695BD7311AAF5A90DDB19940E51662C56A93DE6A41689E2EBEA71772AA65266517BE222D752CE6D6E2E8103502DF88A1F844BC476A81161165AF639BF03841A73F60525C31EF8576F18E571D83ED2A1878A89817F69DE1992D193CB142C9D3F323E83F3300C5946014E37D518C76E7D10FCD79E45DBD5E020FBD69D897804FC2D06FB22A8C45E25953D56A2F72C09E864E3BA17D5BB1321DA5A3CB96FA1F4C50756C1057EA6EE4B4BA5171CB827C911BAA8A63F895BF407EF7186A2BBE2633731285A553C82E9A406ADE38B12F8C27B27808AE19FD08CFF998CF524B1975AA839191B5BCEF59CE109B42061966F3CAF6149E5F99C0D3DF44D06F863FFDA679F1C424671E1F7F943F8D32BB9F80BC9CFAC769D43F79D8D769677793D770586C4C3694341CA0A2E5902073402C912249C573E30F7AA4578855A7B982DA8E1C4AC58D5B514302B9679578A44E121198485EE66CB25533C8C99B4E76E114D2F32790553C89C08C37704B1304CE4C66A2B2828FC445F1E8E85A867A97F3F691025E37523160470A2FAC4AE099F9E1F4FF2280FE6A029FFC338187DF3412974D1A0482941F4E4B2DD626BBCE9892C6032217F653DB6E26562201BCF31065E774A8BEB08BD0AC4D2211371354BA8C135D8B09285DC8C19059D8257E88AA6E9CF8AB8B16C9495F724A398304E564719A9D4C4AC167049E79159FECA7083B338BF1E28F1B1F29DB18135FCFB0E3E5BC635BC8EB268280B620B05A10582024F485FF6F1278E84D13C73E048253464C8AC99E4F7CDE52B173EEA350AC28551D06623736A6F1828E90CE0C52EBC79158F131BB7DDF25ACE52B72F99CC8CE59E8F8BC4372F9384255AF1357F5261DDDCB68EF58218E23CBC8AAF984A89C21C4140DE778DA5F092958C098938D8C3ED5C2A8847A3EF0151212040619AB785948E8B995F13C352F9CBF4CF7E3F1C99E3C36C1913F8EB5E1910F0F8A55685FEF07CD436F1E10B7641A11083F3DEE1397F8D7708C7E8CD4E2AD22120BC96DFA5C2CA78BC48EBB94FCCB9FA1BA3686B29B53F12B19466CCD7232CF69135ABA0077D507145C1BCFE94B5A145E9B2A2E7DB7D3D5B991B60B1B08CF7E5A48E85BCE36EF1677A26F1398BF98CFD3DAF922A39D19E2366F52440D9F885B8D31D6F98C30CA12F7514ADE5E1BCF1B8BC319BC2090D7E7F93068962B03A7D932E0D3C3E24F5EBA3C3478B738995A7CDB9740DAF8314EB18330177F3A88564D21A678246125AF71B27604E9ED5A9CBDB68BD2DB5BA9BAA34F2153A9B96D4CDD0D7BAA6F1B50C53A0AEF7C4B0B6E9CBDBD9A3317478BD5EA13521B3FC227F35171D49E4E7AD54242725E22BA641D965557B1AABE8465E505CCF2BB304D6BC548DC7AE80B327BFDCBD1F12C62A7D31976DA67B3C33683ED36296C334F62FBA13806FE7D3F8A417B6F2BDEF4EEB995EBFDA4B40D7C634C64A6588F33A6135D3095D8B39F13573195E4263179F74C8AAF2FA1E2EE72AA59430DABA8673D0D6CA4912DC2B60ADB4CB3F8AD13F52537E79377791E999D62596D9E8DAA791EA7EBE69057B700EF9C1DACCE39CFE6C2736CCCEB64B5B2996562355A247261BE6321732C73986592CE0C71569BA193C0E7DA314CDB12CAD4757E4C58E2CA63EFEADD50BC66BA4E0DBE97C0CC158AA71DFC6716462977DC154662C69EBBA9B9067733F24DEE9ECE31BA939E6BFCB32AEFE0CFB905663FE7E69BFF9C9175E076A6EAE0ED2C95D96D55F6E1DBA7D3F6DF3E794AFF56B2B0A4537AB71292F7DE0A89DA72D33F6CFD4DAFA015375DFD96DC76F59DDBBDD868CA9E87031AB49E89AAD17A32B44AEB8F0E455A0AC32C2DC586642DC5FC282DC5E4402DC528772DC55B765A8A41165A8A57F66B299EDDABA5786C939642B1544BF1B289F8747BC0DFC856AD5A25FF87951784CD16F6ADB0051A365F3CF7DA871F7E683C63C68C10CD32F1FCCDBF3039DE1839CFFF6FEBD1D17F38E8D7A23DC206FD87FDFED379FEADF6FF0D013970A4B0E1FF9B092C17E052EFB323F74017DD8B40A3F89D20CC4B98910619755F4950D6CB712461F92BC7900ED06C23DFB7DFAB97E56ACF6BCEFFABCEFAB5084840720029954B1A93CB676912B4AC9324A4694E2CC1CA3A39A96C2B9F65BDFC95FDD411D494A11C43BEAB1D21E5A92E930EFB55B9FE2B09C9412511B597E4BBF4967C57135483D2F49CBA9F1ABC8C842640755FD9475D27EB2579F538928C2C93F5BF9A0FBF45403DF0915FF19A2608CD09E4A46A53035283D1AC939E95FDA403D4DE563B4BD3414FFDB704BEFE0DAFC909E4A497EE1B5C4EA609520D483A41964BB0EA6759A76E2F89DE3F9E2428FBFCAAF765DD6F45E0FE10AA3D2E2755474702D29C40336A6AAF4AFD6A464B534E528E9A843501CB67CD883C90C86F1190E0E420C3EF815413527B4A7AFFFEE45A7EAF8F04A66EAF96883A5A9A6DE45812A424A5F6B81C534644CE2DFB4825FC573920437DBF072428592641A989690E2EC1C97A59A7F6BC0423CBE478B2ADBA8D0426CBD50035FBCA72B53D689EDE39FFD52AF49BFAFB2DCFFC4FD5FD5E04A484A467651464D47E3747FC1E04D48929F52DA5A696CEEF42E2F720A0D6B53A177E17E0EAA8AA09A813483379D4497C7FF2C9A4D24C70CDE45397ABC791756A02F7D769CEF5A079D5659AAB90663B19DDA7D404D4AB0BF7962ED950AE1EF25D369420D4EF52D7978449893CA85CD63D6872D9BFE8DE98B2AFBACD83CAE4BCB25C8E259F2708938E93CFB26F6FF9FD12920DE4C01298EC24DF2539F92ECBE5BB7CD66CF76BE50F92CEFD633E681E399F1AB48CA01A83665FB533876B12503738720FA47A203980DAA457EE6FA7F696BA5CDD56ED084D22EA313565717F99DA214FDDE7C4FBF1482C7D8E1272504D8F4B22F2DD4B98FA590EAED94E4EA28E86BA5CB6919369EA5F330FD4DEFDB532094C1D697504B66B6090782EA9DB6846403374F74B46337C9A1ED324737FFF074948ED5DCDBAFBCBD40E916DD46406DD27E15E929A042433D959268BECDC788FA97CD6F4841AB4BA5EF69113A8FBCBC1D551B89F84E698EA3ACD32398E1C4F7A5896CB67197D351EF9AE062FE7E82321D9B0A7F09EC96775674940BEABC9496FCBF74861323AB28FBABF2C97F62009698EF9A079E4F8EAFEF78FA1592E9D25E5FB0B81FFCBF6FF0089D638EB54EC3B110000000049454E44AE426082)
END

END

-- Step 3: Tham số báo cáo
select @sysFieldID = sysFieldID from SysField
				where FieldName = 'KyToKhaiTTDB'
				and sysTableID = @mtTableID

if not exists (select top 1 1 from [sysReportFilter] where sysFieldID = @sysFieldID and sysReportID = @sysReportID)
INSERT [dbo].[sysReportFilter] ([sysFieldID], [AllowNull], [DefaultValue], [sysReportID], [IsBetween], [TabIndex], [Visible], [IsMaster], [SpecialCond], [FilterCond]) 
VALUES (@sysFieldID, 0, NULL, @sysReportID, 0, 0, 1, 1, 0, NULL)

-- Step 4: Biểu mẫu báo cáo
if not exists (select top 1 1 from sysFormReport where sysReportID = @sysReportID)
INSERT [dbo].[sysFormReport] ([sysReportID], [ReportName], [ReportFile], [ReportName2], [ReportFile2]) 
VALUES (@sysReportID, N'Tờ khai thuế TTDB', N'TKTHUETTDB', NULL, NULL)
