Use CDT
DECLARE @sysSiteIDPRO AS INT
DECLARE @sysSiteIDSTD AS INT
DECLARE @sysMenuParentID INT

SELECT @sysSiteIDPRO = sysSiteID
FROM   sysSite
WHERE  SiteCode = 'PRO'

IF Isnull(@sysSiteIDPRO, '') <> ''
BEGIN

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Bán Hàng' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004FF49444154384F95546B4C936714FE0085888B6E2E5B06CBA29BFBB3112F8918DD74591C916C9282C84D5098288C3BA5F71B6DA1978F7EB4B4B4A5F4F2F5426F504B5B7BA50574E8E64477D33835EA620CBB65CE6533EA4CE688672F244BA6C31F7B93F7C777CE7B9EF33CE79CEFA445A351EC69273D3D1D03C072CF9CFBDCBE66F5AAD4DA75EBEECFCFCF3F5AF5CC4AFB23E458F22C002E75E3F118E61F0F6CE1F085374ACB2BE7E57DC4ECA0567743A51E9C8DC662D94F8B5B126CE1712A95C2A47D84175710EE4E1AFD279DC178331E8B3DABD30F8D399CAEFA4422B164EC92C6582C8A85239157D9FCEECF7045BF592812DBF586E193C8F6BCCFE72B502855C7FF17E0C4C404366CB6B0657D8A51068B7DC2ED72E56B06B551B7C75B9C4A253105A19CF178470BE2F1F87F082DC930954CA6758B25D3A866F2B68ECEE9A9A9294C3F6450E90DC6BEC9C949CC3132D2A4500E8C2651E2276BF99801654C8BC5E3AFB9BD632D48EE79243724C7FB54D3D3C73197DB5D2DC51513530810B1CC96C8F14F50D3DE58004D20A6FFB05D048CC5621802DA6C73384FEB86866F32B882BB4C0EEF3A9B2FBC2F2794732A8DF6324EA8BE6D6C69BFA3D10D250C268B55D82BBB2691131187D37D60C4E9A678477DF9082B73112C742C4C45727E27AD3616CA94C7E2775F0D064395468BEDAB4020B83B1289BC1E0A85B6B038BC6F4C668BC2E9743520B6B31C81F0AA5AA30D22259F8A24B29B1A9DC18D058F854D4633792B10087C108D27D84A8D76AE9D4AFBCEEE18398D13CAFB88F14544E8A4D5E18CD0599C5B0A95DAEFF2789B0C2672C664B5DBC703C10D682E5F4163E541754D62A85BA621A3F9379DC134A7379A81CAE400020A1F0B470ECB70C5753473C26030588218560CA8355626877FCDE9724B7902D18FC83FABD1EA4FB1053D0F3E6AEB0234052558241AAD3091B687A4D5DAE90F0448855A07A876F7186CEEEDBAC38D7F35B575DE637205DF77F748BF10887B2FA1EF393369EB124B6457CCA49589645ABAC5D207A8A67FA2C61561E3E38183260BF90B92F4B5D9E6F88318D080D931924C1C9F6EE60A8597541A8DC9E7F7379849926D3499B412BCFF76AF5436535E5175B78BC1BCDCDA49BBDBC5E2418F14FF722291C858684AD6D851FF39F5A0766ACC779485001FF0DA18206BA401BFB113B854D61D015F745DD6D73FD3AFD5C77A09E50FC61127D1D245BB3632E6EBC255EA8B529CF815C59D473F44E6C2D8E45A6D8E9F1D1E4F123DB822E18A61B8890B17B83A38DB2E871387D810AFEE80D1BDF53044A9017A590DF4522A805E5C06D48A6AA037B73F62F2C530A8D3B35C4E27B6B80442D168AF9E18848FA9FDE0ADE702B3B416FC0C19D86962B0337AC04E1781872604B2890EACD2FD10AE6D8150791D782B6A415E7B0478479A61FB5B6F1FCEC8C8C0309BCD86594872204818E08CD2093E0E014CCA01B82832C2592A0EA71AF83079900AE1AA665017ED870F77EC025DD521C02B6B414629037969153415511EBEB866CDF6C5FDB86CF9722C373767ADA2A4ECAAADB8122C7BAB41B3A70C6CF56D403652816C6582AD83071EAA00889A0668DDF53E44EB5AC1575A0396AA3A6016EF839D797943082AFDB1859BB5327BF5CBB9395B36AE7F6DEFEE4D9B6895F95BF5CD3B76C638EFBE77A1A7A0F0165EB8E7A1BCB00824BBF780B4A41C44947DC02E2884B2AD5B4F2CCBCA7AEEA96BFF49475A666666F6EA552FE5E4E46C7E73FD7ACA3B1B377414E7E70FEEDFB66D6C475E1E376BC58A17FE1DF3376B0329E7FDA0277C0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Chi phí giá thành' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000048849444154384F95945B50534718C7978B04A4160BA20C420C040D172F18222DD42068A9157100AB52EBA55A2E0A0D291010A6A9D6723122860002723F907324181405944088A081041D6BA74E75A6B5D3874EA7F6C1B1171F5A1CABFF6ED0B1C0434BCFCCFFE19CD9FD9DDFB7DFEEDA8D0EB4113B3B3B32FDB123F68E4EE4D93342F0E451B4ABFDFD1313CFDC3576CE8B744F9F3CA6433139DCC1C19E3CFCE577B26DAF824C4CD8BED3C7061C1B6C9F122D193534AD3030B99C8953687FBCD3F0E0EEF94DE82909842637F6F6E800B370CCA89D1C3F6E62C9257D0D7176E6FDE333136819E2C84047E96E53CB56FCF1408F1B170EE04BDD66D41D5880F214E1430A72FF5FC0495B23C73B5FB9CB6CAADF84D6DC00B4E4F8A326DD1B46B6506935E95E56332B431BD03274868C0F778AF545D2BF9AE50168922F435759E2BDF19173CE5397675640EB151D19ED6F8AD59744FFD4774C82FE135168922D856AAF0F4C5C36737DB873DED8E02CD7D04ACD8CFA1372263F04E78F06E3FBF122DCBD9C869A14772813E7E1E836575CD4247C6735B6F16DD0FF3634723EA7B2964FDCEE4B0560C1AFBF99F1F84F332CCC669CC9E7E3F81E4F9426BBE25AD7914396A18E7F075A8C2C31759F92F6566EC60FDFB2484A90C2D3D30D1B63D7E0A6A908FDAA5560B2F928DEF12AFA6ADE3759AF9C25D621960C76D713179729DBC66C60E85E6468235872992B491BD3EE40E9A7C9F0786D2E9213249086FB4196F2166EB04960154B50462DB5CAF04763743FDEBAAA231A55FEF43371F57233B165749075644BDFFD62A03A16066D3A36462D434C84109AC35B307E2E0316F63D7079FED0A478A33ADD07965EF50EAE5145E6BD32773A70B8B7918C5C6A2186CEF2E4FA2C21BA3E5F03757E0C58553CB27686226EAD006539525C6D888756214475DA629CFC6011B8B29D67F84BF8338E2C7D355D3C4D86FB5A88BE3AB399C90BC20D7D2A0A768740B63D102507C5C8D81A887299183DC722D0962D4455AA0F2A3EA4D083CB7F76717171A788E917C1486F3D311BDA085BBAFD7A4B8E085F190EC1CCEE475DE13A14A7AE42A56C253A0F4BC015AC408BDC56B22FD4FB7DD1ABDE849000AF0C0A0CA1B1A93EEF8C68A98048C2563A57CADFB8DF53118F81DAAD1861F6A0E7E43BE8508643A70C03571886D66C11EA330550EFF3458D2C18B72EC8112DF6ADA188049A389A852F6D8502EF885A79289882D771B3AF10DA0209DAF343D196178AD69CE5689607A2F1235BB97CBA7E7C74AB1360A84A44C12EF1D73C1E6F1F056DA0993F69E8E6E6B6B0F250FC373A6AC150C0F8853CDCB9761C5D25EB278F5C7D861F1A32FC519BEE87AA3421B49F44A2BB2C0E8DD4B23D5F82D541BEC728C69FC6FEC525E93067B19747546CA4E8B432457AAFFDC8DB4FFBD45B70A92A09678BD7D39FAC46635630EA3283D094BD0AAD0A31B515A1815614B1925F47216FDABC66B6DBD6296FDAB0759E1EF333E3D68A3A3FDB2FB97FFA6309180535CF5D4D43CBA769CE1143952E79280EF629A573C29ECF7B6137836A53B6AD838026D8C171CE3A6FAF05FB4283F8CA2889B03C263CA02232D4AF68A9C02BD5C98927A16316D1B8BE6CC40BD8DF2E2B987D88408B310000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Công nợ phải thu' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000058249444154384F4D54094C9447147EBAD516AD9512AD60B5A8D8C6A489466D8D47AD362A95DAB052AFA2A55C7BFCC802222082B8B0B00BCB25F7CD02BB2C8B5CBB2CE78A4039AD3757A8551BD400B63568AB564D5AE0EB2C52ED245FBE3799C997F7BD37F36670915EF4FF058026262788379347E0F168FEA3315A303A4C936C6F5EE6733366CC9831059A18A791D98B697C9EF5D2F9F3E61E23B3E07F10868B482CE32C8A6AD57501F101AB3C23390A3E7680940737916CDF46521CDA323BD175C792640FFBE5F12E5F2C901FDC3C33CD63979D2659911415AD7C2297CBF14A4C201552644E94EBD9A6B2016D8316EA3ACDCF92587FEB80A37C8A77FE6C81294E923E549D7267AC45F5E28F36F5DF63AD858FEF18536F3EEB2A7E71AFB70B875D5CE1E4E4F452906565C69CEAB6EA1163BB11D76FF74067D221DBA0EA0F3EF1DDD28BE90115FF5CD2E1E1B94CFCD9518CE7BDF57876B51A7F5DD0E159BB0AB72F9E87ED8A95B0B2B27A29E8C9B253E4C71CD3FF6040797305EABBEB31786F105A532934E599634386C4C9EE646FDC3765E1F92F97F1B8EF3C1E76EAF0A0310D0F8C71186CA9C032BB8F606969F92AC377F20DAA5F5BAFB68265893C7D3EBAFBBBD176BD0D05B51A346A14E8C9F0C36F3509186B2DC0706D32EE96CB7139DDAF379B73D8161D76C27FFF21E7A75B366F1E2141F854ED4EE95BF5E8EAEFC2C0503F2E0C5C4060621038B9041D260D46CE17E246B60FDA527D511572001759B626B9A731F2C0A659B26F3F2791871B89C4E2451CC7CD216F85C49235E069AE3E0F66CBED3D1DE861350C490945822609A67325682E4B4646C271E494E7215F9B065371DC447CA8EB1E51B00B794B05C4F9084924109148242212C9B859CA82587F435BF58BA23AF5540DCDD66B3A6A90A44D4671036B4E950A12E571E85B8D68B9DA8EA2FA52E419D54F128B53EABC14121BB1B9B1811C89BC38224E6E6E8A80021202576BEA34CD654DE5A86CAD426D671DCC714E652ED819DC4EB9A3D05884B66B1D0C5DD032D1ECF2DC17BE317E7662F65E8F2A7DC8C3650F91D85F4C9CD48B849162F2881053444ED4215D53D94F0535455055ABA06BD4B1461951DB5107637B2D14B9D12869388BC2EA22569653FB85AC0722B9379D3CE5467E0EEB99E569EF5EFE42F20F75256F561749882B45A44B8FE41A0BAF97B554B1E77316CDD7DAD1D17781D9AE46BEA110CA82B81C81F96731316FC667840EE4FBD5A7440281803C3C05247177A1B823DB4879783B657B7DBD25D3EF9B6D49275D1CF2D2C2B21A1A4B9E1AF4B968EB6E4445B31EE925E97D9270D19CA3ECFD1E6562919C23A5BAED249F3D1B88643259C3E9F088D2605F6E4FAE84BFAB33D9B769D4108B3153069E7468F1B0553DFEEC9261E2716729069B8A51CEBEA52E4652AC38B29D62DDED29CE6D17257CBF83D8FF7E29181D1D8D28B902153A0DEED7A7E151630A86AB62305A9388A14A252E6706E07CB43BEA64AE688EF1C48F2A295A624537A20F3337CC513C138B77DDF95A70DFBE7D7074E423272B03770D8978644AC5A85E895B9A50742771B855998001B514EDF122749FE1D0192FC4D940A74B2962C78F75A73D5D923C77DB2432BB9922073ACEDF44646B6B0B1B9BC5080B0D41AF2A04F74AA518298F64904DC5A3550AFC7E2E0B7D792770252B00BD8C07D5D2E743154A0C14858DAB7CF8BBA507B792D87E1D39AC5B49646161C1E6280F111111C8F13F949F26FCB2581F76E4E695546FDC510761B8E42446B4C1B8AB09C2ED82000CE6F9A332F4E068107FC369FE27768BD6ADB0268BD9B35ECFE8E5CB9661F59A35938E7BF746CC7B7B2EF1D8147EF30DDE3CDB85F337F337AE3A7D8CBFB1C4D37E6DCE976B5784ACB7B376FBD0E65DC7B766F1964C2B98956633BC1CE7E6E5ECEC9CB075EBD6D5D3DB458CCD97DF67788FC1721AF3A7D98AF182E9F30F182F9D8E17329E4AF35F37712928D3E654690000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Công nợ phải trả' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004A949444154384FAD547B4CD357143E5374D389D99618972DD3CDC42D9B6682BAE9744EB7C18CCE4D9C5B448D71D017A51554980A8E0A7DD055280C18F2145ADAD2F26ACBA385F2905A6060E52199F898993159C81E98618C512789DFEE6DC0E9E6FEDB49BEDCD39E73BEF3B8E7779F0040FFABC8E5F20D51423125EED94ABAC835A4DDB9EEB1D0ED584B47A59F92582DA318A59444C7C4244E9504F487415AAD16A92A8D5323DBBD54B96D25A56D5FF50FAC260D23E3845F4BB69084110A14424A2B504626E71EFD203A45F028A1542AC5717D167EEB6FBED35B70C450AF121FEA2D4C360F19952D674A521A5CE931BA3CD1A677D42C51AA602309535937FAAF9638BCCEBB6697F942524E7204AB70E65495B47CF90A440944B87DB907137E1B2606EA3031E8C4BD013BEEF656E2CF3336DCF01AD09826D024ED7A8FF669E3E79B5CE6CBC6A60A54B7D5E0F4D06928F2155B840A51A0529A3E3D08EF8785E3F6854E8CB97331EE35E2A6DF8E5BC31E8CF7D662B43E13E36D05186BCABD9773746F5881BDF474715D09867F1A46DF481FECA7EC30BB2D1D0F08E7CE9D8B88ED5F60ACBB0AA3F674FCEACAC1759F0537CE7970FBEA00AE7755A25327C225732A3ADCE5C8AB2EC0E095A1005985CB849AF61A383A1DF70F671F592362E3A0909010C80E24DE493F28DE6C8CFBE4F391F2A4F19FEBB4F8A5391F7FF84CF8DD9D837305FBD155A142AE351FBEE16EF45FEA474B9F0759A66C740D777142649BBFADE19745229168A5502C7955FEE52E526F7B8B3276BEBBC89B29BBDA931583D6639118C893E39AF13046CC4A9CF7D5415DA442AC5A0E6B8B15FE8B7E9CBF761E6DFE7654B556DDDBAF3BB0842412098945129249A32831319212A33752C5A1C81D67CB14F74FA4C74395910093260AC3D57A8C745AA12FD7215A2144A9E324AE8CFE888EB31D68EA76A1D85E8C6C53B691C46CA925711292A4C592481D4BF1C713DED617690C655585F70DAE4A989A6D48C83A82EC522DEA3BEA606BAD86AA58CDAA6A6337EC4383AF01258E92C02C4F3ACB3C244D8E0D5CB7384D4287B20E6F353559D8B02B51D36647DF0F7E34FA5C90AA648C4483B2FA72641AF58160BE2EB52C81A1C908A7D789127BA991F1CCA1189594E28EC707CE8319894B732BBFBB696BA9816FA807CDDFB7C2E6A9663393813923C792C36655CDE71520B17A6CFC42C634259A28418A9075194314FC4C30ADD8B092A292A229365D46CA4295BCCC6960BB6505FBBC50DB6E67C41EB8BADD8CA43E30BBA2BAE2C0521B1A0D96039907174835B1B4EF9B38DAA78BFBFB9D99357B16AD0A5F4DC214D1B413B585DE938E7258186967BF97ADC960A03D73B3050D5D0D30BA8D3D29F98A0F7725ECA64D7B3653E8BA505AB078012D7C6DE1BF1FAEE0678369EBDE88D74B1D65B75A58CBEDFE5330B9CDA8E7444EE339418270C7B2B5CB68DE8BF368E69333FFF3E59BC62C33189E62789A61DA67BBB7AB2DAD56583C566414EB2FAEFF68BD3C6846D073CC16C43067D28FFBF3381EFF4066336D11C31B0C6F3284F09305AF3E9691DA1FF671B892FD5EC6B078D2B69C9DA1537E93713C9EF30464FA64469E7D3EC30B0C2F3D84E799CE87F30AC3CB933AB7733FEECFE378C59CE7B1C2CBE746DE1A17DED2C3E0FF73FB236D4E31FD05C4F7A97ED680B5650000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Mua hàng' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004F149444154384F95946B4C935718C75FE8669C419D53A39B319B895B8CC962B60F9BD37D98D9325D24735E5274C4C174881087D3391537D14D2E825051A48840E98D5EA072E9FD465BEC855628A594420B525DCB407417E9164D26E5BFC30B5EF8B893FCDF37E73D39BFF37FDEE7394F9C4DC7A3A6465C5C3C15CF6050988C6D9ABF6021737232F6FBC4E389DF62B18991582C363A3939791FC05FA0E2A2711485E94DF493CCA6A7F498025AB5BC796665CD5A19272F437AF564DFD8901E23033A84FBD4FF0EF528EE07BB9A02BDAE06ABC72A967698852C672BFF88C3C0DB65D3713792FDAB6D3AFE9C290E6D8E3C16F539F901B7A1042ADE31E844A71072D722E0AC82CF5A018FA90C37752CD81485B034E6C220C9815A900D25EF388C0D7930D6FF8C36F925AE4D2F780A5C7937247F181DB5612C28C588AF06C33DB58878897C7CA23A847B44B8E39560D02D429F53802E4B2D6EA82AA1A9CB864E7010375A0A4C36DD0CD0AEE7AD180E4AA20F468C78F82084DB3E05BA5A4B10E9BE865F3D33EAAAC4EDCE0A84BBABC841D5B8372041676B05B8E7B741C74FC70D79A1D6A6173E75B822EC174547833CFC193161341C407FA782B8E421D4518E3B9D6CDCEAE4402D3E8F416719EEB82BE808AC2DF9E015EE20C083B0CA8BD4B380435D9C68D84BDC1057C343ED08072CB8176AC5ED2E0E06EC17D0EF12C02ECF47C0568C01C745E2968DB6C673CF808A22E52C60A0BD3C7ACB558AA0BD18219F0AC10E19429E7A44FCD731D85E865E3B071D9A3CF8CDF9E8B31460D0C182A921E739E005F9F3C0D77C9692A8DF92079F2917FE760106BB25E8BFC947D0C186B7ED0ABC76213CDA33F01ACED2EAB3E4C3203E09EE4CC8366571D32CA05B971BF568B2E1561E2765C246AFA31AB77A84B0CB7E80DFDD401270995E73AB4ED2F2EA73A0E51F254921FF9064D9AE2CBE3E0BE86C3935EE6A3A0C57D37770367F0F878A055F473D4C2D17D14DCAC422CAC0CDE6A370361DA1D549E04ACEB704B81D7A61061C6A966C16D0263B366E93A6C3DE908936511A14D75261693E8BA17E29FCCE4B300BF6C326CD84955606DA1BB3D07CF500ED50C5F9861478AECC6512531E5B3D7D535EB548B2C6CD8254B231155AEE01F493ECBA8C17301A51C2203A8C566E0ACCC2FDD312EC83559C86EB65A9E0E47F0169E96EB43515C8E4D2722A99B995A2DA8DC2E5AD8283E3869ADD30D4244155BD0FC1EE3A440695F87BDC835E720555EC9D64ED4BA264FA6DE67F05296B0F2ACF2642CD4903F752966CF1E245D3CDA15954BA4CC7F9FA81BA82547D55128CA450FF18332136D14D9A8B0F2E2DB9AFDCFDF49AA6722774D549C4650AC4C54C141EDA08635D26CE9D60AA096A3E11835ABA64D172399BF9C850B51D9AAB3BD058F2096906BFE0F1E320C686D5A82FFA14CA2B8904940C236F2F093B85643F1DD28B7B7026F51D54E76C46DE09A693C0D6112DA018F18C84CCE40F249CDCCF220DACC4471AE254539E08032719DAEA3D50966D81E2F21634976E86B27C1BDAC8FFF39A4EA3919D8282F4F770E6C0877737AD5F534460AF13BD38153583E8152A8EB1F6E585091FBDB96A59F2A6F5AB7FDABB6D5DED8FE91B2CE5A7370F498A13FF511198BEF273182A13E1511D82499C851D1FBF2D9B3B77EEFB64FF9227B0679D96A2E2C9E405A23944F38816122D279FDF4A4898B7F18D954B991BDE5D752C69EBBA8AECB40D86D45DEB05A465AFA1C3FC9F63AAD13F39E8A5998396CDB89A9ACF1AFF01BD3CB1EE794991780000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Quản lý kho' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000050449444154384F8D956B4C935718C7DFE2344E07513F3837933927EEC3DC07932D739764F7C52D32349BE2D421A2080E8B145A4B5B2960DB975B4B29BDBF6DDF9642E9854B296D29B5F4425B4AB98A3A2F31F3AB894BB67DD82D6671FEF7D6C425D3B9EC49CE393997FFEF9CE75C9EC39A49C58827595E1E8B58919747DCBBF7E7B3BFDCBDB79775FF8FE5FCB56B17582C460110F7091653E09FF21CF0D134379D2016B34962763ABE7122142CB3BB4742D448E4EEE0A8CF75692EB9393D15DD160C856AD28948FEA3DAC76099A9495628E8FF92A2ED9EF35D869F445D6690E62150A119F44766E018F1FFDA651BBE6BF04F632C18502CCFA55F98CB4C119964F401EB4196AB64D3716271662A3F3993ED608B3B71B4A611BC363D240627E4761FBA078268A78721A53C50B94270A4AEA22F9C81D7D3FFFB6438B0746569469B4D4DBEC78012054B7399E2642C6C1B1BF1DC4E7EF73D94AE71548A48346BED70C61620EF1D056972436672A1DD3A02BD2F85E1EC0D64AEDEC2B70B49C4FC03880E51980ABAC688C484533D1F7721151945662A82E94BD73130114775733B1C8C8BCB777E83841AC059A5092D941B16DF2492B30BB8BC904236EC417040078F410AB7468CD898C34DC402BDB4D7C243C2A746745089E5A417F3A910163331DCBC791DF3576FC030E487CE358254661AF3C9714CB88D7068A530770AE0D4CB18208961A314935EFB10919EF4D87CD6068406488C5A440839DA1076CA91F6D3B818F7E2DA6C84712B959B1D4E431B34322EBA9BD830CB45A01522F4A9C4701B64B0EB5B11BFE06713E9E8B032EC3A8F804D00BFAD1163B4988176C24FCB30E150629492404FD6E3DCE9C320CF564075BE0EAA96334C1B1754A71066B50C0A653BF61FFA0AB1887F2F73CAF1B7CC560B069D7A78ED247C742302D666F84C628CF7C931666604A22A34D67C0D29B71C72D1292819A85C2A8095EE81D349A1EC78192A2A4A914E84F711F333C95D4DB2361C3C76026D1DAD181EEE83DBAE82972611B4CA10B44821179C4443D54188392720E09DC1190E1BDDEA0E28BB49F0B8D5D0AA49F4DB944844C78B89D94CF2CDE56BD7C11588C0E3B1D1A355A0B35B01A34507A34E01FF8006A4F034440DB58C6B1D28AFAE45D1BE7D50693A60A494F0B82D306848B4302B4F4402C5B94BFD46369B80805F0A3E3F276A63A04A680D5D2829AB845CAB016564F672B41702611D8AF61683C365C631AB5374C9D02CE1A349588DC1CAA3B0969747898574FCA30B7E0B4A0F3C8F5A5E0DE4CA5666F62E78038310367251C7AD814ED38EE3C74B517AAC1CF57C3ECE8985E0F2EBC169A8430F978DF103FBD1BAEBEDF917376CF89430545592D387BFC0D9CFB6A0B79504EDB0A1C7A483D3D1029F5787C5D920F48C7B2D922608CE09D1D0C005875F07615D2DFA8E1C01F5EEFB3F7CF0D2361EB1F2A9A71F849D552B57AE2BD95ED894542871AB5D813B7215AE05C6E1A04FC1DB2F4626C13C352D036C16422A6B44738B083D272B60FEF06394ED78D5555050B0FDB1F0B7657B21E170390E0CBA9D573C32124BB5024438BBE11F6A4522DC0F4DB7044D1211B48D7C504545A8DFB9F372E1739B8A9870F8EFF6320354AB14046DD2AFB2D154B5B647758B2EF9FCC7CBFC4A5C7469615191501D2A81F8B5D77F7E67EBD6E615AB573FF3C4A89CEBC801756A2541E9D584D56C2038B5ECD56BF2F33716ED7C853756B9FFB669CF27D8535838BA7EFDBA1DFF097AD8F910683268089BC5487C5375F26FDD9AB56B366FDDBC6937C17C05FFC7FE02AA1B66C4CB83CC780000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Quản lý tiền' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000052449444154384F7D940B4C535718C76F0137716E039DBA87D16D2A43A54C82D38429041507134445608A61C81487A32230B00245A0E5D5F210B040EBA050A0B4A5A5C542290CA8B5AD2028CF5A54E67C41B26C66C9966C3A63FCEF14E62B5B76937FEE3927DFF9DDFFF79DEF5C9A54DB49D91E00D493274F66C6341ACD8E6667B7D4C1DEC175CE9C39EB1C1D1DDD1D1CECE73D7AF468FAF1E3C7B7896ED9DE247E8AECFBD9B667AEA32365ECEDA1281B50D2AEA35A7B0D9B2F5C19669A87C79B4DC39609E3B0E58171C402E388151746AE1259611A9B8069FC1A2E5AAEC3386A45F7C0F0EFAA1E83B1A95DB744ADBF4025B14E5114995072DDF7AEE7C7AC0F3BFB2FA3AB7F107DE3564CDC9DC69D5F7EC5AD9FEEC3F2E35DE8074721EB34A0B1AD1BD50A0D043235AA551AD429D590B6EB7C6DC0C434164549DA3AA80E535FE1D0F51FA0BF7419CDBA6E70F8021C399981D0B878C4667150D424C7D0E42D88A44AA4F3CA1093CE06B7410AA95E8F7A752B64ED3A9F67409B4332E1755E1C8048A684F5CE34F8A206EC3E7008749FADA0162E04B56205812A502B95835D5A81181607E54A15D4663324E73490695F00DA6AA835F5B14D23E36820F6076FDC447A1E0F5E7E81F0DC16006AF972D8D3E9289234A3A6518A9CB20A1CC9C841B9420595C984461BF045874269F38E5251FD00491B4D6A0D866EDE4616EF348E269D7C09C86B9041286E445671390EA765A384B895F7EA514B9C921A3E4F59DAD6212DAE14824BEA9647D2D15F194126016E0F0E7B192896825F5D8BB4826244334F21BFB601626D07844D3234B5753C0776F50D88549DDDA8932B515953478AAC01935300DFC0106CF40F02F5CE7BA056AE06AF5E8E32610D92D9F9884C4A45B6E03B08142D28178921D1689F03CF0F8D3698472D10CB14989A9E466B471752B2F2101C118D4D3BF7627DC026EC8FF541A5AC09857C21E259D9D87F2C19A9A7CFA0445C0F2EC9CE066CD51B67DB4667EE670F5E9BFC43DCAC42A7C180F4FC22E2908B88AF1310181181310303F7CE0742A6AE07BB848F23C9A9088B3D8E4472709C8A2A649794918369F7396730532732B3671A9BD6D2D55B56A73C8794DC4212C047765139A2E3D3C02DCDC3CD9ECDA8497142B544426A5B8A284612F61C3A8AD8F42C300B0AC1CC2900E994999477857F317B5388DD7CDB352B1654A3F7F23078021118E95C08841968C95D86F4D0B910354990463E187EF81B04451E4654E209C4A56522E114E94991D8DBDDC373E63F606B6AAADDD4CF350C8DCEF4E1A58949544914482DA8C059210B2587E6C36FC39B644D86E4CC5C041FF80AFEE191088B894324231147992CAC71FF78CB2C8D3C9F0505535C7E65D1C5ABD7D1D8A246BFF506CECADBC02E6F44053F03DFFAD3B078ED32148A15609C6061FB9E7DD8B22B1C3B220E6277540CBE8C4FC687AB5CA209EA6D22A719E8A2C54BDC98D99C9EBA160DCCE316F41814504A59C8CC4DC1728F75A056BBA394F46134A99F4F5028B6ED8DC04E92764854CC6F9F87841B9C9C170412CC06A2354F8DD2C8E08DF55EDE512A65F1E45F533C4CB4D2A1ADDA889EB67894F11910A9BAB12FE618FC76874D79FB05A85DDDE8C94ECECE7E64DF6AA29544EF12BDF62CF5A7036FCFD7FD27B5740812168113F5168CA2B5F7E3439D345BB7FB72DCDC5C125E9D3BEF1312BB8A68A92DB97F20F6FF02D9163C5DE653BDE56EDB46956B1E720F3AC1CB8556E840A39C0F846C88BF3751F4E715B9EB035F0F7B06097D85C8EE3F212F2E1E0C58428D567B50F2AC0F561EDFEBE8EE459FDD5492F0117D4CF9E999D2B805556BDFB75BF77FA0BF015CB24659EA98C85C0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Tài sản cố định' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1200000B1201D2DD7EFC000004EF49444154384F7D947B4CD35714C72F4FD166239B0F36FD63CBB2F9C79C996E892F10D8742122CE19441C2AC8C352CABB2050504AF9B53C5B2A6D690BA5A56F4AA1D69647C1D66766988B6E71FB6726C6C56D59B22532E76366B1ED77B7E8A633CC9B9CE477CF3DF77BCEF99C9B5F84F1D4340108898D89668542C16D41104FD8110C85C8CBAC25A977EFDF5F111BBBC8110804496C6C747C3010D8041231031A13191949FE78F0904CFA66C883FBF7E6F7C440050D2E6FC2F7376FB975766788C748053449F4D485D97D7377EECCD58925819613FDB966CFE995D77FB835AD1CB23EE27729CA2CE33E427D4439EC263B0AB82479DF2192BA3FEFB1A06DFC7446AFC18EC2BA16ECCE2FFDCD36E14FB0B8267F1FF19E45567135F61496FF62714FB3657A1B72AB9BB0BF8477C336E9279605055D5E32EA3DD3A1308ECC0BEE3A5C724F6D1DCB51991D3F16D4B722FD10077BD995BFDA3DD3A3E198221A4313CC29CDA31BC2552A6DCF5538E89C220376D7358FEF02440A2D3E2B288350A67EE4BF74F9114D044EA3888A16A3969160F2DC2534F7A8C2823826D394EB4E7A498FC9F9DF96153443BBC634DBA11EA297BA71A8BC0E9411B4C32E8C4CF8C06D64F039B716F9B50248072DE0093B71A0AC16F5DDAA82DEF05DDD08497F966187DEF1AA44377C8382474D6B170E707928177480E9D34346054AF8421CAE6A402EEF38444A1D8E8ABA91CDAE40215F2465061D44A0B692F4C2D2A743A11952AD6E2F064727A0303928AF2A34CB3410A986C0C807C06910E260690D8A8E0A609B3C03D9D0301D5415D80DCC777CA539A24E6EA4153E23D8A2B16DB5B9A73145F9989C1368EC924349E137F6F4A3CF3C0A1115DD93CF45465E09AC34CE726A6A1E0DB7B9E3EB0A893E82D3A622DB0F169194ECDCC7CFE6A8DC9C24D15AD0D96F8479CC131E08662ECEE2ECEC15F866BF81A0573B5F5D45733BC47D3A589DE328A518F26A0557D99D836447510549CCCC79DAF25E4E4D52A7D60AB14A0FADC5017E9B14329D15BDB4B55333E760754DA04E2C457ECD718439EB6D6328AA6EA068AABFDDFC6976DCB69CFC77324BAA76EC66976FA2DF31844EF5AAC430068602D718ADA867BAD0A931A24D6D80DA320AD3A81BDC861664737868EC56A2A77F0879950DF43931C156F9C0CF6333E703FE8B977062C0848C82522761BDB22C3D31236B92DFAB0B29AC2E0ABB35D0AA180C314A3DE44336E8AC0ED408C468E890A193A291191C307AFCF0F82FC27ED2839AF63EAC2BEF46026F0019F5ED5F917F56FCB2848FDEDB9A66E31E6BBF2B333AE8C3ED87A4DF80CE3E2DB2182DC4EE2F2175F8A071CEA059A2406A99084B8BA5582974609FD107F9C43934C934D7FF157CF2B1E8DD8DC9FA42BEF8A1483B323F6D89468F8F553EA468CEE32D91071BE47E5449D448EAA36C474E433FE1470FE5CD3926FA73F5BA0F85CF0BCEEF6316B3D6BC9F9CA6286F53DEF65CB88C2FAE5CA3E2766455D6A358DC0BE3D479D03F1424B493C3B5CDB7D7A76CBFB976C3166FF8EA828261E7D21509F1B9752D3FE5B54821ECB782A1FCB8ED321CE48BC0E8EDD879A472EECDB51F3849641487866FA616BFA058FCF204B2664B0A49CCCECDFCE44825F65635A1556382697C064D2A0376B2ABFE7A63ED7A27BD5C422D91DAB2FFAD2A7C101B1747E296B04874DCE2D723582F95B1962EB7AE7A7BF5B58DDBD3E676E5E40593D332AED0B0246AAFBD50E8058751F46C5564545462544C4CF693F6C2BE05D7DF47E2ED8E95D9D7D10000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Thuế GTGT' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1200000B1201D2DD7EFC000004D849444154384F85D37D4CD3471807F003012559B219610A1A15B768C2D4E936A3464D4CE6CB78531013978944312C5303F882335B80D24275022A30E90B7D8116688B2D6DE90BD052A0D242411CABDAA9501505057C63388BCC29FBEEF00F9C93B84B2EF95DEE779FE7EE9EE7BC0090E2DCED44371249BCBDC6081DFB877F115AE2EBE34306879EDC78FC74E4F6B067B4D733FA67FFE85F2FEFBF1C1B1BFE1B78418817F1F39D42A6787B136F1F5F32DC7F9B341565907180F073624904A38444650AC9964CD18C2667F7EF0ED75538DD3DF8ED661FAEDF1984AB67101D5D773D0DCE9B3DAA1697836B74E812F315BB23328A4974B684ACDFCF7C65BD05C6B04A0214D6F6E1E82C26E20BF25160B522C7604081B1060293198A462B0C7607FA061F816768516CFC91FB6E702B531C68745C7A22ADA9035767848802A729765CAF4786560B06C5197A1D6A6D0E0AB62A36BD136408C95696F8434D53FB1F7D8343B875F7215C5DB7F18BAB1BCD179CA86FED40B5D58E8A3A0B9C5DB7705667ABFC5F3026BB74A6D4D0F05443175A7F75A1D37D07EE8121F43DF6A07F68040343CF70FDD63DDCE81D4081E6FCB949416ECE7612CE2825517487DBB225B3C4D5660F93C3058B570C461117274425385BA982A0AA1A6A1AC8686FC745BA6B7679EDB9CD69FCB7EFB0342F82665844D192713048A2B78C30393CB0F88257E0389C2B2907BB5888E302317E12974263B1214DA8517E953E49966D05A1A43C771389CD2C22912C69704D4BE74875AD19F26A23C44A0D0AA5329C2993218B270093E2E9344885BE1E3FF0CE29C32603AD671693F3B9F349FEF79F922D699C6099D1F64CA5D6404F33AD33D6C1D4701E0DCD0ED4595B50A636E0B4B802BA26078E1496AB26056D9C15011DB2E81DF6D2F5C7F82757A75BAC9AE7B5F556184D16A869E928D55A68F44648E54A88E52A881455146F45729E5815962120316C09F93289FDBAB0DDF5DB4E3D7F20C3133703D7B40B60CA9F89464B35ECED9D686CB6C3DCD40C334D86B6C60C894A836CB91CFA7A0B5272045551D95212435FCAE7B189AFC136E192AF6F9856A091F711F212A7E3C8166FB4D975B40E1FE0CA75372E5DEB86E3A21397AFB9D1DE7919D696765CBEDA857D27F8EACFBE3948DE0F9E4FC6DBC4D3BB285D76A8AB6639CC674390B6DD1FFBA242D0D3DB8FBBF71FA177E0216ED2EF3CFA0C0532115426351446251ADB6CD89572C832CD7FDA07D4F27A03BC50B2F43B97761194AC9948DAE08D3D9B83EFB1F912ADD268F234B5D921D35742A012426E52A0542F41594D396C576CB41EF5C8293E39363D70FA9A374047D192C04EE9C25392F4A08E94D859F70FEC5DDD9A9C7D4C9C5FC6F5C86B2BC1E4B2C0169E805023064FC587AC4E0E8E8C83A3EC541C397E18814101F1149C3A71E48AAC6524EDC052B2735F6CF2E992C2314E253D5A7D15CA8D32480DB4449A0D50376A20528BC1FA998584D43D884B89C3818CFD08DB11E6F4F1F5D940C11913E0AAE8756479F82AB23B35219B5F598C2CBA2895461FEFE3406621130947F7227A6F34B67D1B83B8837188DC19D13D7BC1ECC3140AA27D1AEDDE13E0BCD079646EE85C12F249C8B2B51BD714C7EDDF79352923E9457266128512101E1F8EC8DD11888A8F1C5DB961A5392038601705025EA5F65F6D02FCEF041DFBFABFE7BF38645148E2BACD6B15AB36AEB4CDF9784EA6DF54BF1574CE6F92FF27CAE61FFE398AAB29EC27B20000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Thuế khác' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000051449444154384F95940B4C535718C74F89585A2948F141755A4A2BA00616071B2AAD6C2028E87C212060042CF270BC0A2202A5A5B54FA40858795428AF5641EA034A0B5A6CA93A868B5B161F4BA65332E6363325D9621007EAB7DB4E9C66AFEC4BBEE49E7BFFFFDFFDFE272707875E159BCD46743A1D4D4F4F23004021EB429093131E8D3F1E47D9B93968747474468A0259EB237D57F8B9BF7CF2503339F90C4D4E4EA2909010343535F55A836C408944820402012A2F2F4716B3057D363C8CFA7AF58846A3BD163A3838CC0A89CF1BA5D07C13665EB2582C2497CBEDDED795929282C462F17F029778FBC76EDA2F7A4E24123D66CCDBB76F473299EC6D604141416C7575358BCFE7FF65422A958A424343912BC91905C766DD08DA92629D81050707DBF542A1F06D607272B25AAFD74F607F0AE2F17868C86241C39F0E2383BE0FCD737747CCE0B5E1FBB20F983ECC90C3AEF4FC3E571717141717679FCC964C2412BD01C4E1D0F215CB931B1B1B41A5528D2B148A40F3E025641DB222A3C14897C92BF63734358F5CBD7107CE9AAE805C51359193937302D3CBB054070B0B0B17636B644B67AFD56BD7720C83965F0A8B0E3D4D4F4B8386C6C6872323D74AEFDE1FB5DC1D7BF0ECEBB11FC1F4E56D90B5E9C02F30A89E48206C737777DFE8EAEACA229148AB3004CECBCBCB1EDB5E64B25B7452C6275F882B2ABF379906E1BB073FC0D8A3C770FDCE7D50F79921FBA81AD6B3390F167A320AF0B367BF8341165328147F0683C15AB97265D8868888282C7AB4542A65DA81AB0202B77C73EFDE0476FEE0D98B17D07BF53A54B49D8592CA461054D783A4A1E9A54826FB895FC6B572B9A543F575753F73F2F2F489BB77576DDBB1431ACC6466D2689E1F91C9E46568AE1B99A1EDD23D7CF4EB04682E0C43B1520BB59AF32FD99C838F2222A3FA6363634C03FDC6C98F376F52B9B890C2F34BB8D6F6AE33CF2377C6777278226B5DABF65B89A2E6263334FC18361B0125EDCB2A3DDAD60B69BCAAA7EF6F8CBE4C65F814D3E95E0908870BB2ED4664D4266B7B4F3FEC64EF37B10B4A6FA87446387DE1325CBC3202BADE7E2852A88059580BCC5C0904866DA0226712C9CF63C9D20C473C7E3306A0624DC21A3F77DE029FA4BC227387D1F2446B30C3F9412B740D0C417D5B17E49657C29A1C39CCCDAC81A5824ED8D13A08874FF64E45A6A42FB5EFE12CE4407299E3ECB8C88382689E34643BC8E1BB5313BD2B4C10506B01A6BC07FC257A28AA6D85800C2EB8F1BA21ACBE0F4A7597A0EE8C118E347540724EE1F89AADB1BE48DDD99A56DCC0BFA9EC52DED20D9C34A9B52D1D5CA1485C2CAD3AD97DED36549C334342851A3E94B483B4B31F8E741940D96382D67346A86CED82F8AC03109391FB9BA39313134F202274F196F954BE4608FCEE6A283BAB80FC7302C86AE083A4560D1AECC8F06A4EC02E4E316CC9E4C0F16E23D49CEA81FC23C7614362EABD450C9F6647BC9380E84C626341311A567D9F5F6869BED8092D03A721B3E91090F9BE1053990A3C790D943568A0CD700994BA3E086767C39E52F1B45F58D457CEF33DAA31ABEDB6790FEB397F5E31D8538B41DBE25F1201B9EA32283B2D87C8E65D10AF4C01E5B12A88CBC88502A114D2CB0EC3C1CAE3E04659DC8859B661FD2ED62E6F816616875487355E62166CED4802DEA014B883228869DE030738D95731CD1ED7F90BAA28544F1D854A3BF56AA23FA2FD53D1BD97F9F9ACF32FF14DFCA077B570E358607B1824683361EFDE54CD1B1EDCBF42FEEEA3CD41707022CE9BBF30C0CBD73B9A40202CF8DF10CCF03B618160380FF72C150000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Tổng hợp' and sysSiteID = @sysSiteIDPRO
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000044349444154384FAD957B6C935518C6BF31182E5E5821315E822E223AB37F241A8CA041CD5C8C57C80C468D7F68BCE105124534214692A92C6481ADF776B383EC4281AD9D1BCBD6D2DD5ADAEE52DB5DDACE5E56BB6EBD8CEDEB6DA52D5DDBC7F37DC9548826C470922739F9CE7B7EEF73CE79CFF90A0050B7B4492412EA9F128BC5944CD6F878A35454CAE7F339CD2D2D6FF7F4F4F0CECAE5070502C13AA1904F8984FC4D3C1E9F6262D7E6363434505C2E97BA0EC60C8A848242836966A26BC8EDB3CFD867E2F13872F91CE22B2BE8EEEE3A75BEA3AB5A3B62B569B5C30A9148741F11CBF857207140FDAABCB077D491826A22079A5E82EB8F79CCB87DA0C334329934B4B655388264A34873B95CB304B68371C68099F9D739E4F17894DBED1E4926AF422A15A3ADAD19B6853C06EDC06F0E1AE9541293760F669C6E446331164AD3745AA7D375AB55AA63DF7D7BE46FA05028A4E47279653E9F472295834263C3942300F97905E417C7118A66C9E46578E7E6303535893E551F428B21A4D329163C3EE9CCEC7BEB834FFF72C8B8B3DBED03CCA0D31380523D0193C58AFABA93A8238AC5A2585EA609641166BB1F75F57C386617E0F28589DB38641D3AEC79F5C84516C8B86B6D6DDDBDBABA4A70790C0FF643F68B046A552F785C2E068786904CA591485C453C1E8571621EFAE930C6EC342C5E90EF09540BFBF050D94BD52C9071373D3DDDC5B85B0A27D0AA1C867EDC068DCE0CB1F434C2913056082C994A2142FA1DED17A01BB542266B82C16080C7E7C797C73A70FB1DF7BFC6029B9B9B776432995C369B4587428953F53CE8F57A881B9AA0E81D45249E402C1E63F7CBEA0A80CB17A35FA382542241C03F8F819129ECFF4818A2A88207A8AAAA2AEAD225F519C65D8C9C9CD96C86D56A83C7E34167A71226D318B2B91C92C914C2E130CEB577A157EB80A67F08674E37219B5D4593E2329EA93CD4476E5C21B5BEA8F85EBDC5115D26C1FE4090D45B047434862B74044BE41018D7914804C16008569B0D0D0D12B4334B36CDA2DFE864636AA403287DF8B9EFD92BFCE2DE2F6A267C59782351CC330AC7E0BD12C5EC62040BF40A5B12E1D80A3C0B2192240CA7CB05A3D188DADA13B0D9AC707A17F0557567BEB8F8EE0A16B8FDD1D7BF7965AF7CF1EBA326085B7CE8D12F63D21B859F409C7E3F6A050218AC6E220FB416079C7341F8FD01582C165CBB9686DA3089773E11F808EA9EB547661DE994AF2F2CD95FC279EAC4B6470E0CEC7A41127AEF332D0EFF388A275F3E8436B509535E027191658E4D92B2F91DB37301CC2D04D1A434E2D98ACF3B09A3E0C6578B0117116D2623E5451B36BDC9E1ECAC292B3FA879FA7961F0DD8FFBF1C349522A0A27CEF699D1D63304D56503B8CD063C58BAEBF0CD3C814C820D442524C1631B8BEEDAC7E13CF1D3B6ED1FAAF7540803EF1FD0E038CF8EA33F8FE0B68D25BB6F0678630CB3243601515951D19D6F6CD9B2F3F8D6AD958D0505D4E6FF03FCAF04C56CFDAD35E617702BF5274A5287D5BD79A8FF0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


Update sysMenu 
set MenuOrder = 11
where MenuName = N'Bảng kê chi phí theo khoản mục'
      and sysSiteID = @sysSiteIDPRO
END

------------------------------------STD------------------------------------------
SELECT @sysSiteIDSTD = sysSiteID
FROM   sysSite
WHERE  SiteCode = 'STD'


IF Isnull(@sysSiteIDSTD, '') <> ''
BEGIN


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Bán Hàng' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004FF49444154384F95546B4C936714FE0085888B6E2E5B06CBA29BFBB3112F8918DD74591C916C9282C84D5098288C3BA5F71B6DA1978F7EB4B4B4A5F4F2F5426F504B5B7BA50574E8E64477D33835EA620CBB65CE6533EA4CE688672F244BA6C31F7B93F7C777CE7B9EF33CE79CEFA445A351EC69273D3D1D03C072CF9CFBDCBE66F5AAD4DA75EBEECFCFCF3F5AF5CC4AFB23E458F22C002E75E3F118E61F0F6CE1F085374ACB2BE7E57DC4ECA0567743A51E9C8DC662D94F8B5B126CE1712A95C2A47D84175710EE4E1AFD279DC178331E8B3DABD30F8D399CAEFA4422B164EC92C6582C8A85239157D9FCEECF7045BF592812DBF586E193C8F6BCCFE72B502855C7FF17E0C4C404366CB6B0657D8A51068B7DC2ED72E56B06B551B7C75B9C4A253105A19CF178470BE2F1F87F082DC930954CA6758B25D3A866F2B68ECEE9A9A9294C3F6450E90DC6BEC9C949CC3132D2A4500E8C2651E2276BF99801654C8BC5E3AFB9BD632D48EE79243724C7FB54D3D3C73197DB5D2DC51513530810B1CC96C8F14F50D3DE58004D20A6FFB05D048CC5621802DA6C73384FEB86866F32B882BB4C0EEF3A9B2FBC2F2794732A8DF6324EA8BE6D6C69BFA3D10D250C268B55D82BBB2691131187D37D60C4E9A678477DF9082B73112C742C4C45727E27AD3616CA94C7E2775F0D064395468BEDAB4020B83B1289BC1E0A85B6B038BC6F4C668BC2E9743520B6B31C81F0AA5AA30D22259F8A24B29B1A9DC18D058F854D4633792B10087C108D27D84A8D76AE9D4AFBCEEE18398D13CAFB88F14544E8A4D5E18CD0599C5B0A95DAEFF2789B0C2672C664B5DBC703C10D682E5F4163E541754D62A85BA621A3F9379DC134A7379A81CAE400020A1F0B470ECB70C5753473C26030588218560CA8355626877FCDE9724B7902D18FC83FABD1EA4FB1053D0F3E6AEB0234052558241AAD3091B687A4D5DAE90F0448855A07A876F7186CEEEDBAC38D7F35B575DE637205DF77F748BF10887B2FA1EF393369EB124B6457CCA49589645ABAC5D207A8A67FA2C61561E3E38183260BF90B92F4B5D9E6F88318D080D931924C1C9F6EE60A8597541A8DC9E7F7379849926D3499B412BCFF76AF5436535E5175B78BC1BCDCDA49BBDBC5E2418F14FF722291C858684AD6D851FF39F5A0766ACC779485001FF0DA18206BA401BFB113B854D61D015F745DD6D73FD3AFD5C77A09E50FC61127D1D245BB3632E6EBC255EA8B529CF815C59D473F44E6C2D8E45A6D8E9F1D1E4F123DB822E18A61B8890B17B83A38DB2E871387D810AFEE80D1BDF53044A9017A590DF4522A805E5C06D48A6AA037B73F62F2C530A8D3B35C4E27B6B80442D168AF9E18848FA9FDE0ADE702B3B416FC0C19D86962B0337AC04E1781872604B2890EACD2FD10AE6D8150791D782B6A415E7B0478479A61FB5B6F1FCEC8C8C0309BCD86594872204818E08CD2093E0E014CCA01B82832C2592A0EA71AF83079900AE1AA665017ED870F77EC025DD521C02B6B414629037969153415511EBEB866CDF6C5FDB86CF9722C373767ADA2A4ECAAADB8122C7BAB41B3A70C6CF56D403652816C6582AD83071EAA00889A0668DDF53E44EB5AC1575A0396AA3A6016EF839D797943082AFDB1859BB5327BF5CBB9395B36AE7F6DEFEE4D9B6895F95BF5CD3B76C638EFBE77A1A7A0F0165EB8E7A1BCB00824BBF780B4A41C44947DC02E2884B2AD5B4F2CCBCA7AEEA96BFF49475A666666F6EA552FE5E4E46C7E73FD7ACA3B1B377414E7E70FEEDFB66D6C475E1E376BC58A17FE1DF3376B0329E7FDA0277C0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


--SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Chi phí giá thành' and sysSiteID = @sysSiteIDSTD
--Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000048849444154384F95945B50534718C7978B04A4160BA20C420C040D172F18222DD42068A9157100AB52EBA55A2E0A0D291010A6A9D6723122860002723F907324181405944088A081041D6BA74E75A6B5D3874EA7F6C1B1171F5A1CABFF6ED0B1C0434BCFCCFFE19CD9FD9DDFB7DFEEDA8D0EB4113B3B3B32FDB123F68E4EE4D93342F0E451B4ABFDFD1313CFDC3576CE8B744F9F3CA6433139DCC1C19E3CFCE577B26DAF824C4CD8BED3C7061C1B6C9F122D193534AD3030B99C8953687FBCD3F0E0EEF94DE82909842637F6F6E800B370CCA89D1C3F6E62C9257D0D7176E6FDE333136819E2C84047E96E53CB56FCF1408F1B170EE04BDD66D41D5880F214E1430A72FF5FC0495B23C73B5FB9CB6CAADF84D6DC00B4E4F8A326DD1B46B6506935E95E56332B431BD03274868C0F778AF545D2BF9AE50168922F435759E2BDF19173CE5397675640EB151D19ED6F8AD59744FFD4774C82FE135168922D856AAF0F4C5C36737DB873DED8E02CD7D04ACD8CFA1372263F04E78F06E3FBF122DCBD9C869A14772813E7E1E836575CD4247C6735B6F16DD0FF3634723EA7B2964FDCEE4B0560C1AFBF99F1F84F332CCC669CC9E7E3F81E4F9426BBE25AD7914396A18E7F075A8C2C31759F92F6566EC60FDFB2484A90C2D3D30D1B63D7E0A6A908FDAA5560B2F928DEF12AFA6ADE3759AF9C25D621960C76D713179729DBC66C60E85E6468235872992B491BD3EE40E9A7C9F0786D2E9213249086FB4196F2166EB04960154B50462DB5CAF04763743FDEBAAA231A55FEF43371F57233B165749075644BDFFD62A03A16066D3A36462D434C84109AC35B307E2E0316F63D7079FED0A478A33ADD07965EF50EAE5145E6BD32773A70B8B7918C5C6A2186CEF2E4FA2C21BA3E5F03757E0C58553CB27686226EAD006539525C6D888756214475DA629CFC6011B8B29D67F84BF8338E2C7D355D3C4D86FB5A88BE3AB399C90BC20D7D2A0A768740B63D102507C5C8D81A887299183DC722D0962D4455AA0F2A3EA4D083CB7F76717171A788E917C1486F3D311BDA085BBAFD7A4B8E085F190EC1CCEE475DE13A14A7AE42A56C253A0F4BC015AC408BDC56B22FD4FB7DD1ABDE849000AF0C0A0CA1B1A93EEF8C68A98048C2563A57CADFB8DF53118F81DAAD1861F6A0E7E43BE8508643A70C03571886D66C11EA330550EFF3458D2C18B72EC8112DF6ADA188049A389A852F6D8502EF885A79289882D771B3AF10DA0209DAF343D196178AD69CE5689607A2F1235BB97CBA7E7C74AB1360A84A44C12EF1D73C1E6F1F056DA0993F69E8E6E6B6B0F250FC373A6AC150C0F8853CDCB9761C5D25EB278F5C7D861F1A32FC519BEE87AA3421B49F44A2BB2C0E8DD4B23D5F82D541BEC728C69FC6FEC525E93067B19747546CA4E8B432457AAFFDC8DB4FFBD45B70A92A09678BD7D39FAC46635630EA3283D094BD0AAD0A31B515A1815614B1925F47216FDABC66B6DBD6296FDAB0759E1EF333E3D68A3A3FDB2FB97FFA6309180535CF5D4D43CBA769CE1143952E79280EF629A573C29ECF7B6137836A53B6AD838026D8C171CE3A6FAF05FB4283F8CA2889B03C263CA02232D4AF68A9C02BD5C98927A16316D1B8BE6CC40BD8DF2E2B987D88408B310000000049454E44AE426082
--Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Công nợ phải thu' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000058249444154384F4D54094C9447147EBAD516AD9512AD60B5A8D8C6A489466D8D47AD362A95DAB052AFA2A55C7BFCC802222082B8B0B00BCB25F7CD02BB2C8B5CBB2CE78A4039AD3757A8551BD400B63568AB564D5AE0EB2C52ED245FBE3799C997F7BD37F36670915EF4FF058026262788379347E0F168FEA3315A303A4C936C6F5EE6733366CC9831059A18A791D98B697C9EF5D2F9F3E61E23B3E07F10868B482CE32C8A6AD57501F101AB3C23390A3E7680940737916CDF46521CDA323BD175C792640FFBE5F12E5F2C901FDC3C33CD63979D2659911415AD7C2297CBF14A4C201552644E94EBD9A6B2016D8316EA3ACDCF92587FEB80A37C8A77FE6C81294E923E549D7267AC45F5E28F36F5DF63AD858FEF18536F3EEB2A7E71AFB70B875D5CE1E4E4F452906565C69CEAB6EA1163BB11D76FF74067D221DBA0EA0F3EF1DDD28BE90115FF5CD2E1E1B94CFCD9518CE7BDF57876B51A7F5DD0E159BB0AB72F9E87ED8A95B0B2B27A29E8C9B253E4C71CD3FF6040797305EABBEB31786F105A532934E599634386C4C9EE646FDC3765E1F92F97F1B8EF3C1E76EAF0A0310D0F8C71186CA9C032BB8F606969F92AC377F20DAA5F5BAFB68265893C7D3EBAFBBBD176BD0D05B51A346A14E8C9F0C36F3509186B2DC0706D32EE96CB7139DDAF379B73D8161D76C27FFF21E7A75B366F1E2141F854ED4EE95BF5E8EAEFC2C0503F2E0C5C4060621038B9041D260D46CE17E246B60FDA527D511572001759B626B9A731F2C0A659B26F3F2791871B89C4E2451CC7CD216F85C49235E069AE3E0F66CBED3D1DE861350C490945822609A67325682E4B4646C271E494E7215F9B065371DC447CA8EB1E51B00B794B05C4F9084924109148242212C9B859CA82587F435BF58BA23AF5540DCDD66B3A6A90A44D4671036B4E950A12E571E85B8D68B9DA8EA2FA52E419D54F128B53EABC14121BB1B9B1811C89BC38224E6E6E8A80021202576BEA34CD654DE5A86CAD426D671DCC714E652ED819DC4EB9A3D05884B66B1D0C5DD032D1ECF2DC17BE317E7662F65E8F2A7DC8C3650F91D85F4C9CD48B849162F2881053444ED4215D53D94F0535455055ABA06BD4B1461951DB5107637B2D14B9D12869388BC2EA22569653FB85AC0722B9379D3CE5467E0EEB99E569EF5EFE42F20F75256F561749882B45A44B8FE41A0BAF97B554B1E77316CDD7DAD1D17781D9AE46BEA110CA82B81C81F96731316FC667840EE4FBD5A7440281803C3C05247177A1B823DB4879783B657B7DBD25D3EF9B6D49275D1CF2D2C2B21A1A4B9E1AF4B968EB6E4445B31EE925E97D9270D19CA3ECFD1E6562919C23A5BAED249F3D1B88643259C3E9F088D2605F6E4FAE84BFAB33D9B769D4108B3153069E7468F1B0553DFEEC9261E2716729069B8A51CEBEA52E4652AC38B29D62DDED29CE6D17257CBF83D8FF7E29181D1D8D28B902153A0DEED7A7E151630A86AB62305A9388A14A252E6706E07CB43BEA64AE688EF1C48F2A295A624537A20F3337CC513C138B77DDF95A70DFBE7D7074E423272B03770D8978644AC5A85E895B9A50742771B855998001B514EDF122749FE1D0192FC4D940A74B2962C78F75A73D5D923C77DB2432BB9922073ACEDF44646B6B0B1B9BC5080B0D41AF2A04F74AA518298F64904DC5A3550AFC7E2E0B7D792770252B00BD8C07D5D2E743154A0C14858DAB7CF8BBA507B792D87E1D39AC5B49646161C1E6280F111111C8F13F949F26FCB2581F76E4E695546FDC510761B8E42446B4C1B8AB09C2ED82000CE6F9A332F4E068107FC369FE27768BD6ADB0268BD9B35ECFE8E5CB9661F59A35938E7BF746CC7B7B2EF1D8147EF30DDE3CDB85F337F337AE3A7D8CBFB1C4D37E6DCE976B5784ACB7B376FBD0E65DC7B766F1964C2B98956633BC1CE7E6E5ECEC9CB075EBD6D5D3DB458CCD97DF67788FC1721AF3A7D98AF182E9F30F182F9D8E17329E4AF35F37712928D3E654690000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Công nợ phải trả' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004A949444154384FAD547B4CD357143E5374D389D99618972DD3CDC42D9B6682BAE9744EB7C18CCE4D9C5B448D71D017A51554980A8E0A7DD055280C18F2145ADAD2F26ACBA385F2905A6060E52199F898993159C81E98618C512789DFEE6DC0E9E6FEDB49BEDCD39E73BEF3B8E7779F0040FFABC8E5F20D51423125EED94ABAC835A4DDB9EEB1D0ED584B47A59F92582DA318A59444C7C4244E9504F487415AAD16A92A8D5323DBBD54B96D25A56D5FF50FAC260D23E3845F4BB69084110A14424A2B504626E71EFD203A45F028A1542AC5717D167EEB6FBED35B70C450AF121FEA2D4C360F19952D674A521A5CE931BA3CD1A677D42C51AA602309535937FAAF9638BCCEBB6697F942524E7204AB70E65495B47CF90A440944B87DB907137E1B2606EA3031E8C4BD013BEEF656E2CF3336DCF01AD09826D024ED7A8FF669E3E79B5CE6CBC6A60A54B7D5E0F4D06928F2155B840A51A0529A3E3D08EF8785E3F6854E8CB97331EE35E2A6DF8E5BC31E8CF7D662B43E13E36D05186BCABD9773746F5881BDF474715D09867F1A46DF481FECA7EC30BB2D1D0F08E7CE9D8B88ED5F60ACBB0AA3F674FCEACAC1759F0537CE7970FBEA00AE7755A25327C225732A3ADCE5C8AB2EC0E095A1005985CB849AF61A383A1DF70F671F592362E3A0909010C80E24DE493F28DE6C8CFBE4F391F2A4F19FEBB4F8A5391F7FF84CF8DD9D837305FBD155A142AE351FBEE16EF45FEA474B9F0759A66C740D777142649BBFADE19745229168A5502C7955FEE52E526F7B8B3276BEBBC89B29BBDA931583D6639118C893E39AF13046CC4A9CF7D5415DA442AC5A0E6B8B15FE8B7E9CBF761E6DFE7654B556DDDBAF3BB0842412098945129249A32831319212A33752C5A1C81D67CB14F74FA4C74395910093260AC3D57A8C745AA12FD7215A2144A9E324AE8CFE888EB31D68EA76A1D85E8C6C53B691C46CA925711292A4C592481D4BF1C713DED617690C655585F70DAE4A989A6D48C83A82EC522DEA3BEA606BAD86AA58CDAA6A6337EC4383AF01258E92C02C4F3ACB3C244D8E0D5CB7384D4287B20E6F353559D8B02B51D36647DF0F7E34FA5C90AA648C4483B2FA72641AF58160BE2EB52C81A1C908A7D789127BA991F1CCA1189594E28EC707CE8319894B732BBFBB696BA9816FA807CDDFB7C2E6A9663393813923C792C36655CDE71520B17A6CFC42C634259A28418A9075194314FC4C30ADD8B092A292A229365D46CA4295BCCC6960BB6505FBBC50DB6E67C41EB8BADD8CA43E30BBA2BAE2C0521B1A0D96039907174835B1B4EF9B38DAA78BFBFB9D99357B16AD0A5F4DC214D1B413B585DE938E7258186967BF97ADC960A03D73B3050D5D0D30BA8D3D29F98A0F7725ECA64D7B3653E8BA505AB078012D7C6DE1BF1FAEE0678369EBDE88D74B1D65B75A58CBEDFE5330B9CDA8E7444EE339418270C7B2B5CB68DE8BF368E69333FFF3E59BC62C33189E62789A61DA67BBB7AB2DAD56583C566414EB2FAEFF68BD3C6846D073CC16C43067D28FFBF3381EFF4066336D11C31B0C6F3284F09305AF3E9691DA1FF671B892FD5EC6B078D2B69C9DA1537E93713C9EF30464FA64469E7D3EC30B0C2F3D84E799CE87F30AC3CB933AB7733FEECFE378C59CE7B1C2CBE746DE1A17DED2C3E0FF73FB236D4E31FD05C4F7A97ED680B5650000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Mua hàng' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD92000004F149444154384F95946B4C935718C75FE8669C419D53A39B319B895B8CC962B60F9BD37D98D9325D24735E5274C4C174881087D3391537D14D2E825051A48840E98D5EA072E9FD465BEC855628A594420B525DCB407417E9164D26E5BFC30B5EF8B893FCDF37E73D39BFF37FDEE7394F9C4DC7A3A6465C5C3C15CF6050988C6D9ABF6021737232F6FBC4E389DF62B18991582C363A3939791FC05FA0E2A2711485E94DF493CCA6A7F498025AB5BC796665CD5A19272F437AF564DFD8901E23033A84FBD4FF0EF528EE07BB9A02BDAE06ABC72A967698852C672BFF88C3C0DB65D3713792FDAB6D3AFE9C290E6D8E3C16F539F901B7A1042ADE31E844A71072D722E0AC82CF5A018FA90C37752CD81485B034E6C220C9815A900D25EF388C0D7930D6FF8C36F925AE4D2F780A5C7937247F181DB5612C28C588AF06C33DB58878897C7CA23A847B44B8E39560D02D429F53802E4B2D6EA82AA1A9CB864E7010375A0A4C36DD0CD0AEE7AD180E4AA20F468C78F82084DB3E05BA5A4B10E9BE865F3D33EAAAC4EDCE0A84BBABC841D5B8372041676B05B8E7B741C74FC70D79A1D6A6173E75B822EC174547833CFC193161341C407FA782B8E421D4518E3B9D6CDCEAE4402D3E8F416719EEB82BE808AC2DF9E015EE20C083B0CA8BD4B380435D9C68D84BDC1057C343ED08072CB8176AC5ED2E0E06EC17D0EF12C02ECF47C0568C01C745E2968DB6C673CF808A22E52C60A0BD3C7ACB558AA0BD18219F0AC10E19429E7A44FCD731D85E865E3B071D9A3CF8CDF9E8B31460D0C182A921E739E005F9F3C0D77C9692A8DF92079F2917FE760106BB25E8BFC947D0C186B7ED0ABC76213CDA33F01ACED2EAB3E4C3203E09EE4CC8366571D32CA05B971BF568B2E1561E2765C246AFA31AB77A84B0CB7E80DFDD401270995E73AB4ED2F2EA73A0E51F254921FF9064D9AE2CBE3E0BE86C3935EE6A3A0C57D37770367F0F878A055F473D4C2D17D14DCAC422CAC0CDE6A370361DA1D549E04ACEB704B81D7A61061C6A966C16D0263B366E93A6C3DE908936511A14D75261693E8BA17E29FCCE4B300BF6C326CD84955606DA1BB3D07CF500ED50C5F9861478AECC6512531E5B3D7D535EB548B2C6CD8254B231155AEE01F493ECBA8C17301A51C2203A8C566E0ACCC2FDD312EC83559C86EB65A9E0E47F0169E96EB43515C8E4D2722A99B995A2DA8DC2E5AD8283E3869ADD30D4244155BD0FC1EE3A440695F87BDC835E720555EC9D64ED4BA264FA6DE67F05296B0F2ACF2642CD4903F752966CF1E245D3CDA15954BA4CC7F9FA81BA82547D55128CA450FF18332136D14D9A8B0F2E2DB9AFDCFDF49AA6722774D549C4650AC4C54C141EDA08635D26CE9D60AA096A3E11835ABA64D172399BF9C850B51D9AAB3BD058F2096906BFE0F1E320C686D5A82FFA14CA2B8904940C236F2F093B85643F1DD28B7B7026F51D54E76C46DE09A693C0D6112DA018F18C84CCE40F249CDCCF220DACC4471AE254539E08032719DAEA3D50966D81E2F21634976E86B27C1BDAC8FFF39A4EA3919D8282F4F770E6C0877737AD5F534460AF13BD38153583E8152A8EB1F6E585091FBDB96A59F2A6F5AB7FDABB6D5DED8FE91B2CE5A7370F498A13FF511198BEF273182A13E1511D82499C851D1FBF2D9B3B77EEFB64FF9227B0679D96A2E2C9E405A23944F38816122D279FDF4A4898B7F18D954B991BDE5D752C69EBBA8AECB40D86D45DEB05A465AFA1C3FC9F63AAD13F39E8A5998396CDB89A9ACF1AFF01BD3CB1EE794991780000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Quản lý kho' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000050449444154384F8D956B4C935718C7DFE2344E07513F3837933927EEC3DC07932D739764F7C52D32349BE2D421A2080E8B145A4B5B2960DB975B4B29BDBF6DDF9642E9854B296D29B5F4425B4AB98A3A2F31F3AB894BB67DD82D6671FEF7D6C425D3B9EC49CE393997FFEF9CE75C9EC39A49C58827595E1E8B58919747DCBBF7E7B3BFDCBDB79775FF8FE5FCB56B17582C460110F7091653E09FF21CF0D134379D2016B34962763ABE7122142CB3BB4742D448E4EEE0A8CF75692EB9393D15DD160C856AD28948FEA3DAC76099A9495628E8FF92A2ED9EF35D869F445D6690E62150A119F44766E018F1FFDA651BBE6BF04F632C18502CCFA55F98CB4C119964F401EB4196AB64D3716271662A3F3993ED608B3B71B4A611BC363D240627E4761FBA078268A78721A53C50B94270A4AEA22F9C81D7D3FFFB6438B0746569469B4D4DBEC78012054B7399E2642C6C1B1BF1DC4E7EF73D94AE71548A48346BED70C61620EF1D056972436672A1DD3A02BD2F85E1EC0D64AEDEC2B70B49C4FC03880E51980ABAC688C484533D1F7721151945662A82E94BD73130114775733B1C8C8BCB777E83841AC059A5092D941B16DF2492B30BB8BC904236EC417040078F410AB7468CD898C34DC402BDB4D7C243C2A746745089E5A417F3A910163331DCBC791DF3576FC030E487CE358254661AF3C9714CB88D7068A530770AE0D4CB18208961A314935EFB10919EF4D87CD6068406488C5A440839DA1076CA91F6D3B818F7E2DA6C84712B959B1D4E431B34322EBA9BD830CB45A01522F4A9C4701B64B0EB5B11BFE06713E9E8B032EC3A8F804D00BFAD1163B4988176C24FCB30E150629492404FD6E3DCE9C320CF564075BE0EAA96334C1B1754A71066B50C0A653BF61FFA0AB1887F2F73CAF1B7CC560B069D7A78ED247C742302D666F84C628CF7C931666604A22A34D67C0D29B71C72D1292819A85C2A8095EE81D349A1EC78192A2A4A914E84F711F333C95D4DB2361C3C76026D1DAD181EEE83DBAE82972611B4CA10B44821179C4443D54188392720E09DC1190E1BDDEA0E28BB49F0B8D5D0AA49F4DB944844C78B89D94CF2CDE56BD7C11588C0E3B1D1A355A0B35B01A34507A34E01FF8006A4F034440DB58C6B1D28AFAE45D1BE7D50693A60A494F0B82D306848B4302B4F4402C5B94BFD46369B80805F0A3E3F276A63A04A680D5D2829AB845CAB016564F672B41702611D8AF61683C365C631AB5374C9D02CE1A349588DC1CAA3B0969747898574FCA30B7E0B4A0F3C8F5A5E0DE4CA5666F62E78038310367251C7AD814ED38EE3C74B517AAC1CF57C3ECE8985E0F2EBC169A8430F978DF103FBD1BAEBEDF917376CF89430545592D387BFC0D9CFB6A0B79504EDB0A1C7A483D3D1029F5787C5D920F48C7B2D922608CE09D1D0C005875F07615D2DFA8E1C01F5EEFB3F7CF0D2361EB1F2A9A71F849D552B57AE2BD95ED894542871AB5D813B7215AE05C6E1A04FC1DB2F4626C13C352D036C16422A6B44738B083D272B60FEF06394ED78D5555050B0FDB1F0B7657B21E170390E0CBA9D573C32124BB5024438BBE11F6A4522DC0F4DB7044D1211B48D7C504545A8DFB9F372E1739B8A9870F8EFF6320354AB14046DD2AFB2D154B5B647758B2EF9FCC7CBFC4A5C7469615191501D2A81F8B5D77F7E67EBD6E615AB573FF3C4A89CEBC801756A2541E9D584D56C2038B5ECD56BF2F33716ED7C853756B9FFB669CF27D8535838BA7EFDBA1DFF097AD8F910683268089BC5487C5375F26FDD9AB56B366FDDBC6937C17C05FFC7FE02AA1B66C4CB83CC780000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Quản lý tiền' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000052449444154384F7D940B4C535718C76F0137716E039DBA87D16D2A43A54C82D38429041507134445608A61C81487A32230B00245A0E5D5F210B040EBA050A0B4A5A5C542290CA8B5AD2028CF5A54E67C41B26C66C9966C3A63FCEF14E62B5B76937FEE3927DFF9DDFFF79DEF5C9A54DB49D91E00D493274F66C6341ACD8E6667B7D4C1DEC175CE9C39EB1C1D1DDD1D1CECE73D7AF468FAF1E3C7B7896ED9DE247E8AECFBD9B667AEA32365ECEDA1281B50D2AEA35A7B0D9B2F5C19669A87C79B4DC39609E3B0E58171C402E388151746AE1259611A9B8069FC1A2E5AAEC3386A45F7C0F0EFAA1E83B1A95DB744ADBF4025B14E5114995072DDF7AEE7C7AC0F3BFB2FA3AB7F107DE3564CDC9DC69D5F7EC5AD9FEEC3F2E35DE8074721EB34A0B1AD1BD50A0D043235AA551AD429D590B6EB7C6DC0C434164549DA3AA80E535FE1D0F51FA0BF7419CDBA6E70F8021C399981D0B878C4667150D424C7D0E42D88A44AA4F3CA1093CE06B7410AA95E8F7A752B64ED3A9F67409B4332E1755E1C8048A684F5CE34F8A206EC3E7008749FADA0162E04B56205812A502B95835D5A81181607E54A15D4663324E73490695F00DA6AA835F5B14D23E36820F6076FDC447A1E0F5E7E81F0DC16006AF972D8D3E9289234A3A6518A9CB20A1CC9C841B9420595C984461BF045874269F38E5251FD00491B4D6A0D866EDE4616EF348E269D7C09C86B9041286E445671390EA765A384B895F7EA514B9C921A3E4F59DAD6212DAE14824BEA9647D2D15F194126016E0F0E7B192896825F5D8BB4826244334F21BFB601626D07844D3234B5753C0776F50D88549DDDA8932B515953478AAC01935300DFC0106CF40F02F5CE7BA056AE06AF5E8E32610D92D9F9884C4A45B6E03B08142D28178921D1689F03CF0F8D3698472D10CB14989A9E466B471752B2F2101C118D4D3BF7627DC026EC8FF541A5AC09857C21E259D9D87F2C19A9A7CFA0445C0F2EC9CE066CD51B67DB4667EE670F5E9BFC43DCAC42A7C180F4FC22E2908B88AF1310181181310303F7CE0742A6AE07BB848F23C9A9088B3D8E4472709C8A2A649794918369F7396730532732B3671A9BD6D2D55B56A73C8794DC4212C047765139A2E3D3C02DCDC3CD9ECDA8497142B544426A5B8A284612F61C3A8AD8F42C300B0AC1CC2900E994999477857F317B5388DD7CDB352B1654A3F7F23078021118E95C08841968C95D86F4D0B910354990463E187EF81B04451E4654E209C4A56522E114E94991D8DBDDC373E63F606B6AAADDD4CF350C8DCEF4E1A58949544914482DA8C059210B2587E6C36FC39B644D86E4CC5C041FF80AFEE191088B894324231147992CAC71FF78CB2C8D3C9F0505535C7E65D1C5ABD7D1D8A246BFF506CECADBC02E6F44053F03DFFAD3B078ED32148A15609C6061FB9E7DD8B22B1C3B220E6277540CBE8C4FC687AB5CA209EA6D22A719E8A2C54BDC98D99C9EBA160DCCE316F41814504A59C8CC4DC1728F75A056BBA394F46134A99F4F5028B6ED8DC04E92764854CC6F9F87841B9C9C170412CC06A2354F8DD2C8E08DF55EDE512A65F1E45F533C4CB4D2A1ADDA889EB67894F11910A9BAB12FE618FC76874D79FB05A85DDDE8C94ECECE7E64DF6AA29544EF12BDF62CF5A7036FCFD7FD27B5740812168113F5168CA2B5F7E3439D345BB7FB72DCDC5C125E9D3BEF1312BB8A68A92DB97F20F6FF02D9163C5DE653BDE56EDB46956B1E720F3AC1CB8556E840A39C0F846C88BF3751F4E715B9EB035F0F7B06097D85C8EE3F212F2E1E0C58428D567B50F2AC0F561EDFEBE8EE459FDD5492F0117D4CF9E999D2B805556BDFB75BF77FA0BF015CB24659EA98C85C0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

--SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Tài sản cố định' and sysSiteID = @sysSiteIDSTD
--Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1200000B1201D2DD7EFC000004EF49444154384F7D947B4CD35714C72F4FD166239B0F36FD63CBB2F9C79C996E892F10D8742122CE19441C2AC8C352CABB2050504AF9B53C5B2A6D690BA5A56F4AA1D69647C1D66766988B6E71FB6726C6C56D59B22532E76366B1ED77B7E8A633CC9B9CE477CF3DF77BCEF99C9B5F84F1D4340108898D89668542C16D41104FD8110C85C8CBAC25A977EFDF5F111BBBC8110804496C6C747C3010D8041231031A13191949FE78F0904CFA66C883FBF7E6F7C440050D2E6FC2F7376FB975766788C748053449F4D485D97D7377EECCD58925819613FDB966CFE995D77FB835AD1CB23EE27729CA2CE33E427D4439EC263B0AB82479DF2192BA3FEFB1A06DFC7446AFC18EC2BA16ECCE2FFDCD36E14FB0B8267F1FF19E45567135F61496FF62714FB3657A1B72AB9BB0BF8477C336E9279605055D5E32EA3DD3A1308ECC0BEE3A5C724F6D1DCB51991D3F16D4B722FD10077BD995BFDA3DD3A3E198221A4313CC29CDA31BC2552A6DCF5538E89C220376D7358FEF02440A2D3E2B288350A67EE4BF74F9114D044EA3888A16A3969160F2DC2534F7A8C2823826D394EB4E7A498FC9F9DF96153443BBC634DBA11EA297BA71A8BC0E9411B4C32E8C4CF8C06D64F039B716F9B50248072DE0093B71A0AC16F5DDAA82DEF05DDD08497F966187DEF1AA44377C8382474D6B170E707928177480E9D34346054AF8421CAE6A402EEF38444A1D8E8ABA91CDAE40215F2465061D44A0B692F4C2D2A743A11952AD6E2F064727A0303928AF2A34CB3410A986C0C807C06910E260690D8A8E0A609B3C03D9D0301D5415D80DCC777CA539A24E6EA4153E23D8A2B16DB5B9A73145F9989C1368EC924349E137F6F4A3CF3C0A1115DD93CF45465E09AC34CE726A6A1E0DB7B9E3EB0A893E82D3A622DB0F169194ECDCC7CFE6A8DC9C24D15AD0D96F8479CC131E08662ECEE2ECEC15F866BF81A0573B5F5D45733BC47D3A589DE328A518F26A0557D99D836447510549CCCC79DAF25E4E4D52A7D60AB14A0FADC5017E9B14329D15BDB4B55333E760754DA04E2C457ECD718439EB6D6328AA6EA068AABFDDFC6976DCB69CFC77324BAA76EC66976FA2DF31844EF5AAC430068602D718ADA867BAD0A931A24D6D80DA320AD3A81BDC861664737868EC56A2A77F0879950DF43931C156F9C0CF6333E703FE8B977062C0848C82522761BDB22C3D31236B92DFAB0B29AC2E0ABB35D0AA180C314A3DE44336E8AC0ED408C468E890A193A291191C307AFCF0F82FC27ED2839AF63EAC2BEF46026F0019F5ED5F917F56FCB2848FDEDB9A66E31E6BBF2B333AE8C3ED87A4DF80CE3E2DB2182DC4EE2F2175F8A071CEA059A2406A99084B8BA5582974609FD107F9C43934C934D7FF157CF2B1E8DD8DC9FA42BEF8A1483B323F6D89468F8F553EA468CEE32D91071BE47E5449D448EAA36C474E433FE1470FE5CD3926FA73F5BA0F85CF0BCEEF6316B3D6BC9F9CA6286F53DEF65CB88C2FAE5CA3E2766455D6A358DC0BE3D479D03F1424B493C3B5CDB7D7A76CBFB976C3166FF8EA828261E7D21509F1B9752D3FE5B54821ECB782A1FCB8ED321CE48BC0E8EDD879A472EECDB51F3849641487866FA616BFA058FCF204B2664B0A49CCCECDFCE44825F65635A1556382697C064D2A0376B2ABFE7A63ED7A27BD5C422D91DAB2FFAD2A7C101B1747E296B04874DCE2D723582F95B1962EB7AE7A7BF5B58DDBD3E676E5E40593D332AED0B0246AAFBD50E8058751F46C5564545462544C4CF693F6C2BE05D7DF47E2ED8E95D9D7D10000000049454E44AE426082
--Where sysMenuId = @sysMenuParentID


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Thuế GTGT' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1200000B1201D2DD7EFC000004D849444154384F85D37D4CD3471807F003012559B219610A1A15B768C2D4E936A3464D4CE6CB78531013978944312C5303F882335B80D24275022A30E90B7D8116688B2D6DE90BD052A0D242411CABDAA9501505057C63388BCC29FBEEF00F9C93B84B2EF95DEE779FE7EE9EE7BC0090E2DCED44371249BCBDC6081DFB877F115AE2EBE34306879EDC78FC74E4F6B067B4D733FA67FFE85F2FEFBF1C1B1BFE1B78418817F1F39D42A6787B136F1F5F32DC7F9B341565907180F073624904A38444650AC9964CD18C2667F7EF0ED75538DD3DF8ED661FAEDF1984AB67101D5D773D0DCE9B3DAA1697836B74E812F315BB23328A4974B684ACDFCF7C65BD05C6B04A0214D6F6E1E82C26E20BF25160B522C7604081B1060293198A462B0C7607FA061F816768516CFC91FB6E702B531C68745C7A22ADA9035767848802A729765CAF4786560B06C5197A1D6A6D0E0AB62A36BD136408C95696F8434D53FB1F7D8343B875F7215C5DB7F18BAB1BCD179CA86FED40B5D58E8A3A0B9C5DB7705667ABFC5F3026BB74A6D4D0F05443175A7F75A1D37D07EE8121F43DF6A07F68040343CF70FDD63DDCE81D4081E6FCB949416ECE7612CE2825517487DBB225B3C4D5660F93C3058B570C461117274425385BA982A0AA1A6A1AC8686FC745BA6B7679EDB9CD69FCB7EFB0342F82665844D192713048A2B78C30393CB0F88257E0389C2B2907BB5888E302317E12974263B1214DA8517E953E49966D05A1A43C771389CD2C22912C69704D4BE74875AD19F26A23C44A0D0AA5329C2993218B270093E2E9344885BE1E3FF0CE29C32603AD671693F3B9F349FEF79F922D699C6099D1F64CA5D6404F33AD33D6C1D4701E0DCD0ED4595B50A636E0B4B802BA26078E1496AB26056D9C15011DB2E81DF6D2F5C7F82757A75BAC9AE7B5F556184D16A869E928D55A68F44648E54A88E52A881455146F45729E5815962120316C09F93289FDBAB0DDF5DB4E3D7F20C3133703D7B40B60CA9F89464B35ECED9D686CB6C3DCD40C334D86B6C60C894A836CB91CFA7A0B5272045551D95212435FCAE7B189AFC136E192AF6F9856A091F711F212A7E3C8166FB4D975B40E1FE0CA75372E5DEB86E3A21397AFB9D1DE7919D696765CBEDA857D27F8EACFBE3948DE0F9E4FC6DBC4D3BB285D76A8AB6639CC674390B6DD1FFBA242D0D3DB8FBBF71FA177E0216ED2EF3CFA0C0532115426351446251ADB6CD89572C832CD7FDA07D4F27A03BC50B2F43B97761194AC9948DAE08D3D9B83EFB1F912ADD268F234B5D921D35742A012426E52A0542F41594D396C576CB41EF5C8293E39363D70FA9A374047D192C04EE9C25392F4A08E94D859F70FEC5DDD9A9C7D4C9C5FC6F5C86B2BC1E4B2C0169E805023064FC587AC4E0E8E8C83A3EC541C397E18814101F1149C3A71E48AAC6524EDC052B2735F6CF2E992C2314E253D5A7D15CA8D32480DB4449A0D50376A20528BC1FA998584D43D884B89C3818CFD08DB11E6F4F1F5D940C11913E0AAE8756479F82AB23B35219B5F598C2CBA2895461FEFE3406621130947F7227A6F34B67D1B83B8837188DC19D13D7BC1ECC3140AA27D1AEDDE13E0BCD079646EE85C12F249C8B2B51BD714C7EDDF79352923E9457266128512101E1F8EC8DD11888A8F1C5DB961A5392038601705025EA5F65F6D02FCEF041DFBFABFE7BF38645148E2BACD6B15AB36AEB4CDF9784EA6DF54BF1574CE6F92FF27CAE61FFE398AAB29EC27B20000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Thuế khác' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000051449444154384F95940B4C535718C74F89585A2948F141755A4A2BA00616071B2AAD6C2028E87C212060042CF270BC0A2202A5A5B54FA40858795428AF5641EA034A0B5A6CA93A868B5B161F4BA65332E6363325D9621007EAB7DB4E9C66AFEC4BBEE49E7BFFFFDFFDFE272707875E159BCD46743A1D4D4F4F23004021EB429093131E8D3F1E47D9B93968747474468A0259EB237D57F8B9BF7CF2503339F90C4D4E4EA2909010343535F55A836C408944820402012A2F2F4716B3057D363C8CFA7AF58846A3BD163A3838CC0A89CF1BA5D07C13665EB2582C2497CBEDDED795929282C462F17F029778FBC76EDA2F7A4E24123D66CCDBB76F473299EC6D604141416C7575358BCFE7FF65422A958A424343912BC91905C766DD08DA92629D81050707DBF542A1F06D607272B25AAFD74F607F0AE2F17868C86241C39F0E2383BE0FCD737747CCE0B5E1FBB20F983ECC90C3AEF4FC3E571717141717679FCC964C2412BD01C4E1D0F215CB931B1B1B41A5528D2B148A40F3E025641DB222A3C14897C92BF63734358F5CBD7107CE9AAE805C51359193937302D3CBB054070B0B0B17636B644B67AFD56BD7720C83965F0A8B0E3D4D4F4B8386C6C6872323D74AEFDE1FB5DC1D7BF0ECEBB11FC1F4E56D90B5E9C02F30A89E48206C737777DFE8EAEACA229148AB3004CECBCBCB1EDB5E64B25B7452C6275F882B2ABF379906E1BB073FC0D8A3C770FDCE7D50F79921FBA81AD6B3390F167A320AF0B367BF8341165328147F0683C15AB97265D8868888282C7AB4542A65DA81AB0202B77C73EFDE0476FEE0D98B17D07BF53A54B49D8592CA461054D783A4A1E9A54826FB895FC6B572B9A543F575753F73F2F2F489BB77576DDBB1431ACC6466D2689E1F91C9E46568AE1B99A1EDD23D7CF4EB04682E0C43B1520BB59AF32FD99C838F2222A3FA6363634C03FDC6C98F376F52B9B890C2F34BB8D6F6AE33CF2377C6777278226B5DABF65B89A2E6263334FC18361B0125EDCB2A3DDAD60B69BCAAA7EF6F8CBE4C65F814D3E95E0908870BB2ED4664D4266B7B4F3FEC64EF37B10B4A6FA87446387DE1325CBC3202BADE7E2852A88059580BCC5C0904866DA0226712C9CF63C9D20C473C7E3306A0624DC21A3F77DE029FA4BC227387D1F2446B30C3F9412B740D0C417D5B17E49657C29A1C39CCCDAC81A5824ED8D13A08874FF64E45A6A42FB5EFE12CE4407299E3ECB8C88382689E34643BC8E1BB5313BD2B4C10506B01A6BC07FC257A28AA6D85800C2EB8F1BA21ACBE0F4A7597A0EE8C118E347540724EE1F89AADB1BE48DDD99A56DCC0BFA9EC52DED20D9C34A9B52D1D5CA1485C2CAD3AD97DED36549C334342851A3E94B483B4B31F8E741940D96382D67346A86CED82F8AC03109391FB9BA39313134F202274F196F954BE4608FCEE6A283BAB80FC7302C86AE083A4560D1AECC8F06A4EC02E4E316CC9E4C0F16E23D49CEA81FC23C7614362EABD450C9F6647BC9380E84C626341311A567D9F5F6869BED8092D03A721B3E91090F9BE1053990A3C790D943568A0CD700994BA3E086767C39E52F1B45F58D457CEF33DAA31ABEDB6790FEB397F5E31D8538B41DBE25F1201B9EA32283B2D87C8E65D10AF4C01E5B12A88CBC88502A114D2CB0EC3C1CAE3E04659DC8859B661FD2ED62E6F816616875487355E62166CED4802DEA014B883228869DE030738D95731CD1ED7F90BAA28544F1D854A3BF56AA23FA2FD53D1BD97F9F9ACF32FF14DFCA077B570E358607B1824683361EFDE54CD1B1EDCBF42FEEEA3CD41707022CE9BBF30C0CBD73B9A40202CF8DF10CCF03B618160380FF72C150000000049454E44AE426082
Where sysMenuId = @sysMenuParentID

SELECT @sysMenuParentID = sysMenuId	FROM   sysMenu WHERE  menuname = N'Tổng hợp' and sysSiteID = @sysSiteIDSTD
Update sysMenu set [Image] = 0x89504E470D0A1A0A0000000D49484452000000140000001408060000008D891D0D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000044349444154384FAD957B6C935518C6BF31182E5E5821315E822E223AB37F241A8CA041CD5C8C57C80C468D7F68BCE105124534214692A92C6481ADF776B383EC4281AD9D1BCBD6D2DD5ADAEE52DB5DDACE5E56BB6EBD8CEDEB6DA52D5DDBC7F37DC9548826C470922739F9CE7B7EEF73CE79CFF90A0050B7B4492412EA9F128BC5944CD6F878A35454CAE7F339CD2D2D6FF7F4F4F0CECAE5070502C13AA1904F8984FC4D3C1E9F6262D7E6363434505C2E97BA0EC60C8A848242836966A26BC8EDB3CFD867E2F13872F91CE22B2BE8EEEE3A75BEA3AB5A3B62B569B5C30A9148741F11CBF857207140FDAABCB077D491826A22079A5E82EB8F79CCB87DA0C334329934B4B655388264A34873B95CB304B68371C68099F9D739E4F17894DBED1E4926AF422A15A3ADAD19B6853C06EDC06F0E1AE9541293760F669C6E446331164AD3745AA7D375AB55AA63DF7D7BE46FA05028A4E47279653E9F472295834263C3942300F97905E417C7118A66C9E46578E7E6303535893E551F428B21A4D329163C3EE9CCEC7BEB834FFF72C8B8B3DBED03CCA0D31380523D0193C58AFABA93A8238AC5A2585EA609641166BB1F75F57C386617E0F28589DB38641D3AEC79F5C84516C8B86B6D6DDDBDBABA4A70790C0FF643F68B046A552F785C2E068786904CA591485C453C1E8571621EFAE930C6EC342C5E90EF09540BFBF050D94BD52C9071373D3DDDC5B85B0A27D0AA1C867EDC068DCE0CB1F434C2913056082C994A2142FA1DED17A01BB542266B82C16080C7E7C797C73A70FB1DF7BFC6029B9B9B776432995C369B4587428953F53CE8F57A881B9AA0E81D45249E402C1E63F7CBEA0A80CB17A35FA382542241C03F8F819129ECFF4818A2A88207A8AAAA2AEAD225F519C65D8C9C9CD96C86D56A83C7E34167A71226D318B2B91C92C914C2E130CEB577A157EB80A67F08674E37219B5D4593E2329EA93CD4476E5C21B5BEA8F85EBDC5115D26C1FE4090D45B047434862B74044BE41018D7914804C16008569B0D0D0D12B4334B36CDA2DFE864636AA403287DF8B9EFD92BFCE2DE2F6A267C59782351CC330AC7E0BD12C5EC62040BF40A5B12E1D80A3C0B2192240CA7CB05A3D188DADA13B0D9AC707A17F0557567BEB8F8EE0A16B8FDD1D7BF7965AF7CF1EBA326085B7CE8D12F63D21B859F409C7E3F6A050218AC6E220FB416079C7341F8FD01582C165CBB9686DA3089773E11F808EA9EB547661DE994AF2F2CD95FC279EAC4B6470E0CEC7A41127AEF332D0EFF388A275F3E8436B509535E027191658E4D92B2F91DB37301CC2D04D1A434E2D98ACF3B09A3E0C6578B0117116D2623E5451B36BDC9E1ECAC292B3FA879FA7961F0DD8FFBF1C349522A0A27CEF699D1D63304D56503B8CD063C58BAEBF0CD3C814C820D442524C1631B8BEEDAC7E13CF1D3B6ED1FAAF7540803EF1FD0E038CF8EA33F8FE0B68D25BB6F0678630CB3243601515951D19D6F6CD9B2F3F8D6AD958D0505D4E6FF03FCAF04C56CFDAD35E617702BF5274A5287D5BD79A8FF0000000049454E44AE426082
Where sysMenuId = @sysMenuParentID


Update sysMenu 
set MenuOrder = 11
where MenuName = N'Bảng kê chi phí theo khoản mục'
      and sysSiteID = @sysSiteIDSTD
END


--2. Ngôn ngữ màn hình

IF NOT EXISTS (SELECT 1
               FROM   Dictionary
               WHERE  Content = N'Tổng quan phần mềm')
  INSERT INTO Dictionary
              (Content,
               Content2)
  VALUES      (N'Tổng quan phần mềm',
               N'Overview of software')

              