USE CDT


DECLARE @sysPackageID INT

SELECT @sysPackageID = sysPackageID
FROM   [sysPackage]
WHERE  Package = N'HTA'

-----01. Tạo 2 bảng DT52 và MT52---------
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysTable]
               WHERE  [TableName] = N'MT52')
  INSERT [dbo].[sysTable]
       ([TableName],
        [DienGiai],
        [DienGiai2],
        [Pk],
        [ParentPk],
        [MasterTable],
        [Type],
        [SortOrder],
        [DetailField],
        [System],
        [MaCT],
        [sysPackageID],
        [Report],
        [CollectType])
VALUES (N'MT52',
        N'Phiếu nghiệp vụ tài khoản ngoài bảng',
        N'Check from outside your business account',
        N'MT52ID',
        NULL,
        NULL,
        0,
        'Stt',
        NULL,
        0,
        NULL,
        @sysPackageID,
        NULL,
        1) 


IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysTable]
               WHERE  [TableName] = N'DT52')
	INSERT [dbo].[sysTable] 
		([TableName], 
		[DienGiai], 
		[DienGiai2], 
		[Pk], 
		[ParentPk], 
		[MasterTable], 
		[Type],
		[SortOrder],
		[DetailField],
		[System],
		[MaCT],
		[sysPackageID],
		[Report],
		[CollectType])
	VALUES (N'DT52', 
			N'Chi tiết tài khoản ngoài bảng', 
			N'Detail', N'DT52ID', 
			NULL, 
			N'MT52', 
			7, 
			N'Stt', 
			NULL, 
			0, 
			N'PNB',
			@sysPackageID,
			NULL,
			1) 

---03. Tạo field cho bảng  MT52 và DT52--------------------------------------
DECLARE @MT52TableID INT
DECLARE @DT52TableID INT

DECLARE @formatTien nvarchar(128),
		@formatTienNT nvarchar(128),
		@formatTyGia nvarchar(128)


SELECT @MT52TableID = sysTableID
FROM   [sysTable]
WHERE  [TableName] = N'MT52'

SELECT @DT52TableID = sysTableID
FROM   [sysTable]
WHERE  [TableName] = N'DT52'

set @formatTien = dbo.GetFormatString('Tien')
set @formatTienNT = dbo.GetFormatString('TienNT')
set @formatTyGia = dbo.GetFormatString('TyGia')


---------------BEGIN MT52---------------------------------------------------------
--MT52ID--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MT52ID'
                      AND [sysTableID] = @MT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'MT52ID', 0, NULL, NULL, NULL, NULL, 6, N'Mã phiếu', N'Mã phiếu E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)
  END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'Trangthai'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'Trangthai', 1, NULL, NULL, NULL, NULL, 10, N'Không chọn: Ghị nợ TK/ chọn: Ghi có TK', N'UnCheck: Debit Account/ check: Credit Account', 1, NULL, NULL, NULL, NULL, 0, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaCT'
                      AND [sysTableID] = @MT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
    VALUES (@MT52TableID, N'MaCT', 0, NULL, NULL, NULL, NULL, 2, N'Mã chứng từ', N'Voucher code', 2, NULL, NULL, NULL, NULL, N'PNB', NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 1, NULL)
  END
  
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'NgayCT'
                      AND [sysTableID] = @MT52TableID)
BEGIN
	INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @MT52TableID, N'NgayCT', 0, NULL, NULL, NULL, NULL, 9, N'Ngày chứng từ', N'Voucher date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, N'&', 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'SoCT'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'SoCT', 0, NULL, NULL, NULL, NULL, 2, N'Số chứng từ', N'Voucher number', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, N'PNB10/001', 1, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'DienGiai'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'DienGiai', 0, NULL, NULL, NULL, NULL, 2, N'Diễn giải', N'Description', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, N'&', 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'TtienNT'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'TtienNT', 0, NULL, NULL, NULL, NULL, 8, N'Tổng tiền nguyên tệ', N'Original amount', 6, N'Sum(@PsNT)', NULL, NULL, NULL, N'0', NULL, NULL, 1, 1, 0, 0, 1, NULL, N'DF_MT52_TtienNT', @formatTienNT, 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'Ttien'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'Ttien', 0, NULL, NULL, NULL, NULL, 8, N'Tổng tiền', N'Amount', 7, N'Sum(@Ps)', NULL, NULL, NULL, N'0', NULL, NULL, 1, 1, 0, 0, 1, NULL, N'DF_MT52_Ttien', @formatTien, 0, NULL)
END


IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaKH'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'MaKH', 1, N'MaKH', N'DMKH', NULL, NULL, 1, N'Đối tượng', N'Object', 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_MT52_DMKH9', NULL, NULL, 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaNT'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'MaNT', 1, N'MaNT', N'DMNT', NULL, NULL, 1, N'Mã nguyên tệ', N'Original currency code', 9, NULL, NULL, NULL, NULL, N'VND', NULL, NULL, 1, 0, 0, 0, 1, N'FK_MT52_DMNT10', N'DF_MT52_MaNT', N'&', 0, NULL)
END

IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'TyGia'
                      AND [sysTableID] = @MT52TableID)
BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@MT52TableID, N'TyGia', 0, NULL, NULL, NULL, NULL, 8, N'Tỷ giá', N'Rate of exchange', 10, NULL, N'MaNT.TyGia', NULL, NULL, N'1', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_MT52_TyGia', @formatTyGia, 0, NULL)
END
  
------------END MT52------------------------------------------------------------
------------BEGIN DT52---------------------------------------------------------
--DT52ID--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'DT52ID'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'DT52ID', 0, NULL, NULL, NULL, NULL, 6, N'Mã chi tiết', N'Mã', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)
  END
  
  --MT52ID--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MT52ID'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'MT52ID', 0, N'MT52ID', N'MT52', NULL, NULL, 7, N'Khóa ngoại', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, N'FK_DT52_MT5211', NULL, NULL, 0, NULL)
  END

--TK--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'TK'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
	INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'TK', 0, N'TK', N'DMTK', NULL, N'TK like N''00%''', 1, N'Tài khoản ', N'Credit account', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, N'FK_DT52_DMTK2', NULL, N'&', 0, NULL)
  END

--PsNT--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'PsNT'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'PsNT', 0, NULL, NULL, NULL, NULL, 8, N'Phát sinh nguyên tệ', N'Arising original amount', 3, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DT52_PsNT', @formatTienNT, 0, NULL)
  END

--Ps--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'Ps'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
	INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'Ps', 0, NULL, NULL, NULL, NULL, 8, N'Phát sinh', N'Arising', 4, N'@PsNT*@TyGia', NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DT52_Ps', @formatTien, 0, NULL)
  END

--Diengiai--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'DienGiaict'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'DienGiaict', 0, NULL, NULL, NULL, NULL, 2, N'Diễn giải', N'Description', 5, NULL, N'DienGiai', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, N'&', 0, NULL)
  END

--MaKH--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaKHCt'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'MaKHCt', 0, N'MaKH', N'DMKH', NULL, NULL, 1, N'Đối tượng', N'Object', 6, NULL, N'MaKH.MaKH', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DT52_DMKH6', NULL, N'&', 0, NULL)
  END
  
--MaPhi--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaPhi'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'MaPhi', 1, N'MaPhi', N'DMPhi', NULL, NULL, 1, N'Mã phí', N'Cost code', 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DT52_DMPhi7', NULL, N'&', 0, NULL)
  END

--MaVV--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaVV'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'MaVV', 1, N'MaVV', N'DMVuViec', NULL, NULL, 1, N'Mã vụ việc', N'Contract', 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DT52_DMVuViec9', NULL, N'&', 0, NULL)
  END

--MaBP--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaBP'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES (@DT52TableID, N'MaBP', 1, N'MaBP', N'DMBoPhan', NULL, NULL, 1, N'Bộ phận', N'Department', 9, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DT52_DMBoPhan12', NULL, N'&', 0, NULL)
  END

  
--MaCongTrinh--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaCongTrinh'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'MaCongTrinh', 1, N'MaCongTrinh', N'dmCongtrinh', NULL, NULL, 1, N'Công trình', N'Project',10, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DT52_dmCongtrinh9', NULL, N'&', 0, NULL)
  END

--MaSP--
IF NOT EXISTS (SELECT TOP 1 1
               FROM   [sysField]
               WHERE  [FieldName] = N'MaSP'
                      AND [sysTableID] = @DT52TableID)
  BEGIN
    INSERT [sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
	VALUES ( @DT52TableID, N'MaSP', 1, N'MaVT', N'DMVT', NULL, N'LoaiVT=4', 1, N'Sản phẩm', N'Product', 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DT52_DMVT10', NULL, N'&', 0, NULL)
  END


  
------------END DT52------------------------------------------------------------
-----03.1- Tạo Danh mục vật tư lắp ráp, tháo dỡ------
----------
DECLARE @sysSiteIDPRO AS INT
DECLARE @sysSiteIDSTD AS INT
DECLARE @sysMenuID INT
DECLARE @sysMenuParentID INT


SELECT @sysSiteIDPRO = sysSiteID
FROM   sysSite
WHERE  SiteCode = 'PRO'

SELECT @sysSiteIDSTD = sysSiteID
FROM   sysSite
WHERE  SiteCode = 'STD'

-----STD----
IF Isnull(@sysSiteIDSTD, '') <> ''
  BEGIN
	SELECT @sysMenuID = sysMenuID
		FROM   sysMenu
		WHERE  menuName = N'Tổng hợp' 
				and sysMenuParent is null
				and sysSiteID  = @sysSiteIDSTD
		
		SELECT @sysMenuParentID = sysMenuID
		FROM   sysMenu
		WHERE  menuName = N'Chứng từ' 
				and sysMenuParent  = @sysMenuID
				and sysSiteID  = @sysSiteIDSTD
      IF NOT EXISTS (SELECT TOP 1 1
                     FROM   [sysMenu]
                     WHERE  menuName = N'Phiếu nghiệp vụ tài khoản ngoài bảng'
							AND sysMenuParent = @sysMenuParentID
                            AND sysSiteID = @sysSiteIDSTD)
        BEGIN
			INSERT [dbo].[sysMenu]
			   ([MenuName],
				[MenuName2],
				[sysSiteID],
				[CustomType],
				[sysTableID],
				[sysReportID],
				[MenuOrder],
				[ExtraSql],
				[sysMenuParent],
				[MenuPluginID],
				[PluginName],
				[UIType],
				[Image])
		VALUES (N'Phiếu nghiệp vụ tài khoản ngoài bảng',
				N'Table check from outside your business account',
				@sysSiteIDSTD,
				NULL,
				@DT52TableID,
				NULL,
				9,
				Null,
				@sysMenuParentID,
				NULL,
				NULL,
				3,
		0x89504E470D0A1A0A0000000D494844520000005500000055080600000038F5A85A000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD9200002F0A49444154785EED9C07545567B6C73F3B6A9A8931C9A49B984CEA64669279994CF26212638B1A3526D6D863EFA8F42AA02860A3235D7AEF82A0A048478A74A4F70E521405F6FBEFC3BD0E31684C2499CC5AEFAEF55FE7720B707F677FBB7DFBDC614424FEFF36C40418EA1F599D3E4274FA0E135D7EC32121AE878F12DD498F8AEEC447EE438F8A5B0963157AE287BDD3737E98729FA348ED731229BD49E291DE04217E89FA5284E8F217A2FE2064081D1277E5F68706CA27FB4750FD8789EB21C3014A41DC4A84F8782FC52B889EAC9127FA2E895BB4191F7525B45D506FAC980AB0FF0F55B25440ED84B576478D14B79218E8987BEBD298F1BDE5C3AAA87118D146005D0F6D10D4172C747B61797F384B9DAD6923EE2A0D6B8559EA56DFCCD3B2369AAD69B57186BAE5E7D3D52C5F9BA961F5F80C75ABB1D3552D477CA16229166ADB88AFB56CC44C354BF1A5AAA5C06BC44C756B31078FCDD7B2C67DAB9F582A2F41D6AD4BA361ADF786DA1337EAE3BE6680EC03543D1C7F9041B517B1BDA94307759EF629C192BBD15FBDFC6769588BBB699EB6ED22454BDFB443CEC18DFB2D3C8B36189F4E5EAE6F1F345FDBC674B6BAD59EE9AA160BA7A958FCE36B4DEBE7BF52B79AF8A58AC5239F2B5B284C53B5183E43EDE7A0C2BFC2CF5E0F636B0554063B98E0167A52466AD22DFE8880EAD90F94B6C1520D456B6FB278EA175B6AC0E03E75C8A07EA16C2106D35425B3912B0EBBB86596D452434B3BE597D5525A7E295D48CBA3C00BA9E4101CD367E21EDEA969E7D7B2FD845BD96A43A7D8EF0ED8BAC1620D676B586E9EA166397DA6BAE53BB3D52C267FA162F1CCE72A560F4F57B11C215FFEEC02386075FA0C133763868B9EC491A22761105D1A39AC2F5724484059A9FDFE9414214D413DD162564FBC103D71F7A7DE4421DA4FFF18AADC3A8710AA39A0FE549FED371BB5D2C8C525AFBAB5AFFD165143C72D6AEAECA1E6EB50E72D6AB876836A5A3AA8BCAE99F24A6B2829BB88CE26659157542259059C277DE760DA6FE9D3BAE9A86BC18A438EE716EAD89E9AAB61A53E4BCD72F50C558B195F2899FF7D9A8AF92BB0F489D3D5ACC6DCBA048B8D1B057770872E8C9CDC5739ECC66DA8B500AB01A0CA901AA00608E35BB1702317EEA198FEE77AF0BA4ECFFEA8DF70F8DFD17FC8A1E28389C1F4B9B204D535ABA2A98F6156B7DDA0EAD6EB54D5D22FFEB9B6BD5B82DDD8C5B07BA9E50604E04D0CBCE91A15D734D095A24A8ACD28A0A0D834720CBB44C7BDA248CB21B077A79967F5DA23CE894BF4EC7C61DD6633D52DD4A6299BAE98BADF74E6674A66FF805EC20A7AF866CCA8957D1D322B654BBD099903A83AA40DA88E22E5668C1876334A88BBEA1CA0460BD1E10D9847FA81FEA7A08E5C69E4EA9E0DA8ADB093F65EA22E2C403E5E839ABB89EA65B02B5BBAA8A2B9932A9BBB24E035005ECFB0D9AA6FF4512B605F835A3B6F5223805736B65141792DA5E495D2B9D43CF2894925EBA00B64E87686546CFC1A371F77CB5D7ED0217A81F629F7B4903FE7529F3C64C8E006E3675DE810FCAAB9E8EC3E2B5EE80E47367117DD8C84850268A331C4506560E579EA905B2A828B184C7009A35619B979E6D7B4F6D562999F397789A2A2E3E84A6E219556D760F97750470F0C07A059604C1D7D0CBB0F167C8BAA60D5154D9DFD02F02A80AFBDD62DC16EEA0260C0C68FD48E375FEBEE075ED7D249A5B5CD940D7712975D4CE1F129D47665327EF313D0987E9FCA4A035023E8186426E8469058782354889F28048F85C9801E954135FA1DA0222D128309BE6EF46A63579FD2D62ECACCCDA7A55BB7D2E29D3B698B9A066D575123555D3D323E614E4E2E9E14722682129353A8B8AC42B2C4EBF8E83066E906774C1D5023DC430D4CFE3668C0BE6DD932D87237724D02DD47ED35E7A9B7660ADEFD37E865E85168385125605A41EC0670ECF612965D4148D110D507EA3A1EEB800F6D3A0EA026320D02758EA6B5B414F828BF2F95FDBFB6449DA1662106D397AAE6A3D798B8FB95C3E292D2326987C931323817458723CF92AEAF0FA93839D28EE3C769AD9636AD50DC4B2B77EDA20D7BF6D21E1575D2D6372453332BF2F1F1A34BF1095450528EE0D64B30ECDB37B6EC56C0AB83E5B2CB606B968BADBA1A27A0354B93FA6ECCC32BE7421F436F408F13B5C15ABDF0916D21474137DDC5950E5F3142AADAE4F205500F219A4F022A5B298BC1FE87A18E01D4C00A404DCEC8240D5B7BD28F8CA295A6A6B4C9D696947DFD48F74C18195F88A163172F92416828A9B9BBD36E6B6BDA6C6C44ABB5B468D91E455ABA6D1B2DDBB089D66EDA4A7B9554E9B091319D3EED4CB117C3E96A452D825BBFFB60E00CBA0D26DE00F7C07EB93DED5B3CA20C6D8016419F42AFE30D0F139D07501708796BAFB7E806C05719A2245867BB1B809A01E8B17EDD0BEA57324BE5A3FCFE03592A7249543C3FD574358B31EB8E7A8456B6016A7A0669D8D8D17E2F2F7A6FFD7A7A67F56A7A7FE326FAFBC68DB4C6CC8CECAF5C21C7EC6CE96807D9646490456A0A9DB874890C232348373080549C9D48C74C9DDCCCA7D355EF89D414A840F9F68F53F4D1C9E465F811B99E5C4F819EC72836FEA29413373695D1CDFC25F86C969016B4055A08FD1395D573449761AD7E801A08217075B88915ED2E80095D431EDA6201982764FA03415500D43355809A74395D06D593DE5BB78EDE5EB54A02FBEAE2C5F4EDA143742A2D8D6CD3D3C93A15511C3A75F9329D8C8FA7831111D273765959141FB383BA7347515F3E20644117205EC296D061447144F39BDAC3A8467B2CA56A3E41290613A9B7F11820064066903AB4169ADEEF060A461145E0BD6721586D97A7706E7310A2CD11402D65CB9E973E83FDBDA1CE82950E2624E863D61FF308AF42E049484D23B553A7E850F4795A85E5FF95A6264D555494002F3336B90DD52A2585AC9293C906508F5EB8403B1C1D49D1D59554BCBDC9274C877A2A1E01105818A7483710701A2712E5BF0A287FC652C6F1F09F88F63C44B402CFABBC009F9089D75F805C2143683BF43584C0558DD75DC4EB62A12404AB33A2B0C5460614CBBED91430FF8050150035AA1A097E7CCA655AABA94D5AFE7E640A0B3C191F4726B11749E7CC193A18758E6CB1E4ED618D76999992C5DA62F9F3D2DF7DFA34ED7373A3BDD076070772B45F4DB7AA014B4A8D00959E97F9C955386A20658045B60160913B51490C1E6B8152213F88AD760FC4BEF503443904AC44004D81AEA00888153DADE6624DB3A598DC6429463799032A83BD1F4B45FF03BF547C85238BEFB37E75F49FAD612506133A4E0A3F9CF08CAE40EE78B5B296B40F1FA5F58AFB680352AA8D07F469C7D163A46C6F47EAEE6EA4E5E74787CF9DA31309F16499765982CCB284C55AC21D58C07A0DC2C3493B389822BD57514FD33BB2FF1B9649FF8296424A9039140AE541AD50059408794326D06E88FDEAFBB074E4AE0C340E7286F62260A1D17273B7E8BCAE26F2DA0D847F8BB1D0423A35A3F18478B1E1B818D9C06E0005C09DC9FF6C19483ECAEFFF5650C76E3CE975B1A0A6853A91D4233FA7B2B2724A4C48A2A0E050B2B275A2034647699FCE01DAA2AA4EEB9454683580AFD3D3A7AD274ED27E2727D20B0E22E3981832875BB0CDBA422E57AF927D4E366585AEA2BE2E041C29EF042009D44EE808E4029D95C18CC7310CB287F4A0CDD01CE85DB810BCB71A30D3210FC814D2817641DC1A5C053F0DF5E07EF70ED1D1A92CB2DB74854FF341A18612755AFD11F17CDD1131A20E25EB90439D837EE76082F58EDD74D23BB6A4A19DEA5A3B2827BF804ACA2BA8E33A2740FFBEB5B6B6D1D5A262E4A3C9E41B184ED68E2EA48F9C76AFB62E6D02E8354A4AB412D0371D3C44BBCDCC01DB910C827C29C70FCBF8D62CFC224EEA39F8AC8154215EE68E90A74C76381A41FBA015D06710FC2F2940BC4007F405BA71BF192A8692A1203CCF4502C3DE09A1B9DDB71AA071BCB15B5CEB5016575A3485E7EF0BD5D43BB6063E352A3681740F1993B99D33D9387B90AB5F08054744515C42225D2DAD405DCF75D3BF6FD76FDDA29AC666CAB95A4217E253C93B20841C5D3DC8D2DE89F6C2B237225FDDB46F171506AEC69BBE83DE82BE86381FE5BCD4400692611E80F6CAA0CFC6F1AFD0A41FC31C0876B0FB3700B801CA836220769B6CCD004C9B47D290439D8BCEFF60FA4ADD7ADC16539FB8DA8E6E40092507572FCA2AAEA098C4540A3E1B4D2EDE8164EBEC0ECB74036C27B282857A050553745C02E51695524367B794D4CB6F9CD8B75CBF45E5B52D94915B4231F14914E16B4E2D1776C92C104B9AB87A5A09F132DF21D3461C97416CD50850C4818EFB0003ACB417A0181C575A4D32807538B2EA21DE866985B8DBD58BF7F1EBF41EA35EAD67A955F7E1A8DF1B6A424DC70DF20B89A0A088F3D4898FC25DA746B4F7B8B42CAE69A59C924A4ABA9243919712C93FFC1C3979FA92A9B5031DB3384596B06C672F6F0A3B1F4319052552EB909B2E0C9885628A5A0B42E87AE661DCE3A88E6A893E87BE82E6CBC4D6F929F49E0CE8D87EA00C922131B44AA842A62A1C6B6440D93A1928BB8436BCE73A548154CCFB2DBA6E32A5BD4E77AC62B58618C13B1FFC4BE53B20B233F6EBA3FF3CEC230DA6391AD6E3B69AFB24D602AA6F4838F98545510B4870F9C8E28E531DBA510DE8A536A2AC6C406D5FD3D64D158D1D54545D4FD9C59594989E03AB8E21270F1F3247603331B5A4A3E656E4E8EE4DA1E7622931339F0A2B1BA82EDE92BA8B1DF059BE849E82383BE065CE20D93570A70A392D8D861FC6E767480CB1142A9341AD1E0093413350B6DA16868FF7F031F139EAB57A975AB4274556A98877ABD584A8D114124C063957DF59D203439D8F8DAEC1344FD366FC760BBFE4DA4E400DEE87DA0CD3626BBB9B18761D7A79DCDEAB475FB0FFC8BA4EB56D6D545CDB4897738B28323691DC7C03E9A4952D99A0F1627ECA81E22C90C3D607C980F2F29E2013EA7C86C99B7E2DF8BC0C9103111F192C5B2603E51D015EEE72EB6488D7F0FA5628671CE2DE9B74FDD0EBD76A9515F655EE1723AA5501545D06151B930C72DC8489921E18EA1CF8D4C1344BDD7AFC7673DF1486CACB3F3CE692B45C19967C17E05E80E5CFFDDBB219382C1B16DDCC0DEBEE9BD4DC751DEDBF0ECA2C2CA3F00B719469B3867A5A3885E2FCF5F66783AFC07D86C730D93A19262F79B9753250B975B215B3FF6CC27B8AA0883F51AFF95FA859E3A988F23DE2DDCABD4254290B3110EA288571D21F93DF1E18EADDFAA96852B3A55EAEEFEA262F446F6B7B672AAEA8A1EAA676049C1B6850F750EB2DF8572CFD3A64087570077280F7035BFE1A76238DD7D1B0EEE9A3B6E278BA9EC56E807DAB2C105D975925032DBFC33A07FA4EF952676B2DC67B13E07BDDFE4C5D86AFB757ED51D85BB25D0CAF5004D0FD3F85CA308714EADDFAA9D354CC1EDE6EE997DE7CA39BDCFC82E87BE49B6AE696A4676641E688F4DEC16114939042B9C5D5D88F6AA6D68E4E6ABBD927B9886640E26056D7715302DDBFB7C55B2DDC271DDC7D48CF9F3D41B79AB800B803285B270365EB9407A281D6C940197021DE9781F237FC69C97736AA3E7DAE648B78AF649B1065BB84F823407D6487A55F66EBF56E72F70BA4957A7AA411E887523390369F3C4973D0F6DB76C498342CAC48DFC29A4ED83B92676018C5266750F6D5322AAB45FBAEA38B10BBA400D7824E7E13BAFFEC63E5A0EF045CEBA34A7DBD9CAB02CE2D99550EB6DC07A64AEC3B193897ACD12390EC23A0693C4F75DBC6FA65AF13238BB60851BA5388F2DD42484BFF3F6CA98FEEB4F4BFD20CA89EFEC1A4A66740C71C9DE9A0A3136D41753467F326527671219D9060D2090DA635870DE9AB0D1B68374A546548CFD29A2C4FBB930772DC988454CA2E28A292AA5AAA4187BF1590DB502F70E7BFB1AB4F0A6E35CDD7A829882BAA7FF477B1D812E540EF168CD84239E7642BE57D2B431CBF87503135AC131199AB84C8592D44DE3A210A370951B20360F7C19FAAF407A95A8DFE40F57B2EFF09BBAD02B29AE0533DFC82C9C1D98D0AAE965221828AAF7F1029A96A908D8B3B9D74F1A043A75D69336AFEF93BB693B2AB1BA9FA78912AB65CD61E3E4C33D7ADA19D68BEE89CB2257D4B1B3267D081A1A8D2E229F54A2E9A35F52883AF534B790E7524EE0454447B8EDA77A64A0C9923BB3C5592072486CA81291BEFB180B852DA81A6F566D19ABE4C4C8244FA5221D2203E667EDF0FF92A5C423903FE0F40CDB9069FEAECED4FDFEF57227D58AA7D40301DB73945BAFA8729E572161595D45061DE55F274F722352D5DB2450E6A8A92F4880B83D6A3799B36D33E276709F21E97D3B4DBC19E66AF5D47BB8E1D2735B80E43B80D0B9C9CB3C7F75077351A2B6CA56C9903A3BB3C5562B00C93973C83BC06B5435D10477A6F4836BDD2B34750CE32F145FA7742642C1E20FC9CFE6DBFF8F1EC95BF89A55A62E3EFA7C280C584DDD6817912542F7F5AACA1418A9E1EB4DFD393561F32A4AF014B05500E3BBB922BCA53532B6BD23330A28C2B79545252465773B19FEFED4BEA3A06E4029F6CEDE94DFAB60EA46A6343D357AEA4AD565652037BBF873B2962ABC573CF54EABB85E6733BC070CAC44B5A1E8C789917413CF2C38F314C1657549D103752187C149E578554204CB114AD12AA29DF0871190007D5223C8EE77F83E57F57A84F28DA04E6B7C0A7BAF906489D275B7F7FD23BED423F1CD0A3D99B36D1166CF2ED7173218DA0405A67749816601B5B0796771CBED6D9DB87CCB0AF6560684C69492954595A46E595D5949957442A9ABAE408C8E61E9EA48BD7EC4346916C3C154BFF49C001903BCBCC4200BB8CC7D96FA2212D0165982C4EB9786A852D163B00640869410705D56C1581A90BB1F401F55EFA3DA13EB9D726A8A0193ED515CBDFF6941DE56464537E6109F90561E754D7804E619BE4287CA826DCC2323555FA0AC16BA79303ACD983D4FD7C69CBB163B468CB36D242D03A0997E0E0E54B3E816748534B8FB2D232A8BEB185EA1B1A292F31869A22FED25F35C98172CDCEE23D2D8689365E1FEF9E32DCAB103750586CA59C29F440B9789C8B2303088316D7D44445CA42313E155053619577D3EF0975D2DE534157FB7DAA1F6D3A70800C1C1CE924670026C749455D8B62D112BC5A5C45A56555E486C68992F6016408A7916659D25E730B5AA1A14EB3B66C2625B80C3D6C021E080C244DF8DAF93F6C20B5E327E888B52D1A30DE1471529D6E16A3E6EF020C5EC6F24E531E7EE6CEBE9DA046C527294EE73BAAB756E8A34C3CC61514839403E5965F051E77878E42D850BC6922E8CA62F14F5EFA7F144B7D0A508BDB01D5010D911580AA13164A46E8E4EFB5B5A345DB769012F2555D58A1B98313E91F3A4CFA078F507A563E1595D7507E410139B97BD2C6DD7BE980A9052921306D3331A11D96963477EB16D20A08C06046241D0C0DA120DD59D4DB89FA9E6B7B0E440C8C977928B648B08CF30FCEA1586C247A044791EEEE0D4DEDF6C3BA2907CF73801AD83FE5E01586C7B93FE20061D0A2609DD8096B1592B5DE45BF9FA52A9B3FBDCF2EB8B40D504F7BFAD15E4D1D3A6066494AA666B40A416BE1CE5DA40720C7B001C8DA82B4E96B58E0EEC34748D7D49C6CB1DC4FA0596274CC940A0A307F5551452900EE19748696AF5D4FFB91EBEE85B52A22C0259F78AD1F0E47750E44EC1BB1D40BF73D46BEC7D428361B73B19925E41E7896D6E89CACF25D3E79478793E8A552BC8E5D861C2C5B6D42FF7BA52D960041554AC22D75012C1551FF6EFA5DA1EE07D41640F54143E5E8492B8A46173F212D8B2C11C5D76FDA463AEC068C8F92360A82CDC849576A6A911146838E9C3F47DAD80C5CA5AD4DB3BF5F458AB0624358B467F0193A17974C878C8F514E4E0E65E61753645000359CE11E29807083241A7B4A183A8B3A388BB6A9EE2767DF70BA98851D842B25E4E27F06BFF378D52C2DDB5733BF156B3B181EFBDD81D6CA16CC0316BC95826CA0E5B828B83C5F8CFE432C7F34549E51B20F29E76A8795907685DC301BC57B5006478E92FE11133A7B211E1DFC548ABE944006874DE8FBF51B49EBE871D2411EAB8F69963D985E59A9A34DFA11D84945E5A5883980AD085E33962E2565CC0B5879785354903735F88EA3E698B1547EE2552A3C319722ED0E91C6E163B4F0FBB5E41218D96FA900EBEC13422BD48F4A50A3E720C75C2CB675F14006072B39D8AA7E98740E8AC75E949FE8CDFA4EFC2513967A37FD06966A853CF5A79AA66CF1276587D0CA9AB62EAA6FC7B0586727DDB8D5836E12E241C3358C02F543B6419EEA1B1A41C7512D1D32394167A363293CEA02F905869016AAAC6500AD67654386489F0E8784D001FF005AB4771FA9F87AD35E7717DA0E1FAB6AA04ACB572E2635F4127CCE9EA3B318A1740F8CA29D4A1AE4E41F0E2B2D86B59692836720B20CE3AAD95A76AFC661495F9A873274B1D8733D0400E55039B5E2790016F2DA3EB883C21FC40F69C84733B8101844430E7526800E26CCAC3EBBDF36B0AAAEE51A9D8FBD4487B1D4ED9D5C290C1FFA0A76565B5A5A8937F8DA50BF1755D6511C72D190A8F352A6E0E213482191D1646E634B5A3A07293CFC3C85E3672F8036B575A4E53F6CA243A8B20EC29AF58382480B59C1BCDDBBE90758B1929B2B2962006E2B82DAE28D5BC82D08960A2B65D9B9F9D162E52355B3B5ED5E8943F091F4B510B94B845A374FAB3058DE66E1EC2019E2264B86A04A0D610B17F03B4245D79B2FC9B9535FAA5A3CB7DFC6AFBA0EB9A4A3B30B6962CBD91D79A6B59D3D1D387890B450009C42D40F400B30E5721AD5D5D74BB3A83C695D5DD7409733B32830F23C9DF609A0D3DE01E81F845028360C7D03C248515199C242C328187B5A7E616751DA7AD12A64138A701DDA1E1EA4E1E30D4BF6A2E5D8E2760D88A28BF0A7EC02AC5DBCE9DBFD8655B3756C272700282B9E8F009BB75C1CB8992D73039CC70E985EC1B44A46D25C313C05B9EA601A7A4BBD0B545CB6F3BCF2A980EA9AC62672452E1916798ED0B9A36A4076F1F022250CFEBAC32A6DB1ED7C1239A9210216477B3F04A3C4A464AAA8A9BB3D8F5A8B043F13FD81C8D82472F70FA193D6F6E48A13E409D061D8C30A0F0BA37DFB95E9B8B51339FA8691998B0F695BD8D0B22DDBC92DF8BC049465E9E44EDFEC35A8FA4AC76E720C40CA150D2BBCF0152C768D30B9C57D03B90B9059EA8D00D19DB948BC71B760F57B427D49C536A0A6AEB9954EBBA1418232352BBF903AD0ED4F4CCD20275777AA45BB8EDB7945E5556483F2749FB22AD9C27A4DE15F8F6383CF0A56EDE5E72F4D0D5637B74B13D66CCDD7B09572A5A842CA0442E07FB90CDEA7AE4D9A078FD2312B47F8CE20B89150DABA47995C82CE525C4E19C5E7569085BD0B2D50D4AF9AA36B3F3962AE10037506812B7A9610055B85C54DEE707116C06E00C75B085A994BC5B46458F57FDA5227ABD806026A1BB92289DF87A578F4A4299D4013450DD3D3EA5A3AB0BE02AA87CFE55BD4C558C91D5C2DABA49CC2624C5FA7D32980DE89F92B33544E272D4F61EBDA8EBCD0364CCECCA6AAA60E69CF8B41E755355344622679855F245B0423330794BE074D68ABA20A054527513CA026E65792E92967FA7A976ED51C1DFB97CFC352EFD4393C160BB0657B84C38D70D184EBA56A1B8C4442F1767124669E5088C6F3B80D83864323A11132F1B4DCD0ED510DE64FF931CCFCBFA26A175453874913574F2F72810B28C4340A47FD13D856D9B8790B1921E137386C8CE77DE8281AD3C731D6535C5E4DB52D6DD4D8DE85001747C7514D65175C05E822BA9488992A87D3B475D71E3A8A42C2D4EA14D9A355E81371912E6597507A5903A516D550420E5FB5924B91C957E04FAF52EC95224AB95A4D276D1C68CE0E9DAAB9803A57DB56C8F5CD614FF1DAA7F3C4B061CCEB9E3786390A1A0B29C8E0F2CF7C9F014BBFE08137FEEE01F555096A130215EA750717376994A719DBCD67CF5FC072779000A6A4675164F405D280E5AEC420F061E49FB6E80F9C898A463FC0978EA1022BAEA8A686B64E6AC17B13D148398EC7F2D0F0E671226B8C11E99B98D1FA6DBB69BF963E99DABB49E56854721625E55750425E395DCA2AA6CB2575700D76F4D5766D407500543B40EDD77726FEE29937DEBF174D86395A0693818E1D3366CC736FBCF9E69C091326BC29837A1BEC1040E50B727FAA692A9653D4EC836A6B01351C33A85A3ABAF095561486192A73E49DC6474F5059759DE4577BB0B31A191D4336760EB0E44CF297A602ED31E3AF0CD06B24DF1A14160E5F9C2E05BC93B0F43CB889CB6803A61714533A2ECFD43D684426E63664E7EE4B0647CD68BFB63E691A9AD0F9D41C4A2EA8A4F4D27A32C6F3B3B66AFD08EAB7C6BE62CAFFCE11C347B0A1FDE4C69627B74486F6C8B871E35F7BE64FCF4E555252B1AD6F6CBAAE6770C87FFC430FBF2203CBE0255720B903F99D5F7A1C0C283F06A8AFAB032AD7EC15B50DD21E5348F859B28315EA603E551D43C096A7ECC903054046761EACD98DACD01E641F7C0D93811D377BE9FCC538D2438DEF131844F6E85E9D44DF5407A9D8DAF51BD06BB5C72E6DB0344F7009D5DA41A363E48DBE40615503E596D5D0F9A474DA053FEEE21B4C4959572905E00D8D8FD3CC2D9A55730F38BC3457C74ECCD3B5170B0EBA8817FEF6BF77032AB74E18E6D817A64D9BBECBD8E8E4F99090B355D7AEB5F7767675D1A584645ABA7CA5F3180585A7E53EF6C1A162E817979AFF4448A9FEACE1105C5B8AC6322FDFCAFA2669F9365EC3F54F754D9406907EB0485EEA2C25353558A60A79A0DB1F8DFD27F6BFE17001D6B0DE560C64F07C6B4D632B0255306DDEBE8B8E995BD311345BF4D0C4D63334A255EBD64BD022509125A565536A5601CA611372459E1B877E43527601E9A187307D8B66E53C3DC71719E8E2E301E28D69B2D6FD8FB1CA973B5BE7C353A6BC3E5FDFE048586E4E59777A7A11A5A6E7536D5D3DA5A45EA65408567B514141E145998FC596EC035BEAE0C93F02D51B9A8E21B59C6F72344FBC9C018BCCA5FCE2722AAFA9A7FAD6766A45039BA37F41711925C35786A3A2B2733A8DA065260533EEB972D6108B41E17CBCA614633F9CAB9E4080CA8335A6005CE4C54469AA70DDD6EDF41DAAAA5D8686A401987A478ED1E61DBBD0CC09A76474B7D855E8E81FA4691BD52ABF06D4AFF59CA4B9DA17FFFE132B65A00C731C2FF72FBEF8725B6A6A7A1D672815958DE483B2F7226669B96049463E6D6FEF50FFDA6BAFCDC76BC7C8F4E0CB1F5F92800B297E2A94A96F6A3985D455A13A4ACFCA43D0F19172D3A0D033148129BEB8E4CB9496950358A592E53623DAB3255737345341693925A4A449D516A7599CE3EA1D32C214A0231D4491B01717B05DC4F357B08B508CCB26CBEB5AE820AE1E54C58E81694A1219A018D86E61468B705951003A64A9D98598C12A264DCCB67EBE4115509D5EFCD6D85BBC331B5BA5FFBEB1FF6431D0F1D0E33366CCDC535454D2CA405BDBAE510C4E6822FE6E76760E25262691A7A757E73F3FFA17F654A513C0014CCA001ED852EF01F56D6DE790BACADA7ACACA2B24FF903029AD72836CD1EAE382C03730580A4011E762E852522AA56464511E6653ABEA1A11ED3B703535AE4905E4D4EC7C0A3B77819CD195E2B69F0AFCB10146DB8F23F0B9A02A0B435F603F760D74B1D7E55159496E2525649D9D45DBE08F7D83C2E832A0E695569396EE019AFA836AE55C5DC717BF3B1620DE5FB2F54EA80CF42168E2DCB9F3544A4A4AA524BAB5F51A5D884DA684A4342AC4887C4A4A2A797979DF9836ED4B03862F83CA96FA9BA7546F6B3987D69557D5C0A7564AB96602A2F7B90B972808D7A206C06239CA3B9C76C3927741C9891ADFCD532A610343C329EA422C5DC458501A80F2C44A01B65CB8F192575A4929F0C74111E73052E94927D0673504E8B59BB74A57092AE38A16C3B39164141727CD1284E1759CBAD52300EAE2E74F37A8962F32F17D6186F209F1D4EBEFC9A1F292674B638B7B62C182851A151515ED72A0F1899729233397AA2AAB281D17DA797A79774F9F3E03D3FE6292EC7DF29C55FA7DBFA5A5BE059F5A5756C950B10F8572B41216C86914574D59C806D2B3722906C3BE6760A9416167C8CEC199CCD0C9B7C15E96357A02A7D07BB503740F6C51A764A2290DBFC83D80AC8252CA07DC8232ECAEA2511D8B25197EFEA2340963821257DDC88436234B588F6B5E9370226B1A9A00B515CB5F973EDBA856BEF2D4F9173ED9209B82E8AF8E182683796CF192253A5555557C8D3135E344F028D2394C77B76394330FDBE62EAE6E5D9F7DFEF9011950F9B2E7DF71FBF6C050A7E3BB4E0613BEC0E02D03D7337595D55CDB574A2039A2F391B381D2AA3A29603164AEFD7331DF7F19E5E739A451BEF0A50E985C098B8A91A6502EA292F24479CA81260285436E513946D47152720AA5632E821F5B713AAC3A97C783E09383E16E1C9086E5E362E102FC7DFE9BCAEA9AF4F916EDF28FD6283F3FE1F95719821C282FDDC7962C5D66505D53C303DFD48042E54C640CFA083E94822B62DA30B6E9EAE6D1F23F1FFE5389AD79300B95537D60A85FAADB8841A562F9A95D586C63357CEA555815C31C2806CC62A025B0666EACF0F12A7ECE43A4BF928FD214FEB5B2BE056E2303058023D22E4DB4FB22290710D962738ACA24C0A598BC8E85AB5005B4CC9C3CC91FFB0585004A349EAFA0CB809F8B317825750DFA74BD4AF993AFBDF7BC0C005B1AE7A213E6CE9B7F383E3EB5EB7AD74DAA822184C06D78878452082E488E4494B775712BF8DBFBEFAFC76B1F9659F58F96FC905AEA677B4F08B9A62A1E139FEE36119FEC341698A4DE177D39F73A5BEA9D407FF233E0725A25591554283B01259867E52B54DC7DFDA52A8ACBD6029CA05A7CD14D65438B54AAE642754D6D52F1B047713FCA5BB402E14EF8EA17B664761969085485D8A1DD8F14EDC365DBCB141E7BF2591984D1C3870F9BB860E1A2638181E1372EC6245168D83904D0300A88384BFEE7CF9327B6C6B7EDDE133969D2539C7B49252AC496FDA3253FA450478D7D48C835F9E339622AA07EB05E5B6C39E11E5158524125F0A73F0B955D835C0C1862C0EC22F8BDDC54D989EF02E0BE2CE788EE985E714163DA1D691A375902B0D457AFFB810EA1AABA88A0929C9183E0562A2933BF08565F242DFFFDB8F8EDC365DBCAC73DF6A464A923478E7C7ED1A2C5A6414191B722232E918383279D4699EB8BCB3BBDCE46D0E9E0E05B2B56AF71193F6EDC9FF1722E57E5967DCFCECB032FFF8167086D1EA9869EF8C6079FD804C75457E18B657879DF0FD4C1DC03E7AC9CF4AFFF61237D39731629E322B535EB7FA0EF962CA1A5CB964B60939186ADDBB091F40D8FC0BFC2229125E4E36432D02CE4B1AC6CA808AE651FDEFFE1D26D15E3264CE25A5D3CFBEC7333ED6C4F17C5C5A693A595330691C32916576DFB454591BDB74FF7A2254BAC00FE39997572EECAEDBE9FBD0D2DD4FE3F37FCE36FD69871AD5D51731F4BFF0E5F2B87CBFE95735417E4A61F7CF00F9A377F21AD81357EF1E5743A8001371B1405E948AD42B1E7C58D17CE71F92470C0E3EBB058EC937300977D6F31AE8FDD8D8BDA3E58B2A56CC4F8475E1E3D7AF48BAAAAEA1E37BB7BE82272507D346442C3CFA0B39547F6BEFEDDF3E62F38397CF87076139CB7B2850EDA71198CF050429596C4E8C79FFBC0E8B4FFD50A5452C5B2A8FF6B2CB50C990137AA0F61877417764F7957601BCA4E6D7CF74A4C5CBCF4BD2C2500C525305FFA9E91C3932DB052F6CD2C80E44242127EE6E7B62B2AD11BB3BFCF1F33FE918F94F62B39F4F5611CBEB919D3853EE4EEE146675089D99D3EDD3663CE1C7C9F8FF813C4418981DED57FFED650712E473D3467DD2ECB5CBEB6A9A955BA70429E4AC9D3A9FB01CC00CAE13A82D1D5D2C104F629E4AD5C141CC1C61E8F5C32CC2A3468E4E919A766EC33E519C5C06301AE322C40B65088346BE5BA8DF4E6CC2565EADABAFEBD3DB876ABA19EDC70D9BB9B9B3B5DC05890959555D3FB7FFFFB1E809A003D225BF60CF467BBD703E10E95A54A4B63E484A7DFD7B376292F43C4AFC6D2E7AE3F5732D588D465487B385DE2E82E457859CE3A186486CA850257558AFB94A4BE0157618AD8DCF3470ECBAEE17E7D35FF2D76094968E87CF3DD523A626E277D91502DAE2970C57CAB17B6B9137049BCA9A959F53BEFBCBB51669DBCE4EF19E1EFE558870A2AE77A63468F7BF8B98F677FE3B143D30095CD29A9DE4F4A4EA5E2E262AA6D68A046E48F0DB8A29ADB800CE536E041FC6A29AC31F76AB1946F72E39A9B2FDC60C9C57297F2D9BBF8E2818FF3EFE73E6E2A8A0A1FFF401403CE74033DD0EAEA6A72C797E0F8635E362929898E1E35299B3265CA0A7C067977EA761DFFB3516990170C05545E1A0C95AB8C27C44885A98FBFFE37AB291FCF4CF8D7C29595DF6EDADBA3A46F4416284143CF84533AA22BEA6A6AB986EBA97089650DDC04439203E6ABAA0706AB6A583BFB575EE2DCC0E672F7E7801672090BA0EC6F794F8CAD3B023B063731BC51555549DE18DB0CC6C94A4A4A24030383FC175E78819BAAF2BD27A97BFF6B60CADF339450D90F71A376CAB091A3DF1BAEF0D057A3273EB7E5B1C96F1B3FFBDEC7C16F4F5B9839FDFBCDEDEBF66991F6919352DF340289755E6E2E35F075546844738FB514652BBB068622F799EC36F8FEFD2C797E6F1E82146F142663FF8B81862343E8C0D851454539F961F0ED0CF2D0C4C444D2D6D6BE3269D224DE23E5845E1EE51F0828831D2AA89CBF491D1E88F3BA97A1D7A177C4F0E1FF1023474D1BF5F0E3CBC63F3359E989297FB57AE5A39951FFB3704DF9D71BF7D226651DD2C58EAA33C6D6E3D0592A41C6C06E82C785B82F2015056CBD8394BA83E5B61CEDB350E24A7B5D703F11987269C7856FE5E5651488F1A048CCB4C6E37B5C545455D21F7BEC315C0A215E803875E2FF5D5E7AFEA2C074A7550F0554F9EF64B0EC8BF88C738F91F76CB872E1CE0557247F81DE17C3867F3A7CCCB8B9A31F7D62F5C37F7A59F3D9F7FEE5F4EEEC25A99FAFD8DABE70E31EDABC175FE885A6B41F867A33E147ABB0BFC5BBB0E5E8219420C2174172CBBDB397C0A954666E81B4CB1080B6E259060A37535A524A61489738C2F389DBB97367DAF887C66FC6FFC3A5E78710EF88720AC5119FDDC00359EB5042950F197026C07E49DEF065B7C07D47063C197A4306F81F387E326CC4A82F478C19BB50E1D1899B26BDF69723AF7F36EFCC070BD6144F5DBAB16BE19A2D3DBB94D5A5DDD4F33117291716588AFE6C39B668D8C7B2ABE0548AE1B2855E41339C7356EED346626BA60DDDFA1234ACD9CD30CC4BB1B17DEBD7AF4FC12E1EAEDB131C98D897CE904E76FFFFC6C6F0ABA3BEDCBA8612AAFC77CAB725F86C33603EF3FC8F7299F728345166152FC900BF872303FE1865EE67C3468C983E7CD4986F27BC3065DFCB1F4E77786BFA92C4BFCD5D51F5E937AB3A976FDAD9A78D8D3E576C0EC6613B23479AB0E63662ADE483D942395B88C486611BBAF5A5A518AAC0B7085D4E45D71EAF5FB9765DE688112370BD9EC0C591823B4E188CBC0D955D161BC01F2250C961DEEB38705446BEEDCBD50AFBB1A720F66BEC83D9457C2001861543FF8BA99159631F7F66EDD3EF7C78F0A58F66F94FF96CFEE5BFCE5E5C3B6BC5C61B9BF76BF41A995A911B20B3FFF444378B81F2F6475959195DC07708E6A0177AE9E205DAAE6DD4A3F0F8D3F86E34810B22C506683984892AF111C4EE89DD95BCBEFFC3F8D4FB852BB7E48156CC41EE3188DD04073AF6C3EFC800FF13C77FC93EFC67A3C63DB470C24B6FEC9EF4D6FF983DFBC1E7E1AF7EF255DE6B1FCF6CFA62CE373DDE80DB852CA21CDF2AC4D1BD14F9F1D9207F5ABD5399264FFB3677F898B15C2DAD8578C70F737E923FE593C97F976301AF2AF9FF773F9F67D0D7FC16CBFF97FE3303AD783037C1CB9203C9DF2106CC96C5C7A9C3478D9E3FEA9127D63DFEF2EB0E07AD6C3BDA10E56BAAAAB18F842D14547461489DE62D5A427F59F0C3CD89AFBC73027F88AD9323FE4CD909E393C740F9A4DE5707EA7E3EDC1F01EAC0FFF3CE60C71F96DD040710B99BE0A5FA378823F7A70A63467FAFA9AF9BD8D47DA3EF0A72DE4C7CF35A5D6D0D39D8D9D77E306D4E011A2855AF7C3C3B68C4C8511C98E643D364EF7F49F67B6F6F2DDF0FB0FB79CD1F0DEA9DFFF3C06027DF8F673FCC99C46BF0B79F6DDFBB2FBAAEA303DF149C4C6710E1538B8AE8809EDE9589131ED7C56BB68C7FF259A59163C6F065B9BCDCA742EF42ECC31F837865DC774BEF7E80F26BFEE850077E0EF94C285B2F5BEEF3F3162C30CD2B2FC7184E3A5D80E2B127BF7EFBF6F3A3C78CC195FA623A345B66995FE0C87EF92D88137DCE471F3875BA1BE4FF26A8FC19D8AA38A08C7FEBEDB7D746C7C7B766E0CB6C53F2F3293223A3F7BBE5CB5D478D1CC95983BCD86037C162EB9C02B10B6177F2C069D3BDACF6BF0D2ABB80D10A63C6BC65616D9D53803C341DCBDD3920A0FEA34F3ED184437E09CFCB8B8D276510395562988F41EC3F39203D50C5742FA0FCDC7F1354B65286326AE9D2A536D9B0CEB8F4F43E256DEDE8679E7966BECC02E5BB9D6C89523B12E213C1928F93FF1C93077EFEBF052A6705D2F0D75FFFFAD75D474D4C5A34B5B563A77EFEB99AC2D8B1AFC9A0B1AF1DD8079527F00F9C77FE52CAFF4D50A525FBD69B6FAE7FFBADB736A07EE7A5CE15907C064A9EB8FF520643FEFAFF16A8FCC1192A5B222F6379635CF2B1722B1E723ABFF217CAA1FE1F8BB6EEA40E1469A60000000049454E44AE426082) 
	  END
	  
	  --Them Image dọc
		IF NOT EXISTS (SELECT TOP 1 1
							 FROM   [sysImageProcess]
							 WHERE  sysMenuParent = @sysMenuID
									AND ImageIndex = 13) 
		BEGIN
			INSERT INTO [dbo].[sysImageProcess]
				   ([ImageIndex]
				   ,[Image]
				   ,[sysMenuParent]
				   ,[sysSiteID])
			 VALUES
				   (13
				   ,0x89504E470D0A1A0A0000000D494844520000001B0000005C08060000009F89CE81000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD9200000B86494441546843B55A096C54D715FD2CAD10294BA89556092D6D8AA8A88000AA505450541AA81051455B40404B0B0AC4690B6A444B85024821952A8552405525280A34C425344E080E3131B6C70B9EF186EDB1F13ADE57C6C6335EC678C6C666793DF7FDF7FE367FC6FB484F6319FCCF9CF7CEBDEFDE73675A7F7FBF3296D7B469D35630C60657AE5C59D7D0D030963F5514021BC37A26180C7A878686DC870F1F5666CD9A35A56007F1C1D8E0E020BB70E1C2CE13274E4C19D80C0055121898B1E4E464F7C18307A70C6C0B01056905832C140A3DDDB367CF6B63421BC379E511985CC3C3C3ECC68D1B595301B69640064221565CDFC02A9A9AD9C38101D6D3D333B46DDBB655A3061C25B3EBB475DDBD01965C7297251797B0405F1F7BF4E811BB78F1E2B5C9047B892B10AC2A9B5B5892BB9825E4DFC1CFCD6C08AAECE8E8086DDFBEFDBBA3021C05B37F91281E3C78C09C55552C05CCBE2828640EBC135B3ABB93274FFE7332C0BE830F13A4B36AEAE86069A5E51CEC66A19B7D9A93C71ADBDBD9D0C387ACBEBEBE6BFDFAF53123028EC0EC8454DF9DDA3A965E5621C08A3858DADD522E9AC78F1FB3A3478FBE3D11B0F900F286B055ED5D5D2CABB28A6596EB60D7F3EEB078570EF3FAFC6C1841EE76BB9BE6CD9BF7D5A8805198FD9958115829A4EEACF498C01200F651969339F101061106A4CC23478EFC7E3C60D301544640FE9E1E965B53CB5C55D52C4363E6660416EFCA66FF73BA5817FE0FB173381CEEF180FD8A0731C06ABD5E15CC63042B62B48D9F64E7B20F3332991BE749414E39F3D0A143DB230246D8C6BC60B09FF504FA582132461E1E960D30FDCC54660476E5B613EF395A90272626668C05ECC76A6A0AB2A6FBF7597E5D3DCB0798CB137E66047235CBC5FE9396CE3C2D2D3CC80381C0F0962D5B7E640B68C3EC1681511097401805604660D9366726C12EA767B2C43B053CC8492857AF5E4D1C0DD832003DA1B36AEDF47120DA469599DCC6529688A056CF8C9839D97F336FB30FD23358A3B79D3D545358FFD6AD5BBF170668617691DF5900AB6869E54012CC786689855220EA3672306C653A829C844229ECD2A54BEF47037B11408324F70E0431B12A6A6854C16AD46D340A44AA5182C565DC66B4DA11E414776D6D6D3DBB76ED32A730B050C47A871851FAA96A6D3383D1365AC05435EACC881D09C55551C98542ECDEC1CBC44E003D87771FAE7AD61D08B0423022561A337166C6A0D6CF0CDB0846B4E210731F3BB31132015E145556567A376EDCF88C0628C0DE92ACEA70C8720B39181657A349FA32CE74811033CECE91CE835CA6B063C78EFDC108F602803C0446ABA4B14953A15120E66D2C12412DC1B2D865A891D625471AFB1202A2CB760067575454E4494F4F5FC601114FAF4B207AAF6EBBC7136F196EE5522C4D8DA63303186E6BCA2024FD2B99592C21378F7D9E97CF3ECBC965B9B864E9EC85B29F949696BECBC1F08B7F18C1E4CF2164905ED41976D2BF6990FE4748571F231977F7F6F29D91A123EF414A0E29292909807A56E9EBEB7B7724B0F0DCA86FA304EB0118850D9510C6928F448798BB01B0650ACAB155DDDDDDBEA74F9F32B948B6F401A23193D297605D00A333922F7A16BD3232323CCB972FA73AFD6505125576ECD8F1DA9A356BCEAE5AB5EA0CFEE134EA89B35D7E7F6F005B60DDC6545183F09B1A7126C1026054EC767BF1F77F5FB162C519743967E87973E6CCF9238062B1562BB883E8E828D27F2D7E193B73E6CC37FD3E5F27315313B1F53ED373A304EB0F0D30A8AE5E3EC3F24E65FA020E56575747805FC35A88F53C5EDFEAEDED6DD2C16CEE33AE469D59105B989A9A4A0D1B5D9EDFC47A41ACE7F1AED62604565151A16CD8B081833E79F284143A03875D17FDCCF2C3C0926FDD22B02DFCC1762FA845696D6D55AAABAB2510E5CA1990BE094CBF62D4BAD12A90E0C02073A8CC228351BA828A3843BA6E44FA3231CB43D68F0E96CD3898C3D138229821F3470133960536CC9078C1AC09603F8FB88D3640EA360683F591CF2C1C2C44600E47F378C11A4C6011EE33297DB18DE306D304127E66C67495C5732381A1CF2681FC723CDB1845FA7ADDA83153B791C07E317130EB1523CA0209C6CF4C154874E94757A3B8A9A39E59369BA8403435DA5D31B206B16CE3E448DFDA58846590C939336CA34DDD680726D438718198D395F5A6D6CE6CDCDBA84B9F98195A262ABFCDCC04586A2A05F544D428FA33AD8B29B5C9FA1A18319BF8361233BD22D61B0B558DDA364E52509B3A4F80996E6A154C0864A259BFD6D2E6CA22559605131788E18A0198A9F38CA8C6890804A55C8368732DDB68AB4687636481C8B2C09023455940606A6E8CD49F5904426541E42B860A1E74894A6363A3020FCA541604FA1EF01E4D6D99ECAC09BD9413599FD418592054E89497972B9B376F565A5A5A2420674660B48D792852AD6DAEDD368A522E3A18D58B8B172F5650767396A81D67604B055823375DCC3E88B50651D5989A923232B39A9A1A0EB660C10265EDDAB58AC7E3990E2F4A030B2FBFC3839A2A62517E474E57D45860FB161D3870E0A7B1B1B1AFEEDEBDFB27A74E9DDA083FC3AB351622EB1B3388DA0CEA71D687C60236A077F5EAD56FE319AFEEDBB76FC3FEFDFB69CDD7CA04D4F4CBB0652D6450CA45CD37B54CAA40CCDE95EC62AC6746CDA0343A710CDCE9A157555555124C83EF73403483DC92A0A6CDBC54307BE99BABAB7872086433287A73BD830D31F412AA458192FBB4B1F3E4DD23811333F46745F5E2F28C16D4F01DBB0391DBDCB4B4B4EB809A4F0DFC1BDAA7E0FE623B6FDECB612795094BC95A8368DE156C5BDEC0DFCE625FE00CC92CA326BEA0BAC6D4C0C7C5C57D02B0D514C4DFF6FBFD6D12F02E3971B0FDA42D11D12D107EA3B493B8359196C12EA6A6B124694DE0684A4A4A1A366DDAF45780BDCC330654F49E66BAB477984D1783056834A4753B4975E58CA64B313EAC345DE05FFD1B406F60ADE060F1F1F18BD1C80749203D686DA59564B593EC8D32014676127C47CD4E42DC217E3B67CF9E7D40A4B00532172A656565EF4B761E182F56572EBAC3A35B49649491E7488E03E66B570044CDBB3A3E91993E2727E72584C16352E1FDEEEE700B304222365A80B4955E9F8F6FA1D7EBED8B8989790B103BB06648E96B334FD04E521D9A7E56D12ACC4D719F998B54E916A87692D1DC24206275F6ECD92F05ABA55A06313AA94EA7739D1C1CB4E1135A6D5BABAFFFA9B46D715E1F4089349B793838C07C3E5F68D1A2457F01C86FB0F42986D590C6BD56240D691E06528DB000AD60D2232643FA26264F740462A6E612AC7EA8B11219C4343A2E2828D82A0708CDF73B35ABDD7A791A0D69D56A6FE50E2A92C4E3A54B979EC0B3F762CD8E0A464C6155D4D2B9519B4BF2E719C4B63FCB859D94A50F11705609090934222105BE6202B263466088FA3F4976E4ACE6586631C6F29BC62345623C42C240B63883E7EEC77A76546000FA0AA4CB53981FD93C2F6CF0A3667D1A69D1E0878643348741C2AD12AC368401456226D89D96462525666795F441D45A9FCE8C62CC892026B9D35D88C1C1050146BE55F82BC2E0877CAC1848B847FAFC59989F996B7D785760D6EEF7F35124B6BE75FAF4E9BF03C2665BA068CC043B3EC1A05550173E86A40985BC9D71FD5F16AC5E1C17188CE41FD0D4881ED88C89535A99FD8015B1D93B77EE5C4A4D5BB1A68D0B8CD86110705D8E8E5DD84A1A8ADFB08C8E8F1F3F4E3731C95DAD3522BD229D99FC7D7E7EFE2B3C0C68288E195992BB04367B011F9053107776760E2E5CB8F0309E4F4EECB807AC5A66C1375A72290C68DC4F736AE3B8FFFCF9F39982D5CAA8AC46128864E772B97E26D995D0171930EA175F64185EB264C9313C672F9639358D45FAD6EDBD77EF5EAD54269D21658B6BD7AE150B566B4764355A66045C585818CB835C2CF2F0D7AD5BF71E9EF13AD6DC4905A31486F1A29700C5D76A646ADA382AA0B130237688BBBF111895E77BF7EEA5AA89E4FEDC948021E6E6777575F52149DF436A7A132053F61D1E1E0AE7CE9DFBEDCE9D3BA9E824569153D3A8E946FF8F14B8545B6CC38A9C9A26098C1EF30DACAF8FF579FF07F5562459EF9E3E0B0000000049454E44AE426082
				   ,@sysMenuID
				   ,@sysSiteIDSTD)						
	 
		END
END

-----PRO----
IF Isnull(@sysSiteIDPRO, '') <> ''
  BEGIN
  --Lay MenuID
		SELECT @sysMenuID = sysMenuID
		FROM   sysMenu
		WHERE  menuName = N'Tổng hợp' 
				and sysMenuParent is null
				and sysSiteID  = @sysSiteIDPRO
		
		SELECT @sysMenuParentID = sysMenuID
		FROM   sysMenu
		WHERE  menuName = N'Chứng từ' 
				and sysMenuParent  = @sysMenuID
				and sysSiteID  = @sysSiteIDPRO
      IF NOT EXISTS (SELECT TOP 1 1
                     FROM   [sysMenu]
                     WHERE  menuName = N'Phiếu nghiệp vụ tài khoản ngoài bảng'
							AND sysMenuParent = @sysMenuParentID
                            AND sysSiteID = @sysSiteIDPRO)
        BEGIN
           INSERT [dbo].[sysMenu]
			   ([MenuName],
				[MenuName2],
				[sysSiteID],
				[CustomType],
				[sysTableID],
				[sysReportID],
				[MenuOrder],
				[ExtraSql],
				[sysMenuParent],
				[MenuPluginID],
				[PluginName],
				[UIType],
				[Image])
		VALUES (N'Phiếu nghiệp vụ tài khoản ngoài bảng',
				N'Table check from outside your business account',
				@sysSiteIDPRO,
				NULL,
				@DT52TableID,
				NULL,
				9,
				NULL,
				@sysMenuParentID,
				NULL,
				NULL,
				3,
		0x89504E470D0A1A0A0000000D494844520000005500000055080600000038F5A85A000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD9200002F0A49444154785EED9C07545567B6C73F3B6A9A8931C9A49B984CEA64669279994CF26212638B1A3526D6D863EFA8F42AA02860A3235D7AEF82A0A048478A74A4F70E521405F6FBEFC3BD0E31684C2499CC5AEFAEF55FE7720B707F677FBB7DFBDC614424FEFF36C40418EA1F599D3E4274FA0E135D7EC32121AE878F12DD498F8AEEC447EE438F8A5B0963157AE287BDD3737E98729FA348ED731229BD49E291DE04217E89FA5284E8F217A2FE2064081D1277E5F68706CA27FB4750FD8789EB21C3014A41DC4A84F8782FC52B889EAC9127FA2E895BB4191F7525B45D506FAC980AB0FF0F55B25440ED84B576478D14B79218E8987BEBD298F1BDE5C3AAA87118D146005D0F6D10D4172C747B61797F384B9DAD6923EE2A0D6B8559EA56DFCCD3B2369AAD69B57186BAE5E7D3D52C5F9BA961F5F80C75ABB1D3552D477CA16229166ADB88AFB56CC44C354BF1A5AAA5C06BC44C756B31078FCDD7B2C67DAB9F582A2F41D6AD4BA361ADF786DA1337EAE3BE6680EC03543D1C7F9041B517B1BDA94307759EF629C192BBD15FBDFC6769588BBB699EB6ED22454BDFB443CEC18DFB2D3C8B36189F4E5EAE6F1F345FDBC674B6BAD59EE9AA160BA7A958FCE36B4DEBE7BF52B79AF8A58AC5239F2B5B284C53B5183E43EDE7A0C2BFC2CF5E0F636B0554063B98E0167A52466AD22DFE8880EAD90F94B6C1520D456B6FB278EA175B6AC0E03E75C8A07EA16C2106D35425B3912B0EBBB86596D452434B3BE597D5525A7E295D48CBA3C00BA9E4101CD367E21EDEA969E7D7B2FD845BD96A43A7D8EF0ED8BAC1620D676B586E9EA166397DA6BAE53BB3D52C267FA162F1CCE72A560F4F57B11C215FFEEC02386075FA0C133763868B9EC491A22761105D1A39AC2F5724484059A9FDFE9414214D413DD162564FBC103D71F7A7DE4421DA4FFF18AADC3A8710AA39A0FE549FED371BB5D2C8C525AFBAB5AFFD165143C72D6AEAECA1E6EB50E72D6AB876836A5A3AA8BCAE99F24A6B2829BB88CE26659157542259059C277DE760DA6FE9D3BAE9A86BC18A438EE716EAD89E9AAB61A53E4BCD72F50C558B195F2899FF7D9A8AF92BB0F489D3D5ACC6DCBA048B8D1B057770872E8C9CDC5739ECC66DA8B500AB01A0CA901AA00608E35BB1702317EEA198FEE77AF0BA4ECFFEA8DF70F8DFD17FC8A1E28389C1F4B9B204D535ABA2A98F6156B7DDA0EAD6EB54D5D22FFEB9B6BD5B82DDD8C5B07BA9E50604E04D0CBCE91A15D734D095A24A8ACD28A0A0D834720CBB44C7BDA248CB21B077A79967F5DA23CE894BF4EC7C61DD6633D52DD4A6299BAE98BADF74E6674A66FF805EC20A7AF866CCA8957D1D322B654BBD099903A83AA40DA88E22E5668C1876334A88BBEA1CA0460BD1E10D9847FA81FEA7A08E5C69E4EA9E0DA8ADB093F65EA22E2C403E5E839ABB89EA65B02B5BBAA8A2B9932A9BBB24E035005ECFB0D9AA6FF4512B605F835A3B6F5223805736B65141792DA5E495D2B9D43CF2894925EBA00B64E87686546CFC1A371F77CB5D7ED0217A81F629F7B4903FE7529F3C64C8E006E3675DE810FCAAB9E8EC3E2B5EE80E47367117DD8C84850268A331C4506560E579EA905B2A828B184C7009A35619B979E6D7B4F6D562999F397789A2A2E3E84A6E219556D760F97750470F0C07A059604C1D7D0CBB0F167C8BAA60D5154D9DFD02F02A80AFBDD62DC16EEA0260C0C68FD48E375FEBEE075ED7D249A5B5CD940D7712975D4CE1F129D47665327EF313D0987E9FCA4A035023E8186426E8469058782354889F28048F85C9801E954135FA1DA0222D128309BE6EF46A63579FD2D62ECACCCDA7A55BB7D2E29D3B698B9A066D575123555D3D323E614E4E2E9E14722682129353A8B8AC42B2C4EBF8E83066E906774C1D5023DC430D4CFE3668C0BE6DD932D87237724D02DD47ED35E7A9B7660ADEFD37E865E85168385125605A41EC0670ECF612965D4148D110D507EA3A1EEB800F6D3A0EA026320D02758EA6B5B414F828BF2F95FDBFB6449DA1662106D397AAE6A3D798B8FB95C3E292D2326987C931323817458723CF92AEAF0FA93839D28EE3C769AD9636AD50DC4B2B77EDA20D7BF6D21E1575D2D6372453332BF2F1F1A34BF1095450528EE0D64B30ECDB37B6EC56C0AB83E5B2CB606B968BADBA1A27A0354B93FA6ECCC32BE7421F436F408F13B5C15ABDF0916D21474137DDC5950E5F3142AADAE4F205500F219A4F022A5B298BC1FE87A18E01D4C00A404DCEC8240D5B7BD28F8CA295A6A6B4C9D696947DFD48F74C18195F88A163172F92416828A9B9BBD36E6B6BDA6C6C44ABB5B468D91E455ABA6D1B2DDBB089D66EDA4A7B9554E9B091319D3EED4CB117C3E96A452D825BBFFB60E00CBA0D26DE00F7C07EB93DED5B3CA20C6D8016419F42AFE30D0F139D07501708796BAFB7E806C05719A2245867BB1B809A01E8B17EDD0BEA57324BE5A3FCFE03592A7249543C3FD574358B31EB8E7A8456B6016A7A0669D8D8D17E2F2F7A6FFD7A7A67F56A7A7FE326FAFBC68DB4C6CC8CECAF5C21C7EC6CE96807D9646490456A0A9DB874890C232348373080549C9D48C74C9DDCCCA7D355EF89D414A840F9F68F53F4D1C9E465F811B99E5C4F819EC72836FEA29413373695D1CDFC25F86C969016B4055A08FD1395D573449761AD7E801A08217075B88915ED2E80095D431EDA6201982764FA03415500D43355809A74395D06D593DE5BB78EDE5EB54A02FBEAE2C5F4EDA143742A2D8D6CD3D3C93A15511C3A75F9329D8C8FA7831111D273765959141FB383BA7347515F3E20644117205EC296D061447144F39BDAC3A8467B2CA56A3E41290613A9B7F11820064066903AB4169ADEEF060A461145E0BD6721586D97A7706E7310A2CD11402D65CB9E973E83FDBDA1CE82950E2624E863D61FF308AF42E049484D23B553A7E850F4795A85E5FF95A6264D555494002F3336B90DD52A2585AC9293C906508F5EB8403B1C1D49D1D59554BCBDC9274C877A2A1E01105818A7483710701A2712E5BF0A287FC652C6F1F09F88F63C44B402CFABBC009F9089D75F805C2143683BF43584C0558DD75DC4EB62A12404AB33A2B0C5460614CBBED91430FF8050150035AA1A097E7CCA655AABA94D5AFE7E640A0B3C191F4726B11749E7CC193A18758E6CB1E4ED618D76999992C5DA62F9F3D2DF7DFA34ED7373A3BDD076070772B45F4DB7AA014B4A8D00959E97F9C955386A20658045B60160913B51490C1E6B8152213F88AD760FC4BEF503443904AC44004D81AEA00888153DADE6624DB3A598DC6429463799032A83BD1F4B45FF03BF547C85238BEFB37E75F49FAD612506133A4E0A3F9CF08CAE40EE78B5B296B40F1FA5F58AFB680352AA8D07F469C7D163A46C6F47EAEE6EA4E5E74787CF9DA31309F16499765982CCB284C55AC21D58C07A0DC2C3493B389822BD57514FD33BB2FF1B9649FF8296424A9039140AE541AD50059408794326D06E88FDEAFBB074E4AE0C340E7286F62260A1D17273B7E8BCAE26F2DA0D847F8BB1D0423A35A3F18478B1E1B818D9C06E0005C09DC9FF6C19483ECAEFFF5650C76E3CE975B1A0A6853A91D4233FA7B2B2724A4C48A2A0E050B2B275A2034647699FCE01DAA2AA4EEB9454683580AFD3D3A7AD274ED27E2727D20B0E22E3981832875BB0CDBA422E57AF927D4E366585AEA2BE2E041C29EF042009D44EE808E4029D95C18CC7310CB287F4A0CDD01CE85DB810BCB71A30D3210FC814D2817641DC1A5C053F0DF5E07EF70ED1D1A92CB2DB74854FF341A18612755AFD11F17CDD1131A20E25EB90439D837EE76082F58EDD74D23BB6A4A19DEA5A3B2827BF804ACA2BA8E33A2740FFBEB5B6B6D1D5A262E4A3C9E41B184ED68E2EA48F9C76AFB62E6D02E8354A4AB412D0371D3C44BBCDCC01DB910C827C29C70FCBF8D62CFC224EEA39F8AC8154215EE68E90A74C76381A41FBA015D06710FC2F2940BC4007F405BA71BF192A8692A1203CCF4502C3DE09A1B9DDB71AA071BCB15B5CEB5016575A3485E7EF0BD5D43BB6063E352A3681740F1993B99D33D9387B90AB5F08054744515C42225D2DAD405DCF75D3BF6FD76FDDA29AC666CAB95A4217E253C93B20841C5D3DC8D2DE89F6C2B237225FDDB46F171506AEC69BBE83DE82BE86381FE5BCD4400692611E80F6CAA0CFC6F1AFD0A41FC31C0876B0FB3700B801CA836220769B6CCD004C9B47D290439D8BCEFF60FA4ADD7ADC16539FB8DA8E6E40092507572FCA2AAEA098C4540A3E1B4D2EDE8164EBEC0ECB74036C27B282857A050553745C02E51695524367B794D4CB6F9CD8B75CBF45E5B52D94915B4231F14914E16B4E2D1776C92C104B9AB87A5A09F132DF21D3461C97416CD50850C4818EFB0003ACB417A0181C575A4D32807538B2EA21DE866985B8DBD58BF7F1EBF41EA35EAD67A955F7E1A8DF1B6A424DC70DF20B89A0A088F3D4898FC25DA746B4F7B8B42CAE69A59C924A4ABA9243919712C93FFC1C3979FA92A9B5031DB3384596B06C672F6F0A3B1F4319052552EB909B2E0C9885628A5A0B42E87AE661DCE3A88E6A893E87BE82E6CBC4D6F929F49E0CE8D87EA00C922131B44AA842A62A1C6B6440D93A1928BB8436BCE73A548154CCFB2DBA6E32A5BD4E77AC62B58618C13B1FFC4BE53B20B233F6EBA3FF3CEC230DA6391AD6E3B69AFB24D602AA6F4838F98545510B4870F9C8E28E531DBA510DE8A536A2AC6C406D5FD3D64D158D1D54545D4FD9C59594989E03AB8E21270F1F3247603331B5A4A3E656E4E8EE4DA1E7622931339F0A2B1BA82EDE92BA8B1DF059BE849E82383BE065CE20D93570A70A392D8D861FC6E767480CB1142A9341AD1E0093413350B6DA16868FF7F031F139EAB57A975AB4274556A98877ABD584A8D114124C063957DF59D203439D8F8DAEC1344FD366FC760BBFE4DA4E400DEE87DA0CD3626BBB9B18761D7A79DCDEAB475FB0FFC8BA4EB56D6D545CDB4897738B28323691DC7C03E9A4952D99A0F1627ECA81E22C90C3D607C980F2F29E2013EA7C86C99B7E2DF8BC0C9103111F192C5B2603E51D015EEE72EB6488D7F0FA5628671CE2DE9B74FDD0EBD76A9515F655EE1723AA5501545D06151B930C72DC8489921E18EA1CF8D4C1344BDD7AFC7673DF1486CACB3F3CE692B45C19967C17E05E80E5CFFDDBB219382C1B16DDCC0DEBEE9BD4DC751DEDBF0ECA2C2CA3F00B719469B3867A5A3885E2FCF5F66783AFC07D86C730D93A19262F79B9753250B975B215B3FF6CC27B8AA0883F51AFF95FA859E3A988F23DE2DDCABD4254290B3110EA288571D21F93DF1E18EADDFAA96852B3A55EAEEFEA262F446F6B7B672AAEA8A1EAA676049C1B6850F750EB2DF8572CFD3A64087570077280F7035BFE1A76238DD7D1B0EEE9A3B6E278BA9EC56E807DAB2C105D975925032DBFC33A07FA4EF952676B2DC67B13E07BDDFE4C5D86AFB757ED51D85BB25D0CAF5004D0FD3F85CA308714EADDFAA9D354CC1EDE6EE997DE7CA39BDCFC82E87BE49B6AE696A4676641E688F4DEC16114939042B9C5D5D88F6AA6D68E4E6ABBD927B9886640E26056D7715302DDBFB7C55B2DDC271DDC7D48CF9F3D41B79AB800B803285B270365EB9407A281D6C940197021DE9781F237FC69C97736AA3E7DAE648B78AF649B1065BB84F823407D6487A55F66EBF56E72F70BA4957A7AA411E887523390369F3C4973D0F6DB76C498342CAC48DFC29A4ED83B92676018C5266750F6D5322AAB45FBAEA38B10BBA400D7824E7E13BAFFEC63E5A0EF045CEBA34A7DBD9CAB02CE2D99550EB6DC07A64AEC3B193897ACD12390EC23A0693C4F75DBC6FA65AF13238BB60851BA5388F2DD42484BFF3F6CA98FEEB4F4BFD20CA89EFEC1A4A66740C71C9DE9A0A3136D41753467F326527671219D9060D2090DA635870DE9AB0D1B68374A546548CFD29A2C4FBB930772DC988454CA2E28A292AA5AAA4187BF1590DB502F70E7BFB1AB4F0A6E35CDD7A829882BAA7FF477B1D812E540EF168CD84239E7642BE57D2B431CBF87503135AC131199AB84C8592D44DE3A210A370951B20360F7C19FAAF407A95A8DFE40F57B2EFF09BBAD02B29AE0533DFC82C9C1D98D0AAE965221828AAF7F1029A96A908D8B3B9D74F1A043A75D69336AFEF93BB693B2AB1BA9FA78912AB65CD61E3E4C33D7ADA19D68BEE89CB2257D4B1B3267D081A1A8D2E229F54A2E9A35F52883AF534B790E7524EE0454447B8EDA77A64A0C9923BB3C5592072486CA81291BEFB180B852DA81A6F566D19ABE4C4C8244FA5221D2203E667EDF0FF92A5C423903FE0F40CDB9069FEAECED4FDFEF57227D58AA7D40301DB73945BAFA8729E572161595D45061DE55F274F722352D5DB2450E6A8A92F4880B83D6A3799B36D33E276709F21E97D3B4DBC19E66AF5D47BB8E1D2735B80E43B80D0B9C9CB3C7F75077351A2B6CA56C9903A3BB3C5562B00C93973C83BC06B5435D10477A6F4836BDD2B34750CE32F145FA7742642C1E20FC9CFE6DBFF8F1EC95BF89A55A62E3EFA7C280C584DDD6817912542F7F5AACA1418A9E1EB4DFD393561F32A4AF014B05500E3BBB922BCA53532B6BD23330A28C2B79545252465773B19FEFED4BEA3A06E4029F6CEDE94DFAB60EA46A6343D357AEA4AD565652037BBF873B2962ABC573CF54EABB85E6733BC070CAC44B5A1E8C789917413CF2C38F314C1657549D103752187C149E578554204CB114AD12AA29DF0871190007D5223C8EE77F83E57F57A84F28DA04E6B7C0A7BAF906489D275B7F7FD23BED423F1CD0A3D99B36D1166CF2ED7173218DA0405A67749816601B5B0796771CBED6D9DB87CCB0AF6560684C69492954595A46E595D5949957442A9ABAE408C8E61E9EA48BD7EC4346916C3C154BFF49C001903BCBCC4200BB8CC7D96FA2212D0165982C4EB9786A852D163B00640869410705D56C1581A90BB1F401F55EFA3DA13EB9D726A8A0193ED515CBDFF6941DE56464537E6109F90561E754D7804E619BE4287CA826DCC2323555FA0AC16BA79303ACD983D4FD7C69CBB163B468CB36D242D03A0997E0E0E54B3E816748534B8FB2D232A8BEB185EA1B1A292F31869A22FED25F35C98172CDCEE23D2D8689365E1FEF9E32DCAB103750586CA59C29F440B9789C8B2303088316D7D44445CA42313E155053619577D3EF0975D2DE534157FB7DAA1F6D3A70800C1C1CE924670026C749455D8B62D112BC5A5C45A56555E486C68992F6016408A7916659D25E730B5AA1A14EB3B66C2625B80C3D6C021E080C244DF8DAF93F6C20B5E327E888B52D1A30DE1471529D6E16A3E6EF020C5EC6F24E531E7EE6CEBE9DA046C527294EE73BAAB756E8A34C3CC61514839403E5965F051E77878E42D850BC6922E8CA62F14F5EFA7F144B7D0A508BDB01D5010D911580AA13164A46E8E4EFB5B5A345DB769012F2555D58A1B98313E91F3A4CFA078F507A563E1595D7507E410139B97BD2C6DD7BE980A9052921306D3331A11D96963477EB16D20A08C06046241D0C0DA120DD59D4DB89FA9E6B7B0E440C8C977928B648B08CF30FCEA1586C247A044791EEEE0D4DEDF6C3BA2907CF73801AD83FE5E01586C7B93FE20061D0A2609DD8096B1592B5DE45BF9FA52A9B3FBDCF2EB8B40D504F7BFAD15E4D1D3A6066494AA666B40A416BE1CE5DA40720C7B001C8DA82B4E96B58E0EEC34748D7D49C6CB1DC4FA0596274CC940A0A307F5551452900EE19748696AF5D4FFB91EBEE85B52A22C0259F78AD1F0E47750E44EC1BB1D40BF73D46BEC7D428361B73B19925E41E7896D6E89CACF25D3E79478793E8A552BC8E5D861C2C5B6D42FF7BA52D960041554AC22D75012C1551FF6EFA5DA1EE07D41640F54143E5E8492B8A46173F212D8B2C11C5D76FDA463AEC068C8F92360A82CDC849576A6A911146838E9C3F47DAD80C5CA5AD4DB3BF5F458AB0624358B467F0193A17974C878C8F514E4E0E65E61753645000359CE11E29807083241A7B4A183A8B3A388BB6A9EE2767DF70BA98851D842B25E4E27F06BFF378D52C2DDB5733BF156B3B181EFBDD81D6CA16CC0316BC95826CA0E5B828B83C5F8CFE432C7F34549E51B20F29E76A8795907685DC301BC57B5006478E92FE11133A7B211E1DFC548ABE944006874DE8FBF51B49EBE871D2411EAB8F69963D985E59A9A34DFA11D84945E5A5883980AD085E33962E2565CC0B5879785354903735F88EA3E698B1547EE2552A3C319722ED0E91C6E163B4F0FBB5E41218D96FA900EBEC13422BD48F4A50A3E720C75C2CB675F14006072B39D8AA7E98740E8AC75E949FE8CDFA4EFC2513967A37FD06966A853CF5A79AA66CF1276587D0CA9AB62EAA6FC7B0586727DDB8D5836E12E241C3358C02F543B6419EEA1B1A41C7512D1D32394167A363293CEA02F905869016AAAC6500AD67654386489F0E8784D001FF005AB4771FA9F87AD35E7717DA0E1FAB6AA04ACB572E2635F4127CCE9EA3B318A1740F8CA29D4A1AE4E41F0E2B2D86B59692836720B20CE3AAD95A76AFC661495F9A873274B1D8733D0400E55039B5E2790016F2DA3EB883C21FC40F69C84733B8101844430E7526800E26CCAC3EBBDF36B0AAAEE51A9D8FBD4487B1D4ED9D5C290C1FFA0A76565B5A5A8937F8DA50BF1755D6511C72D190A8F352A6E0E213482191D1646E634B5A3A07293CFC3C85E3672F8036B575A4E53F6CA243A8B20EC29AF58382480B59C1BCDDBBE90758B1929B2B2962006E2B82DAE28D5BC82D08960A2B65D9B9F9D162E52355B3B5ED5E8943F091F4B510B94B845A374FAB3058DE66E1EC2019E2264B86A04A0D610B17F03B4245D79B2FC9B9535FAA5A3CB7DFC6AFBA0EB9A4A3B30B6962CBD91D79A6B59D3D1D387890B450009C42D40F400B30E5721AD5D5D74BB3A83C695D5DD7409733B32830F23C9DF609A0D3DE01E81F845028360C7D03C248515199C242C328187B5A7E616751DA7AD12A64138A701DDA1E1EA4E1E30D4BF6A2E5D8E2760D88A28BF0A7EC02AC5DBCE9DBFD8655B3756C272700282B9E8F009BB75C1CB8992D73039CC70E985EC1B44A46D25C313C05B9EA601A7A4BBD0B545CB6F3BCF2A980EA9AC62672452E1916798ED0B9A36A4076F1F022250CFEBAC32A6DB1ED7C1239A9210216477B3F04A3C4A464AAA8A9BB3D8F5A8B043F13FD81C8D82472F70FA193D6F6E48A13E409D061D8C30A0F0BA37DFB95E9B8B51339FA8691998B0F695BD8D0B22DDBC92DF8BC049465E9E44EDFEC35A8FA4AC76E720C40CA150D2BBCF0152C768D30B9C57D03B90B9059EA8D00D19DB948BC71B760F57B427D49C536A0A6AEB9954EBBA1418232352BBF903AD0ED4F4CCD20275777AA45BB8EDB7945E5556483F2749FB22AD9C27A4DE15F8F6383CF0A56EDE5E72F4D0D5637B74B13D66CCDD7B09572A5A842CA0442E07FB90CDEA7AE4D9A078FD2312B47F8CE20B89150DABA47995C82CE525C4E19C5E7569085BD0B2D50D4AF9AA36B3F3962AE10037506812B7A9610055B85C54DEE707116C06E00C75B085A994BC5B46458F57FDA5227ABD806026A1BB92289DF87A578F4A4299D4013450DD3D3EA5A3AB0BE02AA87CFE55BD4C558C91D5C2DABA49CC2624C5FA7D32980DE89F92B33544E272D4F61EBDA8EBCD0364CCECCA6AAA60E69CF8B41E755355344622679855F245B0423330794BE074D68ABA20A054527513CA026E65792E92967FA7A976ED51C1DFB97CFC352EFD4393C160BB0657B84C38D70D184EBA56A1B8C4442F1767124669E5088C6F3B80D83864323A11132F1B4DCD0ED510DE64FF931CCFCBFA26A175453874913574F2F72810B28C4340A47FD13D856D9B8790B1921E137386C8CE77DE8281AD3C731D6535C5E4DB52D6DD4D8DE85001747C7514D65175C05E822BA9488992A87D3B475D71E3A8A42C2D4EA14D9A355E81371912E6597507A5903A516D550420E5FB5924B91C957E04FAF52EC95224AB95A4D276D1C68CE0E9DAAB9803A57DB56C8F5CD614FF1DAA7F3C4B061CCEB9E3786390A1A0B29C8E0F2CF7C9F014BBFE08137FEEE01F555096A130215EA750717376994A719DBCD67CF5FC072779000A6A4675164F405D280E5AEC420F061E49FB6E80F9C898A463FC0978EA1022BAEA8A686B64E6AC17B13D148398EC7F2D0F0E671226B8C11E99B98D1FA6DBB69BF963E99DABB49E56854721625E55750425E395DCA2AA6CB2575700D76F4D5766D407500543B40EDD77726FEE29937DEBF174D86395A0693818E1D3366CC736FBCF9E69C091326BC29837A1BEC1040E50B727FAA692A9653D4EC836A6B01351C33A85A3ABAF095561486192A73E49DC6474F5059759DE4577BB0B31A191D4336760EB0E44CF297A602ED31E3AF0CD06B24DF1A14160E5F9C2E05BC93B0F43CB889CB6803A61714533A2ECFD43D684426E63664E7EE4B0647CD68BFB63E691A9AD0F9D41C4A2EA8A4F4D27A32C6F3B3B66AFD08EAB7C6BE62CAFFCE11C347B0A1FDE4C69627B74486F6C8B871E35F7BE64FCF4E555252B1AD6F6CBAAE6770C87FFC430FBF2203CBE0255720B903F99D5F7A1C0C283F06A8AFAB032AD7EC15B50DD21E5348F859B28315EA603E551D43C096A7ECC903054046761EACD98DACD01E641F7C0D93811D377BE9FCC538D2438DEF131844F6E85E9D44DF5407A9D8DAF51BD06BB5C72E6DB0344F7009D5DA41A363E48DBE40615503E596D5D0F9A474DA053FEEE21B4C4959572905E00D8D8FD3CC2D9A55730F38BC3457C74ECCD3B5170B0EBA8817FEF6BF77032AB74E18E6D817A64D9BBECBD8E8E4F99090B355D7AEB5F7767675D1A584645ABA7CA5F3180585A7E53EF6C1A162E817979AFF4448A9FEACE1105C5B8AC6322FDFCAFA2669F9365EC3F54F754D9406907EB0485EEA2C25353558A60A79A0DB1F8DFD27F6BFE17001D6B0DE560C64F07C6B4D632B0255306DDEBE8B8E995BD311345BF4D0C4D63334A255EBD64BD022509125A565536A5601CA611372459E1B877E43527601E9A187307D8B66E53C3DC71719E8E2E301E28D69B2D6FD8FB1CA973B5BE7C353A6BC3E5FDFE048586E4E59777A7A11A5A6E7536D5D3DA5A45EA65408567B514141E145998FC596EC035BEAE0C93F02D51B9A8E21B59C6F72344FBC9C018BCCA5FCE2722AAFA9A7FAD6766A45039BA37F41711925C35786A3A2B2733A8DA065260533EEB972D6108B41E17CBCA614633F9CAB9E4080CA8335A6005CE4C54469AA70DDD6EDF41DAAAA5D8686A401987A478ED1E61DBBD0CC09A76474B7D855E8E81FA4691BD52ABF06D4AFF59CA4B9DA17FFFE132B65A00C731C2FF72FBEF8725B6A6A7A1D672815958DE483B2F7226669B96049463E6D6FEF50FFDA6BAFCDC76BC7C8F4E0CB1F5F92800B297E2A94A96F6A3985D455A13A4ACFCA43D0F19172D3A0D033148129BEB8E4CB9496950358A592E53623DAB3255737345341693925A4A449D516A7599CE3EA1D32C214A0231D4491B01717B05DC4F357B08B508CCB26CBEB5AE820AE1E54C58E81694A1219A018D86E61468B705951003A64A9D98598C12A264DCCB67EBE4115509D5EFCD6D85BBC331B5BA5FFBEB1FF6431D0F1D0E33366CCDC535454D2CA405BDBAE510C4E6822FE6E76760E25262691A7A757E73F3FFA17F654A513C0014CCA001ED852EF01F56D6DE790BACADA7ACACA2B24FF903029AD72836CD1EAE382C03730580A4011E762E852522AA56464511E6653ABEA1A11ED3B703535AE4905E4D4EC7C0A3B77819CD195E2B69F0AFCB10146DB8F23F0B9A02A0B435F603F760D74B1D7E55159496E2525649D9D45DBE08F7D83C2E832A0E695569396EE019AFA836AE55C5DC717BF3B1620DE5FB2F54EA80CF42168E2DCB9F3544A4A4AA524BAB5F51A5D884DA684A4342AC4887C4A4A2A797979DF9836ED4B03862F83CA96FA9BA7546F6B3987D69557D5C0A7564AB96602A2F7B90B972808D7A206C06239CA3B9C76C3927741C9891ADFCD532A610343C329EA422C5DC458501A80F2C44A01B65CB8F192575A4929F0C74111E73052E94927D0673504E8B59BB74A57092AE38A16C3B39164141727CD1284E1759CBAD52300EAE2E74F37A8962F32F17D6186F209F1D4EBEFC9A1F292674B638B7B62C182851A151515ED72A0F1899729233397AA2AAB281D17DA797A79774F9F3E03D3FE6292EC7DF29C55FA7DBFA5A5BE059F5A5756C950B10F8572B41216C86914574D59C806D2B3722906C3BE6760A9416167C8CEC199CCD0C9B7C15E96357A02A7D07BB503740F6C51A764A2290DBFC83D80AC8252CA07DC8232ECAEA2511D8B25197EFEA2340963821257DDC88436234B588F6B5E9370226B1A9A00B515CB5F973EDBA856BEF2D4F9173ED9209B82E8AF8E182683796CF192253A5555557C8D3135E344F028D2394C77B76394330FDBE62EAE6E5D9F7DFEF9011950F9B2E7DF71FBF6C050A7E3BB4E0613BEC0E02D03D7337595D55CDB574A2039A2F391B381D2AA3A29603164AEFD7331DF7F19E5E739A451BEF0A50E985C098B8A91A6502EA292F24479CA81260285436E513946D47152720AA5632E821F5B713AAC3A97C783E09383E16E1C9086E5E362E102FC7DFE9BCAEA9AF4F916EDF28FD6283F3FE1F95719821C282FDDC7962C5D66505D53C303DFD48042E54C640CFA083E94822B62DA30B6E9EAE6D1F23F1FFE5389AD79300B95537D60A85FAADB8841A562F9A95D586C63357CEA555815C31C2806CC62A025B0666EACF0F12A7ECE43A4BF928FD214FEB5B2BE056E2303058023D22E4DB4FB22290710D962738ACA24C0A598BC8E85AB5005B4CC9C3CC91FFB0585004A349EAFA0CB809F8B317825750DFA74BD4AF993AFBDF7BC0C005B1AE7A213E6CE9B7F383E3EB5EB7AD74DAA822184C06D78878452082E488E4494B775712BF8DBFBEFAFC76B1F9659F58F96FC905AEA677B4F08B9A62A1E139FEE36119FEC341698A4DE177D39F73A5BEA9D407FF233E0725A25591554283B01259867E52B54DC7DFDA52A8ACBD6029CA05A7CD14D65438B54AAE642754D6D52F1B047713FCA5BB402E14EF8EA17B664761969085485D8A1DD8F14EDC365DBCB141E7BF2591984D1C3870F9BB860E1A2638181E1372EC6245168D83904D0300A88384BFEE7CF9327B6C6B7EDDE133969D2539C7B49252AC496FDA3253FA450478D7D48C835F9E339622AA07EB05E5B6C39E11E5158524125F0A73F0B955D835C0C1862C0EC22F8BDDC54D989EF02E0BE2CE788EE985E714163DA1D691A375902B0D457AFFB810EA1AABA88A0929C9183E0562A2933BF08565F242DFFFDB8F8EDC365DBCAC73DF6A464A923478E7C7ED1A2C5A6414191B722232E918383279D4699EB8BCB3BBDCE46D0E9E0E05B2B56AF71193F6EDC9FF1722E57E5967DCFCECB032FFF8167086D1EA9869EF8C6079FD804C75457E18B657879DF0FD4C1DC03E7AC9CF4AFFF61237D39731629E322B535EB7FA0EF962CA1A5CB964B60939186ADDBB091F40D8FC0BFC2229125E4E36432D02CE4B1AC6CA808AE651FDEFFE1D26D15E3264CE25A5D3CFBEC7333ED6C4F17C5C5A693A595330691C32916576DFB454591BDB74FF7A2254BAC00FE39997572EECAEDBE9FBD0D2DD4FE3F37FCE36FD69871AD5D51731F4BFF0E5F2B87CBFE95735417E4A61F7CF00F9A377F21AD81357EF1E5743A8001371B1405E948AD42B1E7C58D17CE71F92470C0E3EBB058EC937300977D6F31AE8FDD8D8BDA3E58B2A56CC4F8475E1E3D7AF48BAAAAEA1E37BB7BE82272507D346442C3CFA0B39547F6BEFEDDF3E62F38397CF87076139CB7B2850EDA71198CF050429596C4E8C79FFBC0E8B4FFD50A5452C5B2A8FF6B2CB50C990137AA0F61877417764F7957601BCA4E6D7CF74A4C5CBCF4BD2C2500C525305FFA9E91C3932DB052F6CD2C80E44242127EE6E7B62B2AD11BB3BFCF1F33FE918F94F62B39F4F5611CBEB919D3853EE4EEE146675089D99D3EDD3663CE1C7C9F8FF813C4418981DED57FFED650712E473D3467DD2ECB5CBEB6A9A955BA70429E4AC9D3A9FB01CC00CAE13A82D1D5D2C104F629E4AD5C141CC1C61E8F5C32CC2A3468E4E919A766EC33E519C5C06301AE322C40B65088346BE5BA8DF4E6CC2565EADABAFEBD3DB876ABA19EDC70D9BB9B9B3B5DC05890959555D3FB7FFFFB1E809A003D225BF60CF467BBD703E10E95A54A4B63E484A7DFD7B376292F43C4AFC6D2E7AE3F5732D588D465487B385DE2E82E457859CE3A186486CA850257558AFB94A4BE0157618AD8DCF3470ECBAEE17E7D35FF2D76094968E87CF3DD523A626E277D91502DAE2970C57CAB17B6B9137049BCA9A959F53BEFBCBB51669DBCE4EF19E1EFE558870A2AE77A63468F7BF8B98F677FE3B143D30095CD29A9DE4F4A4EA5E2E262AA6D68A046E48F0DB8A29ADB800CE536E041FC6A29AC31F76AB1946F72E39A9B2FDC60C9C57297F2D9BBF8E2818FF3EFE73E6E2A8A0A1FFF401403CE74033DD0EAEA6A72C797E0F8635E362929898E1E35299B3265CA0A7C067977EA761DFFB3516990170C05545E1A0C95AB8C27C44885A98FBFFE37AB291FCF4CF8D7C29595DF6EDADBA3A46F4416284143CF84533AA22BEA6A6AB986EBA97089650DDC04439203E6ABAA0706AB6A583BFB575EE2DCC0E672F7E7801672090BA0EC6F794F8CAD3B023B063731BC51555549DE18DB0CC6C94A4A4A24030383FC175E78819BAAF2BD27A97BFF6B60CADF339450D90F71A376CAB091A3DF1BAEF0D057A3273EB7E5B1C96F1B3FFBDEC7C16F4F5B9839FDFBCDEDEBF66991F6919352DF340289755E6E2E35F075546844738FB514652BBB068622F799EC36F8FEFD2C797E6F1E82146F142663FF8B81862343E8C0D851454539F961F0ED0CF2D0C4C444D2D6D6BE3269D224DE23E5845E1EE51F0828831D2AA89CBF491D1E88F3BA97A1D7A177C4F0E1FF1023474D1BF5F0E3CBC63F3359E989297FB57AE5A39951FFB3704DF9D71BF7D226651DD2C58EAA33C6D6E3D0592A41C6C06E82C785B82F2015056CBD8394BA83E5B61CEDB350E24A7B5D703F11987269C7856FE5E5651488F1A048CCB4C6E37B5C545455D21F7BEC315C0A215E803875E2FF5D5E7AFEA2C074A7550F0554F9EF64B0EC8BF88C738F91F76CB872E1CE0557247F81DE17C3867F3A7CCCB8B9A31F7D62F5C37F7A59F3D9F7FEE5F4EEEC25A99FAFD8DABE70E31EDABC175FE885A6B41F867A33E147ABB0BFC5BBB0E5E8219420C2174172CBBDB397C0A954666E81B4CB1080B6E259060A37535A524A61489738C2F389DBB97367DAF887C66FC6FFC3A5E78710EF88720AC5119FDDC00359EB5042950F197026C07E49DEF065B7C07D47063C197A4306F81F387E326CC4A82F478C19BB50E1D1899B26BDF69723AF7F36EFCC070BD6144F5DBAB16BE19A2D3DBB94D5A5DDD4F33117291716588AFE6C39B668D8C7B2ABE0548AE1B2855E41339C7356EED346626BA60DDDFA1234ACD9CD30CC4BB1B17DEBD7AF4FC12E1EAEDB131C98D897CE904E76FFFFC6C6F0ABA3BEDCBA8612AAFC77CAB725F86C33603EF3FC8F7299F728345166152FC900BF872303FE1865EE67C3468C983E7CD4986F27BC3065DFCB1F4E77786BFA92C4BFCD5D51F5E937AB3A976FDAD9A78D8D3E576C0EC6613B23479AB0E63662ADE483D942395B88C486611BBAF5A5A518AAC0B7085D4E45D71EAF5FB9765DE688112370BD9EC0C591823B4E188CBC0D955D161BC01F2250C961DEEB38705446BEEDCBD50AFBB1A720F66BEC83D9457C2001861543FF8BA99159631F7F66EDD3EF7C78F0A58F66F94FF96CFEE5BFCE5E5C3B6BC5C61B9BF76BF41A995A911B20B3FFF444378B81F2F6475959195DC07708E6A0177AE9E205DAAE6DD4A3F0F8D3F86E34810B22C506683984892AF111C4EE89DD95BCBEFFC3F8D4FB852BB7E48156CC41EE3188DD04073AF6C3EFC800FF13C77FC93EFC67A3C63DB470C24B6FEC9EF4D6FF983DFBC1E7E1AF7EF255DE6B1FCF6CFA62CE373DDE80DB852CA21CDF2AC4D1BD14F9F1D9207F5ABD5399264FFB3677F898B15C2DAD8578C70F737E923FE593C97F976301AF2AF9FF773F9F67D0D7FC16CBFF97FE3303AD783037C1CB9203C9DF2106CC96C5C7A9C3478D9E3FEA9127D63DFEF2EB0E07AD6C3BDA10E56BAAAAB18F842D14547461489DE62D5A427F59F0C3CD89AFBC73027F88AD9323FE4CD909E393C740F9A4DE5707EA7E3EDC1F01EAC0FFF3CE60C71F96DD040710B99BE0A5FA378823F7A70A63467FAFA9AF9BD8D47DA3EF0A72DE4C7CF35A5D6D0D39D8D9D77E306D4E011A2855AF7C3C3B68C4C8511C98E643D364EF7F49F67B6F6F2DDF0FB0FB79CD1F0DEA9DFFF3C06027DF8F673FCC99C46BF0B79F6DDFBB2FBAAEA303DF149C4C6710E1538B8AE8809EDE9589131ED7C56BB68C7FF259A59163C6F065B9BCDCA742EF42ECC31F837865DC774BEF7E80F26BFEE850077E0EF94C285B2F5BEEF3F3162C30CD2B2FC7184E3A5D80E2B127BF7EFBF6F3A3C78CC195FA623A345B66995FE0C87EF92D88137DCE471F3875BA1BE4FF26A8FC19D8AA38A08C7FEBEDB7D746C7C7B766E0CB6C53F2F3293223A3F7BBE5CB5D478D1CC95983BCD86037C162EB9C02B10B6177F2C069D3BDACF6BF0D2ABB80D10A63C6BC65616D9D53803C341DCBDD3920A0FEA34F3ED184437E09CFCB8B8D276510395562988F41EC3F39203D50C5742FA0FCDC7F1354B65286326AE9D2A536D9B0CEB8F4F43E256DEDE8679E7966BECC02E5BB9D6C89523B12E213C1928F93FF1C93077EFEBF052A6705D2F0D75FFFFAD75D474D4C5A34B5B563A77EFEB99AC2D8B1AFC9A0B1AF1DD8079527F00F9C77FE52CAFF4D50A525FBD69B6FAE7FFBADB736A07EE7A5CE15907C064A9EB8FF520643FEFAFF16A8FCC1192A5B222F6379635CF2B1722B1E723ABFF217CAA1FE1F8BB6EEA40E1469A60000000049454E44AE426082
		)
END
		--Them Image dọc
		IF NOT EXISTS (SELECT TOP 1 1
							 FROM   [sysImageProcess]
							 WHERE  sysMenuParent = @sysMenuID
									AND ImageIndex = 13) 
		BEGIN
			INSERT INTO [dbo].[sysImageProcess]
				   ([ImageIndex]
				   ,[Image]
				   ,[sysMenuParent]
				   ,[sysSiteID])
			 VALUES
				   (13
				   ,0x89504E470D0A1A0A0000000D494844520000001B0000005C08060000009F89CE81000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD9200000B86494441546843B55A096C54D715FD2CAD10294BA89556092D6D8AA8A88000AA505450541AA81051455B40404B0B0AC4690B6A444B85024821952A8552405525280A34C425344E080E3131B6C70B9EF186EDB1F13ADE57C6C6335EC678C6C666793DF7FDF7FE367FC6FB484F6319FCCF9CF7CEBDEFDE73675A7F7FBF3296D7B469D35630C60657AE5C59D7D0D030963F5514021BC37A26180C7A878686DC870F1F5666CD9A35A56007F1C1D8E0E020BB70E1C2CE13274E4C19D80C0055121898B1E4E464F7C18307A70C6C0B01056905832C140A3DDDB367CF6B63421BC379E511985CC3C3C3ECC68D1B595301B69640064221565CDFC02A9A9AD9C38101D6D3D333B46DDBB655A3061C25B3EBB475DDBD01965C7297251797B0405F1F7BF4E811BB78F1E2B5C9047B892B10AC2A9B5B5892BB9825E4DFC1CFCD6C08AAECE8E8086DDFBEFDBBA3021C05B37F91281E3C78C09C55552C05CCBE2828640EBC135B3ABB93274FFE7332C0BE830F13A4B36AEAE86069A5E51CEC66A19B7D9A93C71ADBDBD9D0C387ACBEBEBE6BFDFAF53123028EC0EC8454DF9DDA3A965E5621C08A3858DADD522E9AC78F1FB3A3478FBE3D11B0F900F286B055ED5D5D2CABB28A6596EB60D7F3EEB078570EF3FAFC6C1841EE76BB9BE6CD9BF7D5A8805198FD9958115829A4EEACF498C01200F651969339F101061106A4CC23478EFC7E3C60D301544640FE9E1E965B53CB5C55D52C4363E6660416EFCA66FF73BA5817FE0FB173381CEEF180FD8A0731C06ABD5E15CC63042B62B48D9F64E7B20F3332991BE749414E39F3D0A143DB230246D8C6BC60B09FF504FA582132461E1E960D30FDCC54660476E5B613EF395A90272626668C05ECC76A6A0AB2A6FBF7597E5D3DCB0798CB137E66047235CBC5FE9396CE3C2D2D3CC80381C0F0962D5B7E640B68C3EC1681511097401805604660D9366726C12EA767B2C43B053CC8492857AF5E4D1C0DD832003DA1B36AEDF47120DA469599DCC6529688A056CF8C9839D97F336FB30FD23358A3B79D3D545358FFD6AD5BBF170668617691DF5900AB6869E54012CC786689855220EA3672306C653A829C844229ECD2A54BEF47037B11408324F70E0431B12A6A6854C16AD46D340A44AA5182C565DC66B4DA11E414776D6D6D3DBB76ED32A730B050C47A871851FAA96A6D3383D1365AC05435EACC881D09C55551C98542ECDEC1CBC44E003D87771FAE7AD61D08B0423022561A337166C6A0D6CF0CDB0846B4E210731F3BB31132015E145556567A376EDCF88C0628C0DE92ACEA70C8720B39181657A349FA32CE74811033CECE91CE835CA6B063C78EFDC108F602803C0446ABA4B14953A15120E66D2C12412DC1B2D865A891D625471AFB1202A2CB760067575454E4494F4F5FC601114FAF4B207AAF6EBBC7136F196EE5522C4D8DA63303186E6BCA2024FD2B99592C21378F7D9E97CF3ECBC965B9B864E9EC85B29F949696BECBC1F08B7F18C1E4CF2164905ED41976D2BF6990FE4748571F231977F7F6F29D91A123EF414A0E29292909807A56E9EBEB7B7724B0F0DCA86FA304EB0118850D9510C6928F448798BB01B0650ACAB155DDDDDDBEA74F9F32B948B6F401A23193D297605D00A333922F7A16BD3232323CCB972FA73AFD6505125576ECD8F1DA9A356BCEAE5AB5EA0CFEE134EA89B35D7E7F6F005B60DDC6545183F09B1A7126C1026054EC767BF1F77F5FB162C519743967E87973E6CCF9238062B1562BB883E8E828D27F2D7E193B73E6CC37FD3E5F27315313B1F53ED373A304EB0F0D30A8AE5E3EC3F24E65FA020E56575747805FC35A88F53C5EDFEAEDED6DD2C16CEE33AE469D59105B989A9A4A0D1B5D9EDFC47A41ACE7F1AED62604565151A16CD8B081833E79F284143A03875D17FDCCF2C3C0926FDD22B02DFCC1762FA845696D6D55AAABAB2510E5CA1990BE094CBF62D4BAD12A90E0C02073A8CC228351BA828A3843BA6E44FA3231CB43D68F0E96CD3898C3D138229821F3470133960536CC9078C1AC09603F8FB88D3640EA360683F591CF2C1C2C44600E47F378C11A4C6011EE33297DB18DE306D304127E66C67495C5732381A1CF2681FC723CDB1845FA7ADDA83153B791C07E317130EB1523CA0209C6CF4C154874E94757A3B8A9A39E59369BA8403435DA5D31B206B16CE3E448DFDA58846590C939336CA34DDD680726D438718198D395F5A6D6CE6CDCDBA84B9F98195A262ABFCDCC04586A2A05F544D428FA33AD8B29B5C9FA1A18319BF8361233BD22D61B0B558DDA364E52509B3A4F80996E6A154C0864A259BFD6D2E6CA22559605131788E18A0198A9F38CA8C6890804A55C8368732DDB68AB4687636481C8B2C09023455940606A6E8CD49F5904426541E42B860A1E74894A6363A3020FCA541604FA1EF01E4D6D99ECAC09BD9413599FD418592054E89497972B9B376F565A5A5A2420674660B48D792852AD6DAEDD368A522E3A18D58B8B172F5650767396A81D67604B055823375DCC3E88B50651D5989A923232B39A9A1A0EB660C10265EDDAB58AC7E3990E2F4A030B2FBFC3839A2A62517E474E57D45860FB161D3870E0A7B1B1B1AFEEDEBDFB27A74E9DDA083FC3AB351622EB1B3388DA0CEA71D687C60236A077F5EAD56FE319AFEEDBB76FC3FEFDFB69CDD7CA04D4F4CBB0652D6450CA45CD37B54CAA40CCDE95EC62AC6746CDA0343A710CDCE9A157555555124C83EF73403483DC92A0A6CDBC54307BE99BABAB7872086433287A73BD830D31F412AA458192FBB4B1F3E4DD23811333F46745F5E2F28C16D4F01DBB0391DBDCB4B4B4EB809A4F0DFC1BDAA7E0FE623B6FDECB612795094BC95A8368DE156C5BDEC0DFCE625FE00CC92CA326BEA0BAC6D4C0C7C5C57D02B0D514C4DFF6FBFD6D12F02E3971B0FDA42D11D12D107EA3B493B8359196C12EA6A6B124694DE0684A4A4A1A366DDAF45780BDCC330654F49E66BAB477984D1783056834A4753B4975E58CA64B313EAC345DE05FFD1B406F60ADE060F1F1F18BD1C80749203D686DA59564B593EC8D32014676127C47CD4E42DC217E3B67CF9E7D40A4B00532172A656565EF4B761E182F56572EBAC3A35B49649491E7488E03E66B570044CDBB3A3E91993E2727E72584C16352E1FDEEEE700B304222365A80B4955E9F8F6FA1D7EBED8B8989790B103BB06648E96B334FD04E521D9A7E56D12ACC4D719F998B54E916A87692D1DC24206275F6ECD92F05ABA55A06313AA94EA7739D1C1CB4E1135A6D5BABAFFFA9B46D715E1F4089349B793838C07C3E5F68D1A2457F01C86FB0F42986D590C6BD56240D691E06528DB000AD60D2232643FA26264F740462A6E612AC7EA8B11219C4343A2E2828D82A0708CDF73B35ABDD7A791A0D69D56A6FE50E2A92C4E3A54B979EC0B3F762CD8E0A464C6155D4D2B9519B4BF2E719C4B63FCB859D94A50F11705609090934222105BE6202B263466088FA3F4976E4ACE6586631C6F29BC62345623C42C240B63883E7EEC77A76546000FA0AA4CB53981FD93C2F6CF0A3667D1A69D1E0878643348741C2AD12AC368401456226D89D96462525666795F441D45A9FCE8C62CC892026B9D35D88C1C1050146BE55F82BC2E0877CAC1848B847FAFC59989F996B7D785760D6EEF7F35124B6BE75FAF4E9BF03C2665BA068CC043B3EC1A05550173E86A40985BC9D71FD5F16AC5E1C17188CE41FD0D4881ED88C89535A99FD8015B1D93B77EE5C4A4D5BB1A68D0B8CD86110705D8E8E5DD84A1A8ADFB08C8E8F1F3F4E3731C95DAD3522BD229D99FC7D7E7EFE2B3C0C68288E195992BB04367B011F9053107776760E2E5CB8F0309E4F4EECB807AC5A66C1375A72290C68DC4F736AE3B8FFFCF9F39982D5CAA8AC46128864E772B97E26D995D0171930EA175F64185EB264C9313C672F9639358D45FAD6EDBD77EF5EAD54269D21658B6BD7AE150B566B4764355A66045C585818CB835C2CF2F0D7AD5BF71E9EF13AD6DC4905A31486F1A29700C5D76A646ADA382AA0B130237688BBBF111895E77BF7EEA5AA89E4FEDC948021E6E6777575F52149DF436A7A132053F61D1E1E0AE7CE9DFBEDCE9D3BA9E824569153D3A8E946FF8F14B8545B6CC38A9C9A26098C1EF30DACAF8FF579FF07F5562459EF9E3E0B0000000049454E44AE426082
				   ,@sysMenuID
				   ,@sysSiteIDPRO)						
	 
		END
		
END
----Bỏ check rule trong BLTK----
declare @sysTableID int
-- BLTK
select @sysTableID = sysTableID from sysTable
where TableName = 'BLTK'


--TK
Update sysField set RefName = Null
where sysTableID = @sysTableID
and FieldName = 'TK'

--TkDu
Update sysField set RefName = Null
where sysTableID = @sysTableID
and FieldName = 'TkDu'

--Cập nhật menu cho các user cũ
Exec UpdatePermission @menuName = N'Phiếu nghiệp vụ tài khoản ngoài bảng'