use [CDT]

declare @sysTable int,
		@sysSiteIDPRO int,
		@sysMenuGT int,
		@sysBalance int

-- 1) Thêm field
-- Công trình dở dang
select @sysTable = sysTableID from sysTable where TableName = 'CoCongtrinhDD' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'TK' and sysTableID = @sysTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTable, N'TK', 1, N'TK', N'DMTK', NULL, N'(TK like N''1%'' or TK like N''2%'' or TK like N''3%'' or TK like N''4%'') and TK not in (select  TK=case when TKMe is null then '''' else TKMe end from DMTK group by TKMe)', 1, N'Tài khoản dở dang', N'Unfinished account', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'fk_CoCongtrinhDD_dmtk', NULL, NULL, 0, NULL)

-- OBTK
select @sysTable = sysTableID from sysTable where TableName = 'OBTK' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'TrangThaiCT' and sysTableID = @sysTable)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTable, N'TrangThaiCT', 0, NULL, NULL, NULL, NULL, 10, N'Trạng thái công trình', N'Project status', 12, NULL, NULL, NULL, NULL, N'0', N'0: trạng thái không phải số dư công trình; 1: trạng thái nhập số dư công trình', NULL, 0, 0, 0, 0, 0, NULL, N'df_obtk_TrangThaiCT', NULL, 0, NULL)

-- 2) Chuyển menu Số dư công trình vào menu số dư trong Chi phí giá thành
select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'

if isnull(@sysSiteIDPRO,'') <> ''
BEGIN
select @sysMenuGT = sysMenuID from sysMenu where MenuName = N'Chi phí giá thành' and sysSiteID = @sysSiteIDPRO and sysMenuParent is null

-- Tạo menu Số dư
if not exists (select top 1 1 from sysMenu where MenuName = N'Số dư' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGT and UIType=2)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Số dư', N'Balance', @sysSiteIDPRO, NULL, NULL, NULL, 0, NULL, @sysMenuGT, NULL, NULL, 2, NULL)

select @sysBalance = sysMenuID from sysMenu where MenuName = N'Số dư' and sysSiteID = @sysSiteIDPRO and sysMenuParent = @sysMenuGT and UIType=2

Update sysMenu set sysMenuParent = @sysBalance, UIType = 2
where MenuName = N'Vào số dư chi phí công trình' and sysSiteID = @sysSiteIDPRO and sysMenuParent <> @sysBalance and UIType = 3

Update [sysImageProcess] set [Image] = 0x89504E470D0A1A0A0000000D4948445200000055000000190806000000406F624D000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300002E2200002E2201AAE2DD920000077A494441546843ED996D4C5B5518C72F850533962D4A0C0A66910DA6731B4EA77E5816B3E007626236E3A7196546B32F4BF8B2C5902C7E729A1005631633B34F8EE174EAD80B6C9961406929140A14282FE3A5C0A043680B145A280C0A1CFFCFE93DDDED5D3B8A8C0C169BFC73EE3DE7396FBFFB9CE79C7B1BC51893FEFF3D660204756A6A6A5DCBEBF54A8B8B8B12CD8552B7DBBDD5E3F1644F4E4EFE0CE5429F618E89CA79224F5A2DF181AC67A8B3B3B3524B4B8B74FAF469293737573A73E68C343C3C7C6B666686615E4ADDC3FD8FD03E9AEF6A01A576D73DD4E9E969697C7C5C3A71E28414171727A5A4A44459ADD64EC00E009DF67A194901B91A93274FDEB91A70D73D54F23A78A5B4B0B0209D3A758AA04A80DA26A04EC25B87C6C698DDE562743D333DCD010326C90795419F425B1E176025D4280C301A8A516903EE4994AF916DC88EAED78C0056333737A7C9C9C989EEECEC6C25A888B56CDCED66F53DBDAC0E6AEE1F607DC3C3CC01C01E4025B85E8096010F213D0BBD0F6D5C096001351D80EE403DD05D7474170322F5C969BF7CDD8DD42A8BAEBB9E8042F73B35D5052FECF2CDCD754D4D4ECEF2250FAF9CF07898B9B78F354002AE00DC6B77B091F1091E16082EA532E001A4DF437BFF0B5C0195827820E660E7646313136C745DCA1D18F718BCD43EE60A4025B04202703DF2DA6CF798CD39C2E78C07E207EC0F0F8B901EFA027A3952C002EAA8126ABBCDC64CD69EA0274B83080C889EFA0AC53D2784C2E52B6D23B151DB2B81AAAF0560CA6F1DB071C0E36E0F0F1F0AC0F701F56FE86368F3A3000BA84E25D446346EE8E864D59D5D5C5590B1AB9B99BA7B586DB75596F25AE43D484D01BB87CB6AF1C01E94533B91B74BFDABDB7E545F54460E526BF58FC38494DB8B7BEA9BCAE531D4A08CE65A87BC7678F0E0C80873C1E3032708BF070F423F4107A167D4804342AD01C4DB961656D6D2EA97A595695BDB98E14E475855CA65942E752DDA51DA45D2F64A6C445FE1DA5097D3BDBEFD0ED3415570B0E6BBFDEC9ED3C9DC803A231FCFE4F8DB873407DA23E0064115C15A078045A67A76A3BE21A05BE64600066882FD90087CB832657E28BB48EB8A76D4F6E1DA7C1C7DF9FB2C856E375B580944CED5D8DB8B0D6E5CB9B1F14D717E7EDE8897A9A490504BCC4DEC0F4315BB5C6D6497AB8CEC2FE88AB196DD6C303FAC7AE491A84C79ADB415F9C24E9485B30FD58F685FD98FB23D651FEA3185EB2F54FFEA31A2EE8DBA0676DD54C78AEBEA99162BD7D2D7CF37350A0900098E8CE12D6E52A7D3DDC8CBCB7B3E24D49BA85CA0D5B1DF7495909E5DACD0B34B9506761560AFD64048AFC829BF96F379AA90B80FCA57D453D615ED8AFAA2CD50ED05F2546D296D036D871953507F624EF2BC686E85D53570A66AEE58B462EB106707B1FC69EF595C58E020B1DC7D959595E6E3C78F7F9D9898988ECF32A9D0F690508B6A4DEC7C9996831512602FE90D1C7040742F44F9A25C9927F29565A1DA50E6A9DB5297897BE578D47D86AB1332BF8AFD8EFA17E144BF56E8E02835AC1A71B57FD8CE26701298C3CB04FDC8334D2653DBC99327BFDBB163C70780B807DA09BD09BD03EDE550110F5CE2004CC788D2C62676A15CCB1B7FB468004A85B0C7837960836B7E2FE49F005750FE52FD8A3AA2EF08ED1F9A8FBFFF7C38D0F9B272BE2A4B30F70E1CABE84DCC27832498838383A3E7CE9DFBF3C081039900F73AF42A0728496F436F40C9D016288A4375381C1DF45A87F767EEDA3E9F8F791078DD5E48A4741D242F9BC003586B1AC7F2B4E35D7F7864943990F60D0DF1F0452B4E3CC0028024A7F9A5B49C9711C876BCC2923D7DDD628B8BDC2B9D4EA7A7A0A0A0F8D0A14359F1F1F1EF02D82BB2671248F2CCEDD0B3D086A02FB204B5A8A868B7DD6E2F41A0AD2B2F2F6FD66AB54D1515154D3A597A9DAE59A7E3F7F5427ABDDE5C6530B4920C95952D90056A262D958FF2D0F611E4575755519F6DBC4F03EFD3DFAF21D077B36B6C6C863E9CCC4C7B9913A004540E121E79415BC1AE23C435E22C6A1F0548D88A3809A88B46A3D1929595F54D5252D27B32C85D48F7416F4174FD02141BF6D336412D2E2E960E1F3E4C3629B24BA721558B62875AB40C8494F64BE5ABDBA665447596CAA7FEC92E9CFD6E2A6F6A6AB2E2E30A7F1B22EF232FCD2FAF60D76A00B2A787FD830D87CE986279539C349BCD1DD9D9D93FA4A5A57D248F8396B78893D46E22B4312C48650141DDB46993C822A834316A2452D144953094E097931FEE2146922FFADC151B1B9B66B158385402475FA306F0E1C4E670F0FBB9FBF7F9D2A61F56A72B3F3FFF5A7A7AFAE71A8D861E142D6F7A68224ED2F2F6C7C9E5FC54FF5151E5E54A833A4F42D1EA7E0146939A9A1ADDDBDBDB4D7B84FCC6C3CF930BF33E0ED2E572790B0B0B4B8F1C39F2654242C24119243D141127E958140F05C7C915405D4ED535674B2B0EBBB364B3D9CE06DC1117B4F192F76279E72527276760E074047A0DA23849306955BE08858F93CB99ADCA53975375CDD962E94BDBB66D93323333A58C8C8C0F8F1D3BF6EDD1A347BFDABF7FFF273131310490E2241D7FE83C4961652BB479D9CB7BA9993F4D505573A55828F6051127092CED1B740CA290B53ABFA7182AED0DCF412FC94A401AB73A14835BFD176F38C4DDEF419ACE0000000049454E44AE426082
where [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGT and [ImageIndex] = 1

Delete from [sysImageProcess] where [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGT and [ImageIndex] = 2

Update sysMenu set MenuOrder = 3
where MenuName = N'Phân bổ chi phí công trình' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGT and MenuOrder = 4

END