USE [CDT]
declare @sysTableID int,
		@sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysMenuParent int,
		@ListTypeID int
		
select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = 'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = 'STD'

--1) Them table DMNH
if not exists (select top 1 1 from sysTable where TableName = 'DMNH')
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DMNH', N'Danh mục ngân hàng', N'List of banks', N'BankID', NULL, NULL, 2, N'Stt', NULL, 0, NULL, 8, NULL, 0)

select @sysTableID = sysTableID from sysTable where TableName = 'DMNH'

if not exists (select top 1 1 from sysField where FieldName = 'BankID' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankID', 0, NULL, NULL, NULL, NULL, 0, N'Mã ngân hàng', N'Bank ID', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 1, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'BankName' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankName', 0, NULL, NULL, NULL, NULL, 2, N'Tên ngân hàng', N'Bank Name', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'BankName2' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankName2', 1, NULL, NULL, NULL, NULL, 2, N'Tên ngân hàng 2', N'Bank Name 2', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Address' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'Address', 1, NULL, NULL, NULL, NULL, 2, N'Địa chỉ', N'Address', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Telephone' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'Telephone', 1, NULL, NULL, NULL, NULL, 2, N'Điện thoại', N'Telephone', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Disabled' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'Disabled', 1, NULL, NULL, NULL, NULL, 10, N'Không sử dụng', N'Disabled', 5, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DMNH_Disabled', NULL, 0, NULL)

-- 2) Thêm list type Ngân hàng
if not exists (select 1 from ListType where ListType = N'Ngân hàng')
	Insert into ListType(ListType,ListType2) values (N'Ngân hàng',N'Bank')

select @ListTypeID = ListTypeID from ListType where ListType = N'Ngân hàng'

--3) Thêm Menu
if isnull(@sysSiteIDPRO,'') <> ''
BEGIN

-- Site PRO
select @sysMenuParent = sysMenuID from sysMenu 
where MenuName = N'Danh mục' and sysMenuParent = 
							(select sysMenuID from sysMenu 
							where  MenuName = N'Quản lý tiền' and sysSiteID = @sysSiteIDPRO)

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Danh mục ngân hàng' and sysSiteID = @sysSiteIDPRO)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Danh mục ngân hàng', N'Bank', @sysSiteIDPRO, NULL, @sysTableID, NULL, 3, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 23, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300000B1200000B1201D2DD7EFC000022E049444154785EED7A095CCD79FBF6B1EFC636F619CB980763DF42A1505144A8EC3BD9774259B24525A57DDFB4D21EA2854A8442D9B22F21D9F77D66AEF7BA7F9531F318E679DE67F9BF9FFFEBF3B9FD4EE79C4EE7BAEEEB5EBF3F1500D5FF76FB5F4F8008E0FF93202474EAAEF159EBD0ADA7AAA7A6B6AA479F7EAA2E3D7BAB7AF5D355B5EFDA43A5A5ABA76AD3A99BAADFC0C11F7FAF335FD7193454D5A5472FE53DF299DD3434559A3A7AAA0E5DBAABB4070F53198C1CA752EBADA51A3272BCAA335F1F6C3C869FDB4B79AD2BDF2B7FABA766BF527CAD83FEB051AB4C17AF4CB3F10A79626EED58C8F77569C7BFD9919FFD57AD6D6735D5A061C6CADFE8A8A6F145FBAF92D0BE8B9AAA97F6C06AEA7D753B0C186A643663B1F9212BB78057DE31C9084ECC4448522642938F61B6D9DAE324E19B4E74CC5F2281EFFB1F4D8281C93855DB8E5D2AEB0C19D18B6A583E7DD18AE44D2EFE6F7D625308FA2882F61F81FFEE34F8C51F542C604F3A2D0D265366F87554EB59BEA31AD520647CC14489EDA89A41C38CFE67284164DC4F7F886A90F1E8529D7B68741F317EAAE5CC65ABD337B9F83DF68E4E568087261F55C0FAC51FF808BE8404B90A31CEA1F1BFF4D51B32AF4DC72EFFEF9040AFA9D4B5FA57EBDAB37767FD11A3D6CC355F9FB5C563C773EFE8A422A9D3762464D0EBA9F08BFB3C7821C097AF79C7242130E110D66FF77AD955BD77EF768CF72F2941F2D97F5509ED9808198FD5750D4698CD5AB63A83C07F1120218922F5C38AB415E0C572FFB3AB8F023E195E5189F0884880FBAEBDF08D4DC69CE56BCF75ECD6A3BE24D7CF11D1494D9DE46BABDAF27BFC57C24162B175C7AE8DC64D318D0E8CDA8BB0942C0433B9F913B810F135E0259EF72906EF19B90F1E04EF161E0FD7D058B884C5F11A87919366845369953A12B080FE685440E7EEBD5483879B2815EC3F4E82944C7A466DFEB295A762F6A52021251D217B52211EFD6BE05314D98BE705BC78DE2D7C375C09DC39381A4E3B22B13D6097F2D8C66307B407195AB4E9D4F5B324E81B1AFDE74910E969EB0F31B2B4B2BD179F940A8F8010ECD81583DDC9CCECBB19D75F90BE2F93A178DE3BBA08BC78DE5DC0D3E32E2131700E8A8263E02E38F887639B6F28B67A07938C9D30DF6CFF56AD77DF81EDF9B7FFA884FF38098CFFB2FDF40CCC1D3DFD5E472724C3D1CB1F2E7EC1F00B8BC2EEFD07109D98CE50282A779F9A848794452F011F21E0F7FC267B827752C047C0818005BC9D4F306CBD76500501D8E2E6A7FC6CBA68C55536722DA44993D0903CD1A5476F95FED011FF5E2568EA0C54FDAD6D47A5832401F58CC64CF00FA2D777EEDE0F07775FB80786C12F3C1ADE2111088A8A47526A064213D218164524FC063E099E5122FBDFC017C9BE18BCFF4ED8FB85116C086C3D7F03BFD9C50756CE5ED8E4E405796C3C71FA1EE6872A428290D1A5679F7F1F0992717F68DD5ED5BDB756BDDEFD75FB4F9F3DCF71CB36C7FC5DF1FBE01B1A012B7B577806EF42C0AE58F852053EA191F0E2CFB1544752FA518500C9F65222BDA2F61765FCF03D700DA7EC833FF5FC2E820F27F822E9DB32FEADDDFCB1C5D597E0BDB1C9D1131BB7BB63BDBD0B3638B861B5F576C90F9BDB76EEF6EF2341668096ED3A55D6D4D1D71D3F65BA8DAB8757F691E3D9387EEA0CF630F9B931FEB73A7B2030240C9E3BC2E1E8B3031E413B1532440DFE5445CAA1238849C9801B812B31BF93E0C3E219F3B1C5312FB22F06EFCBCFF30E828D6720ACDD297D57BF22F04E9ED8A08077C5BA6DCE58BBD511ABACED61C9EB428B75EFBBF7E96722B9E15FAA041984BAA96BAA8D99386593DD76E7E307D3335EDCBE7B170F1E3F41E6891C8444EF8683872F9C7C83B0636734AE5DBD8A03E9EC038243E11FB2135B5DBD1532BC822310B13B1119C74F202036114EF4BA80770A8A862333BE12F38AEC4319F3C1C5E0FDB159F1BC0F3DEF458F1781B7B423785B47ACB67180C5966DB0B0DA8A151B6DB07A8B1DA6CC5954A0A1A56DDCA16BCFF2DA7A06E2B8BF5E222596FE686C782A8E9A3835626FF2C1D737F26FE1C9D3A778F4E4312E5CB986B8C4030824E80D5BB7C3C1D39FB28F62258846E1BD7BC8387A1CE7F32EE0D4997388D9BD171EBE01CC133ECAFB92D23270F0C8713832E189D77FF33C65EF15C4B817CF8BECFD94589798DFB8DD03EB2979053C3D2EE05715835F49F02B366C8199E526CC5DBE1A0BCCD7222A7EEFCFE1BB22CE4D9D39C7AAA756FFEE9C786B4819FDEA14291DDE1FAD65FB4E75CCD659DD3C9E77034772CEE3ECA5ABB87A335FF166F4DE2445052EBE8C554777251788224EE59E41F6A91C5CB87811C74F9C42FEADDB7C7C1929A9E9088F884650442C8E9ECC4164C201C5E3DB8A63BE48F69FC43C65AF80B777C33A3B17827762DC178137A7E78BC05B63F9BACD58B0722DE69AADE27770C2C14387F1F4D90BEE4880B76FDFE3F499B33F7BFBFAA78F9B3C754527B55EF53B7413677F7EA456E6FF3F5AEBF69D6B2F5B6B753DE3F42524646463DFE11348CD3A8DEC731771E6C26564E79E452ABD1AB5379149914D8CA71F9CBD03E046CF1F6448E49C3EA39070EB4E012E5DBE8AA7CF9F2BF9213EF1207FF70CDC8323B199C94E297794FD66176F5829E04B62BE08FC1A9BED24C05E91BDF9A612CF5B6191C53ACC31B3C07A5B7B241E4CC7C3474FF0CB2FBFE2F59BB778F9F2153E7CF85921E3F9AB37F00D0E879A86D6C0B69DBBAB8488CFD967F70954468D0933E69E8E4A4A47CAF15C241FCB41D2D11C241F3D8583C74FE3E8E90B3873F12ACE5121424832135FE49EFDF00F8B841D738183BB3742A362191E59387FF1121E3F7D06FF9D31242212C74EE6E2C0E163D8E4E28B4D4C785694FD8662CF5B167B5EC0AFDA42F09BED60BED1B648F6EBAC14C9CFA1E7D75A6F4342D2013C78F808EF09F8EDDB22F0EFDEBD531EDFBC75077B99B4FD77C5C1DAC9FDD71E9AFDFB8BDA3F17FAF29C4AAD97D667ADB39ABA5A1FED813B5CFD437024378F249C42FAA9F3C8C8C9538849213119A7CEE1D4852BB870F53ACE5FBAA21072E86836E2D8367B0585C1DE8DC9312098BDC22184C4EC61A2DC45F524E11CD5141CB51BABB73A7F12F394FD27E0576EB2C54ACA7EC5FACD5868BE0EB3979963CDE6AD884B4864FE7980F7EF3FE0D5ABD778F1E225DE520102FED69D4224A61F514AB35B6038C2E2F6C3CECD07DC8E0DF8A748E8AADE47545279D0889169DEFCF2766EBEB071F14268EC3EA4659F41FAC9B3483F7146099374FE9C75E62295710D17AFDD401E43E0F4F98BC838968DA83DFBE0434224416E71F260920C405A66164EE75D84ADAB8F52E6D6DA52F6E2792B7ABE18FC727A7EC9EA0D8AECCDA984C8F8BDC8BF7D4701FF9AE09F3D7F8157F4FE1B1270A7E01E0E64B017617FE21A50D4AC0591E4ADAE5E183D697A2EB1B49215A160FA9CFDA912E4973AB30323830601A1BBDEC6EF4FC11626A031934D7FF50F8FC14109918C2C1C221947722FE0B0A8848F8F523539799771E1DA4D5CCFBF8DAB37F271E6FC051CC93A893DAC2CAEDE81D846859C6405493994C912674BE012F3459E17F08B57AD63C2B3501EEF8C89C74D827FF3F69D12F30AF85745E04511929B7C09DA9D9E2F012FD568E28CB9F9DD7BF75DD4A16B8F6F45ED7CFCA7589517BF6424A2EFA1C3475EBD7BF71E2C99301C39F62A5764B7BC29B9358CD9CDECDC22F624222D2B17C7A98663B44C5694CC9C73C83A7B01E72E5FC3B5FC3B0452806B24E41243E708AB4C1673C3D5EBF9F0A64A16AE5A8FE5F4B68017D9AF20F860965D79FF9B376F94787FFAEC39AF2F959F0BEFDDC7A16327D888C550F6618CFD58C5F3DBBD02306BC90A681B0C47C7EE1A3364B9228EFCB3902F795E9901BE6424C8E0E8F1AC77AF5EBF42ECBE248C18332167CEA225A76F30F9A4B012D839BB61B1C55A6C71704170641C9298F48EE69E47F65996CA3317708C8FB34EE7E134F3C0658296DFBB5D50881B54C9F59BB770F2F439AC62F6972FBF6CED46048445E00213AEC4BB807FFCE4A9E27D0981C2070F7124FB14764470AF1010AAB4E702DE91EA9ABD642506189AA097CE20F4D51FCA3CD07F7A89F4BF4A8216D7E25F32CE0C26274EE5FCFCFCC50B929008E371932F6FDBEE7C494A50C1DD7B08DA19890D36DBB074F53AACB5B281838B0782E8C5FD1C9C32D95A9F60593D71EE12B249C8092AE31443E53CD521A172E76E2133FC63EE1E52E11910C44A72192F08FC25013F614529F2FE2B3C78F418474FE42A0399785EE6921D915CB43069CFA17274861A41BDFF40680E1C02DDA126D01D6224C9D094AB38AEFEFB7CD5640FF045D3D2D59F9073E6ECAF4FF885621392C04EF286B59DFD7521E132A5BD233C9259F92E72CF9E43581407210F1F38BA79C13B300811B1BB954EF108DB6C212037EF92922F72CEF3CAC479F6E215AAE3260A0AEFB38C3EC50BC6BA0017025EF2B194C0AC53A711CCE6CC8D09AFC4F332AA2F58B186808DA0A1AD0F2D7D016F0CBD61A330D8782C06198D414FCDFEA6DC6FB2F527095F31952C20BE64BA830D679C397F9E6DF3138584F15367DC2509B785848B57AEC22F241CF71F3D529A13F977B7F01E8EB1638C4DD88FD08828EC8C8E4342620A0EB097389C9D4B255CC219CAFD1243431491CB3011322E92D0EB0C957B94FCBD070F9838CF233C6E1FC1872AFD85C85E1E2FB6580FBDE1A314F0FD060DC3C06126D01B310A838CC780073B18366612868E9A4012B44DBF54113EAD12AAE1A3C6FEA98DE06B06234C169EBB7011F71F3E5448983863CE63EBADDBEEFDFAEBAFB8C852E81B1C863B85850A01BFF0B9927FAF99C06EB26B3C76E224120FA4615FCA41C4EC4B462093983327CD008EDFD2385DB8721D1748461E4D48B942651C3874542975329A8BECBD388849B9142FF7D2A1E7F58612FC48E88F18AD3C3784A00DC74CC48871536032C91446E3A782616C2AFB0551C3D74C65683CFA4F6DA8D168D530933166972E5FC15D66E458362A5366CF7F49253C9136358F0D9264772961F2EFDDFBF778F6EC19AFEF3E92F1EEC307AAE829C1DDE06C918B7D070E61BB871FCCD66C40347B88E3AC222772CF296AB876F3366E33CF24A6672A65CF93FD89D95A2B1810686FDDC14C78864AF2E3A10D0C4CC62A1E1F367612789621CB158C9A3203634DE762F494992441C75416BFA286AF99725CF567D6AA7D17D580C1C3565DBF79534962319C1566CC5FFC8E24BCFEF0F3CF4A4BECBD2384593EFF2309972F5F465E5E1E6EDDBAC59EFE31DE9298B72CAF52E76586900EEFFE8347D8C97C7130235301ECCC717CA39D23DC7C0290CAB08965C769C60149404AB6EF37C850F1BCC4FA9091E314AF0F1F3719C613A662E4E41918337516C64D9B8D0933E7CB48CDEB3CA8F7FD0748F8DC0055F2DC4F1DBB727D6DBC513A35198662F6EEC7EC45CB7EB1D9E6F08B78FD2CC3C4333018B9E7F214122418B2B2B2E0E2E9CB6C9E833367CEE2ECB97378C81D84243D9921A4CA3C7AFC58E9030EB3A3CC2FB88B7476905E24D3728B2D868F9980A18C6DCD01064AB61F389CE0C5F3027E74B1E4C5EB027EDA2C8CA7E727CE5A80C9B31762EABC2598B16839A6F1CAB26FAA2C5964E5F6156347D8E34F4D94C070D87ABBA080F5FD36E5BB1FF359924882E259E9042531DABAFB611F5768F26FFFBE047A6201367B06C3332C1699EC14EF32673C67A323643C65B8DCBBFF8065344A21E1097F7E4F426F938C1D3BA33098DE96A45724FBD18AE78729F13E192613A751EA943CBD2EE02711BC787EFAFCA5305D68A6F41AF356ACC6CCC52BD0ABFF005365F94A02BE667FB74BF874B7D0B25D6795C9D889CE120A576FDC440C4958C43F626BEFC016F60D4E53016CA961B9CD0D1EA1D1F8997922392911F3D9F2FA4527608B4710F6B144DE67B697127B9F254FCA9F54102121F5F051859857AF5F331FE42BC972E4A4E918C07237C4E4EF3D2FE027CC9847AF2FC0D4B904BF602966D2F373969A63EE320BCC67D95CBA6623E673C9D25B4828EE18FF9E04DE8E40724AEC8B3941B6CA63274DF5BECBADD1E56BD79544B684DDE1560747A58EE7B0FF0F08DDA9ACBFFC22762BD5212539190BCDCCE1E8EEA59C3D1C3E7E924D5521DE70CC95322B76876B3A212139ED90428C3444F2F981E111F4F01C25F189E78D2788EC6716799E713E4991FC62CC10AFD3DB025E002F32B764CBBD5E2140E68F257CCC09D8947383B286FFD43AF560B26413A526ED74B19104393B2CB2369DD47E672D7EEAA09A643A2BA8909EBCC8D59A4C84CB56AF27094E78C6D83EC9E5C9A72448854C3D781073169B612C3D3A7BC1126E997214F99FBF749915225F51423EE788204A3F81B3C87DF605CF992CA5E70864E33565EE4225E34B8617F01315CF2F54E25CC0CFA6E4659B245E5FC4115B4AA799A51547EE2DDC3DD870D760AF3CEEA3A3675A72C3885409CE12AA2E3CA2D3D0D05275E340D5830494185B4A3E4953EBD557593AB4641E90733CB11F7E6AAF329D3D2F527A04D91744ED4E60C9DA003B275796C2E72C6DA73F92E01FB10742427A5A1A162C5B8909D36662DAECF94AE3F4E8F123780486601BB7C88F9F3D55466251423CFB86421224C9F202CBB0B4E08B5759B2D64F2F96FD6FE067713610F00B56AEF9E8F5E5042F9E97D9633587394B12B089EB3E79CCBB648A49E059A51CCEB0540EE15D3783689DB941FF2C095D4984BA663F555F4D4D55AB4EA28AAE3C6768576AEEC2257BA4773FCBF93F323E01AB376E86AFAFAF92E96512949C20FBFF802892C0C4783823038B57AC2209B3604AAFCABEF12125EF1BC2953ACF11241C647892EA2039A6A0F081922CCF5FBA84406EA636D93BC374C1324C66C25364FF11FC5A05FCB2B59B3E7A5DC08AE7D77309BBC1CE89BB4617D87255B78EFB091E1198B6E39D304AAF40CFF7243E83BF428286563F95F1A081CAFD469D789CD59C4A607C2708099204C3B81D72B7DF8A2BFB77E1AE0C35D927151264291AC05368C9099999995866BE46DA6B4509120E0F184E3EECFE9CFCC394A9F01A93AC0C5991717B95214C48109203C276C1866718AB376F2B02CF6427CBD48FE0D93B5870D758027E03C16F22F0CDDBDDB0854BDFAD5CFA6CE72E6193832B3474078D6FDF5D5DA5C1B9A133D7053D88E92F93304C4F57A5CE1BACDAF5D452356DDBA59EF91ACB230F59D725098692044F477BDC4A8D47011B9E235927E8BD086E851CE0B663277EA616848455EBAD60C989D2DC72A3A296C2FBF74842385C03772A83D2156E9F440961D1F1CA582DCF49B915126C9D3D614DB3E0926521778A66F4FC4AC6B805172F6BB871162F6FE4E18B15810A705B0297159A3DBB5059A63873B8B2E3F343FBEBEE50EBAEDEA67B2FADCA1DA8807F8884A10375556DBAF7693C44477BA6DD08CDB48B410E1F0A38EECA9638346637DC9DB6E3FAA1FDB87DFFA152E76576F0F40F42264FA5DEB2453E7EEC182C087ED6C2A558BB710BB273CE287D8290E0C12DB328E1E2D56B0A09211131B8C5FEE03143441A2ED925C8D649408909700B49769F8017AFDB902439DCD9C6B34F01EEC45944BA4E179A2B1527DB2B5BB5EE306BD9F2E5982EDDE2B5D4D4677554D76CA9F757C28147593FCE30D2B7DA613A342FDFDC18EF5719E0F1DE00DC7AF884C76EB9088FDD03176717E465A62A3DFE211EB67831E1ED8ADB53B4EE7EFD0659D9D958B36133777B533165E61C8EC2B90A09DE41E1F0098B56004B120CE659848CE15229A48354CA2D95E0408FCA8648400911EB78E0229EDF520C5E9E13E0B24891F7C8642987C0CA6917E70DAFC8DD706272B5FEA90D6C9B378563AB5670EFD60DDBFA695F5BD0573B788066BF11CC11D57F97183B6BE9A8C4DAF7D52D6DD2A1D381EC415DF066CD08C07A146E6C31451CEF313873F5060E651EE3E62856597A261F4C6542BB87F42347393B842284CF3FE0EEFF194B5DB690C0E43961AA2966CC5BA890207D82AB5F10BCD950090932730809FECC27D289CA8C51526E1D0950962502CE83679BE26D6B2E684BC08BD7E57501EE29C0799EE1CB4D936F0C0F78B958B51B6E842D3FB6C0F6366DB1435D1D7BB5B5913A70200EEBEB2173B001A275753F4CEED6FD44D7EE1AAD7B315FF4A6A95AF33FB116BD34CB8F6EFEE3316FDEE41A52EF1B1CD7698B6BCB8C90B82B18E124C23D2C06163C0136658B7AF8D8F12212488CB4BA6E7E81B87CBB102FDEFF826CCE0E120E63A88499F317331C4E731B7C5759B0C8F1DD03EE1ECEF0A84E48F0E399A5540A69984ACAAD8B4FA0B232172B39D916AF8BC93245C811F0B2E3F4A1E77DB9FDF6F00F85FD8CD9B0EBD8091E3FB546449FDE4824F003FAFA48D6D343EAA041481F3C18213DD5B1B46E5D0CAE51F38D7AB71EFD5B366DA66AF1DDF72A55F9CA5554E5AB565595A95DA7BC61C3469901A54BC3994438D1826A56C6FE9EAD91BA7432D2ED96E3B0E574EC76D888FD596778287B8A4772898A7CC7B2A14972DB8A0F776F70A7780E5694EE7496C789D3673231E6E00A1726227B9936A505CF3D775E21C1674718D76CF9CA12258B4778D27839930401FFA989224A0890C7429037F70C9E5CB4BA58AC8173DF7E08ECD01EBB35357160903E0E12740AC1A79004011FD3B72FD6366D06A372E5A14F5CDAD5AA3FEFD8BA8D5699D2A555BFFF57B55AA5110D1AE684F14D5E34779A4BF135A87C69A476698AC2E99A28583B1AB15E4E4A9F2FE5C89C7B01E7F99371CFCC002FACC6E386E73AE424EFC549AED3C278E3C649EE18F3B83B94CDB1A8475AE6539C2E25297AF1585F6686C2FBF795A64ACAAD138FF3FE4882FC2CE01523704FCADF7BBB0BFC4D462252BD27F66B69E1809EBEE2F9242A40C0A711FCFE01BAD8D6A60D2656AD8AA1AA52302C5316C6A54A41BF5AF537B56AD4D029F5070A4AA9CA96ADAADEF48744BBDA75E15FA60C024880377FC1B36C5978952B07375569F854A982BB36ABF174FB529CB71883D3E663706DF568BC5A678CE796C678B26A389EAC60325D658C879E96787F3E0B776FE723E74A3EC3E5AE328ECBB428D20F89E45901ABCA556E92646153D273383129FE3D0911F0625275DB150F3FE696A8254BB05F4F070775FAE120635D242FE0C504BCFCECDDA50BE6D6AA0DA3B2E56042058C2C5F0126A5CB60246D6083461FAA55FF46A79803450E4248595AF5B295AB68346AFCBD9B61D3E637367E5B0FFEFC80C032A5E15BB182A28C544343BCE3E4F78A5BE797016E7866351BCF571BE1E9DAE13492B0C6048F569BE081B911EE2DD2C7FDA54371C7661E2E47FAE3CAF93CA5ACE6930891BE28C1D597B984A1220A911B3FA4443A7AF93181FE3E1C24E3CB2D00911B37E2E06823640CEC47B08C794A3F49AF08BCA840C2204C4303168D1B635CC54A184DE0632B55C2185EC7D0B146DFD4804693E60575EB37B42A5DB66C4B62AE5A8CFD2309DFF0897AB456AA4A9586D46ED068BB4E8B1FAFAD69D8089ECC13614D9AE06974343EA4A7E3C59EBD78CA63B1C7D1B1287075C49DB5B315E04F560F2311467868618C7B2B8D7177D930DC99AF8F3BF3F491BF621C0A595A6FDE7BA8483F8439414EB22F704F298933E3585611093CE15648E099823765EF450BDDEE8C9469139139441B8707E9206D28011BE89104B122E9C731EE37B7F811D3AB55C3F80A9530B152155A654CA8501E63AB5687EEF7CDDE36FDBE692C1D3D81183BD15AD06A959050A286F27C5083D698262C7554952B37A87ABDFA1BD41B37B990BD691370F4285EECDD8BE7B1B10A218FC2C2F16867040A7704E3C6D62DB8BED214B7170DC58315C3F0902151B8C2187758616E2F32C40D536D14A4C4239F3D87483F9465D59549308FD3A58488F41C42C2769E597AEF8CE57D4D7B11C00D55FC8239C818AA832306DAC818A68F4386FA4825016906FA7CDE0009BA3A7069DB0EF329FDA955AA625AD56A984A9B4622E46AD8A8F1CF6D9AFE70BC628D9A66C43480A6416B476B48AB422BF3696A28098B4A7CB226EDBB6232DA8E3536497FC376F84D62225EECDE8DE7717178BC932DF0AE5DB81F1888427F3F1406EEC04D17775CDEB4017973C7E38AA91E0A970F5788B8BB60083257CF411A8FCE64B59E7EE498A2045B4757DECB7056E91AD30E672A2DB83D93AD776028C22D562271F800A40DEC8D34435DA40F276892904E120E0F1B8CD4C1FA085453C3AA068D308B9E9E45A98BCD2411332B57C5B8FA0DD1A3798B4B35EAD6B753952E33945834696AC50AF896D7CA9FAAE053224A5421EC549037356AD878F9959818B00BC2BBA4248580279191781A158507C1C178181282424E9577DCDD51E0E989EB5CB85CE7BE216FF52A648F3344DEE481B833470FD9EB17203C310D71A9991CB6E2B18E83CF8C85CB941B3AE45E288504E6094766FD4893C1D8DBB71BB37B2F2451010786EAE2D070363B46837164B801A2347BC3AA59732CF8A616E67D5313F36BC8B506E6910CD36FEB42E787BF3D69D0B07140A98A15C712435F1A6F4250FD446B40AB462B47FB6371F8230FBFFD5CA3769DBEC307EAA7C46DDBF6EEE5FE442025052FE3D821161370CFDF1F6205DEDEC87774C42D37375CB5B1C1156B9A9D3D72972CC5898923717E123DB87C1A22ED36C3DF6633DC962D8083B52D4EF320E632172A29DC32059384359BAC61DF5703FBB47B22D1A01FD2870DC4311303648D1C8244BDFE70613BBCBC4E3D2CAA591B8B6AD5C1625E9756FB06F3F9DC88A63FBC6ED1B47952D92A5567154BBF9712D62A153B2295E43C71EC1F9B833F075FFC4AA99AB5EA306ACA94AE5AAB8EC9907EDA89BB6DB6E29924C8F8783C602814F8F8A0C0CB0BB75C5D71978F6F3838E086BD3DAED9D9E182A5A572BDC2C56C543F1D24F7EA82D323B57171FA60E44F6756B7B74664C609C4A7F2AE37DED3B49687BAA3D878B951F6278C06207BB4014E8D3564080C4460B7CEB06CD81866B5BEC572562EB33A756146052CABFD2D2636698E4ECD7F3C51A556ED35FCDE83685AC5D2FF81570250A42FEAFEEBDEFF941A21A172956A4A67A92A53AE6A956F6A0C1FD65F372D6EDD063C675E78C170B8EBE1A19070CDD656B95E1712B66EC58DEDDB71739B1DD2E7CDC7E626CD10D3AD07E2D53590A4AD852CE301C8993E1C7BD79BC39FC4396DB6810DEB7FE894D1C81D3F04A7270E45164988ECDD13364D9BC3A24E0358D4AD8F5575792509AB48C6BCEF9A42EBC796376A7C5BCF4155B69CD127D26FCDC7F5692525F09F035F42849050A94A5555C5AAD568D5194D0CA772152A55AB596B9C51DFFEC7F7AC59F3EB233F3F3CA11AEEB8B8E022ABC8156B6B5C23113709AE8004ADA584973276137AF5C2EEDE7D10DFA70F766BF545129B9D4CC3FE38396E1072260DC1D94906B8C8AB9090A8A705D756ADB1BE7E63ACADD708960D1AC39204ACFFB63E96376E02C31F5B3F6BFC5D937055850A93F85D7569BD691D6892D06BFCB3D2FF6C6CFC9184F2952AABCA93144519A5CB54AA51A7EEB491BD358FED59698102827EE0EC8CAB24218FA17097C9326EDA34B02E61419D3A38C8F63689FDFD1E5EF7F6EF87044E787BB57590C8F636C3500F27C71AE0F0085D0476E9882D8D9B6253FDEF60D5A8093634FC0E9BEA35C43A3E9EF463ABB7AD9BFD70B06CD56A0BF88507D2FAD3BAD24AA42FD5ED7765EFAB41FFB537FC1909A28C7224A44C858A4C3795EAD4AC5173DA68CDBEA7E2E6CE430155F08009F2E2BA7558D0AC19FA54AB0EB5167FBB32B3A7C693D0FE3A4825F803B4FDBABAD8474BD0D12519BAAC0603E0D1F2276CAEFF3D6C1A37833589B02601D68DBEC7C2BFB5468F162D732BD7ACB55E55AA94943C6D9AD4FC569F48FF1FCBFA5F03FF67E150A2841212441115244CCA33F196AF50B3CEB7F5E68DD3E89D77D06C39A2A64E45D7BAF50AEB376868AB2A5FDE4055B1D2ECE6CD7E889EDA53E36180EE00A4CAA043E0C94206AF42864B8B56D8FA5D33D8930007DA9A1F5A42BF759B3BB5EB3770E37C33BA58FA5C02A8DAD3A4B1FBA7B3FE5FE540F535259490508E6494A532D896326794AFF95DA3EF56FFD4F407FF7255AA76E61FAB4D932E4D3CD79F844C6BF05D939091DD7BE6BBEB164D7D87D8FF27920CB71F5BC199316FDBA225C6B66EFBA4C9F74DA319F753F97B9C8215E977A1352FFE4CCAF05F2CFDCF31F38F902044546098284494A7324B7D4CCA92A5A55435A349DF2ECD8B1693ECC43AF51AB8EB77EE9AB74D6780B208F169DD0E735AB7FDA57DF31687CA55ABBE8CEF3328F6BEFC8EB4F332DF48BBFBEF91FEBF928432152BAA4A9595EFA9D46669506452952F2FAA684A934CDE83D6977DC8A86A75EA6CD5EED0E99C769B7617ABD4ACB54555BAB4943CC9FAD2EE96489F71A79219E7FFAEE47D0EE8979EFB6795F009099F7E7CC97C22CD4B09190250BCDC8F6644F58CE255A42F3F4BD617F5C87BFF33D2FF3729E1731FFBE9B026E3ACB4B592334419D2EA76A3FD8D56975622FD7FB8DDFDAB0EFF3F53E739C86621A9BF0000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN

-- Site STD
select @sysMenuParent = sysMenuID from sysMenu 
where MenuName = N'Danh mục' and sysMenuParent = 
							(select sysMenuID from sysMenu 
							where  MenuName = N'Quản lý tiền' and sysSiteID = @sysSiteIDSTD)

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Danh mục ngân hàng' and sysSiteID = @sysSiteIDSTD)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Danh mục ngân hàng', N'Bank', @sysSiteIDSTD, NULL, @sysTableID, NULL, 3, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 23, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300000B1200000B1201D2DD7EFC000022E049444154785EED7A095CCD79FBF6B1EFC636F619CB980763DF42A1505144A8EC3BD9774259B24525A57DDFB4D21EA2854A8442D9B22F21D9F77D66AEF7BA7F9531F318E679DE67F9BF9FFFEBF3B9FD4EE79C4EE7BAEEEB5EBF3F1500D5FF76FB5F4F8008E0FF93202474EAAEF159EBD0ADA7AAA7A6B6AA479F7EAA2E3D7BAB7AF5D355B5EFDA43A5A5ABA76AD3A99BAADFC0C11F7FAF335FD7193454D5A5472FE53DF299DD3434559A3A7AAA0E5DBAABB4070F53198C1CA752EBADA51A3272BCAA335F1F6C3C869FDB4B79AD2BDF2B7FABA766BF527CAD83FEB051AB4C17AF4CB3F10A79626EED58C8F77569C7BFD9919FFD57AD6D6735D5A061C6CADFE8A8A6F145FBAF92D0BE8B9AAA97F6C06AEA7D753B0C186A643663B1F9212BB78057DE31C9084ECC4448522642938F61B6D9DAE324E19B4E74CC5F2281EFFB1F4D8281C93855DB8E5D2AEB0C19D18B6A583E7DD18AE44D2EFE6F7D625308FA2882F61F81FFEE34F8C51F542C604F3A2D0D265366F87554EB59BEA31AD520647CC14489EDA89A41C38CFE67284164DC4F7F886A90F1E8529D7B68741F317EAAE5CC65ABD337B9F83DF68E4E568087261F55C0FAC51FF808BE8404B90A31CEA1F1BFF4D51B32AF4DC72EFFEF9040AFA9D4B5FA57EBDAB37767FD11A3D6CC355F9FB5C563C773EFE8A422A9D3762464D0EBA9F08BFB3C7821C097AF79C7242130E110D66FF77AD955BD77EF768CF72F2941F2D97F5509ED9808198FD5750D4698CD5AB63A83C07F1120218922F5C38AB415E0C572FFB3AB8F023E195E5189F0884880FBAEBDF08D4DC69CE56BCF75ECD6A3BE24D7CF11D1494D9DE46BABDAF27BFC57C24162B175C7AE8DC64D318D0E8CDA8BB0942C0433B9F913B810F135E0259EF72906EF19B90F1E04EF161E0FD7D058B884C5F11A87919366845369953A12B080FE685440E7EEBD5483879B2815EC3F4E82944C7A466DFEB295A762F6A52021251D217B52211EFD6BE05314D98BE705BC78DE2D7C375C09DC39381A4E3B22B13D6097F2D8C66307B407195AB4E9D4F5B324E81B1AFDE74910E969EB0F31B2B4B2BD179F940A8F8010ECD81583DDC9CCECBB19D75F90BE2F93A178DE3BBA08BC78DE5DC0D3E32E2131700E8A8263E02E38F887639B6F28B67A07938C9D30DF6CFF56AD77DF81EDF9B7FFA884FF38098CFFB2FDF40CCC1D3DFD5E472724C3D1CB1F2E7EC1F00B8BC2EEFD07109D98CE50282A779F9A848794452F011F21E0F7FC267B827752C047C0818005BC9D4F306CBD76500501D8E2E6A7FC6CBA68C55536722DA44993D0903CD1A5476F95FED011FF5E2568EA0C54FDAD6D47A5832401F58CC64CF00FA2D777EEDE0F07775FB80786C12F3C1ADE2111088A8A47526A064213D218164524FC063E099E5122FBDFC017C9BE18BCFF4ED8FB85116C086C3D7F03BFD9C50756CE5ED8E4E405796C3C71FA1EE6872A428290D1A5679F7F1F0992717F68DD5ED5BDB756BDDEFD75FB4F9F3DCF71CB36C7FC5DF1FBE01B1A012B7B577806EF42C0AE58F852053EA191F0E2CFB1544752FA518500C9F65222BDA2F61765FCF03D700DA7EC833FF5FC2E820F27F822E9DB32FEADDDFCB1C5D597E0BDB1C9D1131BB7BB63BDBD0B3638B861B5F576C90F9BDB76EEF6EF2341668096ED3A55D6D4D1D71D3F65BA8DAB8757F691E3D9387EEA0CF630F9B931FEB73A7B2030240C9E3BC2E1E8B3031E413B1532440DFE5445CAA1238849C9801B812B31BF93E0C3E219F3B1C5312FB22F06EFCBCFF30E828D6720ACDD297D57BF22F04E9ED8A08077C5BA6DCE58BBD511ABACED61C9EB428B75EFBBF7E96722B9E15FAA041984BAA96BAA8D99386593DD76E7E307D3335EDCBE7B170F1E3F41E6891C8444EF8683872F9C7C83B0636734AE5DBD8A03E9EC038243E11FB2135B5DBD1532BC822310B13B1119C74F202036114EF4BA80770A8A862333BE12F38AEC4319F3C1C5E0FDB159F1BC0F3DEF458F1781B7B423785B47ACB67180C5966DB0B0DA8A151B6DB07A8B1DA6CC5954A0A1A56DDCA16BCFF2DA7A06E2B8BF5E222596FE686C782A8E9A3835626FF2C1D737F26FE1C9D3A778F4E4312E5CB986B8C4030824E80D5BB7C3C1D39FB28F62258846E1BD7BC8387A1CE7F32EE0D4997388D9BD171EBE01CC133ECAFB92D23270F0C8713832E189D77FF33C65EF15C4B817CF8BECFD94589798DFB8DD03EB2979053C3D2EE05715835F49F02B366C8199E526CC5DBE1A0BCCD7222A7EEFCFE1BB22CE4D9D39C7AAA756FFEE9C786B4819FDEA14291DDE1FAD65FB4E75CCD659DD3C9E77034772CEE3ECA5ABB87A335FF166F4DE2445052EBE8C554777251788224EE59E41F6A91C5CB87811C74F9C42FEADDB7C7C1929A9E9088F884650442C8E9ECC4164C201C5E3DB8A63BE48F69FC43C65AF80B777C33A3B17827762DC178137A7E78BC05B63F9BACD58B0722DE69AADE27770C2C14387F1F4D90BEE4880B76FDFE3F499B33F7BFBFAA78F9B3C754527B55EF53B7413677F7EA456E6FF3F5AEBF69D6B2F5B6B753DE3F42524646463DFE11348CD3A8DEC731771E6C26564E79E452ABD1AB5379149914D8CA71F9CBD03E046CF1F6448E49C3EA39070EB4E012E5DBE8AA7CF9F2BF9213EF1207FF70CDC8323B199C94E297794FD66176F5829E04B62BE08FC1A9BED24C05E91BDF9A612CF5B6191C53ACC31B3C07A5B7B241E4CC7C3474FF0CB2FBFE2F59BB778F9F2153E7CF85921E3F9AB37F00D0E879A86D6C0B69DBBAB8488CFD967F70954468D0933E69E8E4A4A47CAF15C241FCB41D2D11C241F3D8583C74FE3E8E90B3873F12ACE5121424832135FE49EFDF00F8B841D738183BB3742A362191E59387FF1121E3F7D06FF9D31242212C74EE6E2C0E163D8E4E28B4D4C785694FD8662CF5B167B5EC0AFDA42F09BED60BED1B648F6EBAC14C9CFA1E7D75A6F4342D2013C78F808EF09F8EDDB22F0EFDEBD531EDFBC75077B99B4FD77C5C1DAC9FDD71E9AFDFB8BDA3F17FAF29C4AAD97D667ADB39ABA5A1FED813B5CFD437024378F249C42FAA9F3C8C8C9538849213119A7CEE1D4852BB870F53ACE5FBAA21072E86836E2D8367B0585C1DE8DC9312098BDC22184C4EC61A2DC45F524E11CD5141CB51BABB73A7F12F394FD27E0576EB2C54ACA7EC5FACD5868BE0EB3979963CDE6AD884B4864FE7980F7EF3FE0D5ABD778F1E225DE520102FED69D4224A61F514AB35B6038C2E2F6C3CECD07DC8E0DF8A748E8AADE47545279D0889169DEFCF2766EBEB071F14268EC3EA4659F41FAC9B3483F7146099374FE9C75E62295710D17AFDD401E43E0F4F98BC838968DA83DFBE0434224416E71F260920C405A66164EE75D84ADAB8F52E6D6DA52F6E2792B7ABE18FC727A7EC9EA0D8AECCDA984C8F8BDC8BF7D4701FF9AE09F3D7F8157F4FE1B1270A7E01E0E64B017617FE21A50D4AC0591E4ADAE5E183D697A2EB1B49215A160FA9CFDA912E4973AB30323830601A1BBDEC6EF4FC11626A031934D7FF50F8FC14109918C2C1C221947722FE0B0A8848F8F523539799771E1DA4D5CCFBF8DAB37F271E6FC051CC93A893DAC2CAEDE81D846859C6405493994C912674BE012F3459E17F08B57AD63C2B3501EEF8C89C74D827FF3F69D12F30AF85745E04511929B7C09DA9D9E2F012FD568E28CB9F9DD7BF75DD4A16B8F6F45ED7CFCA7589517BF6424A2EFA1C3475EBD7BF71E2C99301C39F62A5764B7BC29B9358CD9CDECDC22F624222D2B17C7A98663B44C5694CC9C73C83A7B01E72E5FC3B5FC3B0452806B24E41243E708AB4C1673C3D5EBF9F0A64A16AE5A8FE5F4B68017D9AF20F860965D79FF9B376F94787FFAEC39AF2F959F0BEFDDC7A16327D888C550F6618CFD58C5F3DBBD02306BC90A681B0C47C7EE1A3364B9228EFCB3902F795E9901BE6424C8E0E8F1AC77AF5EBF42ECBE248C18332167CEA225A76F30F9A4B012D839BB61B1C55A6C71704170641C9298F48EE69E47F65996CA3317708C8FB34EE7E134F3C0658296DFBB5D50881B54C9F59BB770F2F439AC62F6972FBF6CED46048445E00213AEC4BB807FFCE4A9E27D0981C2070F7124FB14764470AF1010AAB4E702DE91EA9ABD642506189AA097CE20F4D51FCA3CD07F7A89F4BF4A8216D7E25F32CE0C26274EE5FCFCFCC50B929008E371932F6FDBEE7C494A50C1DD7B08DA19890D36DBB074F53AACB5B281838B0782E8C5FD1C9C32D95A9F60593D71EE12B249C8092AE31443E53CD521A172E76E2133FC63EE1E52E11910C44A72192F08FC25013F614529F2FE2B3C78F418474FE42A0399785EE6921D915CB43069CFA17274861A41BDFF40680E1C02DDA126D01D6224C9D094AB38AEFEFB7CD5640FF045D3D2D59F9073E6ECAF4FF885621392C04EF286B59DFD7521E132A5BD233C9259F92E72CF9E43581407210F1F38BA79C13B300811B1BB954EF108DB6C212037EF92922F72CEF3CAC479F6E215AAE3260A0AEFB38C3EC50BC6BA0017025EF2B194C0AC53A711CCE6CC8D09AFC4F332AA2F58B186808DA0A1AD0F2D7D016F0CBD61A330D8782C06198D414FCDFEA6DC6FB2F527095F31952C20BE64BA830D679C397F9E6DF3138584F15367DC2509B785848B57AEC22F241CF71F3D529A13F977B7F01E8EB1638C4DD88FD08828EC8C8E4342620A0EB097389C9D4B255CC219CAFD1243431491CB3011322E92D0EB0C957B94FCBD070F9838CF233C6E1FC1872AFD85C85E1E2FB6580FBDE1A314F0FD060DC3C06126D01B310A838CC780073B18366612868E9A4012B44DBF54113EAD12AAE1A3C6FEA98DE06B06234C169EBB7011F71F3E5448983863CE63EBADDBEEFDFAEBAFB8C852E81B1C863B85850A01BFF0B9927FAF99C06EB26B3C76E224120FA4615FCA41C4EC4B462093983327CD008EDFD2385DB8721D1748461E4D48B942651C3874542975329A8BECBD388849B9142FF7D2A1E7F58612FC48E88F18AD3C3784A00DC74CC48871536032C91446E3A782616C2AFB0551C3D74C65683CFA4F6DA8D168D530933166972E5FC15D66E458362A5366CF7F49253C9136358F0D9264772961F2EFDDFBF778F6EC19AFEF3E92F1EEC307AAE829C1DDE06C918B7D070E61BB871FCCD66C40347B88E3AC222772CF296AB876F3366E33CF24A6672A65CF93FD89D95A2B1810686FDDC14C78864AF2E3A10D0C4CC62A1E1F367612789621CB158C9A3203634DE762F494992441C75416BFA286AF99725CF567D6AA7D17D580C1C3565DBF79534962319C1566CC5FFC8E24BCFEF0F3CF4A4BECBD2384593EFF2309972F5F465E5E1E6EDDBAC59EFE31DE9298B72CAF52E76586900EEFFE8347D8C97C7130235301ECCC717CA39D23DC7C0290CAB08965C769C60149404AB6EF37C850F1BCC4FA9091E314AF0F1F3719C613A662E4E41918337516C64D9B8D0933E7CB48CDEB3CA8F7FD0748F8DC0055F2DC4F1DBB727D6DBC513A35198662F6EEC7EC45CB7EB1D9E6F08B78FD2CC3C4333018B9E7F214122418B2B2B2E0E2E9CB6C9E833367CEE2ECB97378C81D84243D9921A4CA3C7AFC58E9030EB3A3CC2FB88B7476905E24D3728B2D868F9980A18C6DCD01064AB61F389CE0C5F3027E74B1E4C5EB027EDA2C8CA7E727CE5A80C9B31762EABC2598B16839A6F1CAB26FAA2C5964E5F6156347D8E34F4D94C070D87ABBA080F5FD36E5BB1FF359924882E259E9042531DABAFB611F5768F26FFFBE047A6201367B06C3332C1699EC14EF32673C67A323643C65B8DCBBFF8065344A21E1097F7E4F426F938C1D3BA33098DE96A45724FBD18AE78729F13E192613A751EA943CBD2EE02711BC787EFAFCA5305D68A6F41AF356ACC6CCC52BD0ABFF005365F94A02BE667FB74BF874B7D0B25D6795C9D889CE120A576FDC440C4958C43F626BEFC016F60D4E53016CA961B9CD0D1EA1D1F8997922392911F3D9F2FA4527608B4710F6B144DE67B697127B9F254FCA9F54102121F5F051859857AF5F331FE42BC972E4A4E918C07237C4E4EF3D2FE027CC9847AF2FC0D4B904BF602966D2F373969A63EE320BCC67D95CBA6623E673C9D25B4828EE18FF9E04DE8E40724AEC8B3941B6CA63274DF5BECBADD1E56BD79544B684DDE1560747A58EE7B0FF0F08DDA9ACBFFC22762BD5212539190BCDCCE1E8EEA59C3D1C3E7E924D5521DE70CC95322B76876B3A212139ED90428C3444F2F981E111F4F01C25F189E78D2788EC6716799E713E4991FC62CC10AFD3DB025E002F32B764CBBD5E2140E68F257CCC09D8947383B286FFD43AF560B26413A526ED74B19104393B2CB2369DD47E672D7EEAA09A643A2BA8909EBCC8D59A4C84CB56AF27094E78C6D83EC9E5C9A72448854C3D781073169B612C3D3A7BC1126E997214F99FBF749915225F51423EE788204A3F81B3C87DF605CF992CA5E70864E33565EE4225E34B8617F01315CF2F54E25CC0CFA6E4659B245E5FC4115B4AA799A51547EE2DDC3DD870D760AF3CEEA3A3675A72C3885409CE12AA2E3CA2D3D0D05275E340D5830494185B4A3E4953EBD557593AB4641E90733CB11F7E6AAF329D3D2F527A04D91744ED4E60C9DA003B275796C2E72C6DA73F92E01FB10742427A5A1A162C5B8909D36662DAECF94AE3F4E8F123780486601BB7C88F9F3D55466251423CFB86421224C9F202CBB0B4E08B5759B2D64F2F96FD6FE067713610F00B56AEF9E8F5E5042F9E97D9633587394B12B089EB3E79CCBB648A49E059A51CCEB0540EE15D3783689DB941FF2C095D4984BA663F555F4D4D55AB4EA28AAE3C6768576AEEC2257BA4773FCBF93F323E01AB376E86AFAFAF92E96512949C20FBFF802892C0C4783823038B57AC2209B3604AAFCABEF12125EF1BC2953ACF11241C647892EA2039A6A0F081922CCF5FBA84406EA636D93BC374C1324C66C25364FF11FC5A05FCB2B59B3E7A5DC08AE7D77309BBC1CE89BB4617D87255B78EFB091E1198B6E39D304AAF40CFF7243E83BF428286563F95F1A081CAFD469D789CD59C4A607C2708099204C3B81D72B7DF8A2BFB77E1AE0C35D927151264291AC05368C9099999995866BE46DA6B4509120E0F184E3EECFE9CFCC394A9F01A93AC0C5991717B95214C48109203C276C1866718AB376F2B02CF6427CBD48FE0D93B5870D758027E03C16F22F0CDDBDDB0854BDFAD5CFA6CE72E6193832B3474078D6FDF5D5DA5C1B9A133D7053D88E92F93304C4F57A5CE1BACDAF5D452356DDBA59EF91ACB230F59D725098692044F477BDC4A8D47011B9E235927E8BD086E851CE0B663277EA616848455EBAD60C989D2DC72A3A296C2FBF74842385C03772A83D2156E9F440961D1F1CA582DCF49B915126C9D3D614DB3E0926521778A66F4FC4AC6B805172F6BB871162F6FE4E18B15810A705B0297159A3DBB5059A63873B8B2E3F343FBEBEE50EBAEDEA67B2FADCA1DA8807F8884A10375556DBAF7693C44477BA6DD08CDB48B410E1F0A38EECA9638346637DC9DB6E3FAA1FDB87DFFA152E76576F0F40F42264FA5DEB2453E7EEC182C087ED6C2A558BB710BB273CE287D8290E0C12DB328E1E2D56B0A09211131B8C5FEE03143441A2ED925C8D649408909700B49769F8017AFDB902439DCD9C6B34F01EEC45944BA4E179A2B1527DB2B5BB5EE306BD9F2E5982EDDE2B5D4D4677554D76CA9F757C28147593FCE30D2B7DA613A342FDFDC18EF5719E0F1DE00DC7AF884C76EB9088FDD03176717E465A62A3DFE211EB67831E1ED8ADB53B4EE7EFD0659D9D958B36133777B533165E61C8EC2B90A09DE41E1F0098B56004B120CE659848CE15229A48354CA2D95E0408FCA8648400911EB78E0229EDF520C5E9E13E0B24891F7C8642987C0CA6917E70DAFC8DD706272B5FEA90D6C9B378563AB5670EFD60DDBFA695F5BD0573B788066BF11CC11D57F97183B6BE9A8C4DAF7D52D6DD2A1D381EC415DF066CD08C07A146E6C31451CEF313873F5060E651EE3E62856597A261F4C6542BB87F42347393B842284CF3FE0EEFF194B5DB690C0E43961AA2966CC5BA890207D82AB5F10BCD950090932730809FECC27D289CA8C51526E1D0950962502CE83679BE26D6B2E684BC08BD7E57501EE29C0799EE1CB4D936F0C0F78B958B51B6E842D3FB6C0F6366DB1435D1D7BB5B5913A70200EEBEB2173B001A275753F4CEED6FD44D7EE1AAD7B315FF4A6A95AF33FB116BD34CB8F6EFEE3316FDEE41A52EF1B1CD7698B6BCB8C90B82B18E124C23D2C06163C0136658B7AF8D8F12212488CB4BA6E7E81B87CBB102FDEFF826CCE0E120E63A88499F317331C4E731B7C5759B0C8F1DD03EE1ECEF0A84E48F0E399A5540A69984ACAAD8B4FA0B232172B39D916AF8BC93245C811F0B2E3F4A1E77DB9FDF6F00F85FD8CD9B0EBD8091E3FB546449FDE4824F003FAFA48D6D343EAA041481F3C18213DD5B1B46E5D0CAE51F38D7AB71EFD5B366DA66AF1DDF72A55F9CA5554E5AB565595A95DA7BC61C3469901A54BC3994438D1826A56C6FE9EAD91BA7432D2ED96E3B0E574EC76D888FD596778287B8A4772898A7CC7B2A14972DB8A0F776F70A7780E5694EE7496C789D3673231E6E00A1726227B9936A505CF3D775E21C1674718D76CF9CA12258B4778D27839930401FFA989224A0890C7429037F70C9E5CB4BA58AC8173DF7E08ECD01EBB35357160903E0E12740AC1A79004011FD3B72FD6366D06A372E5A14F5CDAD5AA3FEFD8BA8D5699D2A555BFFF57B55AA5110D1AE684F14D5E34779A4BF135A87C69A476698AC2E99A28583B1AB15E4E4A9F2FE5C89C7B01E7F99371CFCC002FACC6E386E73AE424EFC549AED3C278E3C649EE18F3B83B94CDB1A8475AE6539C2E25297AF1585F6686C2FBF795A64ACAAD138FF3FE4882FC2CE01523704FCADF7BBB0BFC4D462252BD27F66B69E1809EBEE2F9242A40C0A711FCFE01BAD8D6A60D2656AD8AA1AA52302C5316C6A54A41BF5AF537B56AD4D029F5070A4AA9CA96ADAADEF48744BBDA75E15FA60C024880377FC1B36C5978952B07375569F854A982BB36ABF174FB529CB71883D3E663706DF568BC5A678CE796C678B26A389EAC60325D658C879E96787F3E0B776FE723E74A3EC3E5AE328ECBB428D20F89E45901ABCA556E92646153D273383129FE3D0911F0625275DB150F3FE696A8254BB05F4F070775FAE120635D242FE0C504BCFCECDDA50BE6D6AA0DA3B2E56042058C2C5F0126A5CB60246D6083461FAA55FF46A79803450E4248595AF5B295AB68346AFCBD9B61D3E637367E5B0FFEFC80C032A5E15BB182A28C544343BCE3E4F78A5BE797016E7866351BCF571BE1E9DAE13492B0C6048F569BE081B911EE2DD2C7FDA54371C7661E2E47FAE3CAF93CA5ACE6930891BE28C1D597B984A1220A911B3FA4443A7AF93181FE3E1C24E3CB2D00911B37E2E06823640CEC47B08C794A3F49AF08BCA840C2204C4303168D1B635CC54A184DE0632B55C2185EC7D0B146DFD4804693E60575EB37B42A5DB66C4B62AE5A8CFD2309DFF0897AB456AA4A9586D46ED068BB4E8B1FAFAD69D8089ECC13614D9AE06974343EA4A7E3C59EBD78CA63B1C7D1B1287075C49DB5B315E04F560F2311467868618C7B2B8D7177D930DC99AF8F3BF3F491BF621C0A595A6FDE7BA8483F8439414EB22F704F298933E3585611093CE15648E099823765EF450BDDEE8C9469139139441B8707E9206D28011BE89104B122E9C731EE37B7F811D3AB55C3F80A9530B152155A654CA8501E63AB5687EEF7CDDE36FDBE692C1D3D81183BD15AD06A959050A286F27C5083D698262C7554952B37A87ABDFA1BD41B37B990BD691370F4285EECDD8BE7B1B10A218FC2C2F16867040A7704E3C6D62DB8BED214B7170DC58315C3F0902151B8C2187758616E2F32C40D536D14A4C4239F3D87483F9465D59549308FD3A58488F41C42C2769E597AEF8CE57D4D7B11C00D55FC8239C818AA832306DAC818A68F4386FA4825016906FA7CDE0009BA3A7069DB0EF329FDA955AA625AD56A984A9B4622E46AD8A8F1CF6D9AFE70BC628D9A66C43480A6416B476B48AB422BF3696A28098B4A7CB226EDBB6232DA8E3536497FC376F84D62225EECDE8DE7717178BC932DF0AE5DB81F1888427F3F1406EEC04D17775CDEB4017973C7E38AA91E0A970F5788B8BB60083257CF411A8FCE64B59E7EE498A2045B4757DECB7056E91AD30E672A2DB83D93AD776028C22D562271F800A40DEC8D34435DA40F276892904E120E0F1B8CD4C1FA085453C3AA068D308B9E9E45A98BCD2411332B57C5B8FA0DD1A3798B4B35EAD6B753952E33945834696AC50AF896D7CA9FAAE053224A5421EC549037356AD878F9959818B00BC2BBA4248580279191781A158507C1C178181282424E9577DCDD51E0E989EB5CB85CE7BE216FF52A648F3344DEE481B833470FD9EB17203C310D71A9991CB6E2B18E83CF8C85CB941B3AE45E288504E6094766FD4893C1D8DBB71BB37B2F2451010786EAE2D070363B46837164B801A2347BC3AA59732CF8A616E67D5313F36BC8B506E6910CD36FEB42E787BF3D69D0B07140A98A15C712435F1A6F4250FD446B40AB462B47FB6371F8230FBFFD5CA3769DBEC307EAA7C46DDBF6EEE5FE442025052FE3D821161370CFDF1F6205DEDEC87774C42D37375CB5B1C1156B9A9D3D72972CC5898923717E123DB87C1A22ED36C3DF6633DC962D8083B52D4EF320E632172A29DC32059384359BAC61DF5703FBB47B22D1A01FD2870DC4311303648D1C8244BDFE70613BBCBC4E3D2CAA591B8B6AD5C1625E9756FB06F3F9DC88A63FBC6ED1B47952D92A5567154BBF9712D62A153B2295E43C71EC1F9B833F075FFC4AA99AB5EA306ACA94AE5AAB8EC9907EDA89BB6DB6E29924C8F8783C602814F8F8A0C0CB0BB75C5D71978F6F3838E086BD3DAED9D9E182A5A572BDC2C56C543F1D24F7EA82D323B57171FA60E44F6756B7B74664C609C4A7F2AE37DED3B49687BAA3D878B951F6278C06207BB4014E8D3564080C4460B7CEB06CD81866B5BEC572562EB33A756146052CABFD2D2636698E4ECD7F3C51A556ED35FCDE83685AC5D2FF81570250A42FEAFEEBDEFF941A21A172956A4A67A92A53AE6A956F6A0C1FD65F372D6EDD063C675E78C170B8EBE1A19070CDD656B95E1712B66EC58DEDDB71739B1DD2E7CDC7E626CD10D3AD07E2D53590A4AD852CE301C8993E1C7BD79BC39FC4396DB6810DEB7FE894D1C81D3F04A7270E45164988ECDD13364D9BC3A24E0358D4AD8F5575792509AB48C6BCEF9A42EBC796376A7C5BCF4155B69CD127D26FCDC7F5692525F09F035F42849050A94A5555C5AAD568D5194D0CA772152A55AB596B9C51DFFEC7F7AC59F3EB233F3F3CA11AEEB8B8E022ABC8156B6B5C23113709AE8004ADA584973276137AF5C2EEDE7D10DFA70F766BF545129B9D4CC3FE38396E1072260DC1D94906B8C8AB9090A8A705D756ADB1BE7E63ACADD708960D1AC39204ACFFB63E96376E02C31F5B3F6BFC5D937055850A93F85D7569BD691D6892D06BFCB3D2FF6C6CFC9184F2952AABCA93144519A5CB54AA51A7EEB491BD358FED59698102827EE0EC8CAB24218FA17097C9326EDA34B02E61419D3A38C8F63689FDFD1E5EF7F6EF87044E787BB57590C8F636C3500F27C71AE0F0085D0476E9882D8D9B6253FDEF60D5A8093634FC0E9BEA35C43A3E9EF463ABB7AD9BFD70B06CD56A0BF88507D2FAD3BAD24AA42FD5ED7765EFAB41FFB537FC1909A28C7224A44C858A4C3795EAD4AC5173DA68CDBEA7E2E6CE430155F08009F2E2BA7558D0AC19FA54AB0EB5167FBB32B3A7C693D0FE3A4825F803B4FDBABAD8474BD0D12519BAAC0603E0D1F2276CAEFF3D6C1A37833589B02601D68DBEC7C2BFB5468F162D732BD7ACB55E55AA94943C6D9AD4FC569F48FF1FCBFA5F03FF67E150A2841212441115244CCA33F196AF50B3CEB7F5E68DD3E89D77D06C39A2A64E45D7BAF50AEB376868AB2A5FDE4055B1D2ECE6CD7E889EDA53E36180EE00A4CAA043E0C94206AF42864B8B56D8FA5D33D8930007DA9A1F5A42BF759B3BB5EB3770E37C33BA58FA5C02A8DAD3A4B1FBA7B3FE5FE540F535259490508E6494A532D896326794AFF95DA3EF56FFD4F407FF7255AA76E61FAB4D932E4D3CD79F844C6BF05D939091DD7BE6BBEB164D7D87D8FF27920CB71F5BC199316FDBA225C6B66EFBA4C9F74DA319F753F97B9C8215E977A1352FFE4CCAF05F2CFDCF31F38F902044546098284494A7324B7D4CCA92A5A55435A349DF2ECD8B1693ECC43AF51AB8EB77EE9AB74D6780B208F169DD0E735AB7FDA57DF31687CA55ABBE8CEF3328F6BEFC8EB4F332DF48BBFBEF91FEBF928432152BAA4A9595EFA9D46669506452952F2FAA684A934CDE83D6977DC8A86A75EA6CD5EED0E99C769B7617ABD4ACB54555BAB4943CC9FAD2EE96489F71A79219E7FFAEE47D0EE8979EFB6795F009099F7E7CC97C22CD4B09190250BCDC8F6644F58CE255A42F3F4BD617F5C87BFF33D2FF3729E1731FFBE9B026E3ACB4B592334419D2EA76A3FD8D56975622FD7FB8DDFDAB0EFF3F53E739C86621A9BF0000000049454E44AE426082)
END

END