USE [CDT]
declare @sysTableID int,
		@sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysMenuParent int,
		@ListTypeID int
		
select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = 'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = 'STD'

--1) Them table DMTKNH
if not exists (select top 1 1 from sysTable where TableName = 'DMTKNH')
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DMTKNH', N'Danh mục tài khoản ngân hàng', N'List of bank account', N'BankAccountID', NULL, NULL, 2, N'Stt', NULL, 0, NULL, 8, NULL, 0)

select @sysTableID = sysTableID from sysTable where TableName = 'DMTKNH'

if not exists (select top 1 1 from sysField where FieldName = 'BankAccountID' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankAccountID', 0, NULL, NULL, NULL, NULL, 0, N'Mã tài khoản ngân hàng', N'Bank account ID', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 1, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'BankAccountNo' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankAccountNo', 0, NULL, NULL, NULL, NULL, 2, N'Số tài khoản ngân hàng', N'Bank account No', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'BankID' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankID', 0, N'BankID', N'DMNH', N'BankName', N'Disabled <> 1', 1, N'Mã ngân hàng', N'Bank ID', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DMTKNH_DMNH3', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'BankBranch' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'BankBranch', 0, NULL, NULL, NULL, NULL, 2, N'Chi nhánh ngân hàng', N'Bank branch', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

--if not exists (select top 1 1 from sysField where FieldName = 'TK' and sysTableID = @sysTableID)
--INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
--VALUES (@sysTableID, N'TK', 1, N'TK', N'DMTK', NULL, NULL, 1, N'Tài khoản hạch toán', N'Account code', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DMTKNH_DMTK5', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaNT' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'MaNT', 1, N'MaNT', N'DMNT', NULL, NULL, 1, N'Mã ngoại tệ', N'Original currency code', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DMTKNH_DMNT6', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Disabled' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'Disabled', 1, NULL, NULL, NULL, NULL, 10, N'Không sử dụng', N'Disabled', 6, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DMTKNH_Disabled', NULL, 0, NULL)

select @ListTypeID = ListTypeID from ListType where ListType = N'Ngân hàng'

--2) Thêm Menu
if isnull(@sysSiteIDPRO,'') <> ''
BEGIN

-- Site PRO
select @sysMenuParent = sysMenuID from sysMenu 
where MenuName = N'Danh mục' and sysMenuParent = 
							(select sysMenuID from sysMenu 
							where  MenuName = N'Quản lý tiền' and sysSiteID = @sysSiteIDPRO)

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Tài khoản ngân hàng' and sysSiteID = @sysSiteIDPRO)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Tài khoản ngân hàng', N'Bank account', @sysSiteIDPRO, NULL, @sysTableID, NULL, 4, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 27, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300000B1200000B1201D2DD7EFC0000250249444154785EED7A075455E7B6F5B6C7163531D6144D72AF1A7B4345115440C4860AD82B8A057B4145056C882248EFBDA3F45E15115001054129228AA8888ABD9764BEF96D30F1E69A72DFB8F7E5FDE3FD8CB1DC87730EE09C6BAEB9D6B7F6910048FFD7E3FF3C014200FF9F0441C2C061233F1AFD878E904628AB4AC3478F95068F5092468D5597FA0D192EA9A84F907A0F1C2A8DD598F4F3CF0DE2EB6A13A74A83878F92DF237EE7D091CA92B2DA04A9FFE06192EAA469D2E499F32405251569CACCF9D220BE3E49670E7FEF28F9B5217CAFF85B2394C736E06BFD35A7CDDAA9BF71FBC9436E810F8D0EDAD6F07D83FBF26F0EE0EFFEB3D167908234719A8EFC3706288CFCDDF84B49E83758411AA5AAD15A718C7AFFF153B50D976F343A65E6E4F3DC3D321501C9A71198721A41A967B1CAD0248724B419C8C4FC2912F8BEFFD5244CD69D27F51930B885DA9419A3A886ADCB366C4BDDEFE0FDCA232A8DA0CFC03F291BDEB127E11573420E9FB80CC649E82E59EE35406144D3010A548320E3774228B12F5533719AF6FF0E2508198FD59C224DD499DD60D0F091C366CCD7335DB16557C67E07AF07EE11A932F0A0D4333258AF98E33F837F4F82B80A62EC83627E1C3361CA9ADE0306FFBF4302B32629AA8C6B3D6484D220CD19B38C571BEDC93577F17BE21E91522775865F4226B39E0EAFE88F83170478F235F7C814F8269CC21E1BB76743149594FAB2DE7F4F09C2CFFE5225F4A511B21E3F559F3CC370E5965D9904FEA30012982CA49E254B5B065E2FF7DFBA7AC8E053E1169E0C97D004381F8B8767542A0CB69A5C1A3074782761AE1F2362A08222C95795FAF0FFF1979483A8C55E0386749DB7443FC2373C1EC169B908A0B97913B820E28F80BFCFBC473D78D7B044B810BC53480C1C83A2E0101CCD6B34662E5A1E42A5351F40C002F4CF41050C1A364A9A345D57EE60FFE3248896C9CC28ACDDB23D3F32310D096919088C4B87C8E89F039F26CB5E645E801799770A89852381DB0744C0CE2F0C363EC7E4C7875CFCA03A516B47EF81433E4A82A696F6FF3C09427AAA9A53B44DCD2CEEC4A4A4C3C527107EC722119B4A678F655DFF8EF43D698622F3EE1175E045E69D057866DC213012F6FEE1B0F53D066BEF10587906E1B07B00C9380AA303475E29288DD1E8C7BFFD6B25FC8F93C0FA6F3C76C264235B57AF171109A9B075F386835700BC82C3119B741C11C9192C85BA76F76188F2106DD14D800F15E0E37E913DC1DBC9E043614DC002BCA547002CDCFCA8021F983B79C9DFEB6FD856C141EE7B31A489D2103E3178B892A43975C67F5609CA6A1AD2DFFB0C90274812D0517BCE026F7F66FD686C12AC9D3DE1EC1B0CAF9008B80786C23F3C0629E999084A38C9B2A823E117F029700D17B2FF057C9DECEBC17B1FC511AF60820D8485EB2FE00F3878C0CCDE0DFBEDDC201EEB2C5C16477F68294810640C1E31FA3F478270DCEF7AF5938629A974541AA73E6ED9AA35B6E656B655C76212E119140AB3238E700D38069F6351F0A40A3C82C2E0C6EFA3A88E948C333201C2ED458B740B4FAA73FC9038388650F6011F66FE18C187107C9DF42D58FF079DBC61EEE849F0EED86FEB8A7D36CED873C4017BAD9DB0EBA08DF087037D060DFDCF9120CE003DFA0E6CA1ACA6A93E7FC9B2438E2E6E79D93979C8C92F421CCDCF89F57FD8DE05BE81C170F50B81AD871F5CFC8FCA64083578531569A7B2119996092702976BFE28C107C7B0E6A3EA6B5EC8BE1EBC277F9FBB3F0EB9FAE2A033A5EFE85507DECE157B65F08ED86D650F93C3B6D879F0084C795DBF63F79B61A3C7EA0A6FF8B72A411C84862A2A2BCC59B864BFA58D7DCE898CCCA7376FDFC6BD070F71FA5C0102236261EDE2093B4F7FF81D8DC0D58A0A1CCFE01C101004EFC0A338ECE82E93E116108AD0D86464E69C834F5432EC987501DECE3F02B6747CB9E665D907B1E603EAC17BE3809C790F66DE8D19AF036F6A49F016B6D875C81A3BCCADB0C3EC30B6ED3B845DE6965862B0A17AA48AAA4EFF21239AAA4E982C12F7E75BA4A8A55F07079E4F662DD40B8D4F3DF1A2B2EA061E3E7A84FB0F1FA0F4CA5544271F872F41EF3D6C036B576FCA3E9C9D20023577EE20F34C0E8A4B4A915F740991B1F170F1F4A14F78C8EF4B39998913D939B0A5E189ACFF9279CADECD9F752F322F64EF25D7BAA8F97D362ED843C9CBE09971017E673DF8ED04BF6DAF390C4DF763F5D65D58676482F098F87721C7422FE9AD30301BA1326E184FBC6D451BFDC353A498F07E1D3DFA0D6C6FB8DBEC7A4E4925B20B8A71F172052AAE57C9D98C884F9155E0E0C95AB57596BD402822FF4211F2F20B505A56869C73F9A8BA71938FCB91969E8190D008F88746E1CCF90284251C97336E555FF375B2FFA0E6297B19FC1127ECB67420783BD67D1D782366BE0EFC416CDD7D00EBB69B60B5E14EFE1FEC70E254161E3D7ECA1D09F0EAD51B14165D7CE7EEE99D316FB1DEB6810AA33AF51F2A92FDF123B57CFEFF75F4EA37E8F32D2666D7320B2F2321330F8959E7909E5B88BC4B65282A2D47DE858B486756C3E393698A1C625CBD60EFEE032766FE044BA2A0B04826E1C6AD6A5C2EAFC0A3274F647F88493EC19F2D827340180ED0ECE47647D91F707087990CFE7DCDD781373E6443028EC8B237DAFF3EF366D8B063370C0C77608FC511249FC840EDFD87F8F1C79FF0E2E52B3C7BF61C6FDFBE93C978F2FC253C0342A0305245A3CFA0619220E263F1D17D0295D176C1F2D585E1291948CBB980D4B30548395380D433F9389153883385A5282AABC0252A4410924AE30B8B4B827770182CE905D6CEEE080A8F6279E4A2B8EC321E3C7A0CEFA39124220C67CF5FC0F1ACB3D8EFE089FD343C33CA7E6F7DE64DEB332FC0EF3427F8039630DA675127FBDD66B2E40D98799383564848398E7BB5F7F186805FBDAA03FFFAF56BF9F1F51BB7104FD3F63E168D8376CE3F0D571E374EA8FD63A52F9E931446A97C340629282A8C56D5F073F40E44F6851292908F8CFC62641694C8C4A49198CCFC4BC82FBD82D28A6B28BE7C4526E4D4993C44736C76F30FC611279AA34F00678553088C8CA3511EA37A5270896A0A088FC5AEC3F61FD43C65FF01F8EDFB2DB09DB2DFB6E700D61BEDC6AA2D46303E7018D109C9F49F7B78F3E62D9E3F7F81A74F9FE1151520C0DFB85583E48C6CB9353BF98620383A09964E1EE0766CFC7F8B84218AA3854A5A4C9C31F3A43BFFF3964E9E38E4E086A0A8449CCC2B42C6F98BC8385724974906BFCF2D2AA332AEA2EC6A254A580285C565C83C9B87F0B8447890106190E6762E34491F9C3C9D8BC2923258387AC86DCEC482B217993763E6EBC16F65E637EDDA2BCBDE884A088B8947D5CD5B32F81704FFF8C9533C67F65F92805BD577703C93B308E713479FBA61CD9F241F7674C3EC45CB2E104B4FB12214983E16BFA904F14383388191C1C93E41C75EC524A5C19C063467B1FE4FDE219138214A243317A74846F68552640995F0F119AAA6A0A41CA557AFE35AD54D545456A1A8B814D9B9E711C7CEE2E8EE0B2B2AE43C3B48DAA9D36C7116042E6ABE2EF302FCC69DBB69783BE4C7472363709DE05FBE7A2DD7BC0CFE791D78A108E14D9E04EDCCCCBF072FBAD1C2E5ABAB86298DD9D07FC8F02F84DAF9F837B1CA2FFE5E908831A7B2B29FBF7EFD066C99D09A39B7822BB21BEE949C316BF60027B7D0B8649CCCBD801CAAE12CE3343BCAE9824BC8BD588A4BE55771B5EA168154E32A09B9CCD2C96697C9A537545CAB823B55B27EE71E6C65B6057821FB6D041FC0B62BDEFFF2E54BB9DE1F3D7EC2EB33F9FB9A3B7771EAEC390E6291947D306B3F4ACEBC8D9B0F566EDA06D5C9D33160D8C8E562B92212F95B25FFFE79F90CF07B4182269FC9C97DFDFCC5734425A660C69C0505061B361556D27CD2D8092CED9DB0718709CCAD1D1010168D149ADE990BC5C8BBC85659548AB37C9C5B588242FA4039418B9FBB595D834AAAE4DAF51B385F78093BE9FEE23FBFC5641F7C8243514AC315F52EC03F78F848CEBE28819A7BB5C8CECB875F28F70A3E41F2782EC0DB525DAB366DC7782D5D8C529B88319A53E903E396BD97FE1F92A0C2B5F8EF05CF0CBAE7F20BDE3D79FA9424244367DEE2722B1BFBCBA20555DFBE03FFA361D87BC80A9B77ED8689D921583BB8C09F594CE2C1E93447EB736CABE72E5D461E09394765E4B3548AA90E512AB76ED7D0E11F70F7900E571F7F7692723C25F06704FC901DA52EFBCF71EFFE039C3977413E9089CC8B73895F18172D346D032A476DAA3614C7694059630AD4A7EA427D8AB630437DAEE2B8FA1FFD8721F600BF1B2AEA9A0B0A8A2EFEF490FFA1A884147092AC3C6879E49A20A19CD2F60B09A32BDFC6858B97101CCE83908B076C9DDCE0EEEB8FD0A8587952CCE6982D08B8507259F68B82625E699C17CBAE501DD7515D73976DF4119EB2D6057041C0333E162D3037BF10011CCE9C6878EF332F8EEAEBB61913B03646AA6A42455380D7C18469B33049672E266ACFC108E571FADC6F72F427097F10925840FC5EA84FD25A5E545CCCB1F9A14CC27CBDE5B749C24D4142D9950A780586E0EEFDFBF27022BE6ED7DCC1594E8C510949080A0DC7D188682424A7E1386789ACBC0B54C2651451EE97591A4211175826828C32127A8DA5728792BF73EF1E8DB31821D189041F24CF1742F6E2F1C61D7B3061FA2C19FCD889D3A0314D171366CCC2449D39E08D1D4C9BB30853672D2009AAFABFD7113EEC12D2F459737F3366F0B5C93374D75F2A2DC3DDDA5A998485CB0D1E1C3C6C75E7A79F7E42195BA16740306ED5D4C804FCC8E7DE7FBDA0815DE7D478F6DC79241F3F89C4B413884C4C852F4DCC9E274D1F1EBFC5E0547AE51A4A49460943907285CA387EEA8CDCEAC4D15CC8DE8D0731D12E459647A931F313A612FC4C68CE982D3F3785A0B5E62CC48C794BA0BB481FDAF3F5C032D617FB05A1863F0A494B67F66FC654EDD9D234DD398697CBAFE0361D398A83CA92556B9F51090FC5985AC20149B8BB6861E2EBF59B3778FCF831AFAF7F26E3F5DBB754D12382ABE4D9E202128F9F828D8B170C8DF7228233440EBBC8B90B9764355CBD7E1337E933C919A7E5B6E7CAF9C4D0C40C930954497D120D4F4B363FDEB4C164DDB972C6A7CD5D04DECB10CB15CC5AB21C73F55763F6921524414D5F2C7E851AFE28E4DB55BF153DFB0D96C64F9AB6F3DAF5EBB28945F2ACB07CEDC6D724E1C5DB77EFE491D8DD2F902E5FF53309E5E5E5282929C18D1B3738D33FC02B12F38AED55F47971861013DEDD7BF771947E7122F3B40CD89EC7F17D96B670F2F0413ACB268A13A7210F4802A470FBB113B5E4CC8B5A9F32739E9CF5E9F3164367811E662E5E8E397A2B316FE92A2C58B1561CA9795D03C531FF02091F3B40BD7FEE870143B8BED6D927263571188A8C4FC2AA0D5B7E3C6465FDA3C8FA459689AB6F002E5C2A914910C5909B9B0B07574FBA79018A8A2EE2E2A54BA8E50E42989E3843882E73FFC103790EC8E24459557D1B199C20DD48A6A9B905A6CF5980A9AC6DE5F19365B7D7984EF022F302FCEC7AC98BAC0BF04B57623E33BF70E53A2C5EB51E7A6B3661F986AD58CA2BDBBEBEBC64112BB73F084E84C37F338412580E876F5657B3BFDFA47C93B0962D8924C8991593A030460B672F24728526BE92121398897538E01A00D7E0289CE6A4789B9EF184838E20E311CBE5CEDD7B6CA3E132090FF9FD1B127A9364F81D0DC724665B985E9DEC67CB999F26D7FB62E82E5C4AA953F2CCBA00BF88E045E697ADDD0CFDF586F2ACB166DB2EACD8B80DA3C68DD79797AF24E08FE29F76091FEE167AF41D24E9CE5D682F4AA1A2F23A2249C206FE118B23D61C615FA2900AE0480D532B27B80445E01D7D223525196B39F27A4524C0DCC51F896C9177E9F6A2C5DE65CB13ED4F741041427AD6199998E72F5ED00FAA64B39CB96819C6B3DD4DD1FDE7CC0BF00B96AF61D6D7416F35C1AFDB8C15CCBCC16623ACDEB2036BD936371BEFC35A2E59940409F513E33F93C08F23909CF7F1BB9E20B6CA7317E9B9DFE6D6A8FCEA35D9C836713A3C6C6D2BF7F102CEFF3E4147E5F5975768ACDC1DD25253B1DED008B6CE6EF2BD87AC9CF31CAA6AF092C75CD16645DCE29A4E90907AF2944C8C1888C4EFF70D0965860D64E31399D7592064BFA22EF3ACF345B2E43762B9C83AB32DC00BC01B8C4C3972EF910910E78F4D7CCC13B03ECF0DF21AFEC318389C66C9214A418CD3F54112C4BDC3BAE83D50E11FE2FB1FFA4B8BF457FAD73093655CAD8913E1965D7B48821D1EB3B6CF7379F22109A243A69F3801838D8698CB8CAE5AB7895BA602989D28865E762D8CB3AB609F7519A15917E0131127B7DC72CE1A352C8F4B34595F0E5E4B56AF971D5F38BC00BF50CEFC7AB9CE05F85594BCD82689AC6FE0115BB44E4353331EB9CDB97B38C45DC311F9F168B509FAEF3F3022BA04CF12D260DEA21B3952451ACA03D57012F03E3852F24986C2A831F2D2A1077D40DCC713F1DD0FFD24FD556BC2C48C20F605E1B1096C597B6169E7C856F884ADADF06712BC43E32048C8387912EBB66CC782A52BB074D55A79705A977605F6156F71B0F839D6E63DC582CC8798995203DDD8AB981F5E842D9179B08CCE8475500CF6D8BA707F20D6663B64C042EE72E6793610E0D76D37FE39EB5B095E645E9C3D76F130674A02F673DD271EF35332F524F05EA5B839C35639859FBA99C818C40DFA47491842221495C74A639495A59E03852A86F03E43DF06ABD76F8A13B3FB459EFFC36212B06BDF01787A7ACA4E2F4E82C213C4FEDF279C24D018B33233B171DB4E92B012FACCAAD8376E4FBF02978A57702E798243858F619CF710EBB2EF63FEF17B98187F0723C3AA3130B0127D3D4AD1DF291F0AB6D9187F2411B30F1FC52A0B2F6CB6708611172E62D3B4838B95BA759B850C56647E0F97B07B2DEDB86B7480055775BBB99FE02D02FDBEFC248C3C2B30F323886FF29F2161A4CA584967A286FC79A381BC9DF52D95C0FA4E102408130CE676C8F9C8615C493A86DBE25093775E26412C457D78175A78C2E9D3A7B1C5C8588CD7B21244396C4E2B8745C90B98173CC2F69C075897598B65E9773037A91A33626F607C781546045D431FAF0A7471BC8A9656E56874A00892F13934D97E06ADB7A5A3E3D604F4DC1601A56D7E98B1CB0DCBF63A618319B751FCDBFBB8A63BC0BB5287B9A4B1E12E61BFB52346AA4F9CDF6F98A23492E786415C170C27A63F4DC2B409EA92223F60D577848AD4ADCFE08E46C6A6D9B5ECEBC204834882ABED11DC488F4135079EECDC73F0E5D17797B9359CFC8EE21DB52048D8B9C70CA63C511A99EE93D5B221A50C7B0A9FC324EF01D667D542FFE45DCC4BB90DAD989B500FBB8E9181D7D0DFAB1C3D9C8BD1CB8EA00F1642322D86B4331792E119489B449C86B43E1BD2DA4C48ABD2D16059029A2E09C5670BBDD16D813D862CB5C2A4F596D033B586A9AD3BB4D426F82B0C53EC3D6C944A8BFE54C0BF44C2540D75A9F7B0D15F4E51535D613943F96499BFF5DB6A1E77C59638283216CE7636B8762A0937EFD6CA7D5E9C1D5CBDFD719A77A55E7144CE397B163B087EE5FACD30D9678EBC8222AC4D2AC5B6734F6178BA162B48C07CFAC18CF85BB20294A880C1DEE5E8E95A862EB6A5986CEB0F77E7395035B387B4AD00ED8D73D0C5E42CA43519900C4EF09A0E69696A5DACE0E3658C256990E625429A190349D90AC3B4F471507D020C7BF4783667F0D0181505C5950314957B4CF833E5C05B597F5BAEAD69E6A73FB5A4CA48076F764EC683781FDCA87DC8DB6E1710121507077B07949C4E9767FC53BCD9E2E61B8863D17175EBEE172F919B9707E3BD07B8DBD3C39215063C0A5F80417C09D69D798435A7EE62416A0DB4E36E4133B20AA383AF61A8EF15F4762FC3D77697D0F260113EA102A2E20E213D480B2DD667228025647BEA16D64754609E37D5B12C157D8DB3F1FD5692B2248941F0B3085EC46212332D02BDC6EBC34C791C2CBEED06DB9E3DE13C7428ACC6AA5E5D37463560BCF2D819F4884FFFC11807A9A84922FA8D516FA8DB7FE0F1BC8983F1D278067070162ACDF511CDCF18145554E2D4E9B3DC1C45C94BCFD413E9DC01DC4146F6199E1D8210C8E7EF71F7FF98E7823C4102CD73819E3E96AF592F93B032AE04FA990FA097C68E105F8D89913730E6682586FB5FC10F6E65F8E248119AECCF4703933C489BCF6145DC5D149F0F41FF7DC978F012D8185E81B4CB0F61977A1DEB834A71834F56D6BEC02C8702483AD150DA9D857E9BA892D9F1902605A1AFAA1E2C478F859FA222E2555591AEA1812CCD09383D693222D4D5DF2E1E3AECDC9061237B8DA25F2831A45EFC47C4F7A3949BCEFEF66F67DDF921D7C08E6D90A3D60757B76823F9580042488473702476F00EB03E47D4ACB3397524901831EA3A79F9A2FC660D9EBEF911793C3B8872984325AC58BB91E55088E531C5EC04B5989B700B93236E601C0918195081EF9C4BD0DCFC02A43DE7E90124C0841EB0290BCA4EA5B878F301DCB22B917FF32906EECF457ED513AC0A2C416EE563A45DAAC578F3B318647812BDD7A4A1F6E91B9CBFFA08CDE79284F101E8AFB61411BAB3715C5313A91326207DE244644C9A84C0118AD8DCA10326B56DF75271E8F0713DBA7597BEFFEA6B496ADAA2A5D4B4552BA9D1E7ED9B6A75E97ADAA76143D893083B867FBB16481AD10BE99B1723C3722BB24C9721D67A1F92728B7853369FB7E492790BCE0B7339D0A4381DC6DBDB95DC295E82998D1396B13D2E5CB682C6588045E117A19D7A0FD3136F438D2A18155C896F5CCAD0703F33697A8E5D8004ECCC81B483B5BF291B9D8CCFE2EC0DDE49FA11B066F67BEDCC46EDF3B718699E83C5EE45A87DF6067A4EFCD9F13C6A0716E3E59B77A8A232BAAFA4378CF5C500752A78E61CA49104013E72CC189874EB0EED264DA1495CAAAD3F7D32A0576F95460D1B4AFFF8D5AA75F3199DBB1404F34D6E0C678643FDD5BF6943A40FEE869A65CAA836998D28373B79CE17EDC8887B01FBB58B71C770329E9ACD47A5EB6E14A4C6E33CD769C1FCE0C679EE186747154333E92E34E26E6334A35B50151A385F81C455A5645302E910BB815083206163261A189C445461AD7C201BB63F07536DCEE3F5BB9F30640F3BC48C686CF4BE88A7AFDE416D4F164E95DE8779C4659CBE7C1F9A7BD845467961C0F8E5889B3D0F49E3D561D5BB3716B66A85A9520368356A0C9D060DA0D9FAD3979FB56DABD6E0571434901A376EA5D8EDBB64CBCF3BC0BB5123F8900077FE806BE3C6706BD2044E524378B46C89DB8776E191CD6614EF988342A339B8BA6B369EEFD6C113531D3CDC391D0FB7D14C77EAA0D6D5146F8A7371FB6615E684156274622D46B31BFCDDE72A24D76B75E156C96B052417861349B12B23219C0F48C610AB7CAC66FD4B8B93B1C8E3224E963D905570B2B8162159B748C25B58C656C853EAF18BF770E7F16BAC75269943DD64121CC7A963F5679F43BB7113E85201339B36836EC34698C9D0E8DCF56DEB4FDBA8D57320CB4110D298F169E3162D4776FDF26B27AD6EDF56EEFBA223BCF90B7C1B3584E727CD6465A46B69E1354F7ECFB9757EE6E384C766ABF06497361E994C679004635DDCDFA58B7B46DAB8B3411377374FC5AD436BA0E3730613A26F627170163A1DC941A37DB96862578A868E04CDE1487226214EE57544B8309CF9D8F212A45D2C932DD968B52E1D9D0C52D1857130BA1C29176BB1C1B3087689DC51D223EC222FE3DEA35708CAB80569B00B7A8FD5C3C2AFBFC56C029FDBBC39E6F03A8789D56ED31623BFF9B6BA43A72E660D1B37EE41CCADEAB1FF4C421B3ED191D1536ADE7CCAE79DBBDAA87DFFB7ABC65DBAC2953E11FCCD3778141181B71919781A178F47BC2DF620220AD58EB6B865B24A06FE70D73412A18DDA1D3AB8B35D07B7B74CC3ADB59A98EE781C6A21D7B0D42B152A2EC731D63C0C339D5230C93E1E0AAE67D1C98A439023D520CAC38E04D80B42488E20C591CFB1754A867C8F5E32A4A91190B4C2D90542F18341327AAE608B54F485F6BE2C5845F277287AA0E7E845584C1216366F8105CD9A626EAB4FA1FE75F757DDBEEE16C5442F20C6818CEF199FBD27E1BD1A9AF2415BC6970CC1D200A94993899F76ECB457F1CB6F4AF3F6EF07CE9CC1D3F8783C898A9209B91F1C82FB474351E31780CAC3E6B8B65D1F37374CC5BD6DD350CB92A8D9A6835BEC305A0E6918EE7319FA1EC918E3958B958127A1E17B1E9BDCE2B1C02E12C36DD8EF6D2EE36B8F32F4B14E472BDB227C6A958B06565483154B42C4E18B90F6D1373667415A9000499B644C08A13906439A7C0C925A205A4CE455C913BD94176359D76ED06BD51A5A5DBF7CD7BBDB77399FB46D67484CE31923197D195D182D198D3EB486F765D19C4FB6637C554F469FB93ABA192F390EBF4C4EC6D3D8583C898EC683A347F1E0D831DCF5F5458DB7176A7CFD70DDC119E5FBF7A264F57C5CD19F809AADD36522B4ED53D0D5BE141D0E15A0D991127476676BA40FA8BB6663A17908865BB0B5D996E30BCF6B186B9D88BECEF998E39C88D136C7D1677F3C9A98D21045171173447D0791561CE780145D478026C9D0082211BC2ABAE307E54558F0433F0CFFF6FBCB6D3B74B2941A369A4A2CCA0C857A057CC16B8B0F55F02111EF5521D86926DED4B5CB975BAF44468253105EA7A4C8043C0C0BC3A3F070DC0B08406D60206A78AABCE5EC8C6A57575CE3C2E51AF70D25BB76226F9E164A166B60BA6D125A1C6226458D9B100CE5DE88DDA12D418FF628C4375B39E9199FC777BE1530F449C0429704683A9CC050BB73D0B38FC4D483C7D0652B016FC9C1173B323170671CDAAD4E44A315291C95A320A913FCB840927014D23037F418B3F4A75E43468435F8E493B9C43086C10F21483F303A335A339A307EDD1C7ECDC32FDFB7FDBCFD98E91A9A69D15656AF9F25250369697816CD09B19E803BDEDE1051EDEE8E2A5B5BDC707242C5A143B8729061790417366DC604AB6434DCCBA1C898C3104F85D2810B684003FC21F83A8686DE445323CE081C873F373B87C19E2518E79A8B7E07D3A1EE980D6D9B442C773F81E1C694BF412606ECC9A47AC2A0B439088D678763E0B6548C30F0432B4D5F341BE7CBEEE0826FC7E83FFE6EE8A8F944314A2E6B49E2442409CF1389FDF570F0DBE0EB5F69D0EEB3F6AC9A460D5B7DD65E77CA58D5E4D84387F15818644C0CEEB114AA3D3C50EDE6861B8E8EB8CDC795D6D6A83C7204572D2D516A6A2A5F35AC295D665A96F2364ADB8857FB32964439DA7954A0B19815C4E1489C05B6E670882AE419220F9DF7E5A0EDCE33E8C461A9FD660E42CBD2D07D336F009184F5474231DAC01D3D96C741D724068BF7474243DF15525F277C3B6E456D4F25B529C4F01D830064E90B75FFF9EC7F488D20A145CBD6F26429356AD2AA659BB6D3A78D533F19BD7B2F9ED0179EB21C6EBBB8C8245CB5B090AFD70409870FA3D2C606D7AD2C31F6205DDD88A52054604812369EA21AD8D31DE9FEB66C93A23DEE2549E230B498B185C765B9F66982EBF95E039E1457A4A13149EA6C9084411B62A16E140BBD3D21F8FBC2208C581D0153A724E81B7943EA6543120CEE8E5EB06A3071BC6F81FF3DF0EF891024346FD94AFAA4556BC6A7AC2696539366CD5BB7FB6C9EF698713971C6C63FDDF7F2C243AAE1968303CAD845AE1C3C88AB24E23A55514D82869BD2F836B114B692802D02D8C93A42A806C98141D3941F0B72E6C6425A48F75FC7F76CE049713515B22C196D57A5B2B59E456FC3740CDC9281D1DBCEE0CB79B168A8CA12A00FA82F0F86C64A7F483DADF1FD58839A99FB1C840AFE65E97FB4367E4D42D3E62DA4A624455646C346CDDBB6EFB074A692F2D9B8ED3B504DD0F7ECED5141124A580AB76996D14B974277E66A7C6194850622B35B48C63AF6FC350469C1162848E01E419E162D689E8BC4D19826383F4ECEBEB48CE6B7301ECD17C661B4492646D218EDA20AF1F0093F03517617DE1C98B67211336E452C3A8C6787E8698BEFC719DC5CE91DD7F50F8BFDCFBEE1B74810CA6842421A35FB8476D3BC7DBBB6ED96CE561E931FBD7A0DAAA9827B34C8B2DDBBB1AE7B77A8B4FB1C9335A6DC5AB972FBCB994BF7A2F74A1FB4374840B3FD97D0D8F336CBA18A2470D071607908CFD0A109EA46429AC31D815085B8EA44A2E1D45034E65C7020E422AA8AB36013740F87FC5F2124E5150AB9C33C967E175D945CF1D588153757FAC48939E0DFF3F547240845341365D294C6DBB459BBF65F745C336FA452C909C3AD08D7D3C3900E1D6B3A75EE6221356D3A59FAA4F9AA6FBB7F173973C8D0873BD42661CDD485D0D43345BF9DC7D0C1EE225AB9DF64EBAC66F6590662322468792812A46885D50D4723BCE1995806FBF037D0DA560B3DB38730727D8C1DAECF61ECF90483A678A1ABC28A1B6B8252453BFCF77CFD59129A908CC65406C7527A46D3765F75FD6AD70FDDBEF36ED2B2D520FE4F3E6788294D4C6BE348C8D2CE5F7D133873D8882A3B5575F8A9A9E3A08A1A9669CE82F26C43F45EED8B2F28FFE6B368A85A2C8B491C93353819AAB2E68779628F773E2E540027F27F825FE26BAC3CF204C357DDC7528BFBE83DC1035F29AEBA3EC3C4A6D3BF8701FE967F850441443396894C44531A68839F4D59B8B46855DD19626E17C38B0A4D7661FB8E9D9D35070D29B1521B8F646E801C7BF5C5DCBFF7FAF1EF3DFA94761D3A29A3DB24A38B5D67793F6D473534D18C40039510B4550DC6F83589D8EBC68F08A65521ABE8394AAEBF43D2B997E83EC61DDFAAACAF549CB3FCAF27A1D1279F480D1A8BC14CEECDC2A5C54955CCEA4215DD18FD19C319633887CC6ADDBEFD61D5FE032FA9F6EE5BD6B2DD67E652C386DA7C4DBD61C306135AB569A3D3B9D790F5DD5516BB769FB23FEF334D977B0D4679BF6D32D81B6D147CD04BEB18969B1EC711BF42741CED852F15575D6BD3FEB3BFA61C3E54C2072448FBFC6324EBA0A8F7840832C4F0F29E8C7EF5CA18CBAB36D5338B572E8024F1FD907AF588F7D281A546CD9B376EF3C5D7DD867E354045FF6BA5C56E9DC7EE3ADB46C9E64EF3A1AE683090ED72802F3A0E5978AF79F3267FFBCBCBE163246CF74B95BEEBD1EB4332C4614D1C67C5582B3C4328438CBA43197F6774A8578F909450D33F0C3D8DF85DAB36AD3AB4FFFA7BA52EFD94577EA9B8D8ADEB981DE7BB2BCE8868DEAA853804FEA9AFFF0244DFD7F1DC7269640000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN

-- Site STD
select @sysMenuParent = sysMenuID from sysMenu 
where MenuName = N'Danh mục' and sysMenuParent = 
							(select sysMenuID from sysMenu 
							where  MenuName = N'Quản lý tiền' and sysSiteID = @sysSiteIDSTD)

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Tài khoản ngân hàng' and sysSiteID = @sysSiteIDSTD)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Tài khoản ngân hàng', N'Bank account', @sysSiteIDSTD, NULL, @sysTableID, NULL, 4, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 27, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300000B1200000B1201D2DD7EFC0000250249444154785EED7A075455E7B6F5B6C7163531D6144D72AF1A7B4345115440C4860AD82B8A057B4145056C882248EFBDA3F45E15115001054129228AA8888ABD9764BEF96D30F1E69A72DFB8F7E5FDE3FD8CB1DC87730EE09C6BAEB9D6B7F6910048FFD7E3FF3C014200FF9F0441C2C061233F1AFD878E904628AB4AC3478F95068F5092468D5597FA0D192EA9A84F907A0F1C2A8DD598F4F3CF0DE2EB6A13A74A83878F92DF237EE7D091CA92B2DA04A9FFE06192EAA469D2E499F32405251569CACCF9D220BE3E49670E7FEF28F9B5217CAFF85B2394C736E06BFD35A7CDDAA9BF71FBC9436E810F8D0EDAD6F07D83FBF26F0EE0EFFEB3D167908234719A8EFC3706288CFCDDF84B49E83758411AA5AAD15A718C7AFFF153B50D976F343A65E6E4F3DC3D321501C9A71198721A41A967B1CAD0248724B419C8C4FC2912F8BEFFD5244CD69D27F51930B885DA9419A3A886ADCB366C4BDDEFE0FDCA232A8DA0CFC03F291BDEB127E11573420E9FB80CC649E82E59EE35406144D3010A548320E3774228B12F5533719AF6FF0E2508198FD59C224DD499DD60D0F091C366CCD7335DB16557C67E07AF07EE11A932F0A0D4333258AF98E33F837F4F82B80A62EC83627E1C3361CA9ADE0306FFBF4302B32629AA8C6B3D6484D220CD19B38C571BEDC93577F17BE21E91522775865F4226B39E0EAFE88F83170478F235F7C814F8269CC21E1BB76743149594FAB2DE7F4F09C2CFFE5225F4A511B21E3F559F3CC370E5965D9904FEA30012982CA49E254B5B065E2FF7DFBA7AC8E053E1169E0C97D004381F8B8767542A0CB69A5C1A3074782761AE1F2362A08222C95795FAF0FFF1979483A8C55E0386749DB7443FC2373C1EC169B908A0B97913B820E28F80BFCFBC473D78D7B044B810BC53480C1C83A2E0101CCD6B34662E5A1E42A5351F40C002F4CF41050C1A364A9A345D57EE60FFE3248896C9CC28ACDDB23D3F32310D096919088C4B87C8E89F039F26CB5E645E801799770A89852381DB0744C0CE2F0C363EC7E4C7875CFCA03A516B47EF81433E4A82A696F6FF3C09427AAA9A53B44DCD2CEEC4A4A4C3C527107EC722119B4A678F655DFF8EF43D698622F3EE1175E045E69D057866DC213012F6FEE1B0F53D066BEF10587906E1B07B00C9380AA303475E29288DD1E8C7BFFD6B25FC8F93C0FA6F3C76C264235B57AF171109A9B075F386835700BC82C3119B741C11C9192C85BA76F76188F2106DD14D800F15E0E37E913DC1DBC9E043614DC002BCA547002CDCFCA8021F983B79C9DFEB6FD856C141EE7B31A489D2103E3178B892A43975C67F5609CA6A1AD2DFFB0C90274812D0517BCE026F7F66FD686C12AC9D3DE1EC1B0CAF9008B80786C23F3C0629E999084A38C9B2A823E117F029700D17B2FF057C9DECEBC17B1FC511AF60820D8485EB2FE00F3878C0CCDE0DFBEDDC201EEB2C5C16477F68294810640C1E31FA3F478270DCEF7AF5938629A974541AA73E6ED9AA35B6E656B655C76212E119140AB3238E700D38069F6351F0A40A3C82C2E0C6EFA3A88E948C333201C2ED458B740B4FAA73FC9038388650F6011F66FE18C187107C9DF42D58FF079DBC61EEE849F0EED86FEB8A7D36CED873C4017BAD9DB0EBA08DF087037D060DFDCF9120CE003DFA0E6CA1ACA6A93E7FC9B2438E2E6E79D93979C8C92F421CCDCF89F57FD8DE05BE81C170F50B81AD871F5CFC8FCA64083578531569A7B2119996092702976BFE28C107C7B0E6A3EA6B5EC8BE1EBC277F9FBB3F0EB9FAE2A033A5EFE85507DECE157B65F08ED86D650F93C3B6D879F0084C795DBF63F79B61A3C7EA0A6FF8B72A411C84862A2A2BCC59B864BFA58D7DCE898CCCA7376FDFC6BD070F71FA5C0102236261EDE2093B4F7FF81D8DC0D58A0A1CCFE01C101004EFC0A338ECE82E93E116108AD0D86464E69C834F5432EC987501DECE3F02B6747CB9E665D907B1E603EAC17BE3809C790F66DE8D19AF036F6A49F016B6D875C81A3BCCADB0C3EC30B6ED3B845DE6965862B0A17AA48AAA4EFF21239AAA4E982C12F7E75BA4A8A55F07079E4F662DD40B8D4F3DF1A2B2EA061E3E7A84FB0F1FA0F4CA5544271F872F41EF3D6C036B576FCA3E9C9D20023577EE20F34C0E8A4B4A915F740991B1F170F1F4A14F78C8EF4B39998913D939B0A5E189ACFF9279CADECD9F752F322F64EF25D7BAA8F97D362ED843C9CBE09971017E673DF8ED04BF6DAF390C4DF763F5D65D58676482F098F87721C7422FE9AD30301BA1326E184FBC6D451BFDC353A498F07E1D3DFA0D6C6FB8DBEC7A4E4925B20B8A71F172052AAE57C9D98C884F9155E0E0C95AB57596BD402822FF4211F2F20B505A56869C73F9A8BA71938FCB91969E8190D008F88746E1CCF90284251C97336E555FF375B2FFA0E6297B19FC1127ECB67420783BD67D1D782366BE0EFC416CDD7D00EBB69B60B5E14EFE1FEC70E254161E3D7ECA1D09F0EAD51B14165D7CE7EEE99D316FB1DEB6810AA33AF51F2A92FDF123B57CFEFF75F4EA37E8F32D2666D7320B2F2321330F8959E7909E5B88BC4B65282A2D47DE858B486756C3E393698A1C625CBD60EFEE032766FE044BA2A0B04826E1C6AD6A5C2EAFC0A3274F647F88493EC19F2D827340180ED0ECE47647D91F707087990CFE7DCDD781373E6443028EC8B237DAFF3EF366D8B063370C0C77608FC511249FC840EDFD87F8F1C79FF0E2E52B3C7BF61C6FDFBE93C978F2FC253C0342A0305245A3CFA0619220E263F1D17D0295D176C1F2D585E1291948CBB980D4B30548395380D433F9389153883385A5282AABC0252A4410924AE30B8B4B827770182CE905D6CEEE080A8F6279E4A2B8EC321E3C7A0CEFA39124220C67CF5FC0F1ACB3D8EFE089FD343C33CA7E6F7DE64DEB332FC0EF3427F8039630DA675127FBDD66B2E40D98799383564848398E7BB5F7F186805FBDAA03FFFAF56BF9F1F51BB7104FD3F63E168D8376CE3F0D571E374EA8FD63A52F9E931446A97C340629282A8C56D5F073F40E44F6851292908F8CFC62641694C8C4A49198CCFC4BC82FBD82D28A6B28BE7C4526E4D4993C44736C76F30FC611279AA34F00678553088C8CA3511EA37A5270896A0A088FC5AEC3F61FD43C65FF01F8EDFB2DB09DB2DFB6E700D61BEDC6AA2D46303E7018D109C9F49F7B78F3E62D9E3F7F81A74F9FE1151520C0DFB85583E48C6CB9353BF98620383A09964E1EE0766CFC7F8B84218AA3854A5A4C9C31F3A43BFFF3964E9E38E4E086A0A8449CCC2B42C6F98BC8385724974906BFCF2D2AA332AEA2EC6A254A580285C565C83C9B87F0B8447890106190E6762E34491F9C3C9D8BC2923258387AC86DCEC482B217993763E6EBC16F65E637EDDA2BCBDE884A088B8947D5CD5B32F81704FFF8C9533C67F65F92805BD577703C93B308E713479FBA61CD9F241F7674C3EC45CB2E104B4FB12214983E16BFA904F14383388191C1C93E41C75EC524A5C19C063467B1FE4FDE219138214A243317A74846F68552640995F0F119AAA6A0A41CA557AFE35AD54D545456A1A8B814D9B9E711C7CEE2E8EE0B2B2AE43C3B48DAA9D36C7116042E6ABE2EF302FCC69DBB69783BE4C7472363709DE05FBE7A2DD7BC0CFE791D78A108E14D9E04EDCCCCBF072FBAD1C2E5ABAB86298DD9D07FC8F02F84DAF9F837B1CA2FFE5E908831A7B2B29FBF7EFD066C99D09A39B7822BB21BEE949C316BF60027B7D0B8649CCCBD801CAAE12CE3343BCAE9824BC8BD588A4BE55771B5EA168154E32A09B9CCD2C96697C9A537545CAB823B55B27EE71E6C65B6057821FB6D041FC0B62BDEFFF2E54BB9DE1F3D7EC2EB33F9FB9A3B7771EAEC390E6291947D306B3F4ACEBC8D9B0F566EDA06D5C9D33160D8C8E562B92212F95B25FFFE79F90CF07B4182269FC9C97DFDFCC5734425A660C69C0505061B361556D27CD2D8092CED9DB0718709CCAD1D1010168D149ADE990BC5C8BBC85659548AB37C9C5B588242FA4039418B9FBB595D834AAAE4DAF51B385F78093BE9FEE23FBFC5641F7C8243514AC315F52EC03F78F848CEBE28819A7BB5C8CECB875F28F70A3E41F2782EC0DB525DAB366DC7782D5D8C529B88319A53E903E396BD97FE1F92A0C2B5F8EF05CF0CBAE7F20BDE3D79FA9424244367DEE2722B1BFBCBA20555DFBE03FFA361D87BC80A9B77ED8689D921583BB8C09F594CE2C1E93447EB736CABE72E5D461E09394765E4B3548AA90E512AB76ED7D0E11F70F7900E571F7F7692723C25F06704FC901DA52EFBCF71EFFE039C3977413E9089CC8B73895F18172D346D032A476DAA3614C7694059630AD4A7EA427D8AB630437DAEE2B8FA1FFD8721F600BF1B2AEA9A0B0A8A2EFEF490FFA1A884147092AC3C6879E49A20A19CD2F60B09A32BDFC6858B97101CCE83908B076C9DDCE0EEEB8FD0A8587952CCE6982D08B8507259F68B82625E699C17CBAE501DD7515D73976DF4119EB2D6057041C0333E162D3037BF10011CCE9C6878EF332F8EEAEBB61913B03646AA6A42455380D7C18469B33049672E266ACFC108E571FADC6F72F427097F10925840FC5EA84FD25A5E545CCCB1F9A14CC27CBDE5B749C24D4142D9950A780586E0EEFDFBF27022BE6ED7DCC1594E8C510949080A0DC7D188682424A7E1386789ACBC0B54C2651451EE97591A4211175826828C32127A8DA5728792BF73EF1E8DB31821D189041F24CF1742F6E2F1C61D7B3061FA2C19FCD889D3A0314D171366CCC2449D39E08D1D4C9BB30853672D2009AAFABFD7113EEC12D2F459737F3366F0B5C93374D75F2A2DC3DDDA5A998485CB0D1E1C3C6C75E7A79F7E42195BA16740306ED5D4C804FCC8E7DE7FBDA0815DE7D478F6DC79241F3F89C4B413884C4C852F4DCC9E274D1F1EBFC5E0547AE51A4A49460943907285CA387EEA8CDCEAC4D15CC8DE8D0731D12E459647A931F313A612FC4C68CE982D3F3785A0B5E62CC48C794BA0BB481FDAF3F5C032D617FB05A1863F0A494B67F66FC654EDD9D234DD398697CBAFE0361D398A83CA92556B9F51090FC5985AC20149B8BB6861E2EBF59B3778FCF831AFAF7F26E3F5DBB754D12382ABE4D9E202128F9F828D8B170C8DF7228233440EBBC8B90B9764355CBD7E1337E933C919A7E5B6E7CAF9C4D0C40C930954497D120D4F4B363FDEB4C164DDB972C6A7CD5D04DECB10CB15CC5AB21C73F55763F6921524414D5F2C7E851AFE28E4DB55BF153DFB0D96C64F9AB6F3DAF5EBB28945F2ACB07CEDC6D724E1C5DB77EFE491D8DD2F902E5FF53309E5E5E5282929C18D1B3738D33FC02B12F38AED55F47971861013DEDD7BF771947E7122F3B40CD89EC7F17D96B670F2F0413ACB268A13A7210F4802A470FBB113B5E4CC8B5A9F32739E9CF5E9F3164367811E662E5E8E397A2B316FE92A2C58B1561CA9795D03C531FF02091F3B40BD7FEE870143B8BED6D927263571188A8C4FC2AA0D5B7E3C6465FDA3C8FA459689AB6F002E5C2A914910C5909B9B0B07574FBA79018A8A2EE2E2A54BA8E50E42989E3843882E73FFC103790EC8E24459557D1B199C20DD48A6A9B905A6CF5980A9AC6DE5F19365B7D7984EF022F302FCEC7AC98BAC0BF04B57623E33BF70E53A2C5EB51E7A6B3661F986AD58CA2BDBBEBEBC64112BB73F084E84C37F338412580E876F5657B3BFDFA47C93B0962D8924C8991593A030460B672F24728526BE92121398897538E01A00D7E0289CE6A4789B9EF184838E20E311CBE5CEDD7B6CA3E132090FF9FD1B127A9364F81D0DC724665B985E9DEC67CB999F26D7FB62E82E5C4AA953F2CCBA00BF88E045E697ADDD0CFDF586F2ACB166DB2EACD8B80DA3C68DD79797AF24E08FE29F76091FEE167AF41D24E9CE5D682F4AA1A2F23A2249C206FE118B23D61C615FA2900AE0480D532B27B80445E01D7D223525196B39F27A4524C0DCC51F896C9177E9F6A2C5DE65CB13ED4F741041427AD6199998E72F5ED00FAA64B39CB96819C6B3DD4DD1FDE7CC0BF00B96AF61D6D7416F35C1AFDB8C15CCBCC16623ACDEB2036BD936371BEFC35A2E59940409F513E33F93C08F23909CF7F1BB9E20B6CA7317E9B9DFE6D6A8FCEA35D9C836713A3C6C6D2BF7F102CEFF3E4147E5F5975768ACDC1DD25253B1DED008B6CE6EF2BD87AC9CF31CAA6AF092C75CD16645DCE29A4E90907AF2944C8C1888C4EFF70D0965860D64E31399D7592064BFA22EF3ACF345B2E43762B9C83AB32DC00BC01B8C4C3972EF910910E78F4D7CCC13B03ECF0DF21AFEC318389C66C9214A418CD3F54112C4BDC3BAE83D50E11FE2FB1FFA4B8BF457FAD73093655CAD8913E1965D7B48821D1EB3B6CF7379F22109A243A69F3801838D8698CB8CAE5AB7895BA602989D28865E762D8CB3AB609F7519A15917E0131127B7DC72CE1A352C8F4B34595F0E5E4B56AF971D5F38BC00BF50CEFC7AB9CE05F85594BCD82689AC6FE0115BB44E4353331EB9CDB97B38C45DC311F9F168B509FAEF3F3022BA04CF12D260DEA21B3952451ACA03D57012F03E3852F24986C2A831F2D2A1077D40DCC713F1DD0FFD24FD556BC2C48C20F605E1B1096C597B6169E7C856F884ADADF06712BC43E32048C8387912EBB66CC782A52BB074D55A79705A977605F6156F71B0F839D6E63DC582CC8798995203DDD8AB981F5E842D9179B08CCE8475500CF6D8BA707F20D6663B64C042EE72E6793610E0D76D37FE39EB5B095E645E9C3D76F130674A02F673DD271EF35332F524F05EA5B839C35639859FBA99C818C40DFA47491842221495C74A639495A59E03852A86F03E43DF06ABD76F8A13B3FB459EFFC36212B06BDF01787A7ACA4E2F4E82C213C4FEDF279C24D018B33233B171DB4E92B012FACCAAD8376E4FBF02978A57702E798243858F619CF710EBB2EF63FEF17B98187F0723C3AA3130B0127D3D4AD1DF291F0AB6D9187F2411B30F1FC52A0B2F6CB6708611172E62D3B4838B95BA759B850C56647E0F97B07B2DEDB86B7480055775BBB99FE02D02FDBEFC248C3C2B30F323886FF29F2161A4CA584967A286FC79A381BC9DF52D95C0FA4E102408130CE676C8F9C8615C493A86DBE25093775E26412C457D78175A78C2E9D3A7B1C5C8588CD7B21244396C4E2B8745C90B98173CC2F69C075897598B65E9773037A91A33626F607C781546045D431FAF0A7471BC8A9656E56874A00892F13934D97E06ADB7A5A3E3D604F4DC1601A56D7E98B1CB0DCBF63A618319B751FCDBFBB8A63BC0BB5287B9A4B1E12E61BFB52346AA4F9CDF6F98A23492E786415C170C27A63F4DC2B409EA92223F60D577848AD4ADCFE08E46C6A6D9B5ECEBC204834882ABED11DC488F4135079EECDC73F0E5D17797B9359CFC8EE21DB52048D8B9C70CA63C511A99EE93D5B221A50C7B0A9FC324EF01D667D542FFE45DCC4BB90DAD989B500FBB8E9181D7D0DFAB1C3D9C8BD1CB8EA00F1642322D86B4331792E119489B449C86B43E1BD2DA4C48ABD2D16059029A2E09C5670BBDD16D813D862CB5C2A4F596D033B586A9AD3BB4D426F82B0C53EC3D6C944A8BFE54C0BF44C2540D75A9F7B0D15F4E51535D613943F96499BFF5DB6A1E77C59638283216CE7636B8762A0937EFD6CA7D5E9C1D5CBDFD719A77A55E7144CE397B163B087EE5FACD30D9678EBC8222AC4D2AC5B6734F6178BA162B48C07CFAC18CF85BB20294A880C1DEE5E8E95A862EB6A5986CEB0F77E7395035B387B4AD00ED8D73D0C5E42CA43519900C4EF09A0E69696A5DACE0E3658C256990E625429A190349D90AC3B4F471507D020C7BF4783667F0D0181505C5950314957B4CF833E5C05B597F5BAEAD69E6A73FB5A4CA48076F764EC683781FDCA87DC8DB6E1710121507077B07949C4E9767FC53BCD9E2E61B8863D17175EBEE172F919B9707E3BD07B8DBD3C39215063C0A5F80417C09D69D798435A7EE62416A0DB4E36E4133B20AA383AF61A8EF15F4762FC3D77697D0F260113EA102A2E20E213D480B2DD667228025647BEA16D64754609E37D5B12C157D8DB3F1FD5692B2248941F0B3085EC46212332D02BDC6EBC34C791C2CBEED06DB9E3DE13C7428ACC6AA5E5D37463560BCF2D819F4884FFFC11807A9A84922FA8D516FA8DB7FE0F1BC8983F1D278067070162ACDF511CDCF18145554E2D4E9B3DC1C45C94BCFD413E9DC01DC4146F6199E1D8210C8E7EF71F7FF98E7823C4102CD73819E3E96AF592F93B032AE04FA990FA097C68E105F8D89913730E6682586FB5FC10F6E65F8E248119AECCF4703933C489BCF6145DC5D149F0F41FF7DC978F012D8185E81B4CB0F61977A1DEB834A71834F56D6BEC02C8702483AD150DA9D857E9BA892D9F1902605A1AFAA1E2C478F859FA222E2555591AEA1812CCD09383D693222D4D5DF2E1E3AECDC9061237B8DA25F2831A45EFC47C4F7A3949BCEFEF66F67DDF921D7C08E6D90A3D60757B76823F9580042488473702476F00EB03E47D4ACB3397524901831EA3A79F9A2FC660D9EBEF911793C3B8872984325AC58BB91E55088E531C5EC04B5989B700B93236E601C0918195081EF9C4BD0DCFC02A43DE7E90124C0841EB0290BCA4EA5B878F301DCB22B917FF32906EECF457ED513AC0A2C416EE563A45DAAC578F3B318647812BDD7A4A1F6E91B9CBFFA08CDE79284F101E8AFB61411BAB3715C5313A91326207DE244644C9A84C0118AD8DCA10326B56DF75271E8F0713DBA7597BEFFEA6B496ADAA2A5D4B4552BA9D1E7ED9B6A75E97ADAA76143D893083B867FBB16481AD10BE99B1723C3722BB24C9721D67A1F92728B7853369FB7E492790BCE0B7339D0A4381DC6DBDB95DC295E82998D1396B13D2E5CB682C6588045E117A19D7A0FD3136F438D2A18155C896F5CCAD0703F33697A8E5D8004ECCC81B483B5BF291B9D8CCFE2EC0DDE49FA11B066F67BEDCC46EDF3B718699E83C5EE45A87DF6067A4EFCD9F13C6A0716E3E59B77A8A232BAAFA4378CF5C500752A78E61CA49104013E72CC189874EB0EED264DA1495CAAAD3F7D32A0576F95460D1B4AFFF8D5AA75F3199DBB1404F34D6E0C678643FDD5BF6943A40FEE869A65CAA836998D28373B79CE17EDC8887B01FBB58B71C770329E9ACD47A5EB6E14A4C6E33CD769C1FCE0C679EE186747154333E92E34E26E6334A35B50151A385F81C455A5645302E910BB815083206163261A189C445461AD7C201BB63F07536DCEE3F5BB9F30640F3BC48C686CF4BE88A7AFDE416D4F164E95DE8779C4659CBE7C1F9A7BD845467961C0F8E5889B3D0F49E3D561D5BB3716B66A85A9520368356A0C9D060DA0D9FAD3979FB56DABD6E0571434901A376EA5D8EDBB64CBCF3BC0BB5123F8900077FE806BE3C6706BD2044E524378B46C89DB8776E191CD6614EF988342A339B8BA6B369EEFD6C113531D3CDC391D0FB7D14C77EAA0D6D5146F8A7371FB6615E684156274622D46B31BFCDDE72A24D76B75E156C96B052417861349B12B23219C0F48C610AB7CAC66FD4B8B93B1C8E3224E963D905570B2B8162159B748C25B58C656C853EAF18BF770E7F16BAC75269943DD64121CC7A963F5679F43BB7113E85201339B36836EC34698C9D0E8DCF56DEB4FDBA8D57320CB4110D298F169E3162D4776FDF26B27AD6EDF56EEFBA223BCF90B7C1B3584E727CD6465A46B69E1354F7ECFB9757EE6E384C766ABF06497361E994C679004635DDCDFA58B7B46DAB8B3411377374FC5AD436BA0E3730613A26F627170163A1DC941A37DB96862578A868E04CDE1487226214EE57544B8309CF9D8F212A45D2C932DD968B52E1D9D0C52D1857130BA1C29176BB1C1B3087689DC51D223EC222FE3DEA35708CAB80569B00B7A8FD5C3C2AFBFC56C029FDBBC39E6F03A8789D56ED31623BFF9B6BA43A72E660D1B37EE41CCADEAB1FF4C421B3ED191D1536ADE7CCAE79DBBDAA87DFFB7ABC65DBAC2953E11FCCD3778141181B71919781A178F47BC2DF620220AD58EB6B865B24A06FE70D73412A18DDA1D3AB8B35D07B7B74CC3ADB59A98EE781C6A21D7B0D42B152A2EC731D63C0C339D5230C93E1E0AAE67D1C98A439023D520CAC38E04D80B42488E20C591CFB1754A867C8F5E32A4A91190B4C2D90542F18341327AAE608B54F485F6BE2C5845F277287AA0E7E845584C1216366F8105CD9A626EAB4FA1FE75F757DDBEEE16C5442F20C6818CEF199FBD27E1BD1A9AF2415BC6970CC1D200A94993899F76ECB457F1CB6F4AF3F6EF07CE9CC1D3F8783C898A9209B91F1C82FB474351E31780CAC3E6B8B65D1F37374CC5BD6DD350CB92A8D9A6835BEC305A0E6918EE7319FA1EC918E3958B958127A1E17B1E9BDCE2B1C02E12C36DD8EF6D2EE36B8F32F4B14E472BDB227C6A958B06565483154B42C4E18B90F6D1373667415A9000499B644C08A13906439A7C0C925A205A4CE455C913BD94176359D76ED06BD51A5A5DBF7CD7BBDB77399FB46D67484CE31923197D195D182D198D3EB486F765D19C4FB6637C554F469FB93ABA192F390EBF4C4EC6D3D8583C898EC683A347F1E0D831DCF5F5458DB7176A7CFD70DDC119E5FBF7A264F57C5CD19F809AADD36522B4ED53D0D5BE141D0E15A0D991127476676BA40FA8BB6663A17908865BB0B5D996E30BCF6B186B9D88BECEF998E39C88D136C7D1677F3C9A98D21045171173447D0791561CE780145D478026C9D0082211BC2ABAE307E54558F0433F0CFFF6FBCB6D3B74B2941A369A4A2CCA0C857A057CC16B8B0F55F02111EF5521D86926DED4B5CB975BAF44468253105EA7A4C8043C0C0BC3A3F070DC0B08406D60206A78AABCE5EC8C6A57575CE3C2E51AF70D25BB76226F9E164A166B60BA6D125A1C6226458D9B100CE5DE88DDA12D418FF628C4375B39E9199FC777BE1530F449C0429704683A9CC050BB73D0B38FC4D483C7D0652B016FC9C1173B323170671CDAAD4E44A315291C95A320A913FCB840927014D23037F418B3F4A75E43468435F8E493B9C43086C10F21483F303A335A339A307EDD1C7ECDC32FDFB7FDBCFD98E91A9A69D15656AF9F25250369697816CD09B19E803BDEDE1051EDEE8E2A5B5BDC707242C5A143B8729061790417366DC604AB6434DCCBA1C898C3104F85D2810B684003FC21F83A8686DE445323CE081C873F373B87C19E2518E79A8B7E07D3A1EE980D6D9B442C773F81E1C694BF412606ECC9A47AC2A0B439088D678763E0B6548C30F0432B4D5F341BE7CBEEE0826FC7E83FFE6EE8A8F944314A2E6B49E2442409CF1389FDF570F0DBE0EB5F69D0EEB3F6AC9A460D5B7DD65E77CA58D5E4D84387F15818644C0CEEB114AA3D3C50EDE6861B8E8EB8CDC795D6D6A83C7204572D2D516A6A2A5F35AC295D665A96F2364ADB8857FB32964439DA7954A0B19815C4E1489C05B6E670882AE419220F9DF7E5A0EDCE33E8C461A9FD660E42CBD2D07D336F009184F5474231DAC01D3D96C741D724068BF7474243DF15525F277C3B6E456D4F25B529C4F01D830064E90B75FFF9EC7F488D20A145CBD6F26429356AD2AA659BB6D3A78D533F19BD7B2F9ED0179EB21C6EBBB8C8245CB5B090AFD70409870FA3D2C606D7AD2C31F6205DDD88A52054604812369EA21AD8D31DE9FEB66C93A23DEE2549E230B498B185C765B9F66982EBF95E039E1457A4A13149EA6C9084411B62A16E140BBD3D21F8FBC2208C581D0153A724E81B7943EA6543120CEE8E5EB06A3071BC6F81FF3DF0EF891024346FD94AFAA4556BC6A7AC2696539366CD5BB7FB6C9EF698713971C6C63FDDF7F2C243AAE1968303CAD845AE1C3C88AB24E23A55514D82869BD2F836B114B692802D02D8C93A42A806C98141D3941F0B72E6C6425A48F75FC7F76CE049713515B22C196D57A5B2B59E456FC3740CDC9281D1DBCEE0CB79B168A8CA12A00FA82F0F86C64A7F483DADF1FD58839A99FB1C840AFE65E97FB4367E4D42D3E62DA4A624455646C346CDDBB6EFB074A692F2D9B8ED3B504DD0F7ECED5141124A580AB76996D14B974277E66A7C6194850622B35B48C63AF6FC350469C1162848E01E419E162D689E8BC4D19826383F4ECEBEB48CE6B7301ECD17C661B4492646D218EDA20AF1F0093F03517617DE1C98B67211336E452C3A8C6787E8698BEFC719DC5CE91DD7F50F8BFDCFBEE1B74810CA6842421A35FB8476D3BC7DBBB6ED96CE561E931FBD7A0DAAA9827B34C8B2DDBBB1AE7B77A8B4FB1C9335A6DC5AB972FBCB994BF7A2F74A1FB4374840B3FD97D0D8F336CBA18A2470D071607908CFD0A109EA46429AC31D815085B8EA44A2E1D45034E65C7020E422AA8AB36013740F87FC5F2124E5150AB9C33C967E175D945CF1D588153757FAC48939E0DFF3F547240845341365D294C6DBB459BBF65F745C336FA452C909C3AD08D7D3C3900E1D6B3A75EE6221356D3A59FAA4F9AA6FBB7F173973C8D0873BD42661CDD485D0D43345BF9DC7D0C1EE225AB9DF64EBAC66F6590662322468792812A46885D50D4723BCE1995806FBF037D0DA560B3DB38730727D8C1DAECF61ECF90483A678A1ABC28A1B6B8252453BFCF77CFD59129A908CC65406C7527A46D3765F75FD6AD70FDDBEF36ED2B2D520FE4F3E6788294D4C6BE348C8D2CE5F7D133873D8882A3B5575F8A9A9E3A08A1A9669CE82F26C43F45EED8B2F28FFE6B368A85A2C8B491C93353819AAB2E68779628F773E2E540027F27F825FE26BAC3CF204C357DDC7528BFBE83DC1035F29AEBA3EC3C4A6D3BF8701FE967F850441443396894C44531A68839F4D59B8B46855DD19626E17C38B0A4D7661FB8E9D9D35070D29B1521B8F646E801C7BF5C5DCBFF7FAF1EF3DFA94761D3A29A3DB24A38B5D67793F6D473534D18C40039510B4550DC6F83589D8EBC68F08A65521ABE8394AAEBF43D2B997E83EC61DDFAAACAF549CB3FCAF27A1D1279F480D1A8BC14CEECDC2A5C54955CCEA4215DD18FD19C319633887CC6ADDBEFD61D5FE032FA9F6EE5BD6B2DD67E652C386DA7C4DBD61C306135AB569A3D3B9D790F5DD5516BB769FB23FEF334D977B0D4679BF6D32D81B6D147CD04BEB18969B1EC711BF42741CED852F15575D6BD3FEB3BFA61C3E54C2072448FBFC6324EBA0A8F7840832C4F0F29E8C7EF5CA18CBAB36D5338B572E8024F1FD907AF588F7D281A546CD9B376EF3C5D7DD867E354045FF6BA5C56E9DC7EE3ADB46C9E64EF3A1AE683090ED72802F3A0E5978AF79F3267FFBCBCBE163246CF74B95BEEBD1EB4332C4614D1C67C5582B3C4328438CBA43197F6774A8578F909450D33F0C3D8DF85DAB36AD3AB4FFFA7BA52EFD94577EA9B8D8ADEB981DE7BB2BCE8868DEAA853804FEA9AFFF0244DFD7F1DC7269640000000049454E44AE426082)
END

END