.step-ext {}

.step-ext ul {
  list-style: none !important;
}

.step-ext ul li {
  width: auto;
  height: 20px;
  float: left;
  padding: 5px 10px !important;
  margin-right: 5px;
  margin-bottom: 3px;
  display:block;
}

.step-ext ul li.red{
  background-color: #B71C1C !important;
  color: #000;
}

.step-ext ul li.yellow{
  background-color: #ffff00 !important;
  color: #000;
}

.step-ext ul li.green{
  background-color: #189A4C !important;
  color:#000;
}

.step-ext ul li.arrow {
  background: transparent;
  color: #000;
}

.step-ext ul li.arrow:last-child {
  display: none;
  visibility: hidden;
}

#disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}