@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/10/2014      Trí Thiện       Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;
@model HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = Html.Raw(HttpUtility.HtmlDecode(string.Format("{0} - {1}", ASOFTLanguage.FindWordA00("A00.ReportViewer"), ViewBag.ReportID)));
    ViewBag.Action = Url.Action("GetReportFile", ViewBag.Request, new
                                                              {
                                                                  area = ViewBag.Module,
                                                                  id = ViewBag.APK,
                                                                  reportId = ViewBag.ReportID,
                                                                  viewer = ViewBag.Viewer
                                                              });
}

@if(Model != null)
{
    <h2>
        Exception details</h2>
    <p>
        Controller: @Model.ControllerName
        <br>
        Action: @Model.ActionName
        <br>
        Exception: @Model.Exception
    </p>
}
else
{
    @Html.Partial("~/Views/Shared/_ReportLayout.cshtml")
}