@{
    ViewBag.Title = "Index";
}
<h2>
    Có lỗi trong quá trình thực thi, vui lòng thử lại.</h2>
    <h2>
    Exception details</h2>
<p>
    Controller: @Model.ControllerName
    <br>
    Action: @Model.ActionName
    <br>
    Exception: @Model.Exception
</p>
