@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     08/05/2014      Đam Mơ       Tạo Mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Entities
@model POSF0024ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0024Grid", 
        Scrollable = true, 
        ControllerName = "POSF0024",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        IsAutoHeight = true,
        HtmlAttribute = new
        {
            style = "height:590px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "ShopID",
                TitleColumn = Html.ASOFTRaw(model => model.ShopIDFilter),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherDate",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 100,
                Format = "{0:dd/MM/yyyy}",
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right", Class="asf-cols-align-right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherNo",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                ClientTemplate = "<a href='" + @Url.Content("~/POS/POSF0024/POSF0025/?apk=#=APK#") + "'>#:VoucherNo#</a>",
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "EVoucherNo",
                TitleColumn = Html.ASOFTRaw(model => model.EVoucherNoFilter),
                Width = 120,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "EmployeeID",
                TitleColumn = Html.ASOFTRaw(model => model.EmployeeIDFilter),
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "EmployeeName",
                TitleColumn = Html.ASOFTRaw(model => model.EmployeeNameFilter),
                Width = 200,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Description",
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionFilter),
                Width = 200,
                VisibleColumn = true
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0024>(gridsetting))

