@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.A00.Entities.Database
@model POSF0025ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0025Grid", 
        Scrollable = true, 
        ControllerName = "POSF0024",
        ActionName = "GridDetailData",
        IsAutoHeight =  true,
        NameEventPost = "sendDataFilter",
        IsShowCheck = false,
        HtmlAttribute = new
        {
            style = "height:340px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"}),
                ClientTemplate = "#= renderNumber(data) #",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "InventoryID",
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                Width = 120,
                VisibleColumn = true,
                ClientTemplate = "<a href=\"javascript:void(0)\" onclick=\"showPopup(\'#=InventoryID#\')\" >#:InventoryID#</a>",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "InventoryName",
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 190,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "UnitName",
                TitleColumn = Html.ASOFTRaw(model => model.UnitName),
                Width = 55,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "DisparityQuantity",
                TitleColumn = Html.ASOFTRaw(model => model.DisparityQuantity),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                EditColumn = true,
                VisibleColumn = true
            },
        }
    };
}

@(Html.ASOFTCreateGridNotPagging<ASOFT.ERP.A00.Entities.Extension.POST0025>(gridsetting))