@using Kendo.Mvc.UI;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;

@model ASOFTChartSetting

<div class="asf-block-toolbar">
    <div class="asf-block-title">@Model.Title</div> 
    <ul class="asf-toolbar">
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thay đổi kích thước" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-magnify-add"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Làm mới" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-refresh"></span></a></li>
       @* <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thiết lập" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-cogs-32"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Xóa" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-delete"></span></a></li>*@
    </ul>
</div>
<div class="asf-block-content">
    @(Html.Kendo().Chart()
        .Name(Model.Name)
        .Legend(legend => legend
            .Position(ChartLegendPosition.Bottom)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
            .Height(300)
        )
        .SeriesDefaults(seriesDefaults =>
            seriesDefaults.Line().Style(ChartLineStyle.Normal)
                .Labels(label => label.Visible(false).Format(ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal)).Background("transparent"))
        )
        .Series(series =>
        {
            foreach (var item in Model.KeyValueSeries)
            {
                if (item.Key.Equals("ActualRate") || item.Key.Equals("SaleReceiptRate"))
                {
                    series.Line(item.Value).Name(LocalizedHelper.GetLocalizedResourceString(string.Format("BF0000.Block03_1{0}", item.Key), "BF0000", "BI"));
                }else
                {
                    series.Column(item.Value).Name(LocalizedHelper.GetLocalizedResourceString(string.Format("BF0000.Block03_1{0}", item.Key), "BF0000", "BI")).Axis("Amount");
                }
            }
        })
        .CategoryAxis(axis => axis
            .MajorGridLines(lines => lines.Visible(true))
            .Categories(Model.LabelCategories)
        )
        .ValueAxis(axis => axis
            .Numeric().Labels(labels => labels.Format("{0:#,##0.00}"))
            .Line(line => line.Visible(true))
            .AxisCrossingValue()
        )
        .ValueAxis(axis => axis
            .Numeric("Amount").Labels(labels => labels.Format("{0:#,##0.0}"))
            .Line(line => line.Visible(false))
            .AxisCrossingValue(-10)
            .Visible(false)
        )
        .HtmlAttributes(new { style = "width: 100%;" })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Format("{0:#,##0.0}")).RenderAs(RenderingMode.SVG)
    )
</div>