
@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     22/04/2014      Minh Lam        Add heading
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.POS
@model POSF0066ViewModel
@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "mainGrid", 
        Scrollable = true, 
        ControllerName = "POSF0016",
        ActionName = "GetGridDetailData",
        IsShowCheck = false,
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            
            @class = "asf-grid",
            style = "height:230px;", 
            AddNewRowDisabled = "true"        
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                ClientTemplate = "#= renderNumber(data) #",
                TitleColumn = "#",
                Width = 25,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_INVENTORYID,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                Width = 100,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_INVENTORYNAME,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 180,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_UNITNAME,
                TitleColumn = Html.ASOFTRaw(model => model.UnitID),
                Width = 60,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_ACTUALQUANTITY,
                TitleColumn = Html.ASOFTRaw(model => model.Quantity),
                Width = 50,
                EditColumn =  true,
                FormatType = EnumFormatType.QuantityDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_UNITPRICE,
                TitleColumn = Html.ASOFTRaw(model => model.UnitPrice),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.ConvertedDecimals
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_DISCOUNTRATE,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountRate),
                Width = 50,
                VisibleColumn = true,
                EditColumn =  true,
                FormatType = EnumFormatType.PercentDecimals,                    
                HtmlAttrCoulmns = (new {style = "text-align:right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_DISCOUNTAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountAmount),
                Width = 100,
                EditColumn =  true,
                VisibleColumn = true,
                FormatType = EnumFormatType.ConvertedDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_VATPERCENT,
                TitleColumn = Html.ASOFTRaw(model => model.VATPercent),
                Width = 50,
                FormatType = EnumFormatType.PercentDecimals,
                EditColumn =  true,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_TAXAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.TaxAmount),
                Width = 100,
                EditColumn =  true,
                VisibleColumn = true,
                FormatType = EnumFormatType.ConvertedDecimals
            },
             new ASOFTGridColumnSetting
            {
                IDColumn =  POST0034.COL_INVENTORYAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryAmount),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.ConvertedDecimals
            }
        }
    };
    if (Model.Status == 2)
    {
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            TitleColumn = Html.ASOFTRaw(model => model.ChangeInventory),
            Width = 80,
            ClientTemplate = "#= renderChangeInventory(data) #",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            Width = 80,
            ClientTemplate = @"#= renderDeleteInventory(data) #",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
    }
    else
    {
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            Width = 80,
            ClientTemplate = @"<a href='\\#' onclick='return deleteInventory(this)' class='asf-i-delete-32'><span>Del</span></a>",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
    }
}

@(Html.ASOFTCreateGridEdit<POST00161>(gridsetting).Events(e=>e.Save("Grid_Save").Change("Grid_Change")))