@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     09/10/2014      Hồ Hoàng Tú            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.S 
@using ASOFT.ERP.A00.Core
@model SF1000ViewModel
@{
    var gridsetting = new ASOFTGridSetting 
    {
        NameGrid = "SF1000Grid",
        Scrollable = true,
        ControllerName = "SF1000",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        IsShowCheck = true, 
        HtmlAttribute = new {   style = "height:550px;", @class = "asf-grid"} ,  
        ListGridColumn= new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
               IDColumn = "RowNum",
              TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 50,
                VisibleColumn = true,
                
            },
              new ASOFTGridColumnSetting
            {
               IDColumn = "APK",
                Width = 50,
                VisibleColumn = false,
                
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 100,
                VisibleColumn = true,
                ClientTemplate = "#= DivisionID == '@@@'? '' : DivisionID #"
               
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "EmployeeID",
                TitleColumn = Html.ASOFTRaw(model => model.EmployeeID),
                 ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", "/S/SF1000/SF1002/?APK=#=APK#", SP10001.CON_EMPLOYEEID),
                Width = 150,
                VisibleColumn = true,
                          
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "FullName",
                TitleColumn = Html.ASOFTRaw(model => model.FullName),
                Width = 200,
                VisibleColumn = true,
                           
            },
              new ASOFTGridColumnSetting
            {
                IDColumn = "DepartmentID",
                TitleColumn = Html.ASOFTRaw(model => model.DepartmentID),
                Width = 150,
                VisibleColumn = true,
                       
            },        

            new ASOFTGridColumnSetting
            {
                IDColumn = "Address",
                TitleColumn = Html.ASOFTRaw(model => model.Address),
                Width = 200,
                VisibleColumn = true,
                       
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Tel",
                TitleColumn = Html.ASOFTRaw(model => model.Tel),
                Width = 150,
                VisibleColumn = true,
                      
            },           
              new ASOFTGridColumnSetting
            {
                IDColumn = "Email",
                TitleColumn = Html.ASOFTRaw(model => model.Email),
                Width = 150,
                VisibleColumn = true,
                       
            },
              new ASOFTGridColumnSetting
            {
                IDColumn = "IsCommon",
                TitleColumn = Html.ASOFTRaw(model => model.IsCommon),
                Width =100,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= IsCommon == 1? 'checked' : '' # onclick='return false;' />", 
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }
           ,
             new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width =100,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled == 1? 'checked' : '' # onclick='return false;' />", 
               HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "IsLock",
                TitleColumn = Html.ASOFTRaw(model => model.IsLock),
                Width =100,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= IsLock == 1? 'checked' : '' # onclick='return false;' />", 
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            } 
        
        }   
       
      };            
   }
@(Html.ASOFTCreateGrid<ASOFT.ERP.S.Entities.SP10001>(gridsetting,false)) 
  
 
            
            
       
        
        
        
        
    
    
    
    
    
   
    
    


