@using ASOFT.ERP.A00.Core

@{
    ViewBag.Title = @ASOFTLanguage.FindWordA00("A00.PageNotFoundTitle");
}

<div class="denied">
  <div class="main">
    <div class="asf-login-content">
          <img src="~/Content/Images/red.png"/>
          <p class="errordenied">@ASOFTLanguage.FindWordA00("A00.PageNotFound")</p>
    </div>
  </div>
</div>

@section jsFeature {
    <script src="@Url.Content("~/Content/Styles/asoft.css")" type="text/javascript"></script>
}
