.asf-button-tranfer {
    float:left;
    padding-left:8px;
    margin-top:70px;
}
.asf-button-tranfer li {
    padding-top:10px;
}
.asf-button-tranfer .middle-buttons-bottom {
    margin: 0;
    padding: 20px 0 0 0;
}