@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.A00.Business.Common;
@using System.Collections
@using Kendo.Mvc.UI
@model string


 @{  
    ComboBoxDynamic DynamicComboModel = new ComboBoxDynamic();
    List<string> auto = new List<string>();
    auto = (List<string>)Session["AutoComplete" + ASOFTEnvironment.UserID + ASOFTEnvironment.ModuleID];
    string src = Session["scr" + ASOFTEnvironment.UserID + ASOFTEnvironment.ModuleID].ToString();
    string module = Session["mdl" + ASOFTEnvironment.UserID + ASOFTEnvironment.ModuleID].ToString();
    Session.Remove("AutoComplete" + ASOFTEnvironment.UserID + ASOFTEnvironment.ModuleID);
    string sysComboBoxID = auto[0];
    if (auto.Count > 0)
    {
        Session["AutoComplete" + ASOFTEnvironment.UserID + ASOFTEnvironment.ModuleID] = auto;
    }
    sysComboBox model = LocalizedHelper.GetLocalizedsysComboBox().Find(m => m.sysComboBoxID.Equals(sysComboBoxID));
    List<ASOFTSysFields> listFields = new ComboBoxBL().ComboBoxMultiColumn(auto[0]).FindAll(m => m.Visible == 1);
    auto.Remove(auto[0]);
    string headerTemplate = string.Empty;
    string itemTemplate = string.Empty;

   if(listFields.Count > 1)
    {
        headerTemplate = @"<ul class='k-list asf-combo-item-header'><li class='k-item asf-combo-item-header-text'><div class='asf-combo-item'><div style='width:200px' class='k-state-default asf-combo-item-col-value'>" + LocalizedHelper.GetLocalizedResourceString(src + "." + model.ValueMember + ".Auto", src, module) + "</div><div style='width:400px' class='k-state-default asf-combo-item-col-text'>" + LocalizedHelper.GetLocalizedResourceString(src + "." + model.DisplayMember + ".Auto", src, module) + "</div></div></div></ul>";
        itemTemplate = @"<div class='asf-combo-item'><div style='width:200px' class='k-state-default asf-combo-item-col-value'>${" + model.ValueMember + "}</div><div style='width:340px' class='k-state-default asf-combo-item-col-text'>${" + model.DisplayMember + "}</div></div>";
    }
    else
    {
        headerTemplate = @"<ul class='k-list asf-combo-item-header'><li class='k-item asf-combo-item-header-text'><div class='asf-combo-item'><div style='width:200px' class='k-state-default asf-combo-item-col-value'>" + model.ValueMember + "</div></div></div></ul>";
        itemTemplate = @"<div class='asf-combo-item'><div style='width:200px' class='k-state-default asf-combo-item-col-value'>$" + model.ValueMember + "</div></div>";
    }
    string idtext = model.ValueMember;
    //List<Dictionary<string, object>> Data = new ComboBoxBL().ComboBoxDynamicGetData(model);
  }

<div id="autocomplete-box">
    <span id="kendo-native-widget">
        <span id="pseudo-input">
            <input type="text" value="" id="@idtext"/>

        </span>
        <span id="k-auto-complete">
            @(Html.Kendo().AutoComplete().HighlightFirst(true)
                    //.HighlightFirst(true)
                    //.Animation(animation => animation.Enable(false))
                      .HtmlAttributes(new Dictionary<string, Object> {
                          //{"class","post-autocomplete"}, 
                          {"height","24px"},
                          {"listWidth", "600"},
                          {"style", "font-size: 14px; width:auto"},
                          {"Module", module},
                          {"ScreenID", src},
                          {"sysComboBoxID", sysComboBoxID}
                      })
                    //.MinLength(0)
                    //.DataTextField(ASOFT.ERP.POS.Entities.POSF001711.COL_INVENTORYID)
                    //.DataValueField(POSF001511.COL_INVENTORYID)
                      .DataTextField(@model.DisplayMember)
                      .Filter("contains")
                      .HeaderTemplate(headerTemplate)   
                      .Template(itemTemplate)
                      //.BindTo(Data)
                    //.AutoBind(true)
                      .Value(@Model)
                      .Name("Cbo" + model.ValueMember)
                      .Events(e => e.DataBound("ASOFT.asoftComboBox.dataBound"))
                      )
        </span>
    </span>
    <span id="custom-control-button">
        <button id="control-button" name="btnControl" class="k-sprite asf-icon asf-icon-24 asf-i-search-24"></button>
    </span>
</div>


