/****** Object:  StoredProcedure [dbo].[AP3333]    Script Date: 07/29/2010 11:38:20 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



ALTER PROCEDURE [dbo].[AP3333] AS
Select 0 as Status, 0 as Yasaka