IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP0333]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP0333]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO



-- <Summary>
---- Update dữ liệu cho hồ sơ nhân sự từ form Cập nhật thay đổi hồ sơ nhân sự
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 02/12/2013 by Thanh Sơn
---- 
---- Modified on 28/08/2013 by 
-- <Example>
---- EXEC HP0333 'SAS', 'ADMIN', '0B9C2E22-9115-4630-B065-69EFBCD755A4'
/*
INSERT INTO HT0330 (DivisionID, VoucherDate, Notes, FromDepartmentID, ToDepartmentID, BaseSalary)
VALUES ('AS', GETDATE(), 'Testing', 'ADM', 'PJS', 1500000)

SELECT * FROM  HT0330

*/
CREATE PROCEDURE HP0333
( 
		@DivisionID VARCHAR(50),
		@UserID VARCHAR(50),
		@APK VARCHAR(50)
		
) 
AS 
DECLARE @sWhere NVARCHAR(MAX),
		@sSQL1 NVARCHAR(MAX),
		@sSQL2 NVARCHAR(MAX),
		@sSQL3 NVARCHAR(MAX),
		@sSQL4 NVARCHAR(MAX)
		
SET @sWhere = ''
SET @sSQL2 = ''


DECLARE @FromDepartmentID NVARCHAR(50),
		@ToDepartmentID NVARCHAR(50),
		@FromTeamID NVARCHAR(50),
		@ToTeamID NVARCHAR(50),
		@FromEmployeeID NVARCHAR(50),
		@ToEmployeeID NVARCHAR(50)

SELECT	@FromDepartmentID = FromDepartmentID ,
		@ToDepartmentID = ToDepartmentID,
		@FromTeamID = FromTeamID,
		@ToTeamID = ToTeamID,
		@FromEmployeeID = FromEmployeeID,
		@ToEmployeeID = ToEmployeeID
FROM HT0330 
WHERE DivisionID = @DivisionID 
AND APK = @APK

SET @sWhere = '
	AND HT1400.DepartmentID >= '''+@FromDepartmentID+'''
	AND HT1400.DepartmentID <= '''+@ToDepartmentID+'''
	'
IF ISNULL(@FromTeamID,'') <> '' OR  ISNULL(@ToTeamID,'') <> '' 
SET @sWhere = @sWhere + '
	AND HT1400.TeamID >= '''+@FromTeamID+'''
	AND HT1400.TeamID <= '''+@ToTeamID+'''
	'
IF ISNULL(@FromEmployeeID,'') <> '' OR  ISNULL(@ToEmployeeID,'') <> '' 
SET @sWhere = @sWhere + '
	AND HT1400.EmployeeID >= '''+@FromEmployeeID+'''
	AND HT1400.EmployeeID <= '''+@ToEmployeeID+'''
	'
	
CREATE TABLE #VALUES
(	
	TableID VARCHAR(50),
	ID VARCHAR(100)
)
 INSERT INTO #VALUES VALUES ('HT1403','IsJobWage') 
 INSERT INTO #VALUES VALUES ('HT1403','IsPiecework') 
 INSERT INTO #VALUES VALUES ('HT1403','SuggestSalary') 
 INSERT INTO #VALUES VALUES ('HT1403','BaseSalary') 
 INSERT INTO #VALUES VALUES ('HT1403','InsuranceSalary') 
 INSERT INTO #VALUES VALUES ('HT1403','Salary01') 
 INSERT INTO #VALUES VALUES ('HT1403','Salary02') 
 INSERT INTO #VALUES VALUES ('HT1403','Salary03') 
 INSERT INTO #VALUES VALUES ('HT1403','SalaryCoefficient') 
 INSERT INTO #VALUES VALUES ('HT1403','TaxObjectID') 
 INSERT INTO #VALUES VALUES ('HT1403','LoaCondID') 
 INSERT INTO #VALUES VALUES ('HT1403','DutyID') 
 INSERT INTO #VALUES VALUES ('HT1403','DutyCoefficient') 
 INSERT INTO #VALUES VALUES ('HT1403','TimeCoefficient') 
 INSERT INTO #VALUES VALUES ('HT1403','C01') 
 INSERT INTO #VALUES VALUES ('HT1403','C02') 
 INSERT INTO #VALUES VALUES ('HT1403','C03') 
 INSERT INTO #VALUES VALUES ('HT1403','C04') 
 INSERT INTO #VALUES VALUES ('HT1403','C05') 
 INSERT INTO #VALUES VALUES ('HT1403','C06') 
 INSERT INTO #VALUES VALUES ('HT1403','C07') 
 INSERT INTO #VALUES VALUES ('HT1403','C08') 
 INSERT INTO #VALUES VALUES ('HT1403','C09') 
 INSERT INTO #VALUES VALUES ('HT1403','C10') 
 INSERT INTO #VALUES VALUES ('HT1403','C11') 
 INSERT INTO #VALUES VALUES ('HT1403','C12') 
 INSERT INTO #VALUES VALUES ('HT1403','C13') 
 INSERT INTO #VALUES VALUES ('HT1403','C14') 
 INSERT INTO #VALUES VALUES ('HT1403','C15') 
 INSERT INTO #VALUES VALUES ('HT1403','C16') 
 INSERT INTO #VALUES VALUES ('HT1403','C17') 
 INSERT INTO #VALUES VALUES ('HT1403','C18') 
 INSERT INTO #VALUES VALUES ('HT1403','C19') 
 INSERT INTO #VALUES VALUES ('HT1403','C20') 
 INSERT INTO #VALUES VALUES ('HT1403','C21') 
 INSERT INTO #VALUES VALUES ('HT1403','C22') 
 INSERT INTO #VALUES VALUES ('HT1403','C23') 
 INSERT INTO #VALUES VALUES ('HT1403','C24') 
 INSERT INTO #VALUES VALUES ('HT1403','C25') 
 INSERT INTO #VALUES VALUES ('HT1403','Target01ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount01') 
 INSERT INTO #VALUES VALUES ('HT1403','Target02ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount02') 
 INSERT INTO #VALUES VALUES ('HT1403','Target03ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount03') 
 INSERT INTO #VALUES VALUES ('HT1403','Target04ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount04') 
 INSERT INTO #VALUES VALUES ('HT1403','Target05ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount05') 
 INSERT INTO #VALUES VALUES ('HT1403','Target06ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount06') 
 INSERT INTO #VALUES VALUES ('HT1403','Target07ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount07') 
 INSERT INTO #VALUES VALUES ('HT1403','Target08ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount08') 
 INSERT INTO #VALUES VALUES ('HT1403','Target09ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount09') 
 INSERT INTO #VALUES VALUES ('HT1403','Target10ID') 
 INSERT INTO #VALUES VALUES ('HT1403','TargetAmount10') 



SET @sSQL1 = '
DECLARE @SValue NVARCHAR(250)

CREATE TABLE #Employee
(	
	EmployeeID NVARCHAR(50)
)

INSERT INTO #Employee (	EmployeeID)
SELECT EmployeeID 
FROM HT1400 
WHERE DivisionID = '''+@DivisionID+'''
'

DECLARE @cursor CURSOR , 
		@ID VARCHAR(100),
		@TableID VARCHAR(50)		
		
SET @cursor = CURSOR FORWARD_ONLY FOR
SELECT ID, TableID
FROM #VALUES

OPEN @cursor

FETCH NEXT FROM @cursor INTO @ID, @TableID
WHILE @@FETCH_STATUS = 0
BEGIN

	SET @sSQL2 = @sSQL2 + '
	SET @SValue = (SELECT '+@ID+' FROM HT0330 WHERE APK = '''+@APK+''' )
	IF @SValue IS NOT NULL
	BEGIN
		UPDATE	'+@TableID+'
		SET		'+@ID+' = @SValue
		WHERE	DivisionID = '''+@DivisionID+'''
				AND EmployeeID IN (SELECT EmployeeID FROM #Employee )
	END
	'
	
  FETCH NEXT FROM @cursor INTO @ID, @TableID
END 
CLOSE @cursor
DEALLOCATE @cursor

--PRINT(@sSQL1)
--PRINT(@sWhere)
--PRINT(@sSQL2)

EXEC (@sSQL1+@sWhere+@sSQL2)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

