IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HP0326]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[HP0326]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


---- Create on 30/10/2013 by Thanh Sơn 
---- Nội dung: Load Grid Nhân viên Form HF0324
---- EXEC HP0326 'SAS','F0181A13-81DF-4E94-AA2E-DFFF9BD3D650'

CREATE PROCEDURE HP0326
(
  @DivisionID VARCHAR (50),
  @APK VARCHAR (50)
)    
AS 
DECLARE @sSQL NVARCHAR (MAX)
SET @sSQL = N'
SELECT H00.TeamID, H01.TeamName, H25.EmployeeID,SUM(H25.SalaryAmount) AS SalaryAmount,
LTRIM(RTRIM(ISNULL(H00.LastName,'''')))+'' ''+LTRIM(RTRIM(ISNULL(H00.MiddleName,'''')))+'' ''+LTRIM(RTRIM(ISNULL(H00.FirstName,''''))) AS EmployeeName, SUM(H25.Coefficient) AS Coefficient, SUM(H25.ProductAmount) AS ProductAmount
FROM HT0325 H25
LEFT JOIN HT1400 H00 ON H00.DivisionID=H25.DivisionID AND H00.EmployeeID=H25.EmployeeID
LEFT JOIN HT1101 H01 ON H01.DivisionID = H00.DivisionID AND H01.TeamID = H00.TeamID
WHERE H25.ResultAPK='''+@APK+''' AND H25.DivisionID='''+@DivisionID+''' 
GROUP BY H00.TeamID, H01.TeamName, H25.EmployeeID,
LTRIM(RTRIM(ISNULL(H00.LastName,'''')))+'' ''+LTRIM(RTRIM(ISNULL(H00.MiddleName,'''')))+'' ''+LTRIM(RTRIM(ISNULL(H00.FirstName,'''')))
'
EXEC (@sSQL)
SET NOCOUNT OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO
