IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[MP6633_SECOIN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[MP6633_SECOIN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Báo cáo tổng hợp sản lượng sản xuất (Theo vật tư) (Customerindex: 43 => Secoin)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 04/03/2015 by Phan thanh thoang vu
---- 
-- <Example>
/*
	Exec MP6633_SECOIN 'AS', '201401', '201603', '2014-01-01', '2016-03-30', 1,  '', '', '', '', '', '', 'ASOFTADMIN'
*/
---- 
CREATE PROCEDURE MP6633_SECOIN
(
	@DivisionID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@FromDate AS NVARCHAR(50),  
	@ToDate AS NVARCHAR(50),
	@TimeMode as INT, -- Period=0. day = 1
	@FromObjectID as nvarchar(50),
	@ToObjectID as nvarchar(50),				
	@FromInventoryID as nvarchar(50),
	@ToInventoryID as nvarchar(50),
	@FromDepartmentID as nvarchar(50),
	@ToDepartmentID as nvarchar(50),
	@UserID as nvarchar(50)
)	
AS
DECLARE @sSQL01           AS NVARCHAR(Max),
		@sSQL02           AS NVARCHAR(Max),
		@sWhere       AS NVARCHAR(4000)
	
	----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
			DECLARE @sSQLPer AS NVARCHAR(MAX),

					@sWHEREPer AS NVARCHAR(MAX)

			SET @sSQLPer = ''

			SET @sWHEREPer = ''		

			IF EXISTS (SELECT TOP 1 1 FROM MT0000 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 ) 
			-- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
					SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = M.CreateUserID '

					SET @sWHEREPer = ' AND (M.CreateUserID = AT0010.UserID

											OR  M.CreateUserID = '''+@UserID+''') '		

				END
	-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

	SET @sWhere = ' 1 = 1 '
	
	IF Isnull(@DivisionID, '') != ''
		Begin
			Set @sWhere = @sWhere +  ' And M.DivisionID Like N''' + @DivisionID + ''''
			
		End
	IF @TimeMode = 1
		Begin
			Set @sWhere = @sWhere + N' AND CONVERT(NVARCHAR(10), M.VoucherDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
		End
	Else
		Begin
			Set @sWhere = @sWhere + N' AND M.TranYear*100 + M.TranMonth BETWEEN '
											+ CONVERT(NVARCHAR(10), @FromPeriod) 
											+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
											+ ' '
		End
	
	IF (Isnull(@FromObjectID,'') !='' and Isnull(@ToObjectID,'') !='')
		Set @sWhere = @sWhere + ' and (M.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'

	IF (Isnull(@FromDepartmentID,'') != '' and isnull(@ToDepartmentID,'') != '')
		Set @sWhere = @sWhere + ' and (M.DepartmentID between ''' + @FromDepartmentID + ''' And ''' + @ToDepartmentID + ''')'

	IF (Isnull(@FromInventoryID, '') != '' and isnull(@ToInventoryID, '') != '')
		Set @sWhere = @sWhere + ' and (D.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'

	Set @sSQL01 ='Select KQSX.DivisionID, KQSX.TranMonth, KQSX.TranYear
						, KQSX.ProductID, KQSX.ProductName
						, KQSX.AnaID_Size, KQSX.AnaName_Size
						, KQSX.UnitID,  KQSX.UnitName
						, KQSX.ConvertedUnitID, KQSX.ConvertedUnitName
						--Loai A
						, Sum(Isnull(KQSX.TypeA_Quantity,0)) as TypeA_Quantity
						, Sum(Isnull(KQSX.TypeA_ConvertedQuantity,0)) as TypeA_ConvertedQuantity
						--Loai phe pham
						, Sum(Isnull(KQSX.TypePP_Quantity, 0)) as TypePP_Quantity
						, Sum(Isnull(KQSX.TypePP_ConvertedQuantity, 0)) as TypePP_ConvertedQuantity
	
	
	
					from (
						Select	M.DivisionID
						, M.TranMonth, M.TranYear
						, D.ProductID, AT1302_2.InventoryName as ProductName
						, AT1302_2.I02ID as AnaID_Size, AT1015_2.AnaName as AnaName_Size
						, D.UnitID,  AT1304_1.UnitName
						, D.ConvertedUnitID, AT1304_2.UnitName as ConvertedUnitName
						--Loai A
						, Case When D.Ana01ID = ''LOAIA'' then D.Quantity else 0 end as TypeA_Quantity 
						, Case When D.Ana01ID = ''LOAIA'' then D.ConvertedQuantity else 0 end as TypeA_ConvertedQuantity
						--Loai phe pham
						, Case When D.Ana01ID = ''LOAIPP'' then D.Quantity else 0 end as TypePP_Quantity 
						, Case When D.Ana01ID = ''LOAIPP'' then D.ConvertedQuantity else 0 end as TypePP_ConvertedQuantity
						--, D.Ana01ID, A01.AnaName as Ana01Name
						--, D.Ana02ID as AnaID_Type, A02.AnaName as AnaName_Type
						--, D.Price, D.ConvertedPrice, D.OriginalAmount, D.ConvertedAmount
						--, M.VoucherID
						--, M.VoucherTypeID
						--, M.VoucherNo, M.VoucherDate
						--, M.PeriodID
						--, M.EmployeeID, AT1103_1.FullName as EmployeeName
						--, M.KCSEmployeeID, AT1103_2.FullName as KCSEmployeeName
						--, M.TeamID, HT1101.TeamName
						--, M.ObjectID, AT1202.ObjectName
						--, M.DepartmentID, AT1102.DepartmentName
						--, M.InventoryTypeID, Case When M.InventoryTypeID = N''%'' then N''Tất cả'' Else AT1301.InventoryTypeName end as InventoryTypeName
						--, M.WareHouseID, AT1303.WareHouseName
						--, D.InventoryID, AT1302_1.InventoryName, AT1015_1.AnaName as AnaName_Inventory
						--, D.ExtraID, A00.AnaName as ExtraName
						--, D.DebitAccountID, AT1005_1.AccountName as DebitAccountName
						--, D.CreditAccountID, AT1005_2.AccountName as CreditAccountName
						--, M.Description
						--, D.Note, D.LimitDate, D.SourceNo
						--, D.Ana03ID, A03.AnaName as Ana03Name
						--, D.Ana04ID, A04.AnaName as Ana04Name
						--, D.Ana05ID, A05.AnaName as Ana05Name
						--, D.Ana06ID, A06.AnaName as Ana06Name
						--, D.Ana07ID, A07.AnaName as Ana07Name
						--, D.Ana08ID, A08.AnaName as Ana08Name
						--, D.Ana09ID, A09.AnaName as Ana09Name
						--, D.Ana10ID, A10.AnaName as Ana10Name
						--, M.CreateUserID, AT1103_3.FullName as CreateUserName
						--, M.LastModifyUserID, AT1103_4.FullName as LastModifyUserName
						--, M.CreateDate, M.LastModifyDate '
Set @sSQL02 ='
				From   MT0810 M Inner join MT1001 D On M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID and M.IsPhase = 1 and M.IsJob = 1 
								Left join AT1202 on M.ObjectID = AT1202.ObjectID and M.DivisionID = AT1202.DivisionID
								Left join AT1102 on M.DepartmentID = AT1102.DepartmentID and M.DivisionID = AT1102.DivisionID
								Left join HT1101 on M.TeamID = HT1101.TeamID and M.DivisionID = HT1101.DivisionID
								Left join AT1303 on M.WareHouseID = AT1303.WareHouseID and M.DivisionID = AT1303.DivisionID
		    					Left join AT1302 AT1302_1 on D.InventoryID = AT1302_1.InventoryID and D.DivisionID = AT1302_1.DivisionID
								Left join AT1302 AT1302_2 on D.ProductID = AT1302_2.InventoryID and D.DivisionID = AT1302_2.DivisionID
								Left join AT1304 AT1304_1 on D.UnitID = AT1304_1.UnitID and D.DivisionID = AT1304_1.DivisionID
								Left join AT1304 AT1304_2 on D.ConvertedUnitID = AT1304_2.UnitID and D.DivisionID = AT1304_2.DivisionID
								Left join AT1005 AT1005_1 on D.DebitAccountID = AT1005_1.AccountID and D.DivisionID = AT1005_1.DivisionID
								Left join AT1005 AT1005_2 on D.CreditAccountID = AT1005_2.AccountID and D.DivisionID = AT1005_2.DivisionID
								Left join AT1301 on M.InventoryTypeID = AT1301.InventoryTypeID and M.DivisionID = AT1301.DivisionID
								Left join AT1103 AT1103_1 on M.EmployeeID = AT1103_1.EmployeeID and M.DivisionID = AT1103_1.DivisionID
								Left join AT1103 AT1103_2 on M.KCSEmployeeID = AT1103_2.EmployeeID and M.DivisionID = AT1103_2.DivisionID
								Left join AT1103 AT1103_3 on M.CreateUserID = AT1103_3.EmployeeID and M.DivisionID = AT1103_3.DivisionID
								Left join AT1103 AT1103_4 on M.LastModifyUserID = AT1103_4.EmployeeID and M.DivisionID = AT1103_4.DivisionID
								Left join AT1015 AT1015_1 on AT1302_1.DivisionID = AT1015_1.DivisionID 
																	and AT1302_1.I02ID = AT1015_1.AnaID and AT1015_1.AnaTypeID = ''I02''
								Left join AT1015 AT1015_2 on AT1302_2.DivisionID = AT1015_2.DivisionID 
																	and AT1302_2.I02ID = AT1015_2.AnaID and AT1015_2.AnaTypeID = ''I02''
								Left join AT1011 A00 on D.DivisionID = A00.DivisionID and D.ExtraID = A00.AnaID and A00.AnaTypeID = ''A03''
								Left join AT1011 A01 on D.DivisionID = A01.DivisionID and D.Ana01ID = A01.AnaID and A01.AnaTypeID =''A01''
								Left join AT1011 A02 on D.DivisionID = A02.DivisionID and D.Ana02ID = A02.AnaID and A02.AnaTypeID =''A02''
								Left join AT1011 A03 on D.DivisionID = A03.DivisionID and D.Ana03ID = A03.AnaID and A03.AnaTypeID =''A03''
								Left join AT1011 A04 on D.DivisionID = A04.DivisionID and D.Ana04ID = A04.AnaID and A04.AnaTypeID =''A04''
								Left join AT1011 A05 on D.DivisionID = A05.DivisionID and D.Ana05ID = A05.AnaID and A05.AnaTypeID =''A05''
								Left join AT1011 A06 on D.DivisionID = A06.DivisionID and D.Ana06ID = A06.AnaID and A06.AnaTypeID =''A06''
								Left join AT1011 A07 on D.DivisionID = A07.DivisionID and D.Ana07ID = A07.AnaID and A07.AnaTypeID =''A07''
								Left join AT1011 A08 on D.DivisionID = A08.DivisionID and D.Ana08ID = A08.AnaID and A08.AnaTypeID =''A08''
								Left join AT1011 A09 on D.DivisionID = A09.DivisionID and D.Ana09ID = A09.AnaID and A09.AnaTypeID =''A09''
								Left join AT1011 A10 on D.DivisionID = A10.DivisionID and D.Ana10ID = A10.AnaID and A10.AnaTypeID =''A10''
								'
								+ @sSQLPer +
				' Where ' + @sWhere + @sWHEREPer +
				') KQSX
				Group by  KQSX.DivisionID, KQSX.TranMonth, KQSX.TranYear
						, KQSX.ProductID, KQSX.ProductName
						, KQSX.AnaID_Size, KQSX.AnaName_Size
						, KQSX.UnitID,  KQSX.UnitName
						, KQSX.ConvertedUnitID, KQSX.ConvertedUnitName
						
						'
						

					
	EXEC (@sSQL01 +@sSQL02)
	Print (@sSQL01)
	Print (@sSQL02)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

