
/****** Object:  StoredProcedure [dbo].[MP7201]    Script Date: 12/16/2010 10:21:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



----- Created by: Vo Thanh Huong, date: 13/4/2006
---- Purpose: Phan bo nhan cong theo PP  truc tiep & DDCK theo PP ULTD

/**********************************************
** Edited by: [GS] [Cẩm Loan] [03/08/2010]
***********************************************/


ALTER Procedure [dbo].[MP7201] 	@DivisionID as nvarchar(50), 
				@PeriodID as nvarchar(50),
				@TranMonth as int,@TranYear as int,
				@MaterialTypeID as nvarchar(50),
				@BeginMethodID int,
				@FromPeriodID nvarchar(50)		 

as 
Declare @sSQL as nvarchar(4000),
		@SumProductCovalues as decimal(28,8),	
		@ProductID as nvarchar(50),
		@ProductQuantity as Decimal(28,8),
		@ListProduct_cur cursor,
		@ProductCo as Decimal(28,8),		
		@SumProductCo decimal(28,8),
		@PConvertedAmount as Decimal(28,8),
		@ConvertedAmount as Decimal(28,8),
		@ConvertedUnit	 as Decimal(28,8),
		@ConvertedDecimal int,
		@ResultTypeID nvarchar(50),
		@ProductID_Old  nvarchar(50),
		@PerfectRate decimal(28,8),
		@MaterialRate decimal(28,8),
		@HumanResourceRate decimal(28,8),
		@OthersRate decimal(28,8)


Select  @ConvertedDecimal = ConvertDecimal, @ProductID_Old =''  From MT0000

Set @sSQL='
		Select	DivisionID,
		ProductID, Sum( Case D_C  when ''D'' then Isnull(ConvertedAmount,0) else - Isnull(ConvertedAmount,0) end) as ConvertedAmount	
		From MV9000  
		WHere 	DivisionID =''' + @DivisionID+''' and
			PeriodID = ''' + @PeriodID+''' and
			ExpenseID  = ''COST002'' and
			isnull(ProductID, '''') <> ''''  and 
			MaterialTypeID =''' + @MaterialTypeID + ''' 
		Group by DivisionID,ProductID
		Union '

IF @BeginMethodID = 1  --Do dang dau ky cap nhat bang tay
	Set @sSQL = @sSQL + 
		' Select  DivisionID,
		ProductID, Sum(isnull(ConvertedAmount, 0)) as ConvertedAmount	
		From MT1612
		WHere 	DivisionID = '''+@DivisionID + ''' and
			PeriodID = '''+@PeriodID + ''' and
			ExpenseID = ''COST002''  and
			isnull(ProductID,'''') <> ''''  and 
			MaterialTypeID  = ''' + @MaterialTypeID + '''  and 
			Type = ''B''
		GROUP BY DivisionID,ProductID'
ELSE  --DDDK ke thua tu DDCK cua DTTHCP khac
	Set @sSQL = @sSQL + '
		Select DivisionID, 
		ProductID, sum(isnull(ConvertedAmount,0)) as ConvertedAmount
		From MT0400
		Where  DivisionID = ''' + @DivisionID + ''' and PeriodID = ''' + @FromPeriodID + ''' and
			ExpenseID =''COST002'' and MaterialTypeID = ''' + @MaterialTypeID + ''' and ResultTypeID = ''R03''
		Group by 	DivisionID,ProductID'


If  exists (Select top 1 1 From SysObjects Where name = 'MV7401' and Xtype ='V')
	DROP VIEW MV7401
Exec ('Create view MV7401 as '+@sSQL)


----------------------- Tao view MV7201------------------------------------------------------
Set @sSQL = '
		Select DivisionID,
		ProductID, sum(ConvertedAmount) as ConvertedAmount 
		From MV7401 
		GROUP BY DivisionID, ProductID'

If  exists (Select top 1 1 From SysObjects Where name = 'MV7201' and Xtype ='V')
	DROP VIEW MV7201

Exec ('Create view MV7201 as ' + @sSQL)


-----------------------------------------------------------------------------------------
Set @ListProduct_cur  = CURSOR SCROLL KEYSET FOR 
	Select   MT4444.ProductID,  MT4444.ProductQuantity, 
		round(MV5201.ConvertedAmount, @ConvertedDecimal), 
		ProductCo = isnull(MT4444.ProductQuantity,0)
		* case when MT4444.ResultTypeID = 'R01' then 1 else isnull(HumanResourceRate,0)/100 end,
		SumProductCo =isnull((Select sum(ProductQuantity
		* case when MT4444.ResultTypeID = 'R01' then 1 else isnull(HumanResourceRate,0)/100 end) 
		From MT4444 Where ProductID = MV5201.ProductID),0),
		MT4444.ResultTypeID,PerfectRate, MaterialRate, HumanResourceRate, OthersRate
	From MV7201 MV5201  inner join MT4444  on MV5201.ProductID  =  MT4444.ProductID 
	Order by MT4444.ProductID, MT4444.ResultTypeID desc

Open @ListProduct_cur 
FETCH NEXT FROM @ListProduct_cur INTO    @ProductID, @ProductQuantity, @ConvertedAmount, @ProductCo, @SumProductCo,
				 @ResultTypeID, @PerfectRate, @MaterialRate, @HumanResourceRate, @OthersRate
WHILE @@Fetch_Status = 0
BEGIN
	Select	@PConvertedAmount = 0, @ConvertedUnit = 0
	IF @SumProductCo<>0 and @ProductCo <> 0
		IF @ResultTypeID = 'R03'
			BEGIN
				Set @PConvertedAmount = round(@ConvertedAmount/ @SumProductCo*@ProductCo, @ConvertedDecimal)
				Set @ConvertedUnit =  round(@PConvertedAmount/ @ProductQuantity, @ConvertedDecimal)
			
				Insert MT0444 (ResultTypeID, ExpenseID, MaterialTypeID, ProductID,  ConvertedAmount,  ConvertedUnit,    
						InProcessQuantity, PerfectRate, MaterialRate, HumanResourceRate, OthersRate)
				Values (@ResultTypeID, 'COST002', @MaterialTypeID, @ProductID,  @PConvertedAmount ,  @ConvertedUnit,    						@ProductQuantity, @PerfectRate, @MaterialRate, @HumanResourceRate, @OthersRate)	
			END	
		ELSE   IF @ResultTypeID = 'R01'
			BEGIN
				IF @ProductID_Old = @ProductID 
					BEGIN
					
						Set @PConvertedAmount = @ConvertedAmount - isnull((Select sum(ConvertedAmount)
											From MT0444 
											Where MaterialTypeID = @MaterialTypeID and 
											ProductID = @ProductID and ResultTypeID = 'R03'),0)	
						SET @ConvertedUnit = round(@PConvertedAmount/@ProductQuantity, @ConvertedDecimal)
					
					END
				ELSE 
					Select @PConvertedAmount = @ConvertedAmount, 
						@ConvertedUnit = round(@PConvertedAmount/@ProductQuantity, @ConvertedDecimal)			
					Insert MT0444 (ResultTypeID, 	ExpenseID, 	MaterialTypeID, 	ProductID,  
							ConvertedAmount,	ConvertedUnit,	ProductQuantity)
					Values (@ResultTypeID, 'COST002', 	@MaterialTypeID, 	@ProductID,  
							@PConvertedAmount , 	 @ConvertedUnit,    @ProductQuantity)
					
			END

	Set @ProductID_Old = @ProductID							
	FETCH NEXT FROM @ListProduct_cur INTO    @ProductID, @ProductQuantity, @ConvertedAmount, @ProductCo, @SumProductCo,
				 @ResultTypeID, @PerfectRate, @MaterialRate, @HumanResourceRate, @OthersRate
END
CLOSE  @ListProduct_cur
