IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OP3025_SECOIN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[OP3025_SECOIN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Kế hoạch sản xuất các đơn hàng xuất khẩu (Customerindex: 43 => Secoin)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 13/03/2015 by Phan thanh thoang vu
---- 
-- <Example>
/*
	Exec OP3025_SECOIN 'AS', '201401', '201503','2014-01-01', '2015-03-30', 2, null, null, null,  null, 'ASOFTADMIN'
*/
---- 
CREATE PROCEDURE OP3025_SECOIN
(
	@DivisionID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@FromDate AS NVARCHAR(50),  
	@ToDate AS NVARCHAR(50),
	@TimeMode as INT, -- Period=0. day = 1
	@FromObjectID as nvarchar(50), --Từ đối tượng
	@ToObjectID as nvarchar(50), --Đến đối tượng
	--@FromWarehouseID as nvarchar(50), --Từ kho
	--@ToWarehouseID as nvarchar(50), --Đến kho
	@FromInventoryID as nvarchar(50), --Từ mặt hàng
	@ToInventoryID as nvarchar(50), --Đến mặt hàng
	@UserID as nvarchar(50)
)	
AS
DECLARE @sSQL01           AS NVARCHAR(Max),
		@sSQL02           AS NVARCHAR(Max),
		@sSQL03           AS NVARCHAR(Max),
		@sWhere       AS NVARCHAR(4000)
	
	----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
			DECLARE @sSQLPer AS NVARCHAR(MAX),

					@sWHEREPer AS NVARCHAR(MAX)

			SET @sSQLPer = ''

			SET @sWHEREPer = ''		

			IF EXISTS (SELECT TOP 1 1 FROM MT0000 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 ) 
			-- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
					SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = M.CreateUserID '

					SET @sWHEREPer = ' AND (M.CreateUserID = AT0010.UserID

											OR  M.CreateUserID = '''+@UserID+''') '		

				END
	-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

	SET @sWhere = ' 1 = 1 '
	
	IF @DivisionID is not null
		Begin
			Set @sWhere = @sWhere +  ' And M.DivisionID Like N''' + @DivisionID + ''''
			
		End
	IF @TimeMode = 1
		Begin
			Set @sWhere = @sWhere + N' AND CONVERT(NVARCHAR(10), M.OrderDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
		End
	Else
		Begin
			Set @sWhere = @sWhere + N' AND M.TranYear*100 + M.TranMonth BETWEEN '
											+ CONVERT(NVARCHAR(10), @FromPeriod) 
											+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
											+ ' '
		End
	
	IF (@FromObjectID is not null and @ToObjectID is not null)
		Set @sWhere = @sWhere + ' and (M.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'

	--IF (@FromWarehouseID is not null and @ToWarehouseID is not null)
	--	Set @sWhere = @sWhere + ' and (M.WareHouseID between ''' + @FromWarehouseID + ''' And ''' + @ToWarehouseID + ''')'

	IF (@FromInventoryID is not null and @ToInventoryID is not null)
		Set @sWhere = @sWhere + ' and (D.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'

	Set @sSQL01 ='Select M.SOrderID, D.TransactionID
						, M.ObjectID, AT1202.ObjectName
						, M.VoucherNo, M.OrderDate
						, D.InventoryID, Isnull(D.InventoryCommonName, AT1302.InventoryName) as InventoryName
						, D.ExtraID, A11.ExtraName
						, AT1302.I02ID, AT1015.AnaName as I02Name
						, Isnull(D.OrderQuantity,0) as OrderQuantity
						, isnull(PGV.Quantity_CD1,0) as Quantity_CD1
						, Isnull(D.OrderQuantity,0) - isnull(PGV.Quantity_CD1,0) as Remain_Quantity_CD1
						--, D.Notes
						, Isnull(PGV.Quantity_CD2, 0) as Quantity_CD2
						, Isnull(D.OrderQuantity,0) - Isnull(PGV.Quantity_CD2, 0) as Remain_Quantity_CD2
						--, D.Notes01
						--, D.Notes02
						, D.Varchar01
						, D.Varchar02
						, D.Varchar03
						, D.Varchar04
						, D.Varchar05
						, D.Varchar06
						, D.Varchar07
						, D.Varchar08
						, D.Varchar09
						, D.Varchar10
						, D.nvarchar01
						, D.nvarchar02
						, D.nvarchar03
						, D.nvarchar04
						, D.nvarchar05
						, D.nvarchar06
						, D.nvarchar07
						, D.nvarchar08
						, D.nvarchar09
						, D.nvarchar10
						, D.Ana01ID, A01.AnaName as Ana01Name
						, D.Ana02ID, A02.AnaName as Ana02Name
						, D.Ana03ID, A03.AnaName as Ana03Name
						, D.Ana04ID, A04.AnaName as Ana04Name
						, D.Ana05ID, A05.AnaName as Ana05Name
						, D.Ana06ID, A06.AnaName as Ana06Name
						, D.Ana07ID, A07.AnaName as Ana07Name
						, D.Ana08ID, A08.AnaName as Ana08Name
						, D.Ana09ID, A09.AnaName as Ana09Name
						, D.Ana10ID, A10.AnaName as Ana10Name
						, D.InheritTableID
						, D.InheritVoucherID
						, D.InheritTransactionID
						, D.EndDate --Ngày yêu cầu hoàn thành (Dữ kiến ngày xuất của phân xưởng)
						, DHB.DeliveryDate --Ngày giao hàng (Ngày yêu cầu giao hàng)
						'
	Set @sSQL02 ='
						from OT2001 M inner join OT2002 D on M.DivisionID = D.DivisionID and M.SOrderID = D.SOrderID And M.OrderType = 1
									  Left join ( 
												--Cong doan giao viec
												Select  D.DivisionID, D.InheritVoucherID, D.InheritTransactionID, D.Quantity as QuantityPGV
														,Sum(Isnull(KQSX.Quantity_CD1,0)) as Quantity_CD1,Sum(Isnull(KQSX.Quantity_CD2,0)) as Quantity_CD2
														, KQSX.ProductID,KQSX.InventoryID
												From MT2007 M inner join MT2008 D on M.DivisionID = D.DivisionID and M.VoucherID = D.VoucherID
															  inner join ( --Cong doan ban thanh pham va thanh pham
																			Select  M.DivisionID,M.ObjectID, D.ProductID
																					, D.InventoryID, D.UnitID
																					, D.InheritVoucherID, D.InheritTransactionID
																					, SUM(D.Quantity) AS Quantity_CD1, Sum(CD2.Quantity_CD2) as Quantity_CD2
																			From MT0810 M inner join MT1001 D on M.DivisionID = D.DivisionID 
																										and M.VoucherID = D.VoucherID and M.Isphase = 1 
																										and M.IsJob = 1
																						  Left join (	--Cong doan thanh pham
																										Select  M.DivisionID, D.ProductID
																												, D.InventoryID
																												, D.InheritVoucherID, D.InheritTransactionID
																												, SUM(D.Quantity) AS Quantity_CD2
																										From MT0810 M inner join MT1001 D on 
																													M.DivisionID = D.DivisionID 
																													and M.VoucherID = D.VoucherID 
																													and M.Isphase = 1 and M.IsResult = 1
																										Group by M.DivisionID,  D.ProductID
																												, D.InventoryID
																												, D.InheritVoucherID, D.InheritTransactionID
																									) CD2 on CD2.DivisionID = D.DivisionID 
																											and CD2.InheritVoucherID = D.VoucherID 
																											and CD2.InheritTransactionID = D.TransactionID

																			Group by M.DivisionID, M.ObjectID, D.ProductID
																					, D.InventoryID, D.UnitID
																					, D.InheritVoucherID, D.InheritTransactionID
																		) KQSX on D.DivisionID = KQSX.DivisionID and D.VoucherID = KQSX.InheritVoucherID 
																						and D.TransactionID = KQSX.InheritTransactionID
												Group by D.DivisionID, D.InheritVoucherID, D.InheritTransactionID, D.Quantity, KQSX.ProductID,KQSX.InventoryID
						) PGV on PGV.DivisionID = D.DivisionID and PGV.InheritVoucherID = D.SOrderID and PGV.InheritTransactionID = D.TransactionID'
	Set @sSQL03 ='
						Left join AT1202 on M.DivisionID = AT1202.DivisionID and M.ObjectID = AT1202.ObjectID
				Left join AT1302 on D.InventoryID = AT1302.InventoryID and D.DivisionID = AT1302.DivisionID
				Left join AT1015 on AT1302.DivisionID = AT1015.DivisionID and AT1302.I02ID = AT1015.AnaID and AT1015.AnaTypeID = ''I02''
				Left join AT1011 A01 on D.DivisionID = A01.DivisionID and D.Ana01ID = A01.AnaID and A01.AnaTypeID = ''A01''
				Left join AT1011 A02 on D.DivisionID = A02.DivisionID and D.Ana02ID = A02.AnaID and A02.AnaTypeID = ''A02''
				Left join AT1011 A03 on D.DivisionID = A03.DivisionID and D.Ana03ID = A03.AnaID and A03.AnaTypeID = ''A03''
				Left join AT1011 A04 on D.DivisionID = A04.DivisionID and D.Ana04ID = A04.AnaID and A04.AnaTypeID = ''A04''
				Left join AT1011 A05 on D.DivisionID = A05.DivisionID and D.Ana05ID = A05.AnaID and A05.AnaTypeID = ''A05''
				Left join AT1011 A06 on D.DivisionID = A06.DivisionID and D.Ana06ID = A06.AnaID and A06.AnaTypeID = ''A06''
				Left join AT1011 A07 on D.DivisionID = A07.DivisionID and D.Ana07ID = A07.AnaID and A07.AnaTypeID = ''A07''
				Left join AT1011 A08 on D.DivisionID = A08.DivisionID and D.Ana08ID = A08.AnaID and A08.AnaTypeID = ''A08''
				Left join AT1011 A09 on D.DivisionID = A09.DivisionID and D.Ana09ID = A09.AnaID and A09.AnaTypeID = ''A09''
				Left join AT1011 A10 on D.DivisionID = A10.DivisionID and D.Ana10ID = A10.AnaID and A10.AnaTypeID = ''A10''
				Left join AT1311 A11 on D.DivisionID = A11.DivisionID and D.ExtraID = A11.ExtraID
				Left join OT2002 DHB on DHB.DivisionID = D.DivisionID and DHB.SOrderID = D.InheritVoucherID and DHB.TransactionID = D.InheritTransactionID
				'
						+ @sSQLPer 
						+ ' Where ' 
						+ @sWhere + @sWHEREPer + ' Order by M.OrderDate, M.VoucherNo, M.ObjectID, D.Orders'
						
	EXEC (@sSQL01 + @sSQL02 + @sSQL03)
	Print (@sSQL01)
	Print (@sSQL02)
	Print (@sSQL03)

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

