
/****** Object:  StoredProcedure [dbo].[OP3334]    Script Date: 08/04/2010 13:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Kiem Tra de viet Code Customer: cho Song Binh : MAn hinh but toan mau, tao Debit
--Nguyen Thuy Tuyen ,
-- DAte: 14/07/2009
/********************************************
'* Edited by: [GS] [Thành Nguyên] [04/08/2010]
'********************************************/

ALTER PROCEDURE [dbo].[OP3334] AS 
Select 0 as Status -- Neu tra ve 0 thi la chuan , Neu 1 la   customer cho Song Binh,
GO
