IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[WP6636_SECOIN]') AND OBJECTPROPERTY(ID, N'IsProcedure') = 1)
DROP PROCEDURE [DBO].[WP6636_SECOIN]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

-- <Summary>
---- Bảng tổng hợp sản lượng gạch (Customerindex: 43 => Secoin)
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 04/03/2015 by Phan thanh thoang vu
---- 
-- <Example>
/*
	Exec WP6636_SECOIN 'AS', '201401', '201603', '2014-01-01', '2016-03-30', 1, '', '', '', '', '', '' ,'ASOFTADMIN'
*/
---- 
CREATE PROCEDURE WP6636_SECOIN
(
	@DivisionID AS NVARCHAR(50),
	@FromPeriod AS INT,
	@ToPeriod AS INT,
	@FromDate AS NVARCHAR(50),  
	@ToDate AS NVARCHAR(50),
	@TimeMode as tinyint, --1: Theo ngày; 0: Theo Kỳ
	@FromObjectID as nvarchar(50), --Từ đối tượng
	@ToObjectID as nvarchar(50), --Đến đối tượng
	@FromWarehouseID as nvarchar(50), --Từ kho
	@ToWarehouseID as nvarchar(50), --Đến kho
	@FromInventoryID as nvarchar(50), --Từ mặt hàng
	@ToInventoryID as nvarchar(50), --Đến mặt hàng
	--@FromI02ID as nvarchar(50), --Từ kich thuoc
	--@ToI02ID as nvarchar(50), --Đến kich thuoc
	@UserID as nvarchar(50)
)	
AS
DECLARE @sSQL01           AS NVARCHAR(Max),
		@sSQL02           AS NVARCHAR(Max),
		@sSQL03           AS NVARCHAR(Max),
		@sWhere       AS NVARCHAR(4000)
	
	----------------->>>>>> Phân quyền xem chứng từ của người dùng khác		
			DECLARE @sSQLPer AS NVARCHAR(MAX),

					@sWHEREPer AS NVARCHAR(MAX)

			SET @sSQLPer = ''

			SET @sWHEREPer = ''		

			IF EXISTS (SELECT TOP 1 1 FROM MT0000 WHERE DivisionID = @DivisionID AND IsPermissionView = 1 ) 
			-- Nếu check Phân quyền xem dữ liệu tại Thiết lập hệ thống thì mới thực hiện
			BEGIN
					SET @sSQLPer = ' LEFT JOIN AT0010 ON AT0010.DivisionID = M.DivisionID 

														AND AT0010.AdminUserID = '''+@UserID+''' 

														AND AT0010.UserID = M.CreateUserID '

					SET @sWHEREPer = ' AND (M.CreateUserID = AT0010.UserID

											OR  M.CreateUserID = '''+@UserID+''') '		

				END
	-----------------<<<<<< Phân quyền xem chứng từ của người dùng khác	

	SET @sWhere = ' 1 = 1 '
	
	IF isnull(@DivisionID, '') != ''
		Begin
			Set @sWhere = @sWhere +  ' And M.DivisionID Like N''' + @DivisionID + ''''
			
		End
	IF @TimeMode = 1
		Begin
			Set @sWhere = @sWhere + N' AND CONVERT(NVARCHAR(10), M.VoucherDate, 21) BETWEEN '''
												+ CONVERT(NVARCHAR(10),@FromDate,21)+ ''' AND '''
												+ CONVERT(NVARCHAR(10),@ToDate,21) + ''' '
		End
	Else
		Begin
			Set @sWhere = @sWhere + N' AND M.TranYear*100 + M.TranMonth BETWEEN '
											+ CONVERT(NVARCHAR(10), @FromPeriod) 
											+ ' AND '+CONVERT(NVARCHAR(10), @ToPeriod)
											+ ' '
		End
	
	IF (isnull(@FromObjectID, '') != '' and isnull(@ToObjectID, '') != '')
		Set @sWhere = @sWhere + ' and (M.ObjectID between ''' + @FromObjectID + ''' And ''' + @ToObjectID + ''')'

	IF (isnull(@FromWarehouseID, '') != '' and isnull(@ToWarehouseID, '') != '')
		Set @sWhere = @sWhere + ' and (M.WareHouseID between ''' + @FromWarehouseID + ''' And ''' + @ToWarehouseID + ''')'

	IF (isnull(@FromInventoryID, '') != '' and isnull(@ToInventoryID, '') != '')
		Set @sWhere = @sWhere + ' and (D.InventoryID between ''' + @FromInventoryID + ''' And ''' + @ToInventoryID + ''')'


	Set @sSQL01 ='Select x.WareHouseID, x.WareHouseName, x.ObjectID, x.ObjectName, x.I02ID, x.I02Name
						, Sum(Isnull(x.ActualQuantity, 0)) as Quantity
						, Sum(Isnull(x.ConvertedQuantity, 0)) as ConvertedQuantity
						, Sum(Isnull(x.MarkQuantity, 0)) as MarkQuantity
						, Sum(Isnull(x.OriginalAmount, 0)) as OriginalAmount
						, Sum(Isnull(x.ConvertedAmount, 0)) as ConvertedAmount
					From
					(
							select D.DivisionID, D.VoucherID, D.TransactionID, M.TranMonth, M.TranYear, M.VoucherNo, M.VoucherDate
									, M.KindVoucherID, M.Status, D.ActualQuantity, D.ConvertedQuantity, D.MarkQuantity, D.UnitPrice
									, D.ConvertedPrice, D.OriginalAmount, D.ConvertedAmount, D.Orders, M.CreateDate, M.LastModifyDate
									, M.RefNo01, M.RefNo02, M.RDAddress, M.ContactPerson, M.VATObjectName
									, M.VoucherTypeID
									, Case when M.ObjectID  is not null then M.ObjectID else N''KHAC'' end as ObjectID
									, Case when AT1202.ObjectName is not null then AT1202.ObjectName else N''Khác'' end  as ObjectName
									, M.WareHouseID, AT1303_1.WareHouseName
									, M.WareHouseID2, AT1303_2.WareHouseName as WareHouseName2
									, M.EmployeeID, AT1103_1.FullName as EmployeeName
									, M.CreateUserID, AT1103_2.FullName as CreateUserName
									, M.LastModifyUserID, AT1103_3.FullName as LastModifyUserName
									, AT1302.InventoryTypeID, AT1301.InventoryTypeName
									, D.InventoryID, AT1302.InventoryName
									, D.UnitID, AT1304_1.UnitName
									, D.ConvertedUnitID, AT1304_2.UnitName as ConvertedUnitName
									, D.DebitAccountID
									, D.CreditAccountID
									, AT1302.I01ID, I01.AnaName as I01Name
									, AT1302.I02ID, I02.AnaName as I02Name
									, AT1302.I03ID, I03.AnaName as I03Name
									, AT1302.I04ID, I04.AnaName as I04Name
									, AT1302.I05ID, I05.AnaName as I05Name
									, D.Ana01ID, A01.AnaName as Ana01Name
									, D.Ana02ID, A02.AnaName as Ana02Name
									, D.Ana03ID, A03.AnaName as Ana03Name
									, D.Ana04ID, A04.AnaName as Ana04Name
									, D.Ana05ID, A05.AnaName as Ana05Name
									, D.Ana06ID, A06.AnaName as Ana06Name
									, D.Ana07ID, A07.AnaName as Ana07Name
									, D.Ana08ID, A08.AnaName as Ana08Name
									, D.Ana09ID, A09.AnaName as Ana09Name
									, D.Ana10ID, A10.AnaName as Ana10Name 
									'
				Print @sSQL02
	Set @sSQL02 ='	from AT2006 M inner join AT2007 D on M.Divisionid = D.DivisionID  and M.VoucherID=D.VoucherID
									Left join AT1202 on M.DivisionID = AT1202.DivisionID and M.ObjectID = AT1202.ObjectID
     								Left join AT1302 on D.DivisionID = AT1302.DivisionID and D.InventoryID = AT1302.InventoryID
									Left join AT1304 AT1304_1 on D.DivisionID = AT1304_1.DivisionID and D.UnitID = AT1304_1.UnitID
									Left join AT1304 AT1304_2 on D.DivisionID = AT1304_2.DivisionID and D.ConvertedUnitID = AT1304_2.UnitID
									Left join AT1303 AT1303_1 on D.DivisionID = AT1303_1.DivisionID and M.WareHouseID = AT1303_1.WareHouseID
									Left join AT1303 AT1303_2 on D.DivisionID = AT1303_2.DivisionID and M.WareHouseID2 = AT1303_2.WareHouseID
									Left join AT1103 AT1103_1 on D.DivisionID = AT1103_1.DivisionID and M.EmployeeID = AT1103_1.EmployeeID
									Left join AT1103 AT1103_2 on D.DivisionID = AT1103_2.DivisionID and M.CreateUserID = AT1103_2.EmployeeID
									Left join AT1103 AT1103_3 on D.DivisionID = AT1103_3.DivisionID and M.LastModifyUserID = AT1103_3.EmployeeID
									Left join AT1015 I01 on AT1302.DivisionID = I01.DivisionID and AT1302.I01ID = I01.AnaID and I01.AnaTypeID = ''I01''
									Left join AT1015 I02 on AT1302.DivisionID = I02.DivisionID and AT1302.I02ID = I02.AnaID and I02.AnaTypeID = ''I02''
									Left join AT1015 I03 on AT1302.DivisionID = I03.DivisionID and AT1302.I03ID = I03.AnaID and I03.AnaTypeID = ''I03''
									Left join AT1015 I04 on AT1302.DivisionID = I04.DivisionID and AT1302.I04ID = I04.AnaID and I04.AnaTypeID = ''I04''
									Left join AT1015 I05 on AT1302.DivisionID = I05.DivisionID and AT1302.I05ID = I05.AnaID and I05.AnaTypeID = ''I05''
									Left join AT1301 on AT1302.DivisionID = AT1301.DivisionID and AT1302.InventoryTypeID = AT1301.InventoryTypeID
									Left join AT1011 A01 on D.DivisionID = A01.DivisionID and D.Ana01ID = A01.AnaID and A01.AnaTypeID = ''A01''
									Left join AT1011 A02 on D.DivisionID = A02.DivisionID and D.Ana02ID = A02.AnaID and A02.AnaTypeID = ''A02''
									Left join AT1011 A03 on D.DivisionID = A03.DivisionID and D.Ana03ID = A03.AnaID and A03.AnaTypeID = ''A03''
									Left join AT1011 A04 on D.DivisionID = A04.DivisionID and D.Ana04ID = A04.AnaID and A04.AnaTypeID = ''A04''
									Left join AT1011 A05 on D.DivisionID = A05.DivisionID and D.Ana05ID = A05.AnaID and A05.AnaTypeID = ''A05''
									Left join AT1011 A06 on D.DivisionID = A06.DivisionID and D.Ana06ID = A06.AnaID and A06.AnaTypeID = ''A06''
									Left join AT1011 A07 on D.DivisionID = A07.DivisionID and D.Ana07ID = A07.AnaID and A07.AnaTypeID = ''A07''
									Left join AT1011 A08 on D.DivisionID = A08.DivisionID and D.Ana08ID = A08.AnaID and A08.AnaTypeID = ''A08''
									Left join AT1011 A09 on D.DivisionID = A09.DivisionID and D.Ana09ID = A09.AnaID and A09.AnaTypeID = ''A09''
									Left join AT1011 A10 on D.DivisionID = A10.DivisionID and D.Ana10ID = A10.AnaID and A10.AnaTypeID = ''A10'' '
	
						+ @sSQLPer 
						+ ' Where ' 
						+ @sWhere + @sWHEREPer 
						+ ' and  M.KindVoucherID = 2 and AT1302.I01ID Like N''GACH%''
	) x
	Group by	x.ObjectID, x.ObjectName, x.WareHouseID, x.WareHouseName, x.I02ID, x.I02Name
	Order by x.WareHouseID, x.ObjectID, x.I02ID
'
	EXEC (@sSQL01 + @sSQL02)
	
	Print @sSQL01
	Print @sSQL02

/*
	Exec WP6636_SECOIN 'AS', '2014-02-01', '2014-02-28', 2, 2014, 2, 2014, null, null, 1, null, null, 'ASOFTADMIN'
	Exec WP6636_SECOIN 'AS', '201401', '201403', '2014-01-01 00:00:00.000', '2015-03-30 00:00:00.000', 1, null, null, null, null, null, null, 'ASOFTADMIN'
*/

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

