--use [CDT]
--declare @sysTableID as varchar(50)

-- BLTK
--select @sysTableID = sysTableID from sysTable 
--where TableName = 'BLTK'
--
--Update sysDataConfig set Condition = N'(TThue>0 and left(tkco,2) <>''11'')'
--where sysTableID = @sysTableID
--and NhomDK IN ('MDV4', 'MDV3')
--
--Update sysDataConfig set Condition = N'(left(tkco,2) <>''11'')'
--where sysTableID = @sysTableID
--and NhomDK IN ('MDV1', 'MDV2')