@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     14/12/2015      Quang Hoàng       Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.CRM.Entities
@using ASOFT.ERP.ViewModel.CRM
@using ASOFT.ERP.ViewModel.Helper;
@model CRMF2003ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "CRMF2003CallHistory",
                              NameEventPost = "GridData",
                              Scrollable = true,
                              ActionName = "CRMF2003CallHistory",
                              ControllerName = "CRMF2000",
                              HtmlAttribute = new { @class = "asf-grid", style = "height:450px;" },
                              IsShowCheck = false,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>
                                                   {
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_START,
                                                               TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.Start", "CRMF2003","CRM"),
                                                               Format = "{0:HH:mm dd/MM/yyyy}",
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_SOURCE,
                                                               TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.Source", "CRMF2003","CRM"),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_DESTINATION,                                                                                              TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.Destination", "CRMF2003","CRM"),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_STATUS,
                                                               TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.Status", "CRMF2003","CRM"),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                           },
                                                        new ASOFTGridColumnSetting
                                                        {
                                                            IDColumn = CRMP2003.COL_ACCOUNTID,                                                                                              TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.AccountID", "CRMF2003","CRM"),
                                                            Width = 100,
                                                            VisibleColumn = true,
                                                        },
                                                        new ASOFTGridColumnSetting
                                                        {
                                                            IDColumn = CRMP2003.COL_ACCOUNTNAME,                                                                                              TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.AccountName", "CRMF2003","CRM"),
                                                            Width = 100,
                                                            VisibleColumn = true,
                                                        },
                                                        new ASOFTGridColumnSetting
                                                        {
                                                            IDColumn = CRMP2003.COL_ADDRESS,                                                                                              TitleColumn = LocalizedHelper.GetLocalizedResourceString("CRMF2003.Address", "CRMF2003","CRM"),
                                                            Width = 100,
                                                            VisibleColumn = true,
                                                        },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_DURATION,
                                                               TitleColumn =LocalizedHelper.GetLocalizedResourceString("CRMF2003.Duration", "CRMF2003","CRM"),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CRMP2003.COL_DOWNLOAD,
                                                               ClientTemplate = "<a href='#=Download#' class='asf-grid-link'>#=genLink(data)#</a>",
                                                               TitleColumn = Html.ASOFTRaw(model => model.Download),
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                           },
                                                   }
                          };
}

@(Html.ASOFTCreateGrid<CRMP2003>(gridsetting))