
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF1000ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF1000Grid",
                              NameEventPost = "DRF1000.sendDataFilter",
                              Scrollable = true,
                              ActionName = "GetDRF100GridData",
                              ControllerName = "DRF1000",
                              Encode = true,
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_BRANCHID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.BranchID),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_EMPLOYEEID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.EmployeeID),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               //ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                               //         string.Format("{0}?EmployeeID={1}", Url.Action("DRF1002"), 
                                                               //         HttpUtility.UrlEncode(string.Format("#:{0}#", DRP1000.COL_EMPLOYEEID))),//, new {EmployeeID = HttpUtility.UrlEncode(string.Format("#:{0}#", DRP1000.COL_EMPLOYEEID)) }),
                                                               //         DRP1000.COL_EMPLOYEEID),
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                                        Url.Content(string.Format("~/DRM/DRF1000/DRF1002/?EmployeeID=#:{0}#", DRP1000.COL_EMPLOYEEID)),
                                                                        DRP1000.COL_EMPLOYEEID),
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_EMPLOYEENAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.EmployeeName),
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_EMPLOYEEGROUPID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.EmployeeGroupID),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_TEAMID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamID),
                                                               Width = 100,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_DUTYID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DutyID),
                                                               Width = 100,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_BIRTHDAY,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Birthday),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_STATUSNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.StatusID),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP1000.COL_DISABLED,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Disabled),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               ClientTemplate = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                                               HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                           }
                                
                              }
                          };
}

@(Html.ASOFTCreateGrid<ASOFT.ERP.DRM.Entities.DRP1000>(gridsetting,false))