@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     21/04/2014      Minh Lam        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.POS.Entities
@using ASOFT.ERP.ViewModel.POS
@model POSF0039ViewModel

@{  
    string buttonTemplate = @"<a data-pvoucher-no='{4}' data-cvoucher-no='{5}' class='asf-button k-button asf-btn-plus' data-role='button' role='button' aria-disabled='false' data-event-handler='{1}' data-apk={2} data-status={3}>
<span class='asf-button-text'>{0}</span>
</a> ";
    string linkTemplate = "<a class='asf-grid-link grid-link' data-event-handler='{0}' data-apk={1} data-status={2} data-pvoucher-no='{3}' data-cvoucher-no='{4}'>#=VoucherNo#</a>";
      
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0039Grid", 
        Scrollable = true, 
        ControllerName = "POSF0039",
        ActionName = "GetGridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_ROWNUM,
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "",
                TitleColumn = Html.ASOFTRaw(model => model.ChangeInventory),
                Width = 100,
                ClientTemplate = string.Format(buttonTemplate, "&nbsp;", "btnChange_Click", "#=APK#", 2, "#=PVoucherNo#", "#=CVoucherNo#"),
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
                
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_DIVISIONID,
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 60,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_SHOPID,
                TitleColumn = Html.ASOFTRaw(model => model.ShopIDFilter),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_VOUCHERTYPEID,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherTypeIDFilter),
                Width = 100,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_VOUCHERDATE,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 100,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_VOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                ClientTemplate = string.Format(linkTemplate, "gridLink_Click", "#=APK#", 2, "#=PVoucherNo#", "#=CVoucherNo#"),
                Width = 160,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_EVOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.EVoucherNoFilter),
                Width = 160,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_MEMBERID,
                TitleColumn = Html.ASOFTRaw(model => model.MemberIDFilter),
                Width = 160,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0016.COL_TOTALINVENTORYAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.TotalAmountFilter),
                Width = 120,
                VisibleColumn = true
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0016>(gridsetting))

