@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/03/2014      Minh Lâm      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0039ViewModel


@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 400;
    //ViewBag.Title = "Cài đặt phần mềm In"; //@Html.ASOFTPageTitle(model => model.Title, "POSF0041").ToHtmlString();
    ViewBag.Title = @Model.Title; 
    
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "POSF0041"
    }))
{
    <p> Chưa cài đặt chương trình in, xin vui lòng cài đặt phần mềm:</p>
    <a href ="/Download/@Model.ShopIDFilter/AsoftPrinter/Setup.exe">AsoftPrinter Version 1.0</a>
    <input type="hidden" value="@Model.Title" />
    <div class="container_12 asf-form-button">
            <ul>                
                <li>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                      .Name("btnClose")
                      .Events(e => e.Click("ASOFT.asoftPopup.closeOnly"))
                      )
                </li>
            </ul>
	</div> 
	<p><span class="red">Ghi chú:</span> Sau khi cài đặt, bạn tắt cửa sổ này thì mới có hiệu lực.</p>
}
