@using ASOFT.ERP.A00.Core;
<div id="SOF2030ContainMax" class="k-widget" style="padding-top: 28px; min-width: 90px; min-height: 50px; width: 400px; display: block; bottom: 20px; right: 20px; z-index: 100; position:fixed">

    <div class="k-window-titlebar k-header SOF2030Header" style="margin-top: -28px;">
    <span class="k-window-title" style="right: 10px;">@ViewBag.Title</span>
        <div class="k-window-actions">
        <button onclick="btnHide_Click()" style="background-color: rgba(0, 0, 0, 0);border:0">
            <img src="/Areas/CRM/Content/images/minimize.png">
        </button>
        <button onclick="btnClose_Click()" style="background-color: rgba(0, 0, 0, 0);border:0">
            <img src="/Areas/CRM/Content/images/close.png">
         </button>
        </div>
    </div>

    <div class="asf-popup k-window-content k-content" style="overflow: auto;text-align:center" data-role="window" tabindex="0" role="dialog" aria-labelledby="popupInnerIframe_wnd_title">
        @Html.ASOFTButton("Xác nhận đi").Name("ConfirmOut").Events(e=>e.Click("ConfirmOut_Click"))
        <span style="margin-left:30px"></span>
        @Html.ASOFTButton("Xác nhận về").Name("ConfirmIn").Events(e=>e.Click("ConfirmIn_Click"))
    </div>
</div>


<div id="SOF2030ContainMin" class="k-widget" style="padding-top: 28px; min-width: 90px; min-height: 0px; width: 400px; display: none; bottom: 0px; right: 20px; z-index: 100; position:fixed">

    <div class="k-window-titlebar k-header SOF2030Header" style="margin-top: -28px;">
    <span class="k-window-title" style="right: 10px;">@ViewBag.Title</span>
        <div class="k-window-actions">
        <button onclick="btnShow_Click()" style="background-color: rgba(0, 0, 0, 0);border:0">
            <img src="/Areas/CRM/Content/images/maximize.png">
        </button>
        <button onclick="btnClose_Click()" style="background-color: rgba(0, 0, 0, 0);border:0">
            <img src="/Areas/CRM/Content/images/close.png">
         </button>
        </div>
    </div>
</div>


<script>
    function ConfirmOut_Click() {
        var url = "/SO/SOF2031";
        ASOFT.asoftPopup.showIframe(url, {});
    };
    function ConfirmIn_Click() {
	    var url = "/SO/SOF2032";
	    ASOFT.asoftPopup.showIframe(url, {});
	};
	function btnHide_Click() {
	    $("#SOF2030ContainMax").hide();
	    $("#SOF2030ContainMin").show();

	    $("#SOF2030ContainMin").css({ bottom: 0, right: 20, position: 'fixed' });
	};
	function btnShow_Click() {
	    $("#SOF2030ContainMax").show();
	    $("#SOF2030ContainMin").hide();
	};
	function btnClose_Click() {
	    $("#SOF2030ContainMax").hide();
	    $("#SOF2030ContainMin").hide();
	};
</script>

<style>
    #ConfirmOut {
        height:35px;
        font-size:15px;
    }
    #ConfirmIn {
        height:35px;
        font-size:15px;
    }
    .SOF2030Header {
        background-color:#006eb4;
        color:white;
        background-image: none;
    }
</style>


