USE [CDT]

declare @sysTableID int

-- Đổi tên Menu hợp đồng -> Vụ việc
Update sysMenu set MenuName = N'Vụ Việc', Image = 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD750000147B494441546843ED5B075454D7BADE24313185C47B8D89D71B0D467345492C8989D87BACD8624363228888D20454044490DEDBD087DEFB30F4DE3B0333436F22A222E0001235C578F3BD7D46E73D9E2B960CDEE4BDB5E25A9FFB9C7DF6FEF7FFFDFFB7CB39A33200C87FF2CFA4B726BF72FBEED083FFD8180C81170DEAEC6BEFBE37D56486DC47A5721F7D5CF7CFE91FA64F9A3CE5C08B1E471CFC176D943AFFEA5C854F0BB575F510141A8EA89838787AFBE2C8772A58BB7EC3F9173EDE8B3638436EA67A645434352BFE53421146D1F32BFD2B2E3E01EA273466BEC8315F78068242C2FC466E7F8F1B7DFDDC318E4E1C140DDD1AB83584B28ACA2DFFA7090C0EDD76B972ED06AC6D1DBAE7297CB24D4FDF60B69BBBFBD96A1EFFC7CEEEAB68E9B8ACF88713D847C8DB9A72445E6BA6CC3C069A33651474669179CE0BC8DCD025445EED9357E5FF3EE5FD9584BC6462E7E8DC3E4C33502F6880938B2B8243427EADACAAC6D5EB7DE8A1C40645C3F1FDA211E582B8C07906EF12F9B36F12797D3922B629B1AFF101917B5E92CF9490FD6EB2C24E895CB3D9426E538C32B0DD4A6E3B6D27C35ACB5EFD61F5C7EFFC3A5F7E36D66FDC84939A5A48CFC8148B9FD1FC8307FFC6BD7BF7F0CB8307B87FFF178AFBB873F71E6E0E8AC01708E165670EC3DD0BEF5B6D9E306AB7858C8CB1FFBDE31E62F43C249E4920CE8484C419938E785352F308D56996A472CFFA29B7BE5CB10E06C6E6C8CCCE472F8DEEBD1F7EC2E8E81D46FFE8BB39809BFD83E8A760AE25B8C9D4535CEDBD81D26A016CDD03A1A9ADFE73A4F9C4BA543B52CEB1259549D6A426C18274A67B925DCF22F15402B11B897EE6F10F7FCED556B897A339F75EA1AEC23DBEC967F7324ECEBD77EECCD95F8BCA786869EB82A0A11555357C9457F29E1B955575A8AB6F008F22925B082FCD3577728EBC339C736CD248E189C923692A93EF241F9A3814BD966C7F1A892712788F0A3A55F9C31BA3575AF1D3D02DE0CE2D0CF6F4202CA2186656FEE0A666A1B4BC16B9F9A5E3425E7E19AAAAEB6065EB831D7B2E41698F05FC0D0DD011701695564790B0F5CD8E557473791289273EF81B2590A93AAFFB8781AB78707718DD9D97A1AC13065BDF123878C5A2FF661F06066EA17F80CAE42918A0CF9E88C15B18A018191941755D035C438AE11A25C0FAFDCE28733E857AB7E348DAF94ECF6E425EFEDD04980E69876736DEE96DA3B37114E68E1C8470EA3134FA3392D3F361E5E0027B57D62378D2D21376F4DECE8505DB31B071FE9F7B1B670F583B3D8495A33B2DDD61E9E046E14AEF3DE011528090A47A1CD08B01DBE0386A4C3723662D69D59626030C01EEFE69BCDBDD8DC0CF23B8E0908C9CB24ED4355D4741452BD20B04C8281022358F8F943C0138B90224E70B291AC0A148CCA3C86D400245445A1D42926B1191CA43784A2D82932A1192500E9FF04204C696C23FBA18ACD07C38B20BE01156866F8D92617B5203C56AB310B592F0A59A034CA7E43DEF968D74D401F74760EEC40137BF151D57065123BC866A0A7E4B1F6A1AAEA3BAE1060A6AAEA25CD887328A52E14D14D5DF403EEFBAB84C2BEF416261173268C92DBE8CF8DC36C466362338B10E91297C0425F0E01B5D054BCF3C58FBE4E3F0F9645CFA5619993B2620661DA9929A40E28E77726F3596013F0CC2C625499CDE92DA6E6495B421A3A8558C948256A416B783534051D8094E511738D4C9E4E26EC417742126B703E1596D084A6D4658460B42D39A1092224420B5C58AA8805F7425BC232BE016520A07FF4278869763FF190E2E6CFA02291B086237C8144A4D207EEB446E5F750630DA4BB51D8F401A2961EB0D6497B62387A28C7705595456B955DD482CE8405A5937322A7AC4114FA325B7F40A52CA7A109EDD8EA0B416319988AC564AA211EC443EDCC22AC40EBB0597C0913A7FD12D0B767E8550D28C81D197D390B2514C80D9197FFF2AC4748ADDF8724C6F512C20EA848B5B2CECD92548C96F46425603E2328488CB6C406C561362735A109DDD2A8E7448461B2DDBE191D004A718211CA284B08F14C02EA21E96C1B5300FA882A96F198C58453074CDC5699B54E8582443FB12075AE61C7ACDC57A95509829BE0FEE4302495213885E4382BB3303F16B5F233CDC2361E15D88C2AA2E24E7362129A71149B9CDC82CEB42427E3B62F33A1095D381A0744A20A713CEB18DB00CE3C322840FF3E07A9806F060EC5F0D43EF0A9CF128819E4B01B46CB370F212176AC6F150358C850A85866912561D66C36AE964243F2410293501BA0278B727BAE1971E1EBCDD4361E49283D874019D0BB5084DE221804E423647007F4E0302A9C603D35AE197D202FFD436F824B7C23FA51DBEDC36787198FA36F826B7C02D8E9E81121BE0105E03F7A85A58FB15C3CA3B1FB674F29EB54BC361836828EEF384EDD2491202015213885C469C9A23ADF0534719D8EE41D0B14E433C954D546A3D22E8EA119C2C40704A23C2335BC14E6D811FB7853ADB02EFE4362A1F2AA1B866B827B6C021BA1116A10271262E06F260CAAE8601CD82B127CD846336B42C52C41950D68DC0CE936158B8DD094ECB65C179980196D404C297108B860023DC6DCA4388871F34CCB860C756C3815D083B3A1FBCE3787089E281152FA41AE7C325AE116EF1D4F1D8669885086111DE009784567825B7C39112728CA1B20AE5E302BB0676613C9CB0C9C169871C5C70CFC505974C9A81549879E461879A1F5C964E44D243020E521308FD9C9CAFF7D4C5687D1AC2DC3C298164C4D3C9EB125402FB8052B09304540AB5708D15C02AAC1EB611425C0A11E05258030CFCEB61142C845978230C030538E35B87B33E3C1C7728C309A75268B994E0B05926542FA5D38D2B090769F4F76A8662D7A9702CD86405DFB5AF21F1E1326A2E3581908544BBD6590D43550988F570C5376762E014500C7BFF22388756C03EB48A12E0C13CA816E77C6AC4D2F1E2B4C19C12B08C6E8643621B9C39EDB08E69C6054AC6C09B2726F8AD7511940C33B0CD808B8D9A7158A31A8A15077DB0F2A017E4D63AE0AD39DA88DCFA1A121E1230949A40F002A25669730803C51148F4B0C721FD6878D1CDC7C6B710EE9135B8E05306B300AA67CF4AE87854E142001F67FDEA61C016402F5008ED00214EFA09A0E1530F55D71A1CB229C7C14B25D87A2E071BF5D2B15E2719ABD463B0E26828961CF0C18C15962072E7F0B7B9A790B07302121809AD97D1969A40D0A7E47099D96EF4E5B091CAB2C42E8D6058D315E3AC632634E912681544D77476152E05D7E134AB1A46543696114DB08D6F8355421BAC93DA61CFED844964338EBAF160142484092569E055235E56556D0A70DEAB147A4EB9F85A371A32B3CF52028698AAA08194BD2F236913A14709996352130854207B8ACF6F466F1A0BD99E17B0E3788098C019C72CA85B658AD7734D17AA67B70A1CB62CC551FB0AA8D048AB7AD288FB0A70C4E721BEA1F73B6DABB0C7AA025BCE1762835E0ED69DCEC02A2D2E961D8FC3B4CD9E7863B1255E99638857FE6582190BD4917540069C2D04D1EB640E4B4D20409E6C2ED05F832B1C07E47B9EC336155FF12AA16D938113D659B848A3EF142D404CFE6568385741C793878B11CD308FA3D14FEE8405B70B17933AA01BDE8C836E75D0A392D2F7AD872EAB569C851D8659D86B9C812D3A09F84A3D1C3356DB60D16E1F7CA27802B9CA04C9DB1802648FD404D8FF22AB73B514D115638162960EB67EE7095DBA171C31E660FF792E4E3916C19D1E19EC221BC44E7D75BE08FB1CAAF1B52B0F7BBDF8F89A467F9F9F105BA9F3EBACABB0CEAC0CCBF50BF0D9F174CCD8178F77B684E2ED8DFE787395075EFFD2162FC91B817C640CF9CF8EA2E45B02AE9298C053BF233DF59D98FD31F932FBC422B4879D4795A70656EEB187FA452E74ECB2A0E3948FF33E1588A0C706D7B8267852BD9F64D1B59D4AC724BE1DFBFD1AB0C2858795AE7558EE508B25972A31FF4C1166AA64E0ED6D71787D6304DEDC148A37D6FBE3F5951E98B0D81632F2C620338DF1E9E787517E942065079D03EBC91AA933E03F9BCCA7AF956866EBA296A58295BB6D70403F0EDBB563B0E57412F69B66D3095C0F4D572A1FEAFCE68BA55879B11C1B1C6BB181C5C71A2F0156790AA0E8CCC367169598A35F84F78EA463EADE64FC63773CA6EE8AC67B4A2198BCC917EF6F70C7E4A5D6948009167F790055AA94C04E6615224FFD10F6D40CF8CF2273D2BF9D8D062F75F03D0E62B992398E9BA5E2B4638E78F5B00CA9454856A778FDF74FED4472551F8EFB37E002A713BA499D3899DC05C3CC2B3895D881A3A1CD3811D44425560B35975A6C3E5B804316C5D86994851DE752A1743A018ACAFE741532C5B2A57B51AB4690BA8B66600359287506FCE4C88729CA33EED7BB1E41136B0FE62CD5C5FB2B1DF1C93E36E61E0C839A5D119DC0DDD8A89F0B75A76A44145FC3749D022CB0AEC6A72E7550A0D15FE023C4020F3E669A57629A1ECDC0B15CC8EEE6E28D4DF1786B4B0C64B744E0AD8D8198B0D40DE4934B20334CB16AE90EF0D42981DD6209CD959A80CF07E47DEEBE7FFC5863BB17CD6E5BA1B04C136496295E5A6C07B2D815279D4A70CCBE1CE4631F7C75AE08C185BD98782C071F5167E7BAD74381664381DD08794A64B66D0D66185660CAD7DE7863BE0A5E9A7588DA62F0CD43C81D84CCF49D78EDFD6D505AF105EA4E88093CA093F823A909784E257FE3EC9972BBD27C1B9A9DD6E2B3951A20F21678639933C8672E50B1298247622BD66865E304DDA8DC33BAF14F1A65E3F46E2C096CC47C2A9B85912DF824A011739CEB30F55C19E61FB647714921B2F3F3111E130B4737168CCD2CA16B6008ADD30638744C1761EA1FA2FC189D03BBC84F516BC834A909B84D226F26EDFAFB40A9C946B438AE80E21A754A806E388BEDB1E8BB68E8D32384F0F230B50F84E6F620A2E43A62AA6EA2A0FB366653E97C4E57A3C5741F5818DE82B954461F5CA8C26C65575CBE72193706FA512714223B2F0F11D1517076F38086BE190275E6416840904F5721EE4E72276C39992C3D81B7C9ABF4CB586F8EFA3CD4E94FC58A150740E6D9E2354527E8BA9660EE91789806F29158D28B682A1F6E6D3F7A877E04BBA61F0BC39AF1454A171433BBC54414BC8590B3A8C307CA2C149757A29AC743524A2AFC83026169EB8463DAC6083937175D160495A70972E93EC05122A2E0C5E46DA90970761012BB8E74C6D15361E9218275CB9540141C20BBDA8D9E63F23145291C2AB6740E2C8FC0C2537938495719D7BC5E9CC9EAC1A2E85628665FC1F282ABF89212F994CAE8235B3EA62AFB2026898B8CAC2CB083826061E30C0D3D2370AC67E3BA3B01FF2241990E41F6370449DB489FAF02795D6A02E217FBF532CD71F454584CB7F68D2BB6D395C20164913D4E381462C9092E5D0A4B40968461896E01F653994CD02CC0074E3C2C4C68C792BC1E31BEA05950086E829C1D1FEF1EF283173B18E191E1B864E30A2D436314FACCC06030A13225E0991094681264D2F11236932B4ED3659EF85991F1EF999FD7E9799C4781827D044B97ECC64B8B9C30658327569F4AA2EFBBADD86A988FC9DBE3B1D5B40C6A34CAF32CAAB0926662535637B6975E7B88E25E6CA07BC1725F3AA14F85C1DEC50DD6F65ED03339075EF43F301C4FD0E143D0684750739EA05083208D8E17F715697F5AF49F974069CC7A19E4D34D65E7F2D5205FF8C0C0BD1867BC2A611A44CFFEDEF5384327AC51482B8C63BB60927A15178BFA61291C8175EB282C9ABE8745F3F730AE1C825E960807ACB8D03DEB04938BDA684F9F84DB190457C208DA3C09045654FF67E804A62B10978E4703D7F02208E4D26FF4E07C4510F5F544CC563C8569DBD898A31C898F0FC55124E05F873990574FC3FCB33958425F19D7D23735A55C3E769535607769AD18DB538BB13E20134BF59C606CBC1BBDF913305A48709546BF3390A0C985CA87EABF449B208BEA3F811EA569E0AA5F048114EEBEA948393403C51AD3507CEE43449E5B8C38CB2FC0755D82BCC0C5288DF91CD5E99FA3A962015A858BD07D7901AE5FFF94FE52331F83FDF26288FA3EC6F0B599186C9F85D1E6A918E54D435FDE74F472A7A32B623A5A7CA6836F3F1D15C6D391AF3903A9CAD3403FAC313FD33E55E6CF3307122B2CF6A3CE430BF5F444DA16AA8E6B09AAE8CF54C570910A46AB5571B741153F76A8E2A71E55DCBF49714B15BF0C1DC32FC314236AF4DB30C5B01A7EBA751C3FF61DC79D6E0DDC6ED5C0105F0383951AE82BD0C0D50C0D742568A0354C03427F2D945BECA3045EE28C9B40C432E25E6D7B18BD996CF4A478E27A0E0B03252C0C55B3705BC0C29D56167EB8CCC2CFD758B8DFCFC2832116FEFD3D0BBFDEA19F73EE8DC15D5A47EB1F0CB3F0CB006D7F9D851FBB59B84BFB8F0A5918AE6561B09445B3C2C2B56C36FD714303814B89D5B809842F93991EB8E6E56C8F0D93AE39AD7E5BE4B65956E4BB4F5614A4222B8AD09615C59E97152559C88A529C6445E99EB2A2AC0059514EB8AC282F9A225656941FF7B0CC8BA1F511F479A0AC28C34B5694EA2C2BE258CA8AE28D644551BAB2A210355991FF415991C736D921D775EF0CF8AE7BA3D66A2199356E021203F44792D9148A7F0096D23116504C7896F3CFB58C3E8F913FB3CD1327F1B163C7C81F8485741C338A494F1A4FAAA3C41FE43CE3F4150A501CFDFF4880713A98E23485EB8B26C0A4B6704C64763DBA97949288316DC60EFEAC7E4C7B069276927BA66464CBD897648529A5FB2A413BCA3D4AADC430FF9161265A9294334E30D74C142573E649FD18C7461EB5E73C8A3AD397B1CB8CC1D449EC31ED9879C19447C73307980118E312A718E719C34CFD9A4760AE99BAB193FEB7FA31CF195BCC33E67AAC1D495F8684C43653C7107AEA3FBD79D62AC4A4908982EB23C3CCA49338C15C4B9C60A23B96C06FF5639E4B223E960C5327719A198BE93BD6967467A1474624CE3246831FD53129974451428CC9C6D8417FAB1F43589219A6ADC40E1304068F4BEFBFED8D47428CD36323F47814C792194BE0B7FA3124195B8CB3123B0CD1C7A5C7048B212BC9F0B8322091C8D8B44A9C969492CC8C75E4F17E4C7425ED195B12328C6418120C98366333C73CE33004C7930146DB8CD1A36322C54C2CC63053CF38CA44EA7F6996DE3FDE8FE9237194291FBF976482B1C50484B9674AA6DDB8083CEE98E49E715C1C9D7182B12191D4136D8D27034F32EA4A0766305E028F67F737ED4945E0CF3C61FE9EB19FF94AF97B8CFD196DFF22F067447DEC987F65E0AF0C8CF37F90FC25A13F5B42FF05AA9A91B9D73832380000000049454E44AE426082
where MenuName = N'Hợp đồng'
and sysTableID = (select sysTableID from sysTable where TableName = 'DMVuViec')

-- Them field TenKH
select @sysTableID = sysTableID from sysTable
					where tableName = 'DMVuViec'
					
if not exists (select top 1 1 from sysField where FieldName = N'OngBa' and sysTableID = @sysTableID)
insert into sysField (sysTableID, AllowNull, RefField, RefTable, DisplayMember, RefCriteria, Type, FieldName, LabelName, LabelName2, TabIndex, Formula, FormulaDetail, MaxValue, MinValue, DefaultValue, Tip, TipE, Visible, IsBottom, IsFixCol, IsGroupCol, SmartView, RefName, DefaultName, EditMask, IsUnique, DynCriteria)
values (@sysTableID, 1, NULL, NULL, NULL, NULL, 2, N'OngBa', N'Người ký', N'Signer', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = N'NgayKyVV' and sysTableID = @sysTableID)
insert into sysField (sysTableID, AllowNull, RefField, RefTable, DisplayMember, RefCriteria, Type, FieldName, LabelName, LabelName2, TabIndex, Formula, FormulaDetail, MaxValue, MinValue, DefaultValue, Tip, TipE, Visible, IsBottom, IsFixCol, IsGroupCol, SmartView, RefName, DefaultName, EditMask, IsUnique, DynCriteria)
values (@sysTableID, 1, NULL, NULL, NULL, NULL, 9, N'NgayKyVV', N'Ngày ký', N'Sign date', 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = N'NgayHLVV' and sysTableID = @sysTableID)
insert into sysField (sysTableID, AllowNull, RefField, RefTable, DisplayMember, RefCriteria, Type, FieldName, LabelName, LabelName2, TabIndex, Formula, FormulaDetail, MaxValue, MinValue, DefaultValue, Tip, TipE, Visible, IsBottom, IsFixCol, IsGroupCol, SmartView, RefName, DefaultName, EditMask, IsUnique, DynCriteria)
values (@sysTableID, 1, NULL, NULL, NULL, NULL, 9, N'NgayHLVV', N'Ngày hiệu lực', N'Effective date', 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

Update sysField set TabIndex = 9
where FieldName = N'NgayBDVV' and sysTableID = @sysTableID and TabIndex <> 9

Update sysField set TabIndex = 10
where FieldName = N'NgayKTVV' and sysTableID = @sysTableID and TabIndex <> 10

Update sysField set TabIndex = 11
where FieldName = N'GiaTriVV' and sysTableID = @sysTableID and TabIndex <> 11

if not exists (select top 1 1 from sysField where FieldName = N'NoiDungVV' and sysTableID = @sysTableID)
insert into sysField (sysTableID, AllowNull, RefField, RefTable, DisplayMember, RefCriteria, Type, FieldName, LabelName, LabelName2, TabIndex, Formula, FormulaDetail, MaxValue, MinValue, DefaultValue, Tip, TipE, Visible, IsBottom, IsFixCol, IsGroupCol, SmartView, RefName, DefaultName, EditMask, IsUnique, DynCriteria)
values (@sysTableID, 1, NULL, NULL, NULL, NULL, 2, N'NoiDungVV', N'Nội dung trích yếu', N'Abstract Content', 12, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)