use [CDT]

update sysMenu set Image = 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001AEE494441546843ED9907749655B6F75FF45AC60114C732B6B1007641248ACAC0A02820222A0A288A48EF486F6984002194D052208500E93D2105D27BEFBDF7422A41C00208BF6F1FE4C117E68E377C6BD6E7376BDD77ADBD9EF39C679F73FEFF7DF6DEA7BCBD00DD7FF44F11E8A9E8745347E9EE9CB55AD7679EB1AEB7887A2AE9ABC97C63DDBD7A72DF0263DDFD8B8D750F2C35D63DB4CC58F7F077BF3E1F94F707A4FEFE45C6BA7E228F4C367E6AF057337A8A435FAFE7E0EF5F683A71DE61EC3DD3703F9E836B6016C7FC3338EC9381A3573A873CD2B0734BC1C6259903C712D9EB9C80D5E104763925B0C3311E0B8778B61E8AC3DC2E0633EB684CF6456264158EA155045F2D30E7DB792B786BC22E179D8EDB6E85488F08E874AF3E32F20B9B5FA4E39B7E57E4FD172E5CBCCC8F3F5DE4ECF99FE9FEFE473ABACE73AAE31C8DADDF53D77C86AA86D394D776525CD54E7E791BD925A7C8286C2225B78194BC26761D70C1C8C498751B8D193BDD3C5EF79CDBC33D25D1430293266DB38BBE0AFEC2C50BFCF8C34F5CB97086CB97BA387BF6346D1DDDD4377553D3D045598D02DA4141451B79A5AD64169F2225FF1489B9CDC46535129D5E4F646A0D2793AB08892F2734BE0AB39D473035DFC62EABDDACDFB8914FE618D7F41DB963704F48F490C057B36C5D53AE1238FFC30F7C7FE63C3F9FEFE2C24F6D9CEE6AA7B9B54308B4D1D95A47634303CD8DD55454D7515F5B414D7519E595A51497965054544859713659397904C55512105346604C25A69647D8B6C30A7B27272C76ECC0D0700353E6AE3DFBF83F0C3FF89F48F490C0E44FCDAD23AF12387BFE7BBA3ACF70E1C7163A3BDB68696DA5BEF9146555ADD4D4D653555327E55AF24BEBC82DAEA5A0A482BC9232320B4B49CB2D2125BB90D8B4427CA32BF08E2CC527AA9C0DDB9CB1DA6F87B79F1F36070F5D256164B491697356D0FFEDEF66FD1E891E12F868D46A8B602E5DBA424767375DEDED343677D0DADC4C4B53034515A7C82D691190CDA4E5379394DB44424E23B1E23211E90D84A5D41392544760420D7EB1D5784755E215518A5B58316E27CA58B5C9015B0767C2A3A371F1F0B846622746C61B993E67292F8E5C62FCAF48F490C0D8610B4DFCAE066A6DA3F27745A0859AFA66B1742B59C52D1294CDE2EB0ABCF87A7613310A7C462327D21A081602818975F8C6D5E2155D8D5B4425474F947338A454A49C451B0F72CCC387B4AC2C8242C36E2261C8CC794B19F2EE62EBFF8E440F09BC3378C61A4F4E77FF40A564949AEF7F16F9812A8985AA3367A9E8FE9EF2D367281529E9EAA6A8F334859D5DE4777491DBD64166731B690DA748AE1172150D4415D77132BF9A90AC4A8233AB586761C3F11311945656129B987C8D84E7F59930343664CE8225BCFEFE2277017C03E61E1218F1DC94A52E575A242D16D7745177EE7BAE902B9225922E922C9220122B12C995CB27B97229842B3F0771E5073FAE9CF5E64AB73B973B5DB8DCEACCE526072ED71DE472958DC8017CACA693909440436B3B7945C524A4A412723202776F1F0E3A3AB163B715269B4C98BF78296F8D5BE4A34FA287040C9E9C30D7E9624D7D2739656D547DDF2DB3A9B252A2489C489448B848285C0992A5C15FF2AD37FCE42169CB05CE38439723B41F84161B68D807355650B9138AB7E2B26D2A3945A5B4749F9335A399F4EC6C4222A2C5ADBCD86F77F0D7A0363565EDFA35CC5FB498F73E5DE934F4FDBCAB0B5E0F093CF7F0E8E987CE9754B69256D042F999D3D236562442E484488848A088AF88971070838B4785809310B01702B642603FB4ED8166015DBF1DAAB7408519941813B2E7730C977DC1DAB91FB3E4EB0F9830F153BEFBF435567D3C888D1F3DCF27EF8CE0398389BCF2C6580CDE1ECB8B43C7D2FBF1CF06DD02817BEF7D7BB275774E511389D90D14749DE1CCA53CBA2F6689A473FA62AA4812672E4673FA420C5D3F46D1753E9CAEB327E8EC0EA1A32388B6567F5A9B7C68A9F5A0B9C295C6922334E43B5197E340D6895DD86C998F8DE96C0E6C5ECE32236B02767C47D8CEE5C45A2E66D31A4BC6CCB467DCF49DBCFFC5561E1E3C0FDDDD93AE2E743D9C81DBEF19FAF1DEB6A4AC1A62D3AB493B7596FCD36DE477B590DBD94C4E6713D99D0D24B69C21ADB5898CB61AD25B6B44AF9A94E64A12EACA88AD2C26B2B49013F9B9044BB6F14F49C73B3E19F788045C4FC4E1121CCD61DF9358BB4560E290CC1E3B3F2CADBC30B7706189A11F9F7DE7CB674B5C98BCD48DA7DFB144F7A7B92FDE0281BBEE7CF9835D0D9149E584275692D4D8C5A55F827F7517C4CF113FC789ECB65ACEFD247597C5C72F89DB5CB4133712D739BF5BFCDF5CDCC744DCC750DC671D94AD86C2E590B314D21742D23C09A719B407AFE480BD0FF84F06F7CFA5EB0F70D9BC955173BCF9708E23128B3C3EDC1CDD5DB39EB90502BADB07BC6B59733CAA886059FEE324982F5E392EEDDD455C458E881C2243AC7EFE822266CBE9331B65117B1347FFA7C8CBFC922B6DE2EF2DA650B701AAD642E94A28F80EB21743EA02889F03D1D3690C58C96E1B3182F767027E12388FE5A0D15686CFF060CC8C4322F63CF296D96521F0E4AD10E8F5F8DFB7967985E6E11F5E44A4EC2CAF2059464083641624507126A75DF63B1DA604E70DC0E4A88E1556BDD96C3782AD07C7E3EA394266618D1010C09502B8540017CC1402D385C034213045084CA4C56F213BF68B61BCDF876322CE6F61B3DE8CD7BF7263D4345BFE21F2E01B9B7ED6DD39F3D11E13508A0F0D332F76F6CBC02B248F908A7632CFD493D35547DEE9060ACFC59277763E9E857F638BDF6D6C3E3C107BAF6F0988D842689C2547FC173267C39F08CBF4E464412AC7D3A3F14F08C72B2A14B7D0208E06F8E3E8E9C5C1A3AE58DA7AB2687B183B2CEDD8B2C99A4D1B763355CE216F7FE1C0DB530EF0D6E403DC3FD4E4BC1078E89608F47BCD2CCFC6351917DF5C7C0B7FA6FC87620A7FF6E4C4B9A51CABFC1BFBA3FA617FFC3D82624C88CBB4253AC38AD0445342134CD879F44DA6ADD5E11CB480BC0A5F32B31D494F39444A9C0D89E1FB880BDE4DB4AF25116E9B3972701F4BB6051068B50EBFADABF1325DCADC79FB7875923DAF7FBA97D73EDEC37D438CCE0881FB6F89C0ED03B664591C905358601AA14D4EA45F188A7FDDDDB8A40D2420619EEC811CC8297727B5D886B85C0B22334C88CE34233CC59C4D8E7F61D99EDB7038FA5771A16FC47DA642BEF878D627B21E4E90E0955D73B8B84BE870AA8FCDC0D442D68F23AF81DD50B07E9ECD0B37D27F82038327ECE695F1BBE83BD8A84377DB377D6E89C02B9357A738A72DE078F3003C4AEEC533752CB1393B29AC0AA2ACF13805B56E6457D890526849AC008FCC5A4F7CA13191991BD9E9FA341BED6F67D3A13E74E67E2A04C4EF73C4E7D38444C2C710292442C7C95A38925CA739189A4B4CD91BC0BE3760F74BAC9E65C49363ED7871DC0E068CDECE5D2FAC6B95B3F83D3D2210FDE35FC704B6F7F6F5AABDF727AFC20184662D20B7CC9BDA5349D4B44551DAEC4B51FD61B1FE0112B22D894EDB4C7CB62149256B89C85B824BEC5B1C08780273CFBBD9ECDA87B4986192428544CE5821F09E1018253B1109F0D0B7216810F9F65F6364261B4F878142E07921F0042B67ACE791D1360C7CCF82DEAF6C44D77F75D36DCFADBDE35F12086FBFFF2FC70AEE586297AACBB38DEF875BC2FB24E4ED917D4A12CD9D39D475C452DD7A5C2CEF4E7EA5836C2FF6CBD1711719455BC9AD3015321BC8AA5C4760CE871C08FD330E617F6577D0BD5885DC8B7BC80BE4A499931ABB85E4932624041912E7BD96E863AB88705C84EDCECDCCDDE04490F974FC377C83CFCA297CF8D9761E7BC78ABEAF1A2AF0DC36704DDD6DCFAEB9FD9F08EC0DD50DD9E6AFB3DEECA9EBDCE5F3846489B972500996037A196DDD4534742452D776928A463F711D17B28AC4EF4B6D28AADE4349ADA5EC5437935F65485EE55AF2CA571298F112AE090FE11BFB3487A31F9340EF8353C4D31C89D8C3B1939E1C0E905B0E0F7B6C8ED8B0578277F7DE1D2C373BC8A4956E98AC3162FDE28DAC9EBD8AB73EB2A2CF603301BF4A815752A1C0DF4060B5B5CE65BDED6DECF5F83B9149D67260A9E0FB731DB49F2EA7B13D43B6BA0932032729AE0C10F114394A65BD03D58DB654D459C961DE82B25A334A6B8C28A85A477CDEC7922A1F232465A01C6A5E2430F905761EBF079B938F5296F68A04B0B852B2046A8CECC94EBE24EEF31CF83D46CAFECF58B5CE52D6C27EB04B32E5F63E7C367631BAA78DE935E0AAF59514DE40608EF183830EF97C2EC741D7AB804F9F13D09D49D4B64550DB1E42759B1F654DEE94361DA5ACD99E92466B2A5AF7CA61661765DD5B28FF7E13559DC652BF928CCA796456CE24BE6008D1D92FE213F93C9EE1CF125B3818F7FC47B18D79405668032EA78ACFC7098908C934C1836523FB32783E49D8AE2F59BC4A08EC13F0DB1E81F5773066F85C7403C4F7075C05AF24F70602CBCD9F9D64E3F58E6CA2EEC1D85127C1D68BEDBE77B027EC6E6CE37BE394711F2E450FE05BF757FC9B1EC5BFF151029A1FC3BFF951FC9A1EC1BF45EAA4DEBDEC410E67F7C321B92F0722EFC632E04EB6B8DF8EB1930E137B1DF6E10F609BD017EF8C2174A6BE2EABEFB342A0BF10905D81EFE342A02F272C27B178C556D82BDB7D63F192353A468F5828E0C5FFAF13589B7D03815516CFAC884CDE27FE1E4246BE2F69799E72E9E42A72542E9E0ECB59D751D2A32C3C85B624171D20A9680F8985BB4928D8415CFE366272CD89C834212C6D23C1496BF18F5D8957F8325C4316E2EC3F1707EF591CF498C9169B11581EBF0B9F9C27094EFC127359794D0F39B2719F2DABB7EFE7BB4D3B99BCC28EA1D39DF874CA0A3E9AB08CF1EF2FA1DFAB5BE83570BD58FEBA0BA9D3D46F31B0CB71ACEDD973EDFCF4F359CE9DEFE0CCB9164E9FADA7F34C15EDDDBF0670EBE9025A4EE7D2DC9521EE954C7D4782B8573435AD1154B40453DAE84F519D2F399547482BB123317F3F3199BB6421DB2617586684C46E65EB81311839DD8E63D2BD04658C254CF63D275C6613E2F02D4107BEC67FC704162F59C1A82FB67078C1281CBF1989FDD4BFF38C81A1F8BF911E8175A93710D86CFDD6F6BAE61CDABA2A68E928A6A92D87C6B64CEA4FA550772A4124869AE608AA9BC3A86A3E4E6593C444831725756E14D71DA5A0DA41B28F1D59A5FB492BDA4552BE05F139B2986518896CBABA1AEFF71CCD57AB753806BC4964D970BCB386723651DCE7F87DB271EB2D9B3631A89D8E23ABDF65E6B7B24B3597F7F5222B740C7D73856420537D0209371030B73130AFAC4F10F08534B7E70BF064EA5AE325C344C92DC449AA1A4324C3044A86F1A1A4DA83C28A6372C77998DCD243E494D8C895CA3EB24B77CB764280676D2626C35856E90D44E7AD21AD740F1EE1DFB2C646C7A2AD3A42935750D82CAE95F234A9C9B2D27A0B4817110791833A0EAE1ACFA2598B6E203068D81AF17F133D02EBD521FC3717DAEE30C4A8B83A94A6F62CB17C8658395216AA13D4B408F0BA40CAC5354A6B3C28A971A1A0DC59CA8EF2CD5E66C496F2FABD94D5EFA4B8D682425907F2AA8CC92E5B4F5AC51AA28BBEE364F65C0E050CC7D8E1BFD8607D079E316F105E3296A8F20984E67E83FDEE77F03C300177CB71B86E19CBCC85AB19F3D5669C16BD83C3B723B19B3292BFBE6646AF6735175271B0515DD4FE46C0EAD89035F9153E54B7C40AF8939437899B9CF297ED821FD54D5E02D44D9E4765260E53D3EE40B91CD04BDAF750DA694975FB2EB979DE46A9AC01C535C6B232AF93D5780D99D52B71934C7320E42F58073DCA66B73F61EEF867224AC7537CC618DFF0D9AC9F37840DB3E6B269C9728CE72E62E3CCF98CF9D282619FED66F9A46F5832F16B168C9BC6FD4324889FD38F810DEA16E13702FB3D062FCFAD384A455328958D0142C497AA164F01EC26FEEF22E24C5D8B238D670E9155BF8B84B440F20A53E49E33888C06336A3ACDE5467AA3ACC0AB2416569355B69813996F088107708F7E02EBE30FB033A43736410F73E8E8872CF9AC3F2B5FD051385E30CC17992B32EFD7F2AEE99358344D5C6891BC2B59A8A3FFEB92429F9318B8BE9019CADD8D1E013BDF41F333CBEC649112E0CD5EB2557095EB7167F17107F17D7B89097B1A3B0E52DABD132F7F5BEC0FD9B373C72E4C0D2D30B35846C1E95594D6AD973DD07221309B989C2104A7FE8DE329FDE54AB13FAE714FB237F25E0E853D89D3681D152305D8CC6BE0E7DC4860F3F4692C9E266764017E9580907ADCC04408480C5C25A0C448DDE1FC36030E818366A74BB015D61D1302C7048C138959D64424ECA1A8F200F57219D578763F29B532F5C1B206E4B813997E84A0A883ECB69B474CED0CEA4F1B5350F40DFE6183E5D8F9A2DCFB0FC62FEA25A23207E312FD247BC27BE31AFD2CA1161F11BEE1738EAFFD04BF1513F1593601AFC5E3F158300EB7B963F8FC6B23C64C911898360A8729FFC0EAE3F7E83B641BBD5E1017BA3E0346EA30FE1B01E7D097BF4E2EDC4A76AD0D652D87244D1E22BF62BF64983D54489036B51EA0F6EC0E525B96E011BD9460C936098D3BF091BDBE4BDC1744354C90FBD08F898F7D1BCBDDCFE119380417FF411CF57F89D86C03FC8B9E615FD83D78C6BDC2683992BEE4D3CA0BCE55F4DF5FC213DBF278784306F72F4DA4F7CC68FA4DF1A7EF047774EF7BA11BE982EE0D47EE78CD92DB5F34BC4EA0D740931B091C0D1B3439B9649304DE6ED9225B4B0C5853736ABFF8FE3EC94C7BE53F807D549F3323A565216965B27D6E74A0E4E20EB22436524A0EE05AFC3059EDC3A82CF984A4A4D1E414BE4F6AEE2839D80C977561240179CF629FD807BFB4B77837B690D7A35A181A50C9CB878B79D62A87A74C52796C790C0FCD0AA3DF647FFA8C77A3CF58677A8F3EC83D23F772D7EB1637133876C30CB8450CFE24BE602D9935DB6561B222BF660B250DDB84CC16499112A452AE3D67484289649DFA122A5BD2286C0A23B7268CF482689C6247CB0CBC4366D2A7A4A68C272D731CA9397286C81A4572DE683C1207E0102F0432DEE39DE812DE8C6AE28DA04A061D29E6F93DD93C639AC2E32B6278787618F74FF1A3EF87EEF4D5088CF86702B70D3475B8818067F46B6363F356925AB589FCDA2D120B9BA96CB6904C24C04F6DA3A86D0DE59DABF1495E2C81B8446E1F6670A2F56BDC0BBF60ABF744F69F7C8D94AAE1F2AF8B0111E11F11153D9EB0E8F73811F71E31D9EFE291F1244753EFC337632223E5CF8D37A39B18165ACDE063C5BCB02F8767CC84C04A213047084C1517FAD0ED7709F41A6826B7667A31E0153364F4F1D42984667E232BE7067224A394B518CB6ABC89DACE35E23AE389AD1ECEC992B758EBF222BE0D1FCBA5FA07049C9AC89AA32F10513C1C9F946708291B484BFB0C9A5B66CA766406C91523084C7B96E3B9AF722CFE2F78674F6558642D6F4435F07A5835AFB8880B0981A736A5F0A8B8D083B342B9EF733FFE3CCE957BDE3BCCDDA36CB9F36D2B6E7F6DAB64A10DD70F34BD066E915B323D027E71C3471C0A7D1ADBA0BB89CD5B2633F105E9751F483A9D262BEE37649D799794F3C328BA3006D7FCC104577C4B52DB4A7C0AA7E298F20AD9E74712D76D40CEF93174B42FA7F5D4229A3A17E297DA4F5CE84B0AEAD7CA9DE8F378647DCD07F1CD7C98D8CCF8D87A46FB5730C2A99061BBB318629ACCCB2BA3797E5E2803BEF6A3FF540F9EF9FC284F4DB4E789B1FB78FC1FDBE9336823BDFAAF959DE98E2F6F24103F72985DF05358CA5F074129EF733C6F28BEF94F135939848466030ACEAFA6F0D232CA2E1B91C3182A2EC901E6676BCA2F1953C67C722E7F49030E145C9A43C6E937245B8D20B6F64D8E26DD215BED7124947D8177DA2304E5CF6767D959769577B3B3B4138BAC56CCE31B313D5183919059EF56CC9AC3B9ACB2CB6095752A2BF625B2DC2A86EF2CC359BE2D8427FEBE19DD53EB2FE9061EB97A2B77FD48B9CF63C0B08024C9C789E308CA1E4370C10784948C21A24E066F9F40DE8FD329B9F22DE5CCA582D954B3801A1651CB529165224BA89767957CCFBF30456EED3E27E994A4D5FA4F49A9FF9CB8AA4964564DE548DA0AE6A475B024A78D4599A798135DCF0CC946D32416A6D8E63069671A13CD12182F7BB5F16BC2F860E571C62EF561CC7C57464DB7E7EE170D7FD63D6D3E5F037F95C0ECD9B3751366EAFAD9B84DC8098C5E7145849389EBAEC4A61B5F49CC32BB1297667A39217DD32F29995B7F49CFB6F8253DCBF297C4E42D979252B65E4A4EB1B89492BAFD525CFCE64B915146172344C2A30C2F8645ACBFE81DB8F4C2AA35732EEFB59D75C9DE75FA257B97CFDABF367D7FDD6DEE3506F7075618DCEB536670A74DAE81CE24D940B730C2403725D040F79E8781EE754703DD73FB0D744FED30D03DB6D940F7C07A03DDDD8B0D74BA6F0C748F9A3DA9F06A729D80AA90DFC3229F8A7C2932554FA648F97F92C9A2F34F3265CA948CF1E3C77B5FEB6B98FEE0FF8EF20D047AD8E17DA2374A443DAF5BE277CACBE5DB9E6BDF5FED619B9EF47B554723A0007193A83A35B8AA5765D54001E8BE56A79EFA246E6E6F2ADF9DF5FA54EFB17A04B431D553D5ABFE948EEA478DA5EA347D35AEAA57DFD5B7EB6369049482D689EA4895555DEE35654544EB547D0FB856FFAD1E20D5A6F65ABD2A6BE095AE6AA389665D8D80A6A7FAFA5704F65CEB57F5A5DA6B6D9C6F7621C54C292BA5A7F498AA8EB577555696D7B788064A0157A4B5411468A5AB01D066527DD7C02A1DAD8D66048D9C8645DF30FA6DE5307D2D0B5D1B541F94E63EAAB1EA487FCAB569542034F0374FBB02A3447F407D5D8D801AF3936B7A4A5FBD6BA27434F7513834A25ADBEB31A03AD61435B750CACA3AAAA1EA589F8056D606D680297D673D301A01FD99D17403F4806A63AAF64A57F5A148A87A653C555678D453B5576D15AE1B08E803D4771FD5489F8002AD0DAEF4F4ADAA749575B4D950836A86D18869FAAA4F250AB4EA4F7F56F5B128A0AA5F4D6E98697D17526C95921A70B95E590DAC06B999D4CD80B4EFAAAD1A44B3A236F0CD641530055C897EFFAABD86457BEAD769FAAACD27371350165183EFD1B38AEA44ABD7CA0ADC7D37595F11577AEAA9FA50DFD560AA4ECD9AFE4C695654FD697D6A4FD5FEE63A455EEB5F9BB9AB63FDDE42A61AFDABC16F06F387BDFF1E819B2DFA8781FC6F66EF3A96FF9BADC4FF5744FE97C0B538D10F2C9500D4BBCA1C9A1B6A41ABEA55606B81AEE9AA80576515BCB734C3FF8E19D0CFD1AAAC40AA67AEC8A86B65054A5F4FA5508D94AA57594AB533FD23082820CAAA1A2865790DAC02A4EA95C5559DB2B04AC1AAACEABAAF9595F555F90F99017DF75065055A23A0664159569B09F5D42FEBEBA9B2FAF6FFDC85D480CACA6A16545959589535EBAAB2B2AC66756D863422DA8C68DFFF10026A70CD7F355F56C0B57A6D56B4D9528435029A7B29DD5B02AFF4FF1D41AC32883E01E5360AB0666955563EAE74D4374D5705AE065A9BAD3F8480BE4F6BD946D569965565352B9ABF2B325AACA87A5556B3A5956F89C4F57B21FD7B96FFB4F2553FFA4F96FF039595C3EF6CEABB490000000049454E44AE426082
where MenuName = N'Tạo tờ khai thuế TNDN'