
@using ASOFT.ERP.A00.Core;
@model ASOFT.ERP.ViewModel.MT.MTF1010ViewModel

<div class="asf-panel-no-detail-header">
    <div class="asfbtn asfbtn-right">
        <div class="asfbtn asfbtn-right">
           @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", @Model.Toolbar1)  
        </div>
    </div>
</div>
@Html.Partial("MTF1012MPartial", Model)



