@model MyConnection.HoiVien

@{
    ViewBag.Title = "Trang chủ";
}

@(Html.Kendo().Window()
    .Name("window")
    .Title("Danh mục hội viên")
    .Content(@<text>
        @Html.Partial("CreateHoiVien")
    </text>)
    .Draggable()
    .Resizable()
    .Visible(false)
    .Width(700)
    .Actions(a=>a.Clear())
)
<hr style="margin-bottom:-20px;margin-top:28px;"/>
<h2>Danh mục hội viên</h2>

    @Html.Partial("PartialSearch")

    @Html.Partial("PartialGrid")







