@model List<MyConnection.MenuDaCap>

@helper ListArrayItems(int m_id) {
 foreach(var i in Model)
 {
     if (m_id == i.MaParent)
    {
    <li>
        @Html.Raw("<a href='bt/menu'>" + i.Ten + "</a>")
        <ul>
           @ListArrayItems(i.MaMenu)
        </ul>
    </li> 
    }
 }
} 

<ul id="mn1">
@{foreach(var i in Model)
    {
        if (i.MaParent != null)
        {
            continue; 
        }
    <li>
        @Html.Raw("<a href='bt/menu'>" + i.Ten + "</a>")
        <ul>
           @ListArrayItems(i.MaMenu)
        </ul>
    </li>
    }
}
</ul>

@{/*(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add()
              .Text("Thông tin điều hành");
          items.Add()
              .Text("POS")
              .Items(children =>
              {
                  children.Add().Text("Thiết lập");
                  children.Add().Text("Danh mục")
                      .Items(inner => {
                          inner.Add().Text("Danh mục cửa hàng");
                          inner.Add().Text("Danh mục hàng hóa");
                          inner.Add().Text("Danh mục hội viên");
                          inner.Add().Text("Danh mục hình thức thanh toán");
                      });
                  children.Add().Text("Nghiệp vụ");
                  children.Add().Text("Báo cáo");             
              });
          items.Add()
              .Text("CRM").Enabled(false);
          items.Add()
              .Text("QLHV");
      })
)*/}

@{/*<ul>
    <li>Thông tin điều hành
       <ul>
            <li>Thiết lập</li>
            <li>Danh mục
                <ul>
                    <li >Danh mục cửa hàng</li>
                    <li>Danh mục hàng hóa</li>
                    <li>Danh mục hội viên</li>
                    <li>Danh mục hình thức thanh toán</li>
                </ul>
            </li>
            <li>Nghiệp vụ</li>
            <li>Báo cáo</li>
        </ul>
    </li>
    <li>POS
        <ul>
            <li>Thiết lập</li>
            <li>Danh mục
                <ul>
                    <li >Danh mục cửa hàng</li>
                    <li>Danh mục hàng hóa</li>
                    <li>Danh mục hội viên</li>
                    <li>Danh mục hình thức thanh toán</li>
                </ul>
            </li>
            <li>Nghiệp vụ</li>
            <li>Báo cáo</li>
        </ul>
    </li>
    <li>CRM
         <ul>
            <li>Thiết lập</li>
            <li>Danh mục
                <ul>
                    <li >Danh mục cửa hàng</li>
                    <li>Danh mục hàng hóa</li>
                    <li>Danh mục hội viên</li>
                    <li>Danh mục hình thức thanh toán</li>
                </ul>
            </li>
            <li>Nghiệp vụ</li>
            <li>Báo cáo</li>
        </ul>
    </li>
    <li>QLHV
        <ul>
            <li>Thiết lập</li>
            <li>Danh mục
                <ul>
                    <li >Danh mục cửa hàng</li>
                    <li>Danh mục hàng hóa</li>
                    <li>Danh mục hội viên</li>
                    <li>Danh mục hình thức thanh toán</li>
                </ul>
            </li>
            <li>Nghiệp vụ</li>
            <li>Báo cáo</li>
        </ul>
    </li>
</ul>*/}

<style>
   
</style>


