
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF2020ViewModel
@{
    var hrefContractTM = Url.Content("~/DRM/DRF2000/DRF2002/?apk=#:APK1#");
    var hrefContractTD = Url.Content("~/DRM/DRF2010/DRF2012/?apk=#:APK1#");
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF2020Grid",
                              NameEventPost = "DRF2020.sendDataFilter",
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "DRF2020",
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_TEAMID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamID),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_LASTMODIFYDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.LastModifyDate),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,
                                                               ClientTemplate="#:data.LastModifyDate? kendo.toString(kendo.parseDate(data.LastModifyDate, 'dd/MM/yyyy HH:mm:ss'),'dd/MM/yyyy HH:mm:ss') : ''#",
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_PROCESSINGID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ProcessingID),
                                                               Width = 80,//200,
                                                               VisibleColumn = true,
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                                        Url.Content(string.Format("~/DRM/DRF2020/DRF2022/?APK=#:{0}#", DRP2020.COL_APK)),
                                                                        DRP2020.COL_PROCESSINGID),
                                                           },  
                                       
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_CONTRACTNO,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractNo),
                                                               Width = 80,//200,
                                                               VisibleColumn = true,
                                                               ClientTemplate = "<a href=# if(DebtGroupID == 'NTM'){ #" + hrefContractTM + " #}else{# " + hrefContractTD + " #}#>#:ContractNo#</a>",
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_CUSTOMERID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CustomerID),
                                                               Width = 50,//150,
                                                               VisibleColumn = true,
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_DEBTORNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorName),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionDate),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionID),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONOBJECTID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionObjectID),
                                                               Width =  50,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_RESULTID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ResultID),
                                                               Width = 50,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_NEXTACTIONID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionID),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_NEXTACTIONDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.NextActionDate),
                                                               Width = 80,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONEMPLOYEENAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionEmployeeName),
                                                               Width = 50,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONEMPLOYEENAME2,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionEmployeeName2),
                                                               Width = 50,//150,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2020.COL_ACTIONEMPLOYEENAME3,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ActionEmployeeName3),
                                                               Width = 55,//150,
                                                               VisibleColumn = true,
                                                           }
                              }
                          };
}

@{
    //var contractCol = new ASOFTGridColumnSetting();
    //if(ASOFTEnvironment.ResumePermissionView)
    //{
    //    contractCol = new ASOFTGridColumnSetting()
    //                    {
    //                        IDColumn = DRP2020.COL_CONTRACTNO,
    //                        TitleColumn = Html.ASOFTRaw(model => model.ContractNo),
    //                        Width = 150,
    //                        VisibleColumn = true,
    //                        ClientTemplate = "<a href=# if(DebtGroupID == 'NTM'){ #" + hrefContractTM + " #}else{# " + hrefContractTD + " #}#>#:ContractNo#</a>",
    //                    };
    //}
    //else
    //{
    //    contractCol = new ASOFTGridColumnSetting()
    //    {
    //        IDColumn = DRP2020.COL_CONTRACTNO,
    //        TitleColumn = Html.ASOFTRaw(model => model.ContractNo),
    //        Width = 150,
    //        VisibleColumn = true
    //    }; 
    //}
    //gridsetting.ListGridColumn.Insert(3, contractCol);
}

@(Html.ASOFTCreateGrid<ASOFT.ERP.DRM.Entities.DRP2020>(gridsetting,false))