body {
    font-size: 14px;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px !important;
}

.asf-header-system-text {
    text-transform: uppercase;
}

#contentMaster {
    min-height: 100%;
    height: 100%;
}
#posFilter {
    margin-top: 5px;
}

.container_12 {
    margin-bottom: 5px;
    overflow: hidden;
}

    .container_12 .grid_4_1 {
        width: 33%;
    }

.grid_4, .grid_8 {
    /*margin: 2px 0px;*/
}

.asf-combobox .k-dropdown-wrap .k-select .k-i-arrow-s {
    background-image: url("/Content/Images/combobox_arrow.png");
    background-position: 0 0;
    height: 32px;
    width: 32px;
}

.asf-combobox .k-dropdown-wrap {
    border: 0px;
}

.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
    width: 32px;
    background-image: none;
}

.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input {
    height: 32px;
    background-image: none;
}

.post-add-autocomplete, .post-add-autocomplete.k-state-hover, .post-add-autocomplete.k-state-focused {
    border: 0px !important;
}

.pos_header {
    text-transform: uppercase;
    background-color: #006EB4;
    height: 32px;
    padding: 0 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #B2B2B2;
    overflow: hidden;
}

.container_12 .line {
    border-top: solid 1px #DDDDDD;
}

.pos_header h3 {
    margin: 6px 0 0;
    font-weight: normal;
}

.pos_inner {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    margin-bottom: 0px;
}

.bold {
    font-weight: bold;
}

.pos_inner label, .pos_inner span {
    line-height: 30px;
}

.pos_inner .grid_8 {
    text-align: right;
}

.amount {
    color: #006EB4;
    font-weight: bold;
}

.return-amount {
    color: #663300;
}

#post_info {
    width: 100%;
    margin: 0px;
}

#payment_container {
    /*height: 400px;*/
}

.full_height {
    margin-bottom: 0px !important;
}
#payment_container span {
    font-size: 20px;
}

.special.k-input {
    /*height: 1em !important;*/
}

.other-height span, .other-height label {
    line-height: 28px;
}


.special {
    /*font-size: 24px !important;
    height: 32px;
    line-height: 36px !important;*/
}

.full_height .grid_2 {
    width: 16.667%;
}

.pos_button {
    position: relative;
    /*margin-top: 140px;*/
    padding-bottom: 10px;
}

    .pos_button.grid_12 {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .pos_button .grid_6, .full_height {
        height: 100%;
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
    }

    .pos_button .control1 {
        height:95px;
    }

    .pos_button .control2 {
        height: 130px;
    }

    .pos_button .pay a {
        background-color: #006EB4 !important;
        color: #ffffff;
        font-size: 16px;
        padding-top: 20px !important;
    }

    .pos_button.pos_button_last {
        padding: 0px !important;
    }
    

.k-i-asf-i-pay {
    background: url("/Content/Images/pay.png") no-repeat center;
    cursor: pointer;
    display: block;
    height: 64px;
    width: 100%;
    margin: 0 !important;
}

.k-i-asf-i-save {
    background: url("/Content/Images/save.png") no-repeat center;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 24px;
    margin: 0 !important;
    /*padding: 4px 78px*/
}


.k-i-asf-i-cancel {
    background: url("/Content/Images/cancel.png") no-repeat center;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 24px;
    margin: 0px !important;
    padding-bottom: 10px;
}

.k-i-asf-i-reset {
    background: url("/Content/Images/reset.png") no-repeat center;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 24px;
    margin: 0px !important;
    padding-bottom: 10px;
}

.k-i-asf-i-return {
    background: url("/Content/Images/return.png") no-repeat center;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 24px;
    margin: 0px !important;
    padding-bottom: 10px;
}

.asf-i-delete-32 {
    width: 32px;
    height: 32px;
    display: block;
}

    .asf-i-delete-32 span {
        position: fixed;
        right: -5000px;
    }

.asf-spin-edit input {
    border: 1px solid #AAA !important;
    background-color: #ffffff !important;
    background-image: none !important;
}

.asf-button, .asf-button.k-state-disabled, .k-button.k-upload-button {
    width: 100%;
    height: 100%;
    padding: 15px;
}

#POSF0013BtnSave:hover {
    background-color: #8FD2F4 !important;
    color: #FFFFFF !important;
}

.asf-button-text {
    margin-top: 5px;
}

#POSF0013BtnSave:hover {
    background-color: #00649A !important;
}

#POSF0013BtnSave:active {
    background-color: #004069 !important;
}

.gift_container {
    background-color: #E6E6E6 !important;
    height: 30px;
}                               
.gift_container .grid_3, .gift_container .grid_9 {
    line-height: 30px;
}
                            
.gift_container .grid_9 {
    overflow: auto !important;
}

.post-autocomplete, .post-autocomplete.k-state-hover {
    width: 100%;
    border-color: #AAAAAA;
}

.addObject, span.k-combobox, .asf-textbox {
    border: 1px solid #AAAAAA;
}

    .asf-textbox:hover, .asf-textbox:focus {
        border: 1px solid #aaaaaa;
    }

input {
    height: 32px !important;
}

.post-add-autocomplete {
    width: 92%;
    border: 0px;
    /*border-color: #666;
    border-right: 0px;*/
}

.post-add-object {
    position: absolute;
    right: 0;
}

.k-numeric-wrap.k-state-hover, .k-numeric-wrap.k-state-focused {
    background: none;
    border: 1px solid #8fd2f4;
}
/*.asf-combobox .k-dropdown-wrap .k-select .k-i-arrow-s {
    background-position: 6px 5px;
    width: 26px;
}*/

.asf-i-add2-32 {
    background-image: url(/Content/Images/add.png);
}

span.asf-icon {
    height: 22px;
    right: 0;
}

.grid_5, .grid_7 {
    /*margin: 2px 0px;*/
}

.grid_7 {
    text-align:right;
}

.pos_inner .grid_12 {
    margin-bottom: 5px;
}

.grid_12 .margin_bottom5 {
    height: 5px;
}

 .numberic {
     font-size: 20px !important;
     height: 22px;
 }

 .pay .asf-button.k-state-disabled:hover {
        background: #006EB4 !important;
        color: #FFF !important;
    }

 .control1 .asf-button.k-state-disabled:hover .k-icon.asf-button-active {
    background: url("/Content/Images/return.png") no-repeat scroll center center #E6E6E6 !important;
    color: #000 !important;
}


@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    #contentMaster {
        overflow: hidden;
        /*padding: 0 5px !important;*/
        padding: 0px !important;
        width: 100%;
    }

        #contentMaster form {
            padding: 0 5px !important;
        }

    .post-add-autocomplete {
        width: 90%;
    }

    body, html {
        width: 100% !important;
        /*overflow: hidden !important;*/
    }

    .asf-header {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto;
    }
   
}

@media print {
  body {
      font-size: 90% !important;
  }
  .asf-grid {
      font-size: 90% !important;
  }
  .pos_inner {
      font-size: 88%  !important;
      padding: 0px !important;
  }
  .container_12 {
      padding: 0px !important;
      margin: 0px !important;
      width: 100%;
  }
}

.k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down {
    padding-bottom: 0px !important;
    
}
.other-height .grid_12 {
    min-height: 34px;
    /*border-bottom: 1px red solid;*/
}
label {
     white-space: nowrap;
}

