use [CDT]
declare @sysTableID as int
declare @sysSiteIDPRO as int
declare @sysSiteIDSTD as int

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

-- Them table DMLThue
if not exists (select top 1 1 from sysTable where TableName = 'DMLThue')
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES ( N'DMLThue', N'Danh mục loại thuế', N'List of tax type', N'MaLoaiThue', NULL, NULL, 2, NULL, NULL, 0, NULL, 8, NULL, 0)

select @sysTableID = sysTableID from sysTable where TableName = 'DMLThue'

if not exists (select top 1 1 from sysField where FieldName = 'MaLoaiThue' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'MaLoaiThue', 0, NULL, NULL, NULL, NULL, 3, N'Mã loại thuế', N'Tax type code', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 1, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenLoaiThue' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'TenLoaiThue', 0, NULL, NULL, NULL, NULL, 2, N'Tên loại thuế', N'Tax type name', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenLoaiThue2' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'TenLoaiThue2', 1, NULL, NULL, NULL, NULL, 2, N'Tên loại thuế tiếng Anh', N'Tax type name in english', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

-- Them menu loai thue
--if not exists (select top 1 1 from sysMenu where MenuName = N'Loại thuế' and sysSiteID = @sysSiteIDPRO and sysMenuParent = 6605)
--INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
--VALUES (N'Loại thuế', N'Tax rate', @sysSiteIDPRO, NULL, @sysTableID, NULL, 3, NULL, 6605, NULL, NULL, 1, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001FCE494441546843ED9B07705D6596A09FD27B4F594FF929E7F49473B024CBB28295734E969573B0651B671B476C837136386170C2C639B70D186860A04D071A68A6E9EDA6869EEDED24A097E9EDDE9D6FCF95FDAAB55EBA6AB66A6AB6D85A559DFAEFFBEFBDE73FF99CFFFC572680EA3BFDA730F05D06D5F16327A7CFBD7C7EFAF68D1BD3572E9C9BBE7EE595E98BE74F4FBF227055AEAF5DBD28E385E96B02CA3D056E5EBB387DF9D2CBD3D764BC7AFDF2F495CB17A6EF5DB9387DFBDAA5E94B175E9E7EE5D2F9E973572F4D9FBD7679FACCF56BD3A705F71981AB1705CFA557A6AF5E3E3F83FB8A8C972E9F131C97A62FDFB832FD8AB2F6C55B82FBF6F4956B2F4F5FB9F1E2F4D51B2F3D5CE7AAD077F9D6F4952B37A6CF9FBF307DE4C891E977DF7DF773D592A9E50C0E0E32313EC6E8C808C343430CF4F7D3DF3FC0E0D030C3C33237AC8CC38C3C82B191518606657E6482E1B1C50C0C8C32D03BC4E0C008BD7D83F40F0C3320EFF60F0ED03F3420D78302030CF50F322C3024B887061490DFB29E826F6454702AEB0C4C303A28303C20F33D32F6D2D7DBCBF0E01863A3130282B7BF97F1F171F6EDDBF727559F102B3EF008CC64B410D00A583D02B58CCABCF923507E5B3E7AC64646BB47BF358F9E5746E57D6534C354658AB9E03757993C9A57DE3582F29C119F32A75C9B0A28CF2AA3428B32A78CCA6FC163FE90D6CACA2A2E5DBA34AD1A1B1F9D99D0D83961A2764065E18289958F801F2A336F19BD31B3F3C1CCC60F135B7F81602C1CC231B50E416D1B81957D14163621681C83D03A866061ED8FA56D2056D67E585AFA6023B86C04878D952FA6DA604C2D4331B30AC3DC2A020B01ADB5015BFB18ECECA3E59D702C2CBDB0D0EAB1D004A1D1186640AD0EC2DAD6177B67376C9DAD31B550D1DADACACD9B37A755131363331C9B681D317508C0C4C980857B226AF7544C9D53B0D42761ED9D8C95573A56DE5958FAE4C8750E6AD70C9C7CF370F4CC41EB1089A9953B3A37832C2204E9A2D0DA45636E1B23CC2760E69886A963066AFD3C349E79683C0AD1BA2F40EB5A2CF84BB1F110D01761E9968F856BB2AC9D84DA693E5AA7328152B4BA0C115A90802B66B6A22953151DED1DDCB973675AB57872F2A1CA844373215613908B26700196C1E5D88456E218568A6D503E362125D81BEAB00AAFC6C2AF44E6CA710A2D13A653F009C9C6608841A37522342C0D1BBB10ECDC52D00514E2105E8B3ABC11554035A67E0B30F52FC6D4B71A339F064CBD9A51E95B30F16CC1D4BB59E65A300B2AC3D25083996F3B56FE83D8057661ED5380D6330295BD0E337BC54AD4B4B7B571EBD6AD69D5E4D89430608B998B10E09F8B4D74035651CD5847B7621BD3865DA4101D5A8E26BC0EADCC994734A18968C046E67586722C9C93F00D4A6264B0134358284E628AF3B28A08091146C4D4CC5DE3D18489D40DC24C4C119AD0024C7C8A046A055A5079B6A2F2598869E022CC437A3135346216DB8A49F020D62113C244135ADF64541A353E61BE44C4C58B06CC6913139A61606C78392A133DD67E39B250059AD836CCA33B308B1262235BB08C1482857873F9AD8E5F84494C0716F16D58C7D6E195214C44CEC7CE2B90C8082FB2D26228CE4EE5E0D6F55C3B7982A79F5C476545097A5F3D6A076BB47A5F1C82E37197779C44283641229CE0562C83DA50CB681ED4226BD708FE4611520F8E914362B6F350692D894D0A60EFB3CB28CA4EC34C7CB6C5E80323032B50A97D718C2815C937CD10691A2B840A132A83208F6A17E909F2984ECC937B50C5CB98D4817572A3682B1F8F94227C13128889F520C4D78E92F428B2835D192A8A655573060757D6727C6B1B9B162F604E5E326E0101A8ACF5E2F0B138F816E2185C877D702376610DD8878BB4E3AAB088ABC736AA138FE82ECC7541246504F1E18F9F63D35411397E0E580B034DC2C00DC92DAAA1A1E598D804CBCB65D8C689C9A40DA04DEA1506DA045A50479561165D8A698CA85BA46F9AD28D764E3B36A965F86697E2939041D4BC46EC035B70F44D2132C1137B6B7B5C2DDD8809F4A034CB9FAEA21056B485B173592587B72E64C3640155B9DE84F8B989B38B761C25627944A3F18AC3C2D14B1CD54584EA85B504141B8D3D1599D14CB5A631B53093BAB21409CDB3A2D0D0B0F880B93B6AEFB96283D522814E3409DD98C48AA9247662935E2763156A61CA2A6D0C4D4A3BDAC4725C8401CF847C42933249CAEF1287ECC723AA86C49224F4E1A9B80537A0F512FB777020D0DD95BC14771615063252EDCF93FD11EC5F9DC5A1F5E51C7F668C0B978E70E57B1778F9CE2B9C39B9825D5B6A696EC9C2C5C50A572B8938B9B1D4A6F8F0CCDA01BC4224A45BD9D2D6D2F2308C8E8F2CC1D4D45EEC2C044B892AE611627FC28079621716623266F1C240D222B4094B70C958822EB982C0EC0A7CE2CAC5A98A28286FC7DE2D509C3911BF9802E28B73B00C2CC02171190E199DD8262E10E1E44B940BC655E7444EB22F4D65A13417FA5297E6C9E645D9BCB0BA9DA77A72393859C9731B1670E26039372E8F73F1DC32766D6C64CFAA0AAAB33C70B5534B28D5636EEF466B4BF34306A6C617935F584B5E591726F6B1A825745A27758AC4450B495D6832C5279206B08B5F2151A799A8DC7CBCC343B19524162C6131313E17570F9D48CB09477D3851F30B300F6E4715B91255C2225419CD626E4FE09A38893EA618B59B1FD62E6EC4C5FA523E379CF5DD551C996C674B4D0A5BCB23E99BEF4D5AB02D0901A654E7F9B3796A1EC7B637F1E44409862057313927312F7B89428F34B0666A319525D55CBEFA06CDDDAB30D1C5E190508F5DEA422C5345F2D96D5865F7631F3B887378268EDE5ADCDCB4047B1B88F0CF242A2C82F7DEBF4C7DCD7CCCCCEC09499A2B9AECC72C710DA6E94D98CC29C2297900CF985E0906B5580A138E09F3B109904CECE081BB4738011E2184BB7B93151A4C43D63C06AB1AA9CF99434B410247B7F55193E5C6A20A039B9635539C1383B924B2E696479978CD92499222A33879F4249F7EFA057A9F38517728CEF115D827D6A28ACDC33643924BE81CFC1382D9B2AB979F7D7283E3FBF7F2DCAEBD72FD2E5F7DFD80F939A933F54F9021019FD81EECE286304F48C5656E1CE90B9A888ACAA67B723B4D436B708A48167C8912C1CAB18F28C33A40129C647D95759808418F8D0822CAC787F5A34D5465FAD0579B406BA11F15A92EAC6ACFA6342D84E6D6F6877960F9E4189101FEC2DD323EFBD18F18EE19A66BE108F77FF8737EF0CBDF5332B2024D4808B125F1BCF9D919FEC2C7BCF7C34B2CEAAAE4D0A14DF2FB17FC2BBFE437BFFB35A55260691CCC8848AA25A5748AF2E1218EDF7D819FFEFC53AE5F3CCDAF3EFE84CFE47AEFB1E729EFEEC72FA71A4B89FB3AC5C724CBAB1CD3C53CAC84B8543E7C70902B2F8D5232C795F9493A9A0A2358D753445BA207CD595152E58E70FBF66DA985C6C6F17775A2A7AA98C31B57F2E33B57F9C507EFF1F51F7FC7073FFC80DC2A098F813AAEFE7833EFFC7A1F4D23C5842784129EE2477D7716FFF9CBF7691BAEE19D5FFC88AFFEDB1F492F0D13D37027AB7219354BD652D0DF457EEB20A512B70B4B2BC92A2EA1A8A78B8CAE21C21B47B1CA58883AB11DCBF806CCC28B24D9D9B07E6D3C5FFDF301EE9C6A63795F1CC9D10EE86CCCA8CA4B65A8249D48670D6D1D9D0F9D78486A6C5F473B9AB3E3595C96C9E1A55D9C7BEA09CEEEDE4C5F633176566E5435E5F0D95FF6D0F35434DA403742B2C58EC35DB8FFF397387D750F7E49A1142CABE5C33FBECBF907A2310F2D4E91E2BC490D6852EBC4048771C9EB4497DB813A534A95D26E5445DD68AA97E3DAB40DA7D215725F724F442EEE5E563CB7B990CFDFDC4C67B60D25496EE2A3F331D5D848B56A4594AF03917E3A5A5ADA1E26B241D9945849791AE4A3274CEF4A94BF2759F19ECC89D31317E0868DBD1D934F35F2933F6DA76ED40FAF7829799D83C9AFCEE4D7BC4D496B2619350504362550B7A6804FFEFB7972DB72B18AAEC3A76527AEEDBBF1EC7C1EB7B68DB8751DC0A5F72974FD5BB11AD885BA7F2FD67D7B70697F1AFFAA7568C30B25B9A979FBE428D776B452E2A761FD603731713992A973700A4F97325C92A48B037D7D7D0F35303A2CE5B49D258E59657814F513D4388447412ACED19E9869ED98BB703EFD67EB78EBEBC36C7E5AEA9F0027B45666BC7A63B768E09868442D25B61361751984E607D2B1BC017D9A9851B684E3AE3DF8AFBE4AD253AF103AF514C1432F12B57413C1E3ABF19A3888EBCA6368A6B6E2317A80B0F29D985B47D356EFC60F6F74325864C7D08238F23233504979EFB060292EF91368030A66F62CADADCD0F9D78B07F58BCDF1BFFE2765206D7E057334468F93029D512367D23687E7A19F99B4A38FCA34D0C1EA820B72E8E3925A1FCECCF37197F46AAD650D970F8C5E12551E889A3DB895D20D5A2AB2D8E15BDB80C3E8761D36D72F77E8F940D47089F3A43F4AA6731AC7896A0A527F15F791A8FE54F133CB81967498CA161815C3BD3C1FEF5F114C74BBD531C8B959B9426795DD855AFC1B36E95387CA530E040BBE481870C0C0C49A91A8D73663DEEE5CD04B7AC2077FC1CA1256BD047A7D1746C0751A3C5447645B1E4B509EEFED3012E7FB2961BFFB21FDF5C179C934B49ECD98E2E753E8EA96952B7BBE1313787B8C96DC46EBCCCBC43EF5179E41D72369E2267CF6BE4ECBB44D6CE4BC4ADBD46C8E253F8F64B589D27CEEB6AC7F60DA55C3E52C6588B8EEA797A4222F49846A4E3DEBD1DF7B18338B5AE41935C2C55C32C06864706A5160A94F2B818A782662AB79C66DED429FC6BA6C409E3283FB08182ADE3B856C5D0737992B7FE7A867BFF750BD7FEC736969F5B843E2B0987390DC40F6EA260640D5ED952314AE8AD1642F39E7F8BFC23FF40D3890F68D8778FFA730FA83BFB2E8DA77E44E581F7C95AF1320E592558E8B5AC59B980B72E5571E8896026AA9CE96A48C22924145DF1A068F12A619B2EE3D9BB05FBAC2A54368E7FD3C0F8E241346E7A7C336B08AE18C4BBAC17F78A4A7459B1A89C4CF02C8C23746119A11D65B814873171B987735FAEE7D6371BB9FBD7E778E9E37D2437176091B080E627F7B0607035058B9FA278D705E6ECB949F189776839F63ECDCFDEA1FAC80D2A0FDDA666FF6B14AC398BA16244B6941E3CB1B48C8FEE8F73FB3903CF8F7A52156645464C20261E9138D5AC25FCC91B18365C22A06733BA8C6A61C0554A89473E30B678001307732CFD22500766A2964CDA777084D3FF788CAA953552516A08ABCD23A9B705BFDC18A66E4FB1E5C78B99385EC20B9F6FE2DE5F7771F7F7A7886CA811DFA9A07C7C2DB1AD4B291206720FDDA2ECC537E93DFB010BF7DCA0EBD01972971DC0ADA0474A8A4C6CBD3CE8692DE467AF6EE4C3CBD51C5A62CF860A5B0ADC2D4832184480F138D56F266AC335129EBC4078F7469CD2EB25E8F84835DAF46847363988A5BD1A171F77BCC362F1975D5564B11F1B5EEA65C99E7ED28A52F04C8DC1737E1AC5A3959C9E3E4BF99E52D9F2593177551EA7BE58C39BDFECE6859F9D24B43491C8920AE25A9650B9F71A0B8EDCA6FAD4EB0C5F7A8F96ED2F513D3245606613367EB198DAA9A4CF54C8A7779FE18B5B63DCDA19CB8E4E3D2D9116D4C678336F5E3E6621C524AD3843FA53D7495A7782B08E35D8A534A1B2F21713326A60625492878E92CA6C4696B6B27EFB2863CB16D1D1574ED77005F915520A5B58C81ED88BA90B4BD8F1F193F8F7C5E2D95283497A020DBB1A79EDAF0779E39B67983CD0269BF800E674AFA176FF6DE6EEBD44F1F1ABB4BD789DF61DC7B8FDBDFB9C3AF7162109296414BAF0E0FE72BE7C7B036FED98C39DA75298C8F725DA52457E620486A42CECB23BA978FE0D4A8FDE256BEB310C3DEBB19D2BBB423B03ED460D0C0E3EEC0B393898E0EBAF223ECE8AE4D8483AEA3BA4C0DBC5A113C7A96F16674DF4A5F35C3B0DCF4B6B64BE9EF0555B096C9C20AABB8D235F6CE3EA175D9C7E7F9D68309CA2A1F5E4AC3A2291E620C99BF652BDF728F7FFCB97FCE1F3CF69A9E9C5CF5FCF9997DBF9E6373BF8F0A51ADEDE92C0ED4DA9744B460FB356919911869D8FC0FC4E4A0EBF4AEDE9FB646D799EF0DED558CFEB45E5308B81BEE1D1992D9AAB5685B740BCB71D0677A9EFB556B8EBF4542E2865DFAEEDEC3DF024EB9EE9C590EF2A8945A4B4BE8ECC6D5DB80DD532F5603F273F5FCEA58F242125FA302985E14F7EF54BEE7FF280E55B9672F3E20BF0D5AF79E1E03A42FD4C59B7A494DF7E7286DFFC643F27560670FFD9506E2E3730EC654386AD29ADB275D449C68F19DD48EB8B1F33FAD217746E7C9592D19DB8E4168A6FD888061EE58101E94BDA482911EAAEC1E06A4188CE145F7B2D7A3B1DB1E1C98405471115194948B82FCD8B4AD97A70928E1515CCE94CC45019876B7E082BDFDAC6D12FB773EC1F76E2E86AC996654BF8EB977F847FFD86AFFFF0733EBCFB32E7B6AE20272A84D2744F1EDC5801BF39C5DB279A38B6C49B3B3B6279B62590322913EA42FD59BFAA0FBB986862B71C26EF954FC938F253B2B6BF419A646C2564AB2C9DFF16469566A9ABAD0949418EA407EB0877B6406F698A467A913A1B0FDCBCC270740FC0DB3F08BD979EF8A46006C66BD8B87388C4E4005C83D5344AF135F5E16AEA3694E16C67C63669BEFEE3ADEFF1E19D9BBC7AF618AB3B6B1928C820C2CA8391B2643EB939C45F7E2AC9F0C958CE2C09E3D94501B42638136DEA41655C145D12963DA323193D7F8BC4DD1709D9750DEF55C7F1EBDE8A7D6A9B98BC30D0F648038BC70645DA26A486389015E640ACA7164F6B336CCDB5586B5CA54D285B4001778F3062A3D3494F9A43564A025552D6AE92BAA7A331055783058609C998892E529A5B335856CE8A85FDB457D4509295C5BD93C7B87B783F3E661E0C97A772FFB905BCBF2F9B2B8BA339D818CAE2B91E14F8DBE3ADD2D1DB9A4F5AA2973051CD37FFF20DBB2FBC4A50CB08FEDD93F8370D611D257D2213DBBF3130216D6C771B152912163343AD84091D1E56263868ACA43DE2815E1F869B7B28FEBE89244417529CDB2AAD8D76AA0A4B08F376A52033849ABA39E8A427646AA6223DDE4061DE0289323564552F64D1E2B57CF0F6FBF49455E060E6485B492CCF8CF873AC37802375896CCA8CA1C9DF0183F85F98838EF125157878A958D356C99B070EF2C30B373977FE2A5D6BD762171D2D0DB84061C074A6B538538D4E8A09E96D55144ADB637E940D79D13A7CC4A4746A354E36EE047845101A104742542E73D31A2898BB90A6DA719262A5C16BA6466B6142B8B73BCD997309D6391014E027B9A0929891B554EE3947DBCE93E414B7E0652FBD1E0916BEDE2A72C254F4C6E9180B37D0A90F649E8DB40D85F9F5E3D5E49527616E69CE82A4246A12B369C82E63FD8A4D1C3A7B0E9F88281C6D9DB1515BD3D9D9F9703F303E36464CB03345E97A8A137564875A10ECA0C2D34A8DB346879F4B10F161E9E4A497519CDF4C4BC30873D28AB1D53A632B5AD2BB381264A3A54CEF4261B837B60E568435B611B8EA00AEE3FB09E8DC4CA0D42FF6767634B4E7B07A753D5D65D152EBEBC8B57225D54CA46FA9E5C0E62ED6AE907EA99D1781A98D180AFBF099D7816B6E8B340372B00849A5A8B48DAD036BC80A8EA37D61C7430DF4F40FE1A7B7A3A53492C16A0355698E443BABD0CBCEDF43632DDDB554F2B2EAA4EBD04D6BC32252E392B0579B12EC2CBB23893859018E2C0875A029C981B91116C44ABEF0CD2F2663DB2572A560CBDE7A9DB0E266FC83DD195A18C9EAA1589E5E9CCDF6EE0A9A12E3703333A5B9265D82C2041AE93CCF69DA44E5F657C9DD799BB8ED57085F7B02E79A49B2EA87F8F8C1A71C5EB19A08D174435313D7AE5D9B560D8C4B634B549B2CBD98E56D713CD99D4E45A23B61B66A026CEC5930AF5D360FABA8AEEC46EFEE85CEDA84605713E29C54548468E98FD5D197ED4063BD351B576788BDAE2752CA80ACA9978918388755FA042A9D3F56765A868AF5EC5D9C207D531DE5B1F67414459391EA84A5E0527B38125FBA96EADD6F9075E43EC947DE20E1D01B040DED47175EC9A55312D5EEDE62AA2D9300BD99B455DA1F32D0333824A72D0E3399CFC3CF9B8AEA7C9E186BA453E27B4B9C0595B959242564E262654D80D42F59012ACA0D2A3AD34C199EAB614D852B874763F8C1F1263E7A6B3725557208A2F726A5BE5FCE1BC2F0F3F1A0B6CA8F83074BF8D5D5065EDD9DC5E60E2F0A43CC09B6336574A08A9C4A69DF47A6306FD315320EBF8F41AAD5E467AE1035B1838A259B59B97E3B9FBEF70E47B62CA324D91357C9D68BBA7AB97EFDFAC34DBDCA318010D968EB73A450928655546294B4FF1278A2D940534114E991DE942579315911C986C670F6F6C77274491A2F6F2AE2C6BE466E1CEE61ED482E3111CE92641CB18ACCC43D368B4069ABAF1F2CE6B5E3837CF5939DFCF6F511EEED2F63534F2CC97A136AB322C84B8F233C3E49F61115CCDFFC02DEBDDBF16890CD546E3B872FBFC1375FFF19FEF4156F9E3ECE50693E492EB6B85B984957E2910F0C0E2E93EA2E0877A9317C2B97125ABF5C0E3624D6DAB91318E6CFFC3931CC4908A05816EB284FA4BF3A9EAE720375737D294CD34B6895EE5A883FEA8C04FC1A3B08EE5A43B4241C53E7649C2D3D280F0DA3CAC3815A2918AB629C186B4860DDA84433A999F2056202BDB0529B111E9D42B0ECB6D6ED3FCDAEE7CFB26ECD567EFBF3CFF9E34F3FE2E8EAD5F4E5E551121327FE298D2F49B28DE203335BCAA1A155521CC56197358053D5664918CF11B7F40486DE6DE8C4FEED93F2D02566626548441B112B2736724091964374652BA90B27C89A7892D2EDC729D97F9105CFDE60CEEAB32475ED40AD8B4167E1468AB4CBE325DC468A9F85DB6870927069692E11CE49A28F9CB8B8DB5910AA77E6E62BE7F9F4A34FE5CC5D24FEE77FE63F3D788D1B479FE1D0BA09962EACE3FDD76FF30331A3FEA131ACA5CC696E3632302C1AB00D439BD6897BEB6EE9109C244236E2C94FBF46D28E3B124DAE50B0EB2AE5FB6E51B5EF2675076ED2F9E2F7E93AFB80DAA3DF276F8F14594FDF64F8E96BECBAF8312B9EBD4A7C5605965A35C19E52D986EA30785BE025FE63103FF292186EA3B596934D39754931909561C0D2D484DEE67A7EF7F96FF9FA9F3EE1CB4FEFF3F1DDD31C5AD9C7B094F99F7DFFBAD4565F70E7FA2BB42F6A97F2C6E36F79604C0E8C5552F398C595625FF9046E0387F05B759EC8EDB74939F036B9FB5EA5E2E03D1A8FBE4EFB91BB2C7C4ED9595DA17EEB71BA2551ADB9F42E5B2F7E9FD3E7EF71FBE65BAC9D5842A2B7130DB96EBCB8BB8837AEF5716C4F092B86E26988F0264C6D8EB59909E6362638793AD03DD420B94343767636EF3CF819BF78E75D7E7CE614B79EDEC99AF252C67332F8FDDD1BFCF4E4714EAD7B8281BC4C7C2CE5904F12D94C6B716848DAEA3A671C93F3B19DD78A4DD9188E2DEBF1EADF89FFE86E82269576C8091257BE44DEA673D4EC78859CC99DC4B74D11DF308C8F24298F8434BCA3BC25E238E1AE962C9BABE7F6FE223EBBB788AF3E5AC9F51D7339D81BC5B6DA748A821DA4BB6687B5BD1981D27B0A13FF32B1D31097BB80D4EA5E693FB651288784557915BCBCEF08778EBDC8D9A7B6B1A9BB83BEFC39144BB2F4D19A48225B683CA594937A737339C395430A396D3409957D719C64DAB41A39A0A84193D38749CE28E6D983D8168CA22F9BC4AB7404B7BC85B86637E091DD8453CA5C1C0DF6980BF195E9411C5B5DC9C115A91C5997C0F63E5F76D607B32ED39BA98248E605E9C84990FAA9BA50CE94ADB010E2C352D329EC5E424EDF16B27B561353B58838A9B78A1AFB4948C921283C9AC0E02042E574C6CFDB518A4C6140CE89674A89A999937A13CCD43A2CECFD503B87488F2612AD4BA49C5785CA81B69C967BC4C8E63E0EAD770216DEF1D20090F3E4C044CCBC0C68657F6BEE1D248140CE0DE438A932399EDE05497494054A2FDF8ED239F634C6FAD0E0E34DB944AC781F9D442735D5D2F9080E0E93AF0334E8831348AE1E25A66513FABC6E3CC4125C526BE4F4325BFA4C8968141A1CE40B00399DD12AE767661A3A3ADA1F32D0DF2D5B34891026A6CAB711CAF70D0A583FFAEE41F996C1F81DC5EC51F96EE1E1B70B7F03731C350EB89AC84E4E6D818B38AD46F6B7E6B259B255B6AC02EE9626B2CF78F88E569AB566A6CAF711CA3718CADA72806DEE2F67C01EB207F714BF94D34C29BF552AD9014AFD3F737F862E853E15B575355CBD7A755A35225FA8D4D4D4505F5F271DDF669A1A1B1E4293111AE5BA89C6461915686AA4A1A17E061A1B1A66A0A1BE9EBABA5A6A6A6BA816A8AA51AE95B906C1DB409D3CA340756D2DB5B575325F276B56CF8C0ACEC6195C75528ED408D4CE408310D8A08C32DFD4583F4353E30C4D0FD71F92AF5C8E1E3DFA27D5F3CF3F3FAD78F3BD7BF7A695C4A0D4174A8AFE3F014595CABBB341997B1CC7BFE5997FCBBA972F5F9E3E71E2C4F4EBAFBFFEF977FA6BAD99CFE58C9F9B4D4E8CABBE23A0133A1108F8AE32502BC41F5484FD5D6420E191F4FF2E038A6A14B8F398396D7934AFDCEB79EC9EF2ECD95973461C9F3D9A0B98F5AEF1DEEC71E9DFB9AFACA310AA3CABE07AFCDDF9DFA60185983F0828488D3EA120525E56887CFFD1B56287CA7D2371B3197E1C87A272E53D051442143C465CCA9C2255E51DE59EB2AE321AE795B58DF418E715A694EB6F654041F0B8F49587150D28041B1D68FEA3DFCAF3CA0246692BCF28730A01B30560B45B857085698508651DA3A014FC462D1A19310AC8884B1995E795B5956BDDB76940413C635F8FC06873CAA2C6396501A3191917533464BC3F9B98D9914D21D8280865FE71B330DE5370290C2BCF28C41A1953046534A319C6FF9E09CD361F0581F2E26C421424CABC5112CA3813D61E3DA72C389BD0D98CCFC66D344B45604633319AA42238E53D45500A2EA3E6956715E9CF30F86D0CCC96AE5102B3193012AB20343A98512AC6458DAA7E3CAFCC96AC915023D3CA1A0A51468D1B7D4C215E617AF6BC42C3CC7BDFC68051BACAE20A81C608A120575E521854E6956B6551A3C9CD8E4E46626633F0B8648D8298ED570A91C679653DA3F69579E5B75190463AFE3706BE2D54299230461E85480589511A46B3F97B61F071B33386E7D9EF1BCDC7784F596FB6AD2B7E63646A76189DF18BC735A0106294A851FA460919E795058CE6A3CC29D7CA02C6FB461CB36D5DC1A1988211A7310A29BF957767DF339AAD72CFE847B39F37AE3363AEFF1E995891D0E389ED3FACA6FAF760C0E860FF61442B9237C2FFC2C077F59F20FEDFD90FFC7F0DFC5FFA5F9CFF09EC15A14888B5C4630000000049454E44AE426082)

--if not exists (select top 1 1 from sysMenu where MenuName = N'Loại thuế' and sysSiteID = @sysSiteIDSTD and sysMenuParent = 7150)
--INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
--VALUES (N'Loại thuế', N'Tax rate', @sysSiteIDSTD, NULL, @sysTableID, NULL, 3, NULL, 7150, NULL, NULL, 1, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001FCE494441546843ED9B07705D6596A09FD27B4F594FF929E7F49473B024CBB28295734E969573B0651B671B476C837136386170C2C639B70D186860A04D071A68A6E9EDA6869EEDED24A097E9EDDE9D6FCF95FDAAB55EBA6AB66A6AB6D85A559DFAEFFBEFBDE73FF99CFFFC572680EA3BFDA730F05D06D5F16327A7CFBD7C7EFAF68D1BD3572E9C9BBE7EE595E98BE74F4FBF227055AEAF5DBD28E385E96B02CA3D056E5EBB387DF9D2CBD3D764BC7AFDF2F495CB17A6EF5DB9387DFBDAA5E94B175E9E7EE5D2F9E973572F4D9FBD7679FACCF56BD3A705F71981AB1705CFA557A6AF5E3E3F83FB8A8C972E9F131C97A62FDFB832FD8AB2F6C55B82FBF6F4956B2F4F5FB9F1E2F4D51B2F3D5CE7AAD077F9D6F4952B37A6CF9FBF307DE4C891E977DF7DF773D592A9E50C0E0E32313EC6E8C808C343430CF4F7D3DF3FC0E0D030C3C33237AC8CC38C3C82B191518606657E6482E1B1C50C0C8C32D03BC4E0C008BD7D83F40F0C3320EFF60F0ED03F3420D78302030CF50F322C3024B887061490DFB29E826F6454702AEB0C4C303A28303C20F33D32F6D2D7DBCBF0E01863A3130282B7BF97F1F171F6EDDBF727559F102B3EF008CC64B410D00A583D02B58CCABCF923507E5B3E7AC64646BB47BF358F9E5746E57D6534C354658AB9E03757993C9A57DE3582F29C119F32A75C9B0A28CF2AA3428B32A78CCA6FC163FE90D6CACA2A2E5DBA34AD1A1B1F9D99D0D83961A2764065E18289958F801F2A336F19BD31B3F3C1CCC60F135B7F81602C1CC231B50E416D1B81957D14163621681C83D03A866061ED8FA56D2056D67E585AFA6023B86C04878D952FA6DA604C2D4331B30AC3DC2A020B01ADB5015BFB18ECECA3E59D702C2CBDB0D0EAB1D004A1D1186640AD0EC2DAD6177B67376C9DAD31B550D1DADACACD9B37A755131363331C9B681D317508C0C4C980857B226AF7544C9D53B0D42761ED9D8C95573A56DE5958FAE4C8750E6AD70C9C7CF370F4CC41EB1089A9953B3A37832C2204E9A2D0DA45636E1B23CC2760E69886A963066AFD3C349E79683C0AD1BA2F40EB5A2CF84BB1F110D01761E9968F856BB2AC9D84DA693E5AA7328152B4BA0C115A90802B66B6A22953151DED1DDCB973675AB57872F2A1CA844373215613908B26700196C1E5D88456E218568A6D503E362125D81BEAB00AAFC6C2AF44E6CA710A2D13A653F009C9C6608841A37522342C0D1BBB10ECDC52D00514E2105E8B3ABC11554035A67E0B30F52FC6D4B71A339F064CBD9A51E95B30F16CC1D4BB59E65A300B2AC3D25083996F3B56FE83D8057661ED5380D6330295BD0E337BC54AD4B4B7B571EBD6AD69D5E4D89430608B998B10E09F8B4D74035651CD5847B7621BD3865DA4101D5A8E26BC0EADCC994734A18968C046E67586722C9C93F00D4A6264B0134358284E628AF3B28A08091146C4D4CC5DE3D18489D40DC24C4C119AD0024C7C8A046A055A5079B6A2F2598869E022CC437A3135346216DB8A49F020D62113C244135ADF64541A353E61BE44C4C58B06CC6913139A61606C78392A133DD67E39B250059AD836CCA33B308B1262235BB08C1482857873F9AD8E5F84494C0716F16D58C7D6E195214C44CEC7CE2B90C8082FB2D26228CE4EE5E0D6F55C3B7982A79F5C476545097A5F3D6A076BB47A5F1C82E37197779C44283641229CE0562C83DA50CB681ED4226BD708FE4611520F8E914362B6F350692D894D0A60EFB3CB28CA4EC34C7CB6C5E80323032B50A97D718C2815C937CD10691A2B840A132A83208F6A17E909F2984ECC937B50C5CB98D4817572A3682B1F8F94227C13128889F520C4D78E92F428B2835D192A8A655573060757D6727C6B1B9B162F604E5E326E0101A8ACF5E2F0B138F816E2185C877D702376610DD8878BB4E3AAB088ABC736AA138FE82ECC7541246504F1E18F9F63D35411397E0E580B034DC2C00DC92DAAA1A1E598D804CBCB65D8C689C9A40DA04DEA1506DA045A50479561165D8A698CA85BA46F9AD28D764E3B36A965F86697E2939041D4BC46EC035B70F44D2132C1137B6B7B5C2DDD8809F4A034CB9FAEA21056B485B173592587B72E64C3640155B9DE84F8B989B38B761C25627944A3F18AC3C2D14B1CD54584EA85B504141B8D3D1599D14CB5A631B53093BAB21409CDB3A2D0D0B0F880B93B6AEFB96283D522814E3409DD98C48AA9247662935E2763156A61CA2A6D0C4D4A3BDAC4725C8401CF847C42933249CAEF1287ECC723AA86C49224F4E1A9B80537A0F512FB777020D0DD95BC14771615063252EDCF93FD11EC5F9DC5A1F5E51C7F668C0B978E70E57B1778F9CE2B9C39B9825D5B6A696EC9C2C5C50A572B8938B9B1D4A6F8F0CCDA01BC4224A45BD9D2D6D2F2308C8E8F2CC1D4D45EEC2C044B892AE611627FC28079621716623266F1C240D222B4094B70C958822EB982C0EC0A7CE2CAC5A98A28286FC7DE2D509C3911BF9802E28B73B00C2CC02171190E199DD8262E10E1E44B940BC655E7444EB22F4D65A13417FA5297E6C9E645D9BCB0BA9DA77A72393859C9731B1670E26039372E8F73F1DC32766D6C64CFAA0AAAB33C70B5534B28D5636EEF466B4BF34306A6C617935F584B5E591726F6B1A825745A27758AC4450B495D6832C5279206B08B5F2151A799A8DC7CBCC343B19524162C6131313E17570F9D48CB09477D3851F30B300F6E4715B91255C2225419CD626E4FE09A38893EA618B59B1FD62E6EC4C5FA523E379CF5DD551C996C674B4D0A5BCB23E99BEF4D5AB02D0901A654E7F9B3796A1EC7B637F1E44409862057313927312F7B89428F34B0666A319525D55CBEFA06CDDDAB30D1C5E190508F5DEA422C5345F2D96D5865F7631F3B887378268EDE5ADCDCB4047B1B88F0CF242A2C82F7DEBF4C7DCD7CCCCCEC09499A2B9AECC72C710DA6E94D98CC29C2297900CF985E0906B5580A138E09F3B109904CECE081BB4738011E2184BB7B93151A4C43D63C06AB1AA9CF99434B410247B7F55193E5C6A20A039B9635539C1383B924B2E696479978CD92499222A33879F4249F7EFA057A9F38517728CEF115D827D6A28ACDC33643924BE81CFC1382D9B2AB979F7D7283E3FBF7F2DCAEBD72FD2E5F7DFD80F939A933F54F9021019FD81EECE286304F48C5656E1CE90B9A888ACAA67B723B4D436B708A48167C8912C1CAB18F28C33A40129C647D95759808418F8D0822CAC787F5A34D5465FAD0579B406BA11F15A92EAC6ACFA6342D84E6D6F6877960F9E4189101FEC2DD323EFBD18F18EE19A66BE108F77FF8737EF0CBDF5332B2024D4808B125F1BCF9D919FEC2C7BCF7C34B2CEAAAE4D0A14DF2FB17FC2BBFE437BFFB35A55260691CCC8848AA25A5748AF2E1218EDF7D819FFEFC53AE5F3CCDAF3EFE84CFE47AEFB1E729EFEEC72FA71A4B89FB3AC5C724CBAB1CD3C53CAC84B8543E7C70902B2F8D5232C795F9493A9A0A2358D753445BA207CD595152E58E70FBF66DA985C6C6F17775A2A7AA98C31B57F2E33B57F9C507EFF1F51F7FC7073FFC80DC2A098F813AAEFE7833EFFC7A1F4D23C5842784129EE2477D7716FFF9CBF7691BAEE19D5FFC88AFFEDB1F492F0D13D37027AB7219354BD652D0DF457EEB20A512B70B4B2BC92A2EA1A8A78B8CAE21C21B47B1CA58883AB11DCBF806CCC28B24D9D9B07E6D3C5FFDF301EE9C6A63795F1CC9D10EE86CCCA8CA4B65A8249D48670D6D1D9D0F9D78486A6C5F473B9AB3E3595C96C9E1A55D9C7BEA09CEEEDE4C5F633176566E5435E5F0D95FF6D0F35434DA403742B2C58EC35DB8FFF397387D750F7E49A1142CABE5C33FBECBF907A2310F2D4E91E2BC490D6852EBC4048771C9EB4497DB813A534A95D26E5445DD68AA97E3DAB40DA7D215725F724F442EEE5E563CB7B990CFDFDC4C67B60D25496EE2A3F331D5D848B56A4594AF03917E3A5A5ADA1E26B241D9945849791AE4A3274CEF4A94BF2759F19ECC89D31317E0868DBD1D934F35F2933F6DA76ED40FAF7829799D83C9AFCEE4D7BC4D496B2619350504362550B7A6804FFEFB7972DB72B18AAEC3A76527AEEDBBF1EC7C1EB7B68DB8751DC0A5F72974FD5BB11AD885BA7F2FD67D7B70697F1AFFAA7568C30B25B9A979FBE428D776B452E2A761FD603731713992A973700A4F97325C92A48B037D7D7D0F35303A2CE5B49D258E59657814F513D4388447412ACED19E9869ED98BB703EFD67EB78EBEBC36C7E5AEA9F0027B45666BC7A63B768E09868442D25B61361751984E607D2B1BC017D9A9851B684E3AE3DF8AFBE4AD253AF103AF514C1432F12B57413C1E3ABF19A3888EBCA6368A6B6E2317A80B0F29D985B47D356EFC60F6F74325864C7D08238F23233504979EFB060292EF91368030A66F62CADADCD0F9D78B07F58BCDF1BFFE2765206D7E057334468F93029D512367D23687E7A19F99B4A38FCA34D0C1EA820B72E8E3925A1FCECCF37197F46AAD650D970F8C5E12551E889A3DB895D20D5A2AB2D8E15BDB80C3E8761D36D72F77E8F940D47089F3A43F4AA6731AC7896A0A527F15F791A8FE54F133CB81967498CA161815C3BD3C1FEF5F114C74BBD531C8B959B9426795DD855AFC1B36E95387CA530E040BBE481870C0C0C49A91A8D73663DEEE5CD04B7AC2077FC1CA1256BD047A7D1746C0751A3C5447645B1E4B509EEFED3012E7FB2961BFFB21FDF5C179C934B49ECD98E2E753E8EA96952B7BBE1313787B8C96DC46EBCCCBC43EF5179E41D72369E2267CF6BE4ECBB44D6CE4BC4ADBD46C8E253F8F64B589D27CEEB6AC7F60DA55C3E52C6588B8EEA797A4222F49846A4E3DEBD1DF7B18338B5AE41935C2C55C32C06864706A5160A94F2B818A782662AB79C66DED429FC6BA6C409E3283FB08182ADE3B856C5D0737992B7FE7A867BFF750BD7FEC736969F5B843E2B0987390DC40F6EA260640D5ED952314AE8AD1642F39E7F8BFC23FF40D3890F68D8778FFA730FA83BFB2E8DA77E44E581F7C95AF1320E592558E8B5AC59B980B72E5571E8896026AA9CE96A48C22924145DF1A068F12A619B2EE3D9BB05FBAC2A54368E7FD3C0F8E241346E7A7C336B08AE18C4BBAC17F78A4A7459B1A89C4CF02C8C23746119A11D65B814873171B987735FAEE7D6371BB9FBD7E778E9E37D2437176091B080E627F7B0607035058B9FA278D705E6ECB949F189776839F63ECDCFDEA1FAC80D2A0FDDA666FF6B14AC398BA16244B6941E3CB1B48C8FEE8F73FB3903CF8F7A52156645464C20261E9138D5AC25FCC91B18365C22A06733BA8C6A61C0554A89473E30B678001307732CFD22500766A2964CDA777084D3FF788CAA953552516A08ABCD23A9B705BFDC18A66E4FB1E5C78B99385EC20B9F6FE2DE5F7771F7F7A7886CA811DFA9A07C7C2DB1AD4B291206720FDDA2ECC537E93DFB010BF7DCA0EBD01972971DC0ADA0474A8A4C6CBD3CE8692DE467AF6EE4C3CBD51C5A62CF860A5B0ADC2D4832184480F138D56F266AC335129EBC4078F7469CD2EB25E8F84835DAF46847363988A5BD1A171F77BCC362F1975D5564B11F1B5EEA65C99E7ED28A52F04C8DC1737E1AC5A3959C9E3E4BF99E52D9F2593177551EA7BE58C39BDFECE6859F9D24B43491C8920AE25A9650B9F71A0B8EDCA6FAD4EB0C5F7A8F96ED2F513D3245606613367EB198DAA9A4CF54C8A7779FE18B5B63DCDA19CB8E4E3D2D9116D4C678336F5E3E6621C524AD3843FA53D7495A7782B08E35D8A534A1B2F21713326A60625492878E92CA6C4696B6B27EFB2863CB16D1D1574ED77005F915520A5B58C81ED88BA90B4BD8F1F193F8F7C5E2D95283497A020DBB1A79EDAF0779E39B67983CD0269BF800E674AFA176FF6DE6EEBD44F1F1ABB4BD789DF61DC7B8FDBDFB9C3AF7162109296414BAF0E0FE72BE7C7B036FED98C39DA75298C8F725DA52457E620486A42CECB23BA978FE0D4A8FDE256BEB310C3DEBB19D2BBB423B03ED460D0C0E3EEC0B393898E0EBAF223ECE8AE4D8483AEA3BA4C0DBC5A113C7A96F16674DF4A5F35C3B0DCF4B6B64BE9EF0555B096C9C20AABB8D235F6CE3EA175D9C7E7F9D68309CA2A1F5E4AC3A2291E620C99BF652BDF728F7FFCB97FCE1F3CF69A9E9C5CF5FCF9997DBF9E6373BF8F0A51ADEDE92C0ED4DA9744B460FB356919911869D8FC0FC4E4A0EBF4AEDE9FB646D799EF0DED558CFEB45E5308B81BEE1D1992D9AAB5685B740BCB71D0677A9EFB556B8EBF4542E2865DFAEEDEC3DF024EB9EE9C590EF2A8945A4B4BE8ECC6D5DB80DD532F5603F273F5FCEA58F242125FA302985E14F7EF54BEE7FF280E55B9672F3E20BF0D5AF79E1E03A42FD4C59B7A494DF7E7286DFFC643F27560670FFD9506E2E3730EC654386AD29ADB275D449C68F19DD48EB8B1F33FAD217746E7C9592D19DB8E4168A6FD888061EE58101E94BDA482911EAAEC1E06A4188CE145F7B2D7A3B1DB1E1C98405471115194948B82FCD8B4AD97A70928E1515CCE94CC45019876B7E082BDFDAC6D12FB773EC1F76E2E86AC996654BF8EB977F847FFD86AFFFF0733EBCFB32E7B6AE20272A84D2744F1EDC5801BF39C5DB279A38B6C49B3B3B6279B62590322913EA42FD59BFAA0FBB986862B71C26EF954FC938F253B2B6BF419A646C2564AB2C9DFF16469566A9ABAD0949418EA407EB0877B6406F698A467A913A1B0FDCBCC270740FC0DB3F08BD979EF8A46006C66BD8B87388C4E4005C83D5344AF135F5E16AEA3694E16C67C63669BEFEE3ADEFF1E19D9BBC7AF618AB3B6B1928C820C2CA8391B2643EB939C45F7E2AC9F0C958CE2C09E3D94501B42638136DEA41655C145D12963DA323193D7F8BC4DD1709D9750DEF55C7F1EBDE8A7D6A9B98BC30D0F648038BC70645DA26A486389015E640ACA7164F6B336CCDB5586B5CA54D285B4001778F3062A3D3494F9A43564A025552D6AE92BAA7A331055783058609C998892E529A5B335856CE8A85FDB457D4509295C5BD93C7B87B783F3E661E0C97A772FFB905BCBF2F9B2B8BA339D818CAE2B91E14F8DBE3ADD2D1DB9A4F5AA2973051CD37FFF20DBB2FBC4A50CB08FEDD93F8370D611D257D2213DBBF3130216D6C771B152912163343AD84091D1E56263868ACA43DE2815E1F869B7B28FEBE89244417529CDB2AAD8D76AA0A4B08F376A52033849ABA39E8A427646AA6223DDE4061DE0289323564552F64D1E2B57CF0F6FBF49455E060E6485B492CCF8CF873AC37802375896CCA8CA1C9DF0183F85F98838EF125157878A958D356C99B070EF2C30B373977FE2A5D6BD762171D2D0DB84061C074A6B538538D4E8A09E96D55144ADB637E940D79D13A7CC4A4746A354E36EE047845101A104742542E73D31A2898BB90A6DA719262A5C16BA6466B6142B8B73BCD997309D6391014E027B9A0929891B554EE3947DBCE93E414B7E0652FBD1E0916BEDE2A72C254F4C6E9180B37D0A90F649E8DB40D85F9F5E3D5E49527616E69CE82A4246A12B369C82E63FD8A4D1C3A7B0E9F88281C6D9DB1515BD3D9D9F9703F303E36464CB03345E97A8A137564875A10ECA0C2D34A8DB346879F4B10F161E9E4A497519CDF4C4BC30873D28AB1D53A632B5AD2BB381264A3A54CEF4261B837B60E568435B611B8EA00AEE3FB09E8DC4CA0D42FF6767634B4E7B07A753D5D65D152EBEBC8B57225D54CA46FA9E5C0E62ED6AE907EA99D1781A98D180AFBF099D7816B6E8B340372B00849A5A8B48DAD036BC80A8EA37D61C7430DF4F40FE1A7B7A3A53492C16A0355698E443BABD0CBCEDF43632DDDB554F2B2EAA4EBD04D6BC32252E392B0579B12EC2CBB23893859018E2C0875A029C981B91116C44ABEF0CD2F2663DB2572A560CBDE7A9DB0E266FC83DD195A18C9EAA1589E5E9CCDF6EE0A9A12E3703333A5B9265D82C2041AE93CCF69DA44E5F657C9DD799BB8ED57085F7B02E79A49B2EA87F8F8C1A71C5EB19A08D174435313D7AE5D9B560D8C4B634B549B2CBD98E56D713CD99D4E45A23B61B66A026CEC5930AF5D360FABA8AEEC46EFEE85CEDA84605713E29C54548468E98FD5D197ED4063BD351B576788BDAE2752CA80ACA9978918388755FA042A9D3F56765A868AF5EC5D9C207D531DE5B1F67414459391EA84A5E0527B38125FBA96EADD6F9075E43EC947DE20E1D01B040DED47175EC9A55312D5EEDE62AA2D9300BD99B455DA1F32D0333824A72D0E3399CFC3CF9B8AEA7C9E186BA453E27B4B9C0595B959242564E262654D80D42F59012ACA0D2A3AD34C199EAB614D852B874763F8C1F1263E7A6B3725557208A2F726A5BE5FCE1BC2F0F3F1A0B6CA8F83074BF8D5D5065EDD9DC5E60E2F0A43CC09B6336574A08A9C4A69DF47A6306FD315320EBF8F41AAD5E467AE1035B1838A259B59B97E3B9FBEF70E47B62CA324D91357C9D68BBA7AB97EFDFAC34DBDCA318010D968EB73A450928655546294B4FF1278A2D940534114E991DE942579315911C986C670F6F6C77274491A2F6F2AE2C6BE466E1CEE61ED482E3111CE92641CB18ACCC43D368B4069ABAF1F2CE6B5E3837CF5939DFCF6F511EEED2F63534F2CC97A136AB322C84B8F233C3E49F61115CCDFFC02DEBDDBF16890CD546E3B872FBFC1375FFF19FEF4156F9E3ECE50693E492EB6B85B984957E2910F0C0E2E93EA2E0877A9317C2B97125ABF5C0E3624D6DAB91318E6CFFC3931CC4908A05816EB284FA4BF3A9EAE720375737D294CD34B6895EE5A883FEA8C04FC1A3B08EE5A43B4241C53E7649C2D3D280F0DA3CAC3815A2918AB629C186B4860DDA84433A999F2056202BDB0529B111E9D42B0ECB6D6ED3FCDAEE7CFB26ECD567EFBF3CFF9E34F3FE2E8EAD5F4E5E551121327FE298D2F49B28DE203335BCAA1A155521CC56197358053D5664918CF11B7F40486DE6DE8C4FEED93F2D02566626548441B112B2736724091964374652BA90B27C89A7892D2EDC729D97F9105CFDE60CEEAB32475ED40AD8B4167E1468AB4CBE325DC468A9F85DB6870927069692E11CE49A28F9CB8B8DB5910AA77E6E62BE7F9F4A34FE5CC5D24FEE77FE63F3D788D1B479FE1D0BA09962EACE3FDD76FF30331A3FEA131ACA5CC696E3632302C1AB00D439BD6897BEB6EE9109C244236E2C94FBF46D28E3B124DAE50B0EB2AE5FB6E51B5EF2675076ED2F9E2F7E93AFB80DAA3DF276F8F14594FDF64F8E96BECBAF8312B9EBD4A7C5605965A35C19E52D986EA30785BE025FE63103FF292186EA3B596934D39754931909561C0D2D484DEE67A7EF7F96FF9FA9F3EE1CB4FEFF3F1DDD31C5AD9C7B094F99F7DFFBAD4565F70E7FA2BB42F6A97F2C6E36F79604C0E8C5552F398C595625FF9046E0387F05B759EC8EDB74939F036B9FB5EA5E2E03D1A8FBE4EFB91BB2C7C4ED9595DA17EEB71BA2551ADB9F42E5B2F7E9FD3E7EF71FBE65BAC9D5842A2B7130DB96EBCB8BB8837AEF5716C4F092B86E26988F0264C6D8EB59909E6362638793AD03DD420B94343767636EF3CF819BF78E75D7E7CE614B79EDEC99AF252C67332F8FDDD1BFCF4E4714EAD7B8281BC4C7C2CE5904F12D94C6B716848DAEA3A671C93F3B19DD78A4DD9188E2DEBF1EADF89FFE86E82269576C8091257BE44DEA673D4EC78859CC99DC4B74D11DF308C8F24298F8434BCA3BC25E238E1AE962C9BABE7F6FE223EBBB788AF3E5AC9F51D7339D81BC5B6DA748A821DA4BB6687B5BD1981D27B0A13FF32B1D31097BB80D4EA5E693FB651288784557915BCBCEF08778EBDC8D9A7B6B1A9BB83BEFC39144BB2F4D19A48225B683CA594937A737339C395430A396D3409957D719C64DAB41A39A0A84193D38749CE28E6D983D8168CA22F9BC4AB7404B7BC85B86637E091DD8453CA5C1C0DF6980BF195E9411C5B5DC9C115A91C5997C0F63E5F76D607B32ED39BA98248E605E9C84990FAA9BA50CE94ADB010E2C352D329EC5E424EDF16B27B561353B58838A9B78A1AFB4948C921283C9AC0E02042E574C6CFDB518A4C6140CE89674A89A999937A13CCD43A2CECFD503B87488F2612AD4BA49C5785CA81B69C967BC4C8E63E0EAD770216DEF1D20090F3E4C044CCBC0C68657F6BEE1D248140CE0DE438A932399EDE05497494054A2FDF8ED239F634C6FAD0E0E34DB944AC781F9D442735D5D2F9080E0E93AF0334E8831348AE1E25A66513FABC6E3CC4125C526BE4F4325BFA4C8968141A1CE40B00399DD12AE767661A3A3ADA1F32D0DF2D5B34891026A6CAB711CAF70D0A583FFAEE41F996C1F81DC5EC51F96EE1E1B70B7F03731C350EB89AC84E4E6D818B38AD46F6B7E6B259B255B6AC02EE9626B2CF78F88E569AB566A6CAF711CA3718CADA72806DEE2F67C01EB207F714BF94D34C29BF552AD9014AFD3F737F862E853E15B575355CBD7A755A35225FA8D4D4D4505F5F271DDF669A1A1B1E4293111AE5BA89C6461915686AA4A1A17E061A1B1A66A0A1BE9EBABA5A6A6A6BA816A8AA51AE95B906C1DB409D3CA340756D2DB5B575325F276B56CF8C0ACEC6195C75528ED408D4CE408310D8A08C32DFD4583F4353E30C4D0FD71F92AF5C8E1E3DFA27D5F3CF3F3FAD78F3BD7BF7A695C4A0D4174A8AFE3F014595CABBB341997B1CC7BFE5997FCBBA972F5F9E3E71E2C4F4EBAFBFFEF977FA6BAD99CFE58C9F9B4D4E8CABBE23A0133A1108F8AE32502BC41F5484FD5D6420E191F4FF2E038A6A14B8F398396D7934AFDCEB79EC9EF2ECD95973461C9F3D9A0B98F5AEF1DEEC71E9DFB9AFACA310AA3CABE07AFCDDF9DFA60185983F0828488D3EA120525E56887CFFD1B56287CA7D2371B3197E1C87A272E53D051442143C465CCA9C2255E51DE59EB2AE321AE795B58DF418E715A694EB6F654041F0B8F49587150D28041B1D68FEA3DFCAF3CA0246692BCF28730A01B30560B45B857085698508651DA3A014FC462D1A19310AC8884B1995E795B5956BDDB76940413C635F8FC06873CAA2C6396501A3191917533464BC3F9B98D9914D21D8280865FE71B330DE5370290C2BCF28C41A1953046534A319C6FF9E09CD361F0581F2E26C421424CABC5112CA3813D61E3DA72C389BD0D98CCFC66D344B45604633319AA42238E53D45500A2EA3E6956715E9CF30F86D0CCC96AE5102B3193012AB20343A98512AC6458DAA7E3CAFCC96AC915023D3CA1A0A51468D1B7D4C215E617AF6BC42C3CC7BDFC68051BACAE20A81C608A120575E521854E6956B6551A3C9CD8E4E46626633F0B8648D8298ED570A91C679653DA3F69579E5B75190463AFE3706BE2D54299230461E85480589511A46B3F97B61F071B33386E7D9EF1BCDC7784F596FB6AD2B7E63646A76189DF18BC735A0106294A851FA460919E795058CE6A3CC29D7CA02C6FB461CB36D5DC1A1988211A7310A29BF957767DF339AAD72CFE847B39F37AE3363AEFF1E995891D0E389ED3FACA6FAF760C0E860FF61442B9237C2FFC2C077F59F20FEDFD90FFC7F0DFC5FFA5F9CFF09EC15A14888B5C4630000000049454E44AE426082)