use [CDT]
declare @sysSiteIDPRO as int
declare @sysSiteIDSTD as int
declare @sysMenuGTGT as int

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

Update sysMenu set MenuOrder = 4
where MenuName = N'Bảng kê chứng từ thuế GTGT mua vào'
and MenuOrder <> 4

--1) Tao menu trong quy trinh nghiep vu

if isnull(@sysSiteIDPRO,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDPRO

-- PRO
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 2)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (2, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDPRO)

delete from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu vào' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu vào' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê GTGT đầu vào', N'Edit list VAT in', @sysSiteIDPRO, NULL, NULL, NULL, 3, NULL, @sysMenuGTGT, 6001, 'ListVAT.ListVAT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD75000018EA494441546843ED59675455D7B63EA8B14573639A26CF24368C263751638FB1774D62496CD8A3B18222B643AF8214115114101491A6145110A54B513AD23B1C0EBD83345184EFCD4558BE2D924472C77DF7FD788C31C7DE67EDB5D79ADF9CDF2C6B230340D4DD9F8CCC578344A24FC789446F0D1489643AA7FCD9953DEB45D28784DDF3B96CFD761276A5B1B75A7A8906B595A3C62BBDDB8D7B3AC800741551AFEDF33FF94EA768CB5127EC5777C73E3537EC5175C56E6557EC12DFC4CE9337B0E3840BB61F77C1D6A3CED8A2E404B9234ED844D78D479CB19E649DA2137E3EE488B5F20E587DC01EABF6DAE1A7BDD7307BD571ACDD741063E75C50EC6EEF9E8EBDAEBCE8ADBE9FCFD22DC89254D25AAFFFB5B703ADAD6D6869694543D333D43D798AAADA26945535A2A8BC1ED2923AE416D6222BBF1A69B99548CA2A477C5A09A2938B1093520A734B67A8A9AB425E4913337F3632EDA9C2AF19FBB501D1E2990A3A9E1D9AB7BE68C5D3A7CFD0D6D280E72D756868AC4345F51314943C411E29992DAD467A5E2552B22B9090518EB8B4324493928F128B11FAB808413105F08FCA87FFA35CF88465E15E782E4E9D7580BAB61E4CCE18E2C809552CDAA6E3251AE830F8EF02E9C603BFFC626213D201A0F9E95334D437E159632DDA5ACBF1A4B612A5E5552828A26B491172252590480A90915388DC9C3CA467E621312D0F71C939884DC84262420A226252E11D9A83DBC199B8F320073AA60ED0313082E5651B18181AE0B858192B77A82488C6EB7DFE7740740360CD4ACD73BE1D001A9A1A504B167FF1B4147575E5A47C050A4BCA90935F8692E27C1416E6412ACD2100A47C760E814843764E0AD2329391989284E4947844C527C03D281BEE01E9700FCC8286F17518999E878B9B2BCE5FBC04FDD3A721561663D5B6A3C583BE549ADC5310DD00583A4341DB132FDADA515B578BEAAA2A9490D5CB4A4B515E5E84CCBC52246594223E95F1BA04114497F0842284C4152130A610BE5105F079248557B804B71EE47528EF1A9001E7FB6970F1CD8458DF0E672F58E37E803FAE393A75803845209455C4F879CBA18661130FFDD01310DD00983781659AA714A4D2E23AB23459BBA81845D202A24811E2938B11935488C884023C8C2F4068AC14C1D152F847E6E3FE2309EE86E7E14E482E3C8299E25970F6CD80834F1AECBC5270CD3B1D8735AC617DD591A815835B5EDE04C2F12508155531366C57C0C8E9F23BDF14443700A68FDD74D8A1BDF6493365936AE4563723ABB21969E5CD48296D42726903128A1B105FD480D8C27A4417D42392E491F409C2257508CEA9857F4635EEA556C22BB11CB7E24AE11A590CA7F002388617E3D0293B387BDC415A56168242C33A41704F1842454D199B77CAE38B59F247DF04443700267EB67ADFD5E725E54F902EA9427E43239EB66791A493A4A2B93D89E431491C9ADBA2D1DC1A81A6E7E1686A09415353101AEBFDD1507B1FF595DE78527A1BB5851EA891DC4475B6336A481CCE29C02FC017D2D272C426267580F0F4F6863DD1E9C2254BA2D3EF20B6EE3A887FCE39A8F65720BA013076E8D21DD68D79055548A41C9E53F784D68824092761D929908405B90FC91DA0CD03787E1378EA0C345D079E5C056A2E03959640E905A0E81C907F06C83102B20CE066FC0B65A804D4B5B4A1A4BA0E5979797818FB18777C03607FC30D17293B199D3181B68E06F61C3C8239AB5494FE0C44370086BC3B67E3C59AD4EC322A3C25C8A8ADA3F71F92049304742A7F97AEB7817652FE852BF08C946F26E51B48F93A1BA09A942FB7004A48F902523EEF77E591AE0B57E30D386F66800B66A761A8A706C5A327707CDF661CDAB2120AEB1660EDF2C598FAFD72CC9CB3040B162DC38C79ABF181EC96097F04A21B00BD074C5D73AE3C2EA5088F1E172099ACF482ACDF8620127F92FB24DE249E686B77A7FA70136D04A0EDE975B435D8A18D00B45559A18D00BC2832C78B7C53BCC831C68B0C03B4A6E923DB4B11C6F273707AF73418ED5F808D3B0EC1F9D862F8282F43B8DA2268FDF61B26AF54C7B425F298B2600F3E18BB1A32EFFCB0B00700447DBE5979461A16938790E83C4497D523AEAA16D1944AA3CAAA1051568947A515745F8970CA50A1C5A508292A4148610982A445F0CB91C2278332111533F7F84CB844A5C2212C0957031FC3FA5E0C2CBDA361E61A06638720E85F0D86AA750434CCEF41C5D80BC7F5DCB157F50E362A7960DD2127AC3FEC8C310B0D211ABC67464F00C87CB1D828CB372C13FE0FB3115E5083AAC607A86FBA8B274D14984D9EA86BBC89E8D2021454FBA2F6891D6AAA492A6C515D6A85AAC28BA8929C4765B6192AD24D509E7C1A65F1A7501AA58DD2700D9404ABA0C45F8C621F25A4BAABC3D8EA36A4D7F721DF6637249672B0D231C4CCFDDE58B2DD0A3F6EB7C0FB5334A98D5D37F68D01B08923E6EAA77AFA25C3E7410682F36BF01C8CF34E248E24D748AC105F91859A668A01503FF6FC2CC58031C5C069A0568F02589B02581D285421FE9F20FE53464C3D0C24C803D1FB28A47E031E6C439DB7024C2FB901EEEB69F9B580C3725CD7D682D15A79A41CF91512333DF81A9822465D7D6F8F000C9BA19BE8EC150F4FBF54F8E556530CDCA2F729B3C09AE422C919C495A7A2B2F106DDEB501093D24D5A948128EB552B0315C781E22380F410659F034006ED9FB40B88DF41096D0B10B609085A8B1ACF3D387D9ED6B8B982945F42B659813A16AFFBE6D33627811BE640A83BBD4359EFA23AA5B46E5AFFEE06874CD68AB5BD1905379F4478675622A7391ED2A610E41395F21B8348EE23A4380F8F2B2291D7700779B55EC8ABF2446E8507B28B6F2233DF997A2307A4A6D92129C116093156887B781131C1E688BC6F8A87778C10E6A687DB766770DCE436FC2C54E06DAE8E34F14FC0DA77809333017DBA3727E0B664983B7680E71560D364B2C2AB205ECB426CC2A06F3423CEDB87C3E9761C6EA594E1514D1122AB321141F2A832038FAA52718F02D6BF3007E19549082B23294DA4607E8CC0BC58F86546C227F921EEC485C03D32083742FCE0E8778FDA092FD8B8DDC2254757985F71841E597FF7A97BD0D5B7C611151B446CF827B09F54D21E02987D45565F0C586E23C6120D6F92E78FAE6605E9159DBB05D0FF4B8D5043AB205C738B86D3E332D4B753AE07F11B94CFA14FA242411C01490D8B0B3A58B510C71BE95A4B1CAF248E9710C7A5D4CEE4D0E6E972449F0D40ECCFC0A3D5C47DEAD5FC96531D9C8762C72D5031B027FE7F073FA599787198D439437285C4A13F603F82583B0B3847EF9EA73D7E9B9FF246007A8F550B602DB58D7304AE4695A2E2050B560E800A1201882C09437A05016B27AE3713E7EBE95A4D9C2F27CE1791EB25E4ED2CE27C0A71FE31713E6A1D717F0DD542A2860F71FEF60264DA6D839ED155649D9A8AAD7B8F21E3E2221A27E5C349A248EEF6220A7D44A02601CA1423CB86B340FC6B0F8846A9F99C30F4C625A291655831CA5A2953408384B24BC7F508A24A02905CC682780FB51164F97AB27CF56E0240962FDA4AD9872C9F49D92585AC17BF8A02912C1FBA0CF0275ADCA520F59C8E8C2B9B21D6B6C2A15593A06E6046FD903B12DCC9E275A4786D27886B8C5214175BDE6DC468D1A837033042D5535EFB16F13404E681F9C87CEA8B865663D4B79E2531A67B2D84160523A2F00E1A9E9F447DBD1AEA6B94514FD9E749B112EA2487509B751035297B511DBF0BD5113B5015B20595FE1B51E1BD0EE5EE6B50EEBC0C215607B1FB3735E8CACB41ACA649CD9C0D4CCCEDE1E42087FAA291947609883D01382E42DDAF43A93F79C32C24FA54CD7597F24D9CA13830A37EDEADAC14778AD2E1599441C2AEA970CC94E07A5A366E1525E19694243F11EEB98FE192168BEB099144BD7058853EC005FF009CF5BA0F23576FE839DC82A68D2B942F38E398C9356C11DBC2DD40051141F7704AFF34140E2B42555D132E37FD71E992156C0DD723FCCC5204EA6F8696AE11A5A63705305CCD41EE88234E5FF087DEED1CA4347B51DFA348729C4489FAA0DF9050ED8E8862161B9BD1D6B8837AA0AD68AB94435BC97AB449D7A22D7B15DA527F40DBE365688B5A84B6B0F9680B9C8D177729583DA6A1CD7D3272B53E8524902508C0ED86138E9F10434FDF00CACACAD0D2D687C2515D9C32B5C1212D535641BB4D38DD0F7EA26EB7F6801D74CD7CA1EE9A8984466A9B19D7A140B29F642B1C034EE3829735EA2A88D7CF2848EB88EB9594654A88EBF99465B289EBA90B88FF7388FFC4EBD0E914C05300EF8980C7D7448DCF906D301B8DE5C5785A51405D6D0392E31EC2D4D8003A3ABAD8B2ED57EC397008479494EA65BF18FF69CF000CD3B05CB1CB061A263E38E19086B8064F7A9F5221282D8282B379298E1A2BE1ACA735826F7F41632BA90A53C3583597007C4F29947AAFECA90480B2C7E36F28A37C4900685EC0180A604A8D773E4395FE3F9075EB129ACA24682E4E414B591AA5E2424A08E5781CEE0F571727B8986962D2C49FD2FF487936DEBD078669592CD86209F169EA10EDE2E04A452A9A1AB6A8EAEB88A9718477C2291CBE600CABA80730BCBC1DB14FAE20BAC8029112733CCA344558921182630C1010AE03DF404DF8DC558597FB09DC725482ABED61EA10B6214A6B016AD222D198FB082D8591785E128367A5F1682949426B651E79A41CE60A7B201AAA90D4730043B54D66ADBB0025DDDB3842EDAEB554028FC220B8173E806769182C42AFE2B0A5390C82A371FCA2183ED521F0C8F3815BA6379C933C713DC60D57C25C6015E0000B6F3B6A9F2FC3D89E3EA1589B43C3C21C27150F22F19A019A731FE0699E2F9E1704A095B2DAB3C23034491EA1B52C03F1D62A18FC891C44A3D5FF0E003DC329ABCE4141D303BBCD63E053718F8C409CC68F1D7429CF9F0433C77D38E7E788E03B9FA2AD89E852F32DD58009D481520B904B744923BA24502A8C22FA867E42F97F28F1FF03C0B51FA4DA635011ED81E60C57B44ADCF1A2C013AD522FB490119AF2C2D0106A83F9935642F4B90A7AC99E7CFC373CA0AFF9F50A533A5CB8619B4904DC8AD951722909FB64B312650553E0E07700072DED90133F0A66A73F47791A71BD9202544AFD4CF6382A60B214C00420E2736A1F8603F7A9A27A0D46D56911D26D0EA339DD11CFB3AFA02DFF1ADAA58E782171C1D32C77B4A77BC070CB2A883E56848CEC0906E0B5FE4708E80F62C050FD8B45C6D879E206E4F443602B894065CB4E92DDA87CB61B1697A741EEE0426C56914755CB3A6CDC3C028181735055B70AE5D2E528CF5A82B2E4852889998382D09990DEFB1AF9EEA3906F3714299AA350F5F03C9EA59F457B1EB5CB520BB4E75BA135FB321D3D6F20D6FC37BCF3D90EA20EB3FE3112E5A89E7B6098F1D1D1F38DE8F3F90D6CD1BD0F9D940258E73E84554E386CA5513870D5026BA872EA8425C35E1285791BD640F19C31AE4686E282CF6D98BAB940D7FE3AC49657A078D612F206E6D8AD6D01C5438AC8A5FEE7798A3EDA7374E9C04F8D618111DA252668CDB14243A00A56CCDE08D1289D4EE58F3300613D0730DC4CF1A3697A58B4FD32E62B7AC3388D7D5299D6295321C91E0DDB5BCB713182D26BF2C7505BF7366E6FEC472D525F603739F557925D9DC27E33D92982646F2F5405EDA122C74E6B623AB5D101A8489B3C6082FA68653ABC0D85EC042588BED0EA04D0E101F61DA75BA6FC711A1D6BB947345A19A23127D16BB615763EF47E658DB27C118C6CC741EC7D15F5F744D0FB5904AF35B4878208713F8990B796EEF7BC0AA09140A5AA8BD0E843819C47C747D67657521328DD8796C8A5A830ECD30172FC34952E0054827A0E40F6F26E195915C88C15A3F7F716D81016828AB611A8C42854D235357708E6AE1E85AF97CCC5B9131F4175DB10B8EEFC1049073F81CA8CB711B967248A8E8D46C1A191902A8CA053E568A42BF441899D086D11044C4A523390BC3088DA8CDEA8A6F1C77B872049EE33FCD7142D88C669A0D718667D26AAEC40DE430F8CB1DD2C23AB8ADEE3553060963126D9C460965B1A6639C64076B71A466F55C1BB5FCD824CDFB7317A951CC6FEB20BB3342DB03E201FC3BE5B8A654E5158712B138B9C9330DD3E136B0CAF53CF2F83167FD283BC87964EC9A36BB0084EAA5FA1DFAC2B786BBA05DE9A648CDE5FA91200C67F06408DF5313D057075A38CAC1AFAD042FDA79D46FFEFCE62C0C2EB78EB9B23E83755176F2FB4C3C02927D07FEC2AF41DB31CFDC62CC4270A9E187B2E0D9FC99FC34497644C0F28C48CE0428CF7AB82CDD92D68B9238B17A9EF511BD2A94B135D534428B4EB8F112BCDD06BDE35F49F6D8E7ED30C0880DA4B0032B21AF409B0C700AEAF9691557F0960E0EC7318BCD41E03262960F0020B0C9A6B8E81C4D5F7D67B63D8FE70BCB7421B23544230EE6C3CBE75C9C574EF3C7C47E788C9C1E5F8E586172A3C7F456B9602DA6BA8F103D5080CA29E89000489B09DBEC489E67960F0224BB07D5E05C0BCA0EEF2370038FF2823ABF93F00E6108065F61838F90806CD3B4B72016F4F57C5FB5B1FE0630660B93A4688FDF1E5F9444C724AC78CFBBF0398F8A006BB28E5B646ABA39D75B4AD947DB09D1A363A91657C087793099059EC89414BAF61D022AB3F00A0C50EDE3DA490EC8D2532B25A0440056F4D3140BFEFCD3070912D06CCD445FF2962BC3DEF1206CCD0C210B9000CDD178A212B34F1B9D80FE32E2462A2733AA6FB4A3083E26152480DD6585B23D1F85DE2FD55D283D5243AC4D76BA1E4FE4C8CD96081DE4BDD3168F1150C5860497160863E53F4211AAF0A99D18CFFC7A91A6BB30F513D05E03549668C2EFA7EAD8221734CF0FE620B7CB0C21643573BE39D6F0FA2DFB8ADF870A50D86EFF4C728C587F870B90AC6690662F2E5147CE79E85798152CC0F966266681DF67B582354478484EB22D4E6D1C1BE9EBE5867C9E3908E16066F0DC77F6DF0C0C76B9CF1D10F57F1FE220BBC3BDB1883276BA3DFF89390A1409691D53FD67300A36BFB884699A60D98A08EB54AAE9053BB8B4D9ABED8AC1B824D5A8134E68CCD06D1D86E1A8B5D56C9D8647C0FFB5CD270F87E3E8E3D2A867262458728253F8755B42DF229FBA4BA8910459F4C9C3486D3475C552C55F3C10F27DDB042D1193F1EB989B5273DB191C636886F63D351178C9CAB47DF388F43247B9E55D09E79A0A3C28D749E201A63983B77A73DE48D03B1CF2818FB4CC2B0DF341207CCE2B1DF2C16F29609386C978A63EE129CF0924035A8005A3165D04BADEA108DB45638D2D7B9F63A11427C3FC2CE034BF0F58F0AF872C5417CBB642B262D94C3C4791B3169BE1CA62ED98185EB8FD17FFDADB04BD51DEF7DAB41DDA83AFDE7E48F95EFD0F3A8D2913F14D1D0E8B745234C37F49E662AEE3BF7A2B8FF425B71FFC5F6244EE2012B5CC5EFACF712BFBFCB4FFCF1D150F1E7BA51E2B11609E2093733C553FD251DB25BDF2C92D6879C5C9F9C0FBE9D162B1A3E27B6EF886FA3FA0E9F10D967D83791BD3EFC2A52E6BDF19132FF181B2D1A3C2A4ED4EFE344D1C0B17745231555452335B6F7598C5EDDE8B787AD49429FEFFE02C09F817BC36727699EFF1BCEFD53630AD6C8ED044001F5EF0730993663F2A6CABDC9BCD3B41E334CC73FC5D90BEB3A1131B730B1EADC94FFE68BB297F8187B878F3305F938BB2EEA7CC636E2EBB1B9FC7D36BFA6F3F710BAC676CE639665BFF9BA373B7561EBB175D8FBECBD977A72006C41A6347BC05E621C132A3B8A7E3361CFD9666C2376E51B7103B035B862EC19578C5388EFC1D76657E1BE6C7DA161D8FBEC39DB8F836373D87A6C9C7DE77919C4DC8ADCDD6C1247CAC698359972CC425C01A167F8330E8003E6A0D95CBE2607C6941502667B08E926B436A7A2D0C31DA9B5AB1599824CF8C6FC05E619269C0A6CF1EEA8C5E6B3CD3848EE313697079FD0307C7D3EC6BCCFD7E5637C2F4E253EDEF1A1B7AB15D96F9EA6848B72B7B1E7CC52420A7137733AB0F719D8AE0A082DCA9EF17D8414E6F1C33DC841B3397C3EDB87C92B699429C5263305D9E66C3321671900F69C2DCC9EB1F91C3C07C737155A9FD3867B55088CD35618736C0DB62EB7369FC3D664C275ECD85BE801B6300F36A620A70B8F7E6150B3E77CA3EEA8C1839A5D8556E641CADEE78A086925A4257F8F27039E9184D9EE15004C41CE3F665D612AE4F73C6B74CDEB7C9C798CCDE5946056E7F7FCCA80736B32E5D8EF9794107895C711A734D78FCFED60C09F1532A105DEA4B8FC47E6FC1900A105FE15E5184598F5FEEE1AEC7D61BCBDB2CEFF462BC1B9FB770130E5793CBEB6C6BF1B00E337B3E0BFD2CCFD2913BA02E0AD004FA5DCFD2CF2D97D773D933095F20CC129C37B21362EEC85D8BDB0020BD36F77A955E8019E963B326157003C55F29CCDDDC714602F74D7337100BC3F12565E5EB8B802BCD6F0F5BB565DB63F072D6CF2B8077962E1B584FDE3FA95030D9FC08174B53853B66BCF242CFBECFDAE799F375FDCAB4C19BE86B0716306E0159D198183E4DEE7F58083E9A85B5D017085D962CC7AFC37771B73351F13B6BD42AAF0A68F8FB18D78D1E2DDA5B0CA720370CF752D9C6C6F5EE084B4EBE8CDBA0210F6F5BC60082B1F0F2861C514729BBFC394E11D27A71FAFD8BC20B1F1AEBDFFCB26AD33F3BC5275698CF74FDC1BAF5148D802F3569729C239C72C27EC99B8F5845E61D6E6F399F53810615C0993055F83F75D42FAB07BA1F7190036EF65ABD25D1AE516139E82849941D833F1CD857D12A7006FAB794C30E308BDC21411E675E12147D84BF17BA683F08CD2D10D7707E0E579B3132DDB98598F1F33853D13578081E5F461F7DC533CE83B5ADFCEE065F7DD5556BE06DB4FD84BF15E49A8075FEF77007FF5DDE5FFFAF3FF07F09FF6D07F03F58E529A1C3A3B0C0000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDSTD

-- STD
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 2)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (2, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDSTD)

delete from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu vào' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu vào' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê GTGT đầu vào', N'Edit list VAT in', @sysSiteIDSTD, NULL, NULL, NULL, 3, NULL, @sysMenuGTGT, 6001, 'ListVAT.ListVAT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD75000018EA494441546843ED59675455D7B63EA8B14573639A26CF24368C263751638FB1774D62496CD8A3B18222B643AF8214115114101491A6145110A54B513AD23B1C0EBD83345184EFCD4558BE2D924472C77DF7FD788C31C7DE67EDB5D79ADF9CDF2C6B230340D4DD9F8CCC578344A24FC789446F0D1489643AA7FCD9953DEB45D28784DDF3B96CFD761276A5B1B75A7A8906B595A3C62BBDDB8D7B3AC800741551AFEDF33FF94EA768CB5127EC5777C73E3537EC5175C56E6557EC12DFC4CE9337B0E3840BB61F77C1D6A3CED8A2E404B9234ED844D78D479CB19E649DA2137E3EE488B5F20E587DC01EABF6DAE1A7BDD7307BD571ACDD741063E75C50EC6EEF9E8EBDAEBCE8ADBE9FCFD22DC89254D25AAFFFB5B703ADAD6D6869694543D333D43D798AAADA26945535A2A8BC1ED2923AE416D6222BBF1A69B99548CA2A477C5A09A2938B1093520A734B67A8A9AB425E4913337F3632EDA9C2AF19FBB501D1E2990A3A9E1D9AB7BE68C5D3A7CFD0D6D280E72D756868AC4345F51314943C411E29992DAD467A5E2552B22B9090518EB8B4324493928F128B11FAB808413105F08FCA87FFA35CF88465E15E782E4E9D7580BAB61E4CCE18E2C809552CDAA6E3251AE830F8EF02E9C603BFFC626213D201A0F9E95334D437E159632DDA5ACBF1A4B612A5E5552828A26B491172252590480A90915388DC9C3CA467E621312D0F71C939884DC84262420A226252E11D9A83DBC199B8F320073AA60ED0313082E5651B18181AE0B858192B77A82488C6EB7DFE7740740360CD4ACD73BE1D001A9A1A504B167FF1B4147575E5A47C050A4BCA90935F8692E27C1416E6412ACD2100A47C760E814843764E0AD2329391989284E4947844C527C03D281BEE01E9700FCC8286F17518999E878B9B2BCE5FBC04FDD3A721561663D5B6A3C583BE549ADC5310DD00583A4341DB132FDADA515B578BEAAA2A9490D5CB4A4B515E5E84CCBC52246594223E95F1BA04114497F0842284C4152130A610BE5105F079248557B804B71EE47528EF1A9001E7FB6970F1CD8458DF0E672F58E37E803FAE393A75803845209455C4F879CBA18661130FFDD01310DD00983781659AA714A4D2E23AB23459BBA81845D202A24811E2938B11935488C884023C8C2F4068AC14C1D152F847E6E3FE2309EE86E7E14E482E3C8299E25970F6CD80834F1AECBC5270CD3B1D8735AC617DD591A815835B5EDE04C2F12508155531366C57C0C8E9F23BDF14443700A68FDD74D8A1BDF6493365936AE4563723ABB21969E5CD48296D42726903128A1B105FD480D8C27A4417D42392E491F409C2257508CEA9857F4635EEA556C22BB11CB7E24AE11A590CA7F002388617E3D0293B387BDC415A56168242C33A41704F1842454D199B77CAE38B59F247DF04443700267EB67ADFD5E725E54F902EA9427E43239EB66791A493A4A2B93D89E431491C9ADBA2D1DC1A81A6E7E1686A09415353101AEBFDD1507B1FF595DE78527A1BB5851EA891DC4475B6336A481CCE29C02FC017D2D272C426267580F0F4F6863DD1E9C2254BA2D3EF20B6EE3A887FCE39A8F65720BA013076E8D21DD68D79055548A41C9E53F784D68824092761D929908405B90FC91DA0CD03787E1378EA0C345D079E5C056A2E03959640E905A0E81C907F06C83102B20CE066FC0B65A804D4B5B4A1A4BA0E5979797818FB18777C03607FC30D17293B199D3181B68E06F61C3C8239AB5494FE0C44370086BC3B67E3C59AD4EC322A3C25C8A8ADA3F71F92049304742A7F97AEB7817652FE852BF08C946F26E51B48F93A1BA09A942FB7004A48F902523EEF77E591AE0B57E30D386F66800B66A761A8A706C5A327707CDF661CDAB2120AEB1660EDF2C598FAFD72CC9CB3040B162DC38C79ABF181EC96097F04A21B00BD074C5D73AE3C2EA5088F1E172099ACF482ACDF8620127F92FB24DE249E686B77A7FA70136D04A0EDE975B435D8A18D00B45559A18D00BC2832C78B7C53BCC831C68B0C03B4A6E923DB4B11C6F273707AF73418ED5F808D3B0EC1F9D862F8282F43B8DA2268FDF61B26AF54C7B425F298B2600F3E18BB1A32EFFCB0B00700447DBE5979461A16938790E83C4497D523AEAA16D1944AA3CAAA1051568947A515745F8970CA50A1C5A508292A4148610982A445F0CB91C2278332111533F7F84CB844A5C2212C0957031FC3FA5E0C2CBDA361E61A06638720E85F0D86AA750434CCEF41C5D80BC7F5DCB157F50E362A7960DD2127AC3FEC8C310B0D211ABC67464F00C87CB1D828CB372C13FE0FB3115E5083AAC607A86FBA8B274D14984D9EA86BBC89E8D2021454FBA2F6891D6AAA492A6C515D6A85AAC28BA8929C4765B6192AD24D509E7C1A65F1A7501AA58DD2700D9404ABA0C45F8C621F25A4BAABC3D8EA36A4D7F721DF6637249672B0D231C4CCFDDE58B2DD0A3F6EB7C0FB5334A98D5D37F68D01B08923E6EAA77AFA25C3E7410682F36BF01C8CF34E248E24D748AC105F91859A668A01503FF6FC2CC58031C5C069A0568F02589B02581D285421FE9F20FE53464C3D0C24C803D1FB28A47E031E6C439DB7024C2FB901EEEB69F9B580C3725CD7D682D15A79A41CF91512333DF81A9822465D7D6F8F000C9BA19BE8EC150F4FBF54F8E556530CDCA2F729B3C09AE422C919C495A7A2B2F106DDEB501093D24D5A948128EB552B0315C781E22380F410659F034006ED9FB40B88DF41096D0B10B609085A8B1ACF3D387D9ED6B8B982945F42B659813A16AFFBE6D33627811BE640A83BBD4359EFA23AA5B46E5AFFEE06874CD68AB5BD1905379F4478675622A7391ED2A610E41395F21B8348EE23A4380F8F2B2291D7700779B55EC8ABF2446E8507B28B6F2233DF997A2307A4A6D92129C116093156887B781131C1E688BC6F8A87778C10E6A687DB766770DCE436FC2C54E06DAE8E34F14FC0DA77809333017DBA3727E0B664983B7680E71560D364B2C2AB205ECB426CC2A06F3423CEDB87C3E9761C6EA594E1514D1122AB321141F2A832038FAA52718F02D6BF3007E19549082B23294DA4607E8CC0BC58F86546C227F921EEC485C03D32083742FCE0E8778FDA092FD8B8DDC2254757985F71841E597FF7A97BD0D5B7C611151B446CF827B09F54D21E02987D45565F0C586E23C6120D6F92E78FAE6605E9159DBB05D0FF4B8D5043AB205C738B86D3E332D4B753AE07F11B94CFA14FA242411C01490D8B0B3A58B510C71BE95A4B1CAF248E9710C7A5D4CEE4D0E6E972449F0D40ECCFC0A3D5C47DEAD5FC96531D9C8762C72D5031B027FE7F073FA599787198D439437285C4A13F603F82583B0B3847EF9EA73D7E9B9FF246007A8F550B602DB58D7304AE4695A2E2050B560E800A1201882C09437A05016B27AE3713E7EBE95A4D9C2F27CE1791EB25E4ED2CE27C0A71FE31713E6A1D717F0DD542A2860F71FEF60264DA6D839ED155649D9A8AAD7B8F21E3E2221A27E5C349A248EEF6220A7D44A02601CA1423CB86B340FC6B0F8846A9F99C30F4C625A291655831CA5A2953408384B24BC7F508A24A02905CC682780FB51164F97AB27CF56E0240962FDA4AD9872C9F49D92585AC17BF8A02912C1FBA0CF0275ADCA520F59C8E8C2B9B21D6B6C2A15593A06E6046FD903B12DCC9E275A4786D27886B8C5214175BDE6DC468D1A837033042D5535EFB16F13404E681F9C87CEA8B865663D4B79E2531A67B2D84160523A2F00E1A9E9F447DBD1AEA6B94514FD9E749B112EA2487509B751035297B511DBF0BD5113B5015B20595FE1B51E1BD0EE5EE6B50EEBC0C215607B1FB3735E8CACB41ACA649CD9C0D4CCCEDE1E42087FAA291947609883D01382E42DDAF43A93F79C32C24FA54CD7597F24D9CA13830A37EDEADAC14778AD2E1599441C2AEA970CC94E07A5A366E1525E19694243F11EEB98FE192168BEB099144BD7058853EC005FF009CF5BA0F23576FE839DC82A68D2B942F38E398C9356C11DBC2DD40051141F7704AFF34140E2B42555D132E37FD71E992156C0DD723FCCC5204EA6F8696AE11A5A63705305CCD41EE88234E5FF087DEED1CA4347B51DFA348729C4489FAA0DF9050ED8E8862161B9BD1D6B8837AA0AD68AB94435BC97AB449D7A22D7B15DA527F40DBE365688B5A84B6B0F9680B9C8D177729583DA6A1CD7D3272B53E8524902508C0ED86138E9F10434FDF00CACACAD0D2D687C2515D9C32B5C1212D535641BB4D38DD0F7EA26EB7F6801D74CD7CA1EE9A8984466A9B19D7A140B29F642B1C034EE3829735EA2A88D7CF2848EB88EB9594654A88EBF99465B289EBA90B88FF7388FFC4EBD0E914C05300EF8980C7D7448DCF906D301B8DE5C5785A51405D6D0392E31EC2D4D8003A3ABAD8B2ED57EC397008479494EA65BF18FF69CF000CD3B05CB1CB061A263E38E19086B8064F7A9F5221282D8282B379298E1A2BE1ACA735826F7F41632BA90A53C3583597007C4F29947AAFECA90480B2C7E36F28A37C4900685EC0180A604A8D773E4395FE3F9075EB129ACA24682E4E414B591AA5E2424A08E5781CEE0F571727B8986962D2C49FD2FF487936DEBD078669592CD86209F169EA10EDE2E04A452A9A1AB6A8EAEB88A9718477C2291CBE600CABA80730BCBC1DB14FAE20BAC8029112733CCA344558921182630C1010AE03DF404DF8DC558597FB09DC725482ABED61EA10B6214A6B016AD222D198FB082D8591785E128367A5F1682949426B651E79A41CE60A7B201AAA90D4730043B54D66ADBB0025DDDB3842EDAEB554028FC220B8173E806769182C42AFE2B0A5390C82A371FCA2183ED521F0C8F3815BA6379C933C713DC60D57C25C6015E0000B6F3B6A9F2FC3D89E3EA1589B43C3C21C27150F22F19A019A731FE0699E2F9E1704A095B2DAB3C23034491EA1B52C03F1D62A18FC891C44A3D5FF0E003DC329ABCE4141D303BBCD63E053718F8C409CC68F1D7429CF9F0433C77D38E7E788E03B9FA2AD89E852F32DD58009D481520B904B744923BA24502A8C22FA867E42F97F28F1FF03C0B51FA4DA635011ED81E60C57B44ADCF1A2C013AD522FB490119AF2C2D0106A83F9935642F4B90A7AC99E7CFC373CA0AFF9F50A533A5CB8619B4904DC8AD951722909FB64B312650553E0E07700072DED90133F0A66A73F47791A71BD9202544AFD4CF6382A60B214C00420E2736A1F8603F7A9A27A0D46D56911D26D0EA339DD11CFB3AFA02DFF1ADAA58E782171C1D32C77B4A77BC070CB2A883E56848CEC0906E0B5FE4708E80F62C050FD8B45C6D879E206E4F443602B894065CB4E92DDA87CB61B1697A741EEE0426C56914755CB3A6CDC3C028181735055B70AE5D2E528CF5A82B2E4852889998382D09990DEFB1AF9EEA3906F3714299AA350F5F03C9EA59F457B1EB5CB520BB4E75BA135FB321D3D6F20D6FC37BCF3D90EA20EB3FE3112E5A89E7B6098F1D1D1F38DE8F3F90D6CD1BD0F9D940258E73E84554E386CA5513870D5026BA872EA8425C35E1285791BD640F19C31AE4686E282CF6D98BAB940D7FE3AC49657A078D612F206E6D8AD6D01C5438AC8A5FEE7798A3EDA7374E9C04F8D618111DA252668CDB14243A00A56CCDE08D1289D4EE58F3300613D0730DC4CF1A3697A58B4FD32E62B7AC3388D7D5299D6295321C91E0DDB5BCB713182D26BF2C7505BF7366E6FEC472D525F603739F557925D9DC27E33D92982646F2F5405EDA122C74E6B623AB5D101A8489B3C6082FA68653ABC0D85EC042588BED0EA04D0E101F61DA75BA6FC711A1D6BB947345A19A23127D16BB615763EF47E658DB27C118C6CC741EC7D15F5F744D0FB5904AF35B4878208713F8990B796EEF7BC0AA09140A5AA8BD0E843819C47C747D67657521328DD8796C8A5A830ECD30172FC34952E0054827A0E40F6F26E195915C88C15A3F7F716D81016828AB611A8C42854D235357708E6AE1E85AF97CCC5B9131F4175DB10B8EEFC1049073F81CA8CB711B967248A8E8D46C1A191902A8CA053E568A42BF441899D086D11044C4A523390BC3088DA8CDEA8A6F1C77B872049EE33FCD7142D88C669A0D718667D26AAEC40DE430F8CB1DD2C23AB8ADEE3553060963126D9C460965B1A6639C64076B71A466F55C1BB5FCD824CDFB7317A951CC6FEB20BB3342DB03E201FC3BE5B8A654E5158712B138B9C9330DD3E136B0CAF53CF2F83167FD283BC87964EC9A36BB0084EAA5FA1DFAC2B786BBA05DE9A648CDE5FA91200C67F06408DF5313D057075A38CAC1AFAD042FDA79D46FFEFCE62C0C2EB78EB9B23E83755176F2FB4C3C02927D07FEC2AF41DB31CFDC62CC4270A9E187B2E0D9FC99FC34497644C0F28C48CE0428CF7AB82CDD92D68B9238B17A9EF511BD2A94B135D534428B4EB8F112BCDD06BDE35F49F6D8E7ED30C0880DA4B0032B21AF409B0C700AEAF9691557F0960E0EC7318BCD41E03262960F0020B0C9A6B8E81C4D5F7D67B63D8FE70BCB7421B23544230EE6C3CBE75C9C574EF3C7C47E788C9C1E5F8E586172A3C7F456B9602DA6BA8F103D5080CA29E89000489B09DBEC489E67960F0224BB07D5E05C0BCA0EEF2370038FF2823ABF93F00E6108065F61838F90806CD3B4B72016F4F57C5FB5B1FE0630660B93A4688FDF1E5F9444C724AC78CFBBF0398F8A006BB28E5B646ABA39D75B4AD947DB09D1A363A91657C087793099059EC89414BAF61D022AB3F00A0C50EDE3DA490EC8D2532B25A0440056F4D3140BFEFCD3070912D06CCD445FF2962BC3DEF1206CCD0C210B9000CDD178A212B34F1B9D80FE32E2462A2733AA6FB4A3083E26152480DD6585B23D1F85DE2FD55D283D5243AC4D76BA1E4FE4C8CD96081DE4BDD3168F1150C5860497160863E53F4211AAF0A99D18CFFC7A91A6BB30F513D05E03549668C2EFA7EAD8221734CF0FE620B7CB0C21643573BE39D6F0FA2DFB8ADF870A50D86EFF4C728C587F870B90AC6690662F2E5147CE79E85798152CC0F966266681DF67B582354478484EB22D4E6D1C1BE9EBE5867C9E3908E16066F0DC77F6DF0C0C76B9CF1D10F57F1FE220BBC3BDB1883276BA3DFF89390A1409691D53FD67300A36BFB884699A60D98A08EB54AAE9053BB8B4D9ABED8AC1B824D5A8134E68CCD06D1D86E1A8B5D56C9D8647C0FFB5CD270F87E3E8E3D2A867262458728253F8755B42DF229FBA4BA8910459F4C9C3486D3475C552C55F3C10F27DDB042D1193F1EB989B5273DB191C636886F63D351178C9CAB47DF388F43247B9E55D09E79A0A3C28D749E201A63983B77A73DE48D03B1CF2818FB4CC2B0DF341207CCE2B1DF2C16F29609386C978A63EE129CF0924035A8005A3165D04BADEA108DB45638D2D7B9F63A11427C3FC2CE034BF0F58F0AF872C5417CBB642B262D94C3C4791B3169BE1CA62ED98185EB8FD17FFDADB04BD51DEF7DAB41DDA83AFDE7E48F95EFD0F3A8D2913F14D1D0E8B745234C37F49E662AEE3BF7A2B8FF425B71FFC5F6244EE2012B5CC5EFACF712BFBFCB4FFCF1D150F1E7BA51E2B11609E2093733C553FD251DB25BDF2C92D6879C5C9F9C0FBE9D162B1A3E27B6EF886FA3FA0E9F10D967D83791BD3EFC2A52E6BDF19132FF181B2D1A3C2A4ED4EFE344D1C0B17745231555452335B6F7598C5EDDE8B787AD49429FEFFE02C09F817BC36727699EFF1BCEFD53630AD6C8ED044001F5EF0730993663F2A6CABDC9BCD3B41E334CC73FC5D90BEB3A1131B730B1EADC94FFE68BB297F8187B878F3305F938BB2EEA7CC636E2EBB1B9FC7D36BFA6F3F710BAC676CE639665BFF9BA373B7561EBB175D8FBECBD977A72006C41A6347BC05E621C132A3B8A7E3361CFD9666C2376E51B7103B035B862EC19578C5388EFC1D76657E1BE6C7DA161D8FBEC39DB8F836373D87A6C9C7DE77919C4DC8ADCDD6C1247CAC698359972CC425C01A167F8330E8003E6A0D95CBE2607C6941502667B08E926B436A7A2D0C31DA9B5AB1599824CF8C6FC05E619269C0A6CF1EEA8C5E6B3CD3848EE313697079FD0307C7D3EC6BCCFD7E5637C2F4E253EDEF1A1B7AB15D96F9EA6848B72B7B1E7CC52420A7137733AB0F719D8AE0A082DCA9EF17D8414E6F1C33DC841B3397C3EDB87C92B699429C5263305D9E66C3321671900F69C2DCC9EB1F91C3C07C737155A9FD3867B55088CD35618736C0DB62EB7369FC3D664C275ECD85BE801B6300F36A620A70B8F7E6150B3E77CA3EEA8C1839A5D8556E641CADEE78A086925A4257F8F27039E9184D9EE15004C41CE3F665D612AE4F73C6B74CDEB7C9C798CCDE5946056E7F7FCCA80736B32E5D8EF9794107895C711A734D78FCFED60C09F1532A105DEA4B8FC47E6FC1900A105FE15E5184598F5FEEE1AEC7D61BCBDB2CEFF462BC1B9FB770130E5793CBEB6C6BF1B00E337B3E0BFD2CCFD2913BA02E0AD004FA5DCFD2CF2D97D773D933095F20CC129C37B21362EEC85D8BDB0020BD36F77A955E8019E963B326157003C55F29CCDDDC714602F74D7337100BC3F12565E5EB8B802BCD6F0F5BB565DB63F072D6CF2B8077962E1B584FDE3FA95030D9FC08174B53853B66BCF242CFBECFDAE799F375FDCAB4C19BE86B0716306E0159D198183E4DEE7F58083E9A85B5D017085D962CC7AFC37771B73351F13B6BD42AAF0A68F8FB18D78D1E2DDA5B0CA720370CF752D9C6C6F5EE084B4EBE8CDBA0210F6F5BC60082B1F0F2861C514729BBFC394E11D27A71FAFD8BC20B1F1AEBDFFCB26AD33F3BC5275698CF74FDC1BAF5148D802F3569729C239C72C27EC99B8F5845E61D6E6F399F53810615C0993055F83F75D42FAB07BA1F7190036EF65ABD25D1AE516139E82849941D833F1CD857D12A7006FAB794C30E308BDC21411E675E12147D84BF17BA683F08CD2D10D7707E0E579B3132DDB98598F1F33853D13578081E5F461F7DC533CE83B5ADFCEE065F7DD5556BE06DB4FD84BF15E49A8075FEF77007FF5DDE5FFFAF3FF07F09FF6D07F03F58E529A1C3A3B0C0000000049454E44AE426082)
END

END

--2) Them table MVATIn
if not exists (select top 1 1 from sysTable where TableName = 'MVATIn' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'MVATIn', N'Danh sách bảng kê thuế GTGT đầu vào', N'List of VAT Input', N'MVATInID', NULL, NULL, 0, N'Stt', NULL, 0, NULL, 8, NULL, 2)

GO

declare @sysTableMVatID as int
select @sysTableMVatID = sysTableID from sysTable where TableName = 'MVATIn' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'MVATInID' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'MVATInID', 0, NULL, NULL, NULL, NULL, 6, N'Mã bảng kê', N'Mã bảng kê E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'KyBKMV' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'KyBKMV', 0, NULL, NULL, NULL, NULL, 5, N'Kỳ báo cáo', N'Post period', 1, NULL, NULL, 12, 1, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NamBKMV' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'NamBKMV', 0, NULL, NULL, NULL, NULL, 5, N'Năm', N'Year', 1, NULL, NULL, 9999, 1900, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, N'####', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayBKMV' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'NgayBKMV', 0, NULL, NULL, NULL, NULL, 9, N'Ngày lập bảng kê', N'Post date', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalTTien' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalTTien', 1, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế', N'Revenue (not include tax)', 3, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_MVATIn_ToTalTTien', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalThue' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalThue', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế', N'Tax amount', 4, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_MVATIn_ToTalThue', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalTTienNT' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalTTienNT', 1, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế NT', N'Original revenue (not include tax)', 5, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_MVATIn_ToTalTTienNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalThueNT' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalThueNT', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế NT', N'Original tax amount', 6, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_MVATIn_ToTalThueNT', N'### ### ### ##0', 0, NULL)

GO

--3) Them table DVATIn

if not exists (select top 1 1 from sysTable where TableName = 'DVatIn' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DVatIn', N'Chi tiết danh sách bảng kê thuế GTGT đầu vào', N'Detail of list VAT Input', N'DVATInID', NULL, N'MVATIn', 3, N'Stt', NULL, 0, NULL, 8, N'GTGTTHMVAOTT28', 1)

GO

declare @sysTableDVatID as int
select @sysTableDVatID = sysTableID from sysTable where TableName = 'DVatIn' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'DVATInID' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'DVATInID', 0, NULL, NULL, NULL, NULL, 6, N'Mã chi tiết', N'Mã chi tiết E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MVATInID' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MVATInID', 0, N'MVATInID', N'MVATIn', NULL, NULL, 7, N'Mã bảng kê', N'Mã bảng kê E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, N'FK_DVatIn_MVATIn2', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaLoaiThue' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaLoaiThue', 0, N'MaLoaiThue', N'DMLThue', NULL, NULL, 1, N'Loại thuế', N'Tax type', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DVatIn_DMLThue3', NULL, N'#', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaLoaiHD' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaLoaiHD', 0, N'MaLoaiHD', N'DMLHD', NULL, NULL, 1, N'Loại hóa đơn', N'Invoice type', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DVatIn_DMLHD4', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayHd' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'NgayHd', 0, NULL, NULL, NULL, NULL, 9, N'Ngày hóa đơn', N'Invoice date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayCt' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'NgayCt', 0, NULL, NULL, NULL, NULL, 9, N'Ngày HT VAT', N'Post date', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Sohoadon' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'Sohoadon', 0, NULL, NULL, NULL, NULL, 2, N'Số hóa đơn', N'Invoice number', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'SoSeries' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'SoSeries', 0, NULL, NULL, NULL, NULL, 2, N'Ký hiệu hóa đơn', N'Seri number', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenKH' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TenKH', 0, NULL, NULL, NULL, NULL, 2, N'Tên nhà cung cấp', N'Name of supplier', 7, NULL, N'MaKH.TenKH', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MST' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MST', 1, NULL, NULL, NULL, NULL, 2, N'Mã số thuế', N'Tax number', 8, NULL, N'MaKH.MST', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'DienGiai' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'DienGiai', 1, NULL, NULL, NULL, NULL, 2, N'Tên mặt hàng', N'Material name', 9, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TTien' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TTien', 0, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế', N'Revenue (not include tax)', 10, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVatIn_TTien', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaThue' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaThue', 0, N'MaThue', N'DMThueSuat', NULL, NULL, 1, N'Mã thuế', N'Tax code', 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DVatIn_DMThueSuat13', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueSuat' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'ThueSuat', 0, NULL, NULL, NULL, NULL, 8, N'Thuế suất', N'Tax rate', 12, NULL, N'MaThue.ThueSuat', NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVatIn_ThueSuat', N'#0.##', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Thue' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'Thue', 0, NULL, NULL, NULL, NULL, 8, N'Tiền thuế', N'Tax amount', 13, NULL, N'@TTien*@ThueSuat/100', NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVatIn_Thue', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'GhiChu' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'GhiChu', 1, NULL, NULL, NULL, NULL, 2, N'Ghi chú', N'Notes', 14, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TTienNT' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TTienNT', 0, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế NT', N'Original revenue (not include tax)', 15, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_DVatIn_TTienNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueNT' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'ThueNT', 0, NULL, NULL, NULL, NULL, 8, N'Tiền thuế NT', N'Original tax amount', 16, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_DVatIn_ThueNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaKH' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaKH', 0, N'MaKH', N'DMKH', NULL, NULL, 1, N'Mã nhà cung cấp', N'Supplier code', 17, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, N'FK_DVatIn_DMKH', NULL, NULL, 0, NULL)

-- 4) Màn hình danh sách bảng kê chứng từ thuế GTGT mua vào
declare @sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysReportBKMVID int,
		@sysTableMVatID int,
		@sysFieldKyID int
select @sysTableMVatID = sysTableID from sysTable where TableName = 'MVATIn' and sysPackageID = 8

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

Update sysReport set Query=N'IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''#VATInTemp'') AND type in (N''U''))
BEGIN
create table #VATInTemp
 (
	[NgayCt] smalldatetime NULL,
	[NgayHd] smalldatetime NULL,
	[SoSeries] nvarchar(128) NULL,
	[Sohoadon] nvarchar(128) NULL,
	[TenKH] nvarchar(128) NULL,
	[MST] nvarchar(128) NULL,
	[DienGiai] nvarchar(128) NULL,
	[TTien] decimal(20,6) NULL, 
	[ThueSuat] decimal(20,6) NULL,
	[Thue] decimal(20,6) NULL,
	[GhiChu] nvarchar(128) NULL,
	[MaLoaiThue] int NULL, 
	[KyBKMV] int NULL, 
	[NamBKMV] int NULL,
	[NgayBKMV] smalldatetime NULL
)
END

delete from #VATInTemp

declare @maLoaiThue int,
		@ky as int,
		@ngayBKMV as smalldatetime

Select @ky = mst.KyBKMV, @ngayBKMV = mst.NgayBKMV
 from MVATIn mst inner join DVATIn dt on mst.MVATInID = dt.MVATInID
 where @@ps and mst.NamBKMV = @@NAM
 
declare cur_LThue cursor for
select MaLoaiThue from DMLThue order by MaLoaiThue

open cur_LThue
fetch next from cur_LThue into @maLoaiThue

WHILE @@FETCH_STATUS = 0
BEGIN

-- Insert cac dong trong vao bang DVATIn de len bao cao
if not exists (select top 1 1 from DVATIn dt inner join MVATIn mst on mst.MVATInID = dt.MVATInID where @@ps and mst.NamBKMV = @@NAM and dt.MaLoaiThue = @maLoaiThue)
INSERT INTO #VATInTemp ([NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaLoaiThue],[KyBKMV],[NamBKMV], [NgayBKMV]) 
VALUES (NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, @maLoaiThue, @ky, @@NAM, @ngayBKMV)

fetch next from cur_LThue into @maLoaiThue

END

close cur_LThue
deallocate cur_LThue

Select dt.NgayCt as [Ngày HT VAT], dt.NgayHd, dt.SoSeries, dt.Sohoadon, dt.TenKH, dt.MST, dt.DienGiai as [Tên mặt hàng], Sum(dt.TTien) TTien, dt.ThueSuat as ThueSuat,
Sum(dt.Thue) Thue, dt.GhiChu as GhiChu, dt.MaLoaiThue as [Loại thuế], mst.KyBKMV, mst.NamBKMV, mst.NgayBKMV, dt.MaThue
 from MVATIn mst inner join DVATIn dt on mst.MVATInID = dt.MVATInID
 where @@ps and mst.NamBKMV = @@NAM
 group by dt.ngayhd, dt.MaLoaiThue, dt.Sohoadon, dt.soseries, dt.ngayct, dt.TenKH, dt.MST, dt.DienGiai, dt.MaThue, dt.ThueSuat, mst.KyBKMV, mst.NamBKMV, mst.NgayBKMV, dt.GhiChu
union
Select [NgayCt] as [Ngày HT VAT],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien], [ThueSuat],[Thue],[GhiChu],[MaLoaiThue],[KyBKMV],[NamBKMV], [NgayBKMV], NULL
from #VATInTemp
order by MaLoaiThue, Ngayhd, Sohoadon
 
drop table #VATInTemp',
ReportFile=N'GTGTTHMVAOTT28',
mtTableID = @sysTableMVatID--, dtTableID = @sysTableDVatID,
where ReportName = N'Bảng kê thuế GTGT mua vào'

select @sysReportBKMVID = sysReportID from sysReport where ReportName = N'Bảng kê thuế GTGT mua vào'
select @sysFieldKyID = sysFieldID from sysField where sysTableID = @sysTableMVatID and FieldName = 'KyBKMV'

if not exists (select top 1 1 from [sysReportFilter] where [sysFieldID] = @sysFieldKyID and [sysReportID] = @sysReportBKMVID)
BEGIN

if @sysReportBKMVID is not null
BEGIN

delete from sysReportFilter
where sysReportID = @sysReportBKMVID

INSERT [dbo].[sysReportFilter] ([sysFieldID], [AllowNull], [DefaultValue], [sysReportID], [IsBetween], [TabIndex], [Visible], [IsMaster], [SpecialCond], [FilterCond]) 
VALUES (@sysFieldKyID, 0, NULL, @sysReportBKMVID, 0, 0, 1, 1, 0, NULL)

END

END

-- Dictionary
if not exists (select top 1 1 from Dictionary where Content = N'Tạo bảng kê thuế GTGT mua vào')
insert into Dictionary(Content, Content2) Values (N'Tạo bảng kê thuế GTGT mua vào',N'Edit list of VAT input')

if not exists (select top 1 1 from Dictionary where Content = N'Kỳ lập bảng kê')
insert into Dictionary(Content, Content2) Values (N'Kỳ lập bảng kê',N'Create post period')

if not exists (select top 1 1 from Dictionary where Content = N'Ngày lập bảng kê')
insert into Dictionary(Content, Content2) Values (N'Ngày lập bảng kê',N'Create post date')

if not exists (select top 1 1 from Dictionary where Content = N'Cho phép hiện hóa đơn thông thường lên bảng kê')
insert into Dictionary(Content, Content2) Values (N'Cho phép hiện hóa đơn thông thường lên bảng kê',N'Allow normal invoices')

if not exists (select top 1 1 from Dictionary where Content = N'Lưu')
insert into Dictionary(Content, Content2) Values (N'Lưu',N'Save')

if not exists (select top 1 1 from Dictionary where Content = N'Bảng kê tạo thành công!')
insert into Dictionary(Content, Content2) Values (N'Bảng kê tạo thành công!',N'List of VAT was created sucessfully!')

if not exists (select top 1 1 from Dictionary where Content = N'Vui lòng chọn kỳ lập bảng kê!')
insert into Dictionary(Content, Content2) Values (N'Vui lòng chọn kỳ lập bảng kê!',N'Please choose Create post period!')

if not exists (select top 1 1 from Dictionary where Content = N'Bảng kê đã tồn tại!')
insert into Dictionary(Content, Content2) Values (N'Bảng kê đã tồn tại!',N'List of VAT exists!')

if not exists (select top 1 1 from Dictionary where Content = N'Xóa bảng kê')
insert into Dictionary(Content, Content2) Values (N'Xóa bảng kê',N'Remove list VAT')

if not exists (select top 1 1 from Dictionary where Content = N'Bảng kê đã xóa thành công!')
insert into Dictionary(Content, Content2) Values (N'Bảng kê đã xóa thành công!',N'Removing list VAT is successful!')

if not exists (select top 1 1 from Dictionary where Content = N'Không thể xóa bảng kê!')
insert into Dictionary(Content, Content2) Values (N'Không thể xóa bảng kê!',N'Removing list VAT is failed!')

if not exists (select top 1 1 from Dictionary where Content = N'Bạn có thật sự muốn xóa bảng kê không?')
insert into Dictionary(Content, Content2) Values (N'Bạn có thật sự muốn xóa bảng kê không?',N'Do you want to remove list of VAT?')

if not exists (select top 1 1 from Dictionary where Content = N'Kỳ này đã được khấu trừ thuế. Vui lòng xóa khấu trừ thuế trước!')
insert into Dictionary(Content, Content2) Values (N'Kỳ này đã được khấu trừ thuế. Vui lòng xóa khấu trừ thuế trước!',N'This period was deducted. Please remove the deduction first!')
