.ToDate {
    width: 49%;
    float: right;
    clear: inherit;
}

.FromDate {
    width: 49%;
    float: left;
}

.ToDate .asf-filter-input {
    width:60%;
}

.FromDate .asf-filter-input {
    width:60%;
}