.VoucherNo {
    width: 49%;
    float: left;
    padding: 0 0 10px 0;
}

.VoucherDate {
    width: 49%;
    float: right;
    padding: 0 0 10px 0;
    clear: inherit;
}

.Description .asf-filter-input{
    width:85.7%;
}

.Description .asf-filter-label-V2{
    width:13%;
}

.Notes .asf-filter-input{
    width:85.7%;
}

.Notes .asf-filter-label-V2{
    width:13%;
}

.Attach .asf-filter-input{
    width:100%;
}