.ToSendDate {
    width: 49%;
    float: right;
    clear: inherit;
}

.FromSendDate {
    width: 49%;
    float: left;
}

.ToSendDate .asf-filter-input {
    width: 50%;
}

.FromSendDate .asf-filter-input {
    width: 50%;
}
hế 
.ToSendDate .asf-filter-label {
   text-align: center;
}

.FromSendDate .asf-filter-label {
    width: auto;
}

.ToReceiveDate {
    width: 49%;
    float: right;
    clear: inherit;
}

.FromReceiveDate {
    width: 49%;
    float: left;
}

.ToReceiveDate .asf-filter-input {
    width: 50%;
}

.FromReceiveDate .asf-filter-input {
    width: 50%;
}

.ToReceiveDate .asf-filter-label {
    text-align: center;
}

.FromReceiveDate .asf-filter-label {
    width: auto;
}
