@charset "utf-8";
/* CSS Document */
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    height: 50px;
    background-color: #00F;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}
#head-left{
	width:250px;
    margin:10px;
	float:left;
	font-size:25px;
	font-weight:bold;
	color:#FFF;
}
#head-center{
	width:5px;
	height:40px;
	background-color:#FFF;
	float:left;
}
#head-right{
	width:650px;
    margin:10px;
	margin-left:25px;
	float:left;
	font-size:22px;
	color:#FFF;
}

#menu{
    
}
#content{
    
}

#footer{
     height: 50px;
     clear: both;
     background-color: #F8F8FF;
}

#dshoivien {
    text-align:center;
    background-color:black;
}

.tranghientai {
    color:red;
    background-color:black;
}
