@media (max-width: 400px) {
    .asf-shopname {
        display: none;
    }

    #Menu_Mobile {
        display: inline;
    }

    body, .asf-header {
        min-width: 100%;
    }

 #TopMenu_div {
        display: none;
    }
  #MenuLevel2_div ul{
        display: none;
    }

    .asf-menu-sub {
        padding-top: 41px;
    }

    #HeaderLabel {
        font-size: 8px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header-icon-logo {
        /*zoom: 40%;*/
        margin-right: 5px;
        width: 60px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header .right {
        padding: 0 20px 0 0;
        /*width: 71%;*/
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header .icon-text {
        font-size: 10px;
        max-width: 65px;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    .setting {
         width: 27px;
    }

    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    .asf-header-icon-help {
        width: 29px;
    }

    #Menu_Mobile {
       top: 45px;
       z-index: 2000;
    }

        .k-menu .k-animation-container, .k-popup .k-animation-container {
        width: 100px !important;
    }

    .k-menu .k-group .k-item {
         width: 100px !important;
    }

    .asf-header .asf-header-span-period {
        font-size: 11px;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
      .asf-shopname {
        display: none;
    }

    #Menu_Mobile {
        display: inline;
    }

        body, .asf-header {
        min-width: 100%;
    }

    #TopMenu_div {
        display: none;
    }

      #MenuLevel2_div ul{
        display: none;
    }


    .asf-menu-sub {
        padding-top: 41px;
    }

    .asf-header-icon-logo {
        margin-right: 5px;
        width: 80px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header .icon-text {
        font-size: 11px;
          max-width: 70px;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    .setting {
         zoom: 80%;
    }

    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    .asf-header-icon-help {
        width: 31px;
    }

    #Menu_Mobile {
       top: 45px;
       z-index: 2000;
    }

        .k-menu .k-animation-container, .k-popup .k-animation-container {
        width: 120px !important;
    }

    .k-menu .k-group .k-item {
         width: 120px !important;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
      .asf-shopname {
        display: none;
    }

      #Menu_Mobile {
        display: inline;
    }

       body, .asf-header {
        min-width: 100%;
    }

    #TopMenu_div {
        display: none;
    }

      #MenuLevel2_div ul{
        display: none;
    }


    .asf-menu-sub {
        padding-top: 41px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header .icon-text {
        font-size: 11px;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }


    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    #Menu_Mobile {
       top: 45px;
       z-index: 2000;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
      .asf-shopname {
        display: none;
    }

    #Menu_Mobile {
        display: inline;
    }

      body, .asf-header {
        min-width: 100%;
    }

      .asf-menu-sub {
        padding-top: 41px;
    }

    #TopMenu_div {
        display: none;
    }

      #MenuLevel2_div ul{
        display: none;
    }


    #Menu_Mobile {
       top: 45px;
       z-index: 2000;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }
}
