@charset "utf-8";
/* CSS Document */
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    height: 50px;
    background-color: #00F;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}
#head-left{
	width:250px;
    margin:10px;
	float:left;
	font-size:25px;
	font-weight:bold;
	color:#FFF;
}
#head-center{
	width:5px;
	height:40px;
	background-color:#FFF;
	float:left;
}
#head-right{
	width:650px;
    margin:10px;
	margin-left:25px;
	float:left;
	font-size:22px;
	color:#FFF;
}

#menu{

}
#content{
    
}

#footer{
     height: 50px;
     clear: both;
     background-color: #F8F8FF;
}

#dshoivien {
    text-align:center;
    background-color:black;
}



#menu ul {
  padding-left:0px;
  padding-top:10px;
  margin-top:0px;
  margin-bottom:30px;
  background-color:#EEEEEE;
  height:30px;
 
}
#menu li {
    padding-top:5px;
}
#menu ul li {
  list-style-type: none;
  z-index:5;
  display: inline;
  padding-left:10px;
  padding-right:10px;
  position:relative;
}

/*==Dropdown Menu==*/
#menu ul li ul{
  display: none;
  position: absolute;
  
  background-color:white;
}
#menu ul li:hover>ul {
  display: block;
  width:1000px;
}
#menu ul li:hover {
  background-color:white;
}
#menu ul li ul li:hover {
  background-color:aqua;
}

/*==Menu cấp 3==*/
#menu ul li ul li ul{
    display:none;
    position:absolute;
    margin-left:50px;
   
}
#menu ul li ul li:hover>ul {
     width:200px;
}
#menu ul li ul li ul li:hover {
    background-color:blue;
}
.m-level3 {
    background-color:white;
}



