@charset "utf-8";
/* CSS Document */
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    height: 50px;
    background-color: #00F;
    border: 1px solid #CDCDCD;
    margin-bottom:5px;
}
#head-left{
	width:250px;
    margin:10px;
	float:left;
	font-size:25px;
	font-weight:bold;
	color:#FFF;
}
#head-center{
	width:5px;
	height:40px;
	background-color:#FFF;
	float:left;
}
#head-right{
	width:650px;
    margin:10px;
	margin-left:25px;
	float:left;
	font-size:22px;
	color:#FFF;
}

#menu{
    margin-top:-12px;
    height:35px;
    background-color:#EEEEEE;
}
#content{
    
}

#footer{
     height: 50px;
     clear: both;
     background-color: #F8F8FF;
}

#dshoivien {
    text-align:center;
    background-color:black;
}


#menu li {
    margin-top:10px;
    min-width:100px;
    text-align:center;
}
#menu a {
    text-decoration:none;
}
#menu a:hover {
    background-color:blue;
}
#menu>ul{
    margin-left:-35px;
    background-color:#EEEEEE;
}
#menu>ul>li{
float:left;
list-style-type:none;
z-index:1;
}
/*cap1*/
#menu>ul>li>ul{
  display: none;
  position: absolute;
  background-color:white;
  list-style-type:none;
  left:125px;
}
#menu>ul>li>ul>li{
	float:left;
}
#menu>ul>li:hover>ul {
  display: block;
  width:1000px;
}
#menu>ul>li:hover {
  background-color:white;
}
/*cap2*/
#menu>ul>li>ul>li>ul{
  display: none;
  position: absolute;
  background-color:white;
  list-style-type:none;
  border:solid 2px;
  border-top:none;
  max-width:300px;
  padding:0px;
  z-index:3;
}
#menu>ul>li>ul>li>ul>li{
	text-align:left;
    width:250px;
    padding-left:50px;
}
#menu>ul>li>ul>li:hover>ul {
  display: block;
  width:1000px;
}
#menu>ul>li>ul>li:hover {
    background-color:aqua;
}


#menu>ul>li>ul>li>ul>li:hover {
    background-color:blue;
}



