@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel.MT
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.MT.MTF2000ViewModel
@{ 
    var gridsetting = new ASOFT.ERP.A00.Core.Control.ASOFTGridSetting();
    gridsetting.IsShowCheck = true;
    gridsetting.NameGrid = "MTF2000Grid";
    gridsetting.Scrollable = true;
    gridsetting.NameEventPost = "MTF2000.sendData";
    gridsetting.ActionName = "MTF2000Grid";
    gridsetting.ControllerName = "MTF2000";
    gridsetting.HtmlAttribute = new { @class = "asf-grid" };
    gridsetting.ListGridColumn = new List<ASOFTGridColumnSetting>();

    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "RowNum",
        TitleColumn = "STT",
        Width = 80,
        VisibleColumn = true,
    });

    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTP2000.COL_DIVISIONID,
        TitleColumn = Html.ASOFTRaw(model => model.DivisionID),
        Width = 100,
        VisibleColumn = true,
        HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
    });
    
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTP2000.COL_STUDENTID,
        TitleColumn = Html.ASOFTRaw(model=>model.StudentID),
        Width = 150,
        VisibleColumn = true,
        ClientTemplate = "<a href=" + Url.Content("~/MT/MTF2000/MTF2002/#=StudentID#") + ">#:StudentID#</a>",
        HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTP2000.COL_STUDENTNAME,
        TitleColumn = Html.ASOFTRaw(model => model.StudentName),
        Width = 200,
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTP2000.COL_STUDENTNAMEE,
        TitleColumn = Html.ASOFTRaw(model => model.StudentNameE),
        Width = 200,
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTP2000.COL_BIRTHDAY,
        TitleColumn = Html.ASOFTRaw(model => model.Birthday),
        Width = 150,
        //Format = "{0:dd/MM/yyyy}",
        VisibleColumn = true,
        //HtmlAttrCoulmns = (new { style = "text-align:center" })
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "Sex",
        TitleColumn = Html.ASOFTRaw(model => model.IsMale),
        Width = 80,
        VisibleColumn = true,
        HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTT2000.COL_ADDRESS,
        TitleColumn = Html.ASOFTRaw(model => model.Address),
        Width = 230,
        VisibleColumn = true,
       // HtmlAttrCoulmns = (new { style = "text-align:left" })
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = MTT2000.COL_NOTES,
        TitleColumn = Html.ASOFTRaw(model => model.Notes),
        Width = 200,
        VisibleColumn = true,
    });
    
}

@(Html.ASOFTCreateGrid<MTF2000GridViewModel>(gridsetting))

