@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel.MT
@using Kendo.Mvc;
@model  ASOFT.ERP.ViewModel.MT.MTF2000ViewModel
@{  
    var gridsetting = new ASOFT.ERP.A00.Core.Control.ASOFTGridSetting();
    gridsetting.NameGrid = "MTF2002Grid";
    gridsetting.NameEventPost = "MTF2000.mtf2002GridData";
    gridsetting.Scrollable = true;
    gridsetting.IsAutoHeight = false;
    gridsetting.ActionName = "MTF2002Grid";
    gridsetting.ControllerName = "MTF2000";
    gridsetting.HtmlAttribute = new { @class = "asf-grid" };
    gridsetting.ListGridColumn = new List<ASOFTGridColumnSetting>();
    
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "STT",
        TitleColumn = Html.ASOFTRaw(model => model.STT),
        Width = 50,
        HtmlAttrCoulmns=new {@class="asf-cols-align-center"},
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "ClassID",
        TitleColumn = Html.ASOFTRaw(model => model.ClassID),
        Width = 100,
        ClientTemplate = "<a href=" + Url.Content("~/MT/MTF2010/MTF2012?apk=#=APK#") + ">#:ClassID#</a>",
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "ClassDate",
        TitleColumn = Html.ASOFTRaw(model => model.ClassDate),
        Width = 100,
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "CourseName",
        TitleColumn = Html.ASOFTRaw(model => model.CourseName),
        Width = 150,
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "LevelName",
        TitleColumn = Html.ASOFTRaw(model => model.LevelName),
        Width = 200,
        VisibleColumn = true,
    });
    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "StatusID",
        TitleColumn = Html.ASOFTRaw(model => model.StatusID),
        Width = 150,
        VisibleColumn = true,
    });
}

@(Html.ASOFTCreateGridNotPagging<MTF2002GridViewModel>(gridsetting))

