@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     21/04/2014      Chánh Thi      Tạo Mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Entities

@model POSF0019ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0019Grid", 
        Scrollable = true, 
        ControllerName = "POSF0019",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            style = "height:590px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 60,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "ShopID",
                TitleColumn = Html.ASOFTRaw(model => model.ShopIDFilter),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherDate",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 80,
                Format = "{0:dd/MM/yyyy}",
                VisibleColumn = true,
                 HtmlAttrCoulmns = (new {style = "text-align:right", Class="asf-cols-align-right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherNo",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                ClientTemplate = "<a class='asf-grid-link' onclick='voucherDetail_Click(\"#=APK#\")'>#=VoucherNo#</a>",
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "EmployeeName",
                TitleColumn = Html.ASOFTRaw(model => model.PreparedByFilter),
                Width = 160,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "Description",
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionFilter),
                Width = 200,
                VisibleColumn = true
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0019>(gridsetting))

