@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved.
//#
//# History:
//#     Date Time       Created                Comment
//#     10/10/2014      Hồ Hoàng Tú            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.CI
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities
@model CIF1000ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "CIF1000Grid",
        Scrollable = true,
        ControllerName = "CIF1000",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            style = "height:550px;",
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
               IDColumn = "RowNum",
               TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 20,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },

           new ASOFTGridColumnSetting
            {
                IDColumn = "DepartmentID",
                TitleColumn = Html.ASOFTRaw(model => model.DepartmentID),
                 ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", Url.Content("~/CI/CIF1000/CIF1002/?DepartmentID=#=DepartmentID#"),CIP10001.CON_DEPARTMENTID),
                Width =50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DepartmentName",
                TitleColumn = Html.ASOFTRaw(model => model.DepartmentName),
                Width = 200,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
               new ASOFTGridColumnSetting
            {
                IDColumn = "IsCommon",
                TitleColumn = Html.ASOFTRaw(model => model.IsCommon),
                Width =50,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= IsCommon == 1? 'checked' : '' # onclick='return false;' iscommon=iscommon />",
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }
           ,
             new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width =50,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled == 1? 'checked' : '' # onclick='return false;' disabled=disabled />",
               HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }

        }

    };
}
@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIP10001>(gridsetting,false))