
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.S
@using ASOFT.ERP.S.Entities
@model SF1020ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "SF1020Grid",
                              NameEventPost = "SF1020.sendDataFilter", // thực hiện function sendDataFilter khi lấy/refresh bảng
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "SF1020",
                              HtmlAttribute = new { @class = "asf-grid", style = "height:590px;"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{ 
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_LANGUAGEID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.LanguageID),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_MODULE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Module),
                                                               Width = 50,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_FORMID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.FormID),
                                                               Width = 50,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_ID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ID),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                                        Url.Content(string.Format("~/S/SF1020/SF1022/?ID=#:{0}#&LanguageID=#:{1}#&Module=#:{2}#", 
                                                                            AP00001.COL_ID, AP00001.COL_LANGUAGEID, AP00001.COL_MODULE)),
                                                                        AP00001.COL_ID),
                                                           },
                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_NAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Name),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },  
                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = AP00001.COL_CUSTOMNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CustomName),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                           },                                                                      
                              }
                          };
}
@*Lệnh bên dưới dùng để tạo vẽ gridview ra, trong ( ) là tên biến chứa gridview đã được khai báo*@
@(Html.ASOFTCreateGrid<ASOFT.ERP.S.Entities.AP00001>(gridsetting,false))