@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.A00.Entities.Database

@model ASOFT.ERP.ViewModel.POS.POSF0028ViewModel
@{
    var template = Model.Status == 2 ? "<a class='asf-grid-link'  data-apk=#:APK# >#:InventoryID#</a>" : string.Empty;
var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0028Grid1",
        Scrollable = true,
        ControllerName = "POSF0027",
        ActionName = "GridDetailData",
        NameEventPost = "sendDataFilter",
        IsShowCheck = true,
        HtmlAttribute = new
        {
            style = "height:470px;",
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"}),
                ClientTemplate = "#= renderNumber1(data) #",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "InventoryID",
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                ClientTemplate = template,
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "InventoryName",
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 190,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "UnitName",
                TitleColumn = Html.ASOFTRaw(model => model.UnitName),
                Width = 75,
                HtmlAttrCoulmns = (new {style = "text-align:left"}),
                VisibleColumn = true
            }, 
            new ASOFTGridColumnSetting
            {
                IDColumn = "SalePrice",
                TitleColumn = Html.ASOFTRaw(model => model.SalePrice),
                Width = 75,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },            
            new ASOFTGridColumnSetting
            {
                IDColumn = "ShipQuantity",
                TitleColumn = Html.ASOFTRaw(model => model.ShipQuantity),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                EditColumn = true,
                VisibleColumn = true,
                ClientTemplate  = "#=ShipQuantity#"
            },            
              new ASOFTGridColumnSetting
            {
                IDColumn = "StatusInventory",
                ClientTemplate = @"#= data.StatusInventoryName || '' #",
                TitleColumn = Html.ASOFTRaw(model => model.StatusInventory),
                HtmlAttrCoulmns = (new {@class = "asf-cols-align-left"}),
                Width = 80,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "SerialNo",
                TitleColumn = Html.ASOFTRaw(model => model.SerialNo),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:left"}),
                EditColumn = true,
                VisibleColumn = ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_OKIA
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "WarrantyCard",
                TitleColumn = Html.ASOFTRaw(model => model.WarrantyCard),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:left"}),
                EditColumn = true,
                VisibleColumn = ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_OKIA
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Description",
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionD),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:left"}),
                EditColumn = true,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "APK",
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                EditColumn = false,
                VisibleColumn = false
            }
        }
    };

}
@(Html.ASOFTCreateGrid<ASOFT.ERP.POS.Entities.POSF00282>(gridsetting))