@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     06/06/2013      Chánh Thi        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Entities

@model POSF0027ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0027Grid",
        Scrollable = true,
        ControllerName = "POSF0027",
        ActionName = "GetGridData",
        NameEventPost = "sendDataFilter",
        IsShowCheck = true,
        HtmlAttribute = new
        {
            style = "height:590px;",
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_ROWNUM,
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_DIVISIONID,
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 60,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_SHOPID,
                TitleColumn = Html.ASOFTRaw(model => model.ShopIDFilter),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_WAREHOUSEID,
                TitleColumn = Html.ASOFTRaw(model => model.WarehouseIDFilter),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_VOUCHERDATE,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 120,
                Format = "{0:dd/MM/yyyy}",
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right", Class="asf-cols-align-right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_VOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                //ClientTemplate = "<a data-apk='#=APK#' class='asf-grid-link' onclick='voucherDetail_Click(this)'>#=VoucherNo#</a>",
                ClientTemplate = "<a href='" + @Url.Content("~/POS/POSF0027/POSF0028/?apk=#=APK#") + "'>#:VoucherNo#</a>",
                Width = 120,
                VisibleColumn = true,
            },
            //new ASOFTGridColumnSetting
            //{
            //    IDColumn = POSP0027.COL_EVOUCHERNO,
            //    TitleColumn = Html.ASOFTRaw(model => model.EVoucherNo),
            //    Width = 150,
            //    VisibleColumn = true,
            //    HtmlAttrCoulmns = (new {style = "text-align:center", Class="asf-cols-align-center"})

            //},
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_REFVOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.RefVoucherNo),
                Width = 160,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})

            },
              new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_EMPLOYEEID,
                TitleColumn = Html.ASOFTRaw(model => model.EmployeeIDFilter),
                Width = 150,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})

            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_EMPLOYEENAME,
                TitleColumn = Html.ASOFTRaw(model => model.EmployeeNameFilter),
                Width = 150,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left", Class="asf-cols-align-left"})

            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_STATUSNAME,
                TitleColumn = Html.ASOFTRaw(model => model.StatusName),
                Width = 150,
                VisibleColumn = true

            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0027.COL_DESCRIPTION,
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionFilter),
                Width = 210,
                VisibleColumn = true,             
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0027>(gridsetting))

