-- <Summary>
---- Danh mục sơ đồ tuyến - CF0135-6 - Detail
-- <History>
---- Create on 04/12/2014 by Lê Thị Hạnh 
---- Modified on ... by 
-- <Example>

IF NOT EXISTS (SELECT * FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[AT0136]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[AT0136]
     (
      [APK] UNIQUEIDENTIFIER DEFAULT NEWID() NOT NULL,
      [DivisionID] NVARCHAR(50) NOT NULL,
      [RouteID] NVARCHAR(50) NOT NULL,
      [TransactionID] NVARCHAR(50) NOT NULL,
      [StationID] NVARCHAR(50) NULL,
      [StationOrder] INT NULL,
      [Notes] NVARCHAR(250) NULL
    CONSTRAINT [PK_AT0136] PRIMARY KEY CLUSTERED
      (
      [DivisionID] ASC,
      [TransactionID] ASC
      )
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
     )
 ON [PRIMARY]
END
