

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.MT
@model ASOFT.ERP.ViewModel.MT.MTF1030ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "MTF1030_GridMaster",
                              keyColumnID = "APK",
                              NameEventPost = "MTF1030.sendFilter",
                              Scrollable = true,
                              ActionName = "GetListReason",
                              ControllerName = "MTF1030",
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>
                                                   {
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 70,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1030.COL_DIVISIONID,
                                                               TitleColumn = Html.DisplayNameFor(m => m.DivisionID).ToHtmlString(),
                                                               Width = 70,
                                                               HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1030.COL_STOPREASONID,
                                                               TitleColumn = Html.ASOFTRaw(m => m.StopReasonID),
                                                               VisibleColumn = true,
                                                               Width = 100,
                                                               ClientTemplate = "<a href='" + @Url.Content("~/MT/MTF1030/MTF1032/?StopReasonID=#=StopReasonID#") + "'>#:" + MTT1030.COL_STOPREASONID + "#</a>",
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1030.COL_STOPREASONNAME,
                                                               TitleColumn = Html.ASOFTRaw(m => m.StopReasonName),
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1030.COL_NOTES,
                                                               TitleColumn = Html.ASOFTRaw(m => m.Notes),
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1030.COL_DISABLED,
                                                               TitleColumn = Html.ASOFTRaw(m => m.Disabled),
                                                               VisibleColumn = true,
                                                               HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                               ClientTemplate
                                                                   = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' />", // Readonly checkbox
                                                               Width = 100,
                                                           }
                                                   }
                          };
}

@(Html.ASOFTCreateGrid<MTF1030GridViewModel>(gridsetting))