@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel.MT
@model MTF1000ViewModel
@{
   
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "MTF1000Grid", 
        keyColumnID = "CourseID", 
        NameEventPost = "MTF1000.sendFilter", 
        Scrollable = true, 
        IsShowCheck = true,
        ActionName = "GetListCourse", 
        ControllerName = "MTF1000", 
        HtmlAttribute = new {style = "height:590px", @class = "asf-grid"}, 
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 50,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_DIVISIONID,
                TitleColumn = Html.DisplayNameFor(model => model.DivisionID).ToHtmlString(),
                Width = 80,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" },
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_COURSEID,
                TitleColumn = Html.DisplayNameFor(model => model.CourseID).ToHtmlString(),
                Width = 100,
                VisibleColumn = true,
                ClientTemplate = "<a href=" + Url.Content("~/MT/MTF1000/MTF1002/?CourseID=#=CourseID#") + ">#:CourseID#</a>",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_COURSENAME,
                TitleColumn = Html.DisplayNameFor(model => model.CourseName).ToHtmlString(),
                Width = 300,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_BEGINDATE,
                TitleColumn = Html.DisplayNameFor(model => model.BeginDate).ToHtmlString(),
                Width = 100,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_ENDDATE,
                TitleColumn = Html.DisplayNameFor(model => model.EndDate).ToHtmlString(),
                Width = 100,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1000.COL_DISABLED,
                TitleColumn = Html.DisplayNameFor(model => model.Disabled).ToHtmlString(),
                Width = 80,
                VisibleColumn = true,
                ClientTemplate 
                    = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }
        }
    };
}

@(Html.ASOFTCreateGrid<MTF1000GridViewModel>(gridsetting))
