@model ASOFT.ERP.ViewModel.MT.MTF1000ViewModel

<div class="asf-panel-no-detail-header">
    <div class="asfbtn asfbtn-right">
        @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", @Model.Toolbar1)  
    </div>
</div>
@Html.Partial("MTF1002MPartial")
