@model List<TestKendo.Models.LopModels>

@{
    ViewBag.Title = "Combobox";
}

<h2>Combobox</h2>

@using (Html.BeginForm("Ketqua","hello")){

@Html.DropDownList("lop",(IEnumerable<SelectListItem>)ViewBag.ds)
<input type="submit" />
}

@{foreach(var i in Model)
  {
      @i.MaLop;
      foreach(var j in Model)
      {
          @j.TenLop;
      }
      <br />
  }
}