@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     21/08/2017       Quang Hoàng      Tạo mới
//####################################################################
*@

@model ASOFT.ERP.ViewModel.POS.POSF00101ViewModel

<div class="clearfix"></div>
    <div class="container_12" style="height: 60px">
        <div class="container_12 asf-form-button">
            <ul style="border-bottom: none !important; padding-bottom: 0px !important">
                 <li>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChooseManager"))
                          .Name("BtnChooseEmployee")
                          .Events(e => e.Click("BtnChooseEmployee_Click"))
                          )
                </li>
            </ul>
        </div> 
    </div>
   @Html.Partial("GridManager")
<div class="clearfix"></div>
