@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     2/6/2014        Chánh Thi       Tạo mới
//####################################################################
*@

@model ASOFT.ERP.ViewModel.POS.POSF00101ViewModel

<div class="clearfix"></div>
   @Html.Partial("GridUserInfo")
<div class="clearfix"></div>
