---- Create by Phan thanh hoàng vũ on 11/2/2017 3:51:17 PM
---- Thiết lập thời gian lặp lại

IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[OOT0033]') AND TYPE IN (N'U'))
BEGIN
CREATE TABLE [dbo].[OOT0033]
(
  [APK] UNIQUEIDENTIFIER DEFAULT newid() NOT NULL,
  [DivisionID] VARCHAR(50) NOT NULL,
  [InheritVoucherID] UNIQUEIDENTIFIER NOT NULL,
  [InheritTableID] VARCHAR(50) NOT NULL,
  [RecurrenceTypeID] INT NOT NULL,
  [DayOfMonthYear] TINYINT NULL,
  [IsSunday] TINYINT DEFAULT (0) NULL,
  [IsMonday] TINYINT DEFAULT (0) NULL,
  [IsTuesday] TINYINT DEFAULT (0) NULL,
  [IsWednesday] TINYINT DEFAULT (0) NULL,
  [IsThursday] TINYINT DEFAULT (0) NULL,
  [IsFriday] TINYINT DEFAULT (0) NULL,
  [IsSaturday] TINYINT DEFAULT (0) NULL,
  [TheDays] VARCHAR(250) NULL,
  [TheDay] INT NULL,
  [TheMonth] INT NULL,
  [DayOfWeeks] INT NULL,
  [WeekOfMonths] INT NULL,
  [FromDate] DATETIME NULL,
  [IsToDate] TINYINT DEFAULT (0) NULL,
  [ToDate] DATETIME NULL,
  [StartTime] DATETIME NULL,
  [EndTime] DATETIME NULL,
  [IsReminder] TINYINT DEFAULT (0) NULL,
  [Reminder] VARCHAR(50) NULL,
  [CreateUserID] VARCHAR(50) NULL,
  [CreateDate] DATETIME NULL,
  [LastModifyUserID] VARCHAR(50) NULL,
  [LastModifyDate] DATETIME NULL
CONSTRAINT [PK_OOT0033] PRIMARY KEY CLUSTERED
(
  [APK]
)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
)
ON [PRIMARY]
END