
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.CI
@using ASOFT.ERP.CI.Entities
@model CIF1070ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "CIF1070Grid",
                              NameEventPost = "CIF1070.sendDataFilter",
                              Scrollable = true,
                              ActionName = "GetCIF1070GridData",
                              ControllerName = "CIF1070",
                              Encode = true,
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CIP1070.COL_DISTRICTID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DistrictID),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                                        Url.Content(string.Format("~/CI/CIF1070/CIF1072/?districtID=#:{0}#", CIP1070.COL_DISTRICTID)),
                                                                        CIP1070.COL_DISTRICTID),
                                                           }, 
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CIP1070.COL_DISTRICTNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DistrictName),
                                                               Width = 100,
                                                               VisibleColumn = true,                                                             
                                                           },     
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CIP1070.COL_CITYNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CityName),
                                                               Width = 100,
                                                               VisibleColumn = true,                                                               
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CIP1070.COL_ISCOMMON,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.IsCommon),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               ClientTemplate = "<input type='checkbox' #= IsCommon ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                                               HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                           },
                                     
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = CIP1070.COL_DISABLED,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Disabled),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               ClientTemplate = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                                               HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                           }
                                
                              }
                          };
}

@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIP1070>(gridsetting,false))