IF NOT EXISTS (SELECT TOP 1 1 FROM sys.objects WHERE OBJECT_ID = OBJECT_ID(N'[dbo].[A00004_1]') AND TYPE IN (N'U'))
BEGIN
     CREATE TABLE [dbo].[A00004_1]
     (
		[APK] UNIQUEIDENTIFIER DEFAULT NEWID() NOT NULL,
		[ModuleID] NVARCHAR(50) NULL,
		[ScreenID] NVARCHAR(50) NULL,
		[CommandMenu] NVARCHAR(50) NULL,
		[CustomerIndex] INT
	CONSTRAINT [PK_A00004_1_1] PRIMARY KEY CLUSTERED
      (
		[APK]
      )
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
		)
	ON [PRIMARY]
END