-- <Summary>
---- DL update 1 lần khi tạo bảng
-- <History>
---- Create on 06/08/2010 by Việt Khánh
---- Modified on ... by ...
---- <Example>
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AT7905STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AT7905STD](
	[ReportCode] [nvarchar](50) NOT NULL,
	[TitleID] [nvarchar](50) NOT NULL,
	[TitleName] [nvarchar](250) NULL,
	[LineDes] [nvarchar](250) NULL,
	[FromAccountID] [nvarchar](50) NULL,
	[ToAccountID] [nvarchar](50) NULL,
	[OperatorID] [nvarchar](50) NULL,
	[GroupID] [nvarchar](50) NULL,
	[FromCorAccountID] [nvarchar](50) NULL,
	[ToCorAccountID] [nvarchar](50) NULL,
	[CreateUserID] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[LastModifyUserID] [nvarchar](50) NULL,
	[LastModifyDate] [datetime] NULL
) ON [PRIMARY]
INSERT [dbo].[AT7905STD] ([ReportCode], [TitleID], [TitleName], [LineDes], [FromAccountID], [ToAccountID], [OperatorID], [GroupID], [FromCorAccountID], [ToCorAccountID], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate]) VALUES (N'BC01_TMTC', N'1802', N'18- Các khoản phải trả, phải nộp ngắn hạn khác ', N'- Kinh phí công đoàn  ', N'3382', N'3382', N'BC', N'18', NULL, NULL, NULL, CAST(0x0000000000000000 AS DateTime), NULL, CAST(0x0000000000000000 AS DateTime))
INSERT [dbo].[AT7905STD] ([ReportCode], [TitleID], [TitleName], [LineDes], [FromAccountID], [ToAccountID], [OperatorID], [GroupID], [FromCorAccountID], [ToCorAccountID], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate]) VALUES (N'BC01_TMTC', N'0202', N'02- Các khỏan đầu tư tài chính ngắn hạn', N'- Đầu tư ngắn hạn khác', N'128', N'128Z', N'BA', N'02', NULL, NULL, NULL, CAST(0x0000000000000000 AS DateTime), NULL, CAST(0x0000000000000000 AS DateTime))
INSERT [dbo].[AT7905STD] ([ReportCode], [TitleID], [TitleName], [LineDes], [FromAccountID], [ToAccountID], [OperatorID], [GroupID], [FromCorAccountID], [ToCorAccountID], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate]) VALUES (N'BC01_TMTC', N'0203', N'02- Các khỏan đầu tư tài chính ngắn hạn', N'- Dự phòng giảm giá đầu tư ngắn hạn', N'129', N'129Z', N'BA', N'02', NULL, NULL, NULL, CAST(0x0000000000000000 AS DateTime), NULL, CAST(0x0000000000000000 AS DateTime))

END