-- <Summary>
---- 
-- <History>
---- Create on 06/08/2010 by Việt Khánh
---- Modified on ... by ...
---- <Example>
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AT7907STD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AT7907STD](
	[ReportCode] [nvarchar](50) NOT NULL,
	[GroupID] [nvarchar](50) NOT NULL,
	[TitleID] [nvarchar](50) NOT NULL,
	[LineDes] [nvarchar](250) NULL,
	[LineLevel] [tinyint] NULL,
	[OperatorID] [nvarchar](50) NULL
) ON [PRIMARY]
INSERT [dbo].[AT7907STD] ([ReportCode], [GroupID], [TitleID], [LineDes], [LineLevel], [OperatorID]) VALUES (N'BC01_TMTC', N'08', N'0801', N'Nguyên giá TSCĐ hữu hình', 1, NULL)
INSERT [dbo].[AT7907STD] ([ReportCode], [GroupID], [TitleID], [LineDes], [LineLevel], [OperatorID]) VALUES (N'BC01_TMTC', N'08', N'0802', N'Số dư đầu', 0, N'LB')
INSERT [dbo].[AT7907STD] ([ReportCode], [GroupID], [TitleID], [LineDes], [LineLevel], [OperatorID]) VALUES (N'BC01_TMTC', N'08', N'0803', N'- Mua trong', 0, N'PD')
END