-- <Summary>
---- 
-- <History>
---- Create on 06/08/2010 by Ngoc Nhut
---- Modified on ... by ...
---- <Example>
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ET0002]') AND type in (N'U'))
CREATE TABLE [dbo].[ET0002](
	[APK] [uniqueidentifier] DEFAULT NEWID(),
	[DivisionID] [nvarchar](3) NOT NULL,
	[TemplateVoucherID] [nvarchar](50) NULL,
	[TemplateBatchID] [nvarchar](50) NULL,
	[TemplateTransactionID] [nvarchar](50) NULL,
	[TemplateID] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[inv_no] [nvarchar](50) NULL,
	[settlemt_option] [nvarchar](50) NULL,
	[inv_date] [datetime] NULL,
	[curr_code] [nvarchar](50) NULL,
	[inv_amt] [decimal](28, 8) NULL,
	[awb_nbr] [nvarchar](50) NULL,
	[billto_freight] [decimal](28, 8) NULL,
	[discount_amt] [decimal](28, 8) NULL,
	[freight_after_discount] [decimal](28, 8) NULL,
	[Total_Non_Fuel_Surchrg] [decimal](28, 8) NULL,
	[awb_amt] [decimal](28, 8) NULL,
	[exchange_rate] [decimal](28, 8) NULL,
	[icpc_child_acct_nbr] [nvarchar](50) NULL,
	[ship_date] [datetime] NULL,
	[orig_locn] [nvarchar](50) NULL,
	[dest_locn] [nvarchar](50) NULL,
	[service_type] [nvarchar](50) NULL,
	[SvcAbbrev] [nvarchar](50) NULL,
	[in_out_bound] [tinyint] NULL,
	[in_out_bound_desc] [nvarchar](50) NULL,
	[no_pieces] [decimal](28, 8) NULL,
	[ActualWgtV] [decimal](28, 8) NULL,
	[Aut] [nvarchar](50) NULL,
	[ChrgbleWgtV] [decimal](28, 8) NULL,
	[CUt] [nvarchar](50) NULL,
	[Dimension] [nvarchar](100) NULL,
	[bill_to_flag] [nvarchar](50) NULL,
	[rebill_reason] [nvarchar](50) NULL,
	[entry_batch_no] [nvarchar](50) NULL,
	[Del_DateTime] [nvarchar](100) NULL,
	[Pod_Signature] [nvarchar](50) NULL,
	[shpr_cust_no] [nvarchar](50) NULL,
	[shpr_name] [nvarchar](250) NULL,
	[shpr_company] [nvarchar](250) NULL,
	[shpr_addr1] [nvarchar](250) NULL,
	[shpr_addr2] [nvarchar](250) NULL,
	[shpr_city] [nvarchar](50) NULL,
	[shpr_state] [nvarchar](50) NULL,
	[shpr_zip] [nvarchar](50) NULL,
	[shpr_cntry] [nvarchar](50) NULL,
	[cnsgn_cust_no] [nvarchar](50) NULL,
	[cnsgn_name] [nvarchar](250) NULL,
	[cnsgn_company] [nvarchar](250) NULL,
	[cnsgn_addr1] [nvarchar](250) NULL,
	[cnsgn_addr2] [nvarchar](250) NULL,
	[cnsgn_city] [nvarchar](50) NULL,
	[cnsgn_state] [nvarchar](50) NULL,
	[cnsgn_zip] [nvarchar](50) NULL,
	[cnsgn_cntry] [nvarchar](50) NULL,
	[SvAbbrew] [nvarchar](50) NULL,
	[FuelSur] [decimal](28, 8) NULL,
	[SurDesc1] [nvarchar](250) NULL,
	[SurAmount1] [decimal](28, 8) NULL,
	[SurDesc2] [nvarchar](250) NULL,
	[SurAmount2] [decimal](28, 8) NULL,
	[SurDesc3] [nvarchar](250) NULL,
	[SurAmount3] [decimal](28, 8) NULL,
	[SurDesc4] [nvarchar](250) NULL,
	[SurAmount4] [decimal](28, 8) NULL,
	[SurDesc5] [nvarchar](250) NULL,
	[SurAmount5] [decimal](28, 8) NULL,
	[SurDesc6] [nvarchar](250) NULL,
	[SurAmount6] [decimal](28, 8) NULL,
	[SurDesc7] [nvarchar](250) NULL,
	[SurAmount7] [decimal](28, 8) NULL,
	[SurDesc8] [nvarchar](250) NULL,
	[SurAmount8] [decimal](28, 8) NULL,
	CONSTRAINT [PK_ET0002] PRIMARY KEY NONCLUSTERED 
	(
		[APK] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]