.form-content-left{
    width:45%;
}

.middle-buttons {
   margin: 40.5px 0 0 0;
}

.middle-buttons li {
    margin: 5px 0 0 0;
}

.middle-buttons li.third {
    margin: 20px 0 0 0;
}

