/*===================================================*\
            Màn hình thiết lập hệ thống
\*===================================================*/
.sub-content {
    padding: 10px 0 40px 20px;
    display: block;
}
.sub-content-key {
    font-weight: bolder;
}
.asf-filter-radio-checkbox {
    width: 33%;
    float: left;
    vertical-align: top;
}
.main-container-left-block 
{
    width: 45%;
    height: 100%;
    display: inline-block;
    position: static;
    float: left;
    padding-right: 20px;
}
.horz-line {
    width: 1px;
    background: #b2b2b2;
    float: left;
    bottom: 0;
    position: static;
    display: inline-block;
    height: 100%;
}
.main-container-right-block 
{
    width: 51%;
    padding-left: 20px;
    display: inline-block;
    height: auto;
    position: static;
    float: left;
}

.full {
    width: 100%;
    float: left;
    display: block;
}
/*===================================================*\
            Button block - Hiển thị trên page
\*===================================================*/

.asf-button-right-page {
    float: right;
    margin: 8px 0 0;
}

.asf-button-right-page > div {
    float: left;
    margin: 0 0 0 5px;
}