/*===================================================*
            Màn hình chính
\*===================================================*/
.asf-checkbox-tag 
{
    height: 100%;
    width: 70%;
    float: right;
    vertical-align: bottom;
    margin: 10px 0 0 0;
}
.asf-master-content {
    float: left;
}
