.mtf1040-label
{
    width:40%;
}

.asf-master-content {
    float: left;
}

.mtf1041-form-content
{
    width:100%;
    float:left;
}
.mtf1043-form-content
{
    width:100%;
    float:left;
}

.mtf1042-view-master
{
    height:630px;
}

#CourseID-list,
#CourseIDFilter-list {
    min-width: 350px;
    /*min-height: 335px;*/
    height: auto !important;
    display: block;
}
#CourseID_listbox,
#CourseIDFilter_listbox{
    width: auto;
    height: 100% !important;
    max-height: 300px;
    display: block;
}
