use [CDT]

DECLARE @sysSiteIDPRO INT
DECLARE @sysSiteIDSTD INT
DECLARE @sysMenuTNDN INT

SELECT @sysSiteIDPRO = sysSiteID FROM sysSite WHERE SiteCode = N'PRO'
SELECT @sysSiteIDSTD = sysSiteID FROM sysSite WHERE SiteCode = N'STD'

--1) Tao menu trong quy trinh nghiep vu

-- PRO
IF ISNULL(@sysSiteIDPRO,'') <> ''
BEGIN
SELECT @sysMenuTNDN = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDPRO

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TNDN' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuTNDN 

if isnull(@sysMenuTNDN,'') <> ''
BEGIN
IF NOT EXISTS (SELECT TOP 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TNDN' AND [sysSiteID] = @sysSiteIDPRO AND [sysMenuParent] = @sysMenuTNDN)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES ( N'Tạo tờ khai thuế TNDN', N'Create corporate income tax declarations', @sysSiteIDPRO, NULL, NULL, NULL, 1, NULL, @sysMenuTNDN, 5514, N'ToKhaiThueTNDN.ToKhaiThueTNDN', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001A79494441546843D59A077455D5F6EE0FF82CD74B11AEBD5C0B208A0A2251442E5C942A220A082852A477A4B7344280104A6829A40121BD929002E9BDF7DE7B219DAA5284DF7F6E6463C84509CFF1FE6F5CC698E3ECBDCEDAFB7CDF5CDF2C6B854E80E6BFFA9F42A0A3A6D14C1FA1796CDE7A4DD745BA9A2E62CAA762DD545BACABE9DEC69E5AA2ABE9B95C57F3F44A5DCDB3AB7435CFFDF8DBE73372FFB48CF75CA6ABE921F6C254DDD7067C3FA7A338DACEEB38F89E4BF5272E3A86954B024EA7D370F04EE1A45712C7DC93B0714DC4D239010BC738CCEC633972329A83C7A3303916C53EDB28F6D84462641DC94ECB080C2DC230300D45EF50303A2681689B04F1FD12437E58B4862113F6D96B34747E18221D22A0D1BCFFC2F06FCD7E9517B7FB774BEE7FE5DAF59BFCFCCB752E5DB9CAF98B3FD3D47285734D97A9AEBF4845ED054AAA5A292C6F26B7A491CCC20652F3CE91945D435C7A15711935EC3B628F8E9E2E9BB6EA32769661A4A6AFE3731D25D141029327EFB208BD0DFEDAF56BFCFCD32FDCBA76819B375AB874A99586A6F354D69CA7ACAA85823205681359450D64E4D7939C7B8EB8CC7344A7D71291524D686225C1F1659C8D2DC12FB210FFC8120CF69E40DF7017FB4CF6B379EB56BE5EA05BD66DF89E011D21D14102DFCF337788BB4DE0CA4F3F71F1C215AE5E69E1DA2F0DB4B634525BDF24041A68AEAFA0BAAA8ADAEA528A4A2BA82C2FA2ACB480C2E27C72F3F3C8C9C9A620379594B40C7C228A39155680775831FAC627D8B5C7042B5B5B8CF6EC415B7B0BD3166EBCF4F2BFB53F7F10890E12983AC9D034F836814B572ED2D27C816B3FD7D1DCDC405D7D3D95B5E72828A9A7ACBC9292B20AB92E2733BF82F4DC72B2F28AC8C82B20393B9F84F43CE252B3094FC8C623B408B7E07CDC430AD9B2EB3826872D70F3F4C4ECA8E56D123A3A5B99B1600DBD3EF971DE9F91E820812F47AC37F2E5C68D5B34359FA7A5B191EADA26EA6B6BA9ABA922A7E81CE9797502B29684CC5A62D26B884AAB265C2413945845405C257E3115784795E1195E8A5B4831AE41F93806E4E278A68075DBAC31B73E4E606828F6CECE7748EC4547772BB316ACA4DFF015BA7F44A28304C60E5EAAE7793B50CBAB15BD2B04EA28ABAC154FD793925B2741592B5A57C08BD6536B0853C027557326A10A5F21E01D5D81474439AEA1A53806156377A690637EF962852CDB7A9493CEEE24A4A4E0E31FD08E84367317AD64E067CB4DEF47A283043E1D3067830BADE77FA258324AD9C5AB623F5122B15072E11245E72F52D87A817CB1BC96F3E434B792DDDC4266530BE90D4D24D7369050758ED83221575445486E0567334BF14B29C637B9844D46669C3E13447E7131E1D1B17748B8DC5D096D5D6D162C59C187A3973909E07B307790C0B0BED356DADFAA93B4985BD642C5E58BDC225D2C452C512C562C4A2C5C2C985B37CF72EB861FB7AEFA70EB274F6E5D72E3D679276E36DB73B3FE38376BACB95971949B2566624770379945544C1455F58D64E4E41215178FDFD9209CDCDC396A63CB9EFD26E86DD363F1F2950C19B7CCBD2D890E12D07A75C242DBEB6595CDA415345072F1BCACA69295A2C522C442C402C5FCE1968F94062FC9B76EF08BB3A42D7BB8701C5A6CA0F128D49941D521283381E2BD90BB13FB5DD349CBC9A7EEFC65A919B524A6A6E217142AB272E5B0C5D1DF825A5F9F8D9B37B078D972464D5A6B3B6874C6ED82D741027D9F1B39CBF24A5E713D095975145E689567C3C582C4CE88F989798B7988B90A0147B86E27046C8580951030170287A1E100D40AE8CADD50BA038A0C204F17BF03DFA0BDEA5B362EFC8A15333F67C2C449FC38E903D67DD59FAD5FBEC5D79F0EA3AFD644DEFB682C5A9F8CA5DFA0B17479794AFF8720D0BDFB27534DCFA7E5D4109D5A4556CB052EDCC8E0FCF514B1445AAFC78BC570E17A28ADD7C268F93984962B81B45C3A43F3793F9A9A7C68A8F7A2BEC69DBA72676A8B1CA8CE3B4155A62D1569D6A49CD987D98EC598E9CFE7C8F6D5ACD231E5D49E1F09D8BB9A70E3E56CDB60CC98B9568C9BB597D1DFEEE4B9018BD03C31F976A1EBE00A3CF2E4A0AF0E36C4A494119E584AC2B94B64B63690D952477A732D69CD35A43657115D778184FA1A921ACA48AC2F9379A5C4D5161355514078712EC1F9D99CC94CC757B28D575C226E91B1380545E17026027BDF508E799CC5D431083DEB580E5878626CE28AA1913D2BB43D99F2A3075356D83375A523AF7F6A8CE66F0BFB3D0481C71F7BF7F37D55C131850446171353DDC28D5F7D7F930BA27344E7D892DA50CEE55F64ECA668FC86C8E6BA85C848A47365BFE8DF50E4A327F2D116F96C8282F590BD1AD25642E252885924E1348746DFB51CB17207AFA9E0F48DBCFA73ECB7EF64C40237BE586083C4222F0F3544F3F8BC371E8280E691DE9F19979D0EC9C157CA7F8404F3F55BA7E579273107B11362962489D7AF5C538899D37A61AB14B18FB1F17A8D8CE4EFB8D5207AAFD3878A2D50B211F2D742D68F90BA1CE29740E402089D45F5A9B5EC371327B84D11F093E1F8588EEAEC64E81C67C6CCB114B3E28521063785C0AB0F43A0D3CBFFDA59E0EA9F8157600EC1D259DE42B28C8006C92C48A0729CB446E9779AF4F1CDE88D9E9D8635265DD86E318C9D47C7E3E0324C5661831010C0C502385F0067CD1502B384C00C21304D084CA4CE73297B0E8B63DC46C349B1E34330DB6CC087DF3B32628639FF167BE6A36D57358FCD7DB1C3049489CF0E36CC3DEE9984AB5F067E458D245FA824ADA5828CD62AB22F87937169312ED9FF64876767B61FEB8395EB0F9C0ADA817F843127BC96B260CBDF084876E16C563CA71343F18A0AC435C41F477F1FEC4E7961E3E2CA513B078CCD5D58B63B803DC616ECD866CAB62DFB992EFB904FBEB5E69369471832F5083D07E95D1102CF3E14811E1F18649839C462EF918E47F6550A7FCA25FBAA0B672EAFE464F13F391CD203ABD3A3F009D32322D99CD02413FCA3F5F18FD263AFDDC7CCD8A8E1B8CF12328A3C484EB52131CE92B80833A2030F11E1BB9F500F63821CB773E2E82156EC3A85B7C9263C77AEC7557F250B171DE2FDC9567C38E9201F7C7580A706EA5C10023D1F8AC023BD77A4181D915D987702FE35B6245E1B8457C513D827F4E154D422E981AC492B74223ED78C8874238293F4084D362030CE906D36FF60D581CE58DB3D2F129A2DF2990E99A2F194AFA51E4E90E095AE3950E4E23F94D29373D03792FA71E203B01804A66FB17DE9567A4DB066C084FDBC377E1FDD06E834693ACFEEFA5004DE9BBA3EEE78C2124ED7F6C639AF3B2EF163094FDB4B76890F05D5A7C92A7724B5C88CB86C63C2057870CA6622B375094EDECA5E87D7D96AF508DB2CBBD29C3E490888EED344F3094222EA2B081612FEE3A4160E27DD7601DA861253565A70E823D8FF0EEBE7E9F0EA580BFA8DDB43EF91BB79FCED4DF5B2177FB24304427F7E7E8C7763170FD7F2EEBFB866F7C63F6509E9056E949F8BA1AC2184FC5A0F722A8F89F78F10956A4C68C2762253B589C9DB4850C60AECC38770E4D42B18BA3CC17687AE24840D96142A24D2C60A8151426084742212E0FE9F804F7F32AD66A263208DA7751F21F096107885B57336F3C24833FA8C32A2CB7B5BD1F45A5FD3B9EFC647FF90406063CF7F9CCC7A748545BC26C33CB2078E51A389CA38207D4A0CB5CD69543485535A7F5A3CEF4466B1B5B4178765EBB88FA49C9DA417E90B992DA4146FC23BED0B8EF8FF1DEB80E7D9EFD31D13BFEE38F9BD4D5A8221F1E13B883DAB47948F36116E1B093DB98E209B6598EFDDCEC22DB6F818CEC26BCB6CDCD74EE38B29BB79E95313BABDAFAD80A7739F0D159DDFDCF0C87F1038E8AF19B8CB4B63BADD45D3BCCFFD15C9120B65A3E22B1BF4021ACEE750D5144D45C3598AAA3D453AF6A4E488EEF3CDC8293D405EB9B174AADBC92CD126A3782319856BF14E7A0787A867F1087F9D63A12F49A077C536E8754E041DE0E459178E9D92530E672BCC4E9871508277FFC13DAC3638CAE4B58EE86DD061F3F2ADAC9FBF8E215F9AD0758081805FA78057AC48017F0F81F5A61AFBCDE69D39E8FC2F82634C65C352C4C5CB4D34B61652DD9824AD6E94ACC059728B4F89B988D9515C694D69B539451526B29937A2A0DC80FC321DB24A361199F195A4CA97F08BEB239B9A7E78C7BECDDED34F6276F6450A12DE93001629C54AA086494F76F61D914F5FF07C89B8C35358B7C9586A610FD82799727757A68C5D8EE6755D3AF5BEED7DC5B2EF21B040F799FE96EEDFC876D0E136E0D6CB02BA3986F28620CA1BFD286DF0A4A0C689FC1A3B0A6AADC8AB36A5A8FEA06C66F651707E078517B751D2AC2BE36B492A5E4472F15C22B306129ADA0FF7E0B770097C93F0EC013865BE8879D8D352A1B5B8192F9A8F10124192697C074823FB2EB8BC4AC0BEEF58BE4E081C12F0BB5E80CD8F3266E84234BD45FBBD6F83572CFD1E02AB0DDF9C6CE6FAA934514FA26BA39160EBC46E8F473910F004E6915DB04D7A0AFB9CA7F1A8781EAF9A17F1AA7E9153B52FE155FB229E352FE055276332EE54F00CC7527B601DDB8D23C14F607CEA3176383D82AEAD063D2B0D56814F631ED50DB7A48134C77F28D5F74D21D04B084857E0F1B210E8C619E3C92C5FB3130E4ABBAF2B2AD9A061E4B0A5025EF47F97C0C6D47B08AC337A634D70EC21D1BB1F49991E2464B8C8A19383989D1C3C1D93BDAE8DA447293CD9E6C4E61C2126E700D1D9FB89CADA4344E62EC2D20D094AD62320612BBE311BF10A5F8B6BE02A1CFC9672DC6B21D66EF338EA3C971D66C3303EFD38EE69AFE21BFD1D865279F52D6DD87AC89CF5BB0FF3E3B6BD4C5D63C1A059B64C9AB6862F27AC62FCE815F4787F079DFA6C16CFDF9590B29BFA3D06F6D98C35BF74B9915FAE5EE2F295262E5CAEA3F55225CD174A683CFF5B00D7B76651D79A4E6D4B92C82B96CAA62891572865F54114D5F9925FED454E850769C52748C8B3203AF33061C9FBA490ED92032C03FCC277B2F3C818746C1FC126A63B3E49630990BEE78CFD7CFCAC7FC0E7C84CBCF64C60F98A358CF87607C7968CC066F670ACA6FF8B37B4B445FF3A6D086C8ABF87C076D321BB2B6AD3686829A2AE29979A8634AA1B92A93C1747C5B928B130CA6A8328AD0DA0A4F634C535121355AEE45538925B614756A9B5641F0B52F20F9390B38F984C2322D3A49825E9886DBB5D8D0FBB8CE4FBF51A6C4E7D4C70C150DC520671295AE473FA2969DCBA48D3260EB5D07062FD67CCFD41BA5443B9DF2CB646C3A08FD74806D26F4B20EA1E0286665A86C59551023E9BDAC64C011E4B457DA46498103985384B49B59F64186FC930EEE4953A935D7452CE388F919E6F495A9E991CA91C22357FBFB413023C653B6149BA52A5B7109AB18184FC033807FEC006330DCB766AF08F5D4376AD482BEE75E263A5D2BA09487B316BB1A31A8EAE1BCFB279CBEE21D07FF006D1BF5E1B029B954DF8EF12DA6D3D5027B7D49F9AC614F17C927839580AD519CAEA0478853785228DFC3267F2CAECC92A3C2ED736F29D95AC883985950729A8DC4B6EB911D95207324A74492DD84C42D10642737EE46CEA422C4F0D45D7FAFFB0C5F4515CC23E22306F2C218513F04F9F8DD5FE4F7139320127E37138EC18CBDCA5EB19F3FD766C977D8AF50FC3B198369CE73F30A0D39BAA849438D8AA1CD4FE4EC0E4E4C00D9945EE94D6850BF8B314D6884CCE7949BBE049698DAB0075944F3B59896394355A53281BF4BCC603E4371B53DAB84F4E9E77912F3520B74C572AF326A9C61B482E5D8BA3649A237EFFC0D4E745B63BFE0D439BBF13943F9EDC0BBA7804CE67F3A2816C99B7906D2B56A3BB70195BE72E66CC77460C9EB29FD59367B362E24C968C9B41CF8112C47DDBC6C016E514E17702879D07AC4E2FB2A3A8C69FE2EA5342C483923A1701EC28FAB7173B4E459D0DD5172C49A9DC4754823719D97172CEE94352950165CD867222BD552AF03A8985F5A4142CE74CF24742E0699C425FC1F4F4D3ECF5EB8299CF7358DA7DC18A29BD58FBB686ECF18261B1D842B145BF5DEF9B359965334442CBE45EB1A51A7A7D2829B4AFC4C0DD42A62D67376D085878F45F9C5C6021454A80D7BA4AABE020C7E3C745E3D6A27D2B89092BAA9B8E927F7E2FAE5EE658595AB177CF3EF4B58D30305A4556EB3AF22B364B0FB45A08CC272C6D20BEF1FFE4745C2F3952EC8543C4AB1C0CEE8E65C0ABD88ED450345C80CDBD037EC1BD04B6CF9AC1F219B24716E0B70908A997B5F48480C4C06D028AE9286738BFAF80B577FFF989126CD9152785C04901634B748A29415107C8293E42A51C46555F3A4C5CB92CBDAFD480342782134FE0137294FD168B082B9F4365AB2E5939B3F10A1820DBCE7E72EE3F00CF907708491E807DE8AB1C08EC8243E89BF81B7D49E0966F38BDF16B3CD74CC47DD5045C978FC779C9381C178EE19B993A8C992631306304D6D3FE8DC957A3E83670179DDE1609DD5D011D6533FE3B81E3FEEFCE8CCDDE496AB91905759692262DC92C3A2C19E6004512A435F54728BFB487F8BA153887AEC457B24D54F51EDCA5D7B78FF89690AA09721EFA1591E19F60BCBF2F2EDE03B1F7EA8F9DD73B84A76AE195F30687029EC425E23D46CA96F41DF77ADE3E5E42AFC379BCB22B83E7B624D17365345DE686D2639A17DD2638A119ED8A66B83D9A8F6C78F403631EE9A77D9740A73E7AF712B00BE83F35366F9B04DE7E69914D25064C293B7758B47F4832D341F91BC0214A2F1B1057B7948402699FABADC9BBBE8714898DB8BC2338E43E474AE3608AF3BE2626662469D9A3894F1F211B9BA1521786732AE34DACA2BBE2993084CFC2B3F930A48E41A78A79F7582E6F9AA4F19A5E3C2FAD0EE3D97901F498EA45D7F18E741D7B9C2E238FF2E4F0833CFEA1517B0227EF5901C7A0015F47666D24B96CB714261332CB769057B54BC8EC901429412AD7E597B589CA93AC539947715D02D93501A497059098158A6DF84859814F498E99447CDC781292C7119F267B889411C4668CC439BA37D691422069149F86E6F171480D1FF914D3FF442E6F1D48E50DFD385E5E13C673F303E839CD936E5F38D14D2530EC3F0974EEA36F7D0F0197D00FC68667AC25BE641B99E53B2416B6535C6B249948809FDB454EC3060A9BD7E31EBB5C0271859C3ECCE14CFD4C9CB2BF65A7DB440E9FFD80B892A1F257172D8202BF2424743C01A1A33813318AB0D4CF704E7A15BBF8A7F0489AC870F9E3C6C7A1350CF62F65C0C95CDE3E94C61B064260AD10582004A68B84BE70FC53029DFA18C8A9599B18700D1B38F274FC34FC93674BE5DC429A6494823A5DA9C6DB286FDE20D2194F78E950CEE60D61A37D3F3CAABE9243F5CF39756E221BECDE26287728EE716FE057D087BAC639D4D6CD9576640EB145C3F04E7893D3E9EF7332F21FB8A54E677070391F8554F1614029EFD98B8484C06BDBE2785124F4CC3C7F9EFAC693BF8F73E0C951C7786284398F7D62C2231FEC942CB4E5EE86A6539F1D724AD6868067C4D06196FEAF63EEF304E119AB6425BE25B1E27349A733A4E2CE26E5C267C45D194CCEB53138640EC0B7E807621AD6E29E3D1D9BB8F748BD329C88F35AA45D194353E36AEACF2DA3A679299EF13D4442DF9155B951CE44DFC23965269F47D6F245742DE3C32B19E955C430DB6C06EF4F61A07E2CEFAE0DE5AD45FEF49EE949AFE9CEBCF18D1DAF4DB4E295B18778F9DFBBE9DA7F2B9D7A6D94CE74CF77F712881C3ED8C2F7358CE54F073E71A3399D31088FCCD7092E1E4854AD165957D6937D631505377548630C4537640373D594C21BBA14B098B49BDF51853559371690D4FA9164AB6184977F8C5DCCA3D26A8F23AAE05BDC125EC02773317B0B2EB1AFF03C7BF39B314AA9C730B21AFD3365E80899CD8EB96C3896CE3A8B24D699C6B3E65034AB4DC2F8D13890D5BBFC78E55FDBD1BCB6F986A6CF89DBA77277B794879C7B0F3E1523F9387A1C3EA963F0CDFA1CBFBC310455C88F374E20E3E759E4DDFA81421652C47C4A594219CB2867A5D82AB11554CA67897C9F796D9A9CDA7D43CC3949AB959388ABFC868892C924974CE744C21A162434B122AD8165C9E758105AC91CC946332416A699A731796F02130DA2182FBDDAF80D017CBEF6346357BA3366B103236659F1443FEDAB9AD70D17ABE0EF12983057D3C3CC71429A77E89A5B629C8DDE742B3C51F756748AC1AD8804FD9B5189DB7E8D4BDEF96B62AAD1AF8929C6BF46C7EEB81113B7F3466C9CD18DB8F8DD372222B7DF080ED1B91E241618A27D3D2068F37537EF95D71C3D965C3BEE32F79A95C3AC1B56F6531A67EA8FDED4D9A94CABA777915677F702ADC7CCD2B5347AB15A9AA5415A9A69DE5A9A51CE5A9A0F6DB4347D0F6B695EDBA3A57969BB96E6E9CD5A9A27966B6934B3B5342F1AC8D6ED0FFE4626FF63E539B14962DF894D6F63D3E4FA413655E6FC9929EF930D70C7FF634947E7DED6D17FB3DD037EFEFCF99A0ED82099C31F98FA7C0FF9BEF5CE9CB6EF7C43C682DB3C5B2AD7A33AF09BFF81EB9E20566F3AF8A24D77C059DE01927207940246FD21658E4A5221AC8C2BE055526E72AD98324719530877C47977E7FC15028AC71450CAA70260D11D000A68E50754EFAB9E9E7A675C25ACCE53E6AA630FBD0A7F85407B2FAB1E56C777DF591105B8425005AC785AB1B69E56E62A73FEBF10507FBCBDC6DBC787324F99A38C2B726B3B5F919D32FEBF2A2115802291F680145D2B638A34547928F3946754FDABDE5625A6CC7B28FD2BF3FFAA8454CF29DE5301A80055C06D035999DFF65E5D2575EEFF3A01058CEA65D5A38A54943155F3CAB83AE77E634AF03F3470F599BFBA027FF6C36AF0FE25800F22F7570828F95C91801A9CEDC90CBAE37965DEFFB5871FF4EC5F21A0E66F2560FF9F017CD0BBFF2A01C5BB8AAED562F6D069F041001FF4FD1F115096FFCFFA1C0574DB0CA4CE5509289F6D9F5753A93AA6D60EE55EC940ED3395BAA2AA63DAAE72DB67057FBBBF912903775EA8A4C3FBF539EA8F290494EF957CDFB6D2AA6D849ADF951F579F51DEA95C2B81AD5CAB695501AA5CABF76D6B4CFBC2A73CABCCBBFDAE3F22F0677D8EF242E505AAB7D5606E1F0B2A689560FB42A500689B0094FBB6EF50B29832A63EDF36CEEECE7D500CA8201449292F50D8DFCFDBAA14DAFE88DA65B69FAF76A4F79368DB064F5D0D55056A3653E5799BFC8308B4EF7354426D73BB9AEFDB7B586DAF5529DDEF1985A4F29C4A56ED585547B525A916CAB6DDEF0309B4EF7354B06AE957B57BBF4E52AD118AC7DAC789EA085586EABDE265654CF17E7B72AA03EE51C59FADC0FDFA1CF5E5ED97BFAD77DB67A0F6BD4FDB8CD43E03B57DAF2A2795FCFD24F7A72B70BF3EA76DAFAFF637ED2BAD4240FD4EF954E2A7EDBD4256BD57AEDBF74AEA776ADCB5C5D1FEFAFE04FE1B37F7FFD527128AC3FF07E10EC211310D5B9B0000000049454E44AE426082)
END

END

-- STD
IF ISNULL(@sysSiteIDSTD,'') <> ''
BEGIN
SELECT @sysMenuTNDN = sysMenuID FROM sysMenu WHERE MenuName = N'Thuế khác' AND sysSiteID = @sysSiteIDSTD

--DELETE FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TNDN' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuTNDN 

if isnull(@sysMenuTNDN,'') <> ''
BEGIN
IF NOT EXISTS (SELECT TOP 1 1 FROM [sysMenu] WHERE MenuName = N'Tạo tờ khai thuế TNDN' AND [sysSiteID] = @sysSiteIDSTD AND [sysMenuParent] = @sysMenuTNDN)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES ( N'Tạo tờ khai thuế TNDN', N'Create corporate income tax declarations', @sysSiteIDSTD, NULL, NULL, NULL, 1, NULL, @sysMenuTNDN, 5514, N'ToKhaiThueTNDN.ToKhaiThueTNDN', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001A79494441546843D59A077455D5F6EE0FF82CD74B11AEBD5C0B208A0A2251442E5C942A220A082852A477A4B7344280104A6829A40121BD929002E9BDF7DE7B219DAA5284DF7F6E6463C84509CFF1FE6F5CC698E3ECBDCEDAFB7CDF5CDF2C6B854E80E6BFFA9F42A0A3A6D14C1FA1796CDE7A4DD745BA9A2E62CAA762DD545BACABE9DEC69E5AA2ABE9B95C57F3F44A5DCDB3AB7435CFFDF8DBE73372FFB48CF75CA6ABE921F6C254DDD7067C3FA7A338DACEEB38F89E4BF5272E3A86954B024EA7D370F04EE1A45712C7DC93B0714DC4D239010BC738CCEC633972329A83C7A3303916C53EDB28F6D84462641DC94ECB080C2DC230300D45EF50303A2681689B04F1FD12437E58B4862113F6D96B34747E18221D22A0D1BCFFC2F06FCD7E9517B7FB774BEE7FE5DAF59BFCFCCB752E5DB9CAF98B3FD3D47285734D97A9AEBF4845ED054AAA5A292C6F26B7A491CCC20652F3CE91945D435C7A15711935EC3B628F8E9E2E9BB6EA32769661A4A6AFE3731D25D141029327EFB208BD0DFEDAF56BFCFCD32FDCBA76819B375AB874A99586A6F354D69CA7ACAA85823205681359450D64E4D7939C7B8EB8CC7344A7D71291524D686225C1F1659C8D2DC12FB210FFC8120CF69E40DF7017FB4CF6B379EB56BE5EA05BD66DF89E011D21D14102DFCF337788BB4DE0CA4F3F71F1C215AE5E69E1DA2F0DB4B634525BDF24041A68AEAFA0BAAA8ADAEA528A4A2BA82C2FA2ACB480C2E27C72F3F3C8C9C9A620379594B40C7C228A39155680775831FAC627D8B5C7042B5B5B8CF6EC415B7B0BD3166EBCF4F2BFB53F7F10890E12983AC9D034F836814B572ED2D27C816B3FD7D1DCDC405D7D3D95B5E72828A9A7ACBC9292B20AB92E2733BF82F4DC72B2F28AC8C82B20393B9F84F43CE252B3094FC8C623B408B7E07CDC430AD9B2EB3826872D70F3F4C4ECA8E56D123A3A5B99B1600DBD3EF971DE9F91E820812F47AC37F2E5C68D5B34359FA7A5B191EADA26EA6B6BA9ABA922A7E81CE9797502B29684CC5A62D26B884AAB265C2413945845405C257E3115784795E1195E8A5B4831AE41F93806E4E278A68075DBAC31B73E4E606828F6CECE7748EC4547772BB316ACA4DFF015BA7F44A28304C60E5EAAE7793B50CBAB15BD2B04EA28ABAC154FD793925B2741592B5A57C08BD6536B0853C027557326A10A5F21E01D5D81474439AEA1A53806156377A690637EF962852CDB7A9493CEEE24A4A4E0E31FD08E84367317AD64E067CB4DEF47A283043E1D3067830BADE77FA258324AD9C5AB623F5122B15072E11245E72F52D87A817CB1BC96F3E434B792DDDC4266530BE90D4D24D7369050758ED83221575445486E0567334BF14B29C637B9844D46669C3E13447E7131E1D1B17748B8DC5D096D5D6D162C59C187A3973909E07B307790C0B0BED356DADFAA93B4985BD642C5E58BDC225D2C452C512C562C4A2C5C2C985B37CF72EB861FB7AEFA70EB274F6E5D72E3D679276E36DB73B3FE38376BACB95971949B2566624770379945544C1455F58D64E4E41215178FDFD9209CDCDC396A63CB9EFD26E86DD363F1F2950C19B7CCBD2D890E12D07A75C242DBEB6595CDA415345072F1BCACA69295A2C522C442C402C5FCE1968F94062FC9B76EF08BB3A42D7BB8701C5A6CA0F128D49941D521283381E2BD90BB13FB5DD349CBC9A7EEFC65A919B524A6A6E217142AB272E5B0C5D1DF825A5F9F8D9B37B078D972464D5A6B3B6874C6ED82D741027D9F1B39CBF24A5E713D095975145E689567C3C582C4CE88F989798B7988B90A0147B86E27046C8580951030170287A1E100D40AE8CADD50BA038A0C204F17BF03DFA0BDEA5B362EFC8A15333F67C2C449FC38E903D67DD59FAD5FBEC5D79F0EA3AFD644DEFB682C5A9F8CA5DFA0B17479794AFF8720D0BDFB27534DCFA7E5D4109D5A4556CB052EDCC8E0FCF514B1445AAFC78BC570E17A28ADD7C268F93984962B81B45C3A43F3793F9A9A7C68A8F7A2BEC69DBA72676A8B1CA8CE3B4155A62D1569D6A49CD987D98EC598E9CFE7C8F6D5ACD231E5D49E1F09D8BB9A70E3E56CDB60CC98B9568C9BB597D1DFEEE4B9018BD03C31F976A1EBE00A3CF2E4A0AF0E36C4A494119E584AC2B94B64B63690D952477A732D69CD35A43657115D778184FA1A921ACA48AC2F9379A5C4D5161355514078712EC1F9D99CC94CC757B28D575C226E91B1380545E17026027BDF508E799CC5D431083DEB580E5878626CE28AA1913D2BB43D99F2A3075356D83375A523AF7F6A8CE66F0BFB3D0481C71F7BF7F37D55C131850446171353DDC28D5F7D7F930BA27344E7D892DA50CEE55F64ECA668FC86C8E6BA85C848A47365BFE8DF50E4A327F2D116F96C8282F590BD1AD25642E252885924E1348746DFB51CB17207AFA9E0F48DBCFA73ECB7EF64C40237BE586083C4222F0F3544F3F8BC371E8280E691DE9F19979D0EC9C157CA7F8404F3F55BA7E579273107B11362962489D7AF5C538899D37A61AB14B18FB1F17A8D8CE4EFB8D5207AAFD3878A2D50B211F2D742D68F90BA1CE29740E402089D45F5A9B5EC371327B84D11F093E1F8588EEAEC64E81C67C6CCB114B3E28521063785C0AB0F43A0D3CBFFDA59E0EA9F8157600EC1D259DE42B28C8006C92C48A0729CB446E9779AF4F1CDE88D9E9D8635265DD86E318C9D47C7E3E0324C5661831010C0C502385F0067CD1502B384C00C21304D084CA4CE73297B0E8B63DC46C349B1E34330DB6CC087DF3B32628639FF167BE6A36D57358FCD7DB1C3049489CF0E36CC3DEE9984AB5F067E458D245FA824ADA5828CD62AB22F87937169312ED9FF64876767B61FEB8395EB0F9C0ADA817F843127BC96B260CBDF084876E16C563CA71343F18A0AC435C41F477F1FEC4E7961E3E2CA513B078CCD5D58B63B803DC616ECD866CAB62DFB992EFB904FBEB5E69369471832F5083D07E95D1102CF3E14811E1F18649839C462EF918E47F6550A7FCA25FBAA0B672EAFE464F13F391CD203ABD3A3F009D32322D99CD02413FCA3F5F18FD263AFDDC7CCD8A8E1B8CF12328A3C484EB52131CE92B80833A2030F11E1BB9F500F63821CB773E2E82156EC3A85B7C9263C77AEC7557F250B171DE2FDC9567C38E9201F7C7580A706EA5C10023D1F8AC023BD77A4181D915D987702FE35B6245E1B8457C513D827F4E154D422E981AC492B74223ED78C8874238293F4084D362030CE906D36FF60D581CE58DB3D2F129A2DF2990E99A2F194AFA51E4E90E095AE3950E4E23F94D29373D03792FA71E203B01804A66FB17DE9567A4DB066C084FDBC377E1FDD06E834693ACFEEFA5004DE9BBA3EEE78C2124ED7F6C639AF3B2EF163094FDB4B76890F05D5A7C92A7724B5C88CB86C63C2057870CA6622B375094EDECA5E87D7D96AF508DB2CBBD29C3E490888EED344F3094222EA2B081612FEE3A4160E27DD7601DA861253565A70E823D8FF0EEBE7E9F0EA580BFA8DDB43EF91BB79FCED4DF5B2177FB24304427F7E7E8C7763170FD7F2EEBFB866F7C63F6509E9056E949F8BA1AC2184FC5A0F722A8F89F78F10956A4C68C2762253B589C9DB4850C60AECC38770E4D42B18BA3CC17687AE24840D96142A24D2C60A8151426084742212E0FE9F804F7F32AD66A263208DA7751F21F096107885B57336F3C24833FA8C32A2CB7B5BD1F45A5FD3B9EFC647FF90406063CF7F9CCC7A748545BC26C33CB2078E51A389CA38207D4A0CB5CD69543485535A7F5A3CEF4466B1B5B4178765EBB88FA49C9DA417E90B992DA4146FC23BED0B8EF8FF1DEB80E7D9EFD31D13BFEE38F9BD4D5A8221F1E13B883DAB47948F36116E1B093DB98E209B6598EFDDCEC22DB6F818CEC26BCB6CDCD74EE38B29BB79E95313BABDAFAD80A7739F0D159DDFDCF0C87F1038E8AF19B8CB4B63BADD45D3BCCFFD15C9120B65A3E22B1BF4021ACEE750D5144D45C3598AAA3D453AF6A4E488EEF3CDC8293D405EB9B174AADBC92CD126A3782319856BF14E7A0787A867F1087F9D63A12F49A077C536E8754E041DE0E459178E9D92530E672BCC4E9871508277FFC13DAC3638CAE4B58EE86DD061F3F2ADAC9FBF8E215F9AD0758081805FA78057AC48017F0F81F5A61AFBCDE69D39E8FC2F82634C65C352C4C5CB4D34B61652DD9824AD6E94ACC059728B4F89B988D9515C694D69B539451526B29937A2A0DC80FC321DB24A361199F195A4CA97F08BEB239B9A7E78C7BECDDED34F6276F6450A12DE93001629C54AA086494F76F61D914F5FF07C89B8C35358B7C9586A610FD82799727757A68C5D8EE6755D3AF5BEED7DC5B2EF21B040F799FE96EEDFC876D0E136E0D6CB02BA3986F28620CA1BFD286DF0A4A0C689FC1A3B0A6AADC8AB36A5A8FEA06C66F651707E078517B751D2AC2BE36B492A5E4472F15C22B306129ADA0FF7E0B770097C93F0EC013865BE8879D8D352A1B5B8192F9A8F10124192697C074823FB2EB8BC4AC0BEEF58BE4E081C12F0BB5E80CD8F3266E84234BD45FBBD6F83572CFD1E02AB0DDF9C6CE6FAA934514FA26BA39160EBC46E8F473910F004E6915DB04D7A0AFB9CA7F1A8781EAF9A17F1AA7E9153B52FE155FB229E352FE055276332EE54F00CC7527B601DDB8D23C14F607CEA3176383D82AEAD063D2B0D56814F631ED50DB7A48134C77F28D5F74D21D04B084857E0F1B210E8C619E3C92C5FB3130E4ABBAF2B2AD9A061E4B0A5025EF47F97C0C6D47B08AC337A634D70EC21D1BB1F49991E2464B8C8A19383989D1C3C1D93BDAE8DA447293CD9E6C4E61C2126E700D1D9FB89CADA4344E62EC2D20D094AD62320612BBE311BF10A5F8B6BE02A1CFC9672DC6B21D66EF338EA3C971D66C3303EFD38EE69AFE21BFD1D865279F52D6DD87AC89CF5BB0FF3E3B6BD4C5D63C1A059B64C9AB6862F27AC62FCE815F4787F079DFA6C16CFDF9590B29BFA3D06F6D98C35BF74B9915FAE5EE2F295262E5CAEA3F55225CD174A683CFF5B00D7B76651D79A4E6D4B92C82B96CAA62891572865F54114D5F9925FED454E850769C52748C8B3203AF33061C9FBA490ED92032C03FCC277B2F3C818746C1FC126A63B3E49630990BEE78CFD7CFCAC7FC0E7C84CBCF64C60F98A358CF87607C7968CC066F670ACA6FF8B37B4B445FF3A6D086C8ABF87C076D321BB2B6AD3686829A2AE29979A8634AA1B92A93C1747C5B928B130CA6A8328AD0DA0A4F634C535121355AEE45538925B614756A9B5641F0B52F20F9390B38F984C2322D3A49825E9886DBB5D8D0FBB8CE4FBF51A6C4E7D4C70C150DC520671295AE473FA2969DCBA48D3260EB5D07062FD67CCFD41BA5443B9DF2CB646C3A08FD74806D26F4B20EA1E0286665A86C59551023E9BDAC64C011E4B457DA46498103985384B49B59F64186FC930EEE4953A935D7452CE388F919E6F495A9E991CA91C22357FBFB413023C653B6149BA52A5B7109AB18184FC033807FEC006330DCB766AF08F5D4376AD482BEE75E263A5D2BA09487B316BB1A31A8EAE1BCFB279CBEE21D07FF006D1BF5E1B029B954DF8EF12DA6D3D5027B7D49F9AC614F17C927839580AD519CAEA0478853785228DFC3267F2CAECC92A3C2ED736F29D95AC883985950729A8DC4B6EB911D95207324A74492DD84C42D10642737EE46CEA422C4F0D45D7FAFFB0C5F4515CC23E22306F2C218513F04F9F8DD5FE4F7139320127E37138EC18CBDCA5EB19F3FD766C977D8AF50FC3B198369CE73F30A0D39BAA849438D8AA1CD4FE4EC0E4E4C00D9945EE94D6850BF8B314D6884CCE7949BBE049698DAB0075944F3B59896394355A53281BF4BCC603E4371B53DAB84F4E9E77912F3520B74C572AF326A9C61B482E5D8BA3649A237EFFC0D4E745B63BFE0D439BBF13943F9EDC0BBA7804CE67F3A2816C99B7906D2B56A3BB70195BE72E66CC77460C9EB29FD59367B362E24C968C9B41CF8112C47DDBC6C016E514E17702879D07AC4E2FB2A3A8C69FE2EA5342C483923A1701EC28FAB7173B4E459D0DD5172C49A9DC4754823719D97172CEE94352950165CD867222BD552AF03A8985F5A4142CE74CF24742E0699C425FC1F4F4D3ECF5EB8299CF7358DA7DC18A29BD58FBB686ECF18261B1D842B145BF5DEF9B359965334442CBE45EB1A51A7A7D2829B4AFC4C0DD42A62D67376D085878F45F9C5C6021454A80D7BA4AABE020C7E3C745E3D6A27D2B89092BAA9B8E927F7E2FAE5EE658595AB177CF3EF4B58D30305A4556EB3AF22B364B0FB45A08CC272C6D20BEF1FFE4745C2F3952EC8543C4AB1C0CEE8E65C0ABD88ED450345C80CDBD037EC1BD04B6CF9AC1F219B24716E0B70908A997B5F48480C4C06D028AE9286738BFAF80B577FFF989126CD9152785C04901634B748A29415107C8293E42A51C46555F3A4C5CB92CBDAFD480342782134FE0137294FD168B082B9F4365AB2E5939B3F10A1820DBCE7E72EE3F00CF907708491E807DE8AB1C08EC8243E89BF81B7D49E0966F38BDF16B3CD74CC47DD5045C978FC779C9381C178EE19B993A8C992631306304D6D3FE8DC957A3E83670179DDE1609DD5D011D6533FE3B81E3FEEFCE8CCDDE496AB91905759692262DC92C3A2C19E6004512A435F54728BFB487F8BA153887AEC457B24D54F51EDCA5D7B78FF89690AA09721EFA1591E19F60BCBF2F2EDE03B1F7EA8F9DD73B84A76AE195F30687029EC425E23D46CA96F41DF77ADE3E5E42AFC379BCB22B83E7B624D17365345DE686D2639A17DD2638A119ED8A66B83D9A8F6C78F403631EE9A77D9740A73E7AF712B00BE83F35366F9B04DE7E69914D25064C293B7758B47F4832D341F91BC0214A2F1B1057B7948402699FABADC9BBBE8714898DB8BC2338E43E474AE3608AF3BE2626662469D9A3894F1F211B9BA1521786732AE34DACA2BBE2993084CFC2B3F930A48E41A78A79F7582E6F9AA4F19A5E3C2FAD0EE3D97901F498EA45D7F18E741D7B9C2E238FF2E4F0833CFEA1517B0227EF5901C7A0015F47666D24B96CB714261332CB769057B54BC8EC901429412AD7E597B589CA93AC539947715D02D93501A497059098158A6DF84859814F498E99447CDC781292C7119F267B889411C4668CC439BA37D691422069149F86E6F171480D1FF914D3FF442E6F1D48E50DFD385E5E13C673F303E839CD936E5F38D14D2530EC3F0974EEA36F7D0F0197D00FC68667AC25BE641B99E53B2416B6535C6B249948809FDB454EC3060A9BD7E31EBB5C0271859C3ECCE14CFD4C9CB2BF65A7DB440E9FFD80B892A1F257172D8202BF2424743C01A1A33813318AB0D4CF704E7A15BBF8A7F0489AC870F9E3C6C7A1350CF62F65C0C95CDE3E94C61B064260AD10582004A68B84BE70FC53029DFA18C8A9599B18700D1B38F274FC34FC93674BE5DC429A6494823A5DA9C6DB286FDE20D2194F78E950CEE60D61A37D3F3CAABE9243F5CF39756E221BECDE26287728EE716FE057D087BAC639D4D6CD9576640EB145C3F04E7893D3E9EF7332F21FB8A54E677070391F8554F1614029EFD98B8484C06BDBE2785124F4CC3C7F9EFAC693BF8F73E0C951C7786284398F7D62C2231FEC942CB4E5EE86A6539F1D724AD6868067C4D06196FEAF63EEF304E119AB6425BE25B1E27349A733A4E2CE26E5C267C45D194CCEB53138640EC0B7E807621AD6E29E3D1D9BB8F748BD329C88F35AA45D194353E36AEACF2DA3A679299EF13D4442DF9155B951CE44DFC23965269F47D6F245742DE3C32B19E955C430DB6C06EF4F61A07E2CEFAE0DE5AD45FEF49EE949AFE9CEBCF18D1DAF4DB4E295B18778F9DFBBE9DA7F2B9D7A6D94CE74CF77F712881C3ED8C2F7358CE54F073E71A3399D31088FCCD7092E1E4854AD165957D6937D631505377548630C4537640373D594C21BBA14B098B49BDF51853559371690D4FA9164AB6184977F8C5DCCA3D26A8F23AAE05BDC125EC02773317B0B2EB1AFF03C7BF39B314AA9C730B21AFD3365E80899CD8EB96C3896CE3A8B24D699C6B3E65034AB4DC2F8D13890D5BBFC78E55FDBD1BCB6F986A6CF89DBA77277B794879C7B0F3E1523F9387A1C3EA963F0CDFA1CBFBC310455C88F374E20E3E759E4DDFA81421652C47C4A594219CB2867A5D82AB11554CA67897C9F796D9A9CDA7D43CC3949AB959388ABFC868892C924974CE744C21A162434B122AD8165C9E758105AC91CC946332416A699A731796F02130DA2182FBDDAF80D017CBEF6346357BA3366B103236659F1443FEDAB9AD70D17ABE0EF12983057D3C3CC71429A77E89A5B629C8DDE742B3C51F756748AC1AD8804FD9B5189DB7E8D4BDEF96B62AAD1AF8929C6BF46C7EEB81113B7F3466C9CD18DB8F8DD372222B7DF080ED1B91E241618A27D3D2068F37537EF95D71C3D965C3BEE32F79A95C3AC1B56F6531A67EA8FDED4D9A94CABA777915677F702ADC7CCD2B5347AB15A9AA5415A9A69DE5A9A51CE5A9A0F6DB4347D0F6B695EDBA3A57969BB96E6E9CD5A9A27966B6934B3B5342F1AC8D6ED0FFE4626FF63E539B14962DF894D6F63D3E4FA413655E6FC9929EF930D70C7FF634947E7DED6D17FB3DD037EFEFCF99A0ED82099C31F98FA7C0FF9BEF5CE9CB6EF7C43C682DB3C5B2AD7A33AF09BFF81EB9E20566F3AF8A24D77C059DE01927207940246FD21658E4A5221AC8C2BE055526E72AD98324719530877C47977E7FC15028AC71450CAA70260D11D000A68E50754EFAB9E9E7A675C25ACCE53E6AA630FBD0A7F85407B2FAB1E56C777DF591105B8425005AC785AB1B69E56E62A73FEBF10507FBCBDC6DBC787324F99A38C2B726B3B5F919D32FEBF2A2115802291F680145D2B638A34547928F3946754FDABDE5625A6CC7B28FD2BF3FFAA8454CF29DE5301A80055C06D035999DFF65E5D2575EEFF3A01058CEA65D5A38A54943155F3CAB83AE77E634AF03F3470F599BFBA027FF6C36AF0FE25800F22F7570828F95C91801A9CEDC90CBAE37965DEFFB5871FF4EC5F21A0E66F2560FF9F017CD0BBFF2A01C5BB8AAED562F6D069F041001FF4FD1F115096FFCFFA1C0574DB0CA4CE5509289F6D9F5753A93AA6D60EE55EC940ED3395BAA2AA63DAAE72DB67057FBBBF912903775EA8A4C3FBF539EA8F290494EF957CDFB6D2AA6D849ADF951F579F51DEA95C2B81AD5CAB695501AA5CABF76D6B4CFBC2A73CABCCBBFDAE3F22F0677D8EF242E505AAB7D5606E1F0B2A689560FB42A500689B0094FBB6EF50B29832A63EDF36CEEECE7D500CA8201449292F50D8DFCFDBAA14DAFE88DA65B69FAF76A4F79368DB064F5D0D55056A3653E5799BFC8308B4EF7354426D73BB9AEFDB7B586DAF5529DDEF1985A4F29C4A56ED585547B525A916CAB6DDEF0309B4EF7354B06AE957B57BBF4E52AD118AC7DAC789EA085586EABDE265654CF17E7B72AA03EE51C59FADC0FDFA1CF5E5ED97BFAD77DB67A0F6BD4FDB8CD43E03B57DAF2A2795FCFD24F7A72B70BF3EA76DAFAFF637ED2BAD4240FD4EF954E2A7EDBD4256BD57AEDBF74AEA776ADCB5C5D1FEFAFE04FE1B37F7FFD527128AC3FF07E10EC211310D5B9B0000000049454E44AE426082)
END

END