@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.MT.Entities.Database
@using ASOFT.ERP.ViewModel.MT
@using ASOFT.ERP.A00.Entities
@model MTF0070ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "MTF0070_GridExpenses",
        keyColumnID = "APK",
        NameEventPost = "",
        Scrollable = true,
        ActionName = "GetDataExpenses",
        ControllerName = "MTF0070",
        IsShowCheck = false,
        HtmlAttribute = new { style = "margin-top:33px;", @class = "asf-grid" },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTID,
                TitleColumn = Html.DisplayNameFor(model => model.ReportID).ToHtmlString(),
                VisibleColumn = true,
                Width = 100,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME,
                TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
                VisibleColumn = true,
                ClientTemplate="<a onClick='MTF0070.btnCallPopupMTF0061_Click(1)' class='asf-grid-link'>#:" + ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME + "#</a>"
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = ASOFT.ERP.A00.Entities.Database.MTT8888.COL_DESCRIPTION,
                TitleColumn = Html.DisplayNameFor(model => model.Description).ToHtmlString(),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = ASOFT.ERP.A00.Entities.Database.MTT8888.COL_GROUPID,
                TitleColumn = "",
                VisibleColumn = false,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = ASOFT.ERP.A00.Entities.Database.MTT8888.COL_TYPE,
                TitleColumn = "",
                VisibleColumn = false,
            },
         }
    };
}
@(Html.ASOFTCreateGridNotPagging<MTF0070GridViewModel>(gridsetting))