@using System.Web.Optimization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn" style="height:100%">
<head>
    <!--meta charset="utf-8" /-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="Stylesheet" href="~/Content/Styles/asoftRD.css" />
    @*@Scripts.Render("~/bundles/script")
    @Styles.Render("~/bundles/styles")*@
    <title>@{ var title = ViewBag.Title ?? string.Format("In báo cáo - {0}", Request.Params["reportId"]); } @title</title>
</head>
<body class="contentReport">
    <object id="contentReport"  data="@ViewBag.Action"
            type="application/pdf" style="position: fixed; z-index: 10001">
    </object>
    <div style="position: absolute;top: 50%;left: 50%;"><img src="/Content/Images/BlueOpal/loading-image.gif"/></div>
</body>
</html>
