@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

<tr class="FromAccountIDPartial">
    <td class="asf-td-caption">@Html.Label(Model.language, htmlAttributes: new { @for = "FromAccountName" })
    </td>
    <td>
        @(Html.ASOFTTextBox(model => model.Data, htmlAttribute: new { Disabled = "Disabled", @id = "FromAccountName"}))
                  
        @(Html.ASOFTButton("...")
        .Name("btnChooseFromAccount")
        .HtmlAttributes(new { style = "width : 26px; height: 26px; background-repeat: no-repeat" })
        .Enable(true)
        .Events(e => e.Click("btnChooseFromAccount_Click")))

         @(Html.ASOFTButton("")
            .Name("btnDeleteFromAccount")
            .HtmlAttributes(new { style = "width : 26px; height: 26px; background-image: url(/Content/Images/icon-delete-24x24.png); background-repeat: no-repeat" })
            .Enable(true)
            .Events(e => e.Click("btnDeleteFromAccount_Click")))
    </td>
</tr>


<script>
    $("#FromAccountName").css("width", "260px");
    $("#FromAccountName").attr("name", "FromAccountName");
</script>