@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     17/5/2016      Quang Hoàng            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.S 
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.CI.Entities.CIF1172
@using ASOFT.ERP.ViewModel.Helper;

@{
    ASOFT.ERP.ViewModel.ASOFTToolBarViewModel toolbar = ViewBag.Toolbar;
    if (toolbar != null)
    {
        toolbar.EventEdit = "EditCIF1175_Click";
    }
}                    
<div class="asfbtn asfbtn-right-1">    
    <ul class="asf-toolbar">                          
        <li>@(Html.ASOFTEditButton(toolbar.EventEdit, new {title = ASOFTLanguage.FindWordA00("A00.btnEdit")})
        .Name(toolbar.ScreenIDEdit + "AT1314")
        .Enable(ASOFTEnvironment.CheckPermission(screenID: toolbar.ScreenIDEdit ?? toolbar.BelongToScreenID, 
                                permission: ASOFTPermission.Update))
        )
        </li>
    </ul>
</div>

<div class="asfbtn asfgrid-right">
@{
    var gridsetting = new ASOFTGridSetting 
    {
        NameGrid = "GridPartialAT1314",
        Scrollable = true,
        ControllerName = "Partial",
        ActionName = "GridDataWareHouseCIF1172",
        NameEventPost = "sendDataWareHouse",
        IsShowCheck = false, 
        IsAutoHeight = false,
        HtmlAttribute = new { style = "height:250px;", @class = "asf-grid"} ,  
        ListGridColumn= new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
                IDColumn = "IsWareHouseName",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.IsWareHouseName","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
               
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "WareHouseID",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.WareHouseID","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
                          
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "NormID",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.NormID","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true
            },     
            new ASOFTGridColumnSetting
            {
                IDColumn = "MinQuantity",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.MinQuantity","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,  
                ClientTemplate = "#= kendo.toString(parseFloat(data.MinQuantity), ASOFTEnvironment.NumberFormat.KendoQuantityDecimalsFormatString) || ''#"
            },  
            new ASOFTGridColumnSetting
            {
                IDColumn = "MaxQuantity",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.MaxQuantity","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = "#= kendo.toString(parseFloat(data.MaxQuantity), ASOFTEnvironment.NumberFormat.KendoQuantityDecimalsFormatString) || ''#"
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "ReOrderQuantity",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.ReOrderQuantity","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = "#= kendo.toString(parseFloat(data.ReOrderQuantity), ASOFTEnvironment.NumberFormat.KendoQuantityDecimalsFormatString) || ''#"
            },       
         }   
      };            
   }
    </div>
@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIF1172>(gridsetting,false)) 

 
       
        
        
        
        
    
    
    
    
    
   
    
    


