@using ASOFT.ERP.ViewModel.Helper

<div style="width:auto; border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" id ="Print">
    <ul>
                <li style="cursor:pointer" id="Print-1" class="asf-menu-active" onclick="print1_Click()">
            <a >@LocalizedHelper.GetLocalizedResourceString("PAF2000.Print1", "PAF2000", "PA")</a>
        </li>  
        <li style="cursor:pointer" id="Print-2" class="asf-menu-active" onclick="print2_Click()">
            <a>@LocalizedHelper.GetLocalizedResourceString("PAF2000.Print2", "PAF2000", "PA")</a>
        </li>  
    </ul>
</div>
