
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.A00.Entities
@using ASOFT.ERP.A00.Entities.Database.Extension

@model POSF0047ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0047_GridXNT",
        keyColumnID = "APK",
        NameEventPost = "",
        Scrollable = true,
        //NameEventDataBind = "ASOFT.asoftGrid.dataBindGridPanging",
        ActionName = "GetDataXNT",
        ControllerName = "POSF0047",
        IsShowCheck = false,
        IsAutoHeight = false,
        HtmlAttribute = new { style = "margin-top:33px", @class = "asf-grid" },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST8888.COL_REPORTID,
                TitleColumn = Html.DisplayNameFor(model => model.ReportID).ToHtmlString(),
                VisibleColumn = true,
                Width = 100,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST8888.COL_REPORTNAME,
                TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
                VisibleColumn = true,
                 ClientTemplate=string.Format("<a onClick='getFilter_Click(this)' class='asf-grid-link'>#:{0}#</a>",
                     ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME)
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST8888.COL_DESCRIPTION,
                TitleColumn = Html.DisplayNameFor(model => model.Description).ToHtmlString(),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST8888.COL_GROUPID,
                TitleColumn = "",
                VisibleColumn = false,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST8888.COL_TYPE,
                TitleColumn = "",
                VisibleColumn = false,
            },
         }
    };
}
@(Html.ASOFTCreateGridNotPagging<POST8888>(gridsetting))