@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     24/07/2014      Hồ Hoàng Tú            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Entities
@using ASOFT.ERP.A00.Entities
@model  POSF0052ViewModel
@{
    var gridsetting = new ASOFTGridSetting 
    {
        NameGrid = "POSF0052Grid",
        Scrollable = true,
        ControllerName = "POSF0052",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            style = "height:550px;",
            @class = "asf-grid"
        },        
        ListGridColumn= new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            }
              ,
            new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "ShopID",
                TitleColumn = Html.ASOFTRaw(model => model.ShopID),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})            
            },
             
             new ASOFTGridColumnSetting
            {
                IDColumn = "AreaID",
                TitleColumn = Html.ASOFTRaw(model => model.AreaID),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})            
            },  
            new ASOFTGridColumnSetting
            {
                IDColumn = "TableID",
                TitleColumn = Html.ASOFTRaw(model => model.TableID),
               // ClientTemplate = "<a class='asf-grid-link' onclick='Detail_Click(this)'>#:TableID#</a>",
                ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", Url.Content("~/POS/POSF0052/POSF0059/?TableID=#=TableID#"),POSP0037.CON_TABLEID),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})              
             },
            
            new ASOFTGridColumnSetting
            {
                IDColumn = "TableName",
                TitleColumn = Html.ASOFTRaw(model => model.TableName),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})            
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "TableNameE",
                TitleColumn = Html.ASOFTRaw(model => model.TableNameE),
                Width = 70,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})            
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width =60,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled == 1? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
               HtmlAttrCoulmns = (new {style = "text-align:center", @class="asf-cols-align-center"})
            }
        
        }
      };            
   }
@(Html.ASOFTCreateGrid<POSP0037>(gridsetting))     
            
            
       
        
        
        
        
    
    
    
    
    
   
    
    


