@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/03/2014      Minh Lâm      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.POS.Entities
@using ASOFT.ERP.ViewModel.POS
@model POSF0015ViewModel

@{  
    
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0015Grid", 
        Scrollable = true, 
        ControllerName = "POSF0015",
        ActionName = "GetGridData",
        //NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_SHOPID,
                TitleColumn = Html.ASOFTRaw(model => model.ShopIDFilter),
                Width = 100,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_VOUCHERDATE,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 120,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_VOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                ClientTemplate = "<a href='/POS/POSF0015/POSF00151?divisionID=#=DivisionID#&APK=#=APK#'" 
                                + "class='asf-grid-link' data-val='trigger-popup' data-url-parameter-value='#=APK#'>#=VoucherNo#</a>",
                Width = 160,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_REFVOUCHERNO,
                TitleColumn = Html.ASOFTRaw(model => model.RefVoucherNoFilter),
                //ClientTemplate = "<a class='asf-grid-link' onclick='voucherDetail_Click(\"#=APK#\")'>#=RefVoucherNo#</a>",
                Width = 160,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_EMPLOYEEID,
                TitleColumn = Html.ASOFTRaw(model => model.ReceiverIDFilter),
                Width = 120,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_EMPLOYEENAME,
                TitleColumn = Html.ASOFTRaw(model => model.ReceiverNameFilter),
                Width = 170,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_DELIVERERNAME,
                TitleColumn = Html.ASOFTRaw(model => model.SenderNameFilter),
                Width = 170,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POSP0015.COL_DESCRIPTION,
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionFilter),
                Width = 280,
                VisibleColumn = true
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0015>(gridsetting))

