update DVATTNDN
set TenChiTieu2 = N'Expenses incurred in the period'
Where TenChiTieu = N'Chi phí phát sinh trong kỳ'

update DVATTNDN
set TenChiTieu2 = N'Taxable income ([26]=[23]+[24]-[25])'
Where TenChiTieu = N'Thu nhập chịu thuế ([26]=[23]+[24]-[25])'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax payable in the period ([31]=[27]-[30])'
Where TenChiTieu = N'Thuế TNDN phải nộp trong kỳ ([31]=[27]-[30])'

update DVATTNDN
set TenChiTieu2 = N'Number of hole transfer in this period'
Where TenChiTieu = N'Số lỗ chuyển kỳ này'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax rate calculated according to the general ([28]=[22]*[24]*[25])'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp tính theo thuế suất chung ([28]=[22]*[24]*[25])'

update DVATTNDN
set TenChiTieu2 = N'General revenue tax rate'
Where TenChiTieu = N'Doanh thu theo thuế suất chung'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax in the period ([27]=[28]+[29])'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp phát sinh trong kỳ ([27]=[28]+[29])'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax in the period ([27]=[28]+[29])'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp phát sinh trong kỳ ([27]=[28]+[29])'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax payable in the period ([32]=[29]*[30]-[31])'
Where TenChiTieu = N'Thuế TNDN phải nộp trong kỳ ([32]=[29]*[30]-[31])'

update DVATTNDN
set TenChiTieu2 = N'Revenue in the period'
Where TenChiTieu = N'Doanh thu phát sinh trong kỳ'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax by the preferential tax rate ([29]=[23]*[24]*[26])'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp tính theo thuế suất ưu đãi ([29]=[23]*[24]*[26])'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax by the preferential tax rate ([29]=[23]*[24]*[26])'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp tính theo thuế suất ưu đãi ([29]=[23]*[24]*[26])'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax is expected to exemption or reduction'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp dự kiến miễn, giảm'

update DVATTNDN
set TenChiTieu2 = N'Corporate income tax is expected to exemption or reduction'
Where TenChiTieu = N'Thuế thu nhập doanh nghiệp dự kiến miễn, giảm'

update DVATTNDN
set TenChiTieu2 = N'Revenue in the period'
Where TenChiTieu = N'Doanh thu phát sinh trong kỳ'

update DVATTNDN
set TenChiTieu2 = N'Tax'
Where TenChiTieu = N'Thuế suất'

update DVATTNDN
set TenChiTieu2 = N'Taxable income ([29] = [26] - [27] - [28])'
Where TenChiTieu = N'TN tính thuế ([29]=[26]-[27]-[28])'

update DVATTNDN
set TenChiTieu2 = N'Revenue of the project under the preferential tax rate'
Where TenChiTieu = N'Doanh thu của dự án theo thuế suất ưu đãi'

update DVATTNDN
set TenChiTieu2 = N'Tax rates on corporate income (%)'
Where TenChiTieu = N'Thuế suất thuế TNDN (%)'

update DVATTNDN
set TenChiTieu2 = N'Adjust boost profits tax law'
Where TenChiTieu = N'Điều chỉnh tăng lợi nhuận theo pháp luật thuế'

update DVATTNDN
set TenChiTieu2 = N'Adjust boost profits tax law',
    TenChiTieu = N'Thuế TNDN dự kiến miễn, giảm'
Where TenChiTieu = N'Thuế TNDN sự kiến miễn, giảm'

update DVATTNDN
set TenChiTieu2 = N'Adjust boost profits tax law'
Where TenChiTieu = N'Thuế TNDN dự kiến miễn, giảm'

update DVATTNDN
set TenChiTieu2 = N'Profit in the period ([23]=[21]-[22])'
Where TenChiTieu = N'Lợi nhuận phát sinh trong kỳ ([23]=[21]-[22])'

update DVATTNDN
set TenChiTieu2 = N'Income tax exemption'
Where TenChiTieu = N'Thu nhập miễn thuế'

update DVATTNDN
set TenChiTieu2 = N'Income tax exemption'
Where TenChiTieu = N'Thuế suất chung (%)'

update DVATTNDN
set TenChiTieu2 = N'Preferential tax rate (%)'
Where TenChiTieu = N'Thuế suất ưu đãi (%)'

update DVATTNDN
set TenChiTieu2 = N'The rate of income tax revenue'
Where TenChiTieu = N'Tỷ lệ thu nhập chịu thuế trên doanh thu (%)'

update DVATTNDN
set TenChiTieu2 = N'The rate of income tax revenue (%)'
Where TenChiTieu = N'Tỷ lệ thu nhập chịu thuế trên doanh thu (%)'

update DVATTNDN
set TenChiTieu2 = N'To decrease the profit tax law'
Where TenChiTieu = N'Điều chỉnh giảm lợi nhuận theo pháp luật thuế'