Update MT21 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT22 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT25 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT32 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT23 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT33 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT31 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null

Update MT24 set NgayBatDauTT = NgayCT
where NgayBatDauTT is null