---- Thêm thiết lập các báo cáo tài chính cho TT200
-- 1) Bảng cân đối kế toán - TT200
declare @sysReportID int

select @sysReportID = sysReportID from [CDT].[dbo].sysReport
where ReportName = N'Bảng cân đối kế toán - TT200'

if not exists (select 1 from sysFormReport where sysReportID = @sysReportID)
BEGIN
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 0, N'                                   TÀI SẢN', NULL, NULL, N'', N'', NULL, 0, N'                                   ASSETS', 1, 0, NULL)
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 1, N'A. TÀI SẢN NGẮN HẠN (100=110+120+130+140+150)', N'100', NULL, N'@110+@120+@130+@140+@150', N'', NULL, 0, N'A. CURRENT ASSETS ', 1, 0, NULL)
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 2, N'  I. Tiền và các khoản tương đương tiền', N'110', NULL, N'@111+@112', N'', NULL, 0, N'I. Cash and cash equivalent', 1, 0, NULL)
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 3, N'    1. Tiền', N'111', N'V.01', N'', N'11', NULL, 5, N'1. Cash', 1, 0, NULL)
END

-- 2) Báo cáo kết quả kinh doanh - TT200
select @sysReportID = sysReportID from [CDT].[dbo].sysReport
where ReportName = N'Báo cáo kết quả kinh doanh - TT200'

if not exists (select 1 from sysFormReport where sysReportID = @sysReportID)
BEGIN
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 1, N'1. Doanh thu bán hàng, cung cấp dịch vụ', N'01', N'VI.25', N'@011-@012', NULL, NULL, 0, N'1. Sales', 1, 0, NULL)
END

-- 3) Báo cáo lưu chuyển tiền tệ - Phương pháp trực tiếp - TT200
select @sysReportID = sysReportID from [CDT].[dbo].sysReport
where ReportName = N'Báo cáo lưu chuyển tiền tệ - Phương pháp trực tiếp - TT200'

if not exists (select 1 from sysFormReport where sysReportID = @sysReportID)
BEGIN
INSERT [dbo].[sysFormReport] ([sysReportID], [Stt], [ChiTieu], [MaSo], [ThuyetMinh], [CachTinh], [Tk], [Tkdu], [LoaiCT], [ChiTieu2], [InBaoCao], [Iscn], [XuatGiaTriAm]) VALUES (@sysReportID, 1, N'I. Lưu chuyển tiền từ hoạt động kinh doanh', NULL, NULL, N'0', N'', N'', 0, N'I. Cash flows from operating activities ', 1, 0, NULL)
END