
@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     22/04/2014      Minh Lam        Add heading
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.POS
@model POSF0040ViewModel
@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "mainGrid", 
        Scrollable = true, 
        ControllerName = "POSF0039",
        ActionName = "GetGridDetailData",
        IsShowCheck = false,
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            
            @class = "asf-grid",
            style = "height:230px;", 
            AddNewRowDisabled = "true"        
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                ClientTemplate = "#= renderNumber(data) #",
                TitleColumn = "#",
                Width = 25,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_INVENTORYID,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                Width = 100,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_INVENTORYNAME,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 220,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_UNITNAME,
                TitleColumn = Html.ASOFTRaw(model => model.UnitID),
                Width = 50,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_ACTUALQUANTITY,
                TitleColumn = Html.ASOFTRaw(model => model.Quantity),
                Width = 50,
                EditColumn =  true,
                FormatType = EnumFormatType.QuantityDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_UNITPRICE,
                TitleColumn = Html.ASOFTRaw(model => model.UnitPrice),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.UnitCostDecimals
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_DISCOUNTRATE,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountRate),
                Width = 50,
                VisibleColumn = true,
                EditColumn =  true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.PercentDecimals
                
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_DISCOUNTAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountAmount),
                Width = 80,
                EditColumn =  true,
                VisibleColumn = true,                
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.ConvertedDecimals
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_VATPERCENT,
                TitleColumn = Html.ASOFTRaw(model => model.VATPercent),
                Width = 50,
                EditColumn =  true,
                VisibleColumn = true,
                FormatType = EnumFormatType.PercentDecimals,
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POST0034.COL_TAXAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.TaxAmount),
                Width = 80,
                EditColumn =  true,
                VisibleColumn = true,
                FormatType = EnumFormatType.ConvertedDecimals,
                
            },
             new ASOFTGridColumnSetting
            {
                IDColumn =  POST0034.COL_INVENTORYAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryAmount),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.ConvertedDecimals
            },
            
            new ASOFTGridColumnSetting
            {
                IDColumn = "APK",
                Width = 50,
                ClientTemplate = @"<a 
                                    href='\\#' 
                                    data-role='btnDelete' 
                                    data-apk='#=APK#' 
                                    data-status-record-id='#=StatusRecordID#' 
                                    class='asf-i-delete-32'>
                                    <span>Del</span>
                                  </a>",
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            }
        }
    };
}

@(Html.ASOFTCreateGridEdit<POST0034>(gridsetting)
.Events(e=>{
    //e.Save("Grid_Save");
    e.Change("Grid_Change");
}))