@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     07/07/2014      Thai Son        Tạo mới
//####################################################################
*@
@model ASOFT.ERP.ViewModel.POS.POSF0040ViewModel

<h2>
    @Html.ASOFTRaw(m => m.AreaLabel)
    <span id="area-name">@Model.Area</span>
    &nbsp; - &nbsp;
     @Html.ASOFTRaw(m => m.TableLabel)
    <span id="table-name">@Model.Table</span>
</h2>
<ul>
    <li class="orange_square">Đã chế biến
    </li>
    <li class="green_square">Đã in hóa đơn
    </li>
</ul>
