@using Kendo.Mvc.UI;
@using ASOFT.ERP.A00.Core.Control;

@model ASOFTChartSetting

<div class="asf-block-toolbar">
    <div class="asf-block-title">Tháng hiện tại</div>
    <ul class="asf-toolbar">
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thay đổi kích thước" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-magnify-add"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Làm mới" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-refresh"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thiết lập" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-cogs-32"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Xóa" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-delete"></span></a></li>
    </ul>
</div>
<div class="asf-block-content scroll">
    <table class="task-list">
        <tbody>
            <tr><td>Họp dự án CSG</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Họp ERP 90</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Thông báo lương NV cũ</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Phỏng vấn nhân viên mới</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Đào tạo marketting bằng tâm lý</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Gặp đối tác cung cấp nhân sự</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Gặp khách hàng Cotecon</td><td class="right">15:00 08/10/2014</td></tr>
            <tr><td>Gặp khách hàng Secoin</td><td class="right">15:00 08/10/2014</td></tr>
        </tbody>
    </table>
</div>