<div class="zoom-tooltip">
    <ul>
        <li><a href="javascript:void(0);" id="zoom-30" data-force="s-block">Nhỏ (30%)</a></li>
        <li><a href="javascript:void(0);" id="zoom-60" data-force="m-block">Trung bình (60%)</a></li>
        <li><a href="javascript:void(0);" id="zoom-100" data-force="xl-block">Lớn (100%)</a></li>
    </ul>
</div>