@using ASOFT.ERP.A00.Core;
<div style="width:200px; border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" >
        <ul>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_KhoaHoc" onclick="CreateLinkMenu(this)"><a id="/MT/MTF1000/">Khóa học</a></li>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_CTDaoTao" onclick="CreateLinkMenu(this)"><a id="/MT/MTF1010/">Chương trình đào tạo</a></li>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_GioHoc" onclick="CreateLinkMenu(this)"><a id="/MT/MTF1020/">Giờ học</a></li>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_LyDoNghiHoc" onclick="CreateLinkMenu(this)"><a id="/MT/MTF1030/">Lý do nghỉ học</a></li>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_LopHoc" onclick="CreateLinkMenu(this)"><a id ="/MT/MTF1040/">Lớp học</a></li>
            <li style="cursor:pointer" id="ItemQLHV_DanhMuc_Demo" onclick="CreateLinkMenu(this)"><a id="/RD/MTF1000/">Nghiên cứu</a></li>
        </ul>
</div>