@using ASOFT.ERP.A00.Core;
<div style="width:200px; border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" >
        <ul>
            <li style="cursor:pointer" id="ItemQLHV_NghiepVu_HocVien" onclick="CreateLinkMenu(this)"><a id="/RD/MTF2000/">Quản lí học viên</a></li>
            <li style="cursor:pointer" id="ItemQLHV_NghiepVu_ThoiHoc" onclick="CreateLinkMenu(this)"><a id="/RD/MTF2020/">Thôi học</a></li>
        </ul>
</div>