
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.SO
@using ASOFT.ERP.SO.Entities
@model SOF0000GridViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "SOF0000Grid",
                              NameEventPost = "",
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "SOF0000",                              
                              HtmlAttribute = new { @class = "asf-grid", style = "height:300px;" },
                              IsShowCheck = true,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                   new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                               ClientTemplate="#= SOF0000.rowNumber() #"
                                                           },                                       
                                    new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = SOF0000Grid.COL_VOUCHERTYPEID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.VoucherTypeID),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               EditorTemplateName = "SOVoucherType",
                                                               EditColumn = true,
                                                           },
                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = SOF0000Grid.COL_VOUCHERTYPENAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.VoucherTypeName),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                           },
                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = SOF0000Grid.COL_SETTINGS,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.Settings),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               ClientTemplate = string.Format("<a href='\\#' onclick='return {2}' ><input type='button' id='{0}' value='{1}' '/></a> "
                                                                                                ,SOF0000Grid.COL_SETTINGS
                                                                                                ,"..."
                                                                                                ,"SOF0000.Settings_Click(this)"), 
                                                                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                           },                    
                                        new ASOFTGridColumnSetting
                                                            {
                                                                Width = 50,
                                                                VisibleColumn = true,
                                                                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                                                                        "SOF0000.deleteAddress(this)"), 
                                                                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                            } 
                              }
                          };
}

@(Html.ASOFTCreateGridEdit<SOF0000Grid>(gridsetting,false))