.k-file.k-file-success.k-file-not-complete
{
	color: #FA5858 !important;
	border-color: #FA5858 !important;
}

.k-file.k-file-success.k-file-not-complete .k-progress
{
	background-color: #ffcbcb !important;
}

.k-file.k-file-success .k-progress
{
	top:50px;
}