@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     23/07/2014      Đức Quý         Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Entities
@model POSF0060ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0060Grid", 
        Scrollable = true,
        NameEventPost = "sendDataFilter",
        ControllerName = "POSF0060",
        ActionName = "GridData",
        HtmlAttribute = new
        {
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_DIVISIONID,
                TitleColumn = Html.ASOFTRaw(model => model.DivisionID),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {Class="asf-cols-align-center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_SHOPID,
                TitleColumn = Html.ASOFTRaw(model => model.ShopID),
                Width = 40,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {Class="asf-cols-align-center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_TIMEID,
                TitleColumn = Html.ASOFTRaw(model => model.TimeID),
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = "<a href=" + Url.Content("~/POS/POSF0060/POSF0062/?TimeID=#=TimeID#") + ">#:TimeID#</a>",
                HtmlAttrCoulmns = (new {Class="asf-cols-align-center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_TIMENAME,
                TitleColumn = Html.ASOFTRaw(model => model.TimeName),
                Width = 60,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_TIMENAMEE,
                TitleColumn = Html.ASOFTRaw(model => model.TimeNameE),
                Width = 60,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:left"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "BeginTime",
                TitleColumn = Html.ASOFTRaw(model => model.BeginTime),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {Class="asf-cols-align-center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "EndTime",
                TitleColumn = Html.ASOFTRaw(model => model.EndTime),
                Width = 80,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {Class="asf-cols-align-center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POSP0040.COL_DISABLED,
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width = 110,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
                 HtmlAttrCoulmns = (new {style = "text-align:center", Class="asf-cols-align-center"})
            },
        }
    };
}

@(Html.ASOFTCreateGrid<POSP0040>(gridsetting))

