@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.A00.Business.Common;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

@{
    string sysComboBoxID = ASOFTSysAdminBL.GetsysIDByID(ASOFTTableSysAdmin.sysComboBox, "cboInventoryID_BI").ToString();
    }

<div class="asf-filter-main" id="FromToInventoryID">
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.FromInventoryID","A00","00")
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "FromInventoryID",sysComboBoxID=sysComboBoxID}))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.ToInventoryID","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "ToInventoryID",sysComboBoxID=sysComboBoxID}))
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
       
    })
   

</script>