

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.MT.Entities.Database
@using ASOFT.ERP.ViewModel.MT
@model ASOFT.ERP.ViewModel.MT.MTF1021GridViewModel

@helper PanelContent()
{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "MTF1022Grid",
                              keyColumnID = "APK",
                              NameEventPost = "MTF1020.MTF1022Grid_CallBack",
                              Scrollable = true,
                              ActionName = "GetListDetail",
                              ControllerName = "MTF1020",
                              HtmlAttribute = new {style = "height:578px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>
                                                   {
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1021.COL_DAYID,
                                                               TitleColumn = Html.ASOFTRaw(model => model.DayID),
                                                               VisibleColumn = false,
                                                           },
                                                        new ASOFTGridColumnSetting
                                                           {
                                                                IDColumn = "STT",
                                                                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                                VisibleColumn = true,
                                                                HtmlAttrCoulmns=new {@class="asf-cols-align-center"},
                                                                Width = 70,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = ASOFTEnvironment.Language.Equals("vi-VN") ? MTF102201.COL_DESCRIPTION : MTF102201.COL_DESCRIPTIONE,
                                                               TitleColumn = Html.ASOFTRaw(model => model.Description),
                                                               ClientTemplate = "<a onClick=MTF1020.btnEditDetails_Click() class='asf-grid-link'>#:" + (ASOFTEnvironment.Language.Equals("vi-VN") ? MTF102201.COL_DESCRIPTION : MTF102201.COL_DESCRIPTIONE) + "#</a>",
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1021.COL_BEGINTIME,
                                                               TitleColumn = Html.ASOFTRaw(model => model.BeginTime),
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1021.COL_ENDTIME,
                                                               TitleColumn = Html.ASOFTRaw(model => model.EndTime),
                                                               VisibleColumn = true,
                                                           }
                                                   }
                          };

    @(Html.ASOFTCreateGridNotPagging<MTF1021GridViewModel>(gridsetting))
}

@(Html.ASOFTTab()
      .Name("MTF1022Tab")
      .Items(tabstrip =>
                 {
                     tabstrip.Add().Text(ASOFTLanguage.FindWordA00("A00.Details")).HtmlAttributes(new {id = "asf-detail"})
                         .Selected(true)
                         .ContentHtmlAttributes(new {@class = "asf-tab-content"})
                         .Content(PanelContent().ToHtmlString());

                     tabstrip.Add().Text(ASOFTLanguage.FindWordA00("A00.Attach"))
                         .ContentHtmlAttributes(new {style = "height:792px;"})
                         .ContentHtmlAttributes(new {@class = "asf-tab-content"})
                         .Content(ASOFTLanguage.FindWordA00("A00.Attach"));

                     tabstrip.Add().Text(ASOFTLanguage.FindWordA00("A00.History"))
                         .ContentHtmlAttributes(new {style = "height:792px;"})
                         .ContentHtmlAttributes(new {@class = "asf-tab-content"})
                         .Content(ASOFTLanguage.FindWordA00("A00.History"));
                 })
      )