
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.MT
@model MTF1020ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "MTF1020Grid",
                              keyColumnID = "SchoolTimeID",
                              NameEventPost = "MTF1020.sendFilter",
                              Scrollable = true,
                              ActionName = "GetListSchoolTime",
                              ControllerName = "MTF1020",
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>
                                                   {
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 70,
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1020.COL_DIVISIONID,
                                                               TitleColumn = Html.ASOFTRaw(model => model.DivisionID),
                                                               VisibleColumn = true,
                                                               HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                               Width = 100,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1020.COL_SCHOOLTIMEID,
                                                               TitleColumn = Html.ASOFTRaw(model => model.SchoolTimeID),
                                                               VisibleColumn = true,
                                                               Width = 300,
                                                               ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", @Url.Content(string.Format("~/MT/MTF1020/MTF1022/?SchoolTimeID=#:{0}#", MTT1020.COL_SCHOOLTIMEID)), MTT1020.COL_SCHOOLTIMEID),
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1020.COL_SCHOOLTIMENAME,
                                                               TitleColumn = Html.ASOFTRaw(model => model.SchoolTimeName),
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1020.COL_NOTES,
                                                               TitleColumn = Html.ASOFTRaw(model => model.Notes),
                                                               VisibleColumn = true,
                                                           },
                                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = MTT1020.COL_DISABLED,
                                                               TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                                                               VisibleColumn = true,
                                                               HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                               ClientTemplate = string.Format("<input type='checkbox' #= {0} ? 'checked' : '' # onclick='return false' />", MTT1020.COL_DISABLED),
                                                               Width = 100,
                                                           }
                                                   }
                          };
}

@(Html.ASOFTCreateGrid<MTF1020GridViewModel>(gridsetting))