.email-subject
{
    width:1%;
}
.btn-importword
{
    width:100%;
    display: flex;
    padding-bottom: 10px;
}
.center
{
    margin: 0 auto;
}
.template-email-body
{
    border: 2px solid #DDDDDD;
    border-radius: 25px;
    float: left;
    margin-left: 20px;
    width: 97%;
}
.template-email-subject
{
    padding-left:20px;
}
/*.k-editor, .k-editable-area
{
    border:transparent !important;
}
.k-dropdown-wrap,.k-state-default
{
    border-color: #AAAAAA;
}*/