.cols-35 {
    width: 35%;
}

.padding-top {
    padding-top: 20px;
}

.radio {
    padding-top: 10px;
}

/*************************************************************
                STYLE TEXTBOX BUTTON CHOOSE
**************************************************************/
.asf-common-search.popup-input-text,
.asf-common-search.popup-input-text > .k-textbox.k-space-right {
    width: 100%;
}
.asf-common-search.popup-input-text > span.k-textbox.k-space-right > .k-button,
.asf-common-search.popup-input-text > span.k-textbox.k-space-right > .k-button:hover,
.asf-common-search.popup-input-text > span.k-textbox.k-space-right > .k-button:focus {
    background-image: url("/Content/Images/icon-pdf-24x24.png");
    border: none;
    background-color: transparent; 
}

.asf-common-search.popup-input-text > span.k-textbox {
    background-color: #ffffff !important;
}

.asf-common-search.popup-input-text span.k-textbox.k-space-right {
    border-bottom: 1px solid #AAAAAA !important;
    border-width: 0 0 1px 0 !important;
}
