

    .callcenter {
        position: fixed; 
        bottom: 5px; 
        right: 5px; 
        z-index: 2147483647; 
        bottom: 20px;
    }

    .anchor {
        float: left;
        margin-top: 60px;
    }

    .anchor .anchor1 {
        height: 70px;
        width:  26px;
    }

    .anchor .anchor1 .BtnAC {
        height: 30px;
        width: 70px;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        transform: rotate(270deg);
        margin-left: -25px;
    }

    .callcenter .screencall {
        height: 150px;
        color: #333;     
        text-align: left;
        margin: 20px 16px 10px 25px;      
        background:  #fff;
        width: 380px;
        border: 1px solid #94c0d2;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .btnv {
        float: left;
        width: 126px;
        text-align: center
    }

    .call-number {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .call-number .call-s {
        float: left;
        margin-left: 10px;
        border: 1px solid #94c0d2;
        border-right: none;
        height: 24px;
        width: 30px;
        text-align: center;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
    }

    .call-number .call-text {
        float: left;
        width: 280px;
    }

    .call-number .call-bt {
        float: right;
        margin-right: 12px;
    }

    
    .call {
        float: left;     
        width: 380px; 
        margin-left: -1px;
        border: 1px solid #94c0d2;
        background: #fff;
    }

    .bar {
        width: 380px;
        text-align: center;
    }

    .tb-callcenter {
        margin: 0px 10px 10px 20px;
    }

    .title-bar { 
        border-top-right-radius: 10px !important;
        border-top-left-radius: 10px !important;
        background: #ff6a00;
        height: 20px;           
    }

    .title {
        float: left;
        width: 320px;
        height: 20px; 
        margin-left: 17px;
        text-align:center;
        color: #fff;
        font-weight:bold;
        
    }

    .callcenter .close_box {
        background: #fff;
        float: right;
        border: 1px solid #BCBCBC;
        border-top-right-radius: 10px !important;
    }

    .callcenter .minimize_box {
        background: #fff;
        float: right;
        border: 1px solid #94c0d2;
    }

    .callcenter-small {
        display: none;
        position: fixed; 
        bottom: 5px; 
        right: 20px; 
        z-index: 2147483647;
        width: 300px;
        border: 1px solid #94c0d2;
        background: #ff6a00;     
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;  
    }

     .callcenter-small .close_box1 {
        background: #fff;
        float: right;
        border: 1px solid #94c0d2;
        border-top-right-radius: 10px !important;
      }

    .callcenter-small .minimize_box_show {
        background: #fff;
        float: right;
        border: 1px solid #94c0d2;
    }

    .callcenter-small .title-small {
        float:left; 
        font-weight:bold;
        text-align: center;
        color: #fff;
        width: 250px;
        border-top-left-radius: 10px !important;        
    }

    #CallNumber {
        border: 1px solid #94c0d2;
        border-bottom-right-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    .incomingcall {
        position: fixed; 
        bottom: 5px; 
        right: 450px; 
        z-index: 2147483647; 
        bottom: 20px;
        border: 1px solid #94c0d2;
        border-radius: 10px !important;
        width: 400px;
        height: 180px;
        background: #fff;
    }

    .incomingcall .tb-incomingcall {
        margin: 10px 10px 10px 35px;
        text-align: left;
    }

    .incomingcall .incomingcall-bar {
        width: 400px;
        height: 20px;
        text-align: center;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background: #ff6a00;
        color: #fff;
        font-weight: bold;
    }

    .k-loading {
        border-top-style: none !important;
    }

    .keyboard .tb-keyboard{
        margin-bottom: 5px;       
        height: 150px;
        width: 390px;       
    }

    .grid-history {
        position: fixed; 
        bottom: 5px; 
        right: 450px; 
        z-index: 2147483647; 
        bottom: 20px;
        height:300px;
    }



