@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved.
//#
//# History:
//#     Date Time       Created                Comment
//#     09/10/2014      Hồ Hoàng Tú            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.CI 
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities
@model CIF1020ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "CIF1020Grid",
        Scrollable = true,
        ControllerName = "CIF1020",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            style = "height:550px;",
            @class = "asf-grid"
        },
        IsShowCheck = true,
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
               IDColumn = "RowNum",
              TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width =25,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "DutyID",
                TitleColumn = Html.ASOFTRaw(model => model.DutyID),
                 ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", Url.Content("~/CI/CIF1020/CIF1022?DutyID=#=DutyID#"),CIP10201.CON_DUTYID),
                Width =50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            }   ,
            new ASOFTGridColumnSetting
            {
                IDColumn = "DutyName",
                TitleColumn = Html.ASOFTRaw(model => model.DutyName),
                Width = 300,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            } ,
            new ASOFTGridColumnSetting
            {
                IDColumn = "DutyRate",
                TitleColumn = Html.ASOFTRaw(model => model.DutyRate),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-right" }
            }
            ,
             new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width =80,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled == 1? 'checked' : '' # onclick='return false;' disabled=disabled />",
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }
        }

    };
}
@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIP10201>(gridsetting,false))