USE [CDT]
declare @sysTableID int,
		@sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysMenuParent int,
		@ListTypeID int
		
select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = 'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = 'STD'

--1) Them table DMMauSoHD
if not exists (select top 1 1 from sysTable where TableName = 'DMMauSoHD')
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DMMauSoHD', N'Mẫu số hóa đơn', N'Form of invoices', N'FormID', NULL, NULL, 2, N'Stt', NULL, 0, NULL, 8, NULL, 0)

select @sysTableID = sysTableID from sysTable where TableName = 'DMMauSoHD'

if not exists (select top 1 1 from sysField where FieldName = 'FormID' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'FormID', 0, NULL, NULL, NULL, NULL, 0, N'Mẫu số', N'Form ID', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 1, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'FormName' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'FormName', 0, NULL, NULL, NULL, NULL, 2, N'Tên loại hóa đơn', N'Form Name', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'FormSymbol' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'FormSymbol', 0, NULL, NULL, NULL, NULL, 2, N'Ký hiệu mẫu số', N'Form Symbol', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Disabled' and sysTableID = @sysTableID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableID, N'Disabled', 1, NULL, NULL, NULL, NULL, 10, N'Không sử dụng', N'Disabled', 3, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DMNH_Disabled', NULL, 0, NULL)

-- 2) Lấy list type [Thuế]
select @ListTypeID = ListTypeID from ListType where ListType = N'Thuế'

--3) Thêm Menu
if isnull(@sysSiteIDPRO,'') <> ''
BEGIN

-- Site PRO
select @sysMenuParent = sysMenuID from sysMenu 
							where  MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDPRO AND sysMenuParent is null

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Mẫu số hóa đơn' and sysSiteID = @sysSiteIDPRO)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Mẫu số hóa đơn', N'Form of invoices', @sysSiteIDPRO, NULL, @sysTableID, NULL, 3, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 250, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300002E2200002E2201AAE2DD920000129649444154785ED59B095854579A86C964663A1DB3383D3DFD741613A79DB4C668AB716905C525ADE2826210770C12514454145410451004150141058BA58A7D2B7659642D5164876211014140C02DEE26E9E965BABF39FFA16E59540A0AD3B6109FE77BEEAD7B6F5DEE79CFF7FFE73FA7AE3A0074D4A5A3F2CFD63FDED92F3613EE61A938169E26DB172095ACF308735EE61C3C8769A4EAB53FC57D6AFB0F00F0832AFFCE5734CB6E3FF95FB4DE7E8886F6DBA86CB8814B15F5C8282CC7B984EC5E7018141B059CE13F15202F048140685273D737A86BEDE2700A4AE590E6147138AE9294C7CE21C9B20381893E4319CE4B81D01F1C7953074AEB9A399CD8CC420EC7232CAD9DE05098313866E49CC174CD3F158226385D0FBF033987E05CA9BEC6E1889373413987E0EC3F97A00A67E2AB80F3A32024A667835456D7A4313CFA72467FC7DBEF3DE17028A4084E6E51A5128E67E479B9636062F2569F68728E11D34B85F3C2109A6EDE85382A9ECBD6FEA0520425F77219D7CB84A39E8C090E85D4C9C874509E79194E796108D76EFD09D157FE8A8286BF20BBA459E9088242005C3C3C71CA3F500987F67F8C33B47D87DCC220380F0A84E2EB7FC6161194DA2906DC93FFC6C164CAFF82EA8E3F732708CE7899AE50054361336810A891D47055109AF6098C58F67F482AFF2B089CB69E7DD1F3830A4178580A0B0A097200357820609CE2FE0EFF9CE760DAEEFFE947C3A9B8DA3A784EE8AFC7A851D4EB04C63BFD6FD817F977AD8EA16BE85AFA0E7D97E00EC415A5B5CD8307E1D4E183485EAB0F89BD354F80940C5F3618D53C436ED304A6583E888931C9E320BED1D5E1126A051A19685F183AB5812168D4EB942F283C284CB4E518F5BC72B9B27EF09C20713D88AAC9CF216872018D085443A8C219C828A10A86F28C2A18750817CB6A060F8230F489037B6A01C101EA8DA4E3AA80C81D8253FAFA8E26A0341AD1D0AB1E1205C555830B4178588B6D3D794128A3551B494593B6DE570523B8862AD28124C6DCA2F2C183408931D4441F941B549D4030088A70CCD05606E383722CDB958C2D8713E125CEE54ED0064635B7F40726BBB064F020A82646D586EE744B84BD7BB0B2A1744E53B22330ABEC9240D7BB9F95721769EB7DC169AA0EC92C281A3C089418C3C6E8F0E4D85743E9F8D73B0E61DF8904DEE0BEAE1320D1796D60D473CCF9DCC2C1832038A160820E261B3A63C1B6642EF586AA3E34F5347DA69E27075083C911FD0D8B9AC0A83A212E2573F021509DA0DA70339FC74A1804455B62A4DC40314FB9827206E58EFEC0A8426DBBFB1861714983074108070A8919AB7CFAEC4D218E2961AA8E1AFD65FEC2AA66381CF184934F02761CCFE750D7BAB7F3BFA10AA1FE463724D1D2C183A09A188530104282B6426F0AD5244110D6188485185530DAEA8BF30565F00EEC49A004B0E39BA7A8BC7603C11171AF1E42E7FDA7E8B8F718C187ED79626C99A6393152CF118C119BA6C240B415B6220F249617F23906358400AC5A67CAB70487C0A842A27D4D6E1120900B08426068F4AB8510955322ABBEDA045290241C35E5157CFBF6AA69F8EDEE3D98611DF08378D6711F079D34BD1EF94E84CE814FF199FB52ACF2DB855309E1101767F09A41A82F849A801A4BDFA56BB7F83BC225C40F89B27C0E9096DA080029401CF1AA2114CB6AAEB580141C16C9B6D7B97A3534780A6FE8FB76EB30D9C11B3A9BFF1B3A31BF7F0E4200425B3A4E90D8F5BA27D670B71098B2BB1DBCB1C3B316C2E6AA2F97CF8D38E8B07B4BD32E40DEDCA184702628F4D54288CD2F9335B474E02A93BFBD0DC4333FC4B9CDC6D059FB514F2FAB3650B12F898CC11951080E0678C2C0FB6BBCE3C420F5712DFFBE02E23B96E339A0916E7331316303265E34E350C4515225007282DFB990570B21FE62A5ACA9E31648D14E7B945369DE9B8A87A75EE5528441788C14614CEE9EDEF00F92202E251D39974AE1E2E7030B6673B23BBF56DD2D8AEF53E38DC4563DF764128545F782E07336F0D54248B854236BE9BE0792C8C315A193DFE51563AF7010DC408D620FEDE8EC0AFFE0501CF3F245647C128E7BFB22ED423EA6EBCE84F3D1E3BDA6D91627F63F770B8511BBD79C2BD6302AB787737308FFAC0EC1EB74C0AB859074A54ED67EE7114831896968BBF3101979853DE1203840CDEA3189A9FC3A127D472489C03996CCCE89C311CDCEC5269D477C6A269F70D1C48B4605615649F71C7E782ABFF7F013337A4128AB6D44694D0302822538208A97E4CB2ECE2960FA4796DE07F4BB434A4983EC261B2249416151B8C9C66A92A6C428407172F5505E77F39B276CBF471D4C4555750864F72105319B279CBFC0275142792D38814282F202FD1DC1092269321C0202E170F808426312E11D100297137EC8CD2FF8D120060421ADAC51D6CD7E43240547C42244213E029013348C02544B90242B6721C4C581F77A576737BA1E7EDB5B0FBE45435B37BB6F0C4222E3B823E89E23538DF8E8E05D1A891589B6F0658930FE7C36BCA3D8356C843230598F0D967BB8763B1F818DC361B9A3DB0999A39B2797481C3EE09FEA0604E17C7993ECD6E33F8294C01E44D8573A4131DC294383414919D7B30427888A2B3A16BAF87710EFDF0EB14884C68646E5BD94F7A73A81E580913EF3B129701FE40D0DCC05E1B0B0B1C30EFB4370091473087A0B0CF8677BF76388C94B83AB8F3B4E8B82919A9503696A0612D332DB071A222F0CC1C5CF1BB6912778AF694C8C942019942FFF6006E7397394D5A52A10619F4399FD31249B0C21F1F644794919AF07080225457FB914D75A5A505C5383AFB66CC191939EF0080DE710D65859F3CFFEF15148BC980EAF7327B1699B253F463AE6EB2B7FA910A445F572A1A708003D248DDD7344A6CF13A35A58A8CE3069FFABD5CE5AA1D0F47CEF081D2C32F915DEB5FD0406019BD1D2D686CAAB57E11F1E8EC004294EC6B2329B41D8E37D0ABED1E108BB9082F4A22C986DDD888030915281E1213E2F1542A44CAEB4ADADC85D990368F822515537326F25269E59A1CCEA34C3A4E9B5A63583FEA0A886110DC3D5B575A86B6A427E7939C22FE4C02B3E112EE151708B8CC2E924290F85BCF21C989AAF456246AC5251D2E801274AADE1406F91945DBFD52B76292F108C45DE9B79A347462DED81C0B2392533724A82E21D065A48A1F5029A540D048AD3E837D1F0E568A63128DFA887AAEC3434B5B6A2A89ABDE9929B0F2B9604B7B9BAC33D2A1AE75213915C9881A29A7C6C305B830B1753948A4D8A73E64A8E770E098BEA37496A85B03320592284425FDB0436C1A1FA9FE6017C7C673583FA7218CD0C85D5A5FEA0B845B23758AA6A9059908DD4DC54B477B4A3ADA3035E7E7E586962823A161A4FBEFB0E8F9E7D8BAAE606E457E4A3FA5A21BCFD8E205396CCC2A708FEEC5982A28310951ACD159E10D96F7EE8170273C1F0B8CB758F3535BEBFC5119A3A6B5B3CA57581D0D8441CF20CC7268758A5534233EA50D9D88AFA96365C6FEBC0CDCE4E040507C3D8D8184F9E3DC343A63B0F1F313DC483276C7BBF0B4D378A70B3AB149DDDA568BF59CC41AC58B71A3E9240AE53E2A0DEAFE3A9258B7E219879C5F8B4DE7DAA0C8581FC1EA0ED9AEE47DF8396C7E8D59C4656205D6DBB85DA964E5437B5B3E22701A10959289437A082CD58AF3210D5B5F5183D7A34DA5882FCF6FBEF71970168BF731737EFDEC1BD47DFE0D9770F70FFC1750EA08D01B87EE332EC0F58C3DCD60E0EDE3E5CCEBE7E92FE9264BF101CD98A8EB6460DF43CB9A9931546F46ED20D567EB7DC7AC04540E8D8CDFBCFF8968E651755E0327BE38D40EC7364B5818B0B1E3F798A1CB68E119C9185A33E5EF0F23D85CEDBED0CC23D3CFBF62E3A3A4BD1D47209D2A420CC5ABA029B0FBA72ED3A724CEB50D91F84D7BEB07239AABBD818E656BB584C9E457661F18F824200C801247A7B8D44FB0485C28240D082C9F5EEFB68EABCC71D927CB10485B54DF864CCA728ABA8406D7D3D167F698CCFF5F511240DC5AEDDDB606767835BB7AFE3D1E32E7474D5A2BA2E0FD3596DB2DCCA5E292B4737ADA3447F10DE6016FAE0B7B396E8CE30DD633BCBD4463A73A5791741D9B1CF11E742C2F81CA03F2768CA2502080240BDAF0E81C244C65EEB4B2BAB83545682112346407EAD198646467863D89B5C93A64E42596506A64D9B06694204BA6FB7A0B5FD2A0A8ACEC3E0CB15D037DDA5D4577B9CB4BED7A46D74789D81F839D37F30FD9AE94306454F80A2F7E5570DF35799F50BA52F10AA10080485023920878542585216924B6AE1E61F8219BABA48925DC1D4B9FABD142595C070D9126CB7DE8A928A4BA89097222D3B19E696E658F8F51ECC5CBF836BBED9EEF6F53B1D9D1D5C3CFA1C26B54150CD27AFB10FFFC6348CE93F99DE631AF1DE9849E3A7ADB1B6D05B671D3210287D398760C566E423FE521552CBEAB9761E72C592152B214E390F3B871DBD1416CD96D756AEC4BC2FE621245C82E4AC744426C4C1D5FB249C8E1F87D5FE03586DB1032E67C2B0F74400AC8F9CC2DE436E1A41BC0804F504FB2FECC0BF33BDCDF44B0A1DA68F060A45C813941F84DC90985784ACCA06645530B1EDFA2D5658B4CC08A743C3B0CB6E672F05040762F6C2C5183F61021C5CDCE0E2E5075FB682B575EF016CB13B80CDB6F6F8F0B3A998B1DA4AA9DD0E2E1AF3C33F0241DD25143A9447DE65FA15850E41F9B526A7EC75644B6EA1A005124A882DDD0FF89099947B19F9F24614D434E2224B8A0E6C4D62D1524344B0451873CBEDBD141D1F07E3352698F4F924B89D3C8EC08870E68404D81F3D8ABD475CB17DBF033E1C3B05BF37D9C6A5BF76FBE31DFB9C466A1A2A5F1604F57B53E8FC2BD39B4CBF1042876D3F5687B2CCCC0A7B1C5DD8525C187B95B71C79C5D5482BB88232B69A2D628B2EFFF3C92728AB92C3EEB04B2F5DBC92CB96EAA662FEC2790808398D6C59164B8C32586CDF8A9986AB31467F19A6195B427FB5956CB9F96E8D0E101EFA9F054153E8503E794B113AEF934B3441596A6A89CD3BF7F28AB15C5E8B61C386A1A2B21241313138C1D620487E1231AA6A72F0FAEBAFC3F1900D5233A350DF5885E20A1916182EC694155B945AB87EBB8DA6DE573DF6AA20A83F87103AEF284287E713018AEE6A4B8BC2920A56017662ECD8B1F03C7912A98597E0131109DFC80814946563C1427DCC9E330367CEBAA1A63E170F1FDF4549653666CE5F80CF975B28A56F62396421A8E7130A1DE5507CCA3F28BB9D01E8ECEAC26167678C1A350A576A6AE1456B09418158BE76257467EBE1B8D72164E746B27943259E3EBB87DA8602B6A81B82294B366092E1D75CD38C2CB064BDE5E7ECFE94C8294C49BDFE0D9613FA74E8319FB3664DD75BD0C50010846AB6AAF4FE071FC0D26637442969F89A95D1ABB76F87B5832DC2E34568EF2CC1F77F7C80DB77EAD1DC7A19F5D764703B7610E316ACC78425E65CD38D3677B03F48499B4633022E00E1CF31E420444B9393050037DADB51D7D8045F512086BDF5169B0C9D822B5B5039161D83B0AC145C96E7E1FEC30E36BBECE6B3C8B68E9E095443D345CC31588E7DC7CE61DB412FACDFED8AF94B8DE7B2F652D14779E9674C1492DC15430EC26991D8881C101814848D96366C18AD63CB6757E0191482E93367C160CD5A1C0E0A46444E3AFB45AC09B7EEDD402B6B7C50C87118996D45DEE534A4A54BF0C1383D8C5BF815D7D4A566DDACADA31479872A5F1AC6C919E488A107811E6AAADE1C9B197F58EE3C6FA5856B6C7A6687B4408600160A27D9D29A4F540C622E5C407679090A2A0B51525B80C6D6227C346602C6CE37E5FACDF4A598A23B7BB7DEDC85164C9BC78C9FB488DDF6774C631530080415793462BD36E49CA04816CA3AC33F32B62E329BFD1FA9C414B6AE180367B6C8EA111D8D80D404480BD221ABCC454DD3258C9F311763BED8A0D4D8E9F36DD9BD262B4489913481E9538523283428470C590864D39F4D9832636448522AC46C0DC19D2DB5EF65BF3F12045A5F3C932C8593973BB24BD9FFC5AA9761ADB91946CF5DA7D467FA4622350893146E18CDB654CD52480C692710849F6FB4DC651A9B970F516A3A26CD9A8B517AC6D876CC9743305865C23F072644A3489ECF275786E6EC87DD8D76F8629D0D16ADB3AE54F43E359E1C309E89007CCC44731DAA6679721CAAE14010DED868B9D330822DB35B3A38E2BDCF66E193D96BB1ED780F8489B3E6F0CF8BCC76F3907072DB8F355BF762FB416F6CB2F3C0C69D4E058A9EFF4CD1F8DFB02D15653403A699307701D3D04C8C8A87A3877CDB7C97ADE3F829BAC5531799964C5DB4A1D4C6FB0C8E3208E3747B209066AD30C384697A79D317AE3E33DD60F5E9C95F181F1D317214E5031A11A8E7A94CA7DEA70A954605A15620064316023D9B3055A7719D7A8F2FEAECF33DFB94208CF8749212C2A7F3D661E63C83C5ECFC48262ABFA9C7E9FAFF62A20448230155A40456591F7002431C8200827A8D8A1BB2F03BF3162D1F3FFC17BF5C3FD760D97A4313534343930D86FAF3974C64E768B64A0DA684478DA6EBFBAC1205003F0508F48C14B7E40AEA410242BD49431B8151151D23D179BA8EAEEF73BEF05383A0FABCC2044800438D14A47AEE079324D59BA8EFD3E8F0FF866176A67E1CB92E0000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN

-- Site PRO
select @sysMenuParent = sysMenuID from sysMenu 
							where  MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDSTD AND sysMenuParent is null

if isnull(@sysMenuParent,'') <> ''
BEGIN
if not exists (select top 1 1 from sysMenu where MenuName = N'Mẫu số hóa đơn' and sysSiteID = @sysSiteIDSTD)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [ListType], [ListTypeOrder], [Image]) 
VALUES (N'Mẫu số hóa đơn', N'Form of invoices', @sysSiteIDSTD, NULL, @sysTableID, NULL, 3, NULL, @sysMenuParent, NULL, NULL, 1, @ListTypeID, 250, 0x89504E470D0A1A0A0000000D49484452000000410000004108060000008EF7C9450000000467414D410000B18E7CFB5193000000206348524D0000870F00008C0F0000FD520000814000007D790000E98B00003CE5000019CC733C857700000A396943435050686F746F73686F70204943432070726F66696C65000048C79D96775454D71687CFBD777AA1CD30025286DEBBC000D27B935E456198196028030E3334B121A2021145449A224850C480D150245644B1101454B007240828311845542C6F46D68BAEACBCF7F2F2FBE3AC6FEDB3F7B9FBECBDCF5A170092A72F9797064B0190CA13F0833C9CE911915174EC0080011E608029004C5646BA5FB07B0810C9CBCD859E2172025F0401F07A58BC0270D3D033804E07FF9FA459E97C81E89800119BB339192C11178838254B902EB6CF8A981A972C66182566BE284111CB893961910D3EFB2CB2A398D9A93CB688C539A7B353D962EE15F1B64C2147C488AF880B33B99C2C11DF12B1468A30952BE237E2D8540E33030014496C1770588922361131891F12E422E2E500E048095F71DC572CE0640BC49772494BCFE173131205741D962EDDD4DA9A41F7E464A5700402C300262B99C967D35DD252D399BC1C0016EFFC5932E2DAD24545B634B5B6B434343332FDAA50FF75F36F4ADCDB457A19F8B96710ADFF8BEDAFFCD21A0060CC896AB3F38B2DAE0A80CE2D00C8DDFB62D3380080A4A86F1DD7BFBA0F4D3C2F890241BA8DB1715656961197C3321217F40FFD4F87BFA1AFBE67243EEE8FF2D05D39F14C618A802EAE1B2B2D254DC8A767A433591CBAE19F87F81F07FE751E06419C780E9FC313458489A68CCB4B10B59BC7E60AB8693C3A97F79F9AF80FC3FEA4C5B91689D2F81150638C80D4752A407EED07280A1120D1FBC55DFFA36FBEF830207E79E12A938B73FFEF37FD67C1A5E225839BF039CE252884CE12F23317F7C4CF12A0010148022A9007CA401DE800436006AC802D70046EC01BF8831010095603164804A9800FB2401ED8040A4131D809F6806A50071A41336805C741273805CE834BE01AB8016E83FB60144C80676016BC060B10046121324481E421154813D287CC2006640FB941BE50101409C54209100F124279D066A8182A83AAA17AA819FA1E3A099D87AE4083D05D680C9A867E87DEC1084C82A9B012AC051BC30CD809F68143E0557002BC06CE850BE01D7025DC001F853BE0F3F035F8363C0A3F83E7108010111AA28A18220CC405F147A29078848FAC478A900AA4016945BA913EE426328ACC206F51181405454719A26C519EA850140BB506B51E5582AA461D4675A07A51375163A859D4473419AD88D647DBA0BDD011E8047416BA105D816E42B7A32FA26FA327D0AF31180C0DA38DB1C2786222314998B59812CC3E4C1BE61C6610338E99C362B1F2587DAC1DD61FCBC40AB085D82AEC51EC59EC107602FB0647C4A9E0CC70EEB8281C0F978FABC01DC19DC10DE126710B7829BC26DE06EF8F67E373F0A5F8467C37FE3A7E02BF4090266813EC08218424C2264225A1957091F080F0924824AA11AD8981442E7123B192788C789938467C4B9221E9915C48D124216907E910E91CE92EE925994CD6223B92A3C802F20E7233F902F911F98D0445C248C24B822DB141A246A2436248E2B9245E5253D24972B564AE6485E409C9EB92335278292D291729A6D47AA91AA99352235273D2146953697FE954E912E923D257A4A764B0325A326E326C99029983321764C62908459DE242615136531A29172913540C559BEA454DA21653BFA30E506765656497C986C966CBD6C89E961DA521342D9A172D85564A3B4E1BA6BD5BA2B4C4690967C9F625AD4B8696CCCB2D957394E3C815C9B5C9DD967B274F9777934F96DF25DF29FF5001A5A0A710A890A5B05FE1A2C2CC52EA52DBA5ACA5454B8F2FBDA7082BEA290629AE553CA8D8AF38A7A4ACE4A194AE54A57441694699A6ECA89CA45CAE7C46795A85A262AFC255295739ABF2942E4B77A2A7D02BE9BDF4595545554F55A16ABDEA80EA829AB65AA85ABE5A9BDA4375823A433D5EBD5CBD477D564345C34F234FA345E39E265E93A199A8B957B34F735E4B5B2B5C6BAB56A7D694B69CB69776AE768BF6031DB28E83CE1A9D069D5BBA185D866EB2EE3EDD1B7AB09E855EA25E8DDE757D58DF529FABBF4F7FD0006D606DC0336830183124193A19661AB6188E19D18C7C8DF28D3A8D9E1B6B184719EF32EE33FE6862619262D26872DF54C6D4DB34DFB4DBF477333D3396598DD92D73B2B9BBF906F32EF317CBF4977196ED5F76C78262E167B1D5A2C7E283A59525DFB2D572DA4AC32AD6AAD66A84416504304A1897ADD1D6CED61BAC4F59BFB5B1B411D81CB7F9CDD6D036D9F688EDD472EDE59CE58DCBC7EDD4EC9876F576A3F674FB58FB03F6A30EAA0E4C870687C78EEA8E6CC726C749275DA724A7A34ECF9D4D9CF9CEEDCEF32E362EEB5CCEB922AE1EAE45AE036E326EA16ED56E8FDCD5DC13DC5BDC673D2C3CD67A9CF3447BFA78EEF21CF152F26279357BCD7A5B79AFF3EEF521F904FB54FB3CF6D5F3E5FB76FBC17EDE7EBBFD1EACD05CC15BD1E90FFCBDFC77FB3F0CD00E5813F06320263020B026F0499069505E505F30253826F848F0EB10E790D290FBA13AA1C2D09E30C9B0E8B0E6B0F970D7F0B2F0D108E3887511D7221522B9915D51D8A8B0A8A6A8B9956E2BF7AC9C88B6882E8C1E5EA5BD2A7BD595D50AAB53569F8E918C61C69C8845C786C71E897DCFF4673630E7E2BCE26AE366592EACBDAC676C4776397B9A63C729E34CC6DBC597C54F25D825EC4E984E7448AC489CE1BA70ABB92F923C93EA92E693FD930F257F4A094F694BC5A5C6A69EE4C9F09279BD69CA69D96983E9FAE985E9A36B6CD6EC5933CBF7E137654019AB32BA0454D1CF54BF5047B8453896699F5993F9262B2CEB44B674362FBB3F472F677BCE64AE7BEEB76B516B596B7BF254F336E58DAD735A57BF1E5A1FB7BE6783FA86820D131B3D361EDE44D894BCE9A77C93FCB2FC579BC337771728156C2C18DFE2B1A5A550A2905F38B2D5766BDD36D436EEB681EDE6DBABB67F2C62175D2D3629AE287E5FC22AB9FA8DE93795DF7CDA11BF63A0D4B274FF4ECC4EDECEE15D0EBB0E974997E5968DEFF6DBDD514E2F2F2A7FB52766CF958A6515757B097B857B472B7D2BBBAA34AA7656BDAF4EACBE5DE35CD356AB58BBBD767E1F7BDFD07EC7FDAD754A75C575EF0E700FDCA9F7A8EF68D06AA83888399879F049635863DFB78C6F9B9B149A8A9B3E1CE21D1A3D1C74B8B7D9AAB9F988E291D216B845D8327D34FAE88DEF5CBFEB6A356CAD6FA3B5151F03C784C79E7E1FFBFDF0719FE33D2718275A7FD0FCA1B69DD25ED40175E474CC7626768E7645760D9EF43ED9D36DDBDDFEA3D18F874EA99EAA392D7BBAF40CE14CC1994F6773CFCE9D4B3F37733EE1FC784F4CCFFD0B11176EF506F60E5CF4B978F992FBA50B7D4E7D672FDB5D3E75C5E6CAC9AB8CAB9DD72CAF75F45BF4B7FF64F153FB80E540C775ABEB5D37AC6F740F2E1F3C33E43074FEA6EBCD4BB7BC6E5DBBBDE2F6E070E8F09D91E891D13BEC3B537753EEBEB897796FE1FEC607E807450FA51E563C527CD4F0B3EECF6DA396A3A7C75CC7FA1F073FBE3FCE1A7FF64BC62FEF270A9E909F544CAA4C364F994D9D9A769FBEF174E5D38967E9CF16660A7F95FEB5F6B9CEF31F7E73FCAD7F366276E205FFC5A7DF4B5ECABF3CF46AD9AB9EB980B947AF535F2FCC17BD917F73F82DE36DDFBBF077930B59EFB1EF2B3FE87EE8FEE8F3F1C1A7D44F9FFE050398F3FCBAC4E8D3000000097048597300002E2200002E2201AAE2DD920000129649444154785ED59B095854579A86C964663A1DB3383D3DFD741613A79DB4C668AB716905C525ADE2826210770C12514454145410451004150141058BA58A7D2B7659642D5164876211014140C02DEE26E9E965BABF39FFA16E59540A0AD3B6109FE77BEEAD7B6F5DEE79CFF7FFE73FA7AE3A0074D4A5A3F2CFD63FDED92F3613EE61A938169E26DB172095ACF308735EE61C3C8769A4EAB53FC57D6AFB0F00F0832AFFCE5734CB6E3FF95FB4DE7E8886F6DBA86CB8814B15F5C8282CC7B984EC5E7018141B059CE13F15202F048140685273D737A86BEDE2700A4AE590E6147138AE9294C7CE21C9B20381893E4319CE4B81D01F1C7953074AEB9A399CD8CC420EC7232CAD9DE05098313866E49CC174CD3F158226385D0FBF033987E05CA9BEC6E1889373413987E0EC3F97A00A67E2AB80F3A32024A667835456D7A4313CFA72467FC7DBEF3DE17028A4084E6E51A5128E67E479B9636062F2569F68728E11D34B85F3C2109A6EDE85382A9ECBD6FEA0520425F77219D7CB84A39E8C090E85D4C9C874509E79194E796108D76EFD09D157FE8A8286BF20BBA459E9088242005C3C3C71CA3F500987F67F8C33B47D87DCC220380F0A84E2EB7FC6161194DA2906DC93FFC6C164CAFF82EA8E3F732708CE7899AE50054361336810A891D47055109AF6098C58F67F482AFF2B089CB69E7DD1F3830A4178580A0B0A097200357820609CE2FE0EFF9CE760DAEEFFE947C3A9B8DA3A784EE8AFC7A851D4EB04C63BFD6FD817F977AD8EA16BE85AFA0E7D97E00EC415A5B5CD8307E1D4E183485EAB0F89BD354F80940C5F3618D53C436ED304A6583E888931C9E320BED1D5E1126A051A19685F183AB5812168D4EB942F283C284CB4E518F5BC72B9B27EF09C20713D88AAC9CF216872018D085443A8C219C828A10A86F28C2A18750817CB6A060F8230F489037B6A01C101EA8DA4E3AA80C81D8253FAFA8E26A0341AD1D0AB1E1205C555830B4178588B6D3D794128A3551B494593B6DE570523B8862AD28124C6DCA2F2C183408931D4441F941B549D4030088A70CCD05606E383722CDB958C2D8713E125CEE54ED0064635B7F40726BBB064F020A82646D586EE744B84BD7BB0B2A1744E53B22330ABEC9240D7BB9F95721769EB7DC169AA0EC92C281A3C089418C3C6E8F0E4D85743E9F8D73B0E61DF8904DEE0BEAE1320D1796D60D473CCF9DCC2C1832038A160820E261B3A63C1B6642EF586AA3E34F5347DA69E27075083C911FD0D8B9AC0A83A212E2573F021509DA0DA70339FC74A1804455B62A4DC40314FB9827206E58EFEC0A8426DBBFB1861714983074108070A8919AB7CFAEC4D218E2961AA8E1AFD65FEC2AA66381CF184934F02761CCFE750D7BAB7F3BFA10AA1FE463724D1D2C183A09A188530104282B6426F0AD5244110D6188485185530DAEA8BF30565F00EEC49A004B0E39BA7A8BC7603C11171AF1E42E7FDA7E8B8F718C187ED79626C99A6393152CF118C119BA6C240B415B6220F249617F23906358400AC5A67CAB70487C0A842A27D4D6E1120900B08426068F4AB8510955322ABBEDA045290241C35E5157CFBF6AA69F8EDEE3D98611DF08378D6711F079D34BD1EF94E84CE814FF199FB52ACF2DB855309E1101767F09A41A82F849A801A4BDFA56BB7F83BC225C40F89B27C0E9096DA080029401CF1AA2114CB6AAEB580141C16C9B6D7B97A3534780A6FE8FB76EB30D9C11B3A9BFF1B3A31BF7F0E4200425B3A4E90D8F5BA27D670B71098B2BB1DBCB1C3B316C2E6AA2F97CF8D38E8B07B4BD32E40DEDCA184702628F4D54288CD2F9335B474E02A93BFBD0DC4333FC4B9CDC6D059FB514F2FAB3650B12F898CC11951080E0678C2C0FB6BBCE3C420F5712DFFBE02E23B96E339A0916E7331316303265E34E350C4515225007282DFB990570B21FE62A5ACA9E31648D14E7B945369DE9B8A87A75EE5528441788C14614CEE9EDEF00F92202E251D39974AE1E2E7030B6673B23BBF56DD2D8AEF53E38DC4563DF764128545F782E07336F0D54248B854236BE9BE0792C8C315A193DFE51563AF7010DC408D620FEDE8EC0AFFE0501CF3F245647C128E7BFB22ED423EA6EBCE84F3D1E3BDA6D91627F63F770B8511BBD79C2BD6302AB787737308FFAC0EC1EB74C0AB859074A54ED67EE7114831896968BBF3101979853DE1203840CDEA3189A9FC3A127D472489C03996CCCE89C311CDCEC5269D477C6A269F70D1C48B4605615649F71C7E782ABFF7F013337A4128AB6D44694D0302822538208A97E4CB2ECE2960FA4796DE07F4BB434A4983EC261B2249416151B8C9C66A92A6C428407172F5505E77F39B276CBF471D4C4555750864F72105319B279CBFC0275142792D38814282F202FD1DC1092269321C0202E170F808426312E11D100297137EC8CD2FF8D120060421ADAC51D6CD7E43240547C42244213E029013348C02544B90242B6721C4C581F77A576737BA1E7EDB5B0FBE45435B37BB6F0C4222E3B823E89E23538DF8E8E05D1A891589B6F0658930FE7C36BCA3D8356C843230598F0D967BB8763B1F818DC361B9A3DB0999A39B2797481C3EE09FEA0604E17C7993ECD6E33F8294C01E44D8573A4131DC294383414919D7B30427888A2B3A16BAF87710EFDF0EB14884C68646E5BD94F7A73A81E580913EF3B129701FE40D0DCC05E1B0B0B1C30EFB4370091473087A0B0CF8677BF76388C94B83AB8F3B4E8B82919A9503696A0612D332DB071A222F0CC1C5CF1BB6912778AF694C8C942019942FFF6006E7397394D5A52A10619F4399FD31249B0C21F1F644794919AF07080225457FB914D75A5A505C5383AFB66CC191939EF0080DE710D65859F3CFFEF15148BC980EAF7327B1699B253F463AE6EB2B7FA910A445F572A1A708003D248DDD7344A6CF13A35A58A8CE3069FFABD5CE5AA1D0F47CEF081D2C32F915DEB5FD0406019BD1D2D686CAAB57E11F1E8EC004294EC6B2329B41D8E37D0ABED1E108BB9082F4A22C986DDD888030915281E1213E2F1542A44CAEB4ADADC85D990368F822515537326F25269E59A1CCEA34C3A4E9B5A63583FEA0A886110DC3D5B575A86B6A427E7939C22FE4C02B3E112EE151708B8CC2E924290F85BCF21C989AAF456246AC5251D2E801274AADE1406F91945DBFD52B76292F108C45DE9B79A347462DED81C0B2392533724A82E21D065A48A1F5029A540D048AD3E837D1F0E568A63128DFA887AAEC3434B5B6A2A89ABDE9929B0F2B9604B7B9BAC33D2A1AE75213915C9881A29A7C6C305B830B1753948A4D8A73E64A8E770E098BEA37496A85B03320592284425FDB0436C1A1FA9FE6017C7C673583FA7218CD0C85D5A5FEA0B845B23758AA6A9059908DD4DC54B477B4A3ADA3035E7E7E586962823A161A4FBEFB0E8F9E7D8BAAE606E457E4A3FA5A21BCFD8E205396CCC2A708FEEC5982A28310951ACD159E10D96F7EE8170273C1F0B8CB758F3535BEBFC5119A3A6B5B3CA57581D0D8441CF20CC7268758A5534233EA50D9D88AFA96365C6FEBC0CDCE4E040507C3D8D8184F9E3DC343A63B0F1F313DC483276C7BBF0B4D378A70B3AB149DDDA568BF59CC41AC58B71A3E9240AE53E2A0DEAFE3A9258B7E219879C5F8B4DE7DAA0C8581FC1EA0ED9AEE47DF8396C7E8D59C4656205D6DBB85DA964E5437B5B3E22701A10959289437A082CD58AF3210D5B5F5183D7A34DA5882FCF6FBEF71970168BF731737EFDEC1BD47DFE0D9770F70FFC1750EA08D01B87EE332EC0F58C3DCD60E0EDE3E5CCEBE7E92FE9264BF101CD98A8EB6460DF43CB9A9931546F46ED20D567EB7DC7AC04540E8D8CDFBCFF8968E651755E0327BE38D40EC7364B5818B0B1E3F798A1CB68E119C9185A33E5EF0F23D85CEDBED0CC23D3CFBF62E3A3A4BD1D47209D2A420CC5ABA029B0FBA72ED3A724CEB50D91F84D7BEB07239AABBD818E656BB584C9E457661F18F824200C801247A7B8D44FB0485C28240D082C9F5EEFB68EABCC71D927CB10485B54DF864CCA728ABA8406D7D3D167F698CCFF5F511240DC5AEDDDB606767835BB7AFE3D1E32E7474D5A2BA2E0FD3596DB2DCCA5E292B4737ADA3447F10DE6016FAE0B7B396E8CE30DD633BCBD4463A73A5791741D9B1CF11E742C2F81CA03F2768CA2502080240BDAF0E81C244C65EEB4B2BAB83545682112346407EAD198646467863D89B5C93A64E42596506A64D9B06694204BA6FB7A0B5FD2A0A8ACEC3E0CB15D037DDA5D4577B9CB4BED7A46D74789D81F839D37F30FD9AE94306454F80A2F7E5570DF35799F50BA52F10AA10080485023920878542585216924B6AE1E61F8219BABA48925DC1D4B9FABD142595C070D9126CB7DE8A928A4BA89097222D3B19E696E658F8F51ECC5CBF836BBED9EEF6F53B1D9D1D5C3CFA1C26B54150CD27AFB10FFFC6348CE93F99DE631AF1DE9849E3A7ADB1B6D05B671D3210287D398760C566E423FE521552CBEAB9761E72C592152B214E390F3B871DBD1416CD96D756AEC4BC2FE621245C82E4AC744426C4C1D5FB249C8E1F87D5FE03586DB1032E67C2B0F74400AC8F9CC2DE436E1A41BC0804F504FB2FECC0BF33BDCDF44B0A1DA68F060A45C813941F84DC90985784ACCA06645530B1EDFA2D5658B4CC08A743C3B0CB6E672F05040762F6C2C5183F61021C5CDCE0E2E5075FB682B575EF016CB13B80CDB6F6F8F0B3A998B1DA4AA9DD0E2E1AF3C33F0241DD25143A9447DE65FA15850E41F9B526A7EC75644B6EA1A005124A882DDD0FF89099947B19F9F24614D434E2224B8A0E6C4D62D1524344B0451873CBEDBD141D1F07E3352698F4F924B89D3C8EC08870E68404D81F3D8ABD475CB17DBF033E1C3B05BF37D9C6A5BF76FBE31DFB9C466A1A2A5F1604F57B53E8FC2BD39B4CBF1042876D3F5687B2CCCC0A7B1C5DD8525C187B95B71C79C5D5482BB88232B69A2D628B2EFFF3C92728AB92C3EEB04B2F5DBC92CB96EAA662FEC2790808398D6C59164B8C32586CDF8A9986AB31467F19A6195B427FB5956CB9F96E8D0E101EFA9F054153E8503E794B113AEF934B3441596A6A89CD3BF7F28AB15C5E8B61C386A1A2B21241313138C1D620487E1231AA6A72F0FAEBAFC3F1900D5233A350DF5885E20A1916182EC694155B945AB87EBB8DA6DE573DF6AA20A83F87103AEF284287E713018AEE6A4B8BC2920A56017662ECD8B1F03C7912A98597E0131109DFC80814946563C1427DCC9E330367CEBAA1A63E170F1FDF4549653666CE5F80CF975B28A56F62396421A8E7130A1DE5507CCA3F28BB9D01E8ECEAC26167678C1A350A576A6AE1456B09418158BE76257467EBE1B8D72164E746B27943259E3EBB87DA8602B6A81B82294B366092E1D75CD38C2CB064BDE5E7ECFE94C8294C49BDFE0D9613FA74E8319FB3664DD75BD0C50010846AB6AAF4FE071FC0D26637442969F89A95D1ABB76F87B5832DC2E34568EF2CC1F77F7C80DB77EAD1DC7A19F5D764703B7610E316ACC78425E65CD38D3677B03F48499B4633022E00E1CF31E420444B9393050037DADB51D7D8045F512086BDF5169B0C9D822B5B5039161D83B0AC145C96E7E1FEC30E36BBECE6B3C8B68E9E095443D345CC31588E7DC7CE61DB412FACDFED8AF94B8DE7B2F652D14779E9674C1492DC15430EC26991D8881C101814848D96366C18AD63CB6757E0191482E93367C160CD5A1C0E0A46444E3AFB45AC09B7EEDD402B6B7C50C87118996D45DEE534A4A54BF0C1383D8C5BF815D7D4A566DDACADA31479872A5F1AC6C919E488A107811E6AAADE1C9B197F58EE3C6FA5856B6C7A6687B4408600160A27D9D29A4F540C622E5C407679090A2A0B51525B80C6D6227C346602C6CE37E5FACDF4A598A23B7BB7DEDC85164C9BC78C9FB488DDF6774C631530080415793462BD36E49CA04816CA3AC33F32B62E329BFD1FA9C414B6AE180367B6C8EA111D8D80D404480BD221ABCC454DD3258C9F311763BED8A0D4D8E9F36DD9BD262B4489913481E9538523283428470C590864D39F4D9832636448522AC46C0DC19D2DB5EF65BF3F12045A5F3C932C8593973BB24BD9FFC5AA9761ADB91946CF5DA7D467FA4622350893146E18CDB654CD52480C692710849F6FB4DC651A9B970F516A3A26CD9A8B517AC6D876CC9743305865C23F072644A3489ECF275786E6EC87DD8D76F8629D0D16ADB3AE54F43E359E1C309E89007CCC44731DAA6679721CAAE14010DED868B9D330822DB35B3A38E2BDCF66E193D96BB1ED780F8489B3E6F0CF8BCC76F3907072DB8F355BF762FB416F6CB2F3C0C69D4E058A9EFF4CD1F8DFB02D15653403A699307701D3D04C8C8A87A3877CDB7C97ADE3F829BAC5531799964C5DB4A1D4C6FB0C8E3208E3747B209066AD30C384697A79D317AE3E33DD60F5E9C95F181F1D317214E5031A11A8E7A94CA7DEA70A954605A15620064316023D9B3055A7719D7A8F2FEAECF33DFB94208CF8749212C2A7F3D661E63C83C5ECFC48262ABFA9C7E9FAFF62A20448230155A40456591F7002431C8200827A8D8A1BB2F03BF3162D1F3FFC17BF5C3FD760D97A4313534343930D86FAF3974C64E768B64A0DA684478DA6EBFBAC1205003F0508F48C14B7E40AEA410242BD49431B8151151D23D179BA8EAEEF73BEF05383A0FABCC2044800438D14A47AEE079324D59BA8EFD3E8F0FF866176A67E1CB92E0000000049454E44AE426082)
END

END