IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TTDBout]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[TTDBout](
	[TTDBoutID] [int] IDENTITY(1,1) NOT NULL,
	[NgayHd] [smalldatetime] NOT NULL,
	[Sohoadon] [nvarchar](128) NOT NULL,
	[NgayCt] [smalldatetime] NOT NULL,
	[SoSerie] [nvarchar](128) NULL,
	[TenKH] [nvarchar](128) NOT NULL,
	[MaKH] [varchar](16) NOT NULL,
	[TenVT] [nvarchar](128) NULL,
	[MaVT] [varchar](16) NULL,
	[SoLuong_TTDB] [decimal](20, 6) NULL,
	[Gia_TTDB] [decimal](20, 6) NOT NULL,
	[PS_TTDB] [decimal](20, 6) NOT NULL,
	[GiaNT_TTDB] [decimal](20, 6) NOT NULL,
	[PSNT_TTDB] [decimal](20, 6) NOT NULL,
	[MaNhomTTDB] [varchar](16) NOT NULL,
	[ThueSuatTTDB] [decimal](20, 6) NOT NULL,
	[TienTTDB] [decimal](20, 6) NOT NULL,
	[TienTTDBNT] [decimal](20, 6) NOT NULL,
	[PS1_TTDB] [decimal](20, 6) NOT NULL,
	[PS1NT_TTDB] [decimal](20, 6) NOT NULL,
	[MTID] [uniqueidentifier] NULL,
	[MTIDDT] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TTDBout] PRIMARY KEY CLUSTERED 
(
	[TTDBoutID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING OFF

ALTER TABLE [dbo].[TTDBout]  WITH CHECK ADD  CONSTRAINT [FK_TTDBout_DMKH7] FOREIGN KEY([MaKH])
REFERENCES [dbo].[DMKH] ([MaKH])

ALTER TABLE [dbo].[TTDBout] CHECK CONSTRAINT [FK_TTDBout_DMKH7]

ALTER TABLE [dbo].[TTDBout]  WITH CHECK ADD  CONSTRAINT [FK_TTDBout_DMThueTTDB15] FOREIGN KEY([MaNhomTTDB])
REFERENCES [dbo].[DMThueTTDB] ([MaNhomTTDB])

ALTER TABLE [dbo].[TTDBout] CHECK CONSTRAINT [FK_TTDBout_DMThueTTDB15]

ALTER TABLE [dbo].[TTDBout]  WITH CHECK ADD  CONSTRAINT [FK_TTDBout_DMVT9] FOREIGN KEY([MaVT])
REFERENCES [dbo].[DMVT] ([MaVT])

ALTER TABLE [dbo].[TTDBout] CHECK CONSTRAINT [FK_TTDBout_DMVT9]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_Gia]  DEFAULT ('0') FOR [Gia_TTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_PS]  DEFAULT ('0') FOR [PS_TTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_GiaNT]  DEFAULT ('0') FOR [GiaNT_TTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_PSNT]  DEFAULT ('0') FOR [PSNT_TTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_TienTTDB]  DEFAULT ('0') FOR [TienTTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_TienTTDBNT]  DEFAULT ('0') FOR [TienTTDBNT]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_PS1]  DEFAULT ('0') FOR [PS1_TTDB]

ALTER TABLE [dbo].[TTDBout] ADD  CONSTRAINT [DF_TTDBout_PS1NT]  DEFAULT ('0') FOR [PS1NT_TTDB]

END

