IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TTDBin]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[TTDBin](
	[TTDBinID] [int] IDENTITY(1,1) NOT NULL,
	[NgayHd] [smalldatetime] NOT NULL,
	[Sohoadon] [nvarchar](128) NOT NULL,
	[NgayCt] [smalldatetime] NOT NULL,
	[SoSerie] [nvarchar](128) NULL,
	[TenNCC] [nvarchar](128) NOT NULL,
	[MaNCC] [varchar](16) NOT NULL,
	[TenVT] [nvarchar](128) NULL,
	[MaVT] [varchar](16) NULL,
	[SoLuong_TTDB] [decimal](20, 6) NULL,
	[Gia_TTDB] [decimal](20, 6) NOT NULL,
	[PS_TTDB] [decimal](20, 6) NOT NULL,
	[GiaNT_TTDB] [decimal](20, 6) NOT NULL,
	[PSNT_TTDB] [decimal](20, 6) NOT NULL,
	[MaNhomTTDB] [varchar](16) NOT NULL,
	[ThueSuatTTDB] [decimal](20, 6) NOT NULL,
	[TienTTDB] [decimal](20, 6) NOT NULL,
	[TienTTDBNT] [decimal](20, 6) NOT NULL,
	[PS1_TTDB] [decimal](20, 6) NOT NULL,
	[PS1NT_TTDB] [decimal](20, 6) NOT NULL,
	[PS2_TTDB] [decimal](20, 6) NOT NULL,
	[PS2NT_TTDB] [decimal](20, 6) NOT NULL,
	[TkTTTDB] [varchar](16) NULL,
	[TkDuTTDB] [varchar](16) NULL,
	[MTID] [uniqueidentifier] NULL,
	[MTIDDT] [uniqueidentifier] NULL,
	[GhiChu] [nvarchar](128) NULL,
 CONSTRAINT [PK_TTDBin] PRIMARY KEY CLUSTERED 
(
	[TTDBinID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

SET ANSI_PADDING OFF

ALTER TABLE [dbo].[TTDBin]  WITH CHECK ADD  CONSTRAINT [FK_TTDBin_DMKH7] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[DMKH] ([MaKH])

ALTER TABLE [dbo].[TTDBin] CHECK CONSTRAINT [FK_TTDBin_DMKH7]

ALTER TABLE [dbo].[TTDBin]  WITH CHECK ADD  CONSTRAINT [FK_TTDBin_DMThueTTDB15] FOREIGN KEY([MaNhomTTDB])
REFERENCES [dbo].[DMThueTTDB] ([MaNhomTTDB])

ALTER TABLE [dbo].[TTDBin] CHECK CONSTRAINT [FK_TTDBin_DMThueTTDB15]

ALTER TABLE [dbo].[TTDBin]  WITH CHECK ADD  CONSTRAINT [FK_TTDBin_DMVT9] FOREIGN KEY([MaVT])
REFERENCES [dbo].[DMVT] ([MaVT])

ALTER TABLE [dbo].[TTDBin] CHECK CONSTRAINT [FK_TTDBin_DMVT9]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_Gia]  DEFAULT ('0') FOR [Gia_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PS]  DEFAULT ('0') FOR [PS_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_GiaNT]  DEFAULT ('0') FOR [GiaNT_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PSNT]  DEFAULT ('0') FOR [PSNT_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_TienTTDB]  DEFAULT ('0') FOR [TienTTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_TienTTDBNT]  DEFAULT ('0') FOR [TienTTDBNT]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PS1]  DEFAULT ('0') FOR [PS1_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PS1NT]  DEFAULT ('0') FOR [PS1NT_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PS2NT]  DEFAULT ('0') FOR [PS2NT_TTDB]

ALTER TABLE [dbo].[TTDBin] ADD  CONSTRAINT [DF_TTDBin_PS2]  DEFAULT ('0') FOR [PS2_TTDB]

ALTER TABLE [dbo].[TTDBin]  WITH NOCHECK ADD  CONSTRAINT [fk_TTDBin_TkTTTDB] FOREIGN KEY([TkTTTDB])
REFERENCES [dbo].[DMTK] ([TK])

ALTER TABLE [dbo].[TTDBin] CHECK CONSTRAINT [fk_TTDBin_TkTTTDB]

ALTER TABLE [dbo].[TTDBin]  WITH NOCHECK ADD  CONSTRAINT [fk_TTDBin_TkDuTTDB] FOREIGN KEY([TkDuTTDB])
REFERENCES [dbo].[DMTK] ([TK])

ALTER TABLE [dbo].[TTDBin] CHECK CONSTRAINT [fk_TTDBin_TkDuTTDB]

END