@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel.MT
@using ASOFT.ERP.A00.Entities.Database
@model MTF0090ViewModel
@{
   
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "MTF0090Grid", 
        keyColumnID = MTT0090.COL_GROUPID, 
        Scrollable = true, 
        IsShowCheck = true,
        ActionName = "GetGridData", 
        ControllerName = "MTF0090", 
        IsAutoHeight = false,
        HtmlAttribute = new { @class = "asf-grid" }, 
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                ClientTemplate = "#= MTF0090.renderNumber() #",
                Width = 50,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_GROUPID,
                TitleColumn = Html.DisplayNameFor(model => model.GroupID).ToHtmlString(),
                Width = 150,
                EditorTemplateName = "ComboBoxGroupID",
                EditColumn = true,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_ISADMIN,
                TitleColumn = Html.ASOFTRaw(model=>model.IsAdmin),
                Width = 150,
                VisibleColumn = true,
                ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= {0} ? 'checked' : '' # onchange='MTF0090.checkBox_Changed(this)' />",
                                MTT0090.COL_ISADMIN),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_ISSTUDENTINFO,
                TitleColumn = Html.ASOFTRaw(model=>model.IsStudentInfo),
                Width = 150,
                VisibleColumn = true,
                ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= {0} ? 'checked' : '' # onchange='MTF0090.checkBox_Changed(this)' />",
                                MTT0090.COL_ISSTUDENTINFO),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_ISSTUDENTRESULT,
                TitleColumn = Html.ASOFTRaw(model=>model.IsStudentResult),
                Width = 150,
                VisibleColumn = true,
                ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= {0} ? 'checked' : '' # onchange='MTF0090.checkBox_Changed(this)' />",
                                MTT0090.COL_ISSTUDENTRESULT),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_ISSTUDYINFO,
                TitleColumn = Html.ASOFTRaw(model=>model.IsStudyInfo),
                Width = 150,
                VisibleColumn = true,
                ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= {0} ? 'checked' : '' # onchange='MTF0090.checkBox_Changed(this)' />",
                                MTT0090.COL_ISSTUDYINFO),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTT0090.COL_ISEXAMRESULT,
                TitleColumn = Html.ASOFTRaw(model=>model.IsExamResult),
                Width = 150,
                VisibleColumn = true,
                ClientTemplate = string.Format("<input id='{0}' type='checkbox' #= {0} ? 'checked' : '' # onchange='MTF0090.checkBox_Changed(this)' />",
                                MTT0090.COL_ISEXAMRESULT),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center", id = "notAllowedEnter" }
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP0090.COL_APK,
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                        "MTF0090.deleteDetail(this)"), //"<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }
        }
    };
}

@(Html.ASOFTCreateGridEdit<MTT0090>(gridsetting))
