@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.CRM;
@using Kendo.Mvc;

@model DRF2070ViewModel

@{
    Model.CustomerName = string.Format("{0} - {1}", ASOFTEnvironment.UserInfo.UserID, ASOFTEnvironment.UserInfo.UserName);
}

@helper FilterCol1()
{
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.CustomerName)</td>
        <td>@Html.ASOFTTextBox(model => model.CustomerName).ReadOnlyIf(true)</td>
    </tr>
}

@helper FilterCol2()
{
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractNoFilter)</td>
        <td>@(Html.ASOFTTextBox(model => model.ContractNoFilter))</td>
    </tr>
}

@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },
        { "FilterCol2", this.FilterCol2().ToHtmlString() }
    });
}
