IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DMDVTQD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DMDVTQD](
	[DVTQDID] [uniqueidentifier] NOT NULL,
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[MaVT] [varchar](16) NOT NULL,
	[TenVT] [nvarchar](512) NOT NULL,
	[MaDVT] [varchar](16) NOT NULL,
	[TenDVT] [nvarchar](512) NOT NULL,
	[MaDVTQD] [varchar](16) NOT NULL,
	[TenDVTQD] [nvarchar](512) NOT NULL,
	[TenDVTQD2] [nvarchar](512) NULL,
	--[ToanTu] [int] NULL,
	[TyLeQD] [decimal](28, 6) NULL,
	[DienGiai] [nvarchar](512) NULL,
	[DienGiai2] [nvarchar](512) NULL,
 CONSTRAINT [PK_DMDVTQD] PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[DMDVTQD]  WITH CHECK ADD  CONSTRAINT [FK_DMDVTQD_DMDVT4] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DMDVT] ([MaDVT])

ALTER TABLE [dbo].[DMDVTQD] CHECK CONSTRAINT [FK_DMDVTQD_DMDVT4]

ALTER TABLE [dbo].[DMDVTQD]  WITH CHECK ADD  CONSTRAINT [FK_DMDVTQD_DMDVT6] FOREIGN KEY([MaDVTQD])
REFERENCES [dbo].[DMDVT] ([MaDVT])

ALTER TABLE [dbo].[DMDVTQD] CHECK CONSTRAINT [FK_DMDVTQD_DMDVT6]

ALTER TABLE [dbo].[DMDVTQD]  WITH CHECK ADD  CONSTRAINT [FK_DMDVTQD_DMVT2] FOREIGN KEY([MaVT])
REFERENCES [dbo].[DMVT] ([MaVT])

ALTER TABLE [dbo].[DMDVTQD] CHECK CONSTRAINT [FK_DMDVTQD_DMVT2]

ALTER TABLE [dbo].[DMDVTQD] ADD  CONSTRAINT [DF_DMDVTQD_TyLeQD]  DEFAULT ('0') FOR [TyLeQD]

--ALTER TABLE [dbo].[DMDVTQD] ADD  CONSTRAINT [DF_DMDVTQD_ToanTu]  DEFAULT ('0') FOR [ToanTu]

END