IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DMVTLR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DMVTLR](
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[MaKho] [varchar](16) NOT NULL,
	[MaDVT] [varchar](16) NOT NULL,
	[SoLuong] [decimal](28, 6) NOT NULL,
	[Gia] [decimal](28, 6) NOT NULL,
	[Tien] [decimal](28, 6) NOT NULL,
	[MaVT] [varchar](16) NOT NULL,
	[MaVTLR] [varchar](16) NOT NULL,
 CONSTRAINT [PK_DMVTLR] PRIMARY KEY CLUSTERED 
(
	[Stt] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[DMVTLR]  WITH CHECK ADD  CONSTRAINT [FK_DMVTLR_DMDVT4] FOREIGN KEY([MaDVT])
REFERENCES [dbo].[DMDVT] ([MaDVT])


ALTER TABLE [dbo].[DMVTLR] CHECK CONSTRAINT [FK_DMVTLR_DMDVT4]


ALTER TABLE [dbo].[DMVTLR]  WITH CHECK ADD  CONSTRAINT [FK_DMVTLR_DMKho2] FOREIGN KEY([MaKho])
REFERENCES [dbo].[DMKho] ([MaKho])

ALTER TABLE [dbo].[DMVTLR] CHECK CONSTRAINT [FK_DMVTLR_DMKho2]

ALTER TABLE [dbo].[DMVTLR]  WITH NOCHECK ADD  CONSTRAINT [FK_DMVTLR_DMVT8] FOREIGN KEY([MaVT])
REFERENCES [dbo].[DMVT] ([MaVT])

ALTER TABLE [dbo].[DMVTLR] CHECK CONSTRAINT [FK_DMVTLR_DMVT8]

ALTER TABLE [dbo].[DMVTLR]  WITH NOCHECK ADD  CONSTRAINT [FK_DMVTLR_DMVT9] FOREIGN KEY([MaVTLR])
REFERENCES [dbo].[DMVT] ([MaVT])

ALTER TABLE [dbo].[DMVTLR] CHECK CONSTRAINT [FK_DMVTLR_DMVT9]


ALTER TABLE [dbo].[DMVTLR] ADD  CONSTRAINT [DF_DMVTLR_SoLuong]  DEFAULT ('0') FOR [SoLuong]

ALTER TABLE [dbo].[DMVTLR] ADD  CONSTRAINT [DF_DMVTLR_Gia]  DEFAULT ('0') FOR [Gia]

ALTER TABLE [dbo].[DMVTLR] ADD  CONSTRAINT [DF_DMVTLR_Tien]  DEFAULT ('0') FOR [Tien]

END

