IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MT46]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MT46](
	[MT46ID] [uniqueidentifier] NOT NULL,
	[MaCT] [nvarchar](512) NOT NULL,
	[LoaiCT] [bit] NULL,
	[NgayCT1] [smalldatetime] NOT NULL,
	[SoCT1] [nvarchar](512) NOT NULL,
	[DienGiai1] [nvarchar](512) NOT NULL,
	[MaKH1] [varchar](16) NULL,
	[MaVT1] [varchar](16) NOT NULL,
	[TenVT1] [nvarchar](512) NOT NULL,
	[MaKho1] [varchar](16) NOT NULL,
	[TKKho1] [varchar](16) NOT NULL,
	[TK] [varchar](16) NOT NULL,
	[MaDVT1] [varchar](16) NOT NULL,
	[MaNT] [varchar](16) NOT NULL,
	[TyGia] [decimal](28, 6) NOT NULL,
	[Soluong1] [decimal](28, 6) NOT NULL,
	[Gia1] [decimal](28, 6) NOT NULL,
	[Gia1NT] [decimal](28, 6) NOT NULL,
	[Ps1] [decimal](28, 6) NOT NULL,
	[Ps1NT] [decimal](28, 6) NOT NULL,
	[NgayCT2] [smalldatetime] NOT NULL,
	[SoCT2] [nvarchar](512) NOT NULL,
	[MaKH2] [varchar](16) NULL,
	[DienGiai2] [nvarchar](512) NOT NULL,
	[SoCTDT] [nvarchar](512) NULL,
	[LotNumber] [nvarchar](512) NULL,
	[ExpireDate] [smalldatetime] NULL,
	[MTIDDoiTru] [uniqueidentifier] NULL,
	[DVTQDID] [uniqueidentifier] NULL,
	[Soluong1QD] [decimal](28, 6) NOT NULL,
	[Tyle1QD] [decimal](28, 6) NOT NULL,
	[Gia1QD] [decimal](28, 6) NOT NULL,
	[Gia1QDNT] [decimal](28, 6) NOT NULL,
 CONSTRAINT [PK_MT46] PRIMARY KEY CLUSTERED 
(
	[MT46ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMDVT13] FOREIGN KEY([MaDVT1])
REFERENCES [dbo].[DMDVT] ([MaDVT])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMDVT13]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMKH22] FOREIGN KEY([MaKH2])
REFERENCES [dbo].[DMKH] ([MaKH])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMKH22]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMKH7] FOREIGN KEY([MaKH1])
REFERENCES [dbo].[DMKH] ([MaKH])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMKH7]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMKho10] FOREIGN KEY([MaKho1])
REFERENCES [dbo].[DMKho] ([MaKho])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMKho10]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMNT14] FOREIGN KEY([MaNT])
REFERENCES [dbo].[DMNT] ([MaNT])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMNT14]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMTK11] FOREIGN KEY([TKKho1])
REFERENCES [dbo].[DMTK] ([TK])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMTK11]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMTK12] FOREIGN KEY([TK])
REFERENCES [dbo].[DMTK] ([TK])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMTK12]


ALTER TABLE [dbo].[MT46]  WITH CHECK ADD  CONSTRAINT [FK_MT46_DMVT8] FOREIGN KEY([MaVT1])
REFERENCES [dbo].[DMVT] ([MaVT])


ALTER TABLE [dbo].[MT46] CHECK CONSTRAINT [FK_MT46_DMVT8]


ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_MaCT]  DEFAULT ('PTR') FOR [MaCT]


ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_LoaiCT]  DEFAULT ('1') FOR [LoaiCT]


ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_MaNT]  DEFAULT ('VND') FOR [MaNT]


ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_TyGia]  DEFAULT ('1') FOR [TyGia]


ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Soluong1]  DEFAULT ('1') FOR [Soluong1]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Gia1]  DEFAULT ('0') FOR [Gia1]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_GiaNT1]  DEFAULT ('0') FOR [Gia1NT]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Ps1]  DEFAULT ('0') FOR [Ps1]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_PsNT1]  DEFAULT ('0') FOR [Ps1NT]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Soluong1QD]  DEFAULT ('0') FOR [Soluong1QD]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Tyle1QD]  DEFAULT ('0') FOR [Tyle1QD]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Gia1QD]  DEFAULT ('0') FOR [Gia1QD]

ALTER TABLE [dbo].[MT46] ADD  CONSTRAINT [DF_MT46_Gia1QDNT]  DEFAULT ('0') FOR [Gia1QDNT]

END

