IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DT46]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DT46](
	[DT46ID] [uniqueidentifier] NOT NULL,
	[MT46ID] [uniqueidentifier] NULL,
	[Makho2] [varchar](16) NOT NULL,
	[MaVT2] [varchar](16) NOT NULL,
	[TenVT2] [nvarchar](512) NOT NULL,
	[MaDVT2] [varchar](16) NOT NULL,
	[Soluong2] [decimal](28, 6) NOT NULL,
	[Gia2] [decimal](28, 6) NOT NULL,
	[Gia2NT] [decimal](28, 6) NOT NULL,
	[Ps2] [decimal](28, 6) NOT NULL,
	[Ps2NT] [decimal](28, 6) NOT NULL,
	[TKkho2] [varchar](16) NOT NULL,
	[SoCTDT] [nvarchar](512) NULL,
	[LotNumBer] [nvarchar](512) NULL,
	[ExpireDate] [smalldatetime] NULL,
	[MaSP] [varchar](16) NULL,
	[MaBP] [varchar](16) NULL,
	[MaPhi] [varchar](16) NULL,
	[MaCongTrinh] [varchar](16) NULL,
	[MaVV] [varchar](16) NULL,
	[MTIDDoiTru] [uniqueidentifier] NULL,
	[DVTQDID] [uniqueidentifier] NULL,
	[Soluong2QD] [decimal](28, 6) NOT NULL,
	[Tyle2QD] [decimal](28, 6) NOT NULL,
	[Gia2QD] [decimal](28, 6) NOT NULL,
	[Gia2QDNT] [decimal](28, 6) NOT NULL,
 CONSTRAINT [PK_DT46] PRIMARY KEY CLUSTERED 
(
	[DT46ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMBoPhan17] FOREIGN KEY([MaBP])
REFERENCES [dbo].[DMBoPhan] ([MaBP])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMBoPhan17]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_dmCongtrinh19] FOREIGN KEY([MaCongTrinh])
REFERENCES [dbo].[DMCONGTRINH] ([MaCongTrinh])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_dmCongtrinh19]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMDVT6] FOREIGN KEY([MaDVT2])
REFERENCES [dbo].[DMDVT] ([MaDVT])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMDVT6]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMKho3] FOREIGN KEY([Makho2])
REFERENCES [dbo].[DMKho] ([MaKho])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMKho3]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMPhi18] FOREIGN KEY([MaPhi])
REFERENCES [dbo].[DMPhi] ([MaPhi])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMPhi18]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMTK12] FOREIGN KEY([TKkho2])
REFERENCES [dbo].[DMTK] ([TK])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMTK12]


ALTER TABLE [dbo].[DT46]  WITH NOCHECK ADD  CONSTRAINT [FK_DT46_DMVT16] FOREIGN KEY([MaSP])
REFERENCES [dbo].[DMVT] ([MaVT])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMVT16]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMVT4] FOREIGN KEY([MaVT2])
REFERENCES [dbo].[DMVT] ([MaVT])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMVT4]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_DMVuViec20] FOREIGN KEY([MaVV])
REFERENCES [dbo].[DMVuViec] ([MaVV])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_DMVuViec20]


ALTER TABLE [dbo].[DT46]  WITH CHECK ADD  CONSTRAINT [FK_DT46_MT462] FOREIGN KEY([MT46ID])
REFERENCES [dbo].[MT46] ([MT46ID])


ALTER TABLE [dbo].[DT46] CHECK CONSTRAINT [FK_DT46_MT462]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Soluong2]  DEFAULT ('0') FOR [Soluong2]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Gia2]  DEFAULT ('0') FOR [Gia2]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_GiaNT2]  DEFAULT ('0') FOR [Gia2NT]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Ps2]  DEFAULT ('0') FOR [Ps2]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_PsNT2]  DEFAULT ('0') FOR [Ps2NT]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Soluong2QD]  DEFAULT ('0') FOR [Soluong2QD]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Tyle2QD]  DEFAULT ('0') FOR [Tyle2QD]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Gia2QD]  DEFAULT ('0') FOR [Gia2QD]

ALTER TABLE [dbo].[DT46] ADD  CONSTRAINT [DF_DT46_Gia2QDNT]  DEFAULT ('0') FOR [Gia2QDNT]


END
