IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MT52]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MT52](
	[MT52ID] [uniqueidentifier] NOT NULL,
	[MaCT] [nvarchar](512)  NOT NULL,
	[NgayCT] [smalldatetime] NOT NULL,
	[SoCT] [nvarchar](512)  NOT NULL,
	[DienGiai] [nvarchar](512)  NOT NULL,
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[TtienNT] [decimal](28, 6) NOT NULL CONSTRAINT [DF_MT52_TtienNT]  DEFAULT ('0'),
	[Ttien] [decimal](28, 6) NULL CONSTRAINT [DF_MT52_Ttien]  DEFAULT ('0'),
	[Trangthai] [bit] NOT NULL,
	[MaKH] [varchar](16)  NULL,
	[MaNT] [varchar](16)  NULL CONSTRAINT [DF_MT52_MaNT]  DEFAULT ('VND'),
	[TyGia] [decimal](28, 6) NULL CONSTRAINT [DF_MT52_TyGia]  DEFAULT ('1'),
 CONSTRAINT [PK_MT52] PRIMARY KEY CLUSTERED 
(
	[MT52ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[MT52]  WITH CHECK ADD  CONSTRAINT [FK_MT52_DMKH9] FOREIGN KEY([MaKH])
REFERENCES [dbo].[DMKH] ([MaKH])

ALTER TABLE [dbo].[MT52] CHECK CONSTRAINT [FK_MT52_DMKH9]

ALTER TABLE [dbo].[MT52]  WITH CHECK ADD  CONSTRAINT [FK_MT52_DMNT10] FOREIGN KEY([MaNT])
REFERENCES [dbo].[DMNT] ([MaNT])

ALTER TABLE [dbo].[MT52] CHECK CONSTRAINT [FK_MT52_DMNT10]

END

