IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DT52]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DT52](
	[DT52ID] [uniqueidentifier] NOT NULL,
	[MT52ID] [uniqueidentifier] NOT NULL,
	[TK] [varchar](16) NOT NULL,
	[PsNT] [decimal](28, 6) NOT NULL,
	[Ps] [decimal](28, 6) NOT NULL,
	[DienGiaict] [nvarchar](512) NOT NULL,
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[MaKHCt] [varchar](16) NULL,
	[MaPhi] [varchar](16) NULL,
	[MaVV] [varchar](16) NULL,
	[MaBP] [varchar](16) NULL,
	[MaCongTrinh] [varchar](16) NULL,
	[MaSP] [varchar](16) NULL,
 CONSTRAINT [PK_DT52] PRIMARY KEY CLUSTERED 
(
	[DT52ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


SET ANSI_PADDING OFF


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_dmCongtrinh9] FOREIGN KEY([MaCongTrinh])
REFERENCES [dbo].[DMCONGTRINH] ([MaCongTrinh])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_dmCongtrinh9]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMKH6] FOREIGN KEY([MaKHCt])
REFERENCES [dbo].[DMKH] ([MaKH])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMKH6]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMPhi7] FOREIGN KEY([MaPhi])
REFERENCES [dbo].[DMPhi] ([MaPhi])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMPhi7]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMTK2] FOREIGN KEY([TK])
REFERENCES [dbo].[DMTK] ([TK])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMTK2]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMVT10] FOREIGN KEY([MaSP])
REFERENCES [dbo].[DMVT] ([MaVT])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMVT10]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMVuViec9] FOREIGN KEY([MaVV])
REFERENCES [dbo].[DMVuViec] ([MaVV])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMVuViec9]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_DMBoPhan12] FOREIGN KEY([MaBP])
REFERENCES [dbo].[DMBoPhan] ([MaBP])

ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_DMBoPhan12]


ALTER TABLE [dbo].[DT52]  WITH CHECK ADD  CONSTRAINT [FK_DT52_MT5211] FOREIGN KEY([MT52ID])
REFERENCES [dbo].[MT52] ([MT52ID])


ALTER TABLE [dbo].[DT52] CHECK CONSTRAINT [FK_DT52_MT5211]



END

