IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DMTKNH]') AND type in (N'U'))
BEGIN

CREATE TABLE [dbo].[DMTKNH](
	[BankAccountID] [varchar](16) NOT NULL,
	[Stt] [int] IDENTITY(1,1) NOT NULL,
	[BankAccountNo] [nvarchar](512) NOT NULL,
	[BankID] [varchar](16) NOT NULL,
	[BankBranch] [nvarchar](512) NOT NULL,
	--[TK] [varchar](16) NULL,
	[MaNT] [varchar](16) NULL,
	[Disabled] [bit] NULL,
 CONSTRAINT [PK_DMTKNH] PRIMARY KEY CLUSTERED 
(
	[BankAccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[DMTKNH]  WITH CHECK ADD  CONSTRAINT [FK_DMTKNH_DMNH3] FOREIGN KEY([BankID])
REFERENCES [dbo].[DMNH] ([BankID])

ALTER TABLE [dbo].[DMTKNH] CHECK CONSTRAINT [FK_DMTKNH_DMNH3]

ALTER TABLE [dbo].[DMTKNH]  WITH CHECK ADD  CONSTRAINT [FK_DMTKNH_DMNT6] FOREIGN KEY([MaNT])
REFERENCES [dbo].[DMNT] ([MaNT])

ALTER TABLE [dbo].[DMTKNH] CHECK CONSTRAINT [FK_DMTKNH_DMNT6]

--ALTER TABLE [dbo].[DMTKNH]  WITH CHECK ADD  CONSTRAINT [FK_DMTKNH_DMTK5] FOREIGN KEY([TK])
--REFERENCES [dbo].[DMTK] ([TK])

--ALTER TABLE [dbo].[DMTKNH] CHECK CONSTRAINT [FK_DMTKNH_DMTK5]

ALTER TABLE [dbo].[DMTKNH] ADD  CONSTRAINT [DF_DMTKNH_Disabled]  DEFAULT ('0') FOR [Disabled]

END