
@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     22/04/2014      Minh Lam        Add heading
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.POS.Business

@model POSF00161ViewModel
@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "mainGrid",
        Scrollable = true,
        ControllerName = "POSF0016",
        ActionName = "GetGridDetailData",
        IsShowCheck = false,
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {

            @class = "asf-grid",
            style = "height:330px;",
            AddNewRowDisabled = "true"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                ClientTemplate = "#= renderNumber(data) #",
                TitleColumn = "#",
                Width = 30,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_PACKAGEID,
                TitleColumn = Html.ASOFTRaw(model => model.PackageID),
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_INVENTORYID,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_INVENTORYNAME,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 140,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_UNITNAME,
                TitleColumn = Html.ASOFTRaw(model => model.UnitID),
                Width = 60,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_ACTUALQUANTITY,
                TitleColumn = Html.ASOFTRaw(model => model.ActualQuantity),
                Width = 40,
                EditColumn =  true,
                //EditorTemplateName ="Integer",
                FormatType = EnumFormatType.QuantityDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_ISINSTALLMENTPRICE,
                TitleColumn = Html.ASOFTRaw(model => model.IsInstallmentPrice),
                Width = 100,
                EditColumn =  false,
                //EditorTemplateName ="Integer",
                ClientTemplate = @" #= renderIsInstallmentPrice(data) #",
                HtmlAttrCoulmns = (new {style = "text-align:right;width:100px;"}),
                VisibleColumn = Model.IsVisible_IsInstallmentPrice
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_UNITPRICE,
                TitleColumn = Html.ASOFTRaw(model => model.UnitPrice),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.UnitCostDecimals
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_DISCOUNTRATE,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountRate),
                Width = 70,
                VisibleColumn = true,
                EditColumn =  true,
                //EditorTemplateName ="Number",
                FormatType = EnumFormatType.PercentDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_DISCOUNTAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.DiscountAmount),
                Width = 100,
                EditColumn =  true,
                VisibleColumn = true,
                //EditorTemplateName ="Amount",
                FormatType = EnumFormatType.ConvertedDecimals,
                HtmlAttrCoulmns = (new {style = "text-align:right"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn =  POST00161.COL_INVENTORYAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.Amount),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                FormatType = EnumFormatType.ConvertedDecimals
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_IMEI01,
                TitleColumn = Html.ASOFTRaw(model => model.Imei01),
                Width = 80,
                EditColumn =  true,
                VisibleColumn = ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_TTTMQ3
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_IMEI02,
                TitleColumn = Html.ASOFTRaw(model => model.Imei02),
                Width = 80,
                EditColumn =  true,
                VisibleColumn = ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_TTTMQ3
            }
        }

    };

    if (ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_OKIA)
    { 
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = POST00161.COL_ISDISPLAY,
            ClientTemplate = @"#= data.IsDisplayName || '' #",
            TitleColumn = Html.ASOFTRaw(model => model.IsDisplay),
            HtmlAttrCoulmns = (new { @class = "asf-cols-align-left" }),
            Width = 120,
            EditColumn = true,
            EditorTemplateName = "POSIsDisplay",
            VisibleColumn = !string.IsNullOrEmpty(POSSettings.ShopInfo.DisplayWareHouseID)
        });
    }
    

    if (Model.Status == 0 || Model.Status == 2)
    {

        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "",
            ClientTemplate = @"#= renderIsWarehouseGeneral3(data) #",
            TitleColumn = Html.ASOFTRaw(model => model.IsWarehouseGeneral3),
            Width = 150,
            EditColumn = false,
            HtmlAttrCoulmns = (new { style = "text-align:center" }),
            VisibleColumn = Model.Status == 2
        });

        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "",
            ClientTemplate = @"#= renderIsWarehouseGeneral(data) #",
            TitleColumn = Html.ASOFTRaw(model => model.IsWarehouseGeneral),
            Width = 150,
            EditColumn = false,
            HtmlAttrCoulmns = (new { style = "text-align:center" }),
            VisibleColumn = true
        });

        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "",
            ClientTemplate = @"#= renderIsExportNow(data) #",
            TitleColumn = Html.ASOFTRaw(model => model.IsExportNow),
            Width = 100,
            EditColumn = false,
            HtmlAttrCoulmns = (new { style = "text-align:center" }),
            VisibleColumn = true
        });


        if (ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_OKIA)
        {      
            gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
            {
                IDColumn = "SerialNo",
                TitleColumn = Html.ASOFTRaw(model => model.SerialNo),
                Width = 150,
                EditColumn = true,
                VisibleColumn = true
            });
        }
    }

    gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
    {
        IDColumn = "APK",
        TitleColumn = Html.ASOFTRaw(model => model.ReQuantity),
        Width = 110,
        ClientTemplate = "#= renderReQuantity(data) #",
        HtmlAttrCoulmns = (new { @class = "asf-cols-align-center" }),
        EditColumn = false,
        VisibleColumn = true
    });

    if (Model.Status == 1)
    {
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "",
            ClientTemplate = @"#= renderIsWarehouseGeneral2(data) #",
            TitleColumn = Html.ASOFTRaw(model => model.IsWarehouseGeneral2),
            Width = 130,
            EditColumn = false,
            HtmlAttrCoulmns = (new { style = "text-align:center" }),
            VisibleColumn = true
        });
    }

    if (Model.Status == 2)
    {
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            TitleColumn = Html.ASOFTRaw(model => model.ChangeInventory),
            Width = 150,
            ClientTemplate = "#= renderChangeInventory(data) #",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            Width = 40,
            ClientTemplate = @"#= renderDeleteInventory(data) #",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
    }
    else
    {
        gridsetting.ListGridColumn.Add(new ASOFTGridColumnSetting
        {
            IDColumn = "APK",
            Width = 40,
            ClientTemplate = @"<a href='\\#' onclick='return deleteInventory(this)' class='asf-i-delete-32'><span>Del</span></a>",
            VisibleColumn = true,
            HtmlAttrCoulmns = (new {style = "text-align:center"})
        });
    }
}

@(Html.ASOFTCreateGridEdit<POST00161>(gridsetting).Events(e=>e.Save("Grid_Save").Change("Grid_Change")))