use [CDT]
declare @sysSiteIDPRO as int
declare @sysSiteIDSTD as int
declare @sysMenuGTGT as int

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

Update sysMenu set MenuOrder = 8
where MenuName = N'Bảng kê chứng từ thuế GTGT bán ra'
and MenuOrder <> 8

Update sysMenu set MenuOrder = 11
where MenuName = N'Tờ khai thuế GTGT'
and MenuOrder <> 11

--1) Tao menu trong quy trinh nghiep vu

if isnull(@sysSiteIDPRO,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDPRO

-- PRO
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 17)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (17, 0x89504E470D0A1A0A0000000D494844520000000F0000003E0806000000F4F04142000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000018749444154484B63BCB8761A030830B1B01EFBFFEF2F23988317304A00D5298295803483F0E58DB38F01E9FFC460A0360DB0A5489A8F10A3F1E8EA593F819AD7A368BEB461D6256234EF583CED0B507313259ACBC8D27C74D54C90B351350303EC0E31CE06A9016A6E46B7F916319A2FAC9D0ED23C9B12CD3347356F98454A688F0618304B8E06188EC2109A254713C96822C15D5B8E261268B36234918C2612E486CE68C618E21963FDCCE3C4345CCFAE9DF9978989095E4B12D5AF403678C9B49E6BE0A6F3E54D731E126323BA9AD36B67BE65B8B269CECEA95D4D5DA41850555E7257475BFB04B877B36FC9E4B6536B669C25C68039133A5F8035323004C1BB46A7574FDF7664C5B4FDF80C98D1DBFE1CAA3111A8590AAE19E4825D0B27569F5C3DE322360356CF9EF84E5343E33850530248234A4B1FD639CBCC48D3888F8B0D4136202F2FF7968888C87EA0A65C209684A945B11926B878629B254CF382293D6F848585B703350500310F4C0DD8665CC0C5D949CCC9D1B1988B8B7335504D1E10F3A2AB05005DE17253C32DEB270000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDPRO)

delete from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu ra' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu ra' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê GTGT đầu ra', N'Edit list VAT out', @sysSiteIDPRO, NULL, NULL, NULL, 7, NULL, @sysMenuGTGT, 6002, N'ListVAT.ListVAT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD75000018BC494441546843D55907585557B6BEA8B14533314D9331890DA3C9246AEC31F6AE492C890D7B345650C476E95510504414050445A429451444E952948EF40E974BEF204D14E17F6B13B673246824F366DE3CBE6F7DE79E7DF6597BFD6BFFABEC830C0051577F32325F0D10893E1D2312BDD55F2492E998F2BA2B7BD683A41709FBCDE732FD6D24EC4A636F35F7100D682D43B5675A970B77779001E82CA21E5BE77EF29D4EE1A6C38ED8ABEE863D6AAED8A5EA829DCA2ED821BE81EDC7AF63DB31676C3DEA8CCD879DB049C91172871CB181AEEB0F39612DC91A4547FC7CC001ABE5EDB1729F1D56ECB6C54FBBAF62E68AA358BD613F46CF3AAFD8D5DADD1DFBA3F1A2B77A7F3E43373F535241BAFEF8D7D606B4B4B4A2B9B905F58D4F51FBF8092A6B1A515AD980C2B23A488B6B91535083CCBC2AA4E6542031B30C71A9C5884A2A44747209CC2C9CA0A6AE0A79254D4CFFD9C8A4BB06FFC1D97F18102D9CAEA0E3D16E79CBF3163C79F214ADCDF578D65C8BFA865A94573D467EF163E4929159D22AA4E5562039AB1CF1E965884D2D451419F930A108218F0A11189D0FBFC83CF83DCC81776826EE86E5E0C4197BA86BEBE1D469431C3AA68A055B743C45FDED07FE55205DECC02FBF9CB20E6E07D0F4E409EAEB1AF1B4A106AD2D65785C538192B24AE417D2B5B8103992624824F948CF2E404E762ED2327291909A8BD8A46CC4C46722213E19E1D129F00AC9C6ADA00CDCBE9F0D1D137BE81818C1E292350C0C0D7054AC8CE5DB54E24563F53EFF2B20BA00B06AB9E6599F7600F58DF5A8218F3F7F5282DADA3232BE1C05C5A5C8CE2B4571511E0A0A722195661300323E2B9B40A4222B3B19A9194948484E4452721C22E3E2E116980537FF34B8056442C3F81A8C4CCEC1D9D505E72E5C84FEC993102B8BB162CBE1A2015F2A4DEC2E882E002C9EA6A0ED81E7AD6DA8A9AD415565258AC9EBA52525282B2B44466E0912D34B1097C2785D8C70A24B587C2182630B11105D009FC87C783F94C2334C829BF773DB8D77F14F87D3BD5438FB6440AC6F8B33E7AD70CFDF0F571D1CDB419C2010CA2A62FCBCE940FD90F1077EE80E882E00CC19C732CD130A5269512D799ABC5D588442693E51A410714945884E2C40447C3E1EC4E52324468AA02829FC22F270EFA10477C272713B3807EE41CCF04C38F9A4C3DE3B15B69EC9B8EA9586831A56B0BAE240D48AC64D4F2F02E1F002848AAA18EBB62A60F854F9ED6F0AA20B0053476F3868DF56F3B889B2491572AA9A9059D184D4B22624973422A9A41EF145F5882BAC474C411DA2F2EB1041F250FA1861925A0465D7C02FBD0A77532AE09950869BB1257089288263583E1CC28A70E0842D9CDC6F233533138121A11D20F84E1842454D191BB7CBE38B19F287DF04441700C67FB672CF9567C5658F9126A9445E7D039EB46592A491A4A0A92D91E411492C9A5AA3D0D4128EC66761686C0E466363201AEAFC505F730F75155E785C720B3505EEA896DC40559613AA49ECCF2AC0D7DF07D29232C42424B683F0F0F2821DD1E9FC450BA2D3EF2036EFD88F7FCCDAAFF66720BA00307AF0E26D560DB9F99548A01C9E5DFB987444908491B0EC1440C282DC9BE436D0EA0E3CBB013C71021AAF018FAF00D597800A0BA0E43C507816C83B0D641B0199067035FE8532543C6A9B5B515C558BCCDC5C3C887984DB3EFEB0BBEE8A0B949D8C4E9F82B68E0676ED3F84592B54945E07A20B0083DE9DB5FE42754A5629159E62A4D7D4D2FB0F488248FC3B8CBF43D75B401B19FFDC05784AC63791F1F5647CAD355045C6979903C5647C3E199FFBBBF148D3858BF13A9C3335C079D39330D45383E2E16338BA67230E6C5A0E8535F3B07AE9424CFE7E29A6CF5A84790B9660DA9C95F84076D3B85781E80240CF7E93579D2D8B4D2EC4C347F948222F3D27EFB72290C48FE41E891789075ADBDCA83EDC402B01687D720DADF5B6682500AD9596682500CF0BCDF03CCF04CFB38DF13CDD002DA9FAC8F25484B1FC2C9CDC3905467BE761FDB603703AB210DECA4B10A6B6005ABFFD8689CBD53165913C26CDDB850F46AF84CC3B3FCCEF060051AF6F969F968646E722382A1751A57588ADAC4114A5D2C8D24A849756E0614939FDAE401865A890A21204171623B8A01881D242F8664BE19D4E99888A995B5C069C2353601F9A882B018F6075371A165E5130750985B17D20F4AF0441D52A1C1A6677A162EC89A37A6ED8AD7A1BEB95DCB1E68023D61E74C2A8F986100DDC35AD3B0064BE586894E9139A01BF075908CBAF4665C37DD435DEC1E3460ACC460FD436DC4054493EF2AB7C50F3D816D55524E536A82AB14465C105544ACEA122CB14E569A750967412A571275012A98D92300D1407A9A0D84F8C226F25A4B8A9C3D8F216A4D7F620CF7A27241672B0D431C4F4BD5E58B4D5123F6E35C7FB9334A98D5D33FA8D01B089C366EBA778F826C1FB7E3A82F2AAF10C8CF38E240E2457492C11579E89EA268A01503FF6EC0CC58031C5C049A0468F02589B02581D285021FE1F23FE53464C3908C4CB03517B28A47E03EE6F41AD97024C2EBA026E6B49FD6AC07E29AE696BC168B53C920FFD0A89A91E7C0C4C10ADAEBEBB5B00864CD34D70F28C83876F0A7C73AA28066ED2FB945960457281E43462CB5250D1709D7EEB501093D18D5A948128EB552903E54781A24380F400659F7D403AAD9FB80388DB46096D1310BA01085C8D6A8F5D38798E74DC5846C62F22DF2C432D8BD73D736999E3C0753320C48DDEA1AC77419D525A17AD7F578383266AC5D8DC8884AB7702BC322A90DD1407696330F2884A790D8124F7105C948B47E511C8ADBF8DDC1A4FE4567A20A7DC1D5945379091E744BD913D52526D91186F83F8684BC43EB880E8203344DC33C183DB460875D5C32DDBD3387AEA167CCD55E065A68E54F14FC0EA7780E3D3017DFA6D46C06DC831B76D018FCBC08689E4859741FC210BB10903BED10C3F671706C75BB1B8995C8A87D58588A8CC4038C9C38A743CAC4CC15D0A58BF826C84552422B494A4248182F911027263E09B1101EFA407B81D1B0CB788405C0FF68583EF5D6A273C61ED7A13171D5C6076D9017AE4FD9D27EE4257DF0A8754AC11BEEE1FC05E32497B1060FA15797D2160B185184B34BC413B7F78252B482FD9DC2580BE5F6A84185A06E2AA6B141C1F95A2AE8D723D88DFA07C0E7D12150AE27048AA595CD0C1AA9938DE40D71AE2780571BC98382EA576269B164F9323FAAC03627E061EAE24EE53AFE6BB94EAE01C14396C828A811DF1FF3BF82A4DC7F38364CE6992CB24F67D01BB61C4DA19C0597AF71CADF1DBDCE43702D073B49A3F6BA9AD9DC27125B204E5CF59B0720054900840447128D2CA09581B71BD89385F47D72AE27C1971BE90B65E42BB9D499C4F26CE3F22CE47AE21EEAFA25A48D4F026CEDF9A870CDB2DD033BA82CC1393B179F711A45F5840E3647C184924C99D1E44A18F08D40440996264C95016887FBE03A2116ADEC70CBD70916864115A84D216CA14D020A1ECD27E3D84C8627F2495B220DE456D0479BE8E3C5FB5930090E70B3753F621CF6750764926EFC5ADA04024CF872C01FC88167728483DA622FDF24688B52D7160C504A81B98523FE4867837F2782D195ED301E22AA314C5C5A6771B305234E2CD000C53F590D7BE493C0D8659401E329EF8A0BEC518752D67488CE9B716420A83105E701BF5CF8EA3AE4E0D75D5CAA8A3ECF3B84809B59203A8C9DC8FEAE4DDA88ADB81AAF06DA80CDE840ABFF528F75A8332B75528735A8260CBFDD8F99B1A74E5E52056D3A466CE1AA7CCECE0682F87BAC2E1947609881D01382A42EDAF83A93F79C32C24FA54CD6587F20D9CA63830A57EDEB5B404B70BD3E051984EC2AE2970C890E05A6A166E1626E2A694242F016E398FE09C1A836BF11144BD305886DCC7793F7F9CF1BC0723172FE8D9DF84A6B50B94CF3BE1C8A9ABD824B6819B810AC203EFE284FE49281C5484AABA269C6FF8E1E2454BD818AE45D8E9C508D0DF082D5D234A4D6F0A60A89ABDDC21079C3CEF07BD5BD9486EF2A4BE4791E4288912F541BF21BECA0DE1452C3636A2B5611BF5409BD15A2187D6E2B56895AE466BD60AB4A6FC80D6474BD01AB900ADA173D11A3013CFEF50B0BA4F41ABDB44E4687D0A49004B1080EB75471C3D26869EBE01949595A1A5AD0F85C3BA3861628D035A26AC82769970BA1EFC44DD76F53E5BE89AFA40DD2503F10DD43633AE4381642FC96638F89FC4794F2BD49613AF9F5290D612D72B28CB1413D7F328CB6411D753E611FF6711FF89D72153298027015EE301F7AF891A9F21CB60261ACA8AF0A43C9FBADA7A24C53E8089B101747474B169CBAFD8B5EF000E2929D5C97E31F6D3EE0118A261B16C8735344E79E3987D2A62EB3DE87D4A85A0B4080ACEA6C5386CAC84331E5608BAF5058D2DA72A4C0D63E56C02F03DA550EABDB2261300CA1E8FBEA18CF22501A079FEA328802935DEFE0C95FA7F43E6CD8B682C95A0A92819CDA5A9948A0B282194E151981F5C9C1DE16CAA8909E37F4A7B95F16CBCEB1D18A2653E6F9305C427A943B48D850B15A9286AD822ABAE21BADA015EF12770F0BC312C23EFC3F0D256C43CBE8CA842734448CCF030C304A18946088A36807F980E7C0234E17D47159E6EC770D341092E3607A943D88248AD79A84E8D4043CE43341744E05971349E96C4A1B938112D15B9B423653053D805D16085C4EE0318AC7D6AC69AF350D2BD8543D4EE5A4925702F08845BC17D789484C23CE40A0E5A98C120280A472F88E15D150CF75C6FB86678C129D103D7A25D7139D41996FEF630F7B2A5F6F9128CEDE8138A951934CCCD705C713F12AE1AA029E73E9EE4FAE059BE3F5A28AB3D2D0845A3E4215A4AD31167A582819FC8413452FDAF00D0339CB4E22C1434DDB1D32C1ADEE577C909C469FCD84E97B2BC093075D883B3BE0E08BAFD295A1B892ED5DF520D18471D28B50039449754A24B3CA5C248A26FC82794FF0713FF3F005CFA40AA3D0AE551EE684A77418BC40DCFF33DD022F5443339A1313714F521D6983B6139449FABA087ECF1477F6107F435BF5E6642870B576C39150ED72276945C4CC23ED92C4769FE24D8FBEEC37E0B5B64C78D80E9C9CF51964A5CAFA00095523F9335860A982C05300108FF9CDA87A1C03DAAA89E035179528434EB83684A73C0B3ACCB68CDBB8A36A9039E4B9CF124D30D6D69EE30DCB402A28F1521237B8C01F843FF2304F48A183054FF628131B61FBB0E39FD60D848C251D1BC9D64272A9EEE84F9A52990DB3F1F1B55E451D9BC06EB370E4340C02C54D6AE40997429CA3217A134693E8AA367213F643AA477BF469EDB08E4D90E46B2E608543E3887A76967D0964BEDB2D41C6D799668C9BA4447CFEB8831FB0DEF7CB68DA8C3BC7F844439B2FB3B30C4F8F0C8B946F4F9FC3A36E9DE834E723EAC721EC0323B0C36D248ECBB628E555439754293602789C49C75ABA078D61857224270DEFB164C5C9DA16B770D628BCB503C6301790333ECD43687E20145E450FFF32C591F6DD9BA74E0A7C630DF086D925368C9B6447D800A96CD5C0FD1089D0EE38F3200A1DD0730D454F1A3297A58B0F512E62A7AC138957D5299D2219321C91A099B9B4B71219CD26BD2C7505BF3366EADEF432D526F60276DEAAF243B3A84DD33D92E8264770F5406EEA222C74E6B623AB5D101A8509B76E014EAA294E9F03618B2E39420FA42AB0340FB0EB0EF385D32E5D56974B4C52ED1486588461D478F9996D8FEC0EB251DA5792218D98C81D8EB0AEAEE8AA0F7B3089EAB680D0511627F12217735FDDEF53280060295A22E42833705722E1D1F59DB5D414DA0740F9A2316A3DCB0573BC8B153543A015009EC3E00D94B3B65645520335A8C9EDF9B635D6830CA5B87A102235041D7949C4198BD7204BE5E341B678F7D04D52D83E0B2FD4324EEFF042AD3DE46C4AEE1283C3212F9078643AA308C4E952391A6D00BC5B622B48613302949757FDA8501D466F444158D3FDA3D0889729FE1EF93B4201AA3811EA398F799A8B2037937776094CD46195955F41CAB827E338C31C13A1A335C5331C3211AB23BD53072B30ADEFD6A06647ABF8D912BE430FA971D98A1698EB5FE7918F2DD622C718CC4B29B1958E09488A976195865788D7A7E1934FB911DB47B68EE905CBA0689E0A8FA15FACCB88CB7A69AE3AD09C6E8F9952A0160FC6700D4581FD35D0057D6CBC8AAA11729EA3BE524FA7E7706FDE65FC35BDF1C429FC9BA787BBE2DFA4F3A86BEA357A0F7A8A5E8336A3E3E51F0C0E8B3A9F84CFE2CC63B2761AA7F01A6051560AC6F25ACCF6C42F36D593C4F798FDA900E5B1AE99A2C42816D5F0C5B6E8A1E73AEA2EF4C33F499624000D45E009091D5A04F80DD06706DA58CACFA0B00FD679EC5C0C576E837410103E79963C06C33F427AEBEB7D60B43F686E1BD65DA18A6128C3167E2F0AD730EA67AE5E23B3A474C0C2AC32FD73D51EEF12B5A3215D0564D8D1FA8466000F54C04205084ADF4254E34C71D03175880ADF33200B60BEACE7F0180D38F32B29AFF04308B002CB143FF89873060CE1992F3787BAA2ADEDF7C1F1F33004BD5314CEC872FCF256082631AA6DDFB1DC0F8FBD5D84129B7254A1D6DACA36DA1EC83ADD4B0D1892CFD43B89D1A0799851E18B0F82A062CB07C05002D76F0EE268564AF2F9291D522002A786B9201FA7C6F8AFE0B6CD06FBA2EFA4E12E3ED3917D16F9A1606C9F963F09E100C5AA689CFC5BE18733E01E39DD230D5478269140F1382ABB1CACA0A09C6EF12EFAF901DAC26D121BE4E0BC5F7A663D43A73F45CEC86010B2FA3DF3C0B8A0353F49AA40FD15855C88C64FC3F4AD5589B7D88EA2E00CF0932A374D1FB6B150C9A750AEF2F34C707CB6C3078A513DEF9763FFA8CD98C0F975B63E8763F8C507C800F97AA608C6600265E4AC6776E99981320C5DC2029A687D462AFBB1542744488BF26424D2E1DECEBE88B75A63C0EE86861E0E630FC7D9D3B3E5EE5848F7EB882F71798E3DD99C61838511B7DC61E870C05B28CACFE91EE031859D34B34C224B5DF3875AC5672819CDA1D6CD0F4C146DD606CD00AA031276C3488C2569318ECB04CC206E3BBD8E39C8A83F7F270E461119413CADB4529E9192CA36C9047D927C5558448FA64E2A831943EE2AA62B19A377E38EE8A658A4EF8F1D00DAC3EEE81F534B64E7C0B1B0E3B63F86C3DFAC6791422D973AC82766F07DA2BDC70A771A2518639B3B7DB41DE38007B8C82B0E75428F69A44609F691CF69AC640DE221E076D5370C44D82639E12A806E6432BBA147A2995EDA291DA0207FA3AD7562B42B0CF47D8BE6F11BEFE51015F2EDB8F6F176DC684F972183F673D26CC95C3E445DB307FED11FAAFBF2576A8BAE1BD6F35A81B55A7FF9CBCDAF8763B0F2B1D7AA5880647BD2D1A66B2AEE7141371EFD917C47DE7DB88FB2EB4237114F75BE6227E67ADA7F8FD1DBEE28F0F87883FD78D148F368F178FBB91219EEC2769979DFAA611A41F7272BDB23FF8764A8C68E8AC98DEC3BE8DEC3D745C44AF21DF44F4F8F0AB0899F7C646C8FC6D749468E08858519F8F1344FD47DF110D5754150DD7D8DA6B217A7461DF2EA693843EDFFD0980D7817BC367C7699EDF1BCE7DAD33053A723A005040FDFB014CA4C598BCA9716F32EF24E9638E69FFA7387B614D0722B62D4C2C3B16E5F75C297B898FB177F83833908FB3EB828E676C21AE8FCDE5EFB3F9D51DF783E81AD3318F7996DD73BD373A6C61FA981EF63E7BEF859D1C0053C88C660FD84B8C63426347D03D13F69C2DC6166257BE107700D3C10D63CFB8619C427C0DAE9B5D85EB32FD42C7B0F7D973B61E07C7E6307D6C9C7DE77911C4DC8B7CBBD9248E948D316F32E39887B801C29DE1CF38000E98836673B94E0E8C192B04CCD610D24DE86D4E45E10EB7A7D6CE5E640632E10BF317D8CE30E15460CABBA2169BCF16E320F98EB1B93CF8848EE1FAF918DB7DAE978FF1B53895F878FB87DECE5E64F73C4D0995F26D63CF99A78414E2DBCCE9C0DE67603B1B20F4287BC6D7115298C70FDF410E9ACDE1F3D93A4C5E4AA3CC28369919C816678B0939CB00B0E74C317BC6E673F01C1C5F54E87D4E1BBEAB42609CB6C298633A985EEE6D3E87E964C26D6C5F5BB8034C310F366620A70B8F7E6150B3E77CA1AEA8C1839A5D855EE641CADEE786086925A4257F8F27039E9184D9EE2500CC40CE3FE65D612AE4BF79D6E89CD7F938DB3136975382799DFFE657069C7B9319C7EE5F5042B0AB3C8E38A5B97D7C6E3B035E57C8841E7893E2F27F32E77500841EF8DF30EEDFE290FF442BD1B95A0B63E75F76CC7F12004F023C9EFE65E35F1703C274284C753C8F333AF06AFAA2A8744A7F6C9C977F9E42794663C677CE6EAFEAAB7862E1E99705F10BF0AFDB01BE006FC8840D1BCF22BCCAB617950EC5C262C38B953005333D1C109B2BAC3FCCB0CE7D1537983B8FA7F73FD481CE5BCABCC72B2C339403117A51D85E082BBA30C733E385C58BA759618B22ACEAC23E8BE961EB0ABBE597CE16AFDB01EE5D6E30BB67C22B342F30C28A2CA48AB033E55D2EDF116E10A32A3348E855A1A338483EC6BB8137A290D06BC2CE921BC394083B4976CF00F0569B7BB2F359831724A6875771A113F8AEF3B6B973A51756EBD71632DE0731AF7363B872E609218F85F4E3F385EF08FB2A7E9AE25DAB90924C0FEFABB80379ECB1719E38DE680784870EF63247CE14332F73C59DD3A2B0E3E44D21A7088FABCEBBD2B9AF12EE92F014C77FBF98FFBA186086318F77EE5D78E7C87B18E11190B7DAEC3D4E0B615F25ECB778FFD4D9016C9C672AA687DD735DC21EEB9F59E8CFBEBBFCB73F7FE517AFFF76C3B97DFFEF01FC0F63323C06CAF16A1D0000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDSTD

-- STD
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 17)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (17, 0x89504E470D0A1A0A0000000D494844520000000F0000003E0806000000F4F04142000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000018749444154484B63BCB8761A030830B1B01EFBFFEF2F23988317304A00D5298295803483F0E58DB38F01E9FFC460A0360DB0A5489A8F10A3F1E8EA593F819AD7A368BEB461D6256234EF583CED0B507313259ACBC8D27C74D54C90B351350303EC0E31CE06A9016A6E46B7F916319A2FAC9D0ED23C9B12CD3347356F98454A688F0618304B8E06188EC2109A254713C96822C15D5B8E261268B36234918C2612E486CE68C618E21963FDCCE3C4345CCFAE9DF9978989095E4B12D5AF403678C9B49E6BE0A6F3E54D731E126323BA9AD36B67BE65B8B269CECEA95D4D5DA41850555E7257475BFB04B877B36FC9E4B6536B669C25C68039133A5F8035323004C1BB46A7574FDF7664C5B4FDF80C98D1DBFE1CAA3111A8590AAE19E4825D0B27569F5C3DE322360356CF9EF84E5343E33850530248234A4B1FD639CBCC48D3888F8B0D4136202F2FF7968888C87EA0A65C209684A945B11926B878629B254CF382293D6F848585B703350500310F4C0DD8665CC0C5D949CCC9D1B1988B8B7335504D1E10F3A2AB05005DE17253C32DEB270000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDSTD)

delete from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu ra' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo bảng kê GTGT đầu ra' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES (N'Tạo bảng kê GTGT đầu ra', N'Edit list VAT out', @sysSiteIDSTD, NULL, NULL, NULL, 7, NULL, @sysMenuGTGT, 6002, N'ListVAT.ListVAT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD75000018BC494441546843D55907585557B6BEA8B14533314D9331890DA3C9246AEC31F6AE492C890D7B345650C476E95510504414050445A429451444E952948EF40E974BEF204D14E17F6B13B673246824F366DE3CBE6F7DE79E7DF6597BFD6BFFABEC830C0051577F32325F0D10893E1D2312BDD55F2492E998F2BA2B7BD683A41709FBCDE732FD6D24EC4A636F35F7100D682D43B5675A970B77779001E82CA21E5BE77EF29D4EE1A6C38ED8ABEE863D6AAED8A5EA829DCA2ED821BE81EDC7AF63DB31676C3DEA8CCD879DB049C91172871CB181AEEB0F39612DC91A4547FC7CC001ABE5EDB1729F1D56ECB6C54FBBAF62E68AA358BD613F46CF3AAFD8D5DADD1DFBA3F1A2B77A7F3E43373F535241BAFEF8D7D606B4B4B4A2B9B905F58D4F51FBF8092A6B1A515AD980C2B23A488B6B91535083CCBC2AA4E6542031B30C71A9C5884A2A44747209CC2C9CA0A6AE0A79254D4CFFD9C8A4BB06FFC1D97F18102D9CAEA0E3D16E79CBF3163C79F214ADCDF578D65C8BFA865A94573D467EF163E4929159D22AA4E5562039AB1CF1E965884D2D451419F930A108218F0A11189D0FBFC83CF83DCC81776826EE86E5E0C4197BA86BEBE1D469431C3AA68A055B743C45FDED07FE55205DECC02FBF9CB20E6E07D0F4E409EAEB1AF1B4A106AD2D65785C538192B24AE417D2B5B8103992624824F948CF2E404E762ED2327291909A8BD8A46CC4C46722213E19E1D129F00AC9C6ADA00CDCBE9F0D1D137BE81818C1E292350C0C0D7054AC8CE5DB54E24563F53EFF2B20BA00B06AB9E6599F7600F58DF5A8218F3F7F5282DADA3232BE1C05C5A5C8CE2B4571511E0A0A722195661300323E2B9B40A4222B3B19A9194948484E4452721C22E3E2E116980537FF34B8056442C3F81A8C4CCEC1D9D505E72E5C84FEC993102B8BB162CBE1A2015F2A4DEC2E882E002C9EA6A0ED81E7AD6DA8A9AD415565258AC9EBA52525282B2B44466E0912D34B1097C2785D8C70A24B587C2182630B11105D009FC87C783F94C2334C829BF773DB8D77F14F87D3BD5438FB6440AC6F8B33E7AD70CFDF0F571D1CDB419C2010CA2A62FCBCE940FD90F1077EE80E882E00CC19C732CD130A5269512D799ABC5D588442693E51A410714945884E2C40447C3E1EC4E52324468AA02829FC22F270EFA10477C272713B3807EE41CCF04C38F9A4C3DE3B15B69EC9B8EA9586831A56B0BAE240D48AC64D4F2F02E1F002848AAA18EBB62A60F854F9ED6F0AA20B0053476F3868DF56F3B889B2491572AA9A9059D184D4B22624973422A9A41EF145F5882BAC474C411DA2F2EB1041F250FA1861925A0465D7C02FBD0A77532AE09950869BB1257089288263583E1CC28A70E0842D9CDC6F233533138121A11D20F84E1842454D191BB7CBE38B19F287DF04441700C67FB672CF9567C5658F9126A9445E7D039EB46592A491A4A0A92D91E411492C9A5AA3D0D4128EC66761686C0E466363201AEAFC505F730F75155E785C720B3505EEA896DC40559613AA49ECCF2AC0D7DF07D29232C42424B683F0F0F2821DD1E9FC450BA2D3EF2036EFD88F7FCCDAAFF66720BA00307AF0E26D560DB9F99548A01C9E5DFB987444908491B0EC1440C282DC9BE436D0EA0E3CBB013C71021AAF018FAF00D597800A0BA0E43C507816C83B0D641B0199067035FE8532543C6A9B5B515C558BCCDC5C3C887984DB3EFEB0BBEE8A0B949D8C4E9F82B68E0676ED3F84592B54945E07A20B0083DE9DB5FE42754A5629159E62A4D7D4D2FB0F488248FC3B8CBF43D75B401B19FFDC05784AC63791F1F5647CAD355045C6979903C5647C3E199FFBBBF148D3858BF13A9C3335C079D39330D45383E2E16338BA67230E6C5A0E8535F3B07AE9424CFE7E29A6CF5A84790B9660DA9C95F84076D3B85781E80240CF7E93579D2D8B4D2EC4C347F948222F3D27EFB72290C48FE41E891789075ADBDCA83EDC402B01687D720DADF5B6682500AD9596682500CF0BCDF03CCF04CFB38DF13CDD002DA9FAC8F25484B1FC2C9CDC3905467BE761FDB603703AB210DECA4B10A6B6005ABFFD8689CBD53165913C26CDDB850F46AF84CC3B3FCCEF060051AF6F969F968646E722382A1751A57588ADAC4114A5D2C8D24A849756E0614939FDAE401865A890A21204171623B8A01881D242F8664BE19D4E99888A995B5C069C2353601F9A882B018F6075371A165E5130750985B17D20F4AF0441D52A1C1A6677A162EC89A37A6ED8AD7A1BEB95DCB1E68023D61E74C2A8F986100DDC35AD3B0064BE586894E9139A01BF075908CBAF4665C37DD435DEC1E3460ACC460FD436DC4054493EF2AB7C50F3D816D55524E536A82AB14465C105544ACEA122CB14E569A750967412A571275012A98D92300D1407A9A0D84F8C226F25A4B8A9C3D8F216A4D7F620CF7A27241672B0D431C4F4BD5E58B4D5123F6E35C7FB9334A98D5D33FA8D01B089C366EBA778F826C1FB7E3A82F2AAF10C8CF38E240E2457492C11579E89EA268A01503FF6EC0CC58031C5C049A0468F02589B02581D285021FE1F23FE53464C3908C4CB03517B28A47E03EE6F41AD97024C2EBA026E6B49FD6AC07E29AE696BC168B53C920FFD0A89A91E7C0C4C10ADAEBEBB5B00864CD34D70F28C83876F0A7C73AA28066ED2FB945960457281E43462CB5250D1709D7EEB501093D18D5A948128EB552903E54781A24380F400659F7D403AAD9FB80388DB46096D1310BA01085C8D6A8F5D38798E74DC5846C62F22DF2C432D8BD73D736999E3C0753320C48DDEA1AC77419D525A17AD7F578383266AC5D8DC8884AB7702BC322A90DD1407696330F2884A790D8124F7105C948B47E511C8ADBF8DDC1A4FE4567A20A7DC1D5945379091E744BD913D52526D91186F83F8684BC43EB880E8203344DC33C183DB460875D5C32DDBD3387AEA167CCD55E065A68E54F14FC0EA7780E3D3017DFA6D46C06DC831B76D018FCBC08689E4859741FC210BB10903BED10C3F671706C75BB1B8995C8A87D58588A8CC4038C9C38A743CAC4CC15D0A58BF826C84552422B494A4248182F911027263E09B1101EFA407B81D1B0CB788405C0FF68583EF5D6A273C61ED7A13171D5C6076D9017AE4FD9D27EE4257DF0A8754AC11BEEE1FC05E32497B1060FA15797D2160B185184B34BC413B7F78252B482FD9DC2580BE5F6A84185A06E2AA6B141C1F95A2AE8D723D88DFA07C0E7D12150AE27048AA595CD0C1AA9938DE40D71AE2780571BC98382EA576269B164F9323FAAC03627E061EAE24EE53AFE6BB94EAE01C14396C828A811DF1FF3BF82A4DC7F38364CE6992CB24F67D01BB61C4DA19C0597AF71CADF1DBDCE43702D073B49A3F6BA9AD9DC27125B204E5CF59B0720054900840447128D2CA09581B71BD89385F47D72AE27C1971BE90B65E42BB9D499C4F26CE3F22CE47AE21EEAFA25A48D4F026CEDF9A870CDB2DD033BA82CC1393B179F711A45F5840E3647C184924C99D1E44A18F08D40440996264C95016887FBE03A2116ADEC70CBD70916864115A84D216CA14D020A1ECD27E3D84C8627F2495B220DE456D0479BE8E3C5FB5930090E70B3753F621CF6750764926EFC5ADA04024CF872C01FC88167728483DA622FDF24688B52D7160C504A81B98523FE4867837F2782D195ED301E22AA314C5C5A6771B305234E2CD000C53F590D7BE493C0D8659401E329EF8A0BEC518752D67488CE9B716420A83105E701BF5CF8EA3AE4E0D75D5CAA8A3ECF3B84809B59203A8C9DC8FEAE4DDA88ADB81AAF06DA80CDE840ABFF528F75A8332B75528735A8260CBFDD8F99B1A74E5E52056D3A466CE1AA7CCECE0682F87BAC2E1947609881D01382A42EDAF83A93F79C32C24FA54CD6587F20D9CA63830A57EDEB5B404B70BD3E051984EC2AE2970C890E05A6A166E1626E2A694242F016E398FE09C1A836BF11144BD305886DCC7793F7F9CF1BC0723172FE8D9DF84A6B50B94CF3BE1C8A9ABD824B6819B810AC203EFE284FE49281C5484AABA269C6FF8E1E2454BD818AE45D8E9C508D0DF082D5D234A4D6F0A60A89ABDDC21079C3CEF07BD5BD9486EF2A4BE4791E4288912F541BF21BECA0DE1452C3636A2B5611BF5409BD15A2187D6E2B56895AE466BD60AB4A6FC80D6474BD01AB900ADA173D11A3013CFEF50B0BA4F41ABDB44E4687D0A49004B1080EB75471C3D26869EBE01949595A1A5AD0F85C3BA3861628D035A26AC82769970BA1EFC44DD76F53E5BE89AFA40DD2503F10DD43633AE4381642FC96638F89FC4794F2BD49613AF9F5290D612D72B28CB1413D7F328CB6411D753E611FF6711FF89D72153298027015EE301F7AF891A9F21CB60261ACA8AF0A43C9FBADA7A24C53E8089B101747474B169CBAFD8B5EF000E2929D5C97E31F6D3EE0118A261B16C8735344E79E3987D2A62EB3DE87D4A85A0B4080ACEA6C5386CAC84331E5608BAF5058D2DA72A4C0D63E56C02F03DA550EABDB2261300CA1E8FBEA18CF22501A079FEA328802935DEFE0C95FA7F43E6CD8B682C95A0A92819CDA5A9948A0B282194E151981F5C9C1DE16CAA8909E37F4A7B95F16CBCEB1D18A2653E6F9305C427A943B48D850B15A9286AD822ABAE21BADA015EF12770F0BC312C23EFC3F0D256C43CBE8CA842734448CCF030C304A18946088A36807F980E7C0234E17D47159E6EC770D341092E3607A943D88248AD79A84E8D4043CE43341744E05971349E96C4A1B938112D15B9B423653053D805D16085C4EE0318AC7D6AC69AF350D2BD8543D4EE5A4925702F08845BC17D789484C23CE40A0E5A98C120280A472F88E15D150CF75C6FB86678C129D103D7A25D7139D41996FEF630F7B2A5F6F9128CEDE8138A951934CCCD705C713F12AE1AA029E73E9EE4FAE059BE3F5A28AB3D2D0845A3E4215A4AD31167A582819FC8413452FDAF00D0339CB4E22C1434DDB1D32C1ADEE577C909C469FCD84E97B2BC093075D883B3BE0E08BAFD295A1B892ED5DF520D18471D28B50039449754A24B3CA5C248A26FC82794FF0713FF3F005CFA40AA3D0AE551EE684A77418BC40DCFF33DD022F5443339A1313714F521D6983B6139449FABA087ECF1477F6107F435BF5E6642870B576C39150ED72276945C4CC23ED92C4769FE24D8FBEEC37E0B5B64C78D80E9C9CF51964A5CAFA00095523F9335860A982C05300108FF9CDA87A1C03DAAA89E035179528434EB83684A73C0B3ACCB68CDBB8A36A9039E4B9CF124D30D6D69EE30DCB402A28F1521237B8C01F843FF2304F48A183054FF628131B61FBB0E39FD60D848C251D1BC9D64272A9EEE84F9A52990DB3F1F1B55E451D9BC06EB370E4340C02C54D6AE40997429CA3217A134693E8AA367213F643AA477BF469EDB08E4D90E46B2E608543E3887A76967D0964BEDB2D41C6D799668C9BA4447CFEB8831FB0DEF7CB68DA8C3BC7F844439B2FB3B30C4F8F0C8B946F4F9FC3A36E9DE834E723EAC721EC0323B0C36D248ECBB628E555439754293602789C49C75ABA078D61857224270DEFB164C5C9DA16B770D628BCB503C6301790333ECD43687E20145E450FFF32C591F6DD9BA74E0A7C630DF086D925368C9B6447D800A96CD5C0FD1089D0EE38F3200A1DD0730D454F1A3297A58B0F512E62A7AC138957D5299D2219321C91A099B9B4B71219CD26BD2C7505BF3366EADEF432D526F60276DEAAF243B3A84DD33D92E8264770F5406EEA222C74E6B623AB5D101A8509B76E014EAA294E9F03618B2E39420FA42AB0340FB0EB0EF385D32E5D56974B4C52ED1486588461D478F9996D8FEC0EB251DA5792218D98C81D8EB0AEAEE8AA0F7B3089EAB680D0511627F12217735FDDEF53280060295A22E42833705722E1D1F59DB5D414DA0740F9A2316A3DCB0573BC8B153543A015009EC3E00D94B3B65645520335A8C9EDF9B635D6830CA5B87A102235041D7949C4198BD7204BE5E341B678F7D04D52D83E0B2FD4324EEFF042AD3DE46C4AEE1283C3212F9078643AA308C4E952391A6D00BC5B622B48613302949757FDA8501D466F444158D3FDA3D0889729FE1EF93B4201AA3811EA398F799A8B2037937776094CD46195955F41CAB827E338C31C13A1A335C5331C3211AB23BD53072B30ADEFD6A06647ABF8D912BE430FA971D98A1698EB5FE7918F2DD622C718CC4B29B1958E09488A976195865788D7A7E1934FB911DB47B68EE905CBA0689E0A8FA15FACCB88CB7A69AE3AD09C6E8F9952A0160FC6700D4581FD35D0057D6CBC8AAA11729EA3BE524FA7E7706FDE65FC35BDF1C429FC9BA787BBE2DFA4F3A86BEA357A0F7A8A5E8336A3E3E51F0C0E8B3A9F84CFE2CC63B2761AA7F01A6051560AC6F25ACCF6C42F36D593C4F798FDA900E5B1AE99A2C42816D5F0C5B6E8A1E73AEA2EF4C33F499624000D45E009091D5A04F80DD06706DA58CACFA0B00FD679EC5C0C576E837410103E79963C06C33F427AEBEB7D60B43F686E1BD65DA18A6128C3167E2F0AD730EA67AE5E23B3A474C0C2AC32FD73D51EEF12B5A3215D0564D8D1FA8466000F54C04205084ADF4254E34C71D03175880ADF33200B60BEACE7F0180D38F32B29AFF04308B002CB143FF89873060CE1992F3787BAA2ADEDF7C1F1F33004BD5314CEC872FCF256082631AA6DDFB1DC0F8FBD5D84129B7254A1D6DACA36DA1EC83ADD4B0D1892CFD43B89D1A0799851E18B0F82A062CB07C05002D76F0EE268564AF2F9291D522002A786B9201FA7C6F8AFE0B6CD06FBA2EFA4E12E3ED3917D16F9A1606C9F963F09E100C5AA689CFC5BE18733E01E39DD230D5478269140F1382ABB1CACA0A09C6EF12EFAF901DAC26D121BE4E0BC5F7A663D43A73F45CEC86010B2FA3DF3C0B8A0353F49AA40FD15855C88C64FC3F4AD5589B7D88EA2E00CF0932A374D1FB6B150C9A750AEF2F34C707CB6C3078A513DEF9763FFA8CD98C0F975B63E8763F8C507C800F97AA608C6600265E4AC6776E99981320C5DC2029A687D462AFBB1542744488BF26424D2E1DECEBE88B75A63C0EE86861E0E630FC7D9D3B3E5EE5848F7EB882F71798E3DD99C61838511B7DC61E870C05B28CACFE91EE031859D34B34C224B5DF3875AC5672819CDA1D6CD0F4C146DD606CD00AA031276C3488C2569318ECB04CC206E3BBD8E39C8A83F7F270E461119413CADB4529E9192CA36C9047D927C5558448FA64E2A831943EE2AA62B19A377E38EE8A658A4EF8F1D00DAC3EEE81F534B64E7C0B1B0E3B63F86C3DFAC6791422D973AC82766F07DA2BDC70A771A2518639B3B7DB41DE38007B8C82B0E75428F69A44609F691CF69AC640DE221E076D5370C44D82639E12A806E6432BBA147A2995EDA291DA0207FA3AD7562B42B0CF47D8BE6F11BEFE51015F2EDB8F6F176DC684F972183F673D26CC95C3E445DB307FED11FAAFBF2576A8BAE1BD6F35A81B55A7FF9CBCDAF8763B0F2B1D7AA5880647BD2D1A66B2AEE7141371EFD917C47DE7DB88FB2EB4237114F75BE6227E67ADA7F8FD1DBEE28F0F87883FD78D148F368F178FBB91219EEC2769979DFAA611A41F7272BDB23FF8764A8C68E8AC98DEC3BE8DEC3D745C44AF21DF44F4F8F0AB0899F7C646C8FC6D749468E08858519F8F1344FD47DF110D5754150DD7D8DA6B217A7461DF2EA693843EDFFD0980D7817BC367C7699EDF1BCE7DAD33053A723A005040FDFB014CA4C598BCA9716F32EF24E9638E69FFA7387B614D0722B62D4C2C3B16E5F75C297B898FB177F83833908FB3EB828E676C21AE8FCDE5EFB3F9D51DF783E81AD3318F7996DD73BD373A6C61FA981EF63E7BEF859D1C0053C88C660FD84B8C63426347D03D13F69C2DC6166257BE107700D3C10D63CFB8619C427C0DAE9B5D85EB32FD42C7B0F7D973B61E07C7E6307D6C9C7DE77911C4DC8B7CBBD9248E948D316F32E39887B801C29DE1CF38000E98836673B94E0E8C192B04CCD610D24DE86D4E45E10EB7A7D6CE5E640632E10BF317D8CE30E15460CABBA2169BCF16E320F98EB1B93CF8848EE1FAF918DB7DAE978FF1B53895F878FB87DECE5E64F73C4D0995F26D63CF99A78414E2DBCCE9C0DE67603B1B20F4287BC6D7115298C70FDF410E9ACDE1F3D93A4C5E4AA3CC28369919C816678B0939CB00B0E74C317BC6E673F01C1C5F54E87D4E1BBEAB42609CB6C298633A985EEE6D3E87E964C26D6C5F5BB8034C310F366620A70B8F7E6150B3E77CA1AEA8C1839A5D855EE641CADEE786086925A4257F8F27039E9184D9EE2500CC40CE3FE65D612AE4BF79D6E89CD7F938DB3136975382799DFFE657069C7B9319C7EE5F5042B0AB3C8E38A5B97D7C6E3B035E57C8841E7893E2F27F32E77500841EF8DF30EEDFE290FF442BD1B95A0B63E75F76CC7F12004F023C9EFE65E35F1703C274284C753C8F333AF06AFAA2A8744A7F6C9C977F9E42794663C677CE6EAFEAAB7862E1E99705F10BF0AFDB01BE006FC8840D1BCF22BCCAB617950EC5C262C38B953005333D1C109B2BAC3FCCB0CE7D1537983B8FA7F73FD481CE5BCABCC72B2C339403117A51D85E082BBA30C733E385C58BA759618B22ACEAC23E8BE961EB0ABBE597CE16AFDB01EE5D6E30BB67C22B342F30C28A2CA48AB033E55D2EDF116E10A32A3348E855A1A338483EC6BB8137A290D06BC2CE921BC394083B4976CF00F0569B7BB2F359831724A6875771A113F8AEF3B6B973A51756EBD71632DE0731AF7363B872E609218F85F4E3F385EF08FB2A7E9AE25DAB90924C0FEFABB80379ECB1719E38DE680784870EF63247CE14332F73C59DD3A2B0E3E44D21A7088FABCEBBD2B9AF12EE92F014C77FBF98FFBA186086318F77EE5D78E7C87B18E11190B7DAEC3D4E0B615F25ECB778FFD4D9016C9C672AA687DD735DC21EEB9F59E8CFBEBBFCB73F7FE517AFFF76C3B97DFFEF01FC0F63323C06CAF16A1D0000000049454E44AE426082)
END

END

--2) Them table MVATOut
if not exists (select top 1 1 from sysTable where TableName = 'MVATOut' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'MVATOut', N'Danh sách bảng kê thuế GTGT đầu ra', N'List of VAT Output', N'MVATOutID', NULL, NULL, 0, N'Stt', NULL, 0, NULL, 8, NULL, 2)

GO

declare @sysTableMVatID as int
select @sysTableMVatID = sysTableID from sysTable where TableName = 'MVATOut' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'MVATOutID' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'MVATOutID', 0, NULL, NULL, NULL, NULL, 6, N'Mã bảng kê', N'Mã bảng kê E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'KyBKBR' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'KyBKBR', 0, NULL, NULL, NULL, NULL, 5, N'Kỳ báo cáo', N'Post period', 1, NULL, NULL, 12, 1, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NamBKBR' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'NamBKBR', 0, NULL, NULL, NULL, NULL, 5, N'Năm', N'Year', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayBKBR' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'NgayBKBR', 0, NULL, NULL, NULL, NULL, 9, N'Ngày lập bảng kê', N'Post date', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalTTien' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalTTien', 1, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế', N'Revenue (not include tax)', 3, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_MVATOut_ToTalTTien', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalThue' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalThue', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế', N'Tax amount', 4, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_MVATOut_ToTalThue', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalTTienNT' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalTTienNT', 1, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế NT', N'Original revenue (not include tax)', 5, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_MVATOut_ToTalTTienNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ToTalThueNT' and sysTableID = @sysTableMVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMVatID, N'ToTalThueNT', 1, NULL, NULL, NULL, NULL, 8, N'Tiền thuế NT', N'Original tax amount', 6, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_MVATOut_ToTalThueNT', N'### ### ### ##0', 0, NULL)

GO

--3) Them table DVATOut

if not exists (select top 1 1 from sysTable where TableName = 'DVATOut' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DVATOut', N'Chi tiết danh sách bảng kê thuế GTGT đầu ra', N'Detail of list VAT Output', N'DVATOutID', NULL, N'MVATOut', 3, N'Stt', NULL, 0, NULL, 8, NULL, 1)

GO

declare @sysTableDVatID as int
select @sysTableDVatID = sysTableID from sysTable where TableName = 'DVATOut' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'DVATOutID' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'DVATOutID', 0, NULL, NULL, NULL, NULL, 6, N'Mã chi tiết', N'Mã chi tiết E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MVATOutID' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MVATOutID', 0, N'MVATOutID', N'MVATOut', NULL, NULL, 7, N'Mã bảng kê', N'Mã bảng kê E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, N'FK_DVATOut_MVATOut2', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaLoaiHD' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaLoaiHD', 0, N'MaLoaiHD', N'DMLHD', NULL, NULL, 1, N'Loại hóa đơn', N'Invoice type', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, N'FK_DVATOut_DMLHD4', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayHd' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'NgayHd', 0, NULL, NULL, NULL, NULL, 9, N'Ngày hóa đơn', N'Invoice date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayCt' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'NgayCt', 0, NULL, NULL, NULL, NULL, 9, N'Ngày HT VAT', N'Post date', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Sohoadon' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'Sohoadon', 0, NULL, NULL, NULL, NULL, 2, N'Số hóa đơn', N'Invoice number', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'SoSeries' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'SoSeries', 0, NULL, NULL, NULL, NULL, 2, N'Ký hiệu hóa đơn', N'Seri number', 6, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TenKH' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TenKH', 0, NULL, NULL, NULL, NULL, 2, N'Tên nhà cung cấp', N'Name of supplier', 7, NULL, N'MaKH.TenKH', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MST' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MST', 1, NULL, NULL, NULL, NULL, 2, N'Mã số thuế', N'Tax number', 8, NULL, N'MaKH.MST', NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'DienGiai' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'DienGiai', 1, NULL, NULL, NULL, NULL, 2, N'Tên mặt hàng', N'Material name', 9, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TTien' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TTien', 0, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế', N'Revenue (not include tax)', 10, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVATOut_TTien', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaThue' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaThue', 0, N'MaThue', N'DMThueSuat', NULL, NULL, 1, N'Mã thuế', N'Tax code', 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, N'FK_DVATOut_DMThueSuat13', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueSuat' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'ThueSuat', 0, NULL, NULL, NULL, NULL, 8, N'Thuế suất', N'Tax rate', 12, NULL, N'MaThue.ThueSuat', NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVATOut_ThueSuat', N'#0.##', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Thue' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'Thue', 0, NULL, NULL, NULL, NULL, 8, N'Tiền thuế', N'Tax amount', 13, NULL, N'@TTien*@ThueSuat/100', NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DVATOut_Thue', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'GhiChu' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'GhiChu', 1, NULL, NULL, NULL, NULL, 2, N'Ghi chú', N'Notes', 14, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'TTienNT' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'TTienNT', 0, NULL, NULL, NULL, NULL, 8, N'Doanh số chưa thuế NT', N'Original revenue (not include tax)', 15, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_DVATOut_TTienNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueNT' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'ThueNT', 0, NULL, NULL, NULL, NULL, 8, N'Tiền thuế NT', N'Original tax amount', 16, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 0, NULL, N'DF_DVATOut_ThueNT', N'### ### ### ##0', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MaKH' and sysTableID = @sysTableDVatID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDVatID, N'MaKH', 0, N'MaKH', N'DMKH', NULL, NULL, 1, N'Mã nhà cung cấp', N'Supplier code', 17, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 1, N'FK_DVATOut_DMKH', NULL, NULL, 0, NULL)

-- 4) Màn hình danh sách bảng kê chứng từ thuế GTGT mua vào
declare @sysSiteIDPRO int,
		@sysSiteIDSTD int,
		@sysReportBKBRID int,
		@sysTableMVatID int,
		@sysFieldKyID int
select @sysTableMVatID = sysTableID from sysTable where TableName = 'MVATOut' and sysPackageID = 8

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

Update sysReport set Query=N'IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''#VATOutTemp'') AND type in (N''U''))
BEGIN
create table #VATOutTemp
 (
	[Stt] int NULL,
	[NgayCt] smalldatetime NULL,
	[NgayHd] smalldatetime NULL,
	[SoSeries] nvarchar(128) NULL,
	[Sohoadon] nvarchar(128) NULL,
	[TenKH] nvarchar(128) NULL,
	[MST] nvarchar(128) NULL,
	[DienGiai] nvarchar(128) NULL,
	[TTien] decimal(20,6) NULL, 
	[ThueSuat] decimal(20,6) NULL,
	[Thue] decimal(20,6) NULL,
	[GhiChu] nvarchar(128) NULL,
	[MaThue] varchar(16) NULL,
	[KyBKBR] int NULL, 
	[NamBKBR] int NULL,
	[NgayBKBR] smalldatetime NULL
)
END

delete from #VATOutTemp

declare @ky as int,
		@ngayBKBR as smalldatetime

Select @ky = mst.KyBKBR, @ngayBKBR = mst.NgayBKBR
 from MVATOut mst inner join DVATOut dt on mst.MVATOutID = dt.MVATOutID
 where @@ps and mst.NamBKBR = @@NAM

-- Insert cac dong trong vao bang DVATOut de len bao cao
if not exists (select top 1 1 from DVATOut dt inner join MVATOut mst on mst.MVATOutID = dt.MVATOutID where @@ps and mst.NamBKBR = @@NAM and dt.MaThue = ''KT'')
INSERT INTO #VATOutTemp ([Stt], [NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR]) 
VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, ''KT'', @ky, @@NAM, @ngayBKBR)

if not exists (select top 1 1 from DVATOut dt inner join MVATOut mst on mst.MVATOutID = dt.MVATOutID where @@ps and mst.NamBKBR = @@NAM and dt.MaThue = ''00'')
INSERT INTO #VATOutTemp ([Stt], [NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR]) 
VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, ''00'', @ky, @@NAM, @ngayBKBR)

if not exists (select top 1 1 from DVATOut dt inner join MVATOut mst on mst.MVATOutID = dt.MVATOutID where @@ps and mst.NamBKBR = @@NAM and dt.MaThue = ''05'')
INSERT INTO #VATOutTemp ([Stt], [NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR]) 
VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, ''05'', @ky, @@NAM, @ngayBKBR)

if not exists (select top 1 1 from DVATOut dt inner join MVATOut mst on mst.MVATOutID = dt.MVATOutID where @@ps and mst.NamBKBR = @@NAM and dt.MaThue = ''10'')
INSERT INTO #VATOutTemp ([Stt], [NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR]) 
VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, ''10'', @ky, @@NAM, @ngayBKBR)

if not exists (select top 1 1 from DVATOut dt inner join MVATOut mst on mst.MVATOutID = dt.MVATOutID where @@ps and mst.NamBKBR = @@NAM and dt.MaThue = ''NHOM5'')
INSERT INTO #VATOutTemp ([Stt], [NgayCt],[NgayHd],[SoSeries],[Sohoadon],[TenKH],[MST],[DienGiai],[TTien],[ThueSuat],[Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR]) 
VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, ''NHOM5'', @ky, @@NAM, @ngayBKBR)


Select dt.SoSeries, dt.Sohoadon, dt.NgayHd, dt.Tenkh,  dt.mst, dt.diengiai  as [Tên mặt hàng],  Sum(Ttien) as TTien, dt.ThueSuat/100 as ThueSuat,
Sum(dt.Thue) as Thue, dt.GhiChu as GhiChu, dt.MaThue, mst.KyBKBR, mst.NamBKBR, mst.NgayBKBR, ts.Stt 
from MVATOut mst inner join DVATOut dt on mst.MVATOutID = dt.MVATOutID inner join DMThueSuat ts on dt.MaThue = ts.MaThue
 where @@ps and mst.NamBKBR = @@NAM
group by dt.Sohoadon, dt.Soseries, dt.NgayHd, dt.tenkh, dt.ghichu, dt.diengiai, dt.mst, dt.thuesuat, dt.MaThue, mst.KyBKBR, mst.NamBKBR, mst.NgayBKBR, ts.Stt
union
Select [SoSeries], [Sohoadon], [NgayHd], [TenKH], [MST], [DienGiai],[TTien],[ThueSuat], [Thue],[GhiChu],[MaThue],[KyBKBR],[NamBKBR], [NgayBKBR], [Stt]
from #VATOutTemp
order by ts.Stt, Ngayhd, Sohoadon
 
drop table #VATOutTemp',
ReportFile=N'GTGTTHBRATT28',
mtTableID = @sysTableMVatID
where ReportName = N'Bảng kê thuế GTGT bán ra'

select @sysReportBKBRID = sysReportID from sysReport where ReportName = N'Bảng kê thuế GTGT bán ra'
select @sysFieldKyID = sysFieldID from sysField where sysTableID = @sysTableMVatID and FieldName = 'KyBKBR'

if not exists (select top 1 1 from [sysReportFilter] where [sysFieldID] = @sysFieldKyID and [sysReportID] = @sysReportBKBRID)
BEGIN

if @sysReportBKBRID is not null
BEGIN

delete from sysReportFilter
where sysReportID = @sysReportBKBRID

INSERT [dbo].[sysReportFilter] ([sysFieldID], [AllowNull], [DefaultValue], [sysReportID], [IsBetween], [TabIndex], [Visible], [IsMaster], [SpecialCond], [FilterCond]) 
VALUES (@sysFieldKyID, 0, NULL, @sysReportBKBRID, 0, 0, 1, 1, 0, NULL)

END

END

-- Dictionary
if not exists (select top 1 1 from Dictionary where Content = N'Tạo bảng kê thuế GTGT bán ra')
insert into Dictionary(Content, Content2) Values (N'Tạo bảng kê thuế GTGT bán ra',N'Edit list of VAT output')
