
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF2002ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF2005Grid",
                              NameEventPost = "DRF2001.drf2002GridSendData",
                              keyColumnID = DRP2005.COL_PAIDID,
                              Scrollable = true,
                              ActionName = "GetGridPayment",
                              ControllerName = "DRF2000",
                              HtmlAttribute = new {style="margin-top:30px", @class = "asf-grid"},
                              IsShowCheck = false,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2005.COL_PAIDID,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.PaymentID),
                                        //                       Width = 100,
                                        //                       VisibleColumn = true,
                                        //                       ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                        //                                Url.Content(string.Format("~/DRM/DRF2030/DRF2032/?apk=#:{0}#", DRP2005.COL_APK)),
                                        //                                DRP2005.COL_PAIDID),
                                        //                   },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2005.COL_DEBTORNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorName),
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2005.COL_PAIDDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.PaymentDate),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                   
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2005.COL_PAIDAMOUNT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.PaidAmountGrid),
                                                               Width = 150,
                                                               IsSum = true,
                                                               VisibleColumn = true,
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2005.COL_UNPAIDAMOUNT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.UnPaidElsePayment),
                                                               Width = 150,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2005.COL_PAIDNOTE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.PaymentNote),
                                                               Width = 150,
                                                               VisibleColumn = true,       
                                                           },
                                
                              }
                          };
}

@{
    var paymentCol = new ASOFTGridColumnSetting();
    if(ASOFTEnvironment.ResumePermissionView)
    {
        paymentCol = new ASOFTGridColumnSetting()
        {
            IDColumn = DRP2005.COL_PAIDID,
            TitleColumn = Html.ASOFTRaw(model => model.PaymentID),
            Width = 100,
            VisibleColumn = true,
            ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>",
                    Url.Content(string.Format("~/DRM/DRF2030/DRF2032/?apk=#:{0}#", DRP2005.COL_APK)),
                    DRP2005.COL_PAIDID),
        };   
    }
    else
    {
        paymentCol = new ASOFTGridColumnSetting()
        {
            IDColumn = DRP2005.COL_PAIDID,
            TitleColumn = Html.ASOFTRaw(model => model.PaymentID),
            Width = 100,
            VisibleColumn = true,
        };   
    }
    gridsetting.ListGridColumn.Insert(1, paymentCol);
}


@(Html.ASOFTCreateGridNotPagging<ASOFT.ERP.DRM.Entities.DRP2005>(gridsetting))