@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF2001ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF2001EmployeeGrid",
                              NameEventPost = "DRF2001.drf2002GridSendData",
                              Scrollable = true,
                              ActionName = "GetGridEmployee",
                              ControllerName = "DRF2000",
                              HtmlAttribute = new { @class = "asf-grid" },
                              IsShowCheck = false,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                               ClientTemplate="#= DRF2001.renderNumberEmp() #"
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT2004.COL_EMPLOYEEID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.EmployeeID),
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               //Shared/EditorTemplate/ComboBoxEmployeeIDNTM.cshtml
                                                               EditorTemplateName = "ComboBoxEmployeeIDNTM"
                                                           },   
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT2004.COL_CONTRACTNO,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractNo),
                                                               Width = 200,
                                                               VisibleColumn = false
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT2004.COL_EMPLOYEEPERCENT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.EmployeePercent),
                                                               Width = 400,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               EditorTemplateName = "DRMSpinEdit"
                                                           }
                              }
                          };
}


@{
    if (ASOFTEnvironment.Action.Equals("DRF2001"))
    {
        gridsetting.ListGridColumn.Add(
             new ASOFTGridColumnSetting {
                IDColumn = DRT2004.COL_APK,
                Width = 50,
                VisibleColumn = true,
                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                        "DRF2001.deleteEmployee(this)"),
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
        });
        
        @(Html.ASOFTCreateGridEdit<DRT2004>(gridsetting,false))
    }
    else
    {
        @(Html.ASOFTCreateGridNotPagging<DRT2004>(gridsetting))
    }
}
