@media (min-width: 481px) and (max-width: 768px) {
       .asf-common-search {
        display: inherit;
    }

    .asf-shopname {
        display: none;
    }

     #Menu_Mobile {
        display: inline;
    }

    #contentMaster {
        padding: 0 10px 0;
    }

    .asf-panel-filter:first-child {
        padding-top: 35px;
    }

    #FilterArea {
        display: none;
    }

    .asf-grid {
        width: 100% !important;
        font-size: 11px
    }

    body, .asf-header {
        min-width: 100%;
    }

    .float_right {
        display: none;
    }

    #TopMenu_div {
        display: none;
    }

    #BlockMenu {
        display: none !important;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }

    .asf-breakcumb {
        font-size: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #HeaderLabel {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header-icon-logo {
        margin-right:5px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-common-search a.asf-button-common-custom-search {
        display: none !important;
    }

    .asf-headerpage-title {
        height: 65px;
    }

    .asf-common-search span.k-textbox.k-textbox > input {
        width: 100% !important;
        border-left: 1px solid #dddddd;
    }

    .asf-button-filter-container {
        margin: 0;
    }

    #Menu_Mobile {
        margin-top: 90px;
    }

    .asf-common-search span.k-textbox {
       width: 120%;
    }

    .asf-common-search {
        width: 70%;
    }

    /*.menuParent {
        width: 38px !important;
    }*/

    .k-menu .k-animation-container, .k-popup .k-animation-container {
        width: 160px !important;
    }

    .k-menu .k-group .k-item {
         width: 160px !important;
    }
}



@media (min-width: 769px) and (max-width: 1024px) {
       .asf-common-search {
        display: inherit;
    }


    .asf-shopname {
        display: none;
    }

     #Menu_Mobile {
        display: inline;
    }

    #contentMaster {
        padding: 0 10px 0;
    }

    .asf-panel-filter:first-child {
        padding-top: 35px;
    }

    #FilterArea {
        display: none;
    }

    .asf-grid {
        width: 100% !important;
    }

    body, .asf-header {
        min-width: 100%;
    }

    .float_right {
        display: none;
    }

    #TopMenu_div {
        display: none;
    }

    #BlockMenu {
        display: none !important;
    }

     #btnSell{
        display: none !important;
    }

     #btnReport{
        display: none !important;
    }

    .asf-breakcumb {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #HeaderLabel {
        margin-top: 0px;
        margin-bottom: 3px;
    }


    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-common-search a.asf-button-common-custom-search {
        display: none !important;
    }

    .asf-headerpage-title {
        height: 65px;
    }

    .asf-common-search span.k-textbox.k-textbox > input {
        width: 100% !important;
        border-left: 1px solid #dddddd;
    }

    .asf-button-filter-container {
        margin: 0;
    }

    #Menu_Mobile {
        margin-top: 95px;
    }

    .asf-common-search span.k-textbox {
       width: 110%;
    }

    .asf-common-search {
        width: 80%;
    }

    /*.menuParent {
        width: 38px !important;
    }*/
}

