@media (max-width: 580px) {
    .Login .mainTable {
        width: 300px;
    }

    .Login .asf-login-module {
        display: none;
    }

    .Login .asf-login-header-RWD {
        width: 300px;
        height: 75px;
        background: #FFF;
        border-bottom: 2px solid #006EB4;
        background-image: url('/Content/Images/login-logo-RWD.png');
        background-repeat: no-repeat;
        display: block;
        margin-right: 10px;
    }

        .Login .asf-login-header-RWD img {
            float: right;
        }

    .Login .asf-login-header {
        display: none;
    }

    .asf-login-logo-footer {
        display: none;
    }

    .Login .asf-login-footer {
        height: 95px
    }

    .info {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 767px)  {
    .Login .mainTable {
        width: 550px;
    }

    .Login .asf-login-header {
        background: url('/Content/Images/login_header_RWD_600.png');

    }

    .Login .asf-login-header {
        width: 550px;
    }

    .Login .asf-login-footer {
        height: 95px
    }

    .asf-login-logo-footer {
        float: right;
    }
}