@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/10/2014      Trí Thiện       Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.A00.Entities.Database

@model DRF0150ViewModel
@{
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "DRF0150_GridDebtBussiness",
        keyColumnID = "APK",
        NameEventPost = "",
        Scrollable = true,
        //NameEventDataBind = "ASOFT.asoftGrid.dataBindGridPanging",
        ActionName = "GetDataReportDebtBussiness",
        ControllerName = "DRF0150",
        IsAutoHeight = false,
        IsShowCheck = false,
        HtmlAttribute = new { style = "margin-top:33px; height:400px", @class = "asf-grid" },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = DRT8888.COL_REPORTID,
                TitleColumn = Html.DisplayNameFor(model => model.ReportID).ToHtmlString(),
                VisibleColumn = true,
                Width = 100,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            //new ASOFTGridColumnSetting
            //{
            //    IDColumn = DRT8888.COL_REPORTNAME,
            //    TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
            //    VisibleColumn = true,
            //    ClientTemplate=string.Format("<a onClick='DRF0150.item_Click(this)' class='asf-grid-link'>#:{0}#</a>",
            //         ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME)
            //},
            new ASOFTGridColumnSetting
            {
                IDColumn = DRT8888.COL_DESCRIPTION,
                TitleColumn = Html.DisplayNameFor(model => model.Description).ToHtmlString(),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = DRT8888.COL_GROUPID,
                TitleColumn = "",
                VisibleColumn = false,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = DRT8888.COL_TYPE,
                TitleColumn = "",
                VisibleColumn = false,
            },
         }
    };
}

@{
    var contractCol = new ASOFTGridColumnSetting();
    if (ASOFTEnvironment.CheckPermission("DRF0140", ASOFTPermission.Print)
        || ASOFTEnvironment.CheckPermission("DRF0140", ASOFTPermission.IsExportExcel))
    {
        contractCol = new ASOFTGridColumnSetting()
        {
            IDColumn = DRT8888.COL_REPORTNAME,
            TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
            VisibleColumn = true,
            ClientTemplate = string.Format("<a onClick='DRF0150.item_Click(this)' class='asf-grid-link'>#:{0}#</a>",
                    ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME)
        };
    }
    else
    {
        contractCol = new ASOFTGridColumnSetting()
        {
            IDColumn = DRT8888.COL_REPORTNAME,
            TitleColumn = Html.DisplayNameFor(model => model.ReportName).ToHtmlString(),
            VisibleColumn = true,
            //ClientTemplate = string.Format("<a onClick='DRF0150.item_Click(this)' class='asf-grid-link'>#:{0}#</a>",
            //        ASOFT.ERP.A00.Entities.Database.MTT8888.COL_REPORTNAME)
        };
    }
    gridsetting.ListGridColumn.Insert(2, contractCol);
}


@(Html.ASOFTCreateGridNotPagging<DRT8888>(gridsetting))