@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.HRM.Entities.HRMT1030

@{
    string id = ViewBag.ScreenID;
    string Area = ViewBag.Area;
}
<tr>
    <td style="vertical-align: top !important; border: none;">@LocalizedHelper.GetLocalizedResourceString(id + "ImageID" , id, Area)</td>
    <td class="dot"></td>
    <td style="vertical-align: top !important; border: none;" align="left">
        @Html.ASOFTLogo("Partial", "Avatar", new { Column = "ImageID" + id, ScreenID = id }, width:150, height:150)
    </td>
</tr>

