@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     17/5/2016      Quang Hoàng            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.S 
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.CI.Entities.CIF1172
@using ASOFT.ERP.ViewModel.Helper;
@{
    ASOFT.ERP.ViewModel.ASOFTToolBarViewModel toolbar = ViewBag.Toolbar;
    if (toolbar != null)
    {
        toolbar.EventEdit = "EditCIF1173_Click";
    }
}                    
<div class="asfbtn asfbtn-right-1">    
    <ul class="asf-toolbar">                          
        <li>@(Html.ASOFTEditButton(toolbar.EventEdit, new {title = ASOFTLanguage.FindWordA00("A00.btnEdit")})
        .Name(toolbar.ScreenIDEdit + "AT1312")
        .Enable(ASOFTEnvironment.CheckPermission(screenID: toolbar.ScreenIDEdit ?? toolbar.BelongToScreenID, 
                                permission: ASOFTPermission.Update))
        )
        </li>
    </ul>
</div>

<div class="asfgrid-right">
@{
    var gridsetting = new ASOFTGridSetting 
    {
        NameGrid = "GridPartialAT1312",
        Scrollable = true,
        ControllerName = "Partial",
        ActionName = "GridDataCIF1172",
        NameEventPost = "sendData",
        IsShowCheck = false, 
        IsAutoHeight = false,
        HtmlAttribute = new { style = "height:250px;", @class = "asf-grid"} ,  
        ListGridColumn= new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
                IDColumn = "AccountID",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.AccountID","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
               
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "AccountName",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.AccountName","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
                          
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "GroupName",
                TitleColumn = LocalizedHelper.GetLocalizedResourceString("CIF1172.GroupName","CIF1172", "CI"),
                Width = 50,
                VisibleColumn = true,
                          
            }         
        }   
      };            
   }
</div>
@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIF1172>(gridsetting,false)) 

 
       
        
        
        
        
    
    
    
    
    
   
    
    


