@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.Helper;

<div class="asf-form-container container_12 pagging_bottom" style="padding-bottom: 0px !important;">
    <div class="grid_6_1 alpha float_left">
        <table id="RecruitInfo01LeftTable" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="grid_6 omega float_right line_left_with_grid">
        <table id="RecruitInfo01RightTable" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="asf-form-container container_12 pagging_bottom" style="padding-bottom: 0px !important;">
    <div>
        <table id="RecruitInfo02Table" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="asf-form-container container_12 pagging_bottom" style="padding-bottom: 0px !important;">
    <div class="grid_6_1 alpha float_left">
        <table id="RecruitInfo03LeftTable" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="grid_6 omega float_right line_left_with_grid">
        <table id="RecruitInfo03RightTable" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="asf-form-container container_12 pagging_bottom ">
    <div>
        <table id="RecruitInfo04Table" class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</div>