@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.Helper;

<div class="asf-form-container container_12 pagging_bottom" id="parentDISC" name="parentDISC" style="padding-bottom: 0px !important;">

</div>