@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id='contentMaster'>
        @Html.ASOFTHeader(new HeaderModel() { Title = "DashBoard",Breakcrumb=false,QuickSearch=false })
     <div style="width:100%; height: 100%">
         @{
            var src = string.Empty;
            if(ASOFTEnvironment.CustomerIndex == 35)
            {
                src = "/Content/Images/EduDrashBoard.png";
            }
            else if (ASOFTEnvironment.CustomerIndex == 34)
            {
                src = "/Content/Images/DRMDrashBoard.png";
            }
            else
            {
                src = "/Content/Images/dasboard.png";
            }
         }
        <img class="dashboard" src=@src />
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/RD/Scripts/dashboard.js")"></script>
}