@media (max-width: 400px) {
    .asf-common-search {
        display: inherit;
    }

       .asf-headerpage-title {
        height: 65px;
    }

      .asf-box-button-search {
        display: none;
    }

      .asf-shopname {
        display: none;
    }

        body, .asf-header {
        min-width: 100%;
    }

 #TopMenu_div {
        display: none;
    }

    .asf-menu-sub {
        padding-top: 41px;
    }

    .asf-menu-sub div {
        display: none !important;
    }

    #HeaderLabel {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header-icon-logo {
        zoom: 40%;
        margin-right: 5px;
    }

    .asf-header {
        padding-left: 10px;
    }

        .asf-header .right {
            padding: 0 20px 0 0;
            width: 71%;
        }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header .icon-text {
        font-size: 10px;
        width: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    .setting {
        width: 24px;
    }

    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    /*.asf-header-icon-help {
        zoom: 65%;
    }*/


    #Menu_Mobile {
        top: 43px;
        display: inline;
    }

    .asf-header .asf-header-span-period {
        font-size: 11px;
    }

    .k-menu .k-animation-container, .k-popup .k-animation-container {
        width: 100px !important;
    }

    .k-menu .k-group .k-item {
         width: 100px !important;
    }

    .block-left, .block-right {
        width: 100%;
    }

     .asf-grid {
        font-size: 10px
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    .asf-common-search {
        display: inherit;
    }

       .asf-headerpage-title {
        height: 65px;
    }

      .asf-box-button-search {
        display: none;
    }

      .asf-shopname {
        display: none;
    }

    body, .asf-header {
        min-width: 100%;
    }

    #TopMenu_div {
        display: none;
    }

    .asf-menu-sub {
        padding-top: 41px;
    }

      .asf-menu-sub div {
        display: none !important;
    }


    #HeaderLabel {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header-icon-logo {
        zoom: 80%;
        margin-right: 5px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header .icon-text {
        font-size: 11px;
        width: 70px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    #Menu_Mobile {
       top: 43px;
       display: inline;
    }

    .asf-header .asf-header-span-period {
        font-size: 11px;
    }

    .k-menu .k-animation-container, .k-popup .k-animation-container {
        width: 120px !important;
    }

    .k-menu .k-group .k-item {
         width: 120px !important;
    }

    .block-left, .block-right {
        width: 100%;
    }

     .asf-grid {
        font-size: 11px
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .asf-common-search {
        display: inherit;
    }

      .asf-headerpage-title {
        height: 65px;
    }

      .asf-box-button-search {
        display: none;
    }

      .asf-shopname {
        display: none;
    }

         body, .asf-header {
        min-width: 100%;
    }

    #TopMenu_div {
        display: none;
    }

    .asf-menu-sub {
        padding-top: 41px;
    }

      .asf-menu-sub div {
        display: none !important;
    }


    #HeaderLabel {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    .asf-header .period-info {
        padding: 0 7px 0px 0px;
    }

    #Menu_Mobile {
        top: 43px;
        display: inline;
    }

    .block-left, .block-right {
        width: 100%;
    }
}

@media (min-width: 770px) and (max-width: 1024px) {
    .asf-common-search {
        display: inherit;
    }

      .asf-headerpage-title {
        height: 65px;
    }

      .asf-box-button-search {
        display: none;
    }

      .asf-shopname {
        display: none;
    }


             body, .asf-header {
        min-width: 100%;
    }

    #TopMenu_div {
        display: none;
    }

    .asf-menu-sub {
        padding-top: 41px;
    }

      .asf-menu-sub div {
        display: none !important;
    }
    

    #HeaderLabel {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 3px;
    }

    .asf-header {
        padding-left: 10px;
    }

    .asf-header-user {
        padding: 0px;
    }

    .asf-header-system-text {
        display: none;
    }

    .asf-header-icon-user img {
        margin-left: 0px;
    }

    #Menu_Mobile {
       top: 43px;
        display: inline;
    }

}