@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input id="mot" />
<input id="hai" />

<button onclick="clickbutton()">click</button>
<script>
    function clickbutton()
    {
        var data = {mot : $("#mot").val(),hai : $("#hai").val()};
        ASOFT.helper.postTypeJson("/InsertTransaction/insert", data, onInsertSuccess);
    }
    function onInsertSuccess(result) {
        alert(result);
    }
</script>
