.wrapper{
	position: relative;
}
.wrapper>.aside{
	position: absolute;
    width: 350px;
    top: 0px;
    left: 0;
    bottom: 0;
    z-index: 116;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

.aside-inner{
	width: 100%;
	float: right;
	padding: 0 10px;
}

.aside-inner .brand{text-align: center; border-bottom: 1px solid #dedede; padding-bottom: 25px; padding-top: 20px;}

.aside-inner .brand img{
	max-width: 100%
}

.wrapper>section{
	position: relative;
    height: 100%;
    margin-left: 0;
    z-index: 111;
    background-color: #f5f7fa;
    margin-bottom: 60px!important;
    -webkit-transition: margin-left .2s cubic-bezier(.35,0,.25,1);
    transition: margin-left .2s cubic-bezier(.35,0,.25,1);
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

.content-wrapper {
    padding: 15px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.15);
}

.content-body{margin: 0 -20px}

#map{position: absolute; top: 0; z-index: 1; width: 100%; overflow: hidden;}
#uhistories{left: -1000px}
#uhistories ul{overflow: auto;}
.aside-inner ul{margin: 0; padding: 0}
#uhistories ul li{
	background-color: #f1f1f1;
	list-style: none;
	padding: 10px 10px 10px 5px;
	margin-bottom: 25px;
	cursor: pointer;
}
#uhistories ul li i.fa{
 	margin-right: 18px;
 	display: inline-block;
    width: 18px;
    color: #006EB4;
    text-align: center;
    font-size: 18px;
    height: 30px;
    float: left;
}

#uhistories ul li.selected, #uhistories ul li:hover{
	background-color: rgba(0, 121, 197, 0.25);
}

#uhistories ul li p{
	line-height: 22px;
	color: #555555;
	overflow: hidden;
    margin: 0 0 5px;
    max-height: 46px;
}

.controls{
	display: none;
}

#uhistories .controls{
	display: block;
}

.sidebar{
	position: relative;
}

.sidebar #uhistories .header, #users .header{
	padding: 10px 10px 10px 30px; background-color: #006EB4; color: #fff; font-size: 14px; text-transform: uppercase; margin-bottom: 25px; margin-top: 25px
}

.subheader{
	padding: 10px 15px;
	border-bottom: 1px solid #dedede;
	color: #ff9933;
	font-size: 16px;
}

.sidebar .header button.btn-x, .sidebar .header button.btn-x:focus{
	background: none;
    border: 1px solid #fff;
    outline: none;
}

#users, #uhistories{
	position: absolute;
	width: 100%;
}

#users ul li a{
	color: #666666;
	font-size: 14px;
	text-transform: uppercase;
}

#users ul li:hover{
	background-color: #666666;
}
#users ul li:hover a{
	color: #fff;
	background-color: transparent;
}

#users ul li{
	border-bottom: 1px solid #dedede;
}

.content-heading{
	position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    background: #fff;
    padding: 10px 30px;
    top: 104px
}
#ui-datepicker-div{
	z-index: 999!important;
}

.controls .form-control, .asf-date-edit{
	color: #000;
	background-color: #efefef!important;
	background-image: none!important;
	/* border: 1px solid #fff; */
	outline: none;
	border-radius: 7px;
	width: 100%;
	padding: 0;
	border: 1px solid #ccc;

}

.controls #username.form-control, .controls #userid.form-control{
	padding: 0 5px;
}

.form-control:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none
}

.controls button{
	color: #006EB4;
	background-color: #fff;
	border: 1px solid #006EB4;
	outline: none;
	border-radius: 7px;
	outline:none;
}

.controls{
	padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
}
#map .description{
	padding-top: 8px;
}
#map .description label{
	font-size: 15px;
	text-transform: uppercase;
	color: #757575;
	padding-left: 32px;
	font-weight: normal;
	margin-bottom: 8px;
}

#map .description p{
	font-size: 16px;
	color: #555555;
}
#map .description p i{
	color: #006EB4;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	width: 20px;
    margin-right: 12px;
}

#maploading{
	background: url("images/loading.gif") center center no-repeat;
	position: absolute;
	z-index: 9999;
	margin-top: -20px;
	width: 100%;
	display: none;
	pointer-events: none;
}

.wrapper.minibar>.aside{left: -350px}
.wrapper.minibar>section{margin-left: 0px}
#btnminibar{    
	position: absolute;
    right: -5px;
    top: 2px;
    font-size: 20px; 
    cursor: pointer;
	background: #fff;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    z-index: 999;
    color: #666666;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.wrapper.minibar #btnminibar{
	right: -40px;
    top: 45px;
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  	-moz-transform: rotate(180deg);        /* FF */
  	-o-transform: rotate(180deg);          /* Opera */
  	-ms-transform: rotate(180deg);         /* IE9 */
  	transform: rotate(180deg);             /* W3C compliant browsers */

  	/* IE8 and below */
  	filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}


.k-textbox>input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input{
	padding: 0.277em 0!important;
}
.k-picker-wrap .k-icon {
    background: url("/Content/Images/icon-calendar-24x24.png") no-repeat scroll 55% 50% rgba(0, 0, 0, 0) !important;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    border: none !important;
}

.asf-menu-sub-child-left ul{
	margin-bottom: 0px;
}

.asf-menu-sub li:hover, .asf-menu-sub-child-left ul li:hover{
	background-color: #006EB4;
}

.asf-menu-sub li:hover > a, .asf-menu-sub-child-left ul li:hover > a{
	color: #fff;	
}

.k-calendar-container.k-popup.k-group{
	font-family: Tahoma, Geneva, sans-serif!important;
    font-size: 12px!important;
    border-color: #000;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.k-today .k-link {
    color: #ffffff !important;
    font-weight: bolder;
}

.k-calendar-container.k-popup .k-nav-fast, .k-calendar-container.k-popup .k-header, .k-calendar-container.k-popup .k-state-hover, .k-calendar-container.k-popup .k-state-selected {
    color: #ffffff !important;
    background: #006eb4!important;
    font-weight: bolder;
}

.k-calendar td.k-state-hover {
    border: 1px solid #006eb4;
}

td.k-state-focused, .k-list>td.k-state-focused, .k-listview>td.k-state-focused, .k-grid-header th.k-state-focused, td.k-state-focused, .k-button:focus:not(.k-state-disabled):not([disabled]), .k-button.tdk-state-focused{
    -webkit-box-shadow: inset 0 0 7px rgba(0,92,131,0.5),inset 0 0 7px 1px #105776!important;
    box-shadow: inset 0 0 7px rgba(0,92,131,0.5),inset 0 0 7px 1px #105776!important;
}

.asf-header .asf-header-span-period, .asf-header, .asf-menu, .asf-menu-sub, div.k-window-titleless{
	font-size: 12px;
}

.asf-header .period-info{
	max-width: 115px;
}



@media only screen and (min-width: 768px) {
	.wrapper>section {
	    margin-left: 350px;
	}

	.content-wrapper {
	    padding: 20px;
	}
<<<<<<< .mine
}

.asf-menu-sub-child-left ul li a{
	padding: 5px 15px 10px;
=======
}

.span {
    display: block;
    pointer-events: none; 
>>>>>>> .r13315
}