
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF2060ViewModel
@{
    var hrefContractTM = Url.Content("~/DRM/DRF2000/DRF2002/?apk=#:APK#");
    var hrefContractTD = Url.Content("~/DRM/DRF2010/DRF2012/?apk=#:APK#");
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF2060Grid",
                              NameEventPost = "DRF2060.sendDataFilter",
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "DRF2060",
                              HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"},
                              IsShowCheck = true,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_TEAMLEADERDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamLeaderDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_MANAGERDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ManagerDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_SENDDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.SendDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_TEAMLEADERCONFIRM,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.TeamLeaderConfirm),
                                        //                       Width = 50,//100,
                                        //                       VisibleColumn = true,
                                        //                       ClientTemplate = string.Format("<input type='checkbox' #= {0} == 1 ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                        //                                    DRP2060.COL_TEAMLEADERCONFIRM),
                                        //                       HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                        //                   },
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_MANAGERCONFIRM,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.ManagerConfirm),
                                        //                       Width = 50,//100,
                                        //                       VisibleColumn = true,
                                        //                       ClientTemplate = string.Format("<input type='checkbox' #= {0} == 1 ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                        //                                    DRP2060.COL_MANAGERCONFIRM),
                                        //                       HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                        //                   },
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_INFOROOMCONFIRM,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.InfoRoomConfirm),
                                        //                       Width = 50,//100,
                                        //                       VisibleColumn = true,
                                        //                       ClientTemplate = string.Format("<input type='checkbox' #= {0} == 1 ? 'checked' : '' # onclick='return false;' disabled=disabled />",
                                        //                                    DRP2060.COL_INFOROOMCONFIRM),
                                        //                       HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                        //                   },
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_BRANCHID,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.BranchID),
                                        //                       Width = 100,
                                        //                       VisibleColumn = true,
                                        //                   },    
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_APK,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.SendID),
                                        //                       Width = 150,
                                        //                       VisibleColumn = true,
                                        //                       ClientTemplate = string.Format("<a href='\\#' onclick='DRF2060.openDRF2061(\"{0}\", \"{1}\")'>#:{2}#</a>", 
                                        //                                string.Format("#:{0}#", DRP2060.COL_APK),
                                        //                                string.Format("#:{0}#", DRP2060.COL_DISPATHTYPEID),
                                        //                                DRP2060.COL_SUGGESTID),
                                        //                   },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_DISPATCHTYPENAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DispatchTypeID),
                                                               Width = 70,//200,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_SUGGESTPERSONNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.SuggestPersonName),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_SUGGESTDATE,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.SuggestDate),
                                                               Width = 80,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_STATUSNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractStatusID),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_CONTRACTNO,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ContractNo),
                                                               Width = 70,//180,
                                                               VisibleColumn = true,
                                                                ClientTemplate = "<a href=# if(DebtGroupID == 'NTM'){ #" + hrefContractTM + " #}else{# " + hrefContractTD + " #}#>#:ContractNo#</a>",
                                                               //ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", 
                                                               //         string.Format("# if({0} == 'NTM'){ # '~/DRM/DRF2000/DRF2002/?apk=#:APK#' #}else{# '~/DRM/DRF2010/DRF2012/?apk=#:APK#' #}#", 
                                                               //             DRP2060.COL_DEBTGROUPID, 
                                                               //             hrefContractTM, 
                                                               //             hrefContractTD),
                                                               //         DRP2060.COL_CONTRACTNO),
                                                           },
                                         new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_CUSTOMERNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CustomerName),
                                                               Width = 100,//200,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_DEBTORID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorID),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,       
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_DEBTORNAME,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.DebtorName),
                                                               Width = 100,//200,
                                                               VisibleColumn = true,
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP2060.COL_TEAMID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamID),
                                                               Width = 50,//100,
                                                               VisibleColumn = true,
                                                           },    
                                        
                                        //new ASOFTGridColumnSetting
                                        //                   {
                                        //                       IDColumn = DRP2060.COL_SENDDATE,
                                        //                       TitleColumn = Html.ASOFTRaw(model=>model.SendDate),
                                        //                       Width = 50,//100,
                                        //                       VisibleColumn = true,
                                        //                   },    
                                
                              }
                          };
}

@{
    var col = new ASOFTGridColumnSetting();
    if(ASOFTEnvironment.CheckPermission("DRF2061", ASOFTPermission.AddNew))
    {
        col = new ASOFTGridColumnSetting()
        {
            IDColumn = DRP2060.COL_APK,
            TitleColumn = Html.ASOFTRaw(model => model.SendID),
            Width = 80,//200,
            VisibleColumn = true,
            ClientTemplate = string.Format("<a href='\\#' onclick='DRF2060.openDRF2061(\"{0}\", \"{1}\")'>#:{2}#</a>",
                    string.Format("#:{0}#", DRP2060.COL_APK),
                    string.Format("#:{0}#", DRP2060.COL_DISPATHTYPEID),
                    DRP2060.COL_SUGGESTID),
        };  
    }
    else
    {
        col = new ASOFTGridColumnSetting()
        {
            IDColumn = DRP2060.COL_APK,
            TitleColumn = Html.ASOFTRaw(model => model.SendID),
            Width = 80,//100,
            VisibleColumn = true,
            ClientTemplate = string.Format("<span>#:{0}#</span>", DRP2060.COL_SUGGESTID),
        };  
    }
    gridsetting.ListGridColumn.Insert(1, col);
}


@(Html.ASOFTCreateGrid<ASOFT.ERP.DRM.Entities.DRP2060>(gridsetting,false))