@using ASOFT.ERP.ViewModel.Helper

<div style="width:200px; border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" id ="Print">
    <ul>
                <li style="cursor:pointer" id="Print-1" class="asf-menu-active" onclick="print1_Click()">
            <a >@LocalizedHelper.GetLocalizedResourceString("CIF1230.Print1", "CIF1230", "CI")</a>
        </li>  
        <li style="cursor:pointer" id="Print-2" class="asf-menu-active" onclick="print2_Click()">
            <a ">@LocalizedHelper.GetLocalizedResourceString("CIF1230.Print2", "CIF1230", "CI")</a>
        </li>  
    </ul>
</div>
