@media (min-width: 481px) and (max-width: 660px) {
     .k-window  {
        width: 480px !important;
         overflow:hidden;
    }

     .container_12 .grid_6_1 {
        width: 100%;
    }

/*---------------------------------------------------*/
    .asf-table-view td:first-child {
        width: 99%;        
        padding-top: 10px;
    }

    .asf-table-view td {
        float:left;
        width: 99%;
    }

    .asf-combobox .k-dropdown-wrap {
        border: 1px solid rgb(170, 170, 170);
        background: none !important;
    }

    .asf-spin-edit span {
        border: 1px solid rgb(170, 170, 170) !important;
        border-bottom: none !important;
         width: 97% !important;
    }

    .asf-date-edit {
       border: 1px solid #aaa;
        width: 97% !important;
    }

    .asf-date-edit span {
        border-bottom: none !important;
    }

    .asf-textbox, .asf-textbox:focus, .asf-textbox:hover {
        border: 1px solid rgb(170, 170, 170);
    }
    .addObject {
         border: 1px solid #AAAAAA;
         width: 96% !important;
    }

    .asf-textbox  {
        width: 97% !important;
    }

    .asf-combobox {
        width: 97.5% !important;
    }

/*---------------------------------------------------------------------*/

    /*.asf-windown.k-window-content.k-content {
       width: auto !important;
    }*/

    .container_12 .grid_8, .grid_6, .grid_4 {
        width: 100% !important;
    }

    .container_12 .grid_2 {
        width: 100% !important;
    }

   .grid_1, .grid_2, .grid_3, .grid_4, .grid_4_1, .grid_5, .grid_6, .grid_6_1, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        position: inherit;
    }
}

@media (min-width: 661px) and (max-width: 800px) {
     .k-window  {
        width: 660px !important
    }

    /*.asf-windown.k-window-content.k-content {
       width: auto !important;
    }*/
}


@media (min-width: 801px) and (max-width: 1024px) {
     .k-window  {
        width: 801px !important
    }
}