
#AccountName{
    width: 75% !important;
    background-color: #d0c9c9;
    cursor: not-allowed !important;
}
#AssignedToUserName{
    width: 75% !important;
    background-color: #d0c9c9;
    cursor: not-allowed !important;
}

#Attach{
    width: 0% !important;
}

.disabledButton{
    opacity: 0.5 !important;
    cursor: unset !important;
}

.disabledButton:hover{
    background-color: white !important;
}