
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.MT.Entities.Database;
@using ASOFT.ERP.ViewModel.MT;
@model MTF1040ViewModel
@{
    ViewBag.Title = "Index";
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "MTF1040GridMaster",
        keyColumnID = "ClassID",
        NameEventPost = "MTF1040.sendFilter", 
        Scrollable = true, ActionName = "GetMasterData", ControllerName = "MTF1040", IsShowCheck=true,
        HtmlAttribute = new {style = "height:590px;", @class = "asf-grid"}, ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 70,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_DIVISIONID,
                TitleColumn = Html.ASOFTRaw(model => model.DivisionID),
                Width = 70,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_CLASSID,
                TitleColumn = Html.ASOFTRaw(model => model.ClassID),
                VisibleColumn = true,
                Width = 150,
                ClientTemplate = "<a href='" + @Url.Content("~/MT/MTF1040/MTF1042/?ClassID=#=ClassID#") + "'>#:" + MTP1040.COL_CLASSID + "#</a>",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_CLASSNAME,
                TitleColumn = Html.ASOFTRaw(model => model.ClassName),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_COURSENAME,
                TitleColumn = Html.ASOFTRaw(model => model.CourseName),
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_LEVELNAME,
                TitleColumn = Html.ASOFTRaw(model => model.LevelName),
                VisibleColumn = true,
                Width = 230,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_SCHOOLTIMENAME,
                TitleColumn = Html.ASOFTRaw(model => model.SchoolTimeName),
                VisibleColumn = true,
                Width = 210,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTP1040.COL_DISABLED,
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width = 120,
                VisibleColumn = true,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" },
                ClientTemplate = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />",
            },
        }
    };
}
@(Html.ASOFTCreateGrid<MTF1040GridViewModel>(gridsetting))