
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF0220ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF0220Grid",
                              NameEventPost = "",
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "DRF0220",
                              HtmlAttribute = new { @class = "asf-grid" },
                              IsShowCheck = true,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                               Format = ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal),
                                                               ClientTemplate="#= DRF0220.rowNumber() #"
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP0220.COL_FROMPERCENT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.FromPercent),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               Format = ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal),
                                                               EditColumn = true,
                                                           },    
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP0220.COL_TOPERCENT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.ToPercent),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               Format = ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal),
                                                               EditorTemplateName = "DRMSpinEdit"
                                                           },   
                                       new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRP0220.COL_TEAMPERCENT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.TeamPercent),
                                                               Width = 150,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               Format = ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal),
                                                               EditorTemplateName = "DRMSpinEdit"
                                                           },   
                                        new ASOFTGridColumnSetting
                                                            {
                                                                IDColumn = DRP0220.COL_APK,
                                                                Width = 50,
                                                                VisibleColumn = true,
                                                                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                                                                        "DRF0220.deleteAddress(this)"), 
                                                                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                            }                                         
                              }
                          };
}

@(Html.ASOFTCreateGridEdit<ASOFT.ERP.DRM.Entities.DRP0220>(gridsetting,false))