use [CDT]
declare @sysSiteIDPRO as int
declare @sysSiteIDSTD as int
declare @sysMenuGTGT as int

select @sysSiteIDPRO = sysSiteID from sysSite where SiteCode = N'PRO'
select @sysSiteIDSTD = sysSiteID from sysSite where SiteCode = N'STD'

Update sysMenu set MenuOrder = 12
where MenuName = N'Tờ khai thuế GTGT'
and MenuOrder <> 12

Update [sysMenu] set [Image] = 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001BDF494441546843ED9A07749555D6BF2F3ACE388EA03276E15341412C2012406044902A22480B457A87500309A45708A990DE1BE9BDF7DC84B49B8474D27B2F04A489487FFEE7466E2661189DF95CFFF5AD596B586B9BF7DEF77DCFD9CF3EBFBD4FB90E0124FFD1FFE400BF669515751FCB72CE1F898E8AF7B7B3F528D3D2326BDEADA2D1B242796FC5F4595BCEBD3A7647EA90FF51934ADE3822950CDB2995BCB0EBEFF6E26EA964B88A54F2F27EA9E4D5035E92D70EEA88BF3A9257F6EB485E56D1910CDFAB237949D81BAB74DE99F0FDA6DFF2E549F7FFA9F379F9A59F5456D6C7080072B2F3494A941219198BAF6F0076F64E686BEBB37EC326A6FFED2BDE9BB000557D2FFC632B71F09561E39DC519CF4CAC3C32B170CFC4CC2D0313D70C4E389FC3C8310D033B29BAD629685B25A16595CCF7BB8DD8BCF330D3165BF848243CF5EF803C11202129F39BACECC29FAAAA1AE8ECE8E1C6F51B3C7CF050B4FBF77F0F1F3EA4BBBB474045F3FDF76B79E79D91D83B38F1403C72F9EA4F745FBA417BCF755A3AAFD1D07685DAE6CB5436F452567B91A2AA6ECE9777202B694356DA8185AD0FDABA3A1CD3D461C106A30CC958BFD7FE55887F00F00B8C5D1D9F98416D5D33F7EEDDE3F6ED3BD4D4D41017178F9BBB378E4EEEB8B87A121515437555553F91AF9F3FA3468FC1D4C281B68B3F73A1AE97D2EA1E0A2ABB9195759355D2C9B9C276A4F9ADA4E4369198D3406C462D71190D18987BA16774120B2B4B8E6B6AF2DD769DA66133CD26FC2B1083002C6DBC27854624DDEFE8E8E6FEBDFB646566A1764C8FC95FAEE5C5D14BF8C388653CFD3F2B797AC4729E1DB984519FAE60CBCEA3242626F5813437B7B07EFD0EC2C3A3E9E8BE484B732D4D8D35D4D65753595D454545393595451416971275AE9E88B41A22D3EAD133F5E2A499152EEEEE989899A1A5A581F20EF51B23BED4FAFAB720FA012492179FF6F489286F6969E7DAB56BD8DB3BA334730D4FBDB58A376768B264BF37AA42B33A4E1968D9A7B3C3208229AB2C79E6DDCDFC55C0E9E89F12EF5DA5ABB30753134BF28BAB29AB69E542551DA5553514945793575285ACA89CF4BC7242A57504A75413925A8BC6494FAC6C1C090E0BC3DEC9B90F425B5B9375DB0F337AFAC1ADBF06D10F606AE5BEBAA8B89C2B3F5CC1DCE20C6F4F5066E8F8C31C3D93426A710FE76BAF93577D1D59E5357285E5D788CF3557F14DAA66E63A1B24AF2F43E5A036972FF5525559836FB0948C926E92F3DB4890B5129BDD4264661361E98D04A7D613945C8D5F7C257E09351CD177C541C832492AC52720E0118439DA3A9A6CD8BE9F0F67EED3F96710FD00199979B1BD172FE1E9E1CD0753D7F3CA0C5D02D21A29ACBB81B4F01249F917853317FBFFCAAF93CFF79275E10A858D37D9AA1789E42D650C8D2DB972F932B2BC52E265CD24E4B513230022B35A083DD74C90B411BFE47ABC136AF188AD1656CB5E4D27CE06849057584894C8B5C1105A42A6FB99F8958ADD3F2DA31919B2975B9A5B6F640ACD2F5AA1C29F271CC55B74925775ADCFE13ECB7B82E5F7925C788D44E1607E45078B0FF831FC8335C444C7D2DEDA41497B17A5977EA0A0F322796DDDE4348944AE6B23B5B285C4B246620BEB892968E098893DD109C954D7D7939E95F30822B07F24B474B4D8BE7B1F93E7EDF517111F94B77D1F4A8A2FECA9A9A9C3C2C296A11FED60B35122D2E21F0849EF1151EB2544DA2586BD639085A4F5109CD68B7BE039020202F1F3F31591AD61A89206EBB76B5155514F679B8C87B743787823988757FD7970D987073D9E3CE870E5418B28B90DF6C26C09B1DA406676266D3DA27255549229CB25363119FFE0109CDCDC31B3B442575F975D2AFB99B6706FC840883E80B2D28A48594E2E6BB76AF0D2DF0CB009AFC72DFE2296DE851899BB631FDA845D4833B6418D7D661FD685A54F39FA22725111A1FCF4D34DF27373B0386DC7FC7D018C9CBC9394A434EAAA4B78F8E359B8EE093FB841AF1374D9439B35345941BD39549EC0E7E46A8A2BAAE9BAFAA398333AC92F2A2236592A6415848DA3D32F49ADA787FA713576ED5561EE3255F749F34AFB263C496444DCD0A2C2D2CAB8D838262F5265C27A2FACC2BB51354BC1DACE1957C7D3ECD774C4C8BB0D438F7A8CCEB671C02088E31ABA1417E6F595CF070FE4D317B839DBF1F90A0D864E3C82B38B2F252565DCB92C9CBF2E9CFEC1062E9E864EE174EB296834863A03A8D221F6F44AB40EAC417DC752F6ADFF9AC54B967170D9671C593A1ECD6F3FE0BBD95F305669099F4C5980D2F4057C386901CF8F5831BE0F402C113E9665E77705058630768E3AB30F25B05923105D3D036EDDBC2E26B29FD9B17D0BDBF5A3396053C9B28DEA9C30D6E7526F4F9FD3F289EEF6EDDBDCBF7F8FDEDECBCCDC1BC6B39334313CE9409EAC80B68E782EFD10C9C59E707A3A42E86A0EA0B3CE97F62A2FDACADC692976A530C1027BE35DD8EB6DC3D6F01007B4ED88303B48BCF921D24D55D0573365FE1617166E3067DE9A13BC366127926797F74D74928484D429D2D48C8B7EBE418C99AFC3CC03C9D8B84573FBD6F5FE59364FC863D2B4D9CC5BBC86A0002189BEA83FE4E79F6F0BFB5948E816DCFF59CCDC77D96555C81F26E9A2A16F4B465A0699B51564B6D6925E5F494A7539096525C4886A132ECB27382307FFE44C7C13CEE11323C52334113BBF64745D7338ED1886A9551046263EECD30A63C5C15056ECF361D57E3FDE9D6D8AE4CF3B3EEC038889491C131F97DC1E1418CAC7DF1AF0E9D668BAAFFCB2EEB97BF7AE9891EFF55DFB9EF5A2A4B8E097EFEFDCE5D6AD9F7F31B9F3DCA1BCF1328BD47319A91CC7F09946E89F742229218DBBBDAEF09385D0BF91908FAE908F9690CF31A8390AE587A0783FE4EF81EC9D706E13BD31AAD8BA8440F82AF05F093E5FE363788259DB83F966BB1B8B77B833628611923F6D1DD507101E1EFB6C64645C594C640C73D69FE285453E2CD13ECFCD5B77E1E17DEEDCB9231CBED33F1A0AC76F0AC7EFDDF919EEDDC62FBD95F12A19BCB35ECA87DB1278F54B7DEC1CFD888E8EC02BE253CA0AD7F0F0A2D07B971EB46840833A54ABC2858350A402B9BB21633B4837D01EA18AA57D1004AF10CE2F07CF0538699F60C6A600E66F7216E6C21BD30C1E0880B7FB00E4FF09098E08888B896397BA1DAF2C7165C4B674F6B955725344BFF7E6CFF4DCB845D7F59FFAACF3EACD3EBB76F3160D17AF7338B086716A398C3F9AC3A7AA32466F89E0A345FA848788A577800B464E3338E1B408DFC02FC428A80900E170BD70B85A387C618B00D82000D609006501B084AEB03D98D9F80B8079705698E734EC8F1B30F97B3F66AD73E04B61AF4CD1BF2DF9E39637FB01FCFD42BE0F090AC7DD2B8491DF58F0B16A3AA30F646395D42220EED271FD166DD77EA2F5CA4D3A84F3577EFC89C49A4B2CF3A8609249217F1336552F1F25AD5C5E5EEAC4E643D6C444C4131CE124569BC67885EF61BBC69F892F0824F1422ED1F952C23393084A8DC32F2E0AEF8870DC028370F2F6C5D42190BDA7E2313375C458DF0E7D0D4B56EFF460FA1A57A62BDB326D952DC327E9DE1400AFF603787905FCC5CBD3FF52BC18854D479D79639D0F53F4F399282CEAC2457E1412EA1000BD37C42888B5BE6351175FFB5533DFAD9C058E65CCB22866C6C9223E3A9CC87B8B4DF0F5091339134494D488F82C1DCCBD3F679DBA04CFA8DD94D6855250E446BECC19D9397BB292AC3917638934D494643F43BC9CACD977328248AB63849D384A90DE7E76ECB4E6D3E52E4C5E7686CF969EE6C589DAD704C0F07E00F985BBEBD95D5E1EBE88A466FA263BC61E8D67867529739D2E90D2F8038D22F21962637224BB8D6FA2EB581651C7B70102C2BD9C39E29969A6B9BCBED49A13A77D09F4092728E20C69C5BA24C90CD177FB2B074E3F85ABF7EB42421B857C564399D078E177205B2C9257AC9A93845CE266D07876137A26EEE0F519384E02BB0F30DCA3C9E8C5AE4C586CC9278B2C183641FB92E4A98D430701C83F38D8BB45FBFB06121199CCCC3D6E289948F92EAC9EED094D581577B13EA589D569CD6C4A6F665D62236B621A5817DBC43CF722466F7445D7DC8FD0C048DC3D9C482E384646B9B658471DC7DCF75D345D9E46DF7928974B960900A1FB62A1F93C0191B914520444DC42889C4989FB76B48C5CC04509ACA780E5471CDDAACDDB0B1CF970A119EFCD39C59FC61DEB910CDDF9DC3F00181B9BFDC5D0D0B42ED02F58ECC0A46CD00DE04BE35876C5D7A053D48D49E525CCAA7FB15315BDA88B25F242DB74A6EF75C7D22194889048CCCDAD884D3B466E9D1A4925FBF0967E8E6DC4488C029FC5D0772879695345091510C50B04C05C01300B524582C74D87A8F194B9AC47DB402C3C5DDF17001F088091A86E3ACE1B73EC797FAE09CF7FA28964F4D18EA7C6AA3FF30F007D5F489ED3DDBA6DD72D4F771F92E292B0F38C639B49381BAD13D8E79BCDE1E07C0E04E4B2C93E85550621A89A041014184DA06F30870EAAB164B91229397B296DD624B2683136B1CFE11AFF3A96512F6015FB82D8F88FA338CF88DC7463721275C98CD2E25CB03AD2B3474876DB8B83B9213B34DC8932DA40B8C646425495F966C529DE9A6DC5B04FB5E4CEF3D4FB6A2D4F8D517BFA1F00EC92256B97EE96B4FFF56D095FCD9D818EB631DE02243A3C065FFF18EC3CA238E32ECC2D12678F08312B47117036901346E6AC58B18C711FBDCE11CDD99488E897D61D213C6F1C3E19AF109AFE2E1ED2B7B0491D8A7BF2BB78259FE66C62201E111EB888526BEF65CF1991BC9667CC3864E0C472553F74D5B439AEA2C9D16D4798F6AD1543271808E78FC89D975B9DDCF9410047ED244D9A4E4F61EDFF2567ECC54E68E33AE6CD9FCBF2E5CAEC14BBA2E36A7AA2AC9971D2C04298395AC70CD8B3F3002B572CE7ABD91359B2F413CED8298B1307752A9A8E935EB28488ACB788CE7E4F6C6A3E2432671CE6D1CF619FF82635799F88041652CA11899A26D664891F09F98C85B0B790D9ACE0C831537078092C44A53C3594150B5490BCABC390F7FAA22FB7F24100DB755E59E91CB292BC325F2E5FABE3DAAD6A6A5A13491065CECA711F47B557B2E7F012F6AA2E4145F55B761D5C24AEE789B3A0AF3076584868E6164A5BD4A9EB51A3B07937850D5B3857F629D15963C4D6712C814963482F9F807FD99B38A4BD2C76764A3CC8159A3F27209245A5899900A11F43E0DBC45BAC45E58800B016CE9F7C038E3FC3FC193B90BC27B4FF5E9FF3722B190470C868CC6EFBA0D96211F51C3A6E12916C43300DFF2336497FC139FB053C0B87E35DF60A0175AF11D4F406C18D6F10D6FA26915D2388EA194174EF0871FD160135AFE251F412AE39C3B04D7916D3883F62ECFF343AEE12745D24B824BD8C43E63082CF4FE472EE6431FB8E1100A305805815848E1000C348305D8ECAE11370462CF775844AD424CCF9628F705EE8BF1F40BD6810C0119351875372AC29A98AE57C592879A581E2D0C95798B73878F210E73A6EC8CAC5C453EE404E852DD915A7C92AB724F3829988F449D24A8C44D9D4253E4F93986C75C2D355094A3A806FEC1E3CC377E01ABC15A7802D18DB7F8169F49F08297E9B98ACB5628FE18B9EB31B9AD60E1C3D65C3417D73561D7664D2067796291FE6DBC50758346F1F2F7D6ACC90F78F8BC8F74B483608C0C26D81C38D1F7BF9F9F60D7EBC79896B3F7671E546AB905303BD576BB878B5829E2B17E8BA5242E70FE769BF9C43EBA54C9A7BA534F52453D7250EB9DAC3A96809A5B8DE4BECA51DC92AB321ADC0424C6427C5019601B1E92738613B1F6DF7A77113A31A757E01F162DD93E0B38D58D7CD44D9AE27DC6C312AFB0E336B8D311EBB67E1B671262EABFFC628252DA17FED0100C772070118DA4D3BD5D259CCC51FEAE8BA5449C7C562DA2F16D0DA2DA3A53B53581A4D9DC93476C6D3D0194D7D4718356D4154B5F851D9E2CD854657CA1A1C29ACB621AFC282EC3213328A0D4839AF2D4C5F401861133887EF8F4A708BF89C949A1904174EE24696904FF48B62E1F6BC58B409B9384AF03AFA155B368B55AA91F87C5CD86109933E3F2C2A90DE4080CC410046F64A46F5AD99C2F9723A7BCB84E339B4F464D0D89E4A7D5B220DEDB1D4344752DD1442556300E57567C519A70725D5CE1457D98B734E6B8AAA2DC92E118E171A92765E87F4620DA4A56AE22CE93401499B51B397B0F78484B89CC394770A69C9DE253747CCB4C1C2491F61AEC29C24381D110562EBDE4100E3A7AA09FDEB0E00389E3A08E094EB44EDCAC6383A7A0B45E4CF8B28A7D0D89340539770BC25925A218DEAA600AA9A7CB850EB29AEDDC43D1731220ED4B69E1115CB9CCA6613CA9B0C296DD0A1A8E63879622E90561C24B16807CE11624E71FD031A76CF10983685A4AA05A4D62E26AE64232E96B309B45D8CBFE9427C8D17B065CF51E67F6F88FBDED9B86E9E89A3F24C5EFFCC802163141292E781A6741080D5D9896A6575213476A50BE713A9ED1032E90EA7B93B8CC68E20E1A89FF8EB2D46C28326B1C3AA151BF4AADED3545F36A5B1D7429C3C9FA4BAD980CA261DCAEA8FF54D64058DAAF8894A631BFB57ECA2DEC4D0EFCF18B9FD85E4EA45545ED32134691BC7774E4463EB0EF4F71D4267C75E34B7EC62FE5A13A6AEB0E4D0F28DEC5BB29EDD0BD7317CA248E2B1037340237610804DC084432575DED475C451DF1E21404269E80A140EFB09FDFB08F3A4A5CB8DF66BCE14B65A9099174969B94C9C734671BECD80A6CB46E2E85C93D2FA2322178E5258A34242C11401F032FED291D845BF8C79ECF3D847BD86B3F737EC5B311AD57112CA1709D9EC12B643D8CE5FAE2D362C67EF3A21A1BDE2B3DCF648183D5994D0B12207FA2732ADA841008EA1E37715D43852D3291CEF0CA2AEDD571C8F7B0A8DBB0AEDBB889C70A1FD9213D557CD090A77C0C5D90573330BF4B44C303039C0852B47A86E394E71ED2101B04D2CA3271293FB3F44CB468B23C5D1F89E7B9B33292FE01CFF36EE7324D4CD148E6D79E4FCF6C100861BD6A1B24EEC9185E37D00026A8492AE001039D0072037EDC84100AE91E3B7E58B642B6F392B00CE0A67DCC92AB42339F33415F5B6B48AC3A8F61B36C89AC5D0C78839A0D89F947C2FA2529DB074DC495AF326B15BD3E142C546C2E327109EF4A1D8894D202CF523520B26E0237D9BD349CFE32B1D439CC9B72469AC245AFD3BC2C4EC1E726031412A8B08D8BD10BF1DF359B95E9BF9CA2207D6CDC255F94BAC96CE65D8C4930C192724D43F02DA62CF39602DE419F7F1FA9CF2131435DB53D3E52CCAA433657536A2C29CA64E2469478F2DCD37CCC8EDDA4780743F31A2DA64B69B1152A089CFB935A4B62DA6E2F25232D2A7636A29960E9113F1091F8F77F847A41729115E310AEBF8E7083CF70973624BF928A487719E0D8CB6A962E4C9525ED338CFF0FD593CBF45CA4BCAE10C5BEC8F645E1092993E48A6B8F1CC67A63CFDA1563FC090F775070378C78F5F9553A52F12CF929A763B9103763475DB08ED5B8BCA7486AE1E6B1A7F3440D6B5471CA9BB92D7EE4AD55D330A456EC8AA6CF1AD7C8DC2DEA9D4577D4776F61C8ACBE7915B328BF48219625E984944E9185CB2861296378DAFD2CB999CDAC5A4887A3EF6A8648C5531EFE8E6F2D6A1345EDD1ACF4BABC219BAC88FA10B3C797E8E13CFCD3CC39F269B3C0E203F9CFAFB6AD42F79C2771917D429683A2526262BCA9A8CA96A3B29608C458914492AAE9B7FD422B34A549DD62AEABBF22817276E254DF1E45F90E29E3E478CC06C0AB297912B5B445EC142728BE79159388B9CD2390464BD876B8600383F97D9D22A3E1707C553A2EA19EF55C907A78B18A52763C4E1345EDB16CF70E530867DE3CF3005C017FF08F0D4FB7AE2B0690040A0F4B305E9A5AAE436E853D66C2C72C190FA4E13518984E3DD27A9B8A846EDE5A384E4A88844DC4760F926127AD6E35FBE8613C14BB049FC0C59C30CF1AB8B12C949DF922A5D44BC74AE58CDCE25ADE82B02CEBF8D77EE8B849E5FC24CF1E3C6E7D20EA6C63532E16C25E3AC8B196520005405C07601B05A48E81BBF5F0518F2BE81C32080A0B48973A27395892BD828664E0D8A4545A9E9D211B3B13ECD97D584741691DE3883C4AA69A8FB7C4868DB52F2F99A88EE25A8798F23B9720621B251C4D6BC4F57EF263ABBB688E5C82672EABE20326F0CD1259F7236E3AF0417AD666A4A335352DB981CDFC8273E424202E01D7D196F0A09BDB2358E175786F19785BE3C37D783676739F0C7E9563CFDD909518534FA373443DE3716A764034620ECDC8C2F9CE3DEC521EA59D24B0F889158437ECBD7A29CAE1333EE460AAF7D85ECE6542AEECCC7B76C0231759BC9BEA84A48F96ADC649F50747326E7AE2A517C73BE38F43D444FF75E3A2EEF212CF72521A1B55C68551767A21F1050B89EAF333AF926AB9345E2346F4E781D5F88538DA996854CD4CB11E751523ED819C77BEBC318BD3A80512BBD7967890B23175833E2CB53E2272F4D868C56172B53B3B5830132664E758C790753F1D341946C1ED1A593082D7B9794FA8964762A71E1E651CAEF1DA0E68136C5CCA7EE9E3E0DB7EDA8BDA7430DBB287EB096365CB9706F3BE7AF4C11D5EA0BD29B3FC73BFB19B1D45E4866CD1A82F3DE20AA6C17E63537B0A8BD8A79F5654C0A7B30CA68474F9C7A680B98E37E95A8799470C4F13C47EC72396C9DC521AB340E9A2671E8642C23FF6688E49DE3F724EF7BF59DCAF56F29AD03DE9B1A912DEA71D642A28AE61373E16B62ABE693DC223AEF5D4CE9AD0D543DDC4C2D3BA8631B8DECA689BD34B35FD80161FB68157F1BC4FDB23BCA145C5B4976B728ABADCB90B5AEE45CC3720A1A56E3957798ED7997D8577C91BD05DD6C97B6B24954A3752217941D8A596E9EC712834C1689B5DA22B578BE568D66C1FE10E6EFF265D606179EFD50EBB6E45DA35D0AE7FB01166F91BC64EFB7B838527AF8A13012B38E3D4CCFD779985568F0F05C9EDE83CC7CFDFBB28213F7F38B4CEEE7179ADECFCA31BE972D3B712F4766724F967BEADEB90CC37B29A9DA77938525A56ADD8D4F3E7E373872FF1DBFD0DD773C03B7DC71F1DD70CFC56745EF7ABD79C79EF26F521A1E59A7F442488DD21FED4B9424BA394A923DC94A12E54825C9DC0025C9643725C9581B25C93B664A92B70C95242F1F57923CABA224916C5492BC6920B66E4FF88DEC97E314C96BC296095B2B6CF5005316D7BF65ABC433BF66F2F6C406F8D7FFC792FFCDFD41BFF8FD6F1AF8BF7EE7BF00FF1D81DF9917FFF9123AA27A58F22FDA5CF11CC28EFD8BCFFFABEDFEAEE7FEDD97E5CE17FE2703FCBBC0FFDF9F9777F092B02B8FE42197C84053C865D5A3C82BEE053F1A05B9ACE4EF0E7474D2A3361A1F7D3F6A40FBF276E4EF0E94A2FCBEA25DB92F8AB64E3DFA7E60FB039FED7BE7F108C93B95DF903BA6B8B7F3D1770AA7E550F267E49FE59DA43C06A078DEF95170E492933F2FFF5EDEE6E37D28724B01FCA4A0CA1D57F8A378BEAFDF810072FAC723A1189D818D0F8C82FC7B79C407B6A3889C1C54DEC96F455B111039F093A2FF784015CFCBFB1904F0A4483CA9F127810E045038AD88FC40C79ED487FCFE40C8814153C84D317AF27E14CFF77D37B0E381D2507CFFB85E15C32BEFF071ED2BDE793C9F068E90A28FC7736D6094078EE0C06B45FB0A09F6B53B10E0F148C8EF29A2284FBE276AF031F90C94D79346E049D156C0C8DF7D5CB283E4F2A82F7980FA833710E049CE3E69049E04FA78C2CB65A47046DE99A2BAFC56022B22FEF8080DAC7AF27BFD73D14000C5D00FCC7879E407BEA0F8FC78E551B4A38898A2FC2A0220776C60EE28FA785CB672C081C08FF73FB0C2F5F5A9E85851BB9FA46B79270375FD6B4B0945022B2437B0DDDF4AE027C965E0FB8AB615A3D3E7C77FFE62EEFF7A3DFF7BFBFFEF08FCDE08FEDEF7FF3B02BF3782BFF7FDFF07AA9B732392D921210000000049454E44AE426082
where MenuName = N'Tờ khai thuế GTGT'

--1) Tao menu trong quy trinh nghiep vu

if isnull(@sysSiteIDPRO,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDPRO

-- PRO
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 22)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (22, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDPRO)

delete from [sysMenu] where MenuName = N'Tạo tờ khai thuế GTGT' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo tờ khai thuế GTGT' and [sysSiteID] = @sysSiteIDPRO and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES ( N'Tạo tờ khai thuế GTGT', N'Edit VAT return', @sysSiteIDPRO, NULL, NULL, NULL, 11, NULL, @sysMenuGTGT, 7001, N'ToKhaiThueGTGT.ToKhaiThueGTGT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001A79494441546843D59A077455D5F6EE0FF82CD74B11AEBD5C0B208A0A2251442E5C942A220A082852A477A4B7344280104A6829A40121BD929002E9BDF7DE7B219DAA5284DF7F6E6463C84509CFF1FE6F5CC698E3ECBDCEDAFB7CDF5CDF2C6B854E80E6BFFA9F42A0A3A6D14C1FA1796CDE7A4DD745BA9A2E62CAA762DD545BACABE9DEC69E5AA2ABE9B95C57F3F44A5DCDB3AB7435CFFDF8DBE73372FFB48CF75CA6ABE921F6C254DDD7067C3FA7A338DACEEB38F89E4BF5272E3A86954B024EA7D370F04EE1A45712C7DC93B0714DC4D239010BC738CCEC633972329A83C7A3303916C53EDB28F6D84462641DC94ECB080C2DC230300D45EF50303A2681689B04F1FD12437E58B4862113F6D96B34747E18221D22A0D1BCFFC2F06FCD7E9517B7FB774BEE7FE5DAF59BFCFCCB752E5DB9CAF98B3FD3D47285734D97A9AEBF4845ED054AAA5A292C6F26B7A491CCC20652F3CE91945D435C7A15711935EC3B628F8E9E2E9BB6EA32769661A4A6AFE3731D25D141029327EFB208BD0DFEDAF56BFCFCD32FDCBA76819B375AB874A99586A6F354D69CA7ACAA85823205681359450D64E4D7939C7B8EB8CC7344A7D71291524D686225C1F1659C8D2DC12FB210FFC8120CF69E40DF7017FB4CF6B379EB56BE5EA05BD66DF89E011D21D14102DFCF337788BB4DE0CA4F3F71F1C215AE5E69E1DA2F0DB4B634525BDF24041A68AEAFA0BAAA8ADAEA528A4A2BA82C2FA2ACB480C2E27C72F3F3C8C9C9A620379594B40C7C228A39155680775831FAC627D8B5C7042B5B5B8CF6EC415B7B0BD3166EBCF4F2BFB53F7F10890E12983AC9D034F836814B572ED2D27C816B3FD7D1DCDC405D7D3D95B5E72828A9A7ACBC9292B20AB92E2733BF82F4DC72B2F28AC8C82B20393B9F84F43CE252B3094FC8C623B408B7E07CDC430AD9B2EB3826872D70F3F4C4ECA8E56D123A3A5B99B1600DBD3EF971DE9F91E820812F47AC37F2E5C68D5B34359FA7A5B191EADA26EA6B6BA9ABA922A7E81CE9797502B29684CC5A62D26B884AAB265C2413945845405C257E3115784795E1195E8A5B4831AE41F93806E4E278A68075DBAC31B73E4E606828F6CECE7748EC4547772BB316ACA4DFF015BA7F44A28304C60E5EAAE7793B50CBAB15BD2B04EA28ABAC154FD793925B2741592B5A57C08BD6536B0853C027557326A10A5F21E01D5D81474439AEA1A53806156377A690637EF962852CDB7A9493CEEE24A4A4E0E31FD08E84367317AD64E067CB4DEF47A283043E1D3067830BADE77FA258324AD9C5AB623F5122B15072E11245E72F52D87A817CB1BC96F3E434B792DDDC4266530BE90D4D24D7369050758ED83221575445486E0567334BF14B29C637B9844D46669C3E13447E7131E1D1B17748B8DC5D096D5D6D162C59C187A3973909E07B307790C0B0BED356DADFAA93B4985BD642C5E58BDC225D2C452C512C562C4A2C5C2C985B37CF72EB861FB7AEFA70EB274F6E5D72E3D679276E36DB73B3FE38376BACB95971949B2566624770379945544C1455F58D64E4E41215178FDFD9209CDCDC396A63CB9EFD26E86DD363F1F2950C19B7CCBD2D890E12D07A75C242DBEB6595CDA415345072F1BCACA69295A2C522C442C402C5FCE1968F94062FC9B76EF08BB3A42D7BB8701C5A6CA0F128D49941D521283381E2BD90BB13FB5DD349CBC9A7EEFC65A919B524A6A6E217142AB272E5B0C5D1DF825A5F9F8D9B37B078D972464D5A6B3B6874C6ED82D741027D9F1B39CBF24A5E713D095975145E689567C3C582C4CE88F989798B7988B90A0147B86E27046C8580951030170287A1E100D40AE8CADD50BA038A0C204F17BF03DFA0BDEA5B362EFC8A15333F67C2C449FC38E903D67DD59FAD5FBEC5D79F0EA3AFD644DEFB682C5A9F8CA5DFA0B17479794AFF8720D0BDFB27534DCFA7E5D4109D5A4556CB052EDCC8E0FCF514B1445AAFC78BC570E17A28ADD7C268F93984962B81B45C3A43F3793F9A9A7C68A8F7A2BEC69DBA72676A8B1CA8CE3B4155A62D1569D6A49CD987D98EC598E9CFE7C8F6D5ACD231E5D49E1F09D8BB9A70E3E56CDB60CC98B9568C9BB597D1DFEEE4B9018BD03C31F976A1EBE00A3CF2E4A0AF0E36C4A494119E584AC2B94B64B63690D952477A732D69CD35A43657115D778184FA1A921ACA48AC2F9379A5C4D5161355514078712EC1F9D99CC94CC757B28D575C226E91B1380545E17026027BDF508E799CC5D431083DEB580E5878626CE28AA1913D2BB43D99F2A3075356D83375A523AF7F6A8CE66F0BFB3D0481C71F7BF7F37D55C131850446171353DDC28D5F7D7F930BA27344E7D892DA50CEE55F64ECA668FC86C8E6BA85C848A47365BFE8DF50E4A327F2D116F96C8282F590BD1AD25642E252885924E1348746DFB51CB17207AFA9E0F48DBCFA73ECB7EF64C40237BE586083C4222F0F3544F3F8BC371E8280E691DE9F19979D0EC9C157CA7F8404F3F55BA7E579273107B11362962489D7AF5C538899D37A61AB14B18FB1F17A8D8CE4EFB8D5207AAFD3878A2D50B211F2D742D68F90BA1CE29740E402089D45F5A9B5EC371327B84D11F093E1F8588EEAEC64E81C67C6CCB114B3E28521063785C0AB0F43A0D3CBFFDA59E0EA9F8157600EC1D259DE42B28C8006C92C48A0729CB446E9779AF4F1CDE88D9E9D8635265DD86E318C9D47C7E3E0324C5661831010C0C502385F0067CD1502B384C00C21304D084CA4CE73297B0E8B63DC46C349B1E34330DB6CC087DF3B32628639FF167BE6A36D57358FCD7DB1C3049489CF0E36CC3DEE9984AB5F067E458D245FA824ADA5828CD62AB22F87937169312ED9FF64876767B61FEB8395EB0F9C0ADA817F843127BC96B260CBDF084876E16C563CA71343F18A0AC435C41F477F1FEC4E7961E3E2CA513B078CCD5D58B63B803DC616ECD866CAB62DFB992EFB904FBEB5E69369471832F5083D07E95D1102CF3E14811E1F18649839C462EF918E47F6550A7FCA25FBAA0B672EAFE464F13F391CD203ABD3A3F009D32322D99CD02413FCA3F5F18FD263AFDDC7CCD8A8E1B8CF12328A3C484EB52131CE92B80833A2030F11E1BB9F500F63821CB773E2E82156EC3A85B7C9263C77AEC7557F250B171DE2FDC9567C38E9201F7C7580A706EA5C10023D1F8AC023BD77A4181D915D987702FE35B6245E1B8457C513D827F4E154D422E981AC492B74223ED78C8874238293F4084D362030CE906D36FF60D581CE58DB3D2F129A2DF2990E99A2F194AFA51E4E90E095AE3950E4E23F94D29373D03792FA71E203B01804A66FB17DE9567A4DB066C084FDBC377E1FDD06E834693ACFEEFA5004DE9BBA3EEE78C2124ED7F6C639AF3B2EF163094FDB4B76890F05D5A7C92A7724B5C88CB86C63C2057870CA6622B375094EDECA5E87D7D96AF508DB2CBBD29C3E490888EED344F3094222EA2B081612FEE3A4160E27DD7601DA861253565A70E823D8FF0EEBE7E9F0EA580BFA8DDB43EF91BB79FCED4DF5B2177FB24304427F7E7E8C7763170FD7F2EEBFB866F7C63F6509E9056E949F8BA1AC2184FC5A0F722A8F89F78F10956A4C68C2762253B589C9DB4850C60AECC38770E4D42B18BA3CC17687AE24840D96142A24D2C60A8151426084742212E0FE9F804F7F32AD66A263208DA7751F21F096107885B57336F3C24833FA8C32A2CB7B5BD1F45A5FD3B9EFC647FF90406063CF7F9CCC7A748545BC26C33CB2078E51A389CA38207D4A0CB5CD69543485535A7F5A3CEF4466B1B5B4178765EBB88FA49C9DA417E90B992DA4146FC23BED0B8EF8FF1DEB80E7D9EFD31D13BFEE38F9BD4D5A8221F1E13B883DAB47948F36116E1B093DB98E209B6598EFDDCEC22DB6F818CEC26BCB6CDCD74EE38B29BB79E95313BABDAFAD80A7739F0D159DDFDCF0C87F1038E8AF19B8CB4B63BADD45D3BCCFFD15C9120B65A3E22B1BF4021ACEE750D5144D45C3598AAA3D453AF6A4E488EEF3CDC8293D405EB9B174AADBC92CD126A3782319856BF14E7A0787A867F1087F9D63A12F49A077C536E8754E041DE0E459178E9D92530E672BCC4E9871508277FFC13DAC3638CAE4B58EE86DD061F3F2ADAC9FBF8E215F9AD0758081805FA78057AC48017F0F81F5A61AFBCDE69D39E8FC2F82634C65C352C4C5CB4D34B61652DD9824AD6E94ACC059728B4F89B988D9515C694D69B539451526B29937A2A0DC80FC321DB24A361199F195A4CA97F08BEB239B9A7E78C7BECDDED34F6276F6450A12DE93001629C54AA086494F76F61D914F5FF07C89B8C35358B7C9586A610FD82799727757A68C5D8EE6755D3AF5BEED7DC5B2EF21B040F799FE96EEDFC876D0E136E0D6CB02BA3986F28620CA1BFD286DF0A4A0C689FC1A3B0A6AADC8AB36A5A8FEA06C66F651707E078517B751D2AC2BE36B492A5E4472F15C22B306129ADA0FF7E0B770097C93F0EC013865BE8879D8D352A1B5B8192F9A8F10124192697C074823FB2EB8BC4AC0BEEF58BE4E081C12F0BB5E80CD8F3266E84234BD45FBBD6F83572CFD1E02AB0DDF9C6CE6FAA934514FA26BA39160EBC46E8F473910F004E6915DB04D7A0AFB9CA7F1A8781EAF9A17F1AA7E9153B52FE155FB229E352FE055276332EE54F00CC7527B601DDB8D23C14F607CEA3176383D82AEAD063D2B0D56814F631ED50DB7A48134C77F28D5F74D21D04B084857E0F1B210E8C619E3C92C5FB3130E4ABBAF2B2AD9A061E4B0A5025EF47F97C0C6D47B08AC337A634D70EC21D1BB1F49991E2464B8C8A19383989D1C3C1D93BDAE8DA447293CD9E6C4E61C2126E700D1D9FB89CADA4344E62EC2D20D094AD62320612BBE311BF10A5F8B6BE02A1CFC9672DC6B21D66EF338EA3C971D66C3303EFD38EE69AFE21BFD1D865279F52D6DD87AC89CF5BB0FF3E3B6BD4C5D63C1A059B64C9AB6862F27AC62FCE815F4787F079DFA6C16CFDF9590B29BFA3D06F6D98C35BF74B9915FAE5EE2F295262E5CAEA3F55225CD174A683CFF5B00D7B76651D79A4E6D4B92C82B96CAA62891572865F54114D5F9925FED454E850769C52748C8B3203AF33061C9FBA490ED92032C03FCC277B2F3C818746C1FC126A63B3E49630990BEE78CFD7CFCAC7FC0E7C84CBCF64C60F98A358CF87607C7968CC066F670ACA6FF8B37B4B445FF3A6D086C8ABF87C076D321BB2B6AD3686829A2AE29979A8634AA1B92A93C1747C5B928B130CA6A8328AD0DA0A4F634C535121355AEE45538925B614756A9B5641F0B52F20F9390B38F984C2322D3A49825E9886DBB5D8D0FBB8CE4FBF51A6C4E7D4C70C150DC520671295AE473FA2969DCBA48D3260EB5D07062FD67CCFD41BA5443B9DF2CB646C3A08FD74806D26F4B20EA1E0286665A86C59551023E9BDAC64C011E4B457DA46498103985384B49B59F64186FC930EEE4953A935D7452CE388F919E6F495A9E991CA91C22357FBFB413023C653B6149BA52A5B7109AB18184FC033807FEC006330DCB766AF08F5D4376AD482BEE75E263A5D2BA09487B316BB1A31A8EAE1BCFB279CBEE21D07FF006D1BF5E1B029B954DF8EF12DA6D3D5027B7D49F9AC614F17C927839580AD519CAEA0478853785228DFC3267F2CAECC92A3C2ED736F29D95AC883985950729A8DC4B6EB911D95207324A74492DD84C42D10642737EE46CEA422C4F0D45D7FAFFB0C5F4515CC23E22306F2C218513F04F9F8DD5FE4F7139320127E37138EC18CBDCA5EB19F3FD766C977D8AF50FC3B198369CE73F30A0D39BAA849438D8AA1CD4FE4EC0E4E4C00D9945EE94D6850BF8B314D6884CCE7949BBE049698DAB0075944F3B59896394355A53281BF4BCC603E4371B53DAB84F4E9E77912F3520B74C572AF326A9C61B482E5D8BA3649A237EFFC0D4E745B63BFE0D439BBF13943F9EDC0BBA7804CE67F3A2816C99B7906D2B56A3BB70195BE72E66CC77460C9EB29FD59367B362E24C968C9B41CF8112C47DDBC6C016E514E17702879D07AC4E2FB2A3A8C69FE2EA5342C483923A1701EC28FAB7173B4E459D0DD5172C49A9DC4754823719D97172CEE94352950165CD867222BD552AF03A8985F5A4142CE74CF24742E0699C425FC1F4F4D3ECF5EB8299CF7358DA7DC18A29BD58FBB686ECF18261B1D842B145BF5DEF9B359965334442CBE45EB1A51A7A7D2829B4AFC4C0DD42A62D67376D085878F45F9C5C6021454A80D7BA4AABE020C7E3C745E3D6A27D2B89092BAA9B8E927F7E2FAE5EE658595AB177CF3EF4B58D30305A4556EB3AF22B364B0FB45A08CC272C6D20BEF1FFE4745C2F3952EC8543C4AB1C0CEE8E65C0ABD88ED450345C80CDBD037EC1BD04B6CF9AC1F219B24716E0B70908A997B5F48480C4C06D028AE9286738BFAF80B577FFF989126CD9152785C04901634B748A29415107C8293E42A51C46555F3A4C5CB92CBDAFD480342782134FE0137294FD168B082B9F4365AB2E5939B3F10A1820DBCE7E72EE3F00CF907708491E807DE8AB1C08EC8243E89BF81B7D49E0966F38BDF16B3CD74CC47DD5045C978FC779C9381C178EE19B993A8C992631306304D6D3FE8DC957A3E83670179DDE1609DD5D011D6533FE3B81E3FEEFCE8CCDDE496AB91905759692262DC92C3A2C19E6004512A435F54728BFB487F8BA153887AEC457B24D54F51EDCA5D7B78FF89690AA09721EFA1591E19F60BCBF2F2EDE03B1F7EA8F9DD73B84A76AE195F30687029EC425E23D46CA96F41DF77ADE3E5E42AFC379BCB22B83E7B624D17365345DE686D2639A17DD2638A119ED8A66B83D9A8F6C78F403631EE9A77D9740A73E7AF712B00BE83F35366F9B04DE7E69914D25064C293B7758B47F4832D341F91BC0214A2F1B1057B7948402699FABADC9BBBE8714898DB8BC2338E43E474AE3608AF3BE2626662469D9A3894F1F211B9BA1521786732AE34DACA2BBE2993084CFC2B3F930A48E41A78A79F7582E6F9AA4F19A5E3C2FAD0EE3D97901F498EA45D7F18E741D7B9C2E238FF2E4F0833CFEA1517B0227EF5901C7A0015F47666D24B96CB714261332CB769057B54BC8EC901429412AD7E597B589CA93AC539947715D02D93501A497059098158A6DF84859814F498E99447CDC781292C7119F267B889411C4668CC439BA37D691422069149F86E6F171480D1FF914D3FF442E6F1D48E50DFD385E5E13C673F303E839CD936E5F38D14D2530EC3F0974EEA36F7D0F0197D00FC68667AC25BE641B99E53B2416B6535C6B249948809FDB454EC3060A9BD7E31EBB5C0271859C3ECCE14CFD4C9CB2BF65A7DB440E9FFD80B892A1F257172D8202BF2424743C01A1A33813318AB0D4CF704E7A15BBF8A7F0489AC870F9E3C6C7A1350CF62F65C0C95CDE3E94C61B064260AD10582004A68B84BE70FC53029DFA18C8A9599B18700D1B38F274FC34FC93674BE5DC429A6494823A5DA9C6DB286FDE20D2194F78E950CEE60D61A37D3F3CAABE9243F5CF39756E221BECDE26287728EE716FE057D087BAC639D4D6CD9576640EB145C3F04E7893D3E9EF7332F21FB8A54E677070391F8554F1614029EFD98B8484C06BDBE2785124F4CC3C7F9EFAC693BF8F73E0C951C7786284398F7D62C2231FEC942CB4E5EE86A6539F1D724AD6868067C4D06196FEAF63EEF304E119AB6425BE25B1E27349A733A4E2CE26E5C267C45D194CCEB53138640EC0B7E807621AD6E29E3D1D9BB8F748BD329C88F35AA45D194353E36AEACF2DA3A679299EF13D4442DF9155B951CE44DFC23965269F47D6F245742DE3C32B19E955C430DB6C06EF4F61A07E2CEFAE0DE5AD45FEF49EE949AFE9CEBCF18D1DAF4DB4E295B18778F9DFBBE9DA7F2B9D7A6D94CE74CF77F712881C3ED8C2F7358CE54F073E71A3399D31088FCCD7092E1E4854AD165957D6937D631505377548630C4537640373D594C21BBA14B098B49BDF51853559371690D4FA9164AB6184977F8C5DCCA3D26A8F23AAE05BDC125EC02773317B0B2EB1AFF03C7BF39B314AA9C730B21AFD3365E80899CD8EB96C3896CE3A8B24D699C6B3E65034AB4DC2F8D13890D5BBFC78E55FDBD1BCB6F986A6CF89DBA77277B794879C7B0F3E1523F9387A1C3EA963F0CDFA1CBFBC310455C88F374E20E3E759E4DDFA81421652C47C4A594219CB2867A5D82AB11554CA67897C9F796D9A9CDA7D43CC3949AB959388ABFC868892C924974CE744C21A162434B122AD8165C9E758105AC91CC946332416A699A731796F02130DA2182FBDDAF80D017CBEF6346357BA3366B103236659F1443FEDAB9AD70D17ABE0EF12983057D3C3CC71429A77E89A5B629C8DDE742B3C51F756748AC1AD8804FD9B5189DB7E8D4BDEF96B62AAD1AF8929C6BF46C7EEB81113B7F3466C9CD18DB8F8DD372222B7DF080ED1B91E241618A27D3D2068F37537EF95D71C3D965C3BEE32F79A95C3AC1B56F6531A67EA8FDED4D9A94CABA777915677F702ADC7CCD2B5347AB15A9AA5415A9A69DE5A9A51CE5A9A0F6DB4347D0F6B695EDBA3A57969BB96E6E9CD5A9A27966B6934B3B5342F1AC8D6ED0FFE4626FF63E539B14962DF894D6F63D3E4FA413655E6FC9929EF930D70C7FF634947E7DED6D17FB3DD037EFEFCF99A0ED82099C31F98FA7C0FF9BEF5CE9CB6EF7C43C682DB3C5B2AD7A33AF09BFF81EB9E20566F3AF8A24D77C059DE01927207940246FD21658E4A5221AC8C2BE055526E72AD98324719530877C47977E7FC15028AC71450CAA70260D11D000A68E50754EFAB9E9E7A675C25ACCE53E6AA630FBD0A7F85407B2FAB1E56C777DF591105B8425005AC785AB1B69E56E62A73FEBF10507FBCBDC6DBC787324F99A38C2B726B3B5F919D32FEBF2A2115802291F680145D2B638A34547928F3946754FDABDE5625A6CC7B28FD2BF3FFAA8454CF29DE5301A80055C06D035999DFF65E5D2575EEFF3A01058CEA65D5A38A54943155F3CAB83AE77E634AF03F3470F599BFBA027FF6C36AF0FE25800F22F7570828F95C91801A9CEDC90CBAE37965DEFFB5871FF4EC5F21A0E66F2560FF9F017CD0BBFF2A01C5BB8AAED562F6D069F041001FF4FD1F115096FFCFFA1C0574DB0CA4CE5509289F6D9F5753A93AA6D60EE55EC940ED3395BAA2AA63DAAE72DB67057FBBBF912903775EA8A4C3FBF539EA8F290494EF957CDFB6D2AA6D849ADF951F579F51DEA95C2B81AD5CAB695501AA5CABF76D6B4CFBC2A73CABCCBBFDAE3F22F0677D8EF242E505AAB7D5606E1F0B2A689560FB42A500689B0094FBB6EF50B29832A63EDF36CEEECE7D500CA8201449292F50D8DFCFDBAA14DAFE88DA65B69FAF76A4F79368DB064F5D0D55056A3653E5799BFC8308B4EF7354426D73BB9AEFDB7B586DAF5529DDEF1985A4F29C4A56ED585547B525A916CAB6DDEF0309B4EF7354B06AE957B57BBF4E52AD118AC7DAC789EA085586EABDE265654CF17E7B72AA03EE51C59FADC0FDFA1CF5E5ED97BFAD77DB67A0F6BD4FDB8CD43E03B57DAF2A2795FCFD24F7A72B70BF3EA76DAFAFF637ED2BAD4240FD4EF954E2A7EDBD4256BD57AEDBF74AEA776ADCB5C5D1FEFAFE04FE1B37F7FFD527128AC3FF07E10EC211310D5B9B0000000049454E44AE426082)
END

END

if isnull(@sysSiteIDSTD,'') <> ''
BEGIN
select @sysMenuGTGT = sysMenuID from sysMenu where MenuName = N'Thuế GTGT' and sysSiteID = @sysSiteIDSTD

-- STD
if not exists (select top 1 1 from [sysImageProcess] where [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and [ImageIndex] = 22)
INSERT [dbo].[sysImageProcess] ([ImageIndex], [Image], [sysMenuParent], [sysSiteID]) 
VALUES (22, 0x89504E470D0A1A0A0000000D49484452000000580000000F0806000000601E087B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1300000B1301009A9C180000017649444154584763BCB8761AC328202904FE333030FE626064F8CAF0FFBF10419DA000BEB86EFA1B303D8AF18701249CFE43F1BF0B6BA77D2614760C97D64DFF86A409A67994460424DEB038BF76FAE7F36BA6DDC39538470398C880242211FEC4969A4703987A01FCFFC2DAE95F81A9F921726A1E0D602A06302C959F5F3BED152C358F06300D02181AD03F41A97934806917C0FF4FAC987C7534806910C0C7574EFDDD599AF9B8B920F9F6680053398097F4D4BEA9CB49B80FEC80E401B1E268005329808FAD98F26B4275DEB3D6A2D46BC08035076249702F79B4A301EF9991DDB95ADC53FBB63E27F10130507380581516B8F0003EBA6CD20D372BA38B25C99177A7D4173E07E199CDA52F1775D7BC19C5883058D0558DDC55FEBF7D4EF71750AAED2849BF024DB552E83D3A70DF1B08DC805803CA1601B1A15817489B8D6248181C5B36F11CACAD3BB7BDE2557B49FA63A078007AAA45E9688C0EF09030C8051DEC99DE58FCAC312FE91630608D80581E5F180200AE0CE7E9F50A40370000000049454E44AE426082, @sysMenuGTGT, @sysSiteIDSTD)

delete from [sysMenu] where MenuName = N'Tạo tờ khai thuế GTGT' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT and MenuOrder = 0

IF ISNULL(@sysMenuGTGT,'') <> ''
BEGIN
if not exists (select top 1 1 from [sysMenu] where MenuName = N'Tạo tờ khai thuế GTGT' and [sysSiteID] = @sysSiteIDSTD and [sysMenuParent] = @sysMenuGTGT)
INSERT [dbo].[sysMenu] ([MenuName], [MenuName2], [sysSiteID], [CustomType], [sysTableID], [sysReportID], [MenuOrder], [ExtraSql], [sysMenuParent], [MenuPluginID], [PluginName], [UIType], [Image]) 
VALUES ( N'Tạo tờ khai thuế GTGT', N'Edit VAT return', @sysSiteIDSTD, NULL, NULL, NULL, 11, NULL, @sysMenuGTGT, 7001, N'ToKhaiThueGTGT.ToKhaiThueGTGT', 3, 0x89504E470D0A1A0A0000000D49484452000000300000004608060000008A79175B000000017352474200AECE1CE90000000467414D410000B18F0BFC6105000000206348524D00007A26000080840000FA00000080E8000075300000EA6000003A98000017709CBA513C000000097048597300000B1000000B1001AD23BD7500001A79494441546843D59A077455D5F6EE0FF82CD74B11AEBD5C0B208A0A2251442E5C942A220A082852A477A4B7344280104A6829A40121BD929002E9BDF7DE7B219DAA5284DF7F6E6463C84509CFF1FE6F5CC698E3ECBDCEDAFB7CDF5CDF2C6B854E80E6BFFA9F42A0A3A6D14C1FA1796CDE7A4DD745BA9A2E62CAA762DD545BACABE9DEC69E5AA2ABE9B95C57F3F44A5DCDB3AB7435CFFDF8DBE73372FFB48CF75CA6ABE921F6C254DDD7067C3FA7A338DACEEB38F89E4BF5272E3A86954B024EA7D370F04EE1A45712C7DC93B0714DC4D239010BC738CCEC633972329A83C7A3303916C53EDB28F6D84462641DC94ECB080C2DC230300D45EF50303A2681689B04F1FD12437E58B4862113F6D96B34747E18221D22A0D1BCFFC2F06FCD7E9517B7FB774BEE7FE5DAF59BFCFCCB752E5DB9CAF98B3FD3D47285734D97A9AEBF4845ED054AAA5A292C6F26B7A491CCC20652F3CE91945D435C7A15711935EC3B628F8E9E2E9BB6EA32769661A4A6AFE3731D25D141029327EFB208BD0DFEDAF56BFCFCD32FDCBA76819B375AB874A99586A6F354D69CA7ACAA85823205681359450D64E4D7939C7B8EB8CC7344A7D71291524D686225C1F1659C8D2DC12FB210FFC8120CF69E40DF7017FB4CF6B379EB56BE5EA05BD66DF89E011D21D14102DFCF337788BB4DE0CA4F3F71F1C215AE5E69E1DA2F0DB4B634525BDF24041A68AEAFA0BAAA8ADAEA528A4A2BA82C2FA2ACB480C2E27C72F3F3C8C9C9A620379594B40C7C228A39155680775831FAC627D8B5C7042B5B5B8CF6EC415B7B0BD3166EBCF4F2BFB53F7F10890E12983AC9D034F836814B572ED2D27C816B3FD7D1DCDC405D7D3D95B5E72828A9A7ACBC9292B20AB92E2733BF82F4DC72B2F28AC8C82B20393B9F84F43CE252B3094FC8C623B408B7E07CDC430AD9B2EB3826872D70F3F4C4ECA8E56D123A3A5B99B1600DBD3EF971DE9F91E820812F47AC37F2E5C68D5B34359FA7A5B191EADA26EA6B6BA9ABA922A7E81CE9797502B29684CC5A62D26B884AAB265C2413945845405C257E3115784795E1195E8A5B4831AE41F93806E4E278A68075DBAC31B73E4E606828F6CECE7748EC4547772BB316ACA4DFF015BA7F44A28304C60E5EAAE7793B50CBAB15BD2B04EA28ABAC154FD793925B2741592B5A57C08BD6536B0853C027557326A10A5F21E01D5D81474439AEA1A53806156377A690637EF962852CDB7A9493CEEE24A4A4E0E31FD08E84367317AD64E067CB4DEF47A283043E1D3067830BADE77FA258324AD9C5AB623F5122B15072E11245E72F52D87A817CB1BC96F3E434B792DDDC4266530BE90D4D24D7369050758ED83221575445486E0567334BF14B29C637B9844D46669C3E13447E7131E1D1B17748B8DC5D096D5D6D162C59C187A3973909E07B307790C0B0BED356DADFAA93B4985BD642C5E58BDC225D2C452C512C562C4A2C5C2C985B37CF72EB861FB7AEFA70EB274F6E5D72E3D679276E36DB73B3FE38376BACB95971949B2566624770379945544C1455F58D64E4E41215178FDFD9209CDCDC396A63CB9EFD26E86DD363F1F2950C19B7CCBD2D890E12D07A75C242DBEB6595CDA415345072F1BCACA69295A2C522C442C402C5FCE1968F94062FC9B76EF08BB3A42D7BB8701C5A6CA0F128D49941D521283381E2BD90BB13FB5DD349CBC9A7EEFC65A919B524A6A6E217142AB272E5B0C5D1DF825A5F9F8D9B37B078D972464D5A6B3B6874C6ED82D741027D9F1B39CBF24A5E713D095975145E689567C3C582C4CE88F989798B7988B90A0147B86E27046C8580951030170287A1E100D40AE8CADD50BA038A0C204F17BF03DFA0BDEA5B362EFC8A15333F67C2C449FC38E903D67DD59FAD5FBEC5D79F0EA3AFD644DEFB682C5A9F8CA5DFA0B17479794AFF8720D0BDFB27534DCFA7E5D4109D5A4556CB052EDCC8E0FCF514B1445AAFC78BC570E17A28ADD7C268F93984962B81B45C3A43F3793F9A9A7C68A8F7A2BEC69DBA72676A8B1CA8CE3B4155A62D1569D6A49CD987D98EC598E9CFE7C8F6D5ACD231E5D49E1F09D8BB9A70E3E56CDB60CC98B9568C9BB597D1DFEEE4B9018BD03C31F976A1EBE00A3CF2E4A0AF0E36C4A494119E584AC2B94B64B63690D952477A732D69CD35A43657115D778184FA1A921ACA48AC2F9379A5C4D5161355514078712EC1F9D99CC94CC757B28D575C226E91B1380545E17026027BDF508E799CC5D431083DEB580E5878626CE28AA1913D2BB43D99F2A3075356D83375A523AF7F6A8CE66F0BFB3D0481C71F7BF7F37D55C131850446171353DDC28D5F7D7F930BA27344E7D892DA50CEE55F64ECA668FC86C8E6BA85C848A47365BFE8DF50E4A327F2D116F96C8282F590BD1AD25642E252885924E1348746DFB51CB17207AFA9E0F48DBCFA73ECB7EF64C40237BE586083C4222F0F3544F3F8BC371E8280E691DE9F19979D0EC9C157CA7F8404F3F55BA7E579273107B11362962489D7AF5C538899D37A61AB14B18FB1F17A8D8CE4EFB8D5207AAFD3878A2D50B211F2D742D68F90BA1CE29740E402089D45F5A9B5EC371327B84D11F093E1F8588EEAEC64E81C67C6CCB114B3E28521063785C0AB0F43A0D3CBFFDA59E0EA9F8157600EC1D259DE42B28C8006C92C48A0729CB446E9779AF4F1CDE88D9E9D8635265DD86E318C9D47C7E3E0324C5661831010C0C502385F0067CD1502B384C00C21304D084CA4CE73297B0E8B63DC46C349B1E34330DB6CC087DF3B32628639FF167BE6A36D57358FCD7DB1C3049489CF0E36CC3DEE9984AB5F067E458D245FA824ADA5828CD62AB22F87937169312ED9FF64876767B61FEB8395EB0F9C0ADA817F843127BC96B260CBDF084876E16C563CA71343F18A0AC435C41F477F1FEC4E7961E3E2CA513B078CCD5D58B63B803DC616ECD866CAB62DFB992EFB904FBEB5E69369471832F5083D07E95D1102CF3E14811E1F18649839C462EF918E47F6550A7FCA25FBAA0B672EAFE464F13F391CD203ABD3A3F009D32322D99CD02413FCA3F5F18FD263AFDDC7CCD8A8E1B8CF12328A3C484EB52131CE92B80833A2030F11E1BB9F500F63821CB773E2E82156EC3A85B7C9263C77AEC7557F250B171DE2FDC9567C38E9201F7C7580A706EA5C10023D1F8AC023BD77A4181D915D987702FE35B6245E1B8457C513D827F4E154D422E981AC492B74223ED78C8874238293F4084D362030CE906D36FF60D581CE58DB3D2F129A2DF2990E99A2F194AFA51E4E90E095AE3950E4E23F94D29373D03792FA71E203B01804A66FB17DE9567A4DB066C084FDBC377E1FDD06E834693ACFEEFA5004DE9BBA3EEE78C2124ED7F6C639AF3B2EF163094FDB4B76890F05D5A7C92A7724B5C88CB86C63C2057870CA6622B375094EDECA5E87D7D96AF508DB2CBBD29C3E490888EED344F3094222EA2B081612FEE3A4160E27DD7601DA861253565A70E823D8FF0EEBE7E9F0EA580BFA8DDB43EF91BB79FCED4DF5B2177FB24304427F7E7E8C7763170FD7F2EEBFB866F7C63F6509E9056E949F8BA1AC2184FC5A0F722A8F89F78F10956A4C68C2762253B589C9DB4850C60AECC38770E4D42B18BA3CC17687AE24840D96142A24D2C60A8151426084742212E0FE9F804F7F32AD66A263208DA7751F21F096107885B57336F3C24833FA8C32A2CB7B5BD1F45A5FD3B9EFC647FF90406063CF7F9CCC7A748545BC26C33CB2078E51A389CA38207D4A0CB5CD69543485535A7F5A3CEF4466B1B5B4178765EBB88FA49C9DA417E90B992DA4146FC23BED0B8EF8FF1DEB80E7D9EFD31D13BFEE38F9BD4D5A8221F1E13B883DAB47948F36116E1B093DB98E209B6598EFDDCEC22DB6F818CEC26BCB6CDCD74EE38B29BB79E95313BABDAFAD80A7739F0D159DDFDCF0C87F1038E8AF19B8CB4B63BADD45D3BCCFFD15C9120B65A3E22B1BF4021ACEE750D5144D45C3598AAA3D453AF6A4E488EEF3CDC8293D405EB9B174AADBC92CD126A3782319856BF14E7A0787A867F1087F9D63A12F49A077C536E8754E041DE0E459178E9D92530E672BCC4E9871508277FFC13DAC3638CAE4B58EE86DD061F3F2ADAC9FBF8E215F9AD0758081805FA78057AC48017F0F81F5A61AFBCDE69D39E8FC2F82634C65C352C4C5CB4D34B61652DD9824AD6E94ACC059728B4F89B988D9515C694D69B539451526B29937A2A0DC80FC321DB24A361199F195A4CA97F08BEB239B9A7E78C7BECDDED34F6276F6450A12DE93001629C54AA086494F76F61D914F5FF07C89B8C35358B7C9586A610FD82799727757A68C5D8EE6755D3AF5BEED7DC5B2EF21B040F799FE96EEDFC876D0E136E0D6CB02BA3986F28620CA1BFD286DF0A4A0C689FC1A3B0A6AADC8AB36A5A8FEA06C66F651707E078517B751D2AC2BE36B492A5E4472F15C22B306129ADA0FF7E0B770097C93F0EC013865BE8879D8D352A1B5B8192F9A8F10124192697C074823FB2EB8BC4AC0BEEF58BE4E081C12F0BB5E80CD8F3266E84234BD45FBBD6F83572CFD1E02AB0DDF9C6CE6FAA934514FA26BA39160EBC46E8F473910F004E6915DB04D7A0AFB9CA7F1A8781EAF9A17F1AA7E9153B52FE155FB229E352FE055276332EE54F00CC7527B601DDB8D23C14F607CEA3176383D82AEAD063D2B0D56814F631ED50DB7A48134C77F28D5F74D21D04B084857E0F1B210E8C619E3C92C5FB3130E4ABBAF2B2AD9A061E4B0A5025EF47F97C0C6D47B08AC337A634D70EC21D1BB1F49991E2464B8C8A19383989D1C3C1D93BDAE8DA447293CD9E6C4E61C2126E700D1D9FB89CADA4344E62EC2D20D094AD62320612BBE311BF10A5F8B6BE02A1CFC9672DC6B21D66EF338EA3C971D66C3303EFD38EE69AFE21BFD1D865279F52D6DD87AC89CF5BB0FF3E3B6BD4C5D63C1A059B64C9AB6862F27AC62FCE815F4787F079DFA6C16CFDF9590B29BFA3D06F6D98C35BF74B9915FAE5EE2F295262E5CAEA3F55225CD174A683CFF5B00D7B76651D79A4E6D4B92C82B96CAA62891572865F54114D5F9925FED454E850769C52748C8B3203AF33061C9FBA490ED92032C03FCC277B2F3C818746C1FC126A63B3E49630990BEE78CFD7CFCAC7FC0E7C84CBCF64C60F98A358CF87607C7968CC066F670ACA6FF8B37B4B445FF3A6D086C8ABF87C076D321BB2B6AD3686829A2AE29979A8634AA1B92A93C1747C5B928B130CA6A8328AD0DA0A4F634C535121355AEE45538925B614756A9B5641F0B52F20F9390B38F984C2322D3A49825E9886DBB5D8D0FBB8CE4FBF51A6C4E7D4C70C150DC520671295AE473FA2969DCBA48D3260EB5D07062FD67CCFD41BA5443B9DF2CB646C3A08FD74806D26F4B20EA1E0286665A86C59551023E9BDAC64C011E4B457DA46498103985384B49B59F64186FC930EEE4953A935D7452CE388F919E6F495A9E991CA91C22357FBFB413023C653B6149BA52A5B7109AB18184FC033807FEC006330DCB766AF08F5D4376AD482BEE75E263A5D2BA09487B316BB1A31A8EAE1BCFB279CBEE21D07FF006D1BF5E1B029B954DF8EF12DA6D3D5027B7D49F9AC614F17C927839580AD519CAEA0478853785228DFC3267F2CAECC92A3C2ED736F29D95AC883985950729A8DC4B6EB911D95207324A74492DD84C42D10642737EE46CEA422C4F0D45D7FAFFB0C5F4515CC23E22306F2C218513F04F9F8DD5FE4F7139320127E37138EC18CBDCA5EB19F3FD766C977D8AF50FC3B198369CE73F30A0D39BAA849438D8AA1CD4FE4EC0E4E4C00D9945EE94D6850BF8B314D6884CCE7949BBE049698DAB0075944F3B59896394355A53281BF4BCC603E4371B53DAB84F4E9E77912F3520B74C572AF326A9C61B482E5D8BA3649A237EFFC0D4E745B63BFE0D439BBF13943F9EDC0BBA7804CE67F3A2816C99B7906D2B56A3BB70195BE72E66CC77460C9EB29FD59367B362E24C968C9B41CF8112C47DDBC6C016E514E17702879D07AC4E2FB2A3A8C69FE2EA5342C483923A1701EC28FAB7173B4E459D0DD5172C49A9DC4754823719D97172CEE94352950165CD867222BD552AF03A8985F5A4142CE74CF24742E0699C425FC1F4F4D3ECF5EB8299CF7358DA7DC18A29BD58FBB686ECF18261B1D842B145BF5DEF9B359965334442CBE45EB1A51A7A7D2829B4AFC4C0DD42A62D67376D085878F45F9C5C6021454A80D7BA4AABE020C7E3C745E3D6A27D2B89092BAA9B8E927F7E2FAE5EE658595AB177CF3EF4B58D30305A4556EB3AF22B364B0FB45A08CC272C6D20BEF1FFE4745C2F3952EC8543C4AB1C0CEE8E65C0ABD88ED450345C80CDBD037EC1BD04B6CF9AC1F219B24716E0B70908A997B5F48480C4C06D028AE9286738BFAF80B577FFF989126CD9152785C04901634B748A29415107C8293E42A51C46555F3A4C5CB92CBDAFD480342782134FE0137294FD168B082B9F4365AB2E5939B3F10A1820DBCE7E72EE3F00CF907708491E807DE8AB1C08EC8243E89BF81B7D49E0966F38BDF16B3CD74CC47DD5045C978FC779C9381C178EE19B993A8C992631306304D6D3FE8DC957A3E83670179DDE1609DD5D011D6533FE3B81E3FEEFCE8CCDDE496AB91905759692262DC92C3A2C19E6004512A435F54728BFB487F8BA153887AEC457B24D54F51EDCA5D7B78FF89690AA09721EFA1591E19F60BCBF2F2EDE03B1F7EA8F9DD73B84A76AE195F30687029EC425E23D46CA96F41DF77ADE3E5E42AFC379BCB22B83E7B624D17365345DE686D2639A17DD2638A119ED8A66B83D9A8F6C78F403631EE9A77D9740A73E7AF712B00BE83F35366F9B04DE7E69914D25064C293B7758B47F4832D341F91BC0214A2F1B1057B7948402699FABADC9BBBE8714898DB8BC2338E43E474AE3608AF3BE2626662469D9A3894F1F211B9BA1521786732AE34DACA2BBE2993084CFC2B3F930A48E41A78A79F7582E6F9AA4F19A5E3C2FAD0EE3D97901F498EA45D7F18E741D7B9C2E238FF2E4F0833CFEA1517B0227EF5901C7A0015F47666D24B96CB714261332CB769057B54BC8EC901429412AD7E597B589CA93AC539947715D02D93501A497059098158A6DF84859814F498E99447CDC781292C7119F267B889411C4668CC439BA37D691422069149F86E6F171480D1FF914D3FF442E6F1D48E50DFD385E5E13C673F303E839CD936E5F38D14D2530EC3F0974EEA36F7D0F0197D00FC68667AC25BE641B99E53B2416B6535C6B249948809FDB454EC3060A9BD7E31EBB5C0271859C3ECCE14CFD4C9CB2BF65A7DB440E9FFD80B892A1F257172D8202BF2424743C01A1A33813318AB0D4CF704E7A15BBF8A7F0489AC870F9E3C6C7A1350CF62F65C0C95CDE3E94C61B064260AD10582004A68B84BE70FC53029DFA18C8A9599B18700D1B38F274FC34FC93674BE5DC429A6494823A5DA9C6DB286FDE20D2194F78E950CEE60D61A37D3F3CAABE9243F5CF39756E221BECDE26287728EE716FE057D087BAC639D4D6CD9576640EB145C3F04E7893D3E9EF7332F21FB8A54E677070391F8554F1614029EFD98B8484C06BDBE2785124F4CC3C7F9EFAC693BF8F73E0C951C7786284398F7D62C2231FEC942CB4E5EE86A6539F1D724AD6868067C4D06196FEAF63EEF304E119AB6425BE25B1E27349A733A4E2CE26E5C267C45D194CCEB53138640EC0B7E807621AD6E29E3D1D9BB8F748BD329C88F35AA45D194353E36AEACF2DA3A679299EF13D4442DF9155B951CE44DFC23965269F47D6F245742DE3C32B19E955C430DB6C06EF4F61A07E2CEFAE0DE5AD45FEF49EE949AFE9CEBCF18D1DAF4DB4E295B18778F9DFBBE9DA7F2B9D7A6D94CE74CF77F712881C3ED8C2F7358CE54F073E71A3399D31088FCCD7092E1E4854AD165957D6937D631505377548630C4537640373D594C21BBA14B098B49BDF51853559371690D4FA9164AB6184977F8C5DCCA3D26A8F23AAE05BDC125EC02773317B0B2EB1AFF03C7BF39B314AA9C730B21AFD3365E80899CD8EB96C3896CE3A8B24D699C6B3E65034AB4DC2F8D13890D5BBFC78E55FDBD1BCB6F986A6CF89DBA77277B794879C7B0F3E1523F9387A1C3EA963F0CDFA1CBFBC310455C88F374E20E3E759E4DDFA81421652C47C4A594219CB2867A5D82AB11554CA67897C9F796D9A9CDA7D43CC3949AB959388ABFC868892C924974CE744C21A162434B122AD8165C9E758105AC91CC946332416A699A731796F02130DA2182FBDDAF80D017CBEF6346357BA3366B103236659F1443FEDAB9AD70D17ABE0EF12983057D3C3CC71429A77E89A5B629C8DDE742B3C51F756748AC1AD8804FD9B5189DB7E8D4BDEF96B62AAD1AF8929C6BF46C7EEB81113B7F3466C9CD18DB8F8DD372222B7DF080ED1B91E241618A27D3D2068F37537EF95D71C3D965C3BEE32F79A95C3AC1B56F6531A67EA8FDED4D9A94CABA777915677F702ADC7CCD2B5347AB15A9AA5415A9A69DE5A9A51CE5A9A0F6DB4347D0F6B695EDBA3A57969BB96E6E9CD5A9A27966B6934B3B5342F1AC8D6ED0FFE4626FF63E539B14962DF894D6F63D3E4FA413655E6FC9929EF930D70C7FF634947E7DED6D17FB3DD037EFEFCF99A0ED82099C31F98FA7C0FF9BEF5CE9CB6EF7C43C682DB3C5B2AD7A33AF09BFF81EB9E20566F3AF8A24D77C059DE01927207940246FD21658E4A5221AC8C2BE055526E72AD98324719530877C47977E7FC15028AC71450CAA70260D11D000A68E50754EFAB9E9E7A675C25ACCE53E6AA630FBD0A7F85407B2FAB1E56C777DF591105B8425005AC785AB1B69E56E62A73FEBF10507FBCBDC6DBC787324F99A38C2B726B3B5F919D32FEBF2A2115802291F680145D2B638A34547928F3946754FDABDE5625A6CC7B28FD2BF3FFAA8454CF29DE5301A80055C06D035999DFF65E5D2575EEFF3A01058CEA65D5A38A54943155F3CAB83AE77E634AF03F3470F599BFBA027FF6C36AF0FE25800F22F7570828F95C91801A9CEDC90CBAE37965DEFFB5871FF4EC5F21A0E66F2560FF9F017CD0BBFF2A01C5BB8AAED562F6D069F041001FF4FD1F115096FFCFFA1C0574DB0CA4CE5509289F6D9F5753A93AA6D60EE55EC940ED3395BAA2AA63DAAE72DB67057FBBBF912903775EA8A4C3FBF539EA8F290494EF957CDFB6D2AA6D849ADF951F579F51DEA95C2B81AD5CAB695501AA5CABF76D6B4CFBC2A73CABCCBBFDAE3F22F0677D8EF242E505AAB7D5606E1F0B2A689560FB42A500689B0094FBB6EF50B29832A63EDF36CEEECE7D500CA8201449292F50D8DFCFDBAA14DAFE88DA65B69FAF76A4F79368DB064F5D0D55056A3653E5799BFC8308B4EF7354426D73BB9AEFDB7B586DAF5529DDEF1985A4F29C4A56ED585547B525A916CAB6DDEF0309B4EF7354B06AE957B57BBF4E52AD118AC7DAC789EA085586EABDE265654CF17E7B72AA03EE51C59FADC0FDFA1CF5E5ED97BFAD77DB67A0F6BD4FDB8CD43E03B57DAF2A2795FCFD24F7A72B70BF3EA76DAFAFF637ED2BAD4240FD4EF954E2A7EDBD4256BD57AEDBF74AEA776ADCB5C5D1FEFAFE04FE1B37F7FFD527128AC3FF07E10EC211310D5B9B0000000049454E44AE426082)
END

END

--2) Them table MToKhai
if not exists (select top 1 1 from sysTable where TableName = 'MToKhai' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'MToKhai', N'Danh sách tờ khai thuế GTGT', N'List of VAT return', N'MToKhaiID', NULL, NULL, 0, N'Stt', NULL, 0, NULL, 8, NULL, 2)

GO

declare @sysTableMToKhaiID as int
select @sysTableMToKhaiID = sysTableID from sysTable where TableName = 'MToKhai' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'MToKhaiID' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'MToKhaiID', 0, NULL, NULL, NULL, NULL, 6, N'Mã tờ khai', N'Mã tờ khai E', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'KyToKhai' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'KyToKhai', 0, NULL, NULL, NULL, NULL, 5, N'Kỳ lập tờ khai', N'VAT Return period', 1, NULL, NULL, 12, 1, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NamToKhai' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'NamToKhai', 0, NULL, NULL, NULL, NULL, 5, N'Năm lập tờ khai', N'VAT Return year', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 1, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'NgayToKhai' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'NgayToKhai', 0, NULL, NULL, NULL, NULL, 9, N'Ngày lập tờ khai', N'VAT Return date', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'DienGiai' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'DienGiai', 1, NULL, NULL, NULL, NULL, 2, N'Diễn giải', N'Description', 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'InLanDau' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'InLanDau', 0, NULL, NULL, NULL, NULL, 10, N'In lần đầu', NULL, 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'SoLanIn' and sysTableID = @sysTableMToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableMToKhaiID, N'SoLanIn', 1, NULL, NULL, NULL, NULL, 5, N'Bổ sung lần thứ', NULL, 6, NULL, NULL, NULL, 1, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

GO

--3) Them table DToKhai

if not exists (select top 1 1 from sysTable where TableName = 'DToKhai' and sysPackageID = 8)
INSERT [dbo].[sysTable] ([TableName], [DienGiai], [DienGiai2], [Pk], [ParentPk], [MasterTable], [Type], [SortOrder], [DetailField], [System], [MaCT], [sysPackageID], [Report], [CollectType]) 
VALUES (N'DToKhai', N'Chi tiết tờ khai thuế GTGT', N'List of VAT return', N'DToKhaiID', NULL, N'MToKhai', 3, N'SortOrder', NULL, 0, NULL, 8, NULL, 1)

GO

declare @sysTableDToKhaiID as int
select @sysTableDToKhaiID = sysTableID from sysTable where TableName = 'DToKhai' and sysPackageID = 8

if not exists (select top 1 1 from sysField where FieldName = 'DToKhaiID' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'DToKhaiID', 0, NULL, NULL, NULL, NULL, 6, N'Mã chi tiết', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'MToKhaiID' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'MToKhaiID', 0, N'MToKhaiID', N'MToKhai', NULL, NULL, 7, N'Mã tờ khai', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0, 0, N'FK_DToKhai_MToKhai2', NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'Stt' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'Stt', 0, NULL, NULL, NULL, NULL, 2, N'Stt', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ChiTieu' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'ChiTieu', 0, NULL, NULL, NULL, NULL, 2, N'Chỉ tiêu', N'Target', 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'CodeGT' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'CodeGT', 1, NULL, NULL, NULL, NULL, 2, N'Mã giá trị HHDV', N'Goods/services value code', 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'GTHHDV' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'GTHHDV', 0, NULL, NULL, NULL, NULL, 8, N'Giá trị HHDV', N'Goods/services value', 4, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DToKhai_GTHHDV', N'### ### ### ###', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'CodeThue' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'CodeThue', 1, NULL, NULL, NULL, NULL, 2, N'Mã thuế GTGT', N'VAT code', 5, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'ThueGTGT' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'ThueGTGT', 0, NULL, NULL, NULL, NULL, 8, N'Thuế GTGT', N'VAT tax', 6, NULL, NULL, NULL, NULL, N'0', NULL, NULL, 1, 0, 0, 0, 1, NULL, N'DF_DToKhai_ThueGTGT', N'### ### ### ###', 0, NULL)

if not exists (select top 1 1 from sysField where FieldName = 'SortOrder' and sysTableID = @sysTableDToKhaiID)
INSERT [dbo].[sysField] ([sysTableID], [FieldName], [AllowNull], [RefField], [RefTable], [DisplayMember], [RefCriteria], [Type], [LabelName], [LabelName2], [TabIndex], [Formula], [FormulaDetail], [MaxValue], [MinValue], [DefaultValue], [Tip], [TipE], [Visible], [IsBottom], [IsFixCol], [IsGroupCol], [SmartView], [RefName], [DefaultName], [EditMask], [IsUnique], [DynCriteria]) 
VALUES (@sysTableDToKhaiID, N'SortOrder', 0, NULL, NULL, NULL, NULL, 5, N'Thứ tự in', N'Printing order', 7, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 0, 0, 0, 1, NULL, NULL, NULL, 0, NULL)

-- Dictionary
if not exists (select top 1 1 from Dictionary where Content = N'Tạo tờ khai thuế VAT')
insert into Dictionary(Content, Content2) Values (N'Tạo tờ khai thuế VAT',N'Edit VAT return')

if not exists (select top 1 1 from Dictionary where Content = N'Kỳ lập tờ khai')
insert into Dictionary(Content, Content2) Values (N'Kỳ lập tờ khai',N'VAT return period')

if not exists (select top 1 1 from Dictionary where Content = N'Ngày lập tờ khai')
insert into Dictionary(Content, Content2) Values (N'Ngày lập tờ khai',N'VAT return date')

if not exists (select top 1 1 from Dictionary where Content = N'Diễn giải')
insert into Dictionary(Content, Content2) Values (N'Diễn giải',N'Description')

if not exists (select top 1 1 from Dictionary where Content = N'Xóa tờ khai')
insert into Dictionary(Content, Content2) Values (N'Xóa tờ khai',N'Remove VAT return')

if not exists (select top 1 1 from Dictionary where Content = N'Tiếp tục >>')
insert into Dictionary(Content, Content2) Values (N'Tiếp tục >>',N'Continue >>')

if not exists (select top 1 1 from Dictionary where Content = N'ESC-Thoát')
insert into Dictionary(Content, Content2) Values (N'ESC-Thoát',N'ESC-Exit')

if not exists (select top 1 1 from Dictionary where Content = N'Bạn có thật sự muốn xóa tờ khai không?')
insert into Dictionary(Content, Content2) Values (N'Bạn có thật sự muốn xóa tờ khai không?',N'Do you want to remove VAT return?')

if not exists (select top 1 1 from Dictionary where Content = N'Tờ khai đã xóa thành công!')
insert into Dictionary(Content, Content2) Values (N'Tờ khai đã xóa thành công!',N'Removing VAT return is successful!')

if not exists (select top 1 1 from Dictionary where Content = N'Không thể xóa tờ khai!')
insert into Dictionary(Content, Content2) Values (N'Không thể xóa tờ khai!',N'Removing VAT return is failed!')

if not exists (select top 1 1 from Dictionary where Content = N'Vui lòng chọn kỳ lập tờ khai!')
insert into Dictionary(Content, Content2) Values (N'Vui lòng chọn kỳ lập tờ khai!',N'Please choose VAT return period!')

if not exists (select top 1 1 from Dictionary where Content = N'Tờ khai này đã tồn tại!')
insert into Dictionary(Content, Content2) Values (N'Tờ khai này đã tồn tại!',N'VAT return exists!')

if not exists (select top 1 1 from Dictionary where Content = N'Lần đầu')
insert into Dictionary(Content, Content2) Values (N'Lần đầu',N'First')

if not exists (select top 1 1 from Dictionary where Content = N'Bổ sung lần thứ')
insert into Dictionary(Content, Content2) Values (N'Bổ sung lần thứ',N'Additional times')

if not exists (select top 1 1 from Dictionary where Content = N'Tờ khai thuế GTGT tạo thành công!')
insert into Dictionary(Content, Content2) Values (N'Tờ khai thuế GTGT tạo thành công!',N'VAT return was created sucessfully!')

if not exists (select top 1 1 from Dictionary where Content = N'Cập nhật tờ khai thuế GTGT thành công!')
insert into Dictionary(Content, Content2) Values (N'Cập nhật tờ khai thuế GTGT thành công!',N'VAT return was updated sucessfully!')

if not exists (select top 1 1 from Dictionary where Content = N'Chỉ tiêu [42] không thể lớn hơn chỉ tiêu [41]!')
insert into Dictionary(Content, Content2) Values (N'Chỉ tiêu [42] không thể lớn hơn chỉ tiêu [41]!',N'Target [42] can not be larger than target [41]!')

if not exists (select top 1 1 from Dictionary where Content = N'Chỉ tiêu [42] không thể lớn hơn chỉ tiêu [41]!')
insert into Dictionary(Content, Content2) Values (N'Chỉ tiêu [42] không thể lớn hơn chỉ tiêu [41]!',N'Target [42] can not be larger than target [41]!')

if not exists (select top 1 1 from Dictionary where Content = N'Mã Giá trị HHDV')
insert into Dictionary(Content, Content2) Values (N'Mã Giá trị HHDV',N'Goods - servives code')

if not exists (select top 1 1 from Dictionary where Content = N'Giá trị HHDV')
insert into Dictionary(Content, Content2) Values (N'Giá trị HHDV',N'Goods - servives value')
