@model MyConnection.HoiVien

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="dulieu">

</div>
<input type="button" value="lấy dữ liệu" id="btnlay" />


<script type="text/javascript">
$(document).ready(function () {

    function loadgrid() {
        
        $("#dulieu").empty;
        
        var grid = "<table> <tr><td> <input type='checkbox' id='checkid' /> </td></tr>";
        
        for (i = 0; i < 10; i++) {
            grid += "<tr><td> <input type='checkbox' name='check' /> </td></tr>";
        };

        grid = grid + "</table>";
        $("#dulieu").append(grid);

        $("#checkid").click(function () {
            var c = this.checked;
            $("[name='check']").attr("checked",c);
        });
        $("[name='check']").click(function () {
            alert("yeah");
        });
    };

    $("#btnlay").click(function () {
        loadgrid();
    });
});
</script>
