
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Database

@model ASOFT.ERP.A00.Entities.Common.PeriodComboboxModel
@{
    var comboBox = (Html.ASOFTCombobox(model => model.Period, htmlStyle: Model.Style)
        .Name(Model.Name)
        .DataValueField(MTV9999.COL_MONTHYEAR)
        .DataTextField(MTV9999.COL_MONTHYEAR)
        .Enable(Model.Enabled)
        .HeaderTemplate(
            "<ul class=\"k-list asf-combo-item-header\">" +
                "<li class=\"k-item asf-combo-item-header-text\">" +
                    "<div class=\"asf-combo-item\">" +
                        "<div class=\"k-state-default asf-combo-col asf-combo-item-col-value-only\">Kỳ kế toán</div>" +
                        /*"<div class=\"k-state-default asf-combo-item-col asf-combo-item-col-text\">Tháng</div>" +*/
                        /*"<div class=\"k-state-default asf-combo-item-col asf-combo-item-col-text\">Năm</div>" +*/
                    "</div>" +
                "</li>"+
            "</ul>"
        )
        .Template(
            "<div class=\"asf-combo-item\">" +
                "<div class=\"k-state-default asf-combo-col asf-combo-item-col-value-only\">${MonthYear}</div>" +
                /*"<div class=\"k-state-default asf-combo-item-col asf-combo-item-col-text\">${TranMonth}</div>" +*/
                /*"<div class=\"k-state-default asf-combo-item-col asf-combo-item-col-text\">${TranYear}</div>" +*/
            "</div>"
        ));
    if (!string.IsNullOrEmpty(Model.SelectedIndexChanged))
    {
        comboBox.Events(model => model.Change(Model.SelectedIndexChanged));
    }
    if (Model.List != null && Model.List.Count > 0)
    {
        if (Model.SelectedFirst)
        {
            comboBox.SelectedIndex(0);
        }

        comboBox.BindTo(Model.List);
    }
}

@comboBox