
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.DRM
@using ASOFT.ERP.DRM.Entities
@model DRF0200ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "DRF0200Grid",
                              NameEventPost = "",
                              Scrollable = true,
                              ActionName = "GetGridData",
                              ControllerName = "DRF0200",
                              HtmlAttribute = new { @class = "asf-grid" },
                              IsShowCheck = true,
                              IsAutoHeight = false,
                              ListGridColumn = new List<ASOFTGridColumnSetting>{
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = "RowNum",
                                                               TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                               Width = 50,
                                                               VisibleColumn = true,
                                                               ClientTemplate="#= DRF0200.rowNumber() #"
                                                           },
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT0200.COL_BRANCHID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.BranchID),
                                                               Width = 200,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               EditorTemplateName = "ComboBoxBrandID"
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT0200.COL_CUSTOMERID,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.CustomerID),
                                                               Width = 200,
                                                               VisibleColumn = false
                                                           },  
                                        new ASOFTGridColumnSetting
                                                           {
                                                               IDColumn = DRT0200.COL_FEEPERCENT,
                                                               TitleColumn = Html.ASOFTRaw(model=>model.FeePercent),
                                                               Width = 100,
                                                               VisibleColumn = true,
                                                               EditColumn = true,
                                                               Format = ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.PercentDecimal),
                                                               EditorTemplateName = "DRMSpinEdit"
                                                           },   
                                        new ASOFTGridColumnSetting
                                                            {
                                                                IDColumn = DRT0200.COL_APK,
                                                                Width = 50,
                                                                VisibleColumn = true,
                                                                ClientTemplate = string.Format("<a href='\\#' onclick='return {0}' class='asf-i-delete-24 asf-icon-24'><span>Del</span></a>",
                                                                        "DRF0200.deleteItem(this)"), 
                                                                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
                                                            }
                                
                              }
                          };
}

@(Html.ASOFTCreateGridEdit<DRT0200>(gridsetting,false))