@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@using ASOFT.ERP.A00.Entities.Database

@model POSF0056ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "GridVoucherDetail", 
        Scrollable = true, 
        ControllerName = "POSF0054",
        ActionName = "GetGridDetailData",
        IsAutoHeight =  true,
        NameEventPost = "sendDataFilter",
        IsShowCheck = true,
        HtmlAttribute = new
        {
            style = "height:340px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"}),
                ClientTemplate = "#= renderNumber(data) #",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_WAREHOUSEID,
                TitleColumn = Html.ASOFTRaw(model => model.WarehouseID),
                Width = 150,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_INVENTORYID,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryID),
                Width = 120,
                VisibleColumn = true,
                ClientTemplate = "<a class='asf-grid-link'  data-apk=#:APK# >#:InventoryID#</a>",
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_INVENTORYNAME,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 190,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_UNITNAME,
                TitleColumn = Html.ASOFTRaw(model => model.UnitName),
                Width = 120,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_QUANTITY,
                TitleColumn = Html.ASOFTRaw(model => model.Quantity),
                Width = 110,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                EditColumn = true,
                VisibleColumn = true
            },
                new ASOFTGridColumnSetting
            {
                IDColumn = POST0039.COL_DESCRIPTION,
                TitleColumn = Html.ASOFTRaw(model => model.Description),
                Width = 110,
                EditColumn = true,
                VisibleColumn = true
            },
        }
    };
}

@(Html.ASOFTCreateGrid<ASOFT.ERP.POS.Entities.POSP0052>(gridsetting))