@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.POS
@model POSF0023ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF0023Grid", 
        Scrollable = true, 
        ControllerName = "POSF0023",
        ActionName = "GridData",
        HtmlAttribute = new
        {
            style = "height:590px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                 TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherDate",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherDateFilter),
                Width = 100,
                Format = "{0:dd/MM/yyyy}",
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "VoucherNo",
                TitleColumn = Html.ASOFTRaw(model => model.VoucherNoFilter),
                ClientTemplate = "<a class='asf-grid-link' onclick='voucherDetail_Click(this)'>#=VoucherNo#</a>",
                Width = 120,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "PreparedBy",
                TitleColumn = Html.ASOFTRaw(model => model.PreparedByFilter),
                Width = 160,
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "Description",
                TitleColumn = Html.ASOFTRaw(model => model.DescriptionFilter),
                Width = 200,
                VisibleColumn = true
            }
        }
    };
}

@(Html.ASOFTCreateGrid<POSF0023GridViewModel>(gridsetting))

