-- <Summary>
---- 
-- <History>
---- Create on 28/12/2012 by Huỳnh Tấn Phú
---- Modified on ... by ...
---- <Example>
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG01')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG01', N'Máy phát động lực', 8, 10, 0, 1)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG02')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG02', N'Máy phát điện', 7, 10, 0, 2)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG03')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG03', N'Máy biến áp và thiết bị nguồn điện', 7, 10, 0, 3)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG04')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG04', N'Máy móc, thiết bị động lực khác', 6, 10, 0, 4)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG05')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG05', N'Máy công cụ', 7, 10, 0, 5)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG06')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG06', N'Máy khai khoáng xây dựng', 5, 8, 0, 6)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG07')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG07', N'Máy kéo', 6, 8, 0, 7)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG08')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG08', N'Máy dùng cho nông, lâm nghiệp', 6, 8, 0, 8)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG09')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG09', N'Máy bơm nước và xăng dầu', 6, 8, 0, 9)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG10')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG10', N'Thiết bị luyện kim, gia công bề mặt chống gỉ và ăn mòn kim loại', 7, 10, 0, 10)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG11')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG11', N'Thiết bị chuyên dùng sản xuất các loại hóa chất', 6, 10, 0, 11)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG12')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG12', N'Máy móc, thiết bị chuyên dùng sản xuất vật liệu xây dựng, đồ sành sứ, thủy tinh', 6, 8, 0, 12)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG13')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG13', N'Thiết bị chuyên dùng sản xuất các linh kiện và điện tử, quang học, cơ khí chính xác', 5, 12, 0, 13)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG14')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG14', N'Máy móc, thiết bị dùng trong các ngành sản xuất da, in văn phòng phẩm và văn hóa phẩm', 7, 10, 0, 14)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG15')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG15', N'Máy móc, thiết bị dùng trong ngành dệt', 10, 15, 0, 15)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG16')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG16', N'Máy móc, thiết bị dùng trong ngành may mặc', 5, 7, 0, 16)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG17')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG17', N'Máy móc, thiết bị dùng trong ngành giấy', 5, 15, 0, 17)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG18')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG18', N'Máy móc, thiết bị sản xuất, chế biến lương thực, thực phẩm', 7, 12, 0, 18)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG19')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG19', N'Máy móc, thiết bị điện ảnh, y tế', 6, 12, 0, 19)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG20')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG20', N'Máy móc, thiết bị viễn thông, thông tin, điện tử, tin học và truyền hình', 3, 15, 0, 20)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG21')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG21', N'Máy móc, thiết bị sản xuất được phẩm', 6, 10, 0, 21)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG22')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG22', N'Máy móc, thiết bị công tác khác', 5, 12, 0, 22)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG23')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG23', N'Thiết bị đo lường, thử nghiệm các đại lượng cơ học, âm học và nhiệt học', 5, 10, 0, 23)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG24')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG24', N'Thiết bị quang học và quang phổ', 6, 10, 0, 24)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG25')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG25', N'Thiết bị điện và điện tử', 5, 8, 0, 25)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG26')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG26', N'Thiết bị đo và phân tích lý hóa', 6, 10, 0, 26)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG27')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG27', N'Thiết bị và dụng cụ đo phóng xạ', 6, 10, 0, 27)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG28')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG28', N'Thiết bị chuyên ngành đặc biệt', 5, 8, 0, 28)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG29')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG29', N'Các thiết bị đo lường, thí nghiệm khác', 6, 10, 0, 29)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG30')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG30', N'Khuôn mẫu dùng trong công nghiệp đúc', 2, 5, 0, 30)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG31')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG31', N'Phương tiện vận tải đường bộ', 6, 10, 0, 31)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG32')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG32', N'Phương tiện vận tải đường sắt', 7, 15, 0, 32)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG33')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG33', N'Phương tiện vận tải đường thủy', 7, 15, 0, 33)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG34')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG34', N'Phương tiện vận tải đường không', 8, 20, 0, 34)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG35')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG35', N'Thiết bị vận chuyển đường ống', 10, 30, 0, 35)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG36')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG36', N'Phương tiện bốc dỡ, nâng hàng', 6, 10, 0, 36)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG37')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG37', N'Thiết bị và phương tiện vận tải khác', 6, 10, 0, 37)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG38')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG38', N'Thiết bị tính toán ,đo lường', 5, 8, 0, 38)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG39')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG39', N'Máy móc, thiết  bị thông tin, điện tử và phần mềm tin học phục vụ quản lý', 3, 8, 0, 39)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG40')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG40', N'Phương tiện và  dụng cụ quản lý khác', 5, 10, 0, 40)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG41')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG41', N'Nhà cửa loại kiên cố', 25, 50, 0, 41)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG42')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG42', N'Kho chứa, bể  chứa; cầu, đường; bãi đỗ, sân phơi...', 5, 20, 0, 42)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG43')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG43', N'Kè, đập, cống,  kênh, mương máng, bến cảng, ụ tàu...', 6, 30, 0, 43)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG44')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG44', N'Các vật kiến  trúc khác', 5, 10, 0, 44)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG45')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG45', N'Các loại súc vật', 4, 15, 0, 45)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG46')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG46', N'Vườn cây công  nghiệp, vườn cây ăn quả, vườn cây lâu năm', 6, 40, 0, 46)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG47')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG47', N'Thảm cỏ, thảm cây xanh', 2, 8, 0, 47)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501STD WHERE AssetGroupID = 'AG48')
	INSERT INTO AT1501STD (AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, [Disabled], Orders) VALUES ('AG48', N'Các loại tài  sản cố định khác chưa quy định trong các nhóm trên', 4, 25, 0, 48)
IF NOT EXISTS(SELECT TOP 1 1 FROM AT1501)
BEGIN
	INSERT INTO AT1501 (DivisionID, AssetGroupID, AssetGroupName, MinDepreciation, MaxDepreciation, Disabled, Orders)
		SELECT	AT.DivisionID, STD.AssetGroupID, STD.AssetGroupName, STD.MinDepreciation, STD.MaxDepreciation, STD.[Disabled], STD.Orders
		FROM	AT1501STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT
END