--- Create by Thanh Sơn on 09/01/2015: Dữ liệu danh mục chi cục thuế Việt Nam

IF NOT EXISTS (SELECT TOP 1 1 FROM AT0291)
BEGIN
	INSERT INTO AT0291 (TaxDepartmentID, TaxDepartmentName, ShortTaxDepartment, [Disabled], IsCommon, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('101', N'Cục Thuế Thành phố Hà Nội', 'HAN', 0, 1, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0291 (TaxDepartmentID, TaxDepartmentName, ShortTaxDepartment, [Disabled], IsCommon, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('103', N'Cục Thuế Thành phố Hải Phòng', 'HPH', 0, 1, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0291 (TaxDepartmentID, TaxDepartmentName, ShortTaxDepartment, [Disabled], IsCommon, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('107', N'Cục Thuế Tỉnh Hải Dương', 'HDU', 0, 1, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0291 (TaxDepartmentID, TaxDepartmentName, ShortTaxDepartment, [Disabled], IsCommon, CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('109', N'Cục Thuế Tỉnh Hưng Yên', 'HYE', 0, 1, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())



























































END