-- <Summary>
---- 
-- <History>
---- Create on 05/05/2015 by Thanh Sơn
---- Modified on ... by ...
---- <Example> 
DECLARE @DivisionID VARCHAR(50) =  (SELECT TOP 1 DefDivisionID FROM AT0000)

IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '101')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '101', N'Hà Nội', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '103')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '103', N'Hải Phòng', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '107')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '107', N'Hải Dương', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '109')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '109', N'Hưng Yên', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '111')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '111', N'Hà Nam', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '113')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '113', N'Nam Định', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '115')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '115', N'Thái Bình', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '117')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '117', N'Ninh Bình', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '201')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '201', N'Hà Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '203')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '203', N'Cao Bằng', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '205')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '205', N'Lào Cai', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '207')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '207', N'Bắc Cạn', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '209')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '209', N'Lạng Sơn', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '211')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '211', N'Tuyên Quang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '213')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '213', N'Yên Bái', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '215')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '215', N'Thái Nguyên', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '217')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '217', N'Phú Thọ', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '219')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '219', N'Vĩnh Phúc', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '221')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '221', N'Bắc Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '223')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '223', N'Bắc Ninh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '225')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '225', N'Quảng Ninh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '301')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '301', N'Điện Biên', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '302')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '302', N'Lai Châu', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '303')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '303', N'Sơn La', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '305')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '305', N'Hòa Bình', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '401')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '401', N'Thanh Hoá', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '403')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '403', N'Nghệ An', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '405')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '405', N'Hà Tĩnh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '407')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '407', N'Quảng Bình', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '409')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '409', N'Quảng Trị', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '411')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '411', N'Thừa Thiên - Huế', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '501')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '501', N'Đà Nẵng', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '503')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '503', N'Quảng Nam', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '505')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '505', N'Quảng Ngãi', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '507')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '507', N'Bình Định', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '509')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '509', N'Phú Yên', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '511')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '511', N'Khánh Hòa', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '601')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '601', N'Kon Tum', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '603')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '603', N'Gia Lai', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '605')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '605', N'Đắc Lắc', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '606')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '606', N'Đắk Nông', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '701')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '701', N'TP Hồ Chí Minh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '703')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '703', N'Lâm Đồng', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '705')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '705', N'Ninh Thuận', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '707')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '707', N'Bình Phước', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '709')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '709', N'Tây Ninh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '711')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '711', N'Bình Dương', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '713')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '713', N'Đồng Nai', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '715')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '715', N'Bình Thuận', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '717')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '717', N'Bà Rịa - Vũng Tàu', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '801')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '801', N'Long An', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '803')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '803', N'Đồng Tháp', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '805')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '805', N'An Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '807')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '807', N'Tiền Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '809')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '809', N'Vĩnh Long', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '811')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '811', N'Bến Tre', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '813')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '813', N'Kiên Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '815')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '815', N'Cần Thơ', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '816')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '816', N'Hậu Giang', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '817')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '817', N'Trà Vinh', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '819')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '819', N'Sóc Trăng', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '821')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '821', N'Bạc Liêu', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '823')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '823', N'Cà Mau', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
IF NOT EXISTS (SELECT TOP 1 1 FROM AT1002 WHERE CityID = '999')	INSERT INTO AT1002 (DivisionID, CityID, CityName, [Disabled], CreateDate, CreateUserID, LastModifyDate, LastModifyUserID, IsCommon) VALUES (@DivisionID, '999', N'Khác', 0, GETDATE(), 'ASOFTADMIN', GETDATE(), 'ASOFTADMIN', 1)
