-- <Summary>
---- Danh mục văn bản về thuế bảo vệ môi trường - AT0294+AT0295 - Hỗ trợ 17/03/2015
-- <History>
---- Create on 19/03/2015 by Lê Thị Hạnh 
DECLARE @VoucherID NVARCHAR(50)

IF NOT EXISTS (SELECT TOP 1 1 FROM AT0294 WHERE LegalDocumentID = N'156/2013/TT-BTC')
BEGIN
SET @VoucherID = NEWID()
INSERT INTO AT0295(VoucherID, TransactionID, ETaxID, ETaxAmount)
VALUES(@VoucherID,NEWID(),N'010101',1000)
INSERT INTO AT0295(VoucherID, TransactionID, ETaxID, ETaxAmount)
VALUES(@VoucherID,NEWID(),N'010102',1000)
INSERT INTO AT0295(VoucherID, TransactionID, ETaxID, ETaxAmount)
VALUES(@VoucherID,NEWID(),N'010103',500)
END

