--- Create by Thanh Sơn on 09/01/2015: Dữ liệu danh mục chi cục thuế Việt Nam

IF NOT EXISTS (SELECT TOP 1 1 FROM AT0292)
BEGIN
	INSERT INTO AT0292 (TaxDepartmentID, TaxDepartID, TaxDepartName, [Disabled],  CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('101', '10100', N'Cục Thuế Thành phố Hà Nội', 0, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0292 (TaxDepartmentID, TaxDepartID, TaxDepartName, [Disabled],  CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('101', '10101', N'Chi cục Thuế Quận Ba Đình', 0, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0292 (TaxDepartmentID, TaxDepartID, TaxDepartName, [Disabled],  CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('101', '10103', N'Chi cục Thuế Quận Tây Hồ', 0, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())

	INSERT INTO AT0292 (TaxDepartmentID, TaxDepartID, TaxDepartName, [Disabled],  CreateUserID, CreateDate, LastModifyUserID, LastModifyDate)
	VALUES ('101', '10105', N'Chi cục Thuế Quận Hoàn Kiếm', 0, 'ASOFTADMIN',GETDATE(), 'ASOFTADMIN',GETDATE())
































































































































































































































































































































































































































































































































































































































































































































































































END