-- <Summary>
---- 
-- <History>
---- Create on 17/10/2013 by Huỳnh Tấn Phú
---- Modified on ... by ...
---- <Example>
DECLARE @DivisionID NVarchar(50)
Declare cur_AllDivision  CURSOR scroll for 
	SELECT DivisionID FROM AT1101
	OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
WHILE @@fetch_status = 0
  BEGIN	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A01' and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A01',1,N'A01 - Tham số 1',N'Tham số 1',0,'Parameter 1')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A02'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A02',1,N'A02 - Tham số 2',N'Tham số 2',0,'Parameter 2')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A03'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A03',1,N'A03 - Tham số 3',N'Tham số 3',0,'Parameter 3')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A04'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A04',1,N'A04 - Tham số 4',N'Tham số 4',0,'Parameter 4')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A05'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A05',1,N'A05 - Tham số 5',N'Tham số 5',0,'Parameter 5')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A06'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A06',1,N'A06 - Tham số 6',N'Tham số 6',0,'Parameter 6')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A07'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A07',1,N'A07 - Tham số 7',N'Tham số 7',0,'Parameter 7')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A08'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A08',1,N'A08 - Tham số 8',N'Tham số 8',0,'Parameter 8')		
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A09'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A09',1,N'A09 - Tham số 9',N'Tham số 9',0,'Parameter 9')				
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A10'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A10',1,N'A10 - Tham số 10',N'Tham số 10',0,'Parameter 10')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A11'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A11',1,N'A11 - Tham số 11',N'Tham số 11',0,'Parameter 11')				
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A12'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A12',1,N'A12 - Tham số 12',N'Tham số 12',0,'Parameter 12')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A13'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A13',1,N'A13 - Tham số 13',N'Tham số 13',0,'Parameter 13')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A14'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A14',1,N'A14 - Tham số 14',N'Tham số 14',0,'Parameter 14')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A15'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A15',1,N'A15 - Tham số 15',N'Tham số 15',0,'Parameter 15')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A16'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A16',1,N'A16 - Tham số 16',N'Tham số 16',0,'Parameter 16')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A17'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A17',1,N'A17 - Tham số 17',N'Tham số 17',0,'Parameter 17')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A18'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A18',1,N'A18 - Tham số 18',N'Tham số 18',0,'Parameter 18')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A19'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A19',1,N'A19 - Tham số 19',N'Tham số 19',0,'Parameter 19')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'A20'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'A20',1,N'A20 - Tham số 20',N'Tham số 20',0,'Parameter 20')			
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C01'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C01',0,N'C01 - Tham số 1',N'Tham số 1',0,'Parameter 1')		
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C02'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C02',0,N'C02 - Tham số 2',N'Tham số 2',0,'Parameter 2')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C03'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C03',0,N'C03 - Tham số 3',N'Tham số 3',0,'Parameter 3')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C04'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C04',0,N'C04 - Tham số 4',N'Tham số 4',0,'Parameter 4')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C05'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C05',0,N'C05 - Tham số 5',N'Tham số 5',0,'Parameter 5')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C06'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C06',0,N'C06 - Tham số 6',N'Tham số 6',0,'Parameter 6')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C07'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C07',0,N'C07 - Tham số 7',N'Tham số 7',0,'Parameter 7')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C08'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C08',0,N'C08 - Tham số 8',N'Tham số 8',0,'Parameter 8')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C09'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C09',0,N'C09 - Tham số 9',N'Tham số 9',0,'Parameter 9')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C10'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C10',0,N'C10 - Tham số 10',N'Tham số 10',0,'Parameter 10')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C12'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C12',0,N'C12 - Tham số 12',N'Tham số 12',0,'Parameter 12')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C11'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C11',0,N'C11 - Tham số 11',N'Tham số 11',0,'Parameter 11')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C12'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C12',0,N'C12 - Tham số 12',N'Tham số 12',0,'Parameter 12')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C13'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C13',0,N'C13 - Tham số 13',N'Tham số 13',0,'Parameter 13')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C14'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C14',0,N'C14 - Tham số 14',N'Tham số 14',0,'Parameter 14')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C15'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C15',0,N'C15 - Tham số 15',N'Tham số 15',0,'Parameter 15')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C16'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C16',0,N'C16 - Tham số 16',N'Tham số 16',0,'Parameter 16')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C17'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C17',0,N'C17 - Tham số 17',N'Tham số 17',0,'Parameter 17')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C18'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C18',0,N'C18 - Tham số 18',N'Tham số 18',0,'Parameter 18')
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C19'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C19',0,N'C19 - Tham số 19',N'Tham số 19',0,'Parameter 19')	
	IF NOT EXISTS ( SELECT TypeID FROM FT0001 WHERE TypeID = 'C20'and DivisionID = @DivisionID)
		InSert Into FT0001 (APK, DivisionID, TypeID, IsAsset, SystemName, UserName, IsUsed, UserNameE)
		Values (NEWID(), @DivisionID, 'C20',0,N'C20 - Tham số 20',N'Tham số 20',0,'Parameter 20')			
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision
