-- <Summary>
---- Insert dữ liệu chuẩn cho bảng danh sách mã tỉnh, thành phố cấp CMND
-- <History>
---- Create on 23/12/2013 by Bảo Anh
---- Modified on ... by ...
---- <Example>
DELETE FROM HT1032


INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'89',N'An Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'77',N'Bà Rịa Vũng Tàu',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'24',N'Bắc Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'06',N'Bắc Kạn',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'95',N'Bạc Liêu',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'27',N'Bắc Ninh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'83',N'Bến Tre',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'52',N'Bình Định',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'74',N'Bình Dương',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'70',N'Bình Phước',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'60',N'Bình Thuận',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'96',N'Cà Mau',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'92',N'Cần Thơ',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'04',N'Cao Bằng',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'67',N'Đắc Nông',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'66',N'ĐắkLắk',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'11',N'Điện Biên',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'75',N'Đồng Nai',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'87',N'Đồng Tháp',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'64',N'Gia Lai',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'02',N'Hà Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'35',N'Hà Nam',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'42',N'Hà Tĩnh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'30',N'Hải Dương',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'93',N'Hậu Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'17',N'Hòa Bình',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'33',N'Hưng Yên',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'56',N'Khánh Hòa',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'91',N'Kiên Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'62',N'Kon Tum',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'12',N'Lai Châu',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'68',N'Lâm Đồng',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'20',N'Lạng Sơn',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'10',N'Lào Cai',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'80',N'Long An',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'36',N'Nam Định',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'40',N'Nghệ An',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'37',N'Ninh Bình',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'58',N'Ninh Thuận',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'25',N'Phú Thọ',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'54',N'Phú Yên',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'44',N'Quảng Bình',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'49',N'Quảng Nam',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'51',N'Quảng Ngãi',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'22',N'Quảng Ninh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'45',N'Quảng Trị',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'94',N'Sóc Trăng',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'14',N'Sơn La',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'72',N'Tây Ninh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'34',N'Thái Bình',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'19',N'Thái Nguyên',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'38',N'Thanh Hóa',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'46',N'Thừa Thiên Huế',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'82',N'Tiền Giang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'48',N'TP. Đà Nẵng',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'01',N'TP. Hà Nội',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'31',N'TP. Hải Phòng',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'79',N'TP. Hồ Chí Minh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'84',N'Trà Vinh',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'08',N'Tuyên Quang',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'86',N'Vĩnh Long',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'26',N'Vĩnh Phúc',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101

INSERT INTO HT1032 (APK,DivisionID,IDCityID,IDCityName,[Disabled],CreateDate,CreateUserID,LastModifyDate,LastModifyUserID)
SELECT NEWID(),DivisionID,'15',N'Yên Bái',0,getdate(),'ADMIN',getdate(),'ADMIN'
FROM AT1101