	DELETE FROM A00000 WHERE [Module] = N'HRM'
	INSERT [dbo].[A00000] ([LanguageID], [LanguageName], [InsertDate], [UpdateDate], [Version], [Module], [Type]) VALUES (N'en-US', N'English', CAST(0x00009EC10000000C AS DateTime), CAST(0x00009EC10000000C AS DateTime), N'1.1', N'HRM', N'L')
	INSERT [dbo].[A00000] ([LanguageID], [LanguageName], [InsertDate], [UpdateDate], [Version], [Module], [Type]) VALUES (N'en-US', N'English', CAST(0x00009EC10000000C AS DateTime), CAST(0x00009EC10000000C AS DateTime), N'1.1', N'HRM', N'M')
	INSERT [dbo].[A00000] ([LanguageID], [LanguageName], [InsertDate], [UpdateDate], [Version], [Module], [Type]) VALUES (N'ja-JP', N'日本語', CAST(0x00009EC10000000C AS DateTime), CAST(0x00009EC10000000C AS DateTime), N'1.1', N'HRM', N'L')


	DELETE FROM [AT1404STD] WHERE ModuleID = N'ASOFTHRM' 
	INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenType], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate], [ScreenNameE]) VALUES (N'AsoftHRM', N'HF0000', N'Hệ thống quản lý nhân sự - tính lương', 4, N'ASOFTDADMIN', CAST(0x00009EC100000000 AS DateTime), N'ASOFTDADMIN', CAST(0x00009EC100000000 AS DateTime), N'HUMAN RESOURCES MANAGEMENT - PAYROLL SYSTEM')
	INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenType], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate], [ScreenNameE]) VALUES (N'AsoftHRM', N'HF0001', N'Thiết lập các tùy chọn của chương trình', 4, N'ASOFTDADMIN', CAST(0x00009EC100000000 AS DateTime), N'ASOFTDADMIN', CAST(0x00009EC100000000 AS DateTime), N'Set up program options')
	INSERT [dbo].[AT1404STD] ([ModuleID], [ScreenID], [ScreenName], [ScreenType], [CreateUserID], [CreateDate], [LastModifyUserID], [LastModifyDate], [ScreenNameE]) VALUES (N'AsoftHRM', N'HF0002', N'Chọn kỳ kế toán', 4, N'ASOFTDADMIN', CAST(0x00009EC100000001 AS DateTime), N'ASOFTDADMIN', CAST(0x00009EC100000001 AS DateTime), N'Select accounting period')


	DELETE FROM [AT1403STD] WHERE ModuleID = N'ASOFTHRM'
	INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) VALUES (N'HF0000', N'ADMIN', N'AsoftHRM', 1, 1, 1, 1, 1, CAST(0x00009EC100000000 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EC100000000 AS DateTime))
	INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) VALUES (N'HF0001', N'ADMIN', N'AsoftHRM', 1, 1, 1, 1, 1, CAST(0x00009EC100000000 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EC100000000 AS DateTime))
	INSERT [dbo].[AT1403STD] ([ScreenID], [GroupID], [ModuleID], [IsAddNew], [IsUpdate], [IsDelete], [IsView], [IsPrint], [CreateDate], [CreateUserID], [LastModifyUserID], [LastModifyDate]) VALUES (N'HF0002', N'ADMIN', N'AsoftHRM', 1, 1, 1, 1, 1, CAST(0x00009EC100000000 AS DateTime), N'ASOFTADMIN', N'ASOFTADMIN', CAST(0x00009EC100000000 AS DateTime))

	DELETE FROM [A00004STD] WHERE ModuleID = N'ASOFTHRM'
	INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) VALUES (N'ASoftHRM', N'HF0009', N'mnuSys_Setup_TargetType')
	INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) VALUES (N'ASoftHRM', N'HF0012', N'mnuSys_Setup_Income')
	INSERT [dbo].[A00004STD] ([ModuleID], [ScreenID], [CommandMenu]) VALUES (N'ASoftHRM', N'HF0010', N'mnuSys_Setup_Coefficient')

GO
IF NOT EXISTS(SELECT TOP 1 * FROM AT1408STD WHERE DataTypeID = N'DE')
BEGIN
	INSERT AT1408STD(DataTypeID, DataTypeName, DataTypeNameE)
	VALUES(N'DE', N'Phòng ban',N'Department')
END
IF NOT EXISTS(SELECT TOP 1 * FROM AT1410STD WHERE ModuleID = N'ASOFTHRM')
BEGIN
	INSERT AT1410STD(ModuleID,ModuleName,ModuleNameE,GroupID,Status)
	VALUES(N'ASOFTHRM', N'Hệ thống quản lý nhân sự - tính lương',N'Human Resources Management System',NULL,0)
END

DECLARE 
@DivisionID NVARCHAR(50)

DECLARE cur_AllDivision CURSOR FOR
SELECT DivisionID FROM AT1101
		
OPEN cur_AllDivision
FETCH NEXT FROM cur_AllDivision INTO @DivisionID
WHILE @@fetch_status = 0
BEGIN
IF NOT EXISTS(SELECT TOP 1 * FROM AT1408 WHERE DataTypeID = N'DE' and DivisionID = @DivisionID)
BEGIN
		INSERT AT1408(DivisionID, DataTypeID, DataTypeName, DataTypeNameE)  
		SELECT @DivisionID, * FROM AT1408STD WHERE DataTypeID = N'DE' 
	END
	IF NOT EXISTS(SELECT TOP 1 * FROM AT1410 WHERE ModuleID = N'ASOFTHRM' and DivisionID = @DivisionID)
	BEGIN
		INSERT AT1410(DivisionID,ModuleID,ModuleName,ModuleNameE,GroupID,Status)  
		SELECT @DivisionID, * FROM AT1410STD WHERE ModuleID = N'ASOFTHRM' 
	END
	FETCH NEXT FROM cur_AllDivision INTO @DivisionID
END  
CLOSE cur_AllDivision
DEALLOCATE cur_AllDivision
