-- <Summary>
---- 
-- <History>
---- Create on 24/09/2012 by Lê Thị Thu Hiền: Cột TypeID phân biệt giá mua hay giá bán
---- Modified on ... by ...
---- <Example>
UPDATE OT1301 SET TypeID = 0 WHERE TypeID IS NULL