-- <Summary>
---- 
-- <History>
---- Create on 28/01/2013 by Bảo Anh
---- Modified on ... by ...
---- <Example>
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W01') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W01', N'W01 - Tham số 01', N'W01 - Parameter 01', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W02') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W02', N'W02 - Tham số 02', N'W02 - Parameter 02', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W03') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W03', N'W03 - Tham số 03', N'W03 - Parameter 03', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W04') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W04', N'W04 - Tham số 04', N'W04 - Parameter 04', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W05') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W05', N'W05 - Tham số 05', N'W05 - Parameter 05', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W06') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W06', N'W06 - Tham số 06', N'W06 - Parameter 06', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W07') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W07', N'W07 - Tham số 07', N'W07 - Parameter 07', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W08') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W08', N'W08 - Tham số 08', N'W08 - Parameter 08', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W09') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W09', N'W09 - Tham số 09', N'W09 - Parameter 09', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W10') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W10', N'W10 - Tham số 10', N'W10 - Parameter 10', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W11') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W11', N'W11 - Tham số 11', N'W11 - Parameter 11', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W12') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W12', N'W12 - Tham số 12', N'W12 - Parameter 12', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W13') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W13', N'W13 - Tham số 13', N'W13 - Parameter 13', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W14') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W14', N'W14 - Tham số 14', N'W14 - Parameter 14', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005STD WHERE TypeID = N'W15') INSERT INTO WT0005STD(TypeID, SystemName, SystemNameE, IsUsed) VALUES (N'W15', N'W15 - Tham số 15', N'W15 - Parameter 15', 0)
IF NOT EXISTS(SELECT TOP 1 1 FROM WT0005 WHERE TypeID LIKE 'W__') 
INSERT INTO WT0005 (DivisionID, TypeID, SystemName, UserName, IsUsed, UserNameE, SystemNameE)
SELECT AT.DivisionID, STD.TypeID, STD.SystemName, STD.UserName, STD.IsUsed, STD.UserNameE, STD.SystemNameE 
FROM WT0005STD STD, (SELECT DISTINCT DivisionID FROM AT1101) AT 
WHERE STD.TypeID LIKE 'W__'