@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DashBoard";
}
<div id='contentMaster'>
     <div class="container_12">
        <img class="dashboard grid_12" src="~/Content/images/Dashboard_@{@ASOFTEnvironment.Language}.png"/>
    </div>
</div>

<link id="DashBoardRWD"
        href="@Url.Content("~/Content/Styles/RWD/DashBoard/DashBoardRWD.css")" 
        rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        $($(".w3-quarter")[0]).trigger("click");
        setHeightDashBoard();
    })

    function setHeightDashBoard() {
        var widthMenu = $("#mySidebar").height() - $(".asf-headerpage-title").height();
        $(".dashboard").css("height", widthMenu + "px");
    }
</script>