@model ASOFTChartSetting

<div class="asf-block-toolbar">
    <div class="asf-block-title">Biểu đồ thống kê nhân viên</div>
    <ul class="asf-toolbar">
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thay đổi kích thước" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-magnify-add"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Làm mới" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-refresh"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Thiết lập" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-cogs-32"></span></a></li>
        <li><a class="asfbtn-item-32  k-button k-button-icon" id="" style="" title="Xóa" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-delete"></span></a></li>
    </ul>
</div>
<div class="asf-block-content">
    @(Html.Kendo().Chart()
        .Name("chart3")
        .Legend(legend => legend
            .Visible(true)
            .Position(ChartLegendPosition.Bottom)
        )
        .ChartArea(chartArea => chartArea
            .Background("transparent")
            .Height(300)
        )
        .Series(series => {
                series.Pie(new dynamic[] {
                    new {category = "SAL",value = 30},
                    new {category = "SOF",value = 20},
                    new {category = "CON",value = 10},
                    new {category = "CAR",value = 25},
                    new {category = "GEN",value = 5}            
                })
                .Labels(labels => labels
                    .Visible(true)
                    .Template("#= category # : #= value #")
                );
            })
        .HtmlAttributes(new { style = "width: 100%;" })
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= category # - #= value #")
        )
    )
</div>