@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     09/10/2014      Hồ Hoàng Tú            Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.CI 
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities
@model CIF1010ViewModel
@{
    var gridsetting = new ASOFTGridSetting 
    {
        NameGrid = "CIF1010Grid",
        Scrollable = true,
        ControllerName = "CIF1010",
        ActionName = "GridData",
        NameEventPost = "sendDataFilter",
        HtmlAttribute = new
        {
            style = "height:550px;",
            @class = "asf-grid"
        } ,  
         ListGridColumn= new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
               IDColumn = "RowNum",
              TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 30,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "DepartmentID",
                TitleColumn = Html.ASOFTRaw(model => model.DepartmentID),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            //new ASOFTGridColumnSetting
            //{
            //    IDColumn = "BranchID",
            //    TitleColumn = Html.ASOFTRaw(model => model.BranchID),
            //    Width = 100,
            //    VisibleColumn = true,
            //    HtmlAttrCoulmns = (new {style = "text-align:center"})
            //},
           new ASOFTGridColumnSetting
            {
                IDColumn = "TeamID",
                TitleColumn = Html.ASOFTRaw(model => model.TeamID),
                 ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", Url.Content("~/CI/CIF1010/CIF1012/?TeamID=#=TeamID#&DepartmentID=#=DepartmentID#"),CIP10101.CON_TEAMID),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "TeamName",
                TitleColumn = Html.ASOFTRaw(model => model.TeamName),
                Width = 200,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Notes",
                TitleColumn = Html.ASOFTRaw(model => model.Notes),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = "Notes01",
                TitleColumn = Html.ASOFTRaw(model => model.Notes01),
                Width = 100,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:center"})
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.Disabled),
                Width =100,
                VisibleColumn = true,
                ClientTemplate  = "<input type='checkbox' #= Disabled == 1? 'checked' : '' # onclick='return false;' disabled=disabled />", 
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            }           
        }          
      };            
   }
@(Html.ASOFTCreateGrid<ASOFT.ERP.CI.Entities.CIP10101>(gridsetting,false))      
            
            
       
        
        
        
        
    
    
    
    
    
   
    
    


