


@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.MT.Entities
@using ASOFT.ERP.ViewModel.MT
@model ASOFT.ERP.ViewModel.MT.MTF2010ViewModel
@{
    var gridsetting = new ASOFTGridSetting
                          {
                              NameGrid = "MTF2010GridMaster",
                              keyColumnID = "APK",
                              NameEventPost = "MTF2010Param.sendFilter",
                              Scrollable = true,
                              ActionName = "GridMaster",
                              ControllerName = "MTF2010",
                              HtmlAttribute = new {@class = "asf-grid"},
                              IsShowCheck = true, ListGridColumn = new List<ASOFTGridColumnSetting>
                                                                       {
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = "RowNum",
                                                                                   TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                                                                                   Width = 70,
                                                                                   VisibleColumn = true,
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_DIVISIONID,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.DivisionID),
                                                                                   VisibleColumn = true,
                                                                                   Width = 70,
                                                                                   HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                                               },
                                                                              new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_EDUVOUCHERNO,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.EduVoucherNo),
                                                                                   VisibleColumn = true,
                                                                                   Width = 180,
                                                                                   ClientTemplate = string.Format("<a href='{0}'>#:{1}#</a>", Url.Content("~/MT/MTF2010/MTF2012/?apk=#=APK#"), MTP2010.COL_EDUVOUCHERNO),
                                                                               },  
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_STUDENTID,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.StudentID),
                                                                                   VisibleColumn = true,
                                                                                   Width = 100,
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_STUDENTNAME,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.StudentName),
                                                                                   VisibleColumn = true,
                                                                                   Width = 230
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_COURSENAME,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.CourseName),
                                                                                   VisibleColumn = true,
                                                                                   Width = 170,
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_CLASSNAME,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.ClassName),
                                                                                   VisibleColumn = true,
                                                                                   Width = 150,
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_LEVELNAME,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.LevelName),
                                                                                   VisibleColumn = true,
                                                                                   Width = 150
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_SCHOOLTIMENAME,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.SchoolTimeName),
                                                                                   VisibleColumn = true,
                                                                                   Width = 150
                                                                               },
                                                                           new ASOFTGridColumnSetting
                                                                               {
                                                                                   IDColumn = MTP2010.COL_ISFREE,
                                                                                   TitleColumn = Html.ASOFTRaw(m => m.IsFree),
                                                                                   VisibleColumn = true,
                                                                                   ClientTemplate="<input type='checkbox' #= IsFree ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
                                                                                   HtmlAttrCoulmns = new {@class = "asf-cols-align-center"},
                                                                                   Width = 100
                                                                               }
                                                                       }
                          };
}

@(Html.ASOFTCreateGrid<MTF2010GridViewModel>(gridsetting))