

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0
}

.w3-sidebar {
    height: 80%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    margin-top: 10px
}

.w3-quarter {
    width: 10.99999%
}

.w3-row-padding>.w3-quarter {
    padding: 0 5px;
}

.w3-row-padding {
    padding: 43px 20px 5px 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 2px ridge #DDD;
    background: #fff;
}

.w3-container{
    padding:0 16px
}

.w3-padding-16{
    padding-top: 5px !important; padding-bottom: 5px !important
}

.w3-left{
    float: left!important
}

.w3-right{
    float: right!important
}

.asf-panelBar .k-panelbar-expand {
    float: right;
    left: auto;
}

.asf-panelBar .k-panelbar-collapse {
    float: right;
    left: auto;
}

.k-panelbar>.k-item>.k-link, .k-panel>.k-item>.k-link {
    height: 30px !important;
    border: none;
}

.asf-panelBar {
    font-size: 12px !important;
}

.w3-sidebar {
      border: 2px solid #94c0d2 !important; 
      background-color: #daecf4 !important;
      border-radius: 3px !important;
      width:50px; 
      z-index: 1;
      display: block; 
      left: 2px; 
      top: 120px;
}

.asf-panelBar .k-state-selected {
     color: #FFF !important;
      background-color: #006EB4;
}

/*.asf-ItemCI {
    color:#fff!important;background-color:#f44336!important
}

.asf-ItemOO {
    color:#fff!important;background-color:#ff9800!important
}

.asf-ASOFT-CRM {
    color:#fff!important;
    background-color:#009688!important;
}

.asf-ItemPOS {
    color: #fff !important;
    background-color: #009688 !important;
}

.asf-ASOFT-SO {
    color:#fff!important;background-color:#2196F3!important
}*/

.asf-color-module {
    color: #333 !important;
    background-color: #8fd2f4 !important;
}

.asf-color-module-select {
    color: #fff !important;
    background-color: #006EB4 !important;
}


.asf-color-module:hover {
    color: #fff !important;
    background-color: #006EB4 !important;
}

.level1Panel .k-item .k-header {
    height: 40px !important;
}

.level1Panel .k-state-selected {
     color: #FFF !important;
     background-color: #ff9800 !important;
}

.asf-checked {
    background-image: url(/Content/Images/checked.png);
    background-repeat: no-repeat;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -32px;
}

.asf-link {
    background-image: url(/Content/Images/link.png);
    background-repeat: no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -32px;
}


.asf-folder {
    background-image: url(/Content/Images/folder.png);
    background-repeat: no-repeat;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: -32px;
}


.asf-Click {
    border: 5px solid #94c0d2;
}

.asf-triangle-bottom-right {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid #FFF;
    float: right;
    margin-top: -21px;
    margin-right: 1px;
}

.asf-triangle-bottom-right {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid #FFF;
    float: right;
    margin-top: -21px;
    margin-right: 1px;
}

.asf-triangle-bottom-left {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid #FFF;
    float: left;
    margin-top: -21px;
    margin-left: 1px;
}

.asf-triangle-top-left {
    width: 0px;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FFF;
    float: left;
    margin-top: 1px;
    margin-left: 1px;
}

.div-image-menu {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: -5px;
     margin-bottom: 5px;
     width: 30px;
     cursor: pointer
}

.k-menu .k-item > .k-link {
    padding: .5em 0 1em 1.75em;
}

.asf-triangle-top-right {
    width: 0px;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #FFF;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
}

.asf-menu-prev-new
{
    height: 25px;
    width: 20px;
    display:none;
    cursor:pointer;
    float: left;
}
.asf-menu-prev-new img
{
    height: 28px;    
}

.asf-menu-next-new
{
    display: none;
    height: 25px;
    width: 20px;
    cursor:pointer;
    float: right;
}

.asf-menu-next-new img
{
    height: 28px;    
}

.w3-text  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 125px;
    font-size: 11px;
}

.asf-panelBar-small {
    font-size: 12px !important;
    height: 35px !important;
    background-color: #fff; 
}

.asf-panelBar-small-title {
    font-size: 15px !important;
    height: 35px !important;
    overflow: hidden;
    background-color: #fff; 
    border-bottom:  2px solid #94c0d2 !important;
}

.asf-panelBar-small a{
     color: #333 !important;
}

.asf-panelBar-small-title span {
    color: #333 !important;
    font-weight: bold;
}

li .k-state-selected a {
    color: #fff !important;
}

.asf-panelBar-small .k-link {
    padding: .58em 1.8em .38em 2.9em !important;
}

.asf-panelBar-small-title .k-link {
    padding: .58em 1.8em .38em 2.3em !important;
}

.asf-panel-filter:first-child {
   padding-top: 0px !important;
}

.image-icon-menu {
    float: right;
    width: 25px;
    margin-top: -10px;
    cursor: pointer;
}

#imageIconMenuMobile {
    margin: auto;
    cursor: pointer;
}

@media (max-width: 359px) {
    .w3-quarter {
        width: 57%;
    }
}

@media (min-width: 360px) and (max-width: 479px) {
    .w3-quarter {
        width: 44.99999%;
    }
}

@media (max-width: 768px) {
     #contentMaster {
        padding: 115px 10px 0px 10px !important;
    }

    .w3-sidebar {
        margin: auto;
        width: 90% !important;
        position: relative !important;
    }

    .level1Panel {
        width: 100% !important;
        position: inherit !important;
        bottom: 0px !important;
    }

    .k-panelbar {
        height: auto !important;
        overflow-y: hidden !important;
    }
}

@media (min-width: 480px) and (max-width: 585px) {
    .w3-quarter {
        width: 34.99999%;
    }
     #contentMaster {
        padding-left: 10px !important;
    }
}

@media (min-width: 586px) and (max-width: 768px) {
     .w3-quarter {
        width: 28.99999%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .w3-quarter {
        width: 20.99999%;
    }
     .asf-common-search {
        display: none !important;
    }

    .asf-headerpage-title {
        height: 35px !important;
    }
}

@media (min-width: 1025px) and (max-width: 1320px) {
    .w3-quarter {
        width: 13.99999%;
    }
      .asf-common-search {
        display: none !important;
    }

      .asf-headerpage-title {
        height: 35px !important;
    }
}
