.k-file.k-file-success.k-file-not-complete
{
	color: #FA5858 !important;
	border-color: #FA5858 !important;
}

.k-file.k-file-success.k-file-not-complete .k-progress
{
	background-color: #ffcbcb !important;
}

#progressBar
{
	display: block;
	height: 10px !important;
	width: 99.5%;
	margin: 15px 0 5px 1px;
	background-color: none;
}

#progressBar .k-state-selected ::after
{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	overflow: hidden;
	background-image: /* CHROME - SAFARI */
		-webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), 
		-webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(252, 250, 250, 0.25)), 
		-webkit-linear-gradient(left, #8FD2F4, #8FD2F4) !important;
	background-image: /* DEFAULT */
		-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), 
		-linear-gradient(top, rgba(255, 255, 255, .25), rgba(252, 250, 250, 0.25)), 
		-linear-gradient(left, #8FD2F4, #8FD2F4) !important;
	background-image: /* IE */
		-ms-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), 
		-ms-linear-gradient(top, rgba(255, 255, 255, .25), rgba(252, 250, 250, 0.25)), 
		-ms-linear-gradient(left, #8FD2F4, #8FD2F4) !important;
	background-image: /* FIREFOX */
		-moz-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), 
		-moz-linear-gradient(top, rgba(255, 255, 255, .25), rgba(252, 250, 250, 0.25)), 
		-moz-linear-gradient(left, #8FD2F4, #8FD2F4) !important;
	background-image: /* OPERA */
		-o-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), 
		-o-linear-gradient(top, rgba(255, 255, 255, .25), rgba(252, 250, 250, 0.25)), 
		-o-linear-gradient(left, #8FD2F4, #8FD2F4) !important;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100% !important;
	border-color: transparent !important;
	border-radius: 0px !important;
}

#progressBar .k-progress-status
{
	position: absolute;
	right: -7px;
	top: -22px;
}

