IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[AV1598]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[AV1598]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO


-- <Summary>
---- View để làm report báo cáo tăng giảm tài sản cố định
---- Store in AP1598
-- <Param>
---- 
-- <Return>
---- 
-- <Reference>
---- 
-- <History>
---- Create on 03/09/2013 by Lê Thị Thu Hiền
---- 
---- Modified on 03/09/2013 by 
-- <Example>
---- 
		
CREATE VIEW AV1598		
AS		
SELECT	CONVERT(nvarchar(50),'') AS DivisionID,	
	CONVERT(nvarchar(50),'') AS LineID,	
	CONVERT(nvarchar(250),'') AS LineDescription,	
	CONVERT(nvarchar(250),'') AS LineDescriptionE,	
	CONVERT(TINYINT,0) AS PrintStatus,	
	CONVERT(TINYINT,0) AS Level1,	
	CONVERT(INT,0) AS Accumulator,	
	CONVERT(nvarchar(250),'') AS Notes,	
	CONVERT(nvarchar(50),'') AS Sign,
	CONVERT(DECIMAL(28,8),0) AS TotalAmount,	
	CONVERT(DECIMAL(28,8),0) AS Amount1,	
	CONVERT(DECIMAL(28,8),0) AS Amount2,	
	CONVERT(DECIMAL(28,8),0) AS Amount3,	
	CONVERT(DECIMAL(28,8),0) AS Amount4,	
	CONVERT(DECIMAL(28,8),0) AS Amount5,	
	CONVERT(DECIMAL(28,8),0) AS Amount6,	
	CONVERT(DECIMAL(28,8),0) AS Amount7,	
	CONVERT(DECIMAL(28,8),0) AS Amount8,	
	CONVERT(DECIMAL(28,8),0) AS Amount9,	
	CONVERT(DECIMAL(28,8),0) AS Amount10,	
	CONVERT(DECIMAL(28,8),0) AS Amount11,	
	CONVERT(DECIMAL(28,8),0) AS Amount12,	
	CONVERT(DECIMAL(28,8),0) AS Amount13,	
	CONVERT(DECIMAL(28,8),0) AS Amount14,	
	CONVERT(DECIMAL(28,8),0) AS Amount15,	
	CONVERT(DECIMAL(28,8),0) AS Amount16,	
	CONVERT(DECIMAL(28,8),0) AS Amount17,	
	CONVERT(DECIMAL(28,8),0) AS Amount18,	
	CONVERT(DECIMAL(28,8),0) AS Amount19,	
	CONVERT(DECIMAL(28,8),0) AS Amount20,	
	CONVERT(DECIMAL(28,8),0) AS Amount21,	
	CONVERT(DECIMAL(28,8),0) AS Amount22,	
	CONVERT(DECIMAL(28,8),0) AS Amount23,	
	CONVERT(DECIMAL(28,8),0) AS Amount24,	
	CONVERT(DECIMAL(28,8),0) AS Amount25,	
	CONVERT(DECIMAL(28,8),0) AS Amount26,	
	CONVERT(DECIMAL(28,8),0) AS Amount27,	
	CONVERT(DECIMAL(28,8),0) AS Amount28,	
	CONVERT(DECIMAL(28,8),0) AS Amount29,	
	CONVERT(DECIMAL(28,8),0) AS Amount30,	
	CONVERT(DECIMAL(28,8),0) AS Amount31,	
	CONVERT(DECIMAL(28,8),0) AS Amount32,	
	CONVERT(DECIMAL(28,8),0) AS Amount33,	
	CONVERT(DECIMAL(28,8),0) AS Amount34,	
	CONVERT(DECIMAL(28,8),0) AS Amount35,	
	CONVERT(DECIMAL(28,8),0) AS Amount36,	
	CONVERT(DECIMAL(28,8),0) AS Amount37,	
	CONVERT(DECIMAL(28,8),0) AS Amount38,	
	CONVERT(DECIMAL(28,8),0) AS Amount39,	
	CONVERT(DECIMAL(28,8),0) AS Amount40,	
	CONVERT(DECIMAL(28,8),0) AS Amount41,	
	CONVERT(DECIMAL(28,8),0) AS Amount42,	
	CONVERT(DECIMAL(28,8),0) AS Amount43,	
	CONVERT(DECIMAL(28,8),0) AS Amount44,	
	CONVERT(DECIMAL(28,8),0) AS Amount45,	
	CONVERT(DECIMAL(28,8),0) AS Amount46,	
	CONVERT(DECIMAL(28,8),0) AS Amount47,	
	CONVERT(DECIMAL(28,8),0) AS Amount48,	
	CONVERT(DECIMAL(28,8),0) AS Amount49,	
	CONVERT(DECIMAL(28,8),0) AS Amount50,	
	CONVERT(DECIMAL(28,8),0) AS Amount51,	
	CONVERT(DECIMAL(28,8),0) AS Amount52,	
	CONVERT(DECIMAL(28,8),0) AS Amount53,	
	CONVERT(DECIMAL(28,8),0) AS Amount54,	
	CONVERT(DECIMAL(28,8),0) AS Amount55,	
	CONVERT(DECIMAL(28,8),0) AS Amount56,	
	CONVERT(DECIMAL(28,8),0) AS Amount57,	
	CONVERT(DECIMAL(28,8),0) AS Amount58,	
	CONVERT(DECIMAL(28,8),0) AS Amount59,	
	CONVERT(DECIMAL(28,8),0) AS Amount60,	
	CONVERT(DECIMAL(28,8),0) AS Amount61,	
	CONVERT(DECIMAL(28,8),0) AS Amount62,	
	CONVERT(DECIMAL(28,8),0) AS Amount63,	
	CONVERT(DECIMAL(28,8),0) AS Amount64,	
	CONVERT(DECIMAL(28,8),0) AS Amount65,	
	CONVERT(DECIMAL(28,8),0) AS Amount66,	
	CONVERT(DECIMAL(28,8),0) AS Amount67,	
	CONVERT(DECIMAL(28,8),0) AS Amount68,	
	CONVERT(DECIMAL(28,8),0) AS Amount69,	
	CONVERT(DECIMAL(28,8),0) AS Amount70,	
	CONVERT(DECIMAL(28,8),0) AS Amount71,	
	CONVERT(DECIMAL(28,8),0) AS Amount72,	
	CONVERT(DECIMAL(28,8),0) AS Amount73,	
	CONVERT(DECIMAL(28,8),0) AS Amount74,	
	CONVERT(DECIMAL(28,8),0) AS Amount75,	
	CONVERT(DECIMAL(28,8),0) AS Amount76,	
	CONVERT(DECIMAL(28,8),0) AS Amount77,	
	CONVERT(DECIMAL(28,8),0) AS Amount78,	
	CONVERT(DECIMAL(28,8),0) AS Amount79,	
	CONVERT(DECIMAL(28,8),0) AS Amount80,	
	CONVERT(DECIMAL(28,8),0) AS Amount81,	
	CONVERT(DECIMAL(28,8),0) AS Amount82,	
	CONVERT(DECIMAL(28,8),0) AS Amount83,	
	CONVERT(DECIMAL(28,8),0) AS Amount84,	
	CONVERT(DECIMAL(28,8),0) AS Amount85,	
	CONVERT(DECIMAL(28,8),0) AS Amount86,	
	CONVERT(DECIMAL(28,8),0) AS Amount87,	
	CONVERT(DECIMAL(28,8),0) AS Amount88,	
	CONVERT(DECIMAL(28,8),0) AS Amount89,	
	CONVERT(DECIMAL(28,8),0) AS Amount90,	
	CONVERT(DECIMAL(28,8),0) AS Amount91,	
	CONVERT(DECIMAL(28,8),0) AS Amount92,	
	CONVERT(DECIMAL(28,8),0) AS Amount93,	
	CONVERT(DECIMAL(28,8),0) AS Amount94,	
	CONVERT(DECIMAL(28,8),0) AS Amount95,	
	CONVERT(DECIMAL(28,8),0) AS Amount96,
	CONVERT(DECIMAL(28,8),0) AS Amount97,
	CONVERT(DECIMAL(28,8),0) AS Amount98,
	CONVERT(DECIMAL(28,8),0) AS Amount99
		

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

