IF EXISTS (SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[HV5555]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[HV5555]
GO
Create View HV5555 
AS 
Select (5000000.00000000/20)*0.00000000*0.5 As ResultOutput