IF EXISTS(SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OV0022]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[OV0022]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

CREATE VIEW OV0022
AS 
SELECT
OT3102.DivisionID,
AT1302.Barcode,
OT3102.ROrderID, 
OT3102.TransactionID, 
OT3101.VoucherTypeID, 
OT3101.OrderDate, OT3101.VoucherNo,  OT3101.ContractNo,  OT3101.ContractDate, 
OT3101.InventoryTypeID, AT1301.InventoryTypeName, 
AT1302.IsStocked, OT3102.Description, 
OT3102.InventoryID,  AT1302.InventoryName AS AInventoryName, 
CASE WHEN ISNULL(OT3102.InventoryCommonName, '') = '' THEN AT1302.InventoryName ELSE OT3102.InventoryCommonName END AS InventoryName, 
ISNULL(OT3102.UnitID, AT1302.UnitID) AS UnitID, 
ISNULL(AT130401.UnitName, AT130402.UnitName) AS UnitName, 
OT3102.OrderQuantity, OT3102.ConvertedQuantity, 
OT3102.RequestPrice, OT3102.PriceList, OT3102.ConvertedSaleprice, 
OT3102.OriginalAmount, OT3102.ConvertedAmount,  
OT3102.DiscountPercent, OT3102.DiscountOriginalAmount, OT3102.DiscountConvertedAmount,
OT3102.VATPercent, OT3102.VATConvertedAmount, OT3102.VATOriginalAmount, 
OT3102.Ana01ID, OT3102.Ana02ID, OT3102.Ana03ID, OT3102.Ana04ID, OT3102.Ana05ID, 
OT3102.Ana06ID, OT3102.Ana07ID, OT3102.Ana08ID, OT3102.Ana09ID, OT3102.Ana10ID, 
OT3102.Orders, OT3102.Notes, OT3102.Notes01, OT3102.Notes02, OT3102.Finish, 
OT3102.RefTransactionID,
OT3102.Parameter01, OT3102.Parameter02, OT3102.Parameter03, OT3102.Parameter04, OT3102.Parameter05

FROM OT3102 
INNER JOIN OT3101 ON OT3101.ROrderID = OT3102.ROrderID AND OT3101.DivisionID = OT3102.DivisionID
LEFT JOIN AT1302 ON AT1302.InventoryID = OT3102.InventoryID AND AT1302.DivisionID = OT3102.DivisionID
LEFT JOIN AT1301 ON AT1301.InventoryTypeID = OT3101.InventoryTypeID AND AT1301.DivisionID = OT3101.DivisionID
LEFT JOIN AT1304 AT130401 ON AT130401.UnitID = OT3102.UnitID AND AT130401.DivisionID = OT3102.DivisionID
LEFT JOIN AT1304 AT130402 ON AT130402.UnitID = AT1302.UnitID AND AT130402.DivisionID = AT1302.DivisionID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

