IF EXISTS(SELECT TOP 1 1 FROM DBO.SYSOBJECTS WHERE ID = OBJECT_ID(N'[DBO].[OV0021]') AND OBJECTPROPERTY(ID, N'IsView') = 1)
DROP VIEW [DBO].[OV0021]
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO

CREATE VIEW OV0021
AS
SELECT 
OT3101.ROrderID,
OT3101.VoucherTypeID,
OT3101.VoucherNo,
OT3101.DivisionID,
OT3101.TranMonth, OT3101.TranYear, OT3101.OrderDate,
OT3101.ContractNo, OT3101.ContractDate,
OT3101.InventoryTypeID, AT1301.InventoryTypeName,
OT3101.CurrencyID, AT1004.CurrencyName, OT3101.ExchangeRate,
OT3101.PaymentID, 
OT3101.ObjectID,
OT3101.PriceListID,
ISNULL(OT3101.ObjectName, AT1202.ObjectName) AS ObjectName,
ISNULL(OT3101.VatNo, AT1202.VatNo) AS VatNo,
ISNULL(OT3101.Address, AT1202.Address) AS Address,
OT3101.ReceivedAddress,
OT3101.ClassifyID, OT1001.ClassifyName,
OT3101.EmployeeID, AT1103.FullName,
OT3101.Transport, AT1202.IsUpdateName, AT1202.IsCustomer, AT1202.IsSupplier,
ConvertedAmount = (SELECT Sum(ISNULL(OT3102.ConvertedAmount, 0)- ISNULL(OT3102.DiscountConvertedAmount, 0) + ISNULL(OT3102.VATConvertedAmount, 0)) FROM OT3102 WHERE OT3102.ROrderID = OT3101.ROrderID AND OT3102.DivisionID = OT3101.DivisionID),
OriginalAmount = (SELECT Sum(ISNULL(OT3102.OriginalAmount, 0)- ISNULL(OT3102.DiscountOriginalAmount, 0) + ISNULL(OT3102.VAToriginalAmount, 0)) FROM OT3102 WHERE OT3102.ROrderID = OT3101.ROrderID AND OT3102.DivisionID = OT3101.DivisionID),
OT3101.Description, OT3101.Disabled, OT3101.OrderType, OT3101.OrderStatus,
OV1001.Description AS OrderStatusName,
OV1001.EDescription AS EOrderStatusName,
OV1002.Description AS OrderTypeName,
OT3101.Ana01ID, OT3101.Ana02ID, OT3101.Ana03ID, OT3101.Ana04ID, OT3101.Ana05ID,
OT1002_1.AnaName AS Ana01Name, OT1002_2.AnaName AS Ana02Name, OT1002_3.AnaName AS Ana03Name, OT1002_4.AnaName AS Ana04Name, OT1002_5.AnaName AS Ana05Name,
AT1103.FullName AS SalesManName,
OT3101.SOrderID, OT3101.ShipDate, OT3101.DueDate,
OT3101.CreateUserID, OT3101.CreateDate,
OT3101.LastModifyUserID, OT3101.LastModifyDate,
OT1102.Description AS IsConfirm, OT1102.EDescription AS EIsConfirm, OT3101.DescriptionConfirm

FROM OT3101 
LEFT JOIN AT1202 ON AT1202.ObjectID = OT3101.ObjectID AND AT1202.DivisionID = OT3101.DivisionID
LEFT JOIN AT1301 ON AT1301.InventoryTypeID = OT3101.InventoryTypeID AND AT1301.DivisionID = OT3101.DivisionID
LEFT JOIN AT1004 ON AT1004.CurrencyID = OT3101.CurrencyID AND AT1004.DivisionID = OT3101.DivisionID
LEFT JOIN AT1103 ON AT1103.EmployeeID = OT3101.EmployeeID AND AT1103.DivisionID = OT3101.DivisionID
LEFT JOIN OT1002 OT1002_1 ON OT1002_1.AnaID = OT3101.Ana01ID AND OT1002_1.AnaTypeID = 'P01' AND OT1002_1.DivisionID = OT3101.DivisionID
LEFT JOIN OT1002 OT1002_2 ON OT1002_2.AnaID = OT3101.Ana02ID AND OT1002_2.AnaTypeID = 'P02' AND OT1002_2.DivisionID = OT3101.DivisionID
LEFT JOIN OT1002 OT1002_3 ON OT1002_3.AnaID = OT3101.Ana03ID AND OT1002_3.AnaTypeID = 'P03' AND OT1002_3.DivisionID = OT3101.DivisionID
LEFT JOIN OT1002 OT1002_4 ON OT1002_4.AnaID = OT3101.Ana04ID AND OT1002_4.AnaTypeID = 'P04' AND OT1002_4.DivisionID = OT3101.DivisionID
LEFT JOIN OT1002 OT1002_5 ON OT1002_5.AnaID = OT3101.Ana05ID AND OT1002_5.AnaTypeID = 'P05' AND OT1002_5.DivisionID = OT3101.DivisionID
LEFT JOIN OT1001 ON OT1001.ClassifyID = OT3101.ClassifyID AND OT1001.TypeID = 'RO' AND OT1001.DivisionID = OT3101.DivisionID
LEFT JOIN OV1001 ON OV1001.OrderStatus = OT3101.OrderStatus AND OV1001.TypeID = CASE WHEN OT3101.OrderType <> 1 THEN 'RO' ELSE 'MO' END AND OV1001.DivisionID = OT3101.DivisionID
LEFT JOIN OV1002 ON OV1002.OrderType = OT3101.OrderType AND OV1002.TypeID = 'RO' AND OV1002.DivisionID = OT3101.DivisionID
LEFT JOIN OT1102 ON OT1102.Code = OT3101.IsConfirm AND OT1102.TypeID = 'SO' AND OT1102.DivisionID = OT3101.DivisionID

GO
SET QUOTED_IDENTIFIER OFF
GO
SET ANSI_NULLS ON
GO

