@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.S
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities
@using ASOFT.ERP.S.Entities

@model SF1010ViewModel

@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "SF1010Grid", 
        Scrollable = true, 
        ControllerName = "SF1010",
        ActionName = "GetGridData",      
        NameEventPost = "sendDataFilterSearch",
        HtmlAttribute = new
        {
            style = "height:550px;", 
            @class = "asf-grid"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFT.ERP.A00.Core.ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 20,
                VisibleColumn = true,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "DivisionID",
                TitleColumn = Html.ASOFTRaw(model => model.DivisionIDFilter),
                Width = 50,
                VisibleColumn = true,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "GroupID",
                TitleColumn = Html.ASOFTRaw(model => model.GroupIDFilter),
                  ClientTemplate = "<a href='" + @Url.Content("~/S/SF1010/SF1012/?GroupID=#=GroupID#") + "'>#:GroupID#</a>",
                Width = 100,
                VisibleColumn = true,
                //HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "GroupName",
                TitleColumn = Html.ASOFTRaw(model => model.GroupNameFilter),
                Width = 150,
                VisibleColumn = true,
                //HtmlAttrCoulmns = new { @class = "asf-cols-align-center" }
            },
             new ASOFTGridColumnSetting
            {
                IDColumn = "Disabled",
                TitleColumn = Html.ASOFTRaw(model => model.DisabledFilter),
                Width = 40,
                VisibleColumn = true,
                HtmlAttrCoulmns = new { @class = "asf-cols-align-center" },
                ClientTemplate  = "<input type='checkbox' #= Disabled ? 'checked' : '' # onclick='return false;' disabled=disabled />", // Readonly checkbox
            },
            // new ASOFTGridColumnSetting
            //{
            //    //IDColumn = "Disabled",
            //    //TitleColumn = Html.ASOFTRaw(model => model.DisabledFilter),
            //    Width = 20,
            //    VisibleColumn = true,
            //    HtmlAttrCoulmns = new { @class = "asf-cols-align-center" },
            //    ClientTemplate = string.Format("<a href='\\#' title='{1}' onclick='return {0}' class='asf-i-add-user-group-24 asf-icon-24'><span>    </span></a>",
            //                                                            "btn_AddUserToGroup()",ASOFTLanguage.FindWordA00("A00.btnAddUserToGroup")), 
            //},
            // new ASOFTGridColumnSetting
            //{
            //    // IDColumn = "Disabled",
            //    //TitleColumn = Html.ASOFTRaw(model => model.DisabledFilter),
            //    Width = 20,
            //    VisibleColumn = true,
            //    HtmlAttrCoulmns = new { @class = "asf-cols-align-center" },
            //    ClientTemplate = string.Format("<a href='\\#' title='{1}' onclick='return {0}' class='asf-i-add-user-group-24 asf-icon-24'><span>    </span></a>",
            //                                                            "btn_AddDivisionToGroup()",ASOFTLanguage.FindWordA00("A00.btnAddUserToGroup")), 
            //},
        }
    };
}

@(Html.ASOFTCreateGrid<SP10101>(gridsetting,false))