@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.A00.PeriodFilterViewModel
@{
    string css = string.Empty;
    if (Model.NumberOfColumns == 2)
    {
        css = "grid_6 alpha line_right";
    }
    else if(Model.NumberOfColumns == 3)
    {
        css = "grid_4 alpha line_right";
    }
}


<tr>
    <td>@Html.ASOFTLabel(model => model.FromDateFilter)</td>
    <td class="container_period_control">
        @(Html.ASOFTDateEdit(model => model.FromDateFilter))
    </td>
    <td class="container_period_space"></td>
    <td class="container_period_label">@Html.ASOFTLabel(model => model.ToDateFilter)</td>
    <td class="container_period_control">
        @(Html.ASOFTDateEdit(model => model.ToDateFilter))
    </td>
</tr>
        

