<div style="width:auto">
    <div class="asf-menu-sub-child-left">
         <b>Test Tuan</b>
        <ul title="TIỀN MẶT" id="ItemKeToan_Tien_TienMat">
            <li id="ItemKeToan_Tien_TienMat_PhieuThu" onclick="CreateLinkMenu(this)"><a href=@Url.Content("~/Test/")>Kiểm Tra</a></li>
        </ul>
    </div>
</div>