@using ASOFT.ERP.A00.Core;
<div style="width:200px; border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" >
        <ul>
            <li style="cursor:pointer" id="ItemQLHV_NghiepVu_QLHocVien" onclick="CreateLinkMenu(this)"><a id="/MT/MTF2000/">Quản lí học viên</a></li>
            <li style="cursor:pointer" id="ItemQLHV_NghiepVu_QTHocTap" onclick="CreateLinkMenu(this)"><a id="/MT/MTF2010/">Quá trình học tập</a></li>
            <li style="cursor:pointer" id="ItemQLHV_NghiepVu_LyDoThoiHoc" onclick="CreateLinkMenu(this)"><a id="/MT/MTF2020/">Thôi học</a></li>
        </ul>
</div>