@using ASOFT.ERP.A00.Core;
<div style="width:250px;border-right: 0px solid #B2B2B2;" class="asf-menu-sub-child-left" >
        <ul>
            <li style="cursor:pointer" id="ItemKeToan_DanhMuc_HD" onclick="CreateLinkMenu(this)"><a id="/RD/AF0093/">Danh mục hóa đơn bán hàng</a></li>
        </ul>
</div>