<div style="width:auto">
    <div class="asf-menu-sub-child-left">
         <b>TIỀN MẶT</b>
        <ul title="TIỀN MẶT" id="ItemKeToan_Tien_TienMat">
            <li style="cursor:pointer" id="ItemKeToan_Tien_TienMat_PhieuThu" onclick="CreateLinkMenu(this)"><a id="/RD/TestMaster/">Lập phiếu thu</a></li>
            <li style="cursor:pointer" id="ItemKeToan_Tien_TienMat_PhieuChi" onclick="CreateLinkMenu(this)"><a id="/RD/RDTest/">Lập phiếu chi</a></li>
            <li style="cursor:pointer"><a href="#">Lập phiếu tạm thu</a></li>
            <li style="cursor:pointer"><a href="#">Lập phiếu tạm chi</a></li>
        </ul>
    </div>
    <div class="asf-menu-sub-child-right">
        <b>TIỀN GỬI NGÂN HÀNG</b>
         <ul title="TIỀN GỬI NGÂN HÀNG">
            <li style="cursor:pointer"><a href="#">Thu qua ngân hàng</a></li>
            <li style="cursor:pointer"><a href="#">Chi qua ngân hàng</a></li>
            <li style="cursor:pointer"><a href="#">Chuyển khoản</a></li>
        </ul>
    </div>
</div>